[2020-07-23 21:58] #2043 closed

[2020-07-23 22:16] rbharath commented on #1942
+1 to that idea! That would making loading/saving large datasets much nicer

[2020-07-23 22:40] rbharath commented on #2013
I think what's going on is that this is the same bug as https://github.com/deepchem/deepchem/issues/1943. If you save and reload a model within the same script, I think there's a namespace collision that messes up restoration.

We need to fix this issue though. I like your workaround! We should figure out how to get a more general reloading fix in place...

[2020-07-24 00:49] rbharath opened #2047 "dc.trans.ANITransformer is broken"
The `dc.trans.ANITransformer` class is currently broken. This wasn't caught because we don't have any unit tests for `ANITransformer`. The class is currently written in TF1.x style and performs operations that don't obviously convert to TF2.x (there are some transformation with tf Graphs that I don't quite get).

This will be a bit of haul, but I think it's worth fixing `ANITransformer` and adding

[2020-07-24 00:50] rbharath commented on #2014
@shak360 You're absolutely welcome to take this on :). I think the biggest thing we'd want is to add serialization and de-serialization tests as @peastman suggests above to make sure our layers can be saved and restored properly.

[2020-07-24 06:39] chstem commented on #2013
This is the same bug, yes. But this **not** about saving and reloading within the same script! Here I just did this for simple demonstration. But actually I ran into this problem trying to reload the model on a different machine than storing it.

[2020-07-24 08:23] hjzhang1018 opened #2049 "Saving GraphConvModel"
Hi, I'm training my dataset using GraphConvModel. Followed the "Deepchem/04_Introduction_to_Graph_Convolutions.ipynb" tutorial. However after I trained the model, I use "model.save("saved_model/my_model", it shows an error: "TypeError: save() takes 1 positional argument but 2 were given".

Could anyone please help me resolve this issue? I would appreciate that!

ps. this is the code I'm using:

[c

[2020-07-24 08:43] chstem commented on #2049
Deepchem automatically creates checkpoints during training in `model_dir`, which you can reload later. To explicitly create a checkpoint you can call ` model.save_checkpoint()`. These checkpoints can be restored with `model.restore()`.

But for GraphConvModel there are currently some problems, see #2013 and #1943.

`model.save()` exists, but is not implemented. I this actually used somewhere?https

[2020-07-24 09:03] hjzhang1018 commented on #2049
Thank you chstem! I've been struggling with this problem for a day. Now I use checkpoint and restore(), it worked :)

[2020-07-24 16:04] jhrmnn commented on #1676
We have just released [DeepQMC](https://github.com/deepqmc/deepqmc), which contains a lot of machinery necessary to run FermiNet, so implementing FermiNet (in Pytorch) for DeepQMC should be relatively straightforward. DeepQMC is structured to support external wave function ansatzes, so such a FermiNet implementation could even live in DeepChem, if someone preferred that.

In the opposite direction

[2020-07-24 19:26] rbharath commented on #1676
@jhrmnn DeepQMC looks really cool! I'd absolutely love to get a FermiNet implementation in DeepChem that leveraged DeepQMC.

As a couple questions for clarification, is there already a FermiNet implementation in DeepQMC? If so, we could just write a DeepChem wrapper class that calls the DeepQMC implementation under the hood. I think the main bits of work on the DeepChem end needed would be to writ

[2020-07-24 19:31] rbharath commented on #2013
Ah that's definitely more serious then! Ok, this is a higher priority bug that we need to fix. Let me try to clear out the PRs I'm working on currently. I also need to make some changes to our AWS infrastructure before our funding runs out at the end of the month. After that, I'll plan to hit this bug and fix it

[2020-07-24 19:34] jhrmnn commented on #1676
No, FermiNet is not in DeepQMC at the moment. In principle, it doesn't matter where such a FermiNet implementation would live, it could be in DeepChem, in DeepQMC, or a standalone package, in all cases it could leverage the DeepQMC backend. I pointed it out here since the issue already existed.

I should also point out that this whole deep QMC business might not exactly fit into the existing frame

[2020-07-24 19:37] rbharath commented on #1883
Joining the list of critical blockers is https://github.com/deepchem/deepchem/issues/2013, which is a serious bug in our `GraphConv` loading/saving code

[2020-07-24 19:41] rbharath opened #2050 "Adding Reaction Fingerprint Support"
I just came across the really cool https://github.com/rxn4chemistry/rxnfp library by @pschwllr. Our current support for reaction fingerprints is very limited (we have a bit of demo code but nothing actually fleshed out). It would be really cool to wrap `rxnfp` fingerprints into a DeepChem featurizer to facilitate experimentation.

CC @seyonechithrananda @pschwllr

[2020-07-24 19:51] rbharath commented on #1676
Speaking for myself, I'm primarily interested in putting together a reference implementation since FermiNet looks really cool :). We maintain the MoleculeNet benchmark suite which has some quantum chemistry datasets in it already, so it would be neat if we could help facilitate the benchmarking of deep methods for quantum chemistry. That said, as you point out the method is ab-initio and we've pri

[2020-07-24 21:10] seyonechithrananda commented on #2050
Totally agree that this would be really awesome if we can wrap the rxnfp as a featurizer under deepchem. I'm happy to help facilitate integrating it if @pschwllr is interested in adding it to the library.

[2020-07-26 06:37] berkuva opened #2051 "Accessing full JUND data"
Is there a way to access the full JUND data that was used in Ch. 6? It currently only contains data for chromosome 22. I would like to access the data for every chromosome or at least more than just Chr 22.

[2020-07-26 15:07] peastman commented on #2051
I'm not sure.  The data came from https://github.com/kundajelab/genomelake, which includes only chromosome 22 as an example.  Maybe ask there where to get the rest?

[2020-07-26 23:58] rbharath opened #2052 "Remove pcba_146 and pcba_2475"
I'm working on transition MoleculeNet over to DeepChem's own AWS infrastructure. In this process, I discovered we have `dc.molnet.load_function.pcba_datasets.load_pcba_146` and `dc.molnet.load_function.pcba_datasets.load_pcba_2475` functions which point to datasets that don't exist on AWS. I think we should remove these functions since they're broken and I don't know where the source dataset exist

[2020-07-27 07:23] pschwllr commented on #2050
Yes, would be great to see `rxnfp` included as reaction fingerprint into deepchem.

What would you need from the `rxnfp` side? Is there an existing deepchem reaction featurizer? How do you handle external dependencies? `rxnfp` could be installed with `pip install rxnfp`

[2020-07-27 20:48] rbharath commented on #2050
Awesome :). On the DeepChem side, I think we should add a proper `ReactionFeaturizer` abstract class to define an abstract API, and then a `RxnfpFeatuizer` class to wrap `rxnfp`. I think we can add `rxnfp` as a soft requirement (https://deepchem.readthedocs.io/en/latest/requirements.html). A pip install would be great.

Out support for reaction featurization is basically nonexistent for now! We ha

[2020-07-27 21:31] rbharath opened #2055 "Improving DuplicateBalancingTransformer"
I've been trying out DuplicateBalancingTransformer on BBBP which has 290 negatives and 1341 positives. After duplication, I get 1160 negatives and 1341 positives (which makes sense since `1160 == 4 * 290`). The downside to this is of course that the balancing is pretty approximate (we don't have 1341 negatives post balancing). I'm not sure of a clean way to improve this further, but opening this u

[2020-07-27 23:31] peastman commented on #2055
It's good to document that the balancing is approximate, but usually I don't think that's a problem.  As long as you have roughly similar numbers for each class the training ought to be able to handle it.  I suppose you could also adjust the weights to give exactly equal weight for each one?

[2020-07-28 02:05] seyonechithrananda commented on #2050
To add on to Bharath's point, can we add the `rxnfp` featurizer and SMILES tokenizer to the current set of featurizers under `dc.feat`, similar to `deepchem.feat.SmilesToSeq`? Since we don't have a base class for reaction featurizers yet, we can start by adding the implementation in under a HuggingFace + rxnfp import guard.

[2020-07-28 18:33] rbharath opened #2056 "DiskDataset.shuffle_each_shard broken"
The implementation for `DiskDataset.shuffle_each_shard` (https://github.com/deepchem/deepchem/blob/master/deepchem/data/datasets.py#L1649-L1662) is broken. The issue is in line https://github.com/deepchem/deepchem/blob/master/deepchem/data/datasets.py#L1662 where shuffled shards are all written to the same file and overwrite one another. I think we don't have a proper unit test for this either or

[2020-07-28 18:57] rbharath opened #2057 "Upgrading to TF 2.3"
TensorFlow has just released TF 2.3.0. We should upgrade head to TF 2.3.0 from TF 2.2.0

[2020-07-29 05:36] rbharath opened #2058 "Improved Loss Reporting in KerasModel.fit"
At present, `KerasModel.fit` only reports the final average loss over the last `log_every_n` global steps. For a large dataset, this number often doesn't provide much information about the actual variations in the loss curve. I propose that we alter the return type of `KerasModel.fit` to return a list of losses, with an average loss for every `log_every_n` global steps. (That is, whenever a loss i

[2020-07-29 16:32] peastman commented on #2058
What situations do you envision this being useful for?  It does provide various ways of logging the losses.

[2020-07-29 19:43] peastman opened #2059 "Design of PyTorch models"
Now that we're considering adding models based on PyTorch, it seems like a good time to consider the design for them.  We'll want to minimize code duplication, and also ensure the API is as consistent as possible (both between PyTorch based models, and between them and other DeepChem models).  At the same time, we should maintain lots of flexibility and make it easy to use existing PyTorch models

[2020-07-29 21:40] rbharath commented on #2059
I really like this design! It allows for carry-over of design sense between Keras and PyTorch and should allow for clean docs

[2020-07-29 21:41] rbharath commented on #2058
The main use case is for plotting loss curves I think. I'm currently working on a model training on a large dataset with a noisy loss curve. Looking at the logging statements, I know that I'm getting only a rough sense of the loss (I'm getting the loss returned once per epoch) since each epoch is pretty long.

[2020-07-29 21:57] peastman commented on #2058
That's odd.  It should be logging it at whatever logging frequency you requested.

https://github.com/deepchem/deepchem/blob/9436f338aea06ae72d3cf2f55f387ffc037817c5/deepchem/models/keras_model.py#L401-L407

[2020-07-29 22:04] rbharath commented on #2058
Ah my bad! Wasn't being clear in my earlier statement. The logging works just fine, but I'm using matplotlib to plot the loss curve after training finishes. My epochs take a long time so I've set it to long every 30 seconds or so, meaning something like 20 logging statements per epoch for me, but I only get the final returned loss for the epoch from `fit()`. So that means my matplotlib loss curve

[2020-07-29 22:12] peastman commented on #2058
Perhaps make this a configurable option?  By default it returns just the final loss, but you can pass an argument to request the complete training curve.

[2020-07-29 22:16] rbharath commented on #2058
Ah good suggestion! That should be quite possible to do

[2020-07-29 22:39] rbharath commented on #1908
I believe this should be fixed after the last round of metric fixes

[2020-07-30 00:00] rbharath commented on #1883
Here's the updated list of critical blockers to getting DeepChem 2.4.0 out:
- https://github.com/deepchem/DeepLearningLifeSciences/issues/20: New pretrained models for DeepChem book
- https://github.com/deepchem/deepchem/pull/1950: Fix moleculenet optimization functions after overhaul of hyperparameters
- https://github.com/deepchem/deepchem/pull/1923: Fix atomic convolutions to ensure that they a

[2020-07-30 02:18] rbharath commented on #1922
Props to @nd-02110114 for adding this!

[2020-07-30 02:18] #1922 closed

[2020-07-30 04:12] rbharath commented on #2059
One thought that comes to mind is that we probably want to support PyTorch Geometric and DGL as first class citizens. @nd-02110114 has been exploring using DGL/PyTorch for some models and might be able to comment on whether this design makes sense.

At first blush from the DGL docs (https://docs.dgl.ai/tutorials/basics/1_first.html), they use `torch.nn.Module` as the base for their models so I thi

[2020-07-30 15:44] peastman commented on #1883
I don't think this one needs to block the release.  We just need to do it (and update all the book examples) pretty soon after getting the release out.

[2020-07-30 16:08] nd-02110114 commented on #2059
I think this design also work with PyTorch Geometric because many classes which PyG provides are inherited from `torch.nn.module`.

So, I will try to implement TorchModel with similar APIs of KerasModel (Firstly, I will implement the APIs of `fit`, `predict`, `save_checkpoint`)

[2020-07-30 16:32] peastman commented on #2059
I was planning on implementing this myself.  If you think the design looks good, I can start working on it soon.

[2020-07-30 16:34] nd-02110114 commented on #2059
@peastman
OK!

[2020-07-31 00:26] rbharath commented on #2058
This was implemented in #2060

[2020-07-31 00:26] #2058 closed

[2020-07-31 00:27] rbharath commented on #1944
This issue should have been fixed by #2060. Just upgrade to DeepChem's latest version with `pip install --upgrade --pre deepchem` and you should be set. I'll keep this issue open in case there are still any issues

[2020-07-31 02:58] rbharath commented on #2023
The extra logging should be fixed by #2040

[2020-07-31 08:07] Draghohmmar opened #2063 "Hyperparameter tunning does not allow number of epochs"
This is sample code I have tried:
[code]

I got following error:
![image](https://user-images.githubusercontent.com/47124775/89013508-ea772800-d30b-11ea-9d7a-a1aa253e3335.png)

The reason is HyOpt creates a new model with set of parameters, but number of epochs is parameter used during fit rather than instantiation.

I have checked source code and this is the case: https://github.com/deepchem/deep

[2020-07-31 08:25] fabiooliveira-at-uib opened #2064 "Tutorial Part 12: AttributeError: 'DataFrame' object has no attribute 'as_matrix'"
Hello!
I was trying to complete tutorial 12 on google colab but it seems that Pandas method .as_matrix was removed and it was not replaced by another method yet. Hence I can not run the following cell:
"""
import deepchem as dc
import tempfile, shutil

featurizer = dc.feat.UserDefinedFeaturizer(user_specified_features)
loader = dc.data.UserCSVLoader(
      tasks=["Class"], smiles_field="mol", id_f

[2020-07-31 09:07] chstem commented on #2013
I just realized, that the manual `set_weights()` workaround can be simplified by just restoring the model a second time. The important thing about that workaround seems to be the call to `model2.model.call()`.  So the full workaround would be:

[code]

[2020-07-31 09:27] Draghohmmar commented on #2063
This how I sorted it out on my local copy:
[code]

It seems to be working fine, with expected better results for more epochs:
![image](https://user-images.githubusercontent.com/47124775/89021383-5cee0500-d318-11ea-8ea3-b66072fb0c68.png)

[2020-07-31 14:23] ncfrey commented on #2059
This might not an immediate concern, but is there interest in supporting a high-level API for PyTorch in the same way that DeepChem favors Keras for TensorFlow? I guess it's a more difficult decision because there's no "official" high-level API for PyTorch.

I'm most familiar with [FastAI](https://github.com/fastai/fastai), but I think it's more useful as a way to quickly get up and running on com

[2020-07-31 14:51] nd-02110114 commented on #2059
I had some experience using Catalyst and PyTorch Lightning.
Catalyst provides keras-like API for training PyTorch models and I also think Catalyst and PyTorch Lightning and Ignite are options for designing the PyTorch models as Nathan mentioned.

Catalyst : https://catalyst-team.github.io/catalyst

[2020-07-31 23:02] rbharath commented on #2063
Ah good point! We should consider generalizing the API to allow for control of the number of epochs for fitting.

[2020-07-31 23:52] rbharath commented on #2056
This was fixed in #2061

[2020-07-31 23:52] #2056 closed

[2020-08-02 19:12] rbharath commented on #2064
Thanks for the report! We need to update our tutorials to run on DeepChem's HEAD version in preparation for our next release (this is fixed in the the prerelease version of DeepChem which you can install with `pip install --pre deepchem`, but we haven't yet updated our tutorials)

[2020-08-03 07:06] chstem commented on #1944
I just tested this, but I still have the issue.

Here are some numbers:
If I use 80000 training samples  and a batch_size of 100 I get 0 for all loses.
If I reduce the training samples to 8000, only every 5th loss is 0. If I additionally set batch_size to 32, every second loss is zero. With batch_size=8, again all loses are zero.

Deepchem version according to pip: 2.4.0rc1.dev2020080308371

[2020-08-03 08:00] Draghohmmar opened #2065 "Tensorflow callbacks: EarlyStopping needs implementing"
I have tried to utilize early stopping from tensorflow framework but I get an error saying that: "TypeError: 'EarlyStopping' object is not callable"

[code]

Error message:
![image](https://user-images.githubusercontent.com/47124775/89155808-77ff8580-d561-11ea-8845-1df716e038ce.png)

I think the issue is that DeepChem tries to run Callback itself rather then its specific methods e.g. on_epoch_star

[2020-08-03 08:38] Draghohmmar commented on #1944
Used tp gey the same issue every 10 epochs, using standard GraphConv set-up:
![image](https://user-images.githubusercontent.com/47124775/89161410-7d150280-d56a-11ea-8e34-0a186e339866.png)

but running "pip install --upgrade --pre deepchem", fixed it for me

[2020-08-03 16:01] peastman commented on #2065
Here's the description of the `callbacks` argument in the API documentation:

You're trying to pass it a Keras callback object, which is something totally different.  If you want to do early stopping, you can use `dc.models.callbacks.ValidationCallback`.

[2020-08-04 07:30] Draghohmmar commented on #2065
I have asked about it on gitter and Rbharath asked me to put in here also (given migration to newer version of TF I suppose)
I will have a look at dc callbacks, thanks for pointing it out.

[2020-08-04 23:31] rbharath opened #2067 "SDFLoader doesn't handle zipped/gzipped files"
~The `dc.utils.save.load_sdf_files` operates entirely in memory. This means that loading a large .sdf file with `SDFLoader` operates entirely in memory and isn't scalable to very large SDF files.~ `SDFLoader` also doesn't have a good way to handle zipped/gzipped files

[2020-08-05 05:19] rbharath commented on #1944
@chstem Hmm, that's disconcerting. I don't think I've seen 0 for all losses. Would it be possible for you to test on a standard dataset like Tox21? I'm not currently seeing the 0s on any of my test datasets, but it's very possible I'm missing something. I'll do some more thorough tests to see if I can reproduce on my end

[2020-08-05 07:20] chstem commented on #1944
@rbharath I could reproce it with Tox21 quite easily. I just construct some dataset of length 8000 (to match my numbers above):

[code]

This code prints all zero losses for me. Increasing `batch_size` will reduce the frequency of reported zero losses.

[2020-08-05 11:17] Draghohmmar opened #2069 "Tutorial part 16: no module found"
Tutorial part 16 needs updating.
This is error I get when running on the newest version of DeepChem.
![image](https://user-images.githubusercontent.com/47124775/89406605-53e4a580-d715-11ea-9d80-e4b1db305931.png)

[2020-08-05 14:25] hssinejihene opened #2070 "deepchem.nn not found"
I've tried to use dc.nn.SequentialSupportGraph(n_feat) but I got an error saying "module 'deepchem' has no attribute 'nn'"
![erreur](https://user-images.githubusercontent.com/66692983/89432051-8e136e80-d738-11ea-9eb0-3ae5fb8d63e4.PNG)

[2020-08-05 17:54] rbharath commented on #2070
The low-data contribution code is unfortunately for an old version of DeepChem (1.3) and not supported in the current master branch. This is one of my open TODO projects to support it with DeepChem HEAD. I hope to get to this in the next few months. In the meanwhile, I'd suggest trying to install DeepChem 1.3 if possible (this might be tricky since it involves a lot of old packages)

[2020-08-05 18:42] rbharath commented on #2067
#2068 fixed the memory issue, but it would be nice to handle zipped/gzipped sdf files. I'm going to mark this open for contribution

[2020-08-05 18:43] rbharath commented on #2069
Ah you're right! We need to clean this up in an update pass of the tutorials

[2020-08-05 18:44] rbharath commented on #2069
This tutorial needs to be updated to work with the most recent DeepChem

[2020-08-05 18:45] rbharath commented on #2065
We should definitely improve our documentation for callbacks. This might be a nice section for a guide on how to develop custom models in DeepChem.

[2020-08-06 00:59] rbharath commented on #1944
@chstem I tried running this code on the latest DeepChem and I'm getting no zero losses. Would you mind double checking that you're using the latest DeepChem install in a fresh environment? It might be an upgrade issue where an older DeepChem is still being used for some reason. You can check this easily by seeing if the new `all_losses` feature for loss curves is enabled (this was added in the sa

[2020-08-06 09:21] chstem commented on #1944
You were right, somehow I didn't have the deepchem version pip was claiming I have.
Now I can confirm the issues is fixed.

[2020-08-06 11:57] Draghohmmar commented on #2069
Would also be nice to see something more chemistry relevant. Hence my question on gitter regarding graph to molecule conversion.

[2020-08-06 17:27] rbharath commented on #1944
Awesome :). Going to go ahead and close off this issue. Will reopen in case there are any more reports of this still being broken

[2020-08-06 17:27] #1944 closed

[2020-08-06 20:36] peastman opened #2072 "output_types is handled incorrectly"
KerasModel.predict() has an argument called `output_types`.  If this is specified, it is supposed to return all outputs whose types are included in `output_types`.  But it doesn't actually do that.  Instead it just treats it like a boolean flag.  If you pass any value for `output_types` that evaluates to True, it returns all outputs that have any non-standard type regardless of what the exact type

[2020-08-07 09:17] Gokul-11-byte opened #2073 "Error while installing deepchem in google colab"
Installation was working fine till yesterday.

Installing code:

%tensorflow_version 1.x
!curl -Lo deepchem_installer.py https://raw.githubusercontent.com/deepchem/deepchem/master/scripts/colab_install.py
import deepchem_installer
%time deepchem_installer.install(version='2.3.0')

TypeError: install() got an unexpected keyword argument 'version'

[2020-08-07 12:01] hjzhang1018 commented on #2073
same here.

[2020-08-07 14:38] nd-02110114 commented on #2073
Now, we are updating the tutorial notebooks for the latest DeepChem version.
You can try the new command!

[code]

[2020-08-07 15:48] rbharath opened #2075 "Converting GraphData into RDKit Mol"
One common question that comes up is how to convert back from a featurized molecular graph into a RDKit Mol object. (This is a very useful utility for generative model design). Now that we're moving towards the unified graph representation with `GraphData`, I think we should consider adding a standard conversion function from `GraphData` to RDKit mol. One thing to note is that this function won't

[2020-08-07 22:36] seyonechithrananda opened #2076 "Creating a Tokenizer Class for Sequence Models"
A couple of weeks back, Bharath raised the following issue on adding support for the rxnfp Reaction Fingerprint tokenizer (#2050). DeepChem currently doesn't have an API for tokenizers, so I decided to start off a new issue to discuss how to best approach creating one!

Current ideas are:
- Creating an abstract Tokenizer superclass for custom tokenizers to use.
- Calling BertTokenzier as a supercl

[2020-08-09 07:43] Gokul-11-byte commented on #2073
Thanks.
It worked.

[2020-08-09 07:43] #2073 closed

[2020-08-10 03:53] icewaterice opened #2078 "How to learn deepchem?"
I would like to use deepchem, but I don't know how to start. And so manny questions confuse me,  there are lots of errors when I follow the tutorials to learn. Therefore I want to know, did deepchem has any useful doucement.   I appreciate to recieve a way to learn deepchem and your reply

[2020-08-10 07:18] chstem opened #2079 "Error during model evaluation with dataset with empty list of task names"
During evaluation of a model with some metric and using a dataset with empty `dataset.task` the following error occurs:

[code]

A possible workaround is to assign `dataset.task` some list of appropriate length.  This also means the error can be reproduced from a standard molnet set by assigning `dataset.task` to an empty list:

[code]

This error occurs since b399a20d.

On a related note: The dif

[2020-08-10 13:06] zhouhao-learning opened #2080 "When to release version 2.4.0？"
When to release version 2.4.0, I am looking forward to the release of tensorflow2. There is a lot of work to be done in the near future. I hope deepchem can help me more

[2020-08-10 16:26] peastman commented on #2079
Datasets are generally immutable once created, so a `set_task_names()` method wouldn't be appropriate.  I agree we should make the different classes more consistent.  Currently:

- NumpyDataset and ImageDataset do not allow you to specify task names.  They hardcode that the task names are integers.
- DiskDataset allows you to specify task names.  If you don't, it returns an empty list.

How about

[2020-08-10 16:42] chstem commented on #2079
Ah, here is the problem: I missed that because NumpyDataset does not and I assumed all datasets work similar.

Yes, absolutely! Although just renaming it might be fine as well.

[2020-08-10 18:08] peastman commented on #2079
Agreed!  There's already `get_task_names()` after all.

[2020-08-10 18:51] peastman commented on #2078
Could you describe a bit about your background?  Are you already experienced in deep learning, and you just want to learn the specifics of DeepChem?  If so, the tutorials are the best place to start.  You need to use the correct version of DeepChem that each tutorial is written for.  That's a little complicated at the moment, because we're getting ready to release DeepChem 2.4 and we're in the pro

[2020-08-11 10:18] icewaterice commented on #2078
I am just a student, and know something of ML. And thanks you so much !

[2020-08-11 10:54] santonow opened #2084 "Clarification regarding ToxCast dataset"
I'm analysing the ToxCast dataset available with `deepchem`. There is one thing that's unclear to me, and not mentioned in the MoleculeNet [paper](https://arxiv.org/abs/1703.00564): what's the rationale behind treating missing data as 0's? (The molecule-target pairs for which, I assume, the experiment was not conducted.) Is it just for convenience or is there some explanation for this?

[2020-08-12 08:16] hjzhang1018 opened #2087 "Precision Metric Value Error"
Hi I'm using GraphConvModel to train my dataset following the deepchem tutorial. After training I tried to use multiple metrics to evaluate my model performance. Here is my code. I got numbers for ROC-AUC score and recall score but an error for precision score. It said "ValueError: Target is multilabel-indicator but average='binary'. Please choose another average setting, one of [None, 'micro', 'm

[2020-08-12 17:37] #2059 closed

[2020-08-12 17:56] rbharath commented on #2087
I believe you're trying to evaluate a multiclass dataset using precision and are running into the issue details in this scikit-learn stackoverflow issue: https://stackoverflow.com/questions/52269187/facing-valueerror-target-is-multiclass-but-average-binary

This is a bit of a hack, but I think you can fix it by wrapping the metric:

[code]

Can you give this a try adn see if it works for you?

[2020-08-12 20:58] rbharath commented on #2084
This is a good point and not explained in the paper.

@miaecle Would you happen to remember why we did this?

I think that the assumption was that it was safer to assume 0 since the positives were much rarer, but perhaps it's better to just leave the data out entirely. Apologies for the lack of details. It's been a few years since we did the work and it was a big project with a lot of people. If w

[2020-08-12 22:16] rbharath commented on #2080
Hopefully soon! Tbh, I'm the critical blocker here. There's a few last bugs that need to be fixed, but I've unfortunately been too busy to hit for the last couple weeks. If anyone has bandwidth to hit one of the critical blockers from https://github.com/deepchem/deepchem/issues/1883#issuecomment-665991033, we can move faster. It's definitely on my TODO list and will get there once a couple things

[2020-08-13 07:31] hjzhang1018 commented on #2087
@rbharath Thank you! My dataset is single task. I tried but still report an error "Classification metrics can't handle a mix of multilabel-indicator and continuous-multioutput targets". However I was able to get f1_score, recall_score and roc_auc_score using the following code. I guess I could calculate the precision_score manually according to the formula!

[code]

[2020-08-13 08:20] santonow commented on #2084
Thank you for your answer @rbharath. Since the dataset is probably exclusively used to compare the performance of different models it is not that important, but some clarification would be valuable I think.

[2020-08-14 08:26] swpper opened #2092 "The feature of edge of a molecular?"
Hi, I am learning how to build my dataset just like "ESOL". But I don`t know what the three features of edge_attr they are, how it is designed, or where can I know about it? Could you give me some advice?

one data in ESOL:
`Data(edge_attr=[26, 3], edge_index=[2, 26], smiles="CCOc1ccc(NC(=O)C)cc1", x=[13, 9], y=[1, 1])`

[2020-08-14 08:45] swpper commented on #2092
I find two papers about it, maybe I can figure out by myself.

[2020-08-14 09:39] fabiooliveira-at-uib opened #2093 "RdkitGridFeaturizer raises: Exception: Particle coordinate is nan"
Hello!
In tutorial 13 the data set  pdbbind_core_df.csv  is used. With the helper function convert_lines_to_mdtraj I am able to successfully save the the protein and the ligands to pdb files. In the tutorial you use the  convenience loader dc.molnet.load_pdbbind_grid to take care of performing featurizing the pdbbind dataset under the hood.

But as I wanted to better understand how to perform the

[2020-08-14 22:54] rbharath opened #2094 "Making Predictions on Large Datasets"
A common task users will want to do with DeepChem is make predictions on a large dataset of molecules. For example, users might want to take a model and run it against a large database like [ZINC15](https://zinc.docking.org/). One issue to note here is that a featurized library of molecules could get quite large. A million molecules featurized with `ConvMolFeaturizer` takes up roughly 15-20 GB of

[2020-08-15 16:38] peastman commented on #2094
I think there are two distinct issues here.  If garbage collection really isn't working properly, that's a bug.  We need to track it down and fix it.

The other issue is creating a new API for predictions on large datasets.  This really depends on what the use cases are.  It already is very easy to do prediction on large datasets without needing to load everything into memory:

[code]

That code i

[2020-08-17 19:21] rbharath commented on #2092
@swpper Would you mind clarifying a bit more here? Is this the raw ESOL data and not the processed version from MoleculeNet?

[2020-08-17 19:26] rbharath commented on #2093
Unfortunately `pdbbind_core_df.csv` is an old file and some strange errors result (I remember getting a similar error when I tried something like you just did).

I'm working on cleaning this up so we have nicer examples, but this is still upstream in https://github.com/deepchem/deepchem/pull/1792 for the time being. I'll try to get these into DeepChem head over the next few months.

For your parti

[2020-08-17 19:28] rbharath commented on #2087
Hmm, ok so this might be a bug. Would it be possible for you to give me a small reproducing code sample? Ideally on a small synthetic dataset. It would really help me to debug if I can reproduce your error locally :)

[2020-08-18 07:01] swpper commented on #2092
@rbharath You are right. The data I showed above is the processed version from MoleculeNet not the  raw ESOL data. I ignored to read the raw ESOL data since the raw data of other dataset is hard to directly read. Thank you very much!

[2020-08-18 09:45] AkitosOk opened #2102 "Hyperparamter Optimization Error"
I was using GraphConvModel function for multi-task, multi-class data using the latest DeepChem (installed two days ago -pre version) and was using hyper paramter optimization function too.
n_classes = 3 and gave this error

/deepchem/metrics/__init__.py", line 399, in to_one_hot
 ValueError: y has more than n_class unique elements.

looking into the code, line 157 and line 182 of grid_search.py wa

[2020-08-18 16:22] rbharath commented on #2102
@AkitosOk Thanks for the bug report! I think this might be a bug. We overhauled the metrics/hyperparameter systems recently and I think a few bugs are still lurking on the code. I've marked this as a bug and will investigate and get back to you

[2020-08-19 09:25] AkitosOk commented on #2102
Hi rbharath,

Thank you for quick response. The workaround will do for now so I will calculate by manually adding "3".
Meanwhile, I also found logdir=/path/to/log/dir option is also not working with funny behavior. It creates directory like /path/to/log/dir/5 but when the calculation for that particular hyper-parameter is complete, it deletes the folder then goes to the next round of hyperparamete

[2020-08-19 11:26] albertma-evotec commented on #2102
is probably not ran

use model.save_checkpoint() instead

[2020-08-19 17:00] rbharath opened #2106 "Error in prediction for multitask datasets"
The following code snippet:

[code]

fails with the following error

[code]

What's happening here is that the `default_generator` doesn't cleanly handle the case of no labels for prediction. H/T @iherath on gitter for the find!

[2020-08-19 17:08] rbharath commented on #2106
Here's a workaround if you're running into this issue: Make dummy labels and add them to your dataset for prediction. Here's a snippet that fixes the code sample above:

[code]

[2020-08-20 03:41] AkitosOk commented on #2102
@albertma-evotec
Thank you for your comment, unfortunately it did not fix the problem and still the same behavior.
I will look into the code again and see if I can figure out where I'm triggering the error

[2020-08-20 07:59] AkitosOk commented on #2102
Looking at the code, found my misunderstandings on this

First, I thought logdir will keep all results from different hyperparameters but it was actually deleting all except the best model in this code
#        if best_model_dir is not None:
#          shutil.rmtree(best_model_dir)
        best_model_dir = model_dir
        best_model = model
#      else:
#        shutil.rmtree(model_dir)
so I com

[2020-08-21 22:44] rbharath opened #2112 "Coordinating Tutorial Fixes"
The tutorials need a thorough scrubbing. Let's use this issue to coordinate the needed work and sign up for fixing various tutorials.

CC @peastman @neel-shah

[2020-08-22 20:46] jdagdelen opened #2114 "deepchem.io certificate issue"
Seems like there may be an issue with the certificate on your site. My browser was producing a security warning.

[2020-08-23 20:29] rbharath commented on #2114
Yes, our apologies for this! (See https://forum.deepchem.io/t/pardon-our-dust/222). We're in the middle of moving our website over to new hosting infrastructure so we'll likely have some issues for the next couple weeks. I'm working on this at present

[2020-08-23 20:41] jdagdelen commented on #2114
No worries! Just wanted to let you know in case you weren’t aware.

[2020-08-23 22:27] peastman commented on #2112
I'm starting on tutorial 2.

[2020-08-24 17:10] peastman commented on #2112
I'm looking into tutorial 12 now.

I suggest we just get rid of tutorial 20, the one on converting models to estimators.  We don't support `make_estimator()` anymore, and estimators are mostly outdated at this point anyway.

[2020-08-24 17:32] peastman commented on #2112
I'm getting an error in tutorial 12 that I'm not sure what to do about.  When it tries to evaluate the performance on `crystal_dataset` it gets this error:

Looking at the original data file desc_canvas_aug30.csv I can confirm this is true.  The code tells it to load the `Class` column as `y`, and every row in the file contains 1 for that column.  I don't see how this could ever have worked.

[2020-08-24 20:25] rbharath commented on #2112
+1 for getting rid of tutorial 20! Estimators seem to be on the way out in TensorFlow so seems less useful.

Good point on tutorial 12. Perhaps we can switch the metric to something like recall on the positive class or FPR/TPR that would be meaningful for a dataset with only positives? (Assuming the datapoints are positives)

[2020-08-24 20:33] peastman commented on #2112
Why is the tutorial testing on a dataset with only positives in the first place?  That doesn't seem like a very useful test.  Can you explain what the crystal dataset is?

[2020-08-24 20:37] rbharath commented on #2112
That tutorial was based on this paper (https://pubs.acs.org/doi/abs/10.1021/acs.jcim.6b00290). It's been a few years, but I recall that that dataset was testing whether the model trained on assay data could generalize to a separate dataset (compounds which had been co-crystallized with protein/ligand binding). Since these were crystal structures, they were only positives (since we only had binding

[2020-08-24 21:00] peastman commented on #2112
What if we just remove the checks against that dataset?  We already print results for the train, validation, and test datasets.  That seems like plenty for a tutorial.

[2020-08-24 22:06] rbharath commented on #2112
Sounds good!

[2020-08-24 23:34] peastman commented on #2112
I'm reaching the conclusion that notebook is just a mess.  I'm trying to figure out what it's doing and why, but with only partial success.  Here's what I've figured out so far.

It begins by downloading two CSV files and loading them into memory.  It confusingly assigns them to variables called `dataset` and `crystal_dataset`, even though they're actually Pandas DataFrames, not Datasets.  There's

[2020-08-25 02:49] #2092 closed

[2020-08-25 02:54] rbharath commented on #2112
I agree, this one is a mess! This is the same BACE that we have in MoleculeNet. I think the original version of this tutorial predates the moleculenet version (hence the archaic loading). Perhaps one way we could cleanly rework it is to just make it a tutorial about working with the BACE dataset from MoleculeNet.

The difference between this and the earlier solubility tutorials would be that we wo

[2020-08-25 02:57] rbharath opened #2120 "Switching Nameservers for DeepChem.io; website may go down"
I'm raising this issue as a notice that I'm working on changing the DNS for deepchem.io (as part of our backend infrastructure change). This may result in the DeepChem.io website going down for a while. I'm actively working on this and hope to be able to fix any outages shortly

[2020-08-25 03:27] rbharath commented on #2120
I believe I've now fixed the SSL/TLS certificate issue and transferred the DNS over to our own AWS infrastructure from Stanford's. It will take some time for these changes to propagate.

@peastman @seyonechithrananda @nd-02110114 @ncfrey @lilleswing @miaecle I've also upgraded the DeepChem developer IAM settings so you have access to the DNS and certificate management for DeepChem (Route 53 / Cert

[2020-08-25 03:58] rbharath commented on #2120
Think I spoke too soon. Still trying to figure out the CNAME. I've also added Cloudfront access for the developer IAM roles so anyone interested is welcome to take a look if they're curious.

Hopefully will be able to debug this soon

[2020-08-25 04:22] rbharath commented on #2120
Writing some notes here to document the AWS infrastructure. This should be migrated to the docs in a future PR:

DeepChem's website infrastructure is all managed on AWS through different AWS services. All DeepChem developers have access to these services through the deepchem-developers IAM role. At present, @rbharath is the only admin with access to the IAM role, but longer term we should migrate

[2020-08-25 05:16] rbharath commented on #2120
I think I've debugged the setup and the website should now be working with correct certificates and everything. Could folks take a look to verify that everything looks good?

[2020-08-25 05:17] rbharath commented on #2114
I believe I've just fixed the website! Could you take a look and verify the certificate looks good for you?

[2020-08-25 06:09] anand-bhat commented on #2120
http and https versions of www and non www deepchem.io resolve and display correctly in Chrome. This is on a machine in Australia with no previously cached DNS entries

[2020-08-25 06:13] jdagdelen commented on #2114
Looks great!

[2020-08-25 06:25] rbharath commented on #2114
Awesome :)

[2020-08-25 06:25] #2114 closed

[2020-08-25 06:28] rbharath commented on #2120
Great to hear it seems to have propagated!

[2020-08-25 06:40] nd-02110114 commented on #2120
I seem that deepchem.io website looks good! I really appreciate cleaning up infrastructure of DeepChem 🎉

Just one suggestion is that I think it is better to move all website data to a new directory in S3.  Currently, all website data (deepchemdata/index.html, deepchemdata/about.html, deepchemdata/assets, ....) are in the root directory of deepchemdata. I think this situation is not good consideri

[2020-08-25 13:02] lingxu00 opened #2122 "05_Putting_Multitask_Learning_to_Work"
when I run this code,I find the code" optimizer = dc.hyper.HyperparamOpt(model_builder)" was a traceback.the error is 'HyperparamOpt is an abstract superclass and cannot be directly instantiated.           You probably want to instantiate a concrete subclass instead.'. So can you help me?

[2020-08-25 17:11] rbharath commented on #2120
Moving the website data to `deepchemdata/website` could be a bit of a project because of the way pages are served from S3 buckets configured as websites. The documentation assumes there's a `index.html` in the top level bucket. I think we still could shift the website data to `deepchemdata/website`, but it would require a few steps of work and some debugging. Here's a rough sketch of what would be

[2020-08-25 17:19] peastman commented on #2120
Would it make sense to have the website be its own bucket?  (I know even less about AWS than you.  Just wondering if that would solve the problem.)

[2020-08-25 17:26] rbharath commented on #2120
Good question! I think tentatively it wouldn't. The main reason is that the other `deepchemdata/` subfolders host MoleculeNet data and featurized datasets and trained models which would also need to be publicly hosted. I think we'd end up then with 2 buckets that then have to be configured as static websites and maintained which would add extra maintenance burden.

[2020-08-25 19:26] neel-shah commented on #2112
I will try to fix tutorial 4 next.

On Tue, 25 Aug 2020 at 04:55, Bharath Ramsundar <notifications@github.com>
wrote:

[2020-08-25 19:55] peastman commented on #2122
We're right in the middle of updating the tutorials based on the latest code changes (see #2112).  Just haven't gotten to that one yet!  Anyway, the class name has changed to GridHyperparamOpt.  I think you'll also need to change the signature of `model_builder()` from

[code]

to

[code]

[2020-08-25 19:59] peastman commented on #2112
I'll also do tutorial 5 while I'm at it.  It seems to have some of the same problems.

[2020-08-26 01:44] nd-02110114 commented on #2120
Thanks for your attentive comments. I could understand how hard it is to move the website data. However, I wonder why deepchem.io is hosting by AWS. I seem that many DeepChem members are not familiar with AWS, so i think it is better to host the deepchem.io website using GithubPages.

There are some reasons.
- We are more familiar with GitHub compared with AWS.
  - It is easy to manage access auth

[2020-08-26 03:26] rbharath commented on #2120
@nd-02110114 Good suggestion! The answer for why we're on AWS is that when we put up the website a few years ago, hosting a static website on S3 was the easiest way to get a website out there. Now that Github pages is available, I'd be very open to us exploring transitioning the website to Github pages.

It's also worth noting that we'd still need to maintain the current AWS buckets to hold Molecu

[2020-08-26 14:36] nd-02110114 commented on #2009
I seem this issue was fixed!

[2020-08-26 14:37] nd-02110114 commented on #2005
We implemented the basic crystal featurizers, so I closed!

[2020-08-26 14:37] #2005 closed

[2020-08-26 19:31] rbharath commented on #2009
Yes, I think you're right!

[2020-08-26 19:31] #2009 closed

[2020-08-27 14:34] nd-02110114 commented on #2120
I think the most troublesome part of DeepChem AWS infra is the part only related to website (deepchem.io) like Route 53, Cloudfront. So, I think the migration from AWS to GithubPages will reduce our maintenance costs.

I'm looking into how to manage custom domain, SSL/TLS certificate, CNAME and so on with GitHubPages. If migration is no problem, I will try to start with this migration in next week

[2020-08-27 22:08] neel-shah commented on #2112
I am trying to fix the tutorial 4.

It seems like I need to have some understanding of graph conv model and
also featurization for the model. I am trying to understand the relevant
parts of `keras` library for this tutorial and also the model through code.
I think it will be much easier for me to go through some material to
understand these things. For example I am not exactly sure what
`degree_sl

[2020-08-27 22:11] neel-shah commented on #2112
I am trying to fix the tutorial 4.

It seems like I need to have some understanding of graph conv model and also featurization for the model. I am trying to understand the relevant parts of `keras` library for this tutorial and also the model through code. I think it will be much easier for me to go through some material to understand these things. For example I am not exactly sure what `degree_sl

[2020-08-27 22:44] peastman commented on #2112
On tutorial 5 I'm running into the same error about, "Only one class present in y_true."  This one uses the MUV dataset.  Out of 93,000 samples, no task has more than 30 positives, and a lot have even less.  And there are 17 tasks.  The odds are very high that either the validation set or test set will randomly end up with no positives at all for at least one task, and then we get an error.

How d

[2020-08-28 02:18] cgh2797 opened #2125 "Does deepchem plan to update to tensorflow 2.0?"
Does deepchem plan to update to tensorflow 2.0?

[2020-08-28 02:23] rbharath commented on #2125
@cgh2797 The nightly build is on tensorflow 2.2. Try it out with:

[code]

[2020-08-28 02:52] rbharath commented on #2112
@neel-shah Unfortunately there isn't good documentation for the usage of these intermediate arrays. I've written up some docs for `WeaveLayer` here that explain similar but not identical intermediate arrays (https://deepchem.readthedocs.io/en/latest/layers.html#deepchem.models.layers.WeaveLayer) that might be a good first starting point. In general, `degree_slice` and the like contain bookkeeping

[2020-08-28 02:54] rbharath commented on #2112
@peastman Perhaps `RandomStratifiedSplitter` might help? https://deepchem.readthedocs.io/en/latest/splitters.html#deepchem.splits.RandomStratifiedSplitter. I think this class tries to guarantee that valid/test has at least some number of positives. That said, it looks like we haven't cleaned up `RandomStratifiedSplitter` in a while so it might need a bit of sprucing up to solve our issue here

[2020-08-28 02:56] rbharath commented on #2120
@nd-02110114 Yep, go for it! If you think Github Pages will be simpler and easier for us to maintain and cut costs sounds like a good tradeoff :). I'm unfortunately not experienced at Github Pages so I'm not sure I can be of much help yet, but I'll try to do some research myself over the next week to see if I can chip in.

[2020-08-28 05:13] seyonechithrananda commented on #2050
PR #2113 works on integrating RXNFP tokenizers into 'dc.feat'

[2020-08-28 11:31] mchuck opened #2126 "Errors while calculating `vina_energy_term`"
I'm trying to calculate the `vina_energy_term` for a docked ligand, without much success. Does the `vina_energy_term` function work with the value of `M` different than 5? I assume `M` can be of arbitrary size, but the line https://github.com/deepchem/deepchem/blob/bc05e7c116327da590bb1b64a1a63dba7050ee17/deepchem/dock/pose_scoring.py#L200 in `weighted_linear_sum` is raising an exception (w is of

[2020-08-28 13:23] ncfrey commented on #2120
@nd-02110114 @rbharath +1 on the GitHub pages suggestion. I use pages for my own personal website and I really like it. It's easy to use and scale up.

[2020-08-28 13:32] seyonechithrananda commented on #2120
@rbharath +1 for me on Github pages as well, it was really easy to set it up using a .github.io domain and then route it to my own personal domain for websites.

[2020-08-28 19:28] peastman commented on #2112
`load_muv(split='stratified')` throws an exception from down inside the splitter.  I'll see if I can figure out why.

[2020-08-29 16:30] vishal-purohit commented on #2007
I would like to take up this issue

[2020-08-30 04:18] ghost opened #2129 "Indentation errors in deepchem/contrib/tensorflow_models/robust_multitask.py"
There are indentation error in deepchem/contrib/tensorflow_models/robust_multitask.py
![Screenshot from 2020-08-30 09-46-45](https://user-images.githubusercontent.com/26171922/91651102-dd359080-eaa5-11ea-81d2-4e7c900cddb6.png)

[2020-08-30 04:18] vishal-purohit commented on #2129
I would like to take up this issue

[2020-08-30 04:27] vishal-purohit commented on #2069
I would like to resolve this issue

[2020-08-30 19:21] peastman commented on #2069
We're in the middle of doing a complete pass through all the tutorials, fixing them up.  See #2112.  This issue was already fixed in #2116, so I'm going to close it.

[2020-08-30 19:21] #2069 closed

[2020-08-31 08:02] RRHHQ opened #2130 "Graphconvo Transfer Learning"
Hi I'm trying to build a transfer learning model using chemical graph as input but I haven't been able to achieve this. Anyone know if there Is any samples codes or useful method/class available for transfer learning?

[2020-08-31 19:15] mufeili opened #2131 "Support for DGL Modeling"
Hi DeepChem team,

This is Mufei from the [DGL](https://github.com/dmlc/dgl) team. I've also spent some time developing [DGL-LifeSci](https://github.com/awslabs/dgl-lifesci) -- a DGL-based package for working with graphs in chemistry and biology. It seems that DeepChem has started supporting DGL-based modeling with PyTorch (e.g. #2089 by @nd-02110114 ), which is rather exciting! I've had some chat

[2020-08-31 20:32] peastman commented on #2112
Yet another issue I'm running into on tutorial 12.  If I tell it to use a random split, the random forest and MultitaskRegressor both do reasonably well:

[code]

But the documentation for BACE recommends using scaffold splitting instead.  (So why isn't that the default?  Seems like a bug to me.)  And when I do that, the generalization performance is terrible.  In fact, the validation set comes ou

[2020-08-31 21:13] neel-shah commented on #2112
Thanks @rbharath, the docs helped indeed. I think I now have decent understanding about graph conv to get through tutorial 4 (or at least I hope).

Although I am stuck at an error which looks like the code in the tutorial should never have worked in the first place or there are some major changes happened underneath. So at one point in tutorial 4 it talks about creating graph conv model from scrat

[2020-08-31 21:24] peastman commented on #2112
Just a guess: try changing the definition of `membership` to

[code]

[2020-08-31 21:33] neel-shah commented on #2112
Thanks!

I still see the same error after changing `membership` to this
[code]

The error comes from [this line](https://github.com/deepchem/deepchem/blob/bc05e7c116327da590bb1b64a1a63dba7050ee17/deepchem/models/layers.py#L170).

[2020-08-31 22:56] rbharath commented on #1973
This has been fixed so closing this old issue.

[2020-08-31 22:56] #1973 closed

[2020-08-31 22:58] rbharath commented on #2112
@neel-shah The issue here is that this tutorial was originally written for TF1.x. Unfortunately, for TF 2.2, we had to change `GraphConvModel` to use the eager subclassing style instead of the keras style for the implementation to work. This meant that the previously functional code didn't work. I think the way to fix this is to no longer use `Input` objects but directly use TensorFlow eager model

[2020-08-31 23:00] rbharath commented on #2112
@peastman Hmm, that's really weird. From a purely scientific viewpoint, scaffold split is better since it tests the ability of the model to generalize to new scaffolds, but it's clear the model doesn't generalize well to new scaffolds. It's really strange to see the anti-correlation. Perhaps one way to handle this in the tutorial would be to make it pedagogical. That is, we can show random split w

[2020-09-01 03:27] nd-02110114 commented on #2131
Thanks for your comments! These comments are really helpful for us.

The following comments are my personal opinion.

I agree. Before doing this, we need to refactor the present DeepChem's graph models using GraphData class. I will work for this refactoring in this month. I seem the priority is high.

I think these feature can be achieved by refactoring the [GraphData](https://github.com/deepchem/

[2020-09-01 05:48] nd-02110114 commented on #2126
Thank you for reporting this issue!
I also seem the `weighted_linear_sum` implementation is not correct....

And, your modification may be correct and I will fix this issue.

[code]

[2020-09-01 10:28] albertma-evotec opened #2133 "model.restore() eats all the GPU memory causing OOM error later on"
I have tried to load my saved GC model. I intended to use the model to predict properties but for now I will just skip the prediction so the following issues are not caused by model.predict. I monitored the GPU usage and I found it quickly eats up all my GPU memory. I don't want this to happen because I need to have spare memory for my reinforcement learning loop (using pytorch) plus I thought loa

[2020-09-01 13:53] nd-02110114 commented on #2133
I think this is an expected situation.
Please confirm how TensorFlow use GPU from https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth

If you want to avoid eating up all your GPU memory,  maybe you need to assign a different GPU to TensorFlow (use GPU2) and PyTorch (use GPU3) explicitly.

[2020-09-01 18:09] rbharath commented on #2133
A second point here is that `GraphConvModel` saving/restoring has a couple of known problems (https://github.com/deepchem/deepchem/issues/2013). This is definitely on our TODO list to fix, but something to be cautious of right now.

[2020-09-01 18:10] #2126 closed

[2020-09-01 18:11] rbharath commented on #2126
Thanks for the fix @nd-02110114!

@mchuck Thanks for reporting the issue! The latest nightly build of DeepChem (once it's up for this last change, probably by later today/tomorrow) should now work for you :)

[2020-09-01 18:35] rbharath commented on #2131
Great to see you on here @mufeili! I'm excited to see us improve DGL support/integration moving forward :)

+1 to this! @nd-02110114 has kindly taken the lead on our refactoring to use `GraphData` as a common substrate. Once that's merged in, we should be able to support more of DGL's APIs.

I think our current dataloader/featurizer pipeline would support these use cases right? Taking a look at `M

[2020-09-01 18:43] rbharath commented on #2130
Check out this cool paper from a group at stanford on pretraining on graph neural networks (https://arxiv.org/pdf/1905.12265.pdf). The authors have a nice Github repo up as well https://github.com/snap-stanford/pretrain-gnns. I'd love to see us support this type of pretraining in DeepChem, but we don't have the infrastructure yet!

[2020-09-01 22:44] peastman commented on #2112
We discussed this a bit on Friday.  I'm posting here to continue the discussion.

In addition to fixing broken code, a lot of the tutorials need deeper changes.  Many of them weren't really designed to be tutorials.  They were just notebooks containing sample code.  We collected them together and arranged them in a sequence, but they don't really form a coherent set of lessons.  I suggest we overh

[2020-09-01 23:23] rbharath commented on #2112
@peastman A tutorial introducing the KerasModel and TorchModel classes would be a great addition! That would be very welcome :)

I definitely agree that we need to overhaul the tutorials to form a coherent set of lessons as you suggest. The tutorial set has grown organically, which means we have a lot of cruft in there that doesn't really contribute. Do you have any thoughts on a potential coheren

[2020-09-02 19:14] rbharath opened #2134 "Chapter 11 book fixes"
The metrics overhaul has caused errors on the chapter 11 book code. Here's an error report from the forums:

https://forum.deepchem.io/uploads/default/original/1X/cc9c352b2c87a80828a6f5c1899be097cbbb0c70.png

[2020-09-02 23:22] peastman commented on #2112
I suggest we make up a list of the tutorials we want to have, and what lessons the reader should learn from each one.  For example,

1. Introduce Dataset.  Describe the methods of creating them and what you can do with them.  (The current tutorial 1 covers a lot of this, but it also spends a lot of time on more advanced subjects like splitters.  Those should be delayed to a later tutorial.)
2. Int

[2020-09-03 02:26] cjgalvin opened #2135 "Typo breaking chirality in WeaveFeaturizer"
Using nightly build `'2.4.0-rc1.dev'`

There is a typo on line 403 of `feat.graph_features.py`, in the definition of the function `bond_features`:

`str(bond.GetStereo()), GraphConvCoonstants.possible_bond_stereo)`

should be

`str(bond.GetStereo()), GraphConvConstants.possible_bond_stereo)`

`Coonstants` --> `Constants`

[2020-09-03 08:39] RRHHQ commented on #2130
@rbharath Thanks a lot! I'll check it out.

[2020-09-03 09:05] mufeili commented on #2131
Great! Feel free if there is anything that I might help.

[2020-09-03 09:53] mufeili commented on #2131
Does `InMemoryLoader` allow constructing a graph dataset? Also it can be convenient to:
- Support common data pre-processing for modeling in GNNs (e.g. graph construction and featurization) via arguments
- Allow parallel processing for large datasets. For example, it can be time-consuming to pre-process a large dataset like PCBA in graph-based modeling.

I agree that it's a low priority. Meanwhile

[2020-09-03 14:11] hjzhang1018 opened #2137 "ValueError: Expected 2D array, got 1D array instead"
Hi, I'm using the Random Forest model to study my dataset. Following is the code I used. After the `model.fit(train_dataset)`, however it shows an error: "ValueError: Expected 2D array, got 1D array instead:
array=[1. 0. 0. ... 0. 0. 0.].Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample."

My data is single

[2020-09-03 19:57] rbharath commented on #2135
Ah you're right! Let me get a fix for this up

[2020-09-03 20:56] rbharath commented on #2129
@vishal-purohit You'd be very welcome to! Please go for it :)

[2020-09-03 21:25] #2135 closed

[2020-09-03 21:26] rbharath commented on #2135
The nightly build should be updated with the fix shortly (by tomorrow or later tonight). You can install this with `pip install --upgrade --pre deepchem`. Happy hacking!

[2020-09-03 22:37] neel-shah commented on #2112
I finally got the code in tutorial 4 to work, this is what model looks like:

[code]

And this is the result:

[code]

To be honest I don't understand a lot of things getting executed under the hood. I will spend some time understanding those things which probably will also help to improve code description.

[2020-09-03 22:46] datakem opened #2140 "potential bug in the "grid" fingerprints at dc.molnet.load_pdbbind_grid function"
Hi, I got his error while running on this colab tutorial (Part 13): https://colab.research.google.com/github/deepchem/deepchem/blob/master/examples/tutorials/13_Modeling_Protein_Ligand_Interactions.ipynb#scrollTo=d-imE_PBqTtT

pdbbind_tasks, (train_dataset, valid_dataset, test_dataset), transformers = dc.molnet.load_pdbbind_grid(
    featurizer="grid", subset="refined")

--------------------------

[2020-09-03 23:10] seyonechithrananda commented on #2050
Closing this issue, as #2113 implements SmilesTokenizer. There will likely be follow-up PRs with methods for featuring large scale molecular datasets, which will reference this issue.

[2020-09-03 23:22] seyonechithrananda opened #2142 "Issue with Tokenizers documentation"
This issue is referencing the lack of autodoc documentation in the tokenizers documentation, despite it being included in the `tokenizers.rst` file. After discussing with @rbharath, we believe this is because of the Huggingface `transformers` requirement causing ReadTheDocs to not import from the `smiles_tokenizer.py` file.

I think the fix for this is to update docs/requirements.txt to have trans

[2020-09-03 23:54] rbharath commented on #2137
Glad to help out! As a first comment, I think this code snippet has a couple bugs. The lines

[code]

only overwrite the `dataset` variable and don't actually replace the train/valid/test datasets. For that you'll want

[code]

The second bug is that `SklearnModel` requires an instantiated sklearn model as input. So you'll want

[code]

Can you give it a try with these fixes and see if it works fo

[2020-09-04 00:50] rbharath commented on #2112
@neel-shah This is awesome! Try comparing the ROC-AUC to the AUC from `GraphConvModel` and see if you can get it close :). I'd be glad to review a WIP PR once you're ready for a second set of eyes

@peastman I really like your list! I think reworking the tutorials to start with this series would make a lot of sense. I took a stab at extending your list and merging it in with the existing tutorial

[2020-09-04 01:23] hjzhang1018 commented on #2137
Thank you @rbharath !
I tried but still there's a problem showing that
"ValueError                                Traceback (most recent call last)
<ipython-input-15-8fb4d4cad5e4> in <module>()
      2 sklearn_model = RandomForestClassifier()
      3 model = dc.models.SklearnModel(sklearn_model)
----> 4 model.fit(train_dataset)

3 frames
/usr/local/lib/python3.6/dist-packages/sklearn/utils/multicl

[2020-09-04 03:01] seyonechithrananda commented on #2142
Closing this issue as #2141 has been merged.

[2020-09-04 03:01] #2142 closed

[2020-09-04 03:18] shenwanxiang opened #2144 "dc.molnet.load_delaney X,y, ids are not matched the true label"
Hi, I use deepchem 2.4.0-rc1.dev

I found a very big issue when I load the dataset:

It gives me a wrong y label for each X or smiles:

![image](https://user-images.githubusercontent.com/21102929/92195714-30da1c80-eea0-11ea-92c9-ec873e36d5dc.png)

![image](https://user-images.githubusercontent.com/21102929/92195721-37689400-eea0-11ea-86e5-c54a6f24cbfd.png)

[2020-09-04 03:56] nd-02110114 commented on #2144
Most of `molnet_function` apply data transformation to the original dataset for training. In the case of ESOL dataset, we apply NormalizationTransformer.

https://github.com/deepchem/deepchem/blob/b1cac7b13bb1f60978602813bdaf51ed16be147e/deepchem/molnet/load_function/delaney_datasets.py#L114-L117

[2020-09-04 04:12] shenwanxiang commented on #2144
Oh, many thanks. I see. I found this issue when I try to train on these data, I found the rmse is decreased to 0.23. Thank you very much for the explanation.

How do you think the model peformance after applying a normalization transformation on y? Is this will help the model to improve their performance?

[2020-09-04 05:07] peastman commented on #2112
That looks really good.  I would move multitask learning earlier in the sequence, since so many of the molnet datasets include multiple tasks.  Maybe move it to number 7 or 9?  And I'd move normalizing flows and reinforcement learning to later in the sequence.  Those are currently less widely used in chemistry than a lot of the other subjects, like transfer learning and quantum chemistry.

The cod

[2020-09-04 12:10] nd-02110114 commented on #1892
Update

- [ ] Positive Modulators Summary_ 918.TUC _ v1.xlsx -> Colab Tutorials 09 use
- [ ] flash_points.csv.gz -> upload
- [ ] gdb1k.sdf -> Colab Tutorials 10 use
- [ ] gdb1k.sdf.csv -> no use
- [ ] membrane_permeability.sdf -> examples/membrain_permeability use
- [ ] membrane_permeability.sdf.csv ->no use
- [ ] mini_muv.csv.gz -> tests/test_reload use
- [ ] pdbbind_core_5_df.pkl.gz -> upload
-

[2020-09-04 12:33] ncfrey commented on #2112
This looks great! +1 to moving normalizing flows and RL to later on in the series, maybe after language modeling in an "advanced techniques" section.

One other small comment: I really enjoy FastAI's "top-down" approach to deep learning, and I think one of the reasons they've been successful is that in the first lesson, in a few lines of code, students train a model and do inference. It might be c

[2020-09-04 16:56] peastman commented on #2112
That's a good suggestion.  Maybe move tutorial 3 in the above list up to be the very first one?

[2020-09-05 07:56] nd-02110114 commented on #2144
I think the normalization transformation basically  improve the model performance, but depends on models. What is your model?

And, you passed the transformers to metrics functions or evaluate functions?

[code]

[2020-09-07 03:00] shenwanxiang commented on #2144
Thanks! I reversed the transfromation, and I found the RMSE value do have decreased a litte,

[2020-09-07 04:02] rbharath opened #2150 "Add support for multiple sequence alignment, homology modeling, and deep structural prediction"
Introduction
------------

DeepChem's support for protein-based deep learning is still pretty early-stage. In this issue I propose a framework for adding support to DeepChem for doing more systematic machine learning with proteins. In particular, I propose the addition of new featurizers which compute multiple sequence alignment, mutual-information/multiple contact prediction,  features. I also pr

[2020-09-07 15:10] #2144 closed

[2020-09-07 23:05] neel-shah commented on #2112
:) Changing activation function from `relu` to `tanh` made a huge difference, changed a few other params also (e.g. units for the dense layer) and this is what I have now

[code]

and the final loss is `0.125532`.

I read `Convolutional networks on graphs for learning molecular fingerprints.` by Duvenaud, David K., et al, so I have somewhat better understanding of featurization of molecules. Also

[2020-09-09 06:56] #2130 closed

[2020-09-09 07:42] wendongwangmpi opened #2154 "tutorial 1 on colab: SpecifiedSplitter cannot be imported"
Greetings,
I am going through the tutorial on colab, and in the first one, the following cell on SpecifiedSplitter gives the following error.

It does look like something is missing.

Best wishes,
Wendong

`from deepchem.splits.splitters import SpecifiedSplitter
current_dir=os.path.dirname(os.path.realpath('__file__'))
input_file=os.path.join(current_dir, 'user_specified_example.csv')

tasks=['log

[2020-09-09 08:17] RRHHQ opened #2155 "How to use layers class?"
Hi, I'd like to make graphconvo models composing each layer by myself.
Does anyone know how to use deepchem's layer class?
Sequencial coding like keras is helpful.
like...

from keras.models import Sequential
from keras.layers import Dense, Activation

model = Sequential([
    Dense(32, input_shape=(784,)),
    Activation('relu'),
    Dense(10),
    Activation('softmax'),
])

I tried to add deepch

[2020-09-09 08:50] rasin-tsukuba opened #2156 "RuntimeError: CUDA error: device kernel image is invalid"
Hey guys! I am testing on the pytorch model on deepchem. When I am trying on the tutorial: [Creating Models With TensorFlow and PyTorch](https://github.com/deepchem/deepchem/blob/master/examples/tutorials/Creating%20Models%20With%20TensorFlow%20and%20PyTorch.ipynb), there is always a error shows that: CUDA error: device kernel image is invalid. But I am sure that I have installed the correct Pytor

[2020-09-09 08:56] nd-02110114 commented on #2156
Can you try these codes? I seem this issue is related to the installation of PyTorch.

[code]

[2020-09-09 09:31] nd-02110114 commented on #2154
Thank you for reporting the issue!
Currently, we don't support `SpecifiedSplitter`, so you can skip this section in Tutorial 01.
And, if you want to use the function of `SpecifiedSplitter`, you could use `IndiceSplitter ` as an alternative.

[2020-09-09 09:34] nd-02110114 commented on #1829
#2143 also add pretty print for splitters.

[2020-09-09 20:27] #2154 closed

[2020-09-09 23:12] albertma-evotec commented on #2133
I found add this code can avoid the memory being used up.

[code]

[2020-09-10 01:22] rasin-tsukuba commented on #2156
Hi @nd-02110114 , thank you for your reply! I have test your code here:

[code]

But still deepchem cannot find the cuda device. Any ideas?

[2020-09-10 03:29] nd-02110114 commented on #2156
Thank you for testing. Hmm, it seem that PyTorch installation is not problem.

And, I tested your code using Google Colab, but I didn't face the error you reported.
Reproduce notebook : https://colab.research.google.com/drive/1Cw8GXhzCc54MxclOfgFHQ_DIe554DqvI?usp=sharing

The error message also tell us the `CUDA error`, so I think this error is related to  your GPU environments like CUDA version,

[2020-09-10 03:41] rasin-tsukuba commented on #2156
To be honest, I have first installed cuda 10.2 with nvidia-driver and I found that I should install cuda 10.1 for the tensorflow-gpu support. So I keep both cuda 101 and cuda 102 on my machine. But I believe I have link the current `/usr/local/cuda` to cuda10.1 dir. Here are some details:

[code]
And my nvcc version is
[code]
[code]
And here in my `~/.zshrc` file:
[code]
Unfortunately I got nothin

[2020-09-11 02:48] nd-02110114 commented on #2156
Thank you for your information! I seem that cuda 10.1 link is successful. However, generally, keeping multi cuda leads to an unexpected error because of complex dependencies. I recommend you should clean install. (To be honest, I don't  have much experiences about installation of cuda, so my advice may not be correct)

Please see https://www.tensorflow.org/api_docs/python/tf/config/get_visible_dev

[2020-09-11 02:57] rasin-tsukuba commented on #2156
Thank you very much for your reply! I would try a clean install instead.

[2020-09-11 02:57] #2156 closed

[2020-09-11 07:57] rasin-tsukuba opened #2158 "Tutorial 6 import errors"
Hi guys. I am learning tutorial 6 and i found some errors:

1. In the first example of `RDKitDescriptors`, when executing
[code]
there is an error:
[code]
I checked the source code, there is no `allowedDescriptors` in `deepchem/feat/molecule_featurizers/rdkit_descriptors.py`.

2. In the second example `BPSymmetryFunctionInput`, when importing
[code]
the error emerges:
[code]
After checking the sou

[2020-09-11 08:47] #2049 closed

[2020-09-11 08:59] hjzhang1018 opened #2159 "Overfitting after data augmentation?"
To unbalance my dataset, I used Smiles Augmentation method to increase the positive compound numbers (created around 10 times more positive smiles). Then I used this augmented dataset (Positive/Negative ratio is around 1.5) for later training. I used Random Forest and GraphConvModel, they both get "great" scores, almost all evaluation scores are over 0.98, in Random Forest, the roc_auc_score and r

[2020-09-11 10:20] nd-02110114 commented on #2158
These errors are related to my PR #2136  I will fix in a couple days.

[2020-09-11 13:57] rkurchin opened #2160 "CGCNNModel: more epochs != more accuracy"
I worked up something almost exactly analogous to [this](https://github.com/deepchem/deepchem/blob/28d0e19b2af07918bd12be42c12ea13ea44c5c4e/deepchem/models/torch_models/cgcnn.py#L245) just with importing/featurizing my own data from CIF files instead of doing the premade import. As far as I could verify, the featurization works fine, but I find that there's no improvement in accuracy when I train

[2020-09-11 23:34] rbharath commented on #2160
This might be possibly linked to @nd-02110114's work on https://github.com/deepchem/deepchem/pull/2138.

@nd-02110114 I recall you mentioned that you were also seeing some training issues with CGCNNs. Did you manage to figure out a workaround?

[2020-09-12 13:51] alanatransrights opened #2162 "Moleculenet dataset fails to featurize--Sine_Coulomb_Matrix runtime error"
VERSION: Deepchem Nightly
ENVIRONMENT: Google Colab

I am attempting to load a dataset from MoleculeNet, but there seems to be a problem with featurization.

My script so far, in Google Colab, based on the MoleculeNet documentation:

[code]

When ran, the output reads:

[code]

I have reset my environment multiple times. Do I need to specify a featurizer in the call to dc.molnet, perhaps?

[2020-09-12 14:52] nd-02110114 commented on #2162
Could you try to install `matminer`? The default featurizer is `SineCoulombMatrix`, and it needs `matiminer`

[code]

[2020-09-12 14:57] alanatransrights commented on #2162
Thank you! That certainly solves part of the problem. Now, it casts a ComplexError:

[code]

Which seems to still be a problem with `SinceCoulombMatrix`.

[2020-09-12 15:55] nd-02110114 commented on #2162
I think `ComplexWarning` is not serious problem.

This msg shows some inorganic crystal structures lead to the coulomb_matrix contains complex number.
Such a situation sometime happens, so this is not `Error`, just `Warning`.

[2020-09-12 16:05] nd-02110114 commented on #2160
Yes. The currently CGCNNModel and GATModel has some issues for training. The loss value doesn't decrease well. So, I'm debugging now and I haven't understood what is the reason. I will focus on fixing this issue in the next week (9/13-9/20)

[2020-09-12 16:25] alanatransrights commented on #2162
Hmm... I see.

Forgive my ignorance: is there some quick test I could run to see if my dataset is successfully loaded such that I can know if this issue is resolved?

[2020-09-12 16:37] nd-02110114 commented on #2162
Basically, I think the data loading is successfully if you don't face any runtime errors. (not warning)
You can check dataset values like this.

[code]

In addtion to this, If you want to check whether the featurized values are correct or not, I think it is better to construct model with them and check the accuracy.

[2020-09-13 00:50] alanatransrights commented on #2162
Thank you so much for the help!

The output for those two lines are:

[code]

That looks to strange to me! A lot of zeroes... Is it normal?

[2020-09-13 01:47] nd-02110114 commented on #2162
This is also not problem. 0 is pad value to ensure that all feature vectors are equal length.

Please see https://deepchem.readthedocs.io/en/latest/featurizers.html#deepchem.feat.SineCoulombMatrix

And, I seem you are newcomer for DeepChem and Machine Learning. So, firstly, I recommend you try DeepChem tutorials. You can understand how to use DeepChem APIs more deeply.
https://github.com/deepchem/

[2020-09-13 01:55] alanatransrights commented on #2162
Thank you so much! You have been super helpful!!

I will be sure to read up and go through the resources you have provided.

Have a wonderful day!

[2020-09-13 02:32] #2162 closed

[2020-09-13 09:54] alanatransrights commented on #1978
Mind if I take this on?

[2020-09-13 20:26] rbharath commented on #1978
You're welcome to! I'd recommend checking out https://deepchem.readthedocs.io/en/latest/coding.html. It has a set of coding conventions that we follow for the codebase that might be useful as you're getting up to sspeed

[2020-09-13 21:28] neel-shah commented on #2112
I will try to fix Tutorial 11 and 12 next.

[2020-09-14 20:13] peastman commented on #2112
I'd like to start on the big reorganization.  I'm going to aim to create the first eight tutorials in the sequence outlined above.  That will mostly involve reordering and reorganizing the existing tutorials (for example, removing the discussion of splitters from the "basic tools" tutorial and putting it into its own tutorial).  In a few cases, I might need to write things from scratch.

[2020-09-14 22:14] rbharath commented on #2112
@neel-shah Awesome! Feel free to ask questions if you run into any issues :)

@peastman That's great! Please go for it :). If you need to rework the proposed ordering above to make more sense, please feel free. I'm continuing to wrestle #2151, but once I have that through I should be able to help out as well.

[2020-09-14 23:05] rbharath opened #2168 "Tracking Errors in Examples"
Let's use this thread to track known errors in our examples and coordinate fixes

[2020-09-15 00:37] micimize commented on #2168
Here are the results of example runs I tried earlier today (`adme`, `bace`, `toxcast`, `sider`, `clintox`):

<details>

<summary><code>conda run python examples/adme/run_benchmarks.py</code> 404s on the s3 csvs </summary>

[code]

</details>

<details>

<summary><code>conda run python examples/bace/bace_rf.py</code> fails on classification with "Only one class present in y_true. ROC AUC score is n

[2020-09-15 19:41] rbharath commented on #2131
Sorry for the slow response here @mufeili! Things have been a little crazy here with all the fires and everything and this slipped to the bottom of my inbox. Short answer, we would very much love to have any contributions you can make! Responses inline with more details

DeepChem's dataset architecture is generic (graph datasets are simply stored within numpy object arrays either in memory or on d

[2020-09-15 20:43] neel-shah commented on #2112
@rbharath re Tutorial 10: Exploring quantum chemistry with GDB1k

The colab crashes asking for more RAM when creating the dataset from the file. Precisely, the following code throws OOM

[code]

AFAIK Colab does not provide a way to increase the memory. Maybe Colab Pro does? Should we somehow trim the dataset? Let me know what is the best way to move forward here.

[2020-09-16 06:02] alat-rights opened #2170 "Implementation of Taylor Expansion-Based Data Augmentation?"
Hey good people, I recently submitted a paper* implementing Strategy A of the [Cooper et al.'s first-order Taylor expansion-based force-training methodology](https://www.nature.com/articles/s41524-020-0323-8) in Python. While the code still needs some work, and would need some adaptation, bringing it to Deepchem is well within the realm of possibility. I'm eager to do the work necessary if y'all a

[2020-09-16 06:52] alat-rights commented on #2159
Could you please confirm overfitting by computing metrics with an independent test set?

[2020-09-16 15:06] nd-02110114 commented on #2160
I still debug for CGCNNModel. The problem is that the loss doesn't decrease after 1 epoch like this.

[code]

The notebook https://colab.research.google.com/drive/1bEsghp49n_GoQdZ44omYz2b9IQnO2-IB?usp=sharing

In this week, I'm trying to fix this problem. But, if i couldn't fix this issue, I may try the CGCNNModel with PyTorch Geometric. I found the good OSS implementation using PyTorch Geometric.

[2020-09-16 15:16] nd-02110114 commented on #1848
@rbharath
I seem `GraphConvModel` work well for multiclass data. What is the problem...?

[2020-09-16 16:11] nd-02110114 commented on #2131
Sorry for slow response :bowing_man:
Currently, I face the issues about crystal graph convolutional model built with DGL, so I'm a little busy for debugging it. (The detail issue is here https://github.com/deepchem/deepchem/issues/2160)

Yes! I seem we just implement the wrapper model If the input graph for model is a bi-directed graph (graph made by `smile_to_bigraph` method). The following is sa

[2020-09-16 19:40] gabegrand opened #2172 "MolNet clearance data loader error with RawFeaturizer"
The MolNet clearance dataloader appears to be breaking with the "Raw" featurizer on `2.4.0rc1.dev20200916050731`.

[code]

[2020-09-16 21:14] gabegrand opened #2173 "MolNet qm7 data loader error with RawFeaturizer"
Looks like `SDFLoader` doesn't expect `'smiles_field'`

[code]

[2020-09-16 22:08] Exoceus opened #2175 "MNIST Example Tutorial #1"
There seem to be a few errors or areas of confusion with the MNIST Example section in [Tutorial #1](https://github.com/deepchem/deepchem/blob/master/examples/tutorials/01_The_Basic_Tools_of_the_Deep_Life_Sciences.ipynb).
First, there seem to be a few inconsistencies regarding the use of a single # for commenting out code and ## for comments themselves. This inconsistent usage leads to some confusi

[2020-09-16 22:26] peastman commented on #2175
That tutorial has been almost completely rewritten.  See #2169.

[2020-09-17 02:11] rbharath commented on #2170
@alat-rights Thanks for suggesting this! Potentially this could be quite interesting. At present, DeepChem doesn't have great support for training ANN potentials. We have a buggy implementation of ANI-1, but that's about it. Building out more infrastructure to enable people to experiment with designing new ANN potentials could be of a lot of value to the community :)

Here are some first thoughts

[2020-09-17 02:30] rbharath commented on #1848
Ah this was fixed in my refactoring of the metrics a few weeks ago :). Let me go ahead and close this issue!

[2020-09-17 02:30] #1848 closed

[2020-09-17 02:41] #2158 closed

[2020-09-17 02:42] #2172 closed

[2020-09-17 03:09] rbharath commented on #2112
@neel-shah Hmm, the `SDFLoader` should be able to run int constant memory (it uses a generator to featurize/load shards of data into memory under the hood and checkpoints to disk). Could you try running this locally on your machine and tracking the memory usage using `top` to see if you're seeing linearly increasing memory usage? One option to try is to try setting a smaller shard size:

[code]

[2020-09-17 03:58] mufeili commented on #2131
No worries. I understand this is a difficult time, which is even worse with the fires.

DGL's graph data structure `DGLGraph` naturally supports heterogeneous graphs. For featurization, it shall not be difficult to extend featurization for homogeneous graphs to featurization for heterogeneous graphs.

Do you have a developer call next week? I think I can make that.

[2020-09-17 04:07] mufeili commented on #2131
No worries.

Nice examples! Then this will be rather straightforward.

[2020-09-17 05:47] nd-02110114 commented on #2133
I seem this issue was resolved, so close it

[2020-09-17 05:47] #2133 closed

[2020-09-17 06:11] nd-02110114 commented on #1907
I seem this issue is resolved, so I closed.

[2020-09-17 06:11] #1907 closed

[2020-09-17 18:42] peastman opened #2178 "Recommended splitters are not the defaults"
I've noticed that molnet loaders often have default splitting methods that are different from the recommended method.  For example tox21 has the default `split='index'`, but the documentation recommends random splitting.  BACE has the default `split='random'`, but the documentation recommends scaffold splitting.  Others probably have the same problem.  We should fix all of them so the recommended

[2020-09-18 06:19] rbharath commented on #2131
@mufeili We have a developer call every Friday at 3pm PST :). You're welcome to join any (or all) of these calls. I believe you should already have a calendar invite, but let me know if you don't and I'll send you another one. Looking forward to the discussion!

[2020-09-18 07:53] mufeili commented on #2131
I've already had a calendar invite. Thank you. I will attend it next week.

[2020-09-18 18:37] neel-shah commented on #2112
@rbharath Sorry my bad, I was loading `gdb1k.sdl.csv` instead of `gdb1k.sdl`.

So the tutorial works and I also added some more code to evaluate the model and plot the predicted vs true values. However IIUC it looks like model does not have a great performance (which is quite visible in the plots). Let's sync on the merge request whether we should/could improve it or not.

[2020-09-19 08:33] nd-02110114 commented on #2170
I agree with basic implementation flow!

For second phase, I think it is better to try to implement the model using TorchANI.
And, maybe you should implement the featurizer for ANN potential model

2.1. Implement featurizer for model
2.2. Implement the reference model (use TorchANI as much as possible)

@alat-rights Do you have experience with TorchANI?
https://github.com/aiqm/torchani

[2020-09-19 13:08] nd-02110114 commented on #2131
I created some wrapper models using `dgl-lifesci` models and checked the performance.

dgl-lifesci wrapper model (I tested GATPredicator and MPNNPredicator)
https://colab.research.google.com/drive/1NWPXbnMMe8vsqouE60hBBF8ouXDIxgMM?usp=sharing

GATModel with PyG
https://colab.research.google.com/drive/1eF7WtiLbdTBafP7v1ge4Mvq6F3Y7zmIQ?usp=sharing

**dgl-lifesci**
Tox21
[code]
FreeSolv
[code]

**PyG

[2020-09-19 14:15] micimize commented on #2168
<details>
<summary><code>conda run python examples/hiv/hiv_irv.py</code> fails in the <code>IRVTransformer</code> seemingly due to passing <code>tf.nn.top_k</code> a similarity of type <code>np.ndarray</code> instead of an <code>EagerTensor</code>. This would mean there might be an actual bug in the transformer

</summary>

[code]

[code]

</details>

[2020-09-19 18:15] mufeili commented on #2131
Interesting. I haven't checked the Colab links and I assume you are performing a fair evaluation. It is possible that these two components make the difference, which can be verified by a careful ablation study.

[2020-09-19 22:17] alat-rights commented on #2170
No I don't, but I'm sure I can learn! Thank you so much for you response.

I'll go ahead and start with phase one!

[2020-09-20 23:15] rbharath commented on #2137
My guess is that you have a regression dataset instead of a classification dataset. Try a `RandomForestRegressor()` instead and see if that works :)

[2020-09-20 23:21] rbharath commented on #2155
Check out our new tutorial on how to make custom models with DeepChem. Hope this is useful! https://github.com/deepchem/deepchem/blob/master/examples/tutorials/Creating%20Models%20With%20TensorFlow%20and%20PyTorch.ipynb

[2020-09-20 23:48] rbharath commented on #2178
One thought here I've had for overhauling MoleculeNet is that we should make `ScaffoldSplitter` the default for all molecular datasets. `RandomSplitter` is often really bad for benchmarking, and causes variation across runs while `ScaffoldSplitter` makes apples-to-apples comparisons possible across methods, and provides a better estimate of generalizability due the the better separation between tr

[2020-09-21 14:25] alat-rights opened #2183 "Add quaternary metal dataset to Moleculnet"
This is part of Phase 1 of infrastructure development for ANN potentials discussed in issue #2170 . Essentially, I am looking to add some robust materials datasets that can be used for ANN potential construction.

I would like to combine the validation and training data for LMNTO from the Cooper et al paper and add it as a MolNet dataset.

The datasets in question are released to the public and av

[2020-09-21 16:06] danielvlla commented on #2070
Hi @rbharath any progress on this please? Can I assist you with the implementation in any way?

[2020-09-21 18:30] peastman commented on #2183
Do we want to add a loader for the [ANI-1 dataset](https://github.com/isayev/ANI1_dataset)?

[2020-09-21 19:27] rbharath commented on #2168
@micimize Awesome, thanks for getting these failures documented here! I wouldn't be surprised with a bug in `IRVTransformer`. We need to add more stringent tests for `IRVTransformer`

[2020-09-21 19:48] rbharath commented on #2183
@alat-rights This sounds like a great idea! I've just set you up with IAM access to the DeepChem infra so you should be able to upload datasets to the bucket as needed.

@peastman I really like the idea of adding a loader for the ANI-1 dataset! That could help facilitate ANN potential development a good bit

[2020-09-22 00:01] rbharath commented on #2070
Just responded to your other comment :). Yes, absolutely! Would you be able to attend one of the DeepChem developer calls? (Weekly Friday at 3pm PST). We can coordinate needed work for the implementation. If you're interested, shoot me a DM on gitter (https://gitter.im/deepchem/Lobby) with your preferred email and I'll add you to the invite

[2020-09-23 18:51] rbharath opened #2185 "DeepChem Docker Image doesn't support CPU training"
I was playing around recently with the latest DeepChem docker image on a CPU-only machine. It works as expected, but the image fails when training on the benchmark example with the following error

[code]

I believe this is due to us specifying the GPU install for the latest Dockerfile https://github.com/deepchem/deepchem/blob/master/docker/master/Dockerfile#L21. We should change this so that ther

[2020-09-24 02:40] nd-02110114 commented on #2185
So, you mean the benchmark script itself works well...?

I think the above message is not a problem. I seem the CPU training works well. From my understanding, TensorFlow and PyTorch automatically switch the CPU training in the case that you install their packages for GPU but the device doesn't have any GPU resources.

Yes, we could. I think the advantage is image size. The image size for CPU is s

[2020-09-24 02:51] nd-02110114 commented on #2185
After reading [this stackoverflow thread](https://stackoverflow.com/questions/47068709/your-cpu-supports-instructions-that-this-tensorflow-binary-was-not-compiled-to-u), I seem the following error indicated the TensorFlow was not optimized for CPU.

[code]

So, the benchmark script itself works well, but the performance may not be good. I think we should provide the both CPU and GPU images.

[2020-09-24 05:12] peastman commented on #2185
I think that's just the way they compile their standard binaries.  For a long time they didn't even compile for AVX, since they were trying to support very old CPUs.  Eventually they started including that, but still don't include AVX2.  It's not a problem.

[2020-09-24 09:24] hjzhang1018 commented on #2137
@rbharath Thank you for your advice! My dataset is a classification dataset though. I tried the same code locally using Pycharm, and no such value error show up. I'm a bit confused why this is happening :)

[2020-09-24 09:26] hjzhang1018 commented on #2159
@alat-rights Thank you, good point! I'll find an independent test set and see how good the scores are.

[2020-09-25 02:36] peastman commented on #2112
I'm working on the featurizers tutorial.  The current version describes RDKitDescriptors, BPSymmetryFunction, CoulombMatrix, and CoulombMatrixEig.  In addtion, ECFPs and graphconvs are discussed in other tutorials.

Are there any others I should add?

@rbharath I think you said BPSymmetryFunction is buggy and poorly tested.  If so, should I remove it from the tutorial?

[2020-09-25 06:22] rbharath commented on #2112
Perhaps we should add `WeaveFeaturizer` and `MolGraphConvFeaturizer`? These are both for alternative graph-conv models.

Yes, I think `BPSymmetryFunction` is for our ANI-1 model which wasn't correctly ported over from TF1.x (since we had no unit tests for it, it was never caught). We should probably remove it from the tutorial for now until we fix the model

[2020-09-25 08:33] #2087 closed

[2020-09-25 08:36] hjzhang1018 opened #2187 "How to avoid unbalanced splitting using scaffold splitter?"
Description:
Binary classification dataset
RF model and GCNN model

I used `scaffold splitter` to split my dataset into train_dataset, valid_dataset and test_dataset according to recommendations. However this splitter always causes unbalanced dataset, which means "there is only one class present in y_true" in valid/test dataset. Thus evaluation metrics like auc_roc_score/recall_score/precision_sco

[2020-09-26 13:47] suliuzh opened #2189 "should nglview be listed in requirements.txt"
Hi
**nglview** is used in _contrib/visualization/utils.py_ as a must. So I am wondering if **nglview** should be listed in requirements.txt explicitly or described as a dependency of the project in documentation.
![image](https://user-images.githubusercontent.com/27858725/94342067-031c6980-0041-11eb-8432-22b879a9a614.png)

[2020-09-27 04:38] peastman commented on #2112
Now working on the splitters tutorial and running into several problems.  I'm trying to write an example that runs through several splitters to show the effect of them.

[code]

Here are the problems I'm finding.

1. With stratified splitting it fails with the error

The problem is with the weights matrix.  Using random splitter it has dtype `float32`, but with stratified splitter it has dtype `ob

[2020-09-28 00:01] rbharath commented on #2189
@suliuzh Good question! In general our `contrib/` folder is non-maintained code so we don't count usage there as dependencies for the main package

[2020-09-28 01:04] rbharath commented on #2187
This is a good question! One possibility is you could try to increase the size of valid/test (say 60/20/20 instead of 80/10/10 train/valid/test split). This could allow you to get more samples in valid and possibly avoid the errors that you're seeing

[2020-09-28 01:05] rbharath commented on #2137
Would it be possible to give me a short failing coding snippet? If I can reproduce the error on my machine, I'd be glad to take a stab at debugging it!

[2020-09-28 01:31] rbharath commented on #2112
I think this is leftover cruft. The `RandomStratifiedSplitter` needs to be refactored to match the other splitters (here's the TODO: https://github.com/deepchem/deepchem/blob/master/deepchem/splits/splitters.py#L458)

Yikes! That's painful. It's seems likely that this is an RDKit failure under the hood. Perhaps we could report to the RDKit team if we can identify what's causing the failure.

I thi

[2020-09-28 03:00] hjzhang1018 commented on #2187
Thank you!@rbharath! Yes this is a good way to avoid such errors, I tried different splitting fractions and it worked :)

[2020-09-28 03:00] #2187 closed

[2020-09-28 03:34] hjzhang1018 commented on #2137
Yes sure, here is a short coding snippet. Thank you for your help! This works in Pycharm but not in Colab.
[code]

[2020-09-28 04:37] peastman commented on #2112
I'll look into those changes.  A problem with adopting the template is that it breaks compatibility with all existing code.  Currently the loader functions have special keywords for the different splitters, like `'random'` and `'stratified'`.  The template requires you to instead pass the name of the class, such as `'RandomSplitter'` or `'RandomStratifiedSplitter'`.

[2020-09-28 23:07] rbharath commented on #2112
Ah good point! Perhaps we can have a backwards compatibility function that detects 'random', 'stratified' and swaps out for the appropriate splitter name while issuing a deprecation warning?

[2020-09-28 23:33] rbharath commented on #2137
Great thanks! Could you also append a prefix from "data.csv" if you can that I can use to run the sample code? If the data is private, you can obscure it by swapping out random compounds/numbers so long as the style/format of everything is the same :) and you can reproduce the error with the new file

[2020-09-29 08:03] hjzhang1018 opened #2191 "How to convert prediction results into pandas dataframe, shape issue?"
Description: binary classification model, GCNN, single task

Hi, I'm trying to save the model prediction results into an excel file. To do that, I guess I need to convert this result into a pandas dataframe first. The shape of my prediction dataset is (2364, 2) before featurization applied. However this got an  error showing "ValueError: Must pass 2-d input". I printed the prediction shape, it's (

[2020-09-29 09:35] Lidweixiang commented on #1560
Hi @VIGS25！I may disagree with your point ！Maybe a unified transformer is better to show the relationship between before the transform and after the transform. And If you use different transformers, using this model to evaluate the test dataset is quite strange

[2020-09-29 19:38] peastman commented on #2112
From the docstring for ButinaSplitter:

Um... why???  Is this class actually supported?

[2020-09-29 20:05] peastman opened #2192 "Unify API for loader functions"
The molnet loader functions are currently divided into two groups with inconsistent APIs for specifying featurizers and splitters.

Most of them have arguments `featurizer` and `split` to specify them.  These arguments take one of a set of hardcoded strings, like `featurizer='ECFP'` or `split='random'`.  There are a few problems here.

1. The list of accepted values is undocumented.
2. There's als

[2020-09-30 02:17] rbharath commented on #2192
Very much in favor of coming up with a consistent API!

One thought here is perhaps we should move towards requiring specification of explicit splitter/featurizer/transformer objects. `featurizer=dc.feat.CircularFingerprint()` is probably better than `featurizer='CircularFingeprint'` for maintainability and understandability. Here's some first thoughts on how we could move towards a unified API:

[2020-09-30 02:21] rbharath commented on #2112
I think @proteneer (iirc) built the original implementation a number of years back, but we never really integrated it into the DeepChem documentation/tutorials/etc, so there are a number of rough edges on the implementation

[2020-09-30 02:31] rbharath commented on #2150
Adding on a couple useful links after offline discussion with @miaecle:

1. https://github.com/deepmind/deepmind-research/tree/master/alphafold_casp13: DeepMind's code release. It's incomplete since it doesn't have the full pipeline for AlphaFold
2. https://github.com/Urinx/alphafold_pytorch: A more complete attempt to reconstruct the AlphaFold pipeline

[2020-09-30 04:06] peastman commented on #2192
I actually like `splitter` better.  It's clearer, and also more consistent with `featurizer`.  But we should definitely continue to support `split` as a deprecated argument for backward compatibility.

If the user is passing in objects, the whole concept of "supported" ones doesn't entirely make sense, since they can pass in any object they want.  The most important thing is to clearly document th

[2020-09-30 21:05] gabegrand opened #2193 "QM7 dataloader uses outdated SDFLoader args"
https://github.com/deepchem/deepchem/blob/6d4808146802eddcfe9d4ba0e99978ca7216bf1c/deepchem/molnet/load_function/qm7_datasets.py#L281-L285

The kwargs `smiles_field` and `mol_field` no longer exist in `SDFLoader`:

https://github.com/deepchem/deepchem/blob/6d4808146802eddcfe9d4ba0e99978ca7216bf1c/deepchem/data/data_loader.py#L704-L708

[2020-09-30 21:26] peastman opened #2194 "Specify epochs for hyperparameter optimization"
When you call `hyperparam_search()` on a `HyperparamOpt` object, it doesn't let you specify how many epochs of fitting to do on each model.  It just uses the default, which is 10 for KerasModel and TorchModel.  That isn't always an appropriate number.  We should add an option to specify the number of epochs to use.

[2020-10-01 01:46] rbharath commented on #2194
+1 to this! We should definitely allow control of number of epochs and other training hyperparameters

[2020-10-01 14:12] micimize opened #2196 "Embed small examples in docs"
Many of the examples are out of date and/or poorly documented. The current thinking to solve both these problems is to:
- [x] start converting examples into doctest-able `.rst` examples in the `docs/`
- [ ] better document and update/fix them along the way
- [x] keep slow examples **out** of the current CI build (slow enough as is)

Ideas for future work include:
* breaking example CI into a separ

[2020-10-01 16:17] peastman commented on #2112
Would it be reasonable to make it work the same way scaffold splitter does?  The two methods are conceptually pretty similar.  Once you identify scaffolds or clusters, the code for assembling them into datasets could be mostly identical.

[2020-10-01 20:45] peastman opened #2198 "Changes to ButinaSplitter"
cc @rbharath @proteneer

This is a followup to https://github.com/deepchem/deepchem/issues/2112#issuecomment-700942341 and the discussion following it.  ButinaSplitter is currently not very useful, but could be made more useful with a few changes.

As discussed there I modified it to use the same code for building datasets as ScaffoldSplitter.  I then tested it with the following code.

[code]

Ra

[2020-10-01 20:54] proteneer commented on #2198
I think we'd need to test on test on different datasets to see the effect of the cutoff - I think I tested it on a proprietary dataset that was super diverse. I think increasing the default to 0.6 makes sense though - though I'd caution the user still to do some sanity checks against the Random Splitter as you have down.

[2020-10-02 05:27] rbharath commented on #2196
@micimize Thanks for writing this up! This is a really useful discussion of the possible options :)

[2020-10-02 05:41] rbharath commented on #2198
+1 for increasing the default to 0.6. Perhaps worth trying on a couple other MoleculeNet datasets to see if 0.6 behaves reasonably and adding some documentation directing users to do sanity checks as needed

[2020-10-02 20:02] peastman commented on #2198
I tested on a couple of other datasets.  Here are the test set scores:

BACE

random: 0.92
scaffold: 0.80
butina 0.4: 0.69
butina 0.5: 0.71
butina 0.6: 0.63
butina 0.7: 0.59
butina 0.8: 0.63

Clintox

random: 0.72
scaffold: 0.64
butina 0.4: 0.65
butina 0.5: 0.72
butina 0.6: 0.57
butina 0.7: 0.59
butina 0.8: 0.68

It looks like 0.6 is a pretty good default value.  The minimum is somewhere in that r

[2020-10-02 20:35] peastman commented on #2198
Nope.  Tried on HIV again, which has more than five times as many samples as tox21.  It ran for about half an hour, and then the computer crashed.  Conclusion: butina is a good method for small datasets, but not for large ones.  We should look into other alternatives to see if there's one that works in a similar way to butina (cluster by fingerprints) but scales better.

[2020-10-05 20:31] #2198 closed

[2020-10-06 00:54] rbharath opened #2201 "DeepChem docker image doesn't have sklearn"
The DeepChem docker image doesn't have scikit-learn installed I believe. We should add it to the docker image.

[2020-10-06 03:31] nd-02110114 commented on #2201
Which image did you use?  I think the scikit learn was installed in the latest image. scikit learn dependency was added in `setup.py`, so it was automatically installed by `pip install -e .` in Dockerfile.

https://github.com/deepchem/deepchem/blob/0d3f22850988d3e2562e8f83c0459c0b74ae45f6/docker/master/Dockerfile#L23

Could you show more details...?

[2020-10-06 03:33] nd-02110114 commented on #2185
@rbharath
I think this issue was resolved. Could we close the issue?

[2020-10-06 03:35] rbharath commented on #2201
Ah I think you're right! Ok, I might have something else going on in my docker image. Let me do a little more testing and I'll close this issue if it turns out I have a different error

[2020-10-06 03:36] #2185 closed

[2020-10-06 10:36] miaecle commented on #2150
@rbharath Thanks for raising this thread! Regarding the contact map (distance map) prediction step, here are some basic framework for featurizer setup:

Input features (1D)
--------------------

1. Amino acid type (`dc.feat.OneHotFeaturizer`)
2. **Multiple sequence alignment** (`dc.feat.MultipleSequenceAlignmentFeaturizer`)
    + Sequence profile
    + Deletion prob
    + Num alignments
3. Seconda

[2020-10-07 20:46] peastman commented on #2112
Tutorials 13 and 14 both need a lot of changes.  13 is written to download the datafiles and process them by hand, instead of just calling `load_pdbbind()`.  We should probably change it to use the molnet function.  And most of tutorial 14 hasn't been written yet.  It just ends with a todo. @rbharath you're probably the best person to do these?

[2020-10-07 23:26] rbharath commented on #2191
Sorry for the slow response! This slipped through my inbox. The output prediction is of shape `(2364, 1, 2)` since you have 2364 datapoints, 1 task you're making a prediction on, and 2 possible values for that prediction. The easiest solution for your problem would probable be to remove the task dimension. You can do that with

[code]

I hope that helps!

[2020-10-08 01:36] rbharath commented on #2150
@miaecle Really excited you can help out! I'd recommend using the `CircularFingerprint` featurizer as a template https://github.com/deepchem/deepchem/blob/master/deepchem/feat/molecule_featurizers/circular_fingerprint.py#L12.

One thing to consider is whether we want to add a new abstract superclass. `CircularFingerprint` inherits from `MolecularFeaturizer` which assumes its input is a molecule re

[2020-10-08 03:18] rbharath commented on #2112
Yep, absolutely, will take these on! I'm planning to hit tutorial 3 this week and will hit these two in the next couple of weeks.

[2020-10-08 16:51] peastman commented on #2112
Here's an updated version of the sequence and the status of each one.

1. Basic Tools of the Deep Life Sciences - DONE
2. Working with Datasets - DONE
3. MoleculeNet - TODO Bharath
4. Molecular Fingerprints - DONE
5. Creating Models with TensorFlow and PyTorch - DONE
6. Graph Convolutions - DONE
7. Featurizers - DONE
8. Splitters - DONE
9. Advanced Model Training - DONE
10. Creating Datasets - DON

[2020-10-09 00:52] rbharath opened #2204 "Tensorflow Probability 0.11 release is incompatible with TF 2.2.0"
https://github.com/tensorflow/probability/releases/tag/v0.11.0

^ I think some of our docs don't pin TF probability to 0.11. We should do a pass to make sure that's done cleanly

[2020-10-09 01:26] rbharath opened #2205 "SklearnModel.model_instance should be SklearnModel.model"
At present to get the underlying model in a keras model we access the `.model` attribute. For `SklearnModel` though, the underlying model instance is stored at the `.model_instance` attribute. For a uniform API, we should consider changing this attribute to `.model` and documenting it appropriately.

[2020-10-09 03:06] miaecle commented on #2150
@rbharath Yes I think it is better to have a separate super class. A related question is that do we have a standard dataset class for iteration in model training? (I could also port the dataset class I used in my repo as well)

[2020-10-09 03:23] rbharath commented on #2150
@miaecle Yep, check out the `Dataset` classes (https://deepchem.readthedocs.io/en/latest/datasets.html). I think these should be able to do what the PNet dataset class does (and are nicely optimized with things like a cache on `DiskDataset` for efficiency)

[2020-10-09 09:17] hjzhang1018 commented on #2191
@rbharath Thank you a lot! Yes it works. I've learned that this is an easy way to change the shape, thank you:)

[2020-10-09 09:17] #2191 closed

[2020-10-09 14:36] micimize commented on #2196
We should be able to use the [`include`](https://docutils.sourceforge.io/docs/ref/rst/directives.html#include) directive to maintain a single examples page while breaking up the examples into files:
[code]

[2020-10-09 23:24] #2201 closed

[2020-10-09 23:54] yuanjames opened #2206 "Molnet Weave model on the lipo dataset, error ValueError: cannot reshape array of size 47138 into shape (3721,14)."
Molnet, run Weave model on the lipo dataset, get the error ValueError: cannot reshape array of size 47138 into shape (3721,14).

from deepchem.molnet import run_benchmark
run_benchmark(['lipo'],'mpnn', test=True)

I tried to pass the another paramaters, (['delaney', 'sampl']), it works fine.

[2020-10-11 17:57] micimize opened #2207 "[CI] recent mypy release breaks CI due to pickle typing"
The [most recent mypy release](https://mypy-lang.blogspot.com/2020/10/mypy-0790-released.html) will start breaking CI builds due to [better `pickle` typing](https://github.com/python/typeshed/commit/03c9faa37549a90a6d057b22cfe02620ba1e3b12): https://github.com/deepchem/deepchem/pull/2197#issuecomment-706741581
but has a pretty straightforward fix: https://github.com/deepchem/deepchem/commit/c7a6c1

[2020-10-12 21:26] peastman commented on #2204
We also should upgrade to TF 2.3.

[2020-10-12 23:21] peastman commented on #2192
How about this design:

1. All loader functions will work the same way.
2. The featurizer will be specified with `featurizer`.  It can take either a Featurizer object or one of the special names.
3. The splitter will be specified with `splitter`.  I can take either a Splitter object or one of the special names.
4. `split` will be accepted as a deprecated synonym for `splitter`.
5. The default spli

[2020-10-12 23:44] rbharath commented on #2192
I really like this design! The only tweak I'd suggest is to make `ScaffoldSplitter` the default for all molecular datasets. For MoleculeNet v2, I think we should set scaffold as the default split for all tasks since it's a much better estimate of a models true performance.

[2020-10-12 23:53] peastman commented on #2192
Here are the current recommendations.

[code]

Should all of those be changed to scaffold splitting, or are there good reasons for any of them?

My tests in #2198 found that Butina splitting consistently works better than scaffold splitting, but I could only get it to work on small datasets.  Since a lot of the molnet datasets are quite small, should we be recommending it on those ones?  Another l

[2020-10-13 00:05] rbharath commented on #2192
We should definitely change all of these to either Scaffold or Butina splits (with the exception of `load_qm7_from_mat` which can't use scaffold/butina split since the .mat file doesn't have smiles strings attached). I'd lean Scaffold over Butina as a default recommendation because of the difficulty with large datasets (a beginner trying Butina on a large dataset might run into the nasty crash we

[2020-10-13 00:35] peastman commented on #2192
It's a research problem, but hopefully a very simple one.  Clustering algorithms are a dime a dozen.  A simple thing to try would be k-means or k-medians with a large number of clusters, then divide up the clusters between training and validation/test sets.

[2020-10-13 00:39] peastman commented on #2192
One other feature of the loader functions based on the template is that they have a `transformers` argument you can use to customize the transformers.  Should we add that to the others?

[2020-10-13 01:59] peastman commented on #2192
We also have a class called `FingerprintSplitter`.  Is that supported?  None of the loader functions use it.  I tried running it, but gave up after a while when it still hadn't finished running.

[2020-10-13 02:25] rbharath commented on #2192
Yes definitely! I think we should keep the current default transformers for all loaders, but I can see use cases where users would want to do custom transformations (if they're trying new models).

It's partially supported I think, but not well tested. There's a unit test on a tiny dataset (https://github.com/deepchem/deepchem/blob/master/deepchem/splits/tests/test_splitter.py#L151). Looking at th

[2020-10-13 04:22] hjzhang1018 opened #2210 "Different prediction results, how to select which is the best/most accurate?"
Description:
Binary classification, GCNN model

I've trained a GCNN model to predict whether a compound is active or not. The model was trained well according the evaluating scores (rocauc, recall, precision, accuracy) of valid dataset and test dataset. Around 0.88-0.95. Also I didn't set random seed. So I guess this model was trained using different training dataset by splitting dataset randomly.

[2020-10-13 04:31] hjzhang1018 opened #2211 "Random Forest outperform GraphConv Neural Network?"
I used both random forest and graph convolution model to train my data and make predictions for binary classification problems.

I thought GCNN should outperform RF due to its automatic feature extraction ability. However in my situation, it turns out the very reverse. Evaluating scores in RF is better than that in GCNN. Even though both model got pretty good scores (>0.8).

I wonder if RF is very

[2020-10-13 05:01] peastman commented on #2192
Some but not all of the loader functions allow the option `split=None`.  If you do that, it just returns a single dataset.  However, it's not clear to me if this really works properly.  In particular, it looks from the code like if you then tried to reload that dataset later it would get an error, since `load_dataset_from_disk()` wouldn't find the directories it expects to be there.  Is this suppo

[2020-10-13 05:25] rbharath commented on #2192
Ah good point! Yes, I think this should be a supported feature (since some folks want the raw dataset to do things like k-fold splitting or other transformations)

[2020-10-13 06:02] rbharath commented on #2211
Unfortunately this is often the case! Random forests plus circular fingerprints are a very strong baseline and oftentimes will be the best performing model for a task. You might need to tune your deep model carefully to see improved performance results. A well tuned GCNN will often beat a RF but it usually takes some careful work.

[2020-10-13 17:18] #2196 closed

[2020-10-14 05:40] rbharath opened #2214 "Physical Deep Learning for DeepChem"
Over the last several months, DeepChem has started to grow outwards past its core molecular machine learning system. We've got increasing support for materials datasets and learning tasks, and a growing suite of protein deep learning tools. The long term vision that's starting to emerge is for DeepChem to become a general deep learning for the sciences library. I propose that we take one important

[2020-10-14 07:20] rbharath commented on #2204
Fixed by #2209

[2020-10-14 07:20] #2204 closed

[2020-10-14 13:53] nd-02110114 commented on #2160
I'm still debugging CGCNN model. Maybe, I think the `CGCNNFeaturizer` have some problems, but I couldn't understand clearly.

Please see the notebook. I wrote the details about my debug.
https://colab.research.google.com/drive/1bEsghp49n_GoQdZ44omYz2b9IQnO2-IB?usp=sharing

[2020-10-15 00:34] rbharath opened #2217 "DeepChem Model Saving/Reloading Triage"
DeepChem has a large collection of models not all of which can be saved/reloaded. #2151 adds some first correctness tests for some of our models, but there are many more we need to fix. Let's use this thread to track the needed work

- [ ] `dc.models.AtomicConvModel`
- [ ] `dc.models.ChemCeption`
- [X] `dc.models.CNN`
- [ ] `dc.models.DTNNModel`
- [ ] `dc.models.DAGModel`
- [ ] `dc.models.GraphCon

[2020-10-15 12:58] ncfrey commented on #2214
@rbharath, I think this is a great idea and I have a few thoughts.
*  For scalability, it would be great to have some on-boarding procedure to help people implement their own models in DeepChem.  I think their are obvious advantages to implementing in DeepChem: longevity, reach, etc. But it will be difficult for core contributors to implement all these models. There could be a "MoleculeNet" style

[2020-10-16 05:54] cgh2797 opened #2225 "Does deepchem have a windows10 support plan?"
Does deepchem have a windows10 support plan?

[2020-10-16 06:48] hsjang001205 opened #2226 "Layer variable error"
while checking for a bug in saving/loading of the DAG model, I found an issue at the layer level.

`
self.W_list.append(init([prev_layer_size, self.n_outputs]))`

`
self.b_list.append(backend.zeros(shape=[
        self.n_outputs,
    ]))
`

Randomly initialized, But It cannot act as a variable in layers.

It was treated as a just constant, so it could not be saved.

even after build layers, layers

[2020-10-16 10:17] alat-rights opened #2229 "Adding Data for MARIA Antigen Presentation Prediction Support"
Hi!

I've been working on integrating this work ( https://www.nature.com/articles/s41587-019-0280-2 ) in Deepchem.

Our first step is to add the relevant datasets to Moleculenet.

The datasets used in the paper were:
- Patient MS HLA-DR Ligands
- Public HLA-2 peptide binding data
- Sequencing for HLA-2 allel and gene expression levels.

All of the data is publicly available, and access instruction

[2020-10-16 10:20] alat-rights commented on #2229
Maybe the data here https://www.ebi.ac.uk/pride/archive/projects/PXD004746 maybe should be processed through PEAKS or some other external tool before being added to MolNet?

[2020-10-16 10:44] alat-rights opened #2230 "Implementing MARIA in Deepchem"
Hi everyone!

Here's a brief outline of my current plan for implementing MARIA in Deepchem. (MARIA: https://www.nature.com/articles/s41587-019-0280-2 )

- [ ]  Data loading. Currently WIP, #2229 . Feel free to help out.

- [ ] Data integration. Upload the pre-trained models described in the "MARIA data integration framework" section of the Chen et al. paper to the Deepchem AWS instance. I haven't

[2020-10-16 11:05] alat-rights commented on #2229
I'm working on getting the IEDB bonding data into our S3 first just so that we have something to work with!

The search restriction is applied here: https://www.iedb.org/result_v3.php?cookie_id=766381

There is data on 23077 T-Cell assays and 253500 MHC Ligand Assays for HLA-DR protein complex. I'm not sure how to further restrict / which assays to use. I could use a little bit of advice if possib

[2020-10-16 13:15] hsjang001205 commented on #2226
weaver layer has same error.
I'm checking it now.

[2020-10-16 17:05] nesanders commented on #2217
Hi @rbharath , I've been investigating issues with saving/reloading of `GraphConvModel directly from checkpoints`.  My observation has been that the model restored from disk will *not* make predictions consistent with the original model kept in memory, and also that the reloaded weighs are usually identical between the original and restored models *except* for the first and final kernel variables

[2020-10-16 23:27] micimize opened #2231 "Consider (enforcing) commit signing or 2FA"
Commit signing ([docs](https://docs.github.com/en/free-pro-team@latest/github/authenticating-to-github/signing-commits), [benefits](https://softwareengineering.stackexchange.com/questions/212192/what-are-the-advantages-and-disadvantages-of-cryptographically-signing-commits-a)) was mentioned in the meeting today, so I figured I'd make an issue for it.

It's possible to [enforce commit signing](http

[2020-10-19 09:02] #2226 closed

[2020-10-19 19:31] mufeili opened #2233 "DGL Baselines for MoleculeNet"
During the meeting on [9/25/2020](https://forum.deepchem.io/t/deepchem-minutes-9-25-2020/271), @rbharath and I both liked the idea of integrating DGL-based baselines for MoleculeNet with DeepChem. This can serve the following purposes:
- Establish standard baselines for newcomers
- Standardize the baseline submission process and a fair evaluation setting
- Drive DGL integration

My ongoing effort

[2020-10-20 08:54] CompRhys commented on #1676
@rbharath a tensorflow implementation of ferminet source code is now open sourced by deepmind. @jhrmnn do you have plans to transpose it into pytorch for `deepqmc`? I would be happy to help on the PR.

[2020-10-20 08:57] jhrmnn commented on #1676
Only in the sense that it would be great to have it in, mentioned in deepqmc/deepqmc#19. But no immediate plan on actually doing it myself, so if you want to contribute a PR, that would be amazing

[2020-10-20 09:14] CompRhys commented on #1676
@jhrmnn I will have a look at how brainless the transposition might be, if it's one-to-one I may have a go.

[2020-10-20 21:01] peastman commented on #2192
#2213 created the new loading API and implemented it for a single dataset (delaney).  Now we need to copy it to all the other datasets.

As part of converting them, we should make sure all the load functions get tested.  A small number of them are already invoked by existing test cases, but most aren't.  How do we want to do that?  The smaller datasets are fast to load, but the larger ones take mu

[2020-10-20 21:49] peastman commented on #2192
I'm trying to convert QM9, which is a little odd.  It starts from a different raw data file depending on which featurizer you select.

https://github.com/deepchem/deepchem/blob/31c9b6bfdfffc100fbd608dcb157afd60d9d7add/deepchem/molnet/load_function/qm9_datasets.py#L100-L110

Can anyone explain what's going on here, and what the difference is between the two files?  We now allow the user to pass in

[2020-10-21 02:22] rbharath commented on #2233
This is awesome work @mufeili!

Here are some first thoughts on how we can start building in this infrastructure. Also, cc'ing @miaecle who might be interested

This is awesome! We should also extend this outwards to the new V2 MoleculeNet datasets (see the new tutorial https://github.com/deepchem/deepchem/blob/master/examples/tutorials/03_An_Introduction_To_MoleculeNet.ipynb). There's something l

[2020-10-21 02:28] rbharath commented on #2225
I think we support it already? I might be mistaken, but we have a windows travis build and some source installation instructions

[2020-10-21 02:32] cgh2797 commented on #2225
Is there any way to install it on Windows without using WSL?

[2020-10-21 02:43] rbharath commented on #2217
@nesanders Thanks for the report! I've been struggling with getting this one working too. I tried applying the fix @hsjang001205 used for Weave/DAG but that didn't appear to do the trick. As a hack workaround, reloading it twice seems to do the trick, but the first reload fails and I'm not sure why.

@hsjang001205 If you're interested, please take a crack at it too! I'll keep looking at it as well

[2020-10-21 03:00] rbharath commented on #2217
Perhaps this old TF issue (https://github.com/tensorflow/tensorflow/issues/34298) is involved? It feels like the bug on `GraphConvModel` is perhaps TF Eager specific since `GraphConvModel` is currently the only DeepChem model that uses TF eager mode

[2020-10-21 03:43] rbharath commented on #2217
Here's a workaround test that passes for `GraphConvModel` where the trick is to `restore()`, then `predict(...)` then `restore()` again. I'm not sure why this works but perhaps some shapes aren't resolved correctly to start?

[code]

[2020-10-21 03:55] hsjang001205 commented on #2217
@rbharath I found the part where the error occurred. I will try to more debug and PR.

[2020-10-21 06:28] hsjang001205 opened #2237 "weight save mechanism"
Because of the first weight in Graph convolution model was not saved normally,  it was confirmed difference in the overall output result of the model.

The easiest solution was to give the name of the weight inside the layer differently.(ex: kernel1, kernel2 ...)

However, there were no such bugs in the other models. For example, DAG model is saved normally even if the same weight name is used in

[2020-10-21 07:44] #2205 closed

[2020-10-21 09:57] mufeili commented on #2233
Great to know that! For a proof of concept on establishing the benchmark, I think we can first figure out all the modeling & submission details based on the 12 datasets. We can pick up the rest datasets after that.

These all sound very reasonable.

Weights for your trained models with scripts to run these trained models and reproduce results
Scripts that enable reproduction of your hyperparameter

[2020-10-21 16:29] peastman commented on #2225
Yes, it runs natively.  No need for WSL.

[2020-10-21 17:31] rbharath commented on #2237
This is a really useful analysis! Perhaps for subclassing style models like `GraphConvModel` (which use Eager mode), we need to pay extra attention in the review process to make sure duplicate names aren't being used for weights

[2020-10-21 17:49] peastman commented on #2237
Just to avoid confusion about terminology: using subclassing is independent of eager mode.  Regardless of which way you implement it, KerasModel runs all models in graph mode, that is, inside a function annotated with `@tf.function`.

[2020-10-21 17:50] peastman commented on #2112
Anyone have thoughts on this?

[2020-10-22 01:04] eladmw opened #2241 "GNN Reinforcement Learning"
Could you provide an example that shows how to perform reinforcement learning with the Graph Convolutions or Graph Attention?

[2020-10-22 01:57] rbharath commented on #2241
This would be a really interesting example for sure! We'd need to think of a good example use case where it makes sense to use GNNs for a RL task.

@peastman Would you have any ideas here?

[2020-10-22 02:17] rbharath commented on #2210
The randomness is training definitely makes models behave differently on different runs. One good solution to something like this is to use ensemble median voting.

1. Train K models on your source dataset for K large (10 or 15).
2. Make predictions as the median of the K model predictions

I've been meaning for some time to build some DeepChem tooling to facilitate this process, but for now, you

[2020-10-22 02:21] rbharath commented on #2112
Hmm, good question. Here are a couple thoughts:

11. Perhaps we can keep the seq2seq as an advanced topic? It can come before the transfer learning tutorial 16 as another unsupervised learning method, especially if we cover variational autoencoders.
15. I'm honestly not sure how good the synthetic feasibility model is in practice. Perhaps we can make synthetic feasibility a "real world" tutorial t

[2020-10-22 04:41] eladmw commented on #2241
I would reccomend the kaggle Football RL challenge

[2020-10-22 22:19] cjgalvin opened #2245 "Using ValidationCallback callback with Tensorboard produces error"
Following up on a Gitter convo, which I will paste below:
Using Deepchem nightly build from earlier this week ('2.4.0-rc1.dev').

I am trying to use the ValidationCallback callback with Tensorboard active in the model. I am getting the following error (I'll put the full trace at the end, for tidiness):
`AttributeError: 'GraphConvModel' object has no attribute '_log_value_to_tensorboard'`

I looked

[2020-10-22 22:29] peastman commented on #2112
Thanks!  I edited the list above to add them at the positions you suggested.

[2020-10-22 22:50] peastman commented on #2245
Thanks!  It looks like that code didn't get updated when we were converting KerasModel to TensorFlow 2.  It should be an easy fix.

[2020-10-22 23:10] cjgalvin commented on #2245
Glad to hear. I figured it was something along those lines.

[2020-10-24 00:01] alat-rights opened #2247 "Failing to Train WGAN"
Hi everyone!

The following code is raising a dimension mismatch on the last line for me. I was wondering if anyone could help me approach fixing this?

Error: `ValueError: Dimensions must be equal, but are 31 and 100 for '{{node functional_7/lambda_3/sub}} = Sub[T=DT_FLOAT](functional_7/gradient_penalty_layer_1/sequential_3/dense_11/Softplus, functional_7/sequential_3/dense_11/Softplus)' with inp

[2020-10-24 00:05] peastman commented on #2247
Try adding the argument `pad_batches=True` to the call to `train_dataset.iterbatches()`.  Does that fix it?

[2020-10-24 03:10] alat-rights commented on #2247
That fixed the problem, thank you very much! Would it be possible for you to explain how that works to me, if you have the time?

[2020-10-24 03:36] peastman commented on #2247
You told it to iterate in batches of 100 samples.  But what happens if your dataset isn't exactly a multiple of 100 samples?  It can either return a final smaller batch, or it can pad it out to the full size.  Your model expects all batches to be exactly the same size, so it gets an error if the final batch has a different size.

Actually, setting `pad_batches=True` may not be a good solution in t

[2020-10-24 04:04] alat-rights commented on #2247
Ah, I see! That's very helpful. Thank you.

[2020-10-24 04:04] #2247 closed

[2020-10-25 01:15] BusinessFawn commented on #2067
Do you have an example of what you'd like the input zip to look like? I assume a zip file of either .sdf or csv files?

I'd be happy to take a look but I'd like to make sure I'm working towards the correct behavior.

[2020-10-26 00:02] yuanjames commented on #2206
File "/home/james/anaconda3/envs/cuda101_torch_tf2gpu/lib/python3.7/site-packages/deepchem/models/keras_model.py", line 326, in fit
    checkpoint_interval, restore, variables, loss, callbacks, all_losses)
  File "/home/james/anaconda3/envs/cuda101_torch_tf2gpu/lib/python3.7/site-packages/deepchem/models/keras_model.py", line 399, in fit_generator
    for batch in generator:
  File "/home/james/an

[2020-10-26 00:02] yuanjames commented on #2206
Does anyone know how to solve this?

[2020-10-26 08:05] hjzhang1018 opened #2248 "Do we need validation dataset in random forest?"
Hi, I'm trying to understand and apply hyperparameter tuning in Random Forest model. However I saw a lot o f tutorials did not use validation dataset in these parameter tuning steps. Like this snippet shown below,
[code]
Looks like we're still using training dataset for a better score. Correct me if I'm wrong, I wonder in other models, like GCNN, do we also not use the validation dataset for param

[2020-10-26 09:04] #2189 closed

[2020-10-26 19:39] peastman commented on #2248
Hyperparameter tuning should always be done with the validation set.  Which tutorials aren't doing that?

[2020-10-26 22:16] rbharath commented on #2206
The `run_benchmark.py` script has some known errors. We need to fix it up so that it runs correctly... I don'w know the fix offhand but let's keep this issue open to track

[2020-10-26 22:27] #2245 closed

[2020-10-26 23:04] rbharath commented on #2067
@BusinessFawn Thanks for volunteering here :). I'm thinking just a gzipped/zipped `.sdf` file would be the desired input to support. One of the sample SDF test files used by `SDFLoader` but just gzipped/zipped should be a good test case

[2020-10-27 00:37] yuanjames commented on #2206
Thanks！Anyway, I will continue to try to fix this issue. If so, will let you know.

​

Cheers,

Yingfang(James) Yuan

________________________________
From: Bharath Ramsundar <notifications@github.com>
Sent: 26 October 2020 22:16
To: deepchem/deepchem <deepchem@noreply.github.com>
Cc: James Y <yuan.james@outlook.com>; Author <author@noreply.github.com>
Subject: Re: [deepchem/deepchem] Molnet Weave

[2020-10-27 03:47] hjzhang1018 commented on #2248
Yes I  agree @peastman . I understand that validation data are used for this. In deepchem `hyperparam_search`, I know we passed both `train dataset` and `valid dataset` to this searching steps, but in this snippet I didn’t see where we passed the validation dataset to the grid searching steps. So I'm a bit confused.

[2020-10-27 04:00] hjzhang1018 commented on #2211
Thank you @rbharath ! I see.

[2020-10-27 04:00] #2211 closed

[2020-10-27 04:03] hjzhang1018 commented on #2210
Thank you @rbharath ! I will try this as you suggested.
p.s., if we want to use saving/restoring function, do we need to reinstall the nightly build deepchem? and how?

Thank you again !

[2020-10-27 09:53] zhouhao-learning opened #2253 "The tutorial link is wrong"
Hello, I am watching a tutorial on modeling and predicting solubility, but the page opens with a 404

https://github.com/deepchem/deepchem/blob/master/examples/tutorials/03_Modeling_Solubility.ipynb

![image](https://user-images.githubusercontent.com/24581773/97285595-60444e80-187d-11eb-88ae-18f79562fb91.png)

[2020-10-27 16:09] peastman commented on #2248
Where did it come from?

[2020-10-27 20:14] peastman commented on #2253
We're in the middle of overhauling the whole tutorial sequence.  See #2112.  In particular, the complete list of tutorials we *will* have, in order, once we're done is at https://github.com/deepchem/deepchem/issues/2112#issuecomment-705695780.  The individual tutorials are in https://github.com/deepchem/deepchem/tree/master/examples/tutorials.  The first 11 tutorials in the new sequence are all do

[2020-10-27 20:55] hollywen7 opened #2254 "Module 'deepchem' has no attribute 'utils'"
I am getting started on using DeepChem for one of my projects, but when I tried to import deepchem, it shows the following error, I found the URL in the error message is associated with the dataset I used in another project, which I imported the data using zipurl directly. I don't know for now if this error is related to that. I have the newest deepchem 2.3.0 installed with the conda command. Also

[2020-10-27 21:29] hollywen7 commented on #2254
Solved! reinstalled the module and the sklearn 0.22.0 solve the problem

[2020-10-27 21:29] #2254 closed

[2020-10-27 23:50] cjgalvin commented on #2194
This feature was also mentioned in this issue:
https://github.com/deepchem/deepchem/issues/2063

I used the modification suggested and it seems to work. It is weird to specify the nb_epochs as an optimization parameter, so adding it as an argument in `hyperparam_search` would be much clearer. The approach in the link may have been used due to a note above the `hyperparam_search` definition in `gri

[2020-10-28 06:47] hjzhang1018 commented on #2248
It comes from a website "https://www.kaggle.com/funxexcel/p2-sklearn-randon-forest-parameter-tuning".
Could you please tell me how to pass the valid dataset to the tuning steps in this case? Thank you very much! @peastman

[2020-10-28 16:36] peastman commented on #2248
That website isn't anything related to DeepChem.  For a description of how to do hyperparameter optimization in DeepChem, see this tutorial: https://github.com/deepchem/deepchem/blob/master/examples/tutorials/09_Advanced_Model_Training.ipynb

[2020-10-29 06:11] rbharath commented on #2194
@cjgalvin This is definitely on our radar! I've marked this issue as "help wanted" in case someone wants to take this on

[2020-10-29 21:03] ncfrey commented on #2217
Put up PR #2258 to add reloading capability and reloading tests for `dc.models.NormalizingFlowModel`!

[2020-10-30 03:22] rbharath commented on #1676
Just catching up on old messages, and realized I never responded on this thread! I'd love to see a FermiNet implementation make its way into DeepQMC :). I don't have too much bandwidth to work on it directly myself for now but might have some bandwidth in the future.

[2020-10-30 03:33] rbharath commented on #2210
You should be able to upgrade to the latest nightly deepchem build with:

[code]

[2020-10-30 09:40] hjzhang1018 commented on #2248
Thank you @peastman! I learned this tutorial and this is the snippet I used for random forest hyperparameter tuning. However it shows an error message and I didn’t figure a way to solve it. Could you help me with this bug? Thank you very much.
[code]
This is the error message:
[code]

[2020-10-30 15:49] peastman commented on #2248
The signature for your model builder function should be

[code]

That says it accepts an arbitrary set of keyword arguments, which all get stored into the `model_params` dict.  The way you've written it, it expects exactly two arguments with the names `model_params` and `model_dir`.

[2020-10-30 22:30] #2006 closed

[2020-10-31 13:05] hjzhang1018 commented on #2248
Thank you @peastman ! This worked. Please forgive me but I do have another related question. After the hyperparameter tuning, we got `best_rf`, `best_rf_hyperparams` and `all_rf_results`, right? To my knowledge, I think that `best_rf` should have the same parameters as `best_rf_hyperparams` show, but it didn't, please see below. I wonder if this is a bug? If so, I guess we need to manually set the

[2020-11-01 13:47] nd-02110114 opened #2265 "tfk.backend.set_floatx('float64') leads to many errors of reload tests."
`tfk.backend.set_floatx('float64')`  in `test_normalizing_flow_model_reload` leads to many failures of reload tests.
Please see travis logs from https://travis-ci.org/github/deepchem/deepchem/builds/740412979.
We should fix this issue.

[2020-11-01 14:13] nd-02110114 opened #2266 "Errors about test_weave_fit_simple_infinity_distance"
Travis log: https://travis-ci.org/github/deepchem/deepchem/jobs/740320951
`test_weave_fit_simple_infinity_distance` is always failed in only Linux. We should fix this issue.

[code]

[2020-11-02 09:03] hjzhang1018 opened #2267 "Bug issue? best_rf doesn't has the same params as best_rf_hyperparams?"
Hi, I used hyperparams search to help optimize my random forest model. After the searching step, I got best_rf, best_rf_hyperparams and all_rf_results, however when I look into the results, I found that the best_rf result doesn't consist with best_rf_hyperparams. I wonder if this is a bug? Also, what should I do if I want to use model these hyperparams to evaluate its performance? Do I need to set

[2020-11-02 18:04] peastman commented on #2248
Since you opened a new issue for that last question, I'm going to close this one.  If I missed something else you're still waiting for an answer on, feel free to reopen it.

[2020-11-02 18:04] #2248 closed

[2020-11-02 18:10] peastman commented on #2267
The model returned as the best model ought to match the best hyperparameters.  If that isn't the case, it sounds like a bug.

Generally you shouldn't be directly using that model though.  Instead you should train a new model with those hyperparameters.  The reason is that GridHyperparamOpt doesn't train each model to convergence.  It just trains each one for a fixed, fairly small number of epochs.

[2020-11-02 21:04] rbharath commented on #2230
Awesome, thanks for getting this started! I'm looking forward to seeing this make it into DeepChem :)

[2020-11-02 21:06] rbharath commented on #2229
Hmm, so my initial instinct here is that if there isn't a clear restriction we should just make the full dataset available. If we document the source clearly with references, downstream users can filter based on their needs

[2020-11-02 21:23] rbharath opened #2268 "Update to PyTorch 1.7"
PyTorch 1.7 was just released. We should figure out if DGL/PyG have updated and update ourselves as well.

[2020-11-02 21:25] rbharath commented on #2266
I just tried running this on my local development machine (Mac), and I'm getting a clean pass. Could someone with a linux development machine try giving it a run?

CC @peastman @ncfrey @nd-02110114 @seyonechithrananda in case any of you develop with a linux machine

[2020-11-03 01:31] hjzhang1018 commented on #2267
Okay, I see, thank you @peastman very much!

[2020-11-03 04:52] nd-02110114 commented on #2265
`tf.keras.backend.set_floatx('float64')`  in `test_normalizing_flow_model_reload ` cause the unrelated tests' errors.

Basically, all keras layers return the same numeric type as the input, like if the input is float32, the return is also float32. But, when adding this line,  all keras layers always return the numeric type you set like float64 in spite of the input numeric type. Therefore, the los

[2020-11-03 16:30] peastman commented on #2192
What's the source of the chembl datasets?  It has no documentation, and it has some options that are different from other datasets.

Any information about the problems with qm9 described above would also be really helpful.

[2020-11-03 16:33] peastman commented on #2192
The default featurizer for chembl25 is SmilesToSeq???  Why?

[2020-11-03 18:27] ncfrey commented on #2265
Should be fixed by #2272

[2020-11-03 20:05] fmonta opened #2273 "setup.cfg having explicit and wrong version in release 2.3.0"
Hello,
I encountered a problem when trying to pip install the version 2.3.0 as part of an environment.
The setup.cfg of that particular version is still marked as 2.2.1.
I had to pip install version 2.2.0 instead. You can read https://github.com/invl/retry/issues/8 to get an idea of the error message I was getting with v.2.3.0.

[2020-11-03 20:24] fmonta opened #2274 "imports break with sklearn >= 0.23"
I have noticed that DeepChem relies on sklearn.externals.joblib (see save.py for example). This was deprecated in 0.21 and disappeared in 0.23. Could you edit the dependencies in the README to mention this hard version requirement for scikit-learn?

[2020-11-03 22:15] peastman commented on #2266
That test is passing for me on Linux.  On the other hand, `test_weave_model()` consistently fails.

[2020-11-04 00:55] rbharath commented on #2273
@fmonta DeepChem 2.3.0 is very outdated. We're almost ready to release 2.4.0. In the meanwhile, could you upgrade to the nightly build? You can install this with `pip install --pre deepchem`

[2020-11-04 01:14] rbharath commented on #2265
Just merged in #2272. Going to close this issue. Thanks for the bugfind and fix folks!

[2020-11-04 01:14] #2265 closed

[2020-11-04 02:03] rbharath opened #2277 "Double Reload Failure?"
I'm putting the following code into the cell of a Jupyter notebook

[code]

The first time I run the code, I get a successful run, but when I rerun the cell I get the following warnings:

[code]

This suggests that repeated saving/reloading is failing. Do any folks have ideas on what could be happening here?

CC @hsjang001205

[2020-11-04 02:04] rbharath commented on #2277
This is linked to #2217 debugging

[2020-11-04 02:10] rbharath commented on #2277
This could be related to this issue: https://gist.github.com/yoshihikoueno/4ff0694339f88d579bb3d9b07e609122

We might need to make Adam optimizer variables into `tf.Variables` to be tracked by checkpoints correctly

[2020-11-04 03:47] rbharath commented on #2277
See also this issue https://github.com/tensorflow/tensorflow/issues/33150

[2020-11-04 07:35] fmonta commented on #2273
I actually can't because I have other dependencies that require tensorflow 1.10... And since the readme mentions 2.3.0 as the current stable release I thought you might want to do this quick fix of the setup.cfg.

[2020-11-04 14:44] nd-02110114 commented on #2273
We don't support 2.3.0 version for pypi. Previously, DeepChem's support for pypi was somewhat immature due to the dependence on RDKit. So, our installation guide for stable version is **using conda** in README.

[2020-11-04 15:48] nd-02110114 commented on #2192
I seem `gdb9.sdf` contains only molecule structures and `qm9.csv` contains SMILES and properties.

Generally, SDF file contains the 3D structure coordinate of each molecules. We need it If we want to use some featurizers which requires a 3D structure coordinate like ColumbMatrix or BPSymmetryFunctionInput.

[2020-11-04 17:06] ncfrey opened #2279 "Error in PDBbind data formatting"
I am trying to use the `dc.dock` module with the PDBbind dataset to train a simple model to predict docking scores. I'm using this code:
[code]
and getting this error:
[code]

which I think means that the local minimization in OpenMM is blowing up. `protein.pdb` and `ligand.pdb` are the first entries in PDBbind. I've tried different protein-ligand complexes and running on Colab and a local Jupyter

[2020-11-04 19:06] fmonta commented on #2273
Right, I saw you recommend using conda, and this actually works well.
Just one thing, I am not trying to use pypi, I am using pip to install a particular version of the repo by doing `pip install git+https://github.com/deepchem/deepchem.git@2.3.0#egg=deepchem`(see [https://adamj.eu/tech/2019/03/11/pip-install-from-a-git-repository/](this) for an explanation of what I am doing). I believe the fix i

[2020-11-04 19:15] rbharath commented on #2279
Yep, we should definitely fix this! As a couple requests, would it be possible for you to put together a small reproducing code snippet? I can run it locally and see what's going on here. If that's tricky to do, if you have the PDB code (the 4 character code for the protein in question), I can probably use that as well

[2020-11-04 19:39] ncfrey commented on #2279
So far it affects everything in PDBbind that I've tried; here's one example: `2d3u`. And you can actually just run `pdbfixer <protein.pdb>` on the command line to reproduce the error, since it looks like a problem with the PDBbind inputs. `pdbfixer` will warn that there are duplicate atoms, and then the local minimization will fail during the `addMissingAtoms` step.

I'm trying to optimize in Open

[2020-11-04 20:50] rbharath opened #2281 "Docs Build Failure"
Looks like we're getting some mysterious docs failures still:

https://readthedocs.org/projects/deepchem/builds/12259262/

I'm not sure what the cause of this could be

CC @nd-02110114

[2020-11-04 20:52] ncfrey commented on #2279
Ok so this is an issue with the formatting in the PDBbind dataset from MolNet. I renamed the issue accordingly. If I download the PDB files directly from RCSB PDB, there are no problems.

[2020-11-04 21:39] ncfrey commented on #2112
Since I'm working on docking, I'd be happy to take on Tutorial 12: Interaction Fingerprints (from current tutorial 13). This could be an expanded, end-to-end example of taking protein-ligand complexes, featurizing them with the interaction fingerprints from #2212, using `dc.dock` to generate docking scores, and then training a model to predict scores.

[2020-11-04 21:41] alat-rights commented on #2229
Sounds good! So the whole thing goes into MolNet?

[2020-11-04 21:45] alat-rights opened #2282 "Mysterious Value-Error After Running WGAN Evaluate Function"
Hello team! <3

I'm trying to model the molnet Blood-Brain-Barrier-Penetion dataset with a WGAN. I'm getting a mysterious value-error when I run the Deepchem Model.evaluate() method. I was wondering if someone would help troubleshoot?

Failing code sample on Colab (including training): https://colab.research.google.com/drive/1bN_pxfox7CQGkBSQ1mCI9JAZ4mAK_E0I#scrollTo=j2C88lZ_Dxyr

Error:
[code]

T

[2020-11-05 01:35] peastman commented on #2282
I don't think `evaluate()` is meaningful for a GAN.  For ordinary models it sends in the features for each sample, gets the output, compares it to the corresponding label, and computes a metric based on how well they match.  That doesn't have any connection to how a GAN works: it doesn't even use the labels from the dataset.

It would be interesting to look into whether there's a generic method we

[2020-11-05 02:45] alat-rights commented on #2282
Ah yikes... Thanks for the help Peter!

I really need to figure out a way to compare performance between WGANs and standard models.

Could you help me understand why exactly is it not be possible for a WGAN to make predictions on a separate test dataset in the same way any other model would?

[2020-11-05 04:42] peastman commented on #2282
A standard model is a function.  It takes inputs and produces outputs.  For example, take a photograph and determine whether it contains a cat.  For every input there is a definite correct answer.  For all the samples in your test set, you know what that correct answer is.  You can check the model's outputs when given those samples and see how accurate its predictions are.

A generative model is d

[2020-11-05 06:22] rbharath commented on #2112
Awesome thanks @ncfrey!

[2020-11-05 06:28] rbharath commented on #2229
Yes I think so! As a quick check, how big is the full dataset? So long as it's under say 10 GB we don't have to think too much about it I think

[2020-11-05 06:33] rbharath commented on #2273
We definitely appreciate the error report!

The issue is rather that we're likely going to deprecate 2.3.0 support soon. The main reason is that the hosted MoleculeNet links from 2.3.0 are now broken (our old AWS infra run by Stanford was shut down recently and we've switched to new DeepChem AWS infrastructure with new URLs). 2.3.0 also depends on a number of old/outdated other packages, and it's

[2020-11-05 11:39] alat-rights commented on #2229
80~A few hundred megs zipped. Any chance I could fetch the file on the AWS instance so I won't have to download+reupload?

[2020-11-05 12:06] alat-rights commented on #2282
I see, thank you! I'll raise a new issue on possible Deepchem implementations of evalutors for GANs in the near future :)

[2020-11-05 12:06] #2282 closed

[2020-11-05 14:51] albertma-evotec opened #2285 "MultitaskClassifier with ConvMolFeaturizer"
Does the MultitaskClassifier work with ConvMolFeaturizer?

I see that MultitaskClassifier object requires the n_features parameter but the ConvMolFeaturizer does not seem to create n-dimensional features.

Am I missing something here or these two thing are not compatible to each other? Is there a way to extract any numerical features after featurizing my molecules using the ConvMolFeaturizer?

Tha

[2020-11-05 17:51] peastman commented on #2285
No, they are not compatible.  ConvMolFeaturizer is a specialized featurizer for use with graph convolutions.  For a model that takes a vector of numbers, use a CircularFingerprint as the featurizer.

[2020-11-05 18:22] albertma-evotec commented on #2285
Thanks for prompt reply. Is this CircularFingerprint same as MorganFingerprint in rdkit?
I was trying the dc.feat.RDKitDescriptors() as the featurizer which gave me X of 200-dimensional feature. Is there a convenience way I can use both the RDKitDescriptors and the CircularFingerprint as featurizers to give me a (2048+200)-dimensional X?

[2020-11-05 20:37] rbharath commented on #2229
So all our storage is on S3 (https://deepchem.readthedocs.io/en/latest/infra.html#s3), so unfortunately no clean way to do this I think? There might be something clever to do with the AWS command line tools but I've usually just downloaded and uploaded.

[2020-11-05 20:54] rbharath commented on #2281
Hmm, looks like the docs are passing but now the docs pages are missing? https://deepchem.readthedocs.io/en/latest/transformers.html is saying page not accessible for me

<img width="1440" alt="Screen Shot 2020-11-05 at 12 53 30 PM" src="https://user-images.githubusercontent.com/1057676/98295162-fc4d1480-1f65-11eb-8d3f-b0a2d562a2fc.png">

CC @nd-02110114

[2020-11-05 23:00] peastman commented on #2112
I'm trying to update the tutorial on model interpretability (currently number 8).  Things are fine up until cell `In [14]`, which throws an exception.

[code]

That magic number 242 seems to come out of nowhere.  It appears in this and the following cells, none of which has any explanation.  Many of them don't even produce output.  The tutorial then declares we've learned something useful, but if

[2020-11-05 23:57] nd-02110114 commented on #2281
The correct link is https://deepchem.readthedocs.io/en/latest/api_reference/transformers.html

[2020-11-06 00:06] nd-02110114 commented on #2281
I think it is better to add the redirect setting. Now, I'm looking into how to set the redirect link from https://docs.readthedocs.io/en/stable/user-defined-redirects.html

[2020-11-06 00:25] nd-02110114 commented on #2281
I setted the redirect link for `transformer.html`, and it works well!  So, I will add all redirect link.

[2020-11-06 05:02] rbharath commented on #2277
When testing the weave reload, I see a number of warnings tied to `Adam`. I think we still have some issues here we haven't entirely rooted out, even though tests are passing:

[code]

[2020-11-06 06:51] alat-rights opened #2286 "Implementing a Model Evaluation Function for GANs/WGANs"
Hi everyone! In a recent issue, I discovered that Deepchem seems to lack native support for evaluating GANs. I wonder if there are steps that we can take so that functions like .evaluate are present for GANs.

[2020-11-06 06:52] alat-rights commented on #2286
See: Issue#2282

[2020-11-06 15:05] nd-02110114 commented on #2281
I added the all redirect links. You confirmed from this page : https://readthedocs.org/dashboard/deepchem/redirects/
So I think this issue was resolved.

[2020-11-06 17:33] peastman commented on #2286
This page looks relevant, although a lot of it is specific to models that generate images:

https://machinelearningmastery.com/how-to-evaluate-generative-adversarial-networks/

[2020-11-07 04:06] alat-rights commented on #2286
Can't we use Precision/Recall scores for both GANs and standard models?

[2020-11-07 05:07] rbharath opened #2289 "Migrating to Github Actions"
Travis CI just announced a new pricing plan. Under this plan, we're likely to run out of trial credits (which give us about 1000 minutes of linux build time) and will have to swap to a paid plan to keep using it:

https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing

Luckily @nd-02110114 has been looking into using Github actions for our CI and has made some progress there. I propose that w

[2020-11-09 12:10] icewaterice commented on #2217
I meet some trouble, and one of them that I can't handle it.

It is "**_FailedPreconditionError: Attempting to use uninitialized value weave_layer_8/Variable_8
	 [[{{node _retval_weave_layer_8/Variable_8_0_10}}]]_**"

Is tensorflow's version didn't suit deepchem or other issues?
By the way, the code I was followed yours at this pages, and I do some changes.

[code]

[2020-11-09 17:40] rbharath commented on #2217
@icewaterice Instead of using `model.model.save()` can you try `model.save()` and `model.restore()`? You're going down to the underlying Keras model save functionality which we haven't tested. If you use `WeaveModel`'s save functionality we should be fine since Travis is passing there.

[2020-11-09 17:53] rbharath commented on #2281
Great! Thanks for fixing this @nd-02110114 :)

[2020-11-09 17:53] #2281 closed

[2020-11-10 13:11] icewaterice commented on #2217
@rbharath When I try model.save(), it raised an error which is '**_NotImplementedError:_**'.  I thought somethins that I miss, but I can't find this function in models when I look for it.

[2020-11-10 14:34] nd-02110114 opened #2291 "mdtraj is LGPL licence"
DeepChem depends on [mdtraj](https://github.com/mdtraj/mdtraj), but the license is LGPL.

Can DeepChem include the packages have GPL license...?
I'm not familiar with the license, but I seem we avoid including the GPL package in the threads of PR #2287.
So I made this issue.

[2020-11-10 16:05] peastman commented on #2291
Using packages with other licenses isn't a problem.  DeepChem just needs to have a GPL-compatible license, which MIT is.  It's only a problem if we actually incorporate GPL code into DeepChem.

[2020-11-10 17:09] peastman commented on #2217
The `save()` method is mostly obsolete.  Model parameters automatically get saved during fitting, or you can use `save_checkpoint()`.

[2020-11-10 17:59] peastman commented on #2192
Anyone have an idea what the labels in sweet are?  It defines a single task with the informative name "task".  Out of the entire dataset, there are exactly four samples for which it's 1, and all others are 0.

[2020-11-10 18:12] peastman opened #2292 "Document molnet datasets"
Many of the molnet loaders don't provide any useful documentation, either a description of what the dataset contains or a link to the source.  Examples include chembl, clearance, thermosol, hppb, and probably lots of others.  We need to track down the sources of these datasets and document them properly.

[2020-11-10 20:50] peastman commented on #2192
Here's what I think is going on with the QM7/8/9 datasets.  There are three files for each one.  For example,

qm8.csv: This contains energies computed with various methods, indexed by the smiles string.
qm8.sdf: This contains the structure and conformation of each molecule.
qm8.sdf.csv: This contains the same energies as qm8.csv, but indexed by the identifier from the SDF file rather than smiles

[2020-11-11 02:40] nd-02110114 commented on #2291
Thank you for comments! I could understand. These links are also helpful for me.

- https://www.gnu.org/licenses/gpl-faq.html#GPLStaticVsDynamic
- https://www.gnu.org/licenses/gpl-faq.html#IfLibraryIsGPL
- https://www.gnu.org/licenses/gpl-faq.html#WhatIsCompatible
- https://www.gnu.org/licenses/gpl-faq.html#WhatDoesCompatMean
- https://www.gnu.org/licenses/gpl-faq.html#LinkingWithGPL
- https://www

[2020-11-11 02:40] #2291 closed

[2020-11-11 15:30] VIGNESHinZONE opened #2295 "Evaluate method does not pass arguments for metric"
After training a model, I wanted to see the evaluation metric for the model. I wanted to calculate the root mean square and this is calculated using
[code]

I had a problem in this piece of code given  -
[code]

In the above piece of code, Root mean square cannot be found as there is no argument being passed to set  squared=False.
I look at the evaluate method given [here](https://github.com/deepc

[2020-11-11 18:59] rbharath commented on #2112
Ah this completely slipped through my inbox!

My understanding of this tutorial is that it really is a magic number. The `my_fp` is a dictionary with datapoint ids mapped to fragments for that molecule (so in this case the fragments for the 242nd molecule in the source dataset). I think when I (or someone else) was originally writing this code, the intent was just to pull out some of the fragments

[2020-11-11 19:30] rbharath commented on #2192
Catching up with responses to @peastman  inline!

I think this might have been for @vsomnath's early work with the dataset trying to repro Smiles2Vec results. I think we could meaningfully swap the default featurizer for Chembl25 to the same as for the other molecular datasets

Looking at the data this is an absolute mystery! I pulled up the 4 compounds where we have a 1 and I'm not seeing anythin

[2020-11-11 19:38] rbharath commented on #2295
Hmm, good point! We source `dc.metrics.mean_squared_error` from https://scikit-learn.org/stable/modules/generated/sklearn.metrics.mean_squared_error.html which has kwargs but we don't provide for a way to set them ourselves. One workaround is you can use `dc.metrics.rms_score` which computes the root-mean-squared error out of box.

We should possibly think about enabling passage of keyword argumen

[2020-11-11 19:55] rbharath commented on #2292
Very much agreed on this one! I think we can use git blame to do a bit of detective work to start tracking down the contributing PRs for each dataset.

[2020-11-11 20:53] rbharath commented on #2274
@fmonta I believe this is only true for DeepChem 2.3.0. We've removed this requirement in the nightly build.

[2020-11-11 21:10] rbharath commented on #2207
Closing this issue since I think we've fixed in subsequent PRs

[2020-11-11 21:10] #2207 closed

[2020-11-11 21:15] rbharath commented on #2214
Doing a bit more brainstorming, I'd love for us to put together a core set of first physical deep learning models to get into DeepChem (say for DeepChem 2.5.0).

@ncfrey Do you have any gut intuitions about say the top 3 physical deep learning models you'd be most excited to see in DeepChem?

[2020-11-11 23:17] eguidotti opened #2296 "tox21: wrong handling of missing values + benchmarking"
Hi there,
first, thanks for putting together this great project!

I'm working on a new machine learning algorithm and benchmarking against the tox21 dataset.
Unfortunately I see some inconsistencies regarding missing values. From this [link](https://deepchemdata.s3-us-west-1.amazonaws.com/datasets/tox21.csv.gz) I'm able to download the csv that contains the data in the form: `0,0,1,,,0,0,1,0,0,0,0

[2020-11-12 00:33] rbharath commented on #2296
The missing data is attributed to class 0, but the weights are set to 0 as well which means we are fine on the evaluation :). This is a tricky point and it's not made clear in the documentation so we should do better on that on our end!

Your point about the source dataset not matching the dataset here is spot on though! We need to fix this. We're working on overhauling the MoleculeNet benchmark s

[2020-11-12 09:56] eguidotti commented on #2296
Hello @rbharath, thank you for your reply.
Yes it would be great to have the original dataset.

Regarding the missing values, maybe I'm missing something, but it seems to me that e.g. [here](https://github.com/deepchem/deepchem/blob/master/examples/tox21/tox21_logreg.py) there is no reference to weights or filtering of missing values. Moreover, the values would have an impact on training as well a

[2020-11-12 15:25] ncfrey commented on #2214
I'd say E(3)NN should be top priority. It is maintained, already has a great ecosystem, and has been directly used or led to applications in [phonon properties](https://arxiv.org/abs/2009.05163), [molecular property prediction](https://arxiv.org/abs/2008.08461), and [protein complex structure prediction](https://arxiv.org/pdf/2006.09275.pdf). I think this would be a really powerful addition to Dee

[2020-11-12 17:07] peastman commented on #2296
The model automatically multiplies the losses by the weights during fitting and evaluation, so any datapoint with a weight of 0 is ignored.  This is discussed in some of the tutorials.  For example, see https://github.com/deepchem/deepchem/blob/master/examples/tutorials/04_Molecular_Fingerprints.ipynb.

That wouldn't work, because 0*NaN = NaN.  Once you allow a NaN anywhere into the computation, i

[2020-11-12 17:37] eguidotti commented on #2296
I see, thank you for the tutorial.
The approach seems a bit tricky yes and at least I'd replace `0` with e.g. `999999` to identify missing values and avoid confusion.
I think I'm going to use the raw dataset from tox21 challenge, that would be easier. Thanks

[2020-11-12 17:37] #2296 closed

[2020-11-15 03:03] alat-rights opened #2299 "Bug: Tutorial 12_Predicting_Ki_of_Ligands_to_a_Protein throws ValueError"
Hello, I have successfully reproduced the following error reported by @xavierchee on Gitter.

Steps to reproduce: simply load the 12_Predicting_Ki_of_Ligands_to_a_Protein.ipynb file as found on the Tutorials page using Google Colab and attempt to run it.

I tried to figure out a fix but I can't seem to figure out how to add print statements to library files on Google Colab and that basically means

[2020-11-15 03:04] alat-rights commented on #2299
@nd-02110114 This seems like it *could* be an unexpected consequence of your commit back in August, would you mind taking a look?

[2020-11-15 03:36] xavierchee commented on #2299
Thank you all =) Appreciate it.

[2020-11-15 04:35] peastman commented on #2299
We're in the middle of overhauling the whole tutorial sequence.  That particular tutorial is an obsolete one that will be getting deleted.  See #2112 for our current progress.

[2020-11-15 04:37] alat-rights commented on #2299
Ah I see, thx for letting me know. Will that take a while? If so, maybe we should throw a notice on the existing tutorials?

[2020-11-15 09:26] xavierchee commented on #2299
Thanks all. appreciate it =)  I agree with @alat-rights . If possible, would be good to have a notice in the tutorial =)

[2020-11-15 23:25] alat-rights commented on #2286
@rbharath mentioned that Precision/Recall will probably not work, and that some sort of inception score could work better.

I'm not too sure how we can go about implementation. Ideas?

[2020-11-16 04:55] rbharath commented on #2286
Hmm, I think my two cents is we probably want a first molecular-GAN, then we can test the generation by using Molecular metrics like tanimoto scores.

For example, `MolGan` from this forum discussion https://forum.deepchem.io/t/molecule-wgan-in-deepchem/246/15, or perhaps a simpler string-based GAN that directly generates SMILES or selfies. Inception score is very tied to ImageNet semantics but we

[2020-11-16 05:49] peastman commented on #2192
A question for @ncfrey.  I'm working on the materials datasets, which by default use a NormalizationTransformer that transforms X but not y.  That's different from the molecular datasets, which use a NormalizationTransformer to transform y but not X.  Is that really correct?

[2020-11-16 16:12] ncfrey commented on #2192
@peastman that can be switched to be consistent with the molecular datasets. Just curious, is there a reason why the molecular datasets transform y but not X, rather than both?

[2020-11-16 17:29] peastman commented on #2192
What transformers make sense depends on the dataset and featurization.  The NormalizationTransformer is used to put the labels onto a consistent scale.  That's usually (but not always) appropriate for continuous valued labels, but never for discrete valued ones.  Those generally use a BalancingTransformer instead.

Transforming X is another matter.  For most molecular datasets, the default featuri

[2020-11-16 17:51] ncfrey commented on #2192
Got it, thanks, yeah it makes no sense to apply normalization to the materials datasets for the currently supported featurizers. I definitely put `transform_X: True` when that should have been `transform_Y` and copy-pasted it to all the loaders. The metallicity dataset shouldn't have any normalization on X or Y.

[2020-11-16 18:14] peastman commented on #2192
Ok, thanks!  I'll make it transform y for bandgap, perovskite, and mp_formation_energy.  For mp_metallicity it looks like we want a BalancingTransformer?  That adjusts the weights so the total weight is the same for metals and non-metals.

[2020-11-16 18:27] ncfrey commented on #2192
Yeah that should be great, thanks!

[2020-11-16 23:26] peastman commented on #2192
When I call `load_mp_formation_energy()`, I get thousands of lines of messages like

[code]

Does this indicate a problem?

[2020-11-17 16:15] ncfrey commented on #2192
The default featurizer for that dataset is `SineCoulombMatrix` with `max_atoms=100` as the default. I think that is a typical default value to capture reasonable crystal structures and keep the feature vector dimensionality low. If you try to featurize the entire MP dataset there are some massive unit cells that will fail. There could be a `featurizer_kwarg` to `load_mp_formation_energy` that incr

[2020-11-18 22:16] peastman commented on #2192
I'm getting down to the last few datasets.  Some of them are quite different from the rest, and it may not make sense to try to convert them.

- factors, kaggle, kinase, and uv: These are in-house datasets from Merck.  They don't specify what the compounds are, just a list of pre-computed descriptors for each one.  They don't let you choose either a featurizer or a splitter.

- uspto: This looks k

[2020-11-18 22:32] peastman commented on #2192
The pcba dataset has load functions `load_pcba()`, `load_pcba_146()`, and `load_pcba_2475()`.  All of them just call `load_pcba_dataset()` with different values for the `assay_file_name` argument, which means they download different datasets, but there's no documentation on what the differences are between them.  Any idea about this?  The 146 and 2475 versions were added in #996, but that PR also

[2020-11-19 01:02] peastman commented on #2112
After more work on the interpretability tutorial, I'm starting to have doubts about whether the approach it uses is useful at all.  I get a lot of outputs like this:

![image](https://user-images.githubusercontent.com/4379786/99606420-96797780-29be-11eb-8f51-71a3a739ae52.png)

That shows that this particular model is strongly predicted to be toxic.  But when it breaks the prediction down into sign

[2020-11-19 09:13] HFooladi commented on #1198
[Retro*: Learning Retrosynthetic Planning with Neural Guided A* Search](https://arxiv.org/pdf/2006.15820.pdf)
This is a very good paper in this direction with outstanding results.
Also, the implementation is available: [https://github.com/binghong-ml/retro_star]( https://github.com/binghong-ml/retro_star)

[2020-11-19 18:53] peastman commented on #2192
Thanks!  I'll go ahead and update PCBA, and leave the others alone for the moment.

[2020-11-19 19:00] rbharath commented on #2112
CC @lilleswing who has more experience with interpretability and might be able to help out :)

I have to confess that I've not had great luck with this interpretabilty technique either, for reasons similar to those you've mentioned. I think sometimes there's a clear signal from one fragment that provides the deciding "vote", but for a lot of cases it seems to be the long tail of many contributions

[2020-11-19 19:07] peastman commented on #2112
I'm not entirely sure, but I suspect it's more a case of, "This fragment is associated with molecules being toxic.  Since it *isn't* present, that's a strong signal that this molecule is non-toxic."  LIME works by building a local linear model, so it can't deal very well with non-linear logic like, "The molecule is toxic if *any one* of these fragments is present."

[2020-11-19 20:32] peastman commented on #2192
If I try to load either the 146 or 2475 version of PCBA, I get an exception.

The standard version works fine.  Are those files missing from the server?

[2020-11-20 01:50] rbharath commented on #2192
Hmm, that's unfortunate. I just checked the S3 bucket and I'm not seeing the 146/2475 files either. I also logged into the old Stanford bucket and it's not there either! I wonder if this just hasn't worked in a long while...

@LRParser Would you have a copy of these files around somewhere?

[2020-11-20 19:15] yuanjames opened #2301 "Tutorial update"
1. How to extract high-level representations from the last layer from models (not output layer)?
2. model.evaluate() could be passed into a metric function (e..g  dc.metrics.mean_squared_error ), but the function could be not passed into evaluate() if you want to set squared= False.
3. Layers defined in deepchem should be possible to be re-assembled to a new mode.
4. Weave Model with no gradient w

[2020-11-20 19:27] rbharath commented on #2301
Thanks for posting these notes James! All of these should have tutorials/examples added. I'll mark this as open for contribution for folks :)

[2020-11-20 19:29] yuanjames commented on #2301
Thanks, Deepchem did a really great job!

​

Cheers,

Yingfang(James) Yuan

________________________________
From: Bharath Ramsundar <notifications@github.com>
Sent: 20 November 2020 19:27
To: deepchem/deepchem <deepchem@noreply.github.com>
Cc: James Y <yuan.james@outlook.com>; Author <author@noreply.github.com>
Subject: Re: [deepchem/deepchem] Tutorial update (#2301)

Thanks for posting these not

[2020-11-20 20:27] ncfrey commented on #2192
I'll take a crack at overhauling `load_pdbbind` so I can include it in the new tutorial on predicting protein-ligand binding with the new interaction fingerprints.

[2020-11-23 14:48] alat-rights opened #2303 "Google Colab Links Down for All Tutorials"
Hello,

I noticed a few days ago that all Google Colab links on Deepchem tutorials allowed a Github login, after which point would throw a "Notebook Not Found" error.

I'm wondering if @peastman might have some insight on this?

Thanks <3

[2020-11-23 14:55] alat-rights commented on #2289
Hey team <3 Will we have a roadmap or something for the migration, or is this kind of behind-the-scenes?

[2020-11-23 14:56] alat-rights commented on #2286
Just wanted to check: what exact value-add will this have over what @ncfrey demonstrated in the [normalizing flow tutorials](https://github.com/deepchem/deepchem/blob/master/examples/tutorials/Training_a_Normalizing_Flow_on_QM9.ipynb)?

[2020-11-23 14:58] alat-rights commented on #2229
Ok! I just have to wait for when I have a lot of time to babysit a download. Sorry for dropping the ball on this a little, it's on the todo

[2020-11-23 15:23] ncfrey commented on #2286
Hey @alat-rights, currently you can see [here](https://github.com/deepchem/deepchem/blob/c9f0da15dea5d9ab0d46b9c77cadfe6705a2ff74/deepchem/models/normalizing_flows.py#L168-L185) that to evaluate a normalizing flow, the "negative log likelihood" is used. Roughly speaking, the model tries to maximize the likelihood that generated samples were drawn from the target distribution.

Other specific metri

[2020-11-23 15:48] alat-rights commented on #2289
Here's a quick comment I want to make: We should probably be careful about binding ourselves further to Github infrastructure. After all, Github isn't open source on the server-side and as such it can get quite volatile. I think adopting something like Circle CI so we have a clearer exit strategy to Gitlab/Gitea/etc. in case things go south with Github the same way they did with Travis makes sense

[2020-11-23 16:01] alat-rights commented on #2231
Here's my proposal for a sort of maximal reasonable security approach in this regard.

[code]

Here's the problem with 2FA: it relies on infrastructure security. The recent Twitter hack (wherein the attacker was purportedly able to directly access the CPanel and thus attain control of any account) shows that this is an incredibly flawed approach.

While enforcing 2FA is a low-risk, low-cost approa

[2020-11-23 18:32] peastman commented on #2303
No idea.  I've never used colab.

[2020-11-23 18:55] rbharath commented on #2303
I'm seeing an issue here as well. When I click the "Open in Colab" link on the tutorials, I'm seeing a "This content is blocked. Contact the site owner to fix the issue." I'm not sure what's up there...

[2020-11-24 00:29] alat-rights commented on #2231
Just to add to this, I think AWS would support 2FA also.

[2020-11-24 01:15] rbharath commented on #2289
I'd be pretty open to us exploring Circle CI as well! Github Actions I think is nice to get in place because it's well supported and @nd-02110114 has done a lot of initial work to get us off the ground there. Longer term, having both Github actions and Circle CI in place seems smart :)

[2020-11-24 01:57] rbharath commented on #2231
@alat-rights Thanks for putting this together! As a couple of basic questions to help me understand further, what would this entail for our reviewers in practice? It might be a bit of a lift to require reviewers to purchase yubikeys (I have one, but I'm not sure who else has one. If you're also on a yubikey, please chime in!)

I might be wrong, but I think our threat model is fairly low. Our softw

[2020-11-24 02:06] alat-rights commented on #2231
Even something like TOTP (eg. Google Authenticator) would be much more secure than SMS.

That's good information to know! I think a 2FA requirement for reviewers is probably a very low bar (if a reviewer doesn't have a phone/tablet *or* a yubikey it becomes a bit problematic), and even across the board for commiters is probably not that difficult. Sounds a bit like a low cost/low-to-medium reward

[2020-11-24 02:58] peastman commented on #2289
I wouldn't worry about it too much.  Switching CI systems just seems to be one of those things you need to do now and then.  I have another project that currently uses three(!) of them: Travis, Azure, and Jenkins.  And it used to use AppVeyor before we switched that build to Azure because it was too slow.  And now we're looking into replacing Travis with Github Actions.  It's a bit of a pain to sw

[2020-11-24 04:02] alat-rights commented on #2289
Ah, that's fair enough! Thx for weighing in

[2020-11-26 10:08] HFooladi commented on #1198
I have written a short document, reviewing most of the prominent papers in this direction. I think you can consider it as an initial step.
[papers_retrosynthsis.pdf](https://github.com/deepchem/deepchem/files/5602055/papers_retrosynthsis.pdf)

[2020-11-28 12:13] Khalimat commented on #1861
Could you please inform, when I can expect the new release? I need scikit-learn>=0.23  (imbalanced-learn has such requirement) and deepchem in the same environment, but right now I still have problems with importing deepchem due to dependencies issues.

Thanks!

[2020-11-29 07:12] rbharath commented on #1861
@Khalimat Would it be feasible to use the nightly build for now? We're very close to the new release but have a couple of final tests to add in before we can make the cut. It'll probably be a week or two at the least. Sorry for the delay!

[2020-12-01 00:35] peastman commented on #2150
The [new version of AlphaFold](https://deepmind.com/blog/article/alphafold-a-solution-to-a-50-year-old-grand-challenge-in-biology) was just announced at CASP14.  It looks like a huge leap over their previous version.  They don't have a paper yet, but it should come eventually.  The abstract provides just enough information to be intriguing.

[2020-12-03 23:53] alat-rights opened #2308 "Training a Normalizing Flow: “module 'selfies' has no attribute 'multiple_selfies_to_hot'”"
Hey everyone,

I’m modifying @ncfrey ’s Normalizing Flow tutorial to work on the MolNet BBBP dataset, and I’m facing an issue.

The code block that throws the error is:
`onehots = sf.multiple_selfies_to_hot(selfies_list, largest_selfie_len, selfies_alphabet)`

The error thrown is:
`module 'selfies' has no attribute 'multiple_selfies_to_hot'`

Was wondering if someone knew why that could be the cas

[2020-12-04 00:53] rbharath commented on #2308
@alat-rights I'll defer to @ncfrey but I think that you might possibly have an old version of selfies? I think `multiple_selfies_to_hot` was a new utility method @ncfrey added in the most recent version of selfies

[2020-12-04 01:40] alat-rights commented on #2308
Interesting. I ran the import code given by Nathan’s tutorial in Colab. I’ll take a closer look and report back.

[2020-12-04 02:03] Jiang-Lu-CAS opened #2309 "Bugs of sklearn model in deepchem-nightly edition"
Hi, I tried to run a simple random forest classification model. It worked well in deepchem-stable edition both for small datasets and large datasets. But when it comes to deepchem-nightly edition. It works well when I load in small dataset (<3000 mols), but when I load a larger dataset (>10000 mols), it failed.

Here is the ValueError:

Here is the code:
` def model_builder(model_dir):
  sklearn_m

[2020-12-04 09:07] alat-rights commented on #2308
Hey! So I looked over the code and made sure that I was importing the latest version of SELFIES, selfies-1.0.2. I think the issue is something else.

[2020-12-04 09:26] alat-rights commented on #2308
Hey, update: my friend thinks that the issue might be that 'multiple_selfies_to_hot' isn't actually a documented fn. in SELFIES... Could it be that the function can't be called because it's not exported? In that case, how did the tutorial run it?

[2020-12-04 09:55] chstem opened #2310 "pip install fails: incorrect metadata"
Installing deepchem using pip 20.3 results in the following error message:

[code]

Apparently, there are two slightly different timestamps used in the packaging of a deepchem release for pypi.

This seems to be related to the new resolver used by pip, since using pip version 20.2 this error only occurs if `--use-feature=2020-resolver` is used.

[2020-12-04 10:02] vpohl opened #2311 "Disallow pull requests with failed CI pipelines"
Hi there,

would it be possible that you require successful CI pipelines before merging to `master`? So that there is always a working current version of the repo.

This required check can be simply in the project settings, e.g.,
![101149036-a9c34e80-361e-11eb-8f76-d986fa70ecc0](https://user-images.githubusercontent.com/15653922/101150043-02dfb200-3620-11eb-8bb3-d6dcc850dee3.png)

[2020-12-04 11:00] yuanjames opened #2312 "Bug - GraphConv Predict Method Outputs Wrong Size Result"
G = GraphConvModel(n_tasks=1, mode='regression', batch_size=100)
Y = G.predict(train_datasetG, output_types=['output', 'neural_fingerprint'])

The output show len(Y) is 1000, even the training_datasetG.X is (902)

[2020-12-04 12:38] alat-rights commented on #2308
Hey @seyonechithrananda could you take a look here? I could only find multiple_selfies_to_hot in two data_loader.py files, one in examples and one in code from original code. Outside, there is a batch_selfies_to_flat_hot and I tried to call that instead but it behaves differently, apparently.

I was wondering if you could help give me some insight? How should I go about calling multiple_selfies_to

[2020-12-04 12:48] alat-rights commented on #2308
It turns out that v1.0.2 was released in Oct. I'm going to roll back to v1.0.1 of SELFIES and see if that changes the issue :)

[2020-12-04 14:19] ncfrey commented on #2308
Hi @alat-rights, thanks for this catch! It looks like they have renamed this function to `batch_selfies_to_flat_hot` in `selfies.utils`, so the tutorial needs to be updated. If you're running the latest version of `selfies` you should be able to modify the function name to get it to work.
https://github.com/aspuru-guzik-group/selfies/blob/64b144e1fc864c1246b8c0c2c7c36ff4696057c2/selfies/utils.py#L

[2020-12-04 14:48] alat-rights commented on #2308
Hi @ncfrey ! Thanks for the timely reply. I tried to call the new function with the same argvs but I'm getting a valueerror?

[2020-12-04 16:12] ncfrey commented on #2308
It seems the order of the params switched around, so `selfies_list` -> `selfies_batch`, `largest_selfie_len` -> `pad_to_len`, and `selfies_alphabet` -> `vocab_stoi`. I think the types are the same so hopefully you can reorder the inputs and it should work without actually changing them.

[2020-12-04 17:36] rbharath commented on #2311
@vpohl This is definitely a fair request! Our challenge is that often CI fails due to flaky numerical tests or downstream package updates that affect only a tiny portion of DeepChem. It hasn't seemed worth it to cut everything off for small errors in the past, but perhaps this needs to change now that the project is higher profile and has more users.

@peastman @ncfrey @nd-02110114 @seyonechithran

[2020-12-04 17:37] rbharath commented on #2312
Ah that's definitely a bug then! Hmm I'm not sure what's happening. Will mark this as a bug.

[2020-12-04 17:40] rbharath commented on #2310
Hmm, this is unfortunate. It seems we might need to tweak our pip infrastructure to be more robust to the new resolver.

@nd-02110114 Would you have any thoughts off the top of your head? I think you've been looking at upgrading the pip infrastructure recently

[2020-12-04 17:41] peastman commented on #2311
I would also vote against this for the reasons you list.  For example, at this moment we have a test that just started failing on travis, but we haven't been able to reproduce the failure locally.  Tracking down the cause is a high priority, but I don't think we should block all other PRs from being merged while we do it.  This sort of thing happens frequently.

[2020-12-04 23:33] alat-rights commented on #2308
Hi @ncfrey !

It seems like selfies_alphabet and vocab_stoi behave differently; it appears that vocab_stoi takes in single character representations of atoms while selfies_alphabet is a little more complicated (and is also a list as-is), I was wondering if you had any ideas as to how to approach?

Thanks.

[2020-12-04 23:36] alat-rights commented on #2308
![image](https://user-images.githubusercontent.com/54920181/101225502-ed788f80-36d4-11eb-8e0c-648f9ad6560d.png)

[2020-12-05 16:04] HFooladi opened #2314 "Models and Metrics for Molecular generation"
I am going to implement some of the generative models (VAE, AAE, ...) for molecular generation in deepchem. For this purpose, I think [moses](https://github.com/molecularsets/moses) library can be a good starting point. They have benchmarked different generative models and provided a set of metrics to evaluate the quality of generated molecules.

I think at first, I will try to add one or two mode

[2020-12-06 04:45] alat-rights commented on #2308
Hi! Sorry for not clarifying the above image.

That was the error I receieved after passing dict(zip(selfies_alphabet, range(len(selfies_alphabet)))) as the vocab_stoi parameter to fix the type mismatch issue.

I was wondering if you anyone has insight here? @ncfrey

[2020-12-07 20:46] ncfrey commented on #2308
There is a new example in the SELFIES repo here: https://github.com/aspuru-guzik-group/selfies#label-integer-encoding-selfies that hopefully will be of some help.

It seems that there's an extra step now, after constructing the alphabet you have to do
`vocab_stoi = {s: i for i, s in enumerate(alphabet)}` to get `vocab_stoi`. Then I think you'll have to specify `enc_type='one_hot'` to get one hot e

[2020-12-08 00:34] alat-rights commented on #2308
Ok! Should the final call look something like `onehots = sf.batch_selfies_to_flat_hot(selfies_list, symbol_to_idx, largest_selfie_len, enc_type='one_hot')` or sholud it actually be a call to `selfies_to_encoding`?

[2020-12-08 00:45] alat-rights commented on #2308
It looks like calling `selfies_to_encoding` was the fix! Will update once I get this running and hopefully put it into a PR soon.

[2020-12-08 01:12] alat-rights commented on #2308
I don't feel the need to make a new issue for this, but I've ran into another bug down the line on the tutorial:

There was a list index out of range error here:

![image](https://user-images.githubusercontent.com/54920181/101424115-d38db580-393d-11eb-8131-27ccaf337681.png)

I'm having a bit of trouble reading the code. Do you have any idea as to what's happening?

@ncfrey

[2020-12-08 01:35] alat-rights commented on #2308
Hm, fixed that. WIll be in the PR :))

[2020-12-08 02:15] alat-rights commented on #2308
Hey @ncfrey I've been able to resolve all of the errors, but there are still some sticking points and weirder problems that I'm trying to iron out.

Would it be possible for us to meet online sometime soon? My availability looks quite similar, and afternoons/evenings eastern time generally work great for me.

[2020-12-08 14:31] ncfrey commented on #2308
Yeah for sure! I'll send a calendar invite and feel free to adjust the time if needed.

[2020-12-08 23:25] peastman commented on #2112
I was looking into the bioinformatics tutorial.  I'm a bit confused, because it has nothing to do with DeepChem.  It's a tutorial on how to do basic sequence manipulation with BioPython.  It does end with a cell that says, "TODO(rbharath): Continue filling this up in future PRs."  Was this meant to be just the start of a tutorial, and it never got finished?  If so, what else was it meant to includ

[2020-12-09 20:36] rbharath commented on #2112
@peastman Yes you're right! Unfortunately this was to be the start of a sequence and it never got finished. The goal was to work up to the material we present in the book chapters on bioinformatics (or other ML in bioinformatics applications like transcription factor binding site prediction)

[2020-12-09 21:00] rbharath commented on #2314
@HFooladi Awesome! Feel free to ask questions or raise discussions here :)

[2020-12-09 22:19] LarsAC commented on #2310
For use of pip 20.3 I could solve using additional option `--use-deprecated=legacy-resolver`. As per pip documentation, this option will go away in 21.0, though.

[2020-12-09 23:24] HFooladi commented on #2314
Current metrics for evaluation of generated molecules are:

- Validity (if the output is SMILES, check whether it is valid or not, both syntactically and semantically)
- Frechet ChemNet Distance ([FCD](https://pubs.acs.org/doi/10.1021/acs.jcim.8b00234))
- Fragment similarity
- Scaffold similarity
- Similarity to nearest neighbor (SNN)
-  Diversity (which is based on Tanimoto similarity)
- Distribu

[2020-12-10 00:17] ncfrey commented on #2314
Great list! You should be able to check validity for any output by transforming it into a SMILES.

The only two metrics I'd add are from the [GuacaMol paper](https://pubs.acs.org/doi/pdf/10.1021/acs.jcim.8b00839):
* Uniqueness: standard metric for penalizing models that generate duplicate molecules
* KL divergence: this might be the same as the "Distribution difference" you mention. It measures th

[2020-12-10 15:20] nd-02110114 commented on #2310
As @LarsAC mentioned, the workaround is the following command.

[code]

The reason why this error happen is that we publish only a tar.gz file through PyPI, not a wheel file.

I understood how `pip install` works from this URL : https://pydist.com/blog/pip-install.
When we run `pip install some_package`, firstly the PyPI resolver searches a `wheel file` which is a built-package format. If the reso

[2020-12-10 15:41] nd-02110114 commented on #2310
The installation from `tar.gz file`

<img width="1269" alt="スクリーンショット 2020-12-10 15 16 26" src="https://user-images.githubusercontent.com/17228098/101793730-749c8c00-3b49-11eb-80ec-bf1d947c97aa.png">

The installation from `wheel file`

<img width="1273" alt="スクリーンショット 2020-12-10 15 29 15" src="https://user-images.githubusercontent.com/17228098/101793717-723a3200-3b49-11eb-9c11-5f4171506979.png">

[2020-12-11 09:31] HFooladi opened #2317 "Some of Dataset object methods does not work with ConvMol featurizer"
Let me begin with a simple code snippet:
[code]
It fails with the following error:
[code]

The reason for this failure is `ConvMol` object has no `dtype` attribute.
https://github.com/deepchem/deepchem/blob/355954b37d333fc3e2c3b3e28d103297eb642769/deepchem/data/datasets.py#L526-L527

There are other `Dataset` object methods that do not work with the `ConvMol` object. For example, the following sni

[2020-12-11 17:25] peastman commented on #2317
I'm not sure there's much we can do about this, except perhaps throw an exception with a slightly more informative error message.  DeepChem datasets can contain arbitrary objects.  TensorFlow datasets can't.

[2020-12-12 15:32] HFooladi commented on #2312
This is a batch_size dependent behavior, and It occurs because the last batch does not stop at the number of samples. Let me explain it with an example:
[code]
Here test_dataset contains 113 samples. Now, let's build the Graph Conv Model.
[code]
Here, the batch_size of the model is 100. So, for prediction, it goes fully through the first batch (because 113>100), but the second batch must stop at 1

[2020-12-13 02:48] alat-rights commented on #2299
This tutorial is no longer in the tutorial list. Issue closed.

[2020-12-13 02:48] #2299 closed

[2020-12-13 02:51] alat-rights commented on #2303
Quick bump on this. I think it's really important for onboarding new users. Any idea as to how we can fix this?

[2020-12-13 13:19] mufeili opened #2323 "RuntimeError: 1D target tensor expected, multi-target not supported"
The error is located at [L203, SparseSoftmaxCrossEntropy](https://github.com/deepchem/deepchem/blob/master/deepchem/models/losses.py#L203), where `output` is of shape `(N, C)` and `labels` is of shape `(N, 1)`. In this case, `CrossEntropyLoss` expects `labels` to have shape `(N)` and we may fix that with `labels.squeeze(-1)`. Meanwhile, this loss function is supposed to support multitask as well a

[2020-12-13 14:32] nd-02110114 commented on #2323
In my understanding,
in the case of single task, SparseSoftmaxCrossEntropy expects
labels have shape `(batch_size)` and outputs have shape `(batch_size, num_classes)`.
in the case of multi task, SparseSoftmaxCrossEntropy expects
labels have shape `(batch_size, num_tasks)` and outputs have shape `(batch_size, num_tasks, num_classes)`.

[2020-12-13 18:03] peastman commented on #1752
I made some improvements to ButinaSplitter a while back.  It's now fully functional.

[2020-12-13 18:03] #1752 closed

[2020-12-13 18:22] peastman opened #2324 "Improved splitting method"
I'm opening this as a place to describe something I'm working on and get feedback about it.

We recently changed the molnet loader functions to use scaffold splitting instead of random splitting, which is a big improvement.  But there's room for further improvement.  On small datasets I've found that Butina splitting works even better.  Unfortunately, it crashes on larger datasets.  I think that's

[2020-12-13 18:24] mufeili commented on #2323
When I tried fitting a GCNModel on BACE, I encountered this error. It seems that `labels[0]` [here](https://github.com/deepchem/deepchem/blob/master/deepchem/models/torch_models/gcn.py#L352) is of shape `(batch_size, 1)`. Is this expected? If not, should I modify the code for `GCNModel` or `TorchModel._prepare_batch`?

[2020-12-13 20:58] peastman commented on #2323
Can you post an example that produces an error?

[2020-12-14 04:38] peastman commented on #2324
I came up with a very simple algorithm that seems to work quite well.  It adds molecules one at a time, alternating between the two groups.  At each step it does the following:

1. Identify the unassigned molecule that is least similar to anything in one group.
2. Add it to the other group.

To test it, I compared several splitting methods: random, scaffold, butina, and fingerprint (my new method)

[2020-12-14 05:16] mufeili commented on #2323
See below. You may need to use the latest code in the master branch.

[code]

[2020-12-14 15:38] ncfrey commented on #2324
This is really cool! It does seem like your fingerprint method is creating a situation where the validation set is out of distribution. For materials datasets it's uncommon to do any kind of "scaffold" splitting. Some papers have recommended [k-means clustering](https://pubs.rsc.org/ko/content/articlehtml/2018/me/c8me00012c) for small datasets and I've used that, but that runs into the O(n^2) prob

[2020-12-14 20:22] rbharath commented on #2324
This is super cool! This is a robust separator that seems to really stress test out-of-distribution behavior. I've noticed in live deployments, scaffold split often still underestimates true experimental performance, so I think there would be a lot of value in this new fingerprint splitter for applications.

As a a couple of thoughts/comments:

1. It might be useful to see if we can run the new fi

[2020-12-14 20:45] peastman commented on #2324
This raises the question of how to evaluate splitting methods.  Looking at some papers, they mostly seem to assume that a "harder" splitting is always better.  I don't think that's necessarily true.  If you make it too hard, that won't give a good representation of the real quality of your model.  As an extreme example, if a particular bit of the fingerprint is never set for any training sample, t

[2020-12-14 21:41] rbharath commented on #2303
@alat-rights I just tried clicking the Open in Colab link on tutorial 1 and it seems to work fine for me now. Could you check that you're still facing the error?

[2020-12-14 21:53] peastman commented on #2324
I managed to speed it up a fair amount.  Loading HIV is down to 267 seconds.  500,000 molecules would still take several hours, but I think it ought to work.

I'll clean up the code and create a PR.

We already have a class called FingerprintSplitter, but it's way too slow to be useful (several minutes to split BACE), and its memory scales as O(n^2).  The way it works is actually closely related t

[2020-12-14 22:43] alat-rights commented on #2303
Huh. Yup it fixed itself. Closing this issue, feel free to reopen if anything comes up.

[2020-12-14 23:58] alat-rights commented on #2308
That PR failed horribly, accidentally checked in a Conda installer, but I WILL MAKE ANOTHER ONE, I already have all the necessary changes made on a Colab doc, this issue will be closed soon y'all!

[2020-12-14 23:59] alat-rights commented on #2159
Hey, were you able to resolve the issue?

[2020-12-15 17:46] #2279 closed

[2020-12-16 02:54] nd-02110114 commented on #2323
I understood the situation. I think there are two options.

- Modify the return shape of label about load_bace_classification.
  - Maybe we need to modify the other load_XXX function as well.
- Modify `_prepare_batch` of `GCNModel `
  - Maybe, we need to modify the other models as well.

Given the first option brings the breaking change, I think the second option is better.

[2020-12-16 03:29] mufeili commented on #2323
Can we modify the [`_prepare_batch`](https://github.com/deepchem/deepchem/blob/f49416bede5efb9f3241a9ce538fc894e9670eaf/deepchem/models/torch_models/torch_model.py#L834) function of the base class `TorchModel` instead?

[2020-12-16 03:48] nd-02110114 commented on #2323
Why do you want to modify the _prepare_batch function of the base class `TorchModel`...? Is there any reasons?

I have understood this issue happens when using some specific loss function. TorchModel accepts various loss functions, so the modification affects all loss function if we modify the _prepare_batch function of the base class TorchModel. I thinks such a situation is not good.

And, basica

[2020-12-16 04:12] mufeili commented on #2323
I see. Make sense. I will make a PR for that.

[2020-12-16 06:37] alfredoandere opened #2327 "Tutorial 5 uses dc.model.TorchModel but version 2.3 does not include it?"
## 🐛 Bug

In tutorial 5: Creating models with Tensorflow and Pytorch there is a section on how to transfer a Torch model into a deepchemm.model object. When I run this in the Jupyter notebook it runs fine, but when I run the same code in my own machine it tells me

File "tutorials/dc_tutorial_5.py", line 41, in <module>
    model =  dc.models.TorchModel(pytorch_model, loss)
AttributeError: module

[2020-12-16 07:00] nd-02110114 commented on #2327
DeepChem 2.3 doesn't include `dc.model.TorchModel`.
If you want to use `TorchModel`, please use the nightly build version.

[2020-12-16 07:01] alfredoandere commented on #2327
I see, thats what I imagined. Thanks for the prompt clarification!

When will 2.4 stable be released?

[2020-12-16 07:06] nd-02110114 commented on #2327
I don't know the details about the next release date.
Maybe, @rbharath  knows when we can publish the next release.

[2020-12-16 19:08] dkurt opened #2329 "No ANIRegression model"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

## Environment

* OS: Ubuntu 18.04
* Python version: 3.6.9
* DeepChem version: 355954b37d333fc3e2c3b3e28d103297eb642769
* RDKit version (optional):
* TensorFlow version (optional):
* PyTorch version (optional):
* Any other relevant information:

## Additional context

[2020-12-17 09:11] BJWiley233 commented on #1817
Another type in tutorial 5 under ClassificationModel it has:

`tasks, datasets, transformers = dc.molnet.load_bace_classification(feturizer='ECFP', split='scaffold')`

but it should be `featurizer` and `splitter` as in

`tasks, datasets, transformers = dc.molnet.load_bace_classification(featurizer='ECFP', splitter='scaffold')`

[2020-12-17 17:50] peastman commented on #1817
Not a typo: at the time this was written, the argument was called `split`.  We just recently introduced the `splitter` argument (but still support `split` as a synonym for backward compatibility).  We should go through all the tutorials and make them use the new name.