[2018-05-27 13:37] hovo1990 commented on #1200
Hello,
I also have issues while running tests.
I installed in a separate conda environment and used this command in the environment:

conda install -c deepchem -c rdkit -c conda-forge -c omnia deepchem-gpu=2.0.0 python=3.5

I get these errors, it appears there is an issue with rdkit.

======================================================================
ERROR: Check num samples for loaded and rel

[2018-05-27 16:48] tshauck commented on #1268
@rbharath I've opened a PR [here](https://github.com/deepchem/deepchem/pull/1278) to get feedback, thanks!

[2018-05-27 21:38] 1particle opened #1279 "WeaveModel becomes a memory hog, gives seg fault"
I have been able, in the past, to run WeaveModel on a small dataset of peptides with their MIC values as the target. Trying to repeat that partial success on a dataset of larger proteins (most of them around 70 aa in length) has completely failed, and I get segmentation faults all the time.

I run the CPU version of deepchem (version 2.0) on the [Niagara](https://docs.computecanada.ca/wiki/Niagara

[2018-05-27 21:41] sophia-wright-blue opened #1280 "Extract first task in Dataset"
How do I extract the data for the first task in train_dataset?

I have the code:

[code]

train_dataset contains many tasks. I would like to extract the first task. I tried different ways, but could not get it to work. Thank you.

[2018-05-27 21:59] peastman commented on #1280
The easiest way is just to pull out the individual arrays: `dataset.X[:,0]`, `dataset.y[:,0]`, and `dataset.w[:,0]`.  For larger datasets you might not want to load the whole thing in memory at once, so you could use `iterbatches()` to get the arrays for smaller batches of samples.  Tox21 is small though, so that isn't necessary here.

[2018-05-27 22:05] sophia-wright-blue commented on #1280
Thank you for your reply. I'm trying to modify the following code to only train the first task:

[code]

I can extract the first task from tox21_tasks by doing tox21_tasks[0]. The next line: model.fit requires just one argument. Instead of giving it all of the data in train_dataset, which throws an error, I'd like to give it the data for just the first task, so do something like

[code]

What is t

[2018-05-28 04:08] peastman commented on #1280
I think something along these lines will do what you want.

[code]

[2018-05-28 11:24] #1277 closed, assigned to nobody

[2018-05-29 17:28] rbharath commented on #1038
@Chasearmer We put some effort into exploring whether we could use Keras instead of TensorGraph, but this looks like it won't work. On the technical side, some needed features aren't well supported in Keras. We didn't have much response from the Keras community when we floated the idea of a PR to add these features either.

We would like to better support DeepChem users who are using Keras and Dee

[2018-05-30 04:53] nitinprakash96 commented on #1179
I tried some of the ways to do this. I tried constructing a Nx3 matrix of cartesian coordinates and compute neighbour list using that. But I keep running into `ValueError: Bad Conformor Id` whenever I try to convert the Atomic units from Angstrom to Bohr.

Is there a way to tackle this? I'm using https://github.com/deepchem/deepchem/blob/master/deepchem/feat/atomic_coordinates.py as my reference.

[2018-05-30 06:59] #1271 closed

[2018-05-30 22:44] rbharath commented on #1179
@nitinprakash96 Can you post a minimal failing example? Will take a look

[2018-05-30 22:51] rbharath commented on #1279
Hmm, interesting. I think the segfault might be caused by the input data, since the Tox21 example looks to be running fine.

Would it be possible to share a failing datapoint? I think the segfault might be coming from RDKit, but hard to say for sure.

CC @miaecle

[2018-05-30 22:53] rbharath commented on #1200
It looks like some of your data files might be missing from your install. Could you check to see that they're present and try adding them in if not?

[2018-05-31 19:17] timaro opened #1281 "Graph conv Weights_28/Placeholder dimension mismatch"
**Description:**

Trying to train a GraphConvTensorGraph, I get the following exception with DeepChem HEAD:

[code]

This exception does not happen on the same code, when using the most current release version.

- DeepChem Version: HEAD (2.0.1.dev250; commit 1b171da623799b47871b95349b96ff2b139e3f41)
- Platform: Ubuntu 16.04
- Relevant libs: tensorflow-gpu  1.6.0

[2018-05-31 19:39] peastman commented on #1281
Can you provide example code to reproduce the problem?  TensorGraph is supposed to automatically add or remove dimensions of size 1 as necessary to make the values in the dataset match the expected inputs.

[2018-05-31 19:56] JZuegg opened #1282 "Extending Fingerprints to calculate counts"
Hi,

Below a small addition to fingerprint.py which I have been using to calculate counts (rather than bits) for CircularFingerprints.... which you might want to add to deepchem.
The change is just adding a count parameter to the function, and corresponding count calculations.

My scientific rational is that as medicinal chemist the number of a chemical group present in a molecule matter, like one

[2018-05-31 21:03] timaro commented on #1281
I'm doing nothing special: creating a GraphConvTensorGraph and calling
fit():

model = GraphConvTensorGraph(1, batch_size=100, mode="classification")
model.fit(data, nb_epoch=10)

The data instance is a NumpyDataset with dimensions:

data.X.shape -> (9910,)
data.y.shape -> (9910, 1)

Again, the training works correctly on release 2.0. It's only HEAD that is
failing. I see that you made a commit on

[2018-05-31 21:09] timaro commented on #1281
Yes, reverting commit 2fba2bbcd68e7a145e7fdd584f8b19b75d875b95 fixes the problem.

[2018-06-01 00:10] peastman commented on #1281
I don't suppose you can provide a self contained test case?  I've been trying to put something together, but without success.  Here's where TensorGraph reshapes the input arrays: https://github.com/deepchem/deepchem/blob/master/deepchem/models/tensorgraph/tensor_graph.py#L1297-L1309.  As far as I can tell it's working correctly.  Something must be different about your case, but I'm not sure what.

[2018-06-01 00:27] tshauck commented on #1268
I think this can be closed with the merging of deepchem/deepchem#1278.

[2018-06-01 00:32] TBomberman commented on #1268
I am new to open source development but how is testing conducted?

[2018-06-01 01:05] timaro commented on #1281
See my comment on the PR. I've already isolated the bug: it is entirely
attributable to removal of the reshape calls on the NumpyDataset class. For
inputs of shape (N,), they were formerly converted to shape (N, -1), but
now are not. Fixing this is enough to satisfy Tensorflow.

Essentially, the old code (before your commit) allowed inputs of form
np.array(N), and the new code (after your commit)

[2018-06-01 01:21] tshauck commented on #1268
@TBomberman You can see the PR here: https://github.com/deepchem/deepchem/pull/1278. In particular the tests are here: https://github.com/deepchem/deepchem/pull/1278/files#diff-e0f7ba235d6fb0313ace07dee2fcfcce.

In short, I created a mock fastq and fasta files with random letters. The function call is `encode_bio_sequence` which accepts a set of letters which are contained within the sequence. For

[2018-06-01 01:41] zhouhao-learning commented on #1270
@lilleswing
Hello! Do you have time to see my reply? I haven't solved this problem yet, but my code is really able to run.

[2018-06-01 01:44] timaro commented on #1281
To answer your specific question re:TensorGraph line 1297-1309, the code is never getting there. It's failing at line 257:

https://github.com/deepchem/deepchem/blob/9b13b31a3171ad812448c75547a0d5ab2ed84264/deepchem/models/tensorgraph/tensor_graph.py#L257

Which, from the backtrace, appears to be at the point when tensorflow is initializing placeholder variables. AFAICT, no data is loaded.

[2018-06-01 04:13] peastman commented on #1281
The old code was simply wrong.  It caused a lot of problems, and we fixed it.  It turns out there was other code relying on that incorrect behavior, so now we have to fix the other code too.

They're on different threads.  Here's where a thread gets started to feed the queue by calling `_enqueue_batch()`:

https://github.com/deepchem/deepchem/blob/master/deepchem/models/tensorgraph/tensor_graph.py

[2018-06-01 04:44] #1268 closed

[2018-06-01 06:07] timaro commented on #1281
Yes, I saw that. I set a breakpoint inside the thread and it never tripped. I then made a deduction (possibly incorrect) that the exception message was correctly worded, and referencing placeholders for weights, not data.

Regardless, the *cause of the exception seems unambiguous*: I'm passing in a y-value tensor of shape (N,), which the 2.0 release code handled. The code in HEAD now expects shape

[2018-06-01 08:17] herbert0525 opened #1284 "How could I fully turn the tox21 GraphConvModel example into a single-task model?"
** I have modified the load_tox21 function, deleted redundant labels in order to use a single-labeled dataset. It went well when I just proceeded with the default GraphConvModel. However, when I tried the instruction of building TensorGraph in the tutorial with the data, there was an error at the stage of evaluating the model. Traceback is given below. So how could I deal with that? Thanks.**

- D

[2018-06-01 14:27] peastman commented on #1281
It's referring to the dataset's `w` matrix.

No, callers are not required to reshape their data.  TensorGraph is supposed to be smart enough to handle it.  That's why I really need a way to reproduce this.  In all my tests it's working fine.  Clearly there is something different about your case, but since I haven't seen your code or your dataset, it's impossible for me to know what.

[2018-06-01 17:14] nitinprakash96 commented on #1179
[code]

And the error is `ValueError: Bad Conformer Id`

[2018-06-01 17:40] timaro commented on #1281
I've described exactly what I'm doing. There's nothing fancy or different.
Again:

* My X values are an N-length python list of ConvMol instances
* My Y values are an N-length python list of integers (binary values)

(X and Y have identical lengths. They are both simple, 1D python lists.)

These are wrapped in np.array, and passed into the initializer for a
NumpyDataset:

```NumpyDataset(np.array(

[2018-06-01 20:06] timaro commented on #1281
Update:

The reason the tensors aren't being reshaped is because the queueing code is never being called at all. GraphConvModel explicitly sets use_queue to false:

https://github.com/deepchem/deepchem/blob/master/deepchem/models/tensorgraph/models/graph_models.py#L601

[2018-06-02 03:30] peastman commented on #1281
Thanks!  Those extra details gave me the clue to figure out what was different between your test and mine.  I can now reproduce this.  I'll try to get a fix in within the next few days.

Does anyone know why GraphConvModel is disabling the queue?  Was that done for a good reason?

[2018-06-02 06:07] zhouhao-learning opened #1285 "WeaveTensorGraph Cannot create a model"
I tried using WeaveTensorGraph to create models and train them, but I got the wrong information in the source code.
This is my code:

[code]

But this code can run:

[code]

This is a mistake:

[code]

This is the error in the source code, it shouldn't be.I'm using the formal version of deepchem2.0.0, python3.6

[2018-06-03 16:52] rbharath commented on #1285
Interesting. This line seems to have been replaced in HEAD:

https://github.com/deepchem/deepchem/blob/master/deepchem/models/tensorgraph/models/graph_models.py#L140

You could try upgrading to HEAD perhaps. I'd recommend doing this in a new conda environment, since some folks are having segfault issues with HEAD due to conda/rdkit.

[2018-06-03 17:41] rbharath commented on #1179
I think we deprecated `pdbbind_core_df.csv.gz` a while back. Try instead using the function `featurize_pdbbind` from `dc.molnet.load_function.pdbbind_datasets.featurize_pdbbind` to featurize an atomic conv dataset.

[2018-06-03 17:46] rbharath commented on #1284
Could you provide us a minimal failing code sample? It's not clear what's happening here.

[2018-06-03 17:48] rbharath commented on #1270
@zhouhao-learning We're quite sympathetic, but we need a simpler minimal failing code sample to debug. Ideally, a minimal failing sample is < 30 lines and can be posted directly on the Github issue or in an associated gist.

[2018-06-03 19:33] rbharath commented on #1197
Closing this issue for now. Feel free to re-open if necessary.

[2018-06-03 19:33] #1197 closed

[2018-06-03 19:34] #1199 closed

[2018-06-03 19:35] rbharath commented on #1206
Closing this issue since it's been inactive for a while. Feel free to re-open if necessary.

[2018-06-03 19:35] #1206 closed

[2018-06-03 19:36] rbharath commented on #1208
Closing this issue since it looks like the problem's been solved.

[2018-06-03 19:36] #1208 closed

[2018-06-03 19:36] #1209 closed

[2018-06-03 19:37] rbharath commented on #1219
Marked this contributions welcome. Experiments would be good additions to `contrib/` folder for now.

[2018-06-03 19:38] rbharath commented on #1222
Could you provide us a minimal failing code sample for us to look at?

[2018-06-03 19:38] #1224 closed

[2018-06-03 19:39] rbharath commented on #1232
Marked this as contribution welcome.

[2018-06-03 19:40] rbharath commented on #1237
@xiaohongniua Are you still facing this problem? If so, could you provide us a simplified failing test case? Ideally < 30 lines, with unnecessary code removed to help us debug.

[2018-06-03 19:41] #1234 closed

[2018-06-03 19:41] rbharath commented on #1239
Closing since it looks like issues have been worked out.

[2018-06-03 19:41] #1239 closed

[2018-06-03 19:43] #1243 closed

[2018-06-03 19:44] rbharath commented on #1244
Going to close this since it looks like issue was figured out. Please re-open if necessary.

[2018-06-03 19:44] #1244 closed

[2018-06-03 19:45] rbharath commented on #1245
@peastman Is this one on your TODO list already? Feel free to remove the contribution labels if so.

[2018-06-03 19:46] #1257 closed

[2018-06-03 19:49] #1280 closed

[2018-06-03 20:29] peastman commented on #1245
There are still other things higher up on my list, so let's leave it in case someone else gets to it before I do.

[2018-06-04 01:56] herbert0525 commented on #1284
@rbharath I guess this is what you would like to see. The data I tried came from a single column of the tox21 dataset, i.e. the 'SR-ARE' column, with mol_id and smiles attatched.

![image](https://user-images.githubusercontent.com/31651783/40894586-53b63fc8-67dd-11e8-8991-63918d11bd1b.png)

[2018-06-04 04:20] zhouhao-learning commented on #1285
@rbharath
According to what you said, I recreated a new environment and installed it through source code. Then my training was still wrong.

This is my code:

[code]
But I got the following error. Isn't this generator in your source code? I just extracted it individually and got the result wrong:

[code]

[2018-06-04 10:04] zhouhao-learning commented on #1270
@rbharath
This file contains my test code and part of the test data. Can you look at it?
[test_code.zip](https://github.com/deepchem/deepchem/files/2067761/test_code.zip)

[2018-06-04 19:12] 1particle commented on #1279
Here's a sample dataset that causes the WeaveModel to halt by a segmentation fault as I explained above:
[Synthetic_large_AMPs__SMILES.zip](https://github.com/deepchem/deepchem/files/2069649/Synthetic_large_AMPs__SMILES.zip)
The data is synthetic (i.e., it's generated from duplicating/triplicating peptide sequences) and the target values are assigned randomly, but it's valid data for training as f

[2018-06-04 22:40] Chasearmer commented on #1275
My current hypothesis for sum_neigh is that it sums the atom vectors of an atom's neighbors into one vector. These are referred to as rel_atoms, while the original atom is referred to as self_atoms. However I do not understand why these are summed. Additionally, I do not understand how this creates a fixed length vector.

My understanding is that one of the main benefits of GraphConv is that it ca

[2018-06-05 01:27] rbharath commented on #1275
Couple brief responses:
- Neighbors are summed to communicate information. The vector for an atom should at each layer incorporate in information from its neighbors.
- Not sure what you mean by fixed length. If each atom has a vector of length n pre summation, it will have one of length n post summation.
- At the very end, the `GraphGather` sums all atom vectors. So if there are m atoms, each with

[2018-06-05 01:47] rbharath commented on #1279
@1particle Would you be able to put together a small test script that uses this dataset and reproduces the seg-fault? We can use that to start debugging on our end.

[2018-06-05 18:33] Chasearmer commented on #1275
@rbharath Thank you for the response, by fixed length vector I was referring to what you described `GraphGather` as doing. I was looking for that functionality in GraphConv itself since I thought it summed all of the atom features of a molecule together such that the dense layers would extract features from molecule vectors and not atom vectors. Thank you that clears up my confusion

[2018-06-05 22:49] #1281 closed

[2018-06-07 01:03] zhouhao-learning commented on #1270
@lilleswing
I have simplified my test code and data again. Can you help me see why my prediction results are different each time?
[test_code.zip](https://github.com/deepchem/deepchem/files/2078614/test_code.zip)

[2018-06-07 13:32] luwry opened #1287 "Molecular melting point test"
The kernel appears to have died. It will restart automatically.
`loader = dc.data.CSVLoader(
      tasks=["MTP"], smiles_field="SMILES",
      featurizer=featurizer)
dataset = loader.featurize(dataset_file)`
how can i solve this problem.I do not know why MTP can not use this featurizer.If i need update ipython.

[2018-06-07 19:01] rbharath commented on #1270
@zhouhao-learning Took a look at. There doesn't appear to be a `__main__`. Can you change it so running the script will reproduce your error?

[2018-06-08 01:42] zhouhao-learning commented on #1270
@rbharath @rbharath
OK, well, I revise the code, you just need to modify the model_dir path in the code, then execute the python train_predict.py, and then output the prediction results, then you need to annotate the train () function, and then execute the train_predict.py file, and you can find that the predicted results are not the same.
[test_code.zip](https://github.com/deepchem/deepchem/files

[2018-06-08 16:00] anusurendra opened #1288 "PDB_bind Dataset Question"
**Description:**
- DeepChem Version: 2.0.0
- Platform: Ubuntu 18.04

Hi, I am going through the tutorials and have question about using the PBD_Bind dataset to predict pIC50/KI. I would like to modify the "Predicting Ki of Ligands to a Protein" from using the BACE dataset to the PDB_bind dataset. I understand that the PDB_bind dataset takes into account the protein/enzyme structure when predicting

[2018-06-09 07:42] luwry opened #1289 "delaney-processed dates question"
**when i use this model to predict molecular melting point,i met some questions that i can not solve **
when i run this code:
loader = dc.data.CSVLoader(
      tasks=["mtp"], smiles_field="smiles",
      featurizer=featurizer)
dataset = loader.featurize(dataset_file)
the problem:
The kernel appears to have died. It will restart automatically.

[2018-06-09 07:44] luwry commented on #1289
IF the modeling solubility example can not predict molecular melting point?

[2018-06-11 02:29] zhouhao-learning commented on #1270
@rbharath
Do you have a problem with me?

[2018-06-11 03:57] nitinprakash96 commented on #1179
Hi, So while the featurization part is okay and I got it working. But in the same `pdbbind_dataset` module. I had a query.
Supposing if we run the following snippet,
[code]

It returns `NoneType object is not iterable`. Is this a bug or I'm doing missing something here?

[2018-06-11 05:18] nitinprakash96 commented on #1179
So looking into it a little more, if we use `grid` featurizer with `load_pdbbind_grid` we get caught into the above error. And doing it manually is no problem.

[2018-06-11 05:50] rbharath commented on #1270
@zhouhao-learning We're genuine in our desire to help, but please realize that we work on this repo on our personal time; it is currently 11pm on a Sunday evening for me. We can help debug, but we expect respectful behavior in return.

Please consider this a warning under our code of conduct.

https://github.com/deepchem/deepchem/blob/master/CODE_OF_CONDUCT.md

On this particular issue, can you si

[2018-06-11 06:08] rbharath commented on #1289
@luwry The model should be able to predict molecular melting point provided a good molecular melting point dataset. I'm not sure why the kernel is crashing though. Could you try running in a plain python script and providing the error message?

[2018-06-11 06:16] rbharath commented on #1288
@anusurendra The model from the BACE dataset is ligand only. That is, it doesn't use information about the protein structure at all. Ligand only models on PDBBind are typically only useful as a control; is that what you're trying to build?

If so, you'll want to construct a `csv` file with the smiles strings and pIC50/Ki values for the PDBBind model.

[2018-06-11 06:20] rbharath commented on #1287
Closing this issue. Feel free to discuss further in #1289

[2018-06-11 06:20] #1287 closed

[2018-06-11 08:14] luwry commented on #1287
@rbharath thanks your reply! I try it again.It occurs the same problem.
Here is program running process：
wangrenyu@wangrenyu-VirtualBox:~$ python Untitled8.py
/home/wangrenyu/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(f

[2018-06-11 16:11] anusurendra commented on #1288
@rbharath
Thanks for the reply. So, if I understand this correctly,I would have to create a `CSV` with the smiles of both the protein and ligand, as well a the associated pIC50/Ki values. This would take into account both the protein and ligand?  Would I then add the other features of the ligand ie. `'MW','AlogP','HBA','HBD','RB','HeavyAtomCount'` ...etc?

[2018-06-11 17:33] #1275 closed

[2018-06-12 15:02] zhouhao-learning commented on #1270
@rbharath @rbharath
Well, thank you very much. I'm now providing my sample code. You can just execute it and you can get the prediction results. You'll find that each execution gets different predictions, but I guarantee that each model is the same, because I've trained a model in this article. Inside

[test_code.zip](https://github.com/deepchem/deepchem/files/2094574/test_code.zip)

[2018-06-13 00:20] rbharath commented on #1288
In this case, you will only have the ligand smiles because the BACE style model doesn't incorporate protein information. To use protein information, you should use `RdkitGridFeaturizer`.

[2018-06-13 15:13] herbert0525 opened #1292 "Why couldn't I set all train_predictions as 'train' in train_valid_test_split?"
Hey, it is about graph convolutions again. After following the full instruction of tutorial 'Graph Convolutions For Tox21', we tried to make the order of the prediction outputs correspond with the order of initial molecule ids. Thus we decided to reset the train/valid/test split from 8/1/1 to 1/0/0, that is to say, we wanted all outputs to be 'train'. However, no matter how did I modify the script

[2018-06-13 18:31] vsag96 commented on #1240
@lilleswing  @rbharath How do you want the functionality to be, should it be a new class with a method which takes in arguments? I am comfortable with python and pytorch, also don't think writing code for accuracy is that hard be it any library/deep learning, I want to take a stab at this, unsure of where to start. Can you please guide me on what is it that you expect so I can start working on it.

[2018-06-13 22:46] rbharath commented on #1240
@vsag96 Thanks for volunteering!

To start with, I'd suggest a new class in `contrib/`. The contribution barrier is a lot lower. Once the API is stabilized, can be migrated into the main project in a future PR.

Want to start a pull request and mark it [WIP]? We can provide feedback on the work in progress.

[2018-06-14 03:01] nitinprakash96 commented on #1179
@rbharath Is there a way to use `TensorflowFragmentRegressor` for acnns?

[2018-06-14 03:48] vsag commented on #1240
Sure I'll read tensorflow and it's workflow a bit and I'll submit a PR maybe by Sunday so bear with me thanks!

[2018-06-14 13:20] bionicles commented on #479
I would love to help integrate DeepChem's moleculenet features with PyTorch!

[2018-06-14 15:22] peastman commented on #479
You should be able to use the MoleculeNet datasets directly with a PyTorch model, no modification required.  Just call `iterbatches()` on the dataset.  It will return an iterator that represents each batch as a tuple of NumPy arrays.

[2018-06-15 14:40] akourm910e opened #1294 "prediction based on .sdf files"
**Description:**
Hello, I am new to deepchem and deeplearning.
I would like to understand something, I train a model from the membrane_permeability example, for this dataset we load the sdf data and the associated csv file. And we train him.
But how does one make prediction on sdf files without the associated csv?
Is it possible ?
Thank you

- DeepChem Version: 2.0
- Platform: ubuntu16.04

[code]

[2018-06-16 15:17] vsag96 commented on #1240
Due to some work related emergencies I won't be able to submit a pr, If anyone else is interested please start working on it.extremely sorry for the inconvenience.

[2018-06-16 20:44] rbharath commented on #1294
Yes, this is possible. Use `SDFLoader` to load the molecules from the SDF file into a `Dataset` object and make predictions.

[2018-06-18 01:41] rbharath commented on #1241
I've uploaded the renamed versions of these datasets to S3:

[code]

[2018-06-18 08:48] akourm910e commented on #1294
Thank you for response,
when i try to load SDF files, it ask me csv file, but i have just the .sdf for my data.
Should i create an empty csv file for my sdf data?

To train model there is no problem, i want to make prediction on my data.

[2018-06-18 08:48] akourm910e commented on #1294
def predict():

    featurizer_func = dc.feat.ConvMolFeaturizer()
    current_dir = os.path.dirname(os.path.realpath(__file__))
    test_dataset = os.path.join(current_dir,
                              "data/test_data.sdf")
    print("About to featurize test dataset.")
    tasks = sorted(['LogP(RRCK)'])
    loader = dc.data.SDFLoader(
                            tasks=tasks, clean_mols=True, feat

[2018-06-18 08:49] akourm910e commented on #1294
def predict():

featurizer_func = dc.feat.ConvMolFeaturizer()
current_dir = os.path.dirname(os.path.realpath(__file__))
test_dataset = os.path.join(current_dir,
                          "data/test_data.sdf")
print("About to featurize test dataset.")
tasks = sorted(['LogP(RRCK)'])
loader = dc.data.SDFLoader(
                        tasks=tasks, clean_mols=True, featurizer=featurizer_func)
dataset

[2018-06-18 08:50] akourm910e commented on #1294
def predict():

    featurizer_func = dc.feat.ConvMolFeaturizer()
    current_dir = os.path.dirname(os.path.realpath(__file__))
    test_dataset = os.path.join(current_dir,
                              "data/test_data.sdf")
    print("About to featurize test dataset.")
    tasks = sorted(['LogP(RRCK)'])
    loader = dc.data.SDFLoader(
                            tasks=tasks, clean_mols=True, feat

[2018-06-18 10:04] #1292 closed

[2018-06-19 21:07] rbharath commented on #1294
This might be an infelicity in our current SDF file handling.

@lilleswing Do we require a csv file for making predictions on SDFs?

[2018-06-21 17:39] lilleswing opened #1297 "Errors in Examples"
**Description:**

- DeepChem Version: master
- Platform: linux

The following examples currently throw exceptions on master.
Checklist is for fixing them one at a time.

- [ ] binding_pocket_rf.py
- [x] sweet.py
- [x] membrane_permeability_graph_conv.py
- [x] bace_rf.py
- [x] qm7_BPSymmetryFunction.py
- [x] qm7_sklearn.py
- [x] hopv_graph_conv.py
- [ ] run_benchmarks.py
- [x] sampl_graph_conv.py
-

[2018-06-21 19:25] peastman commented on #1297
I'll start going through some of these.  I'm working on chembl_graph_conv.py right now.

[2018-06-21 19:43] peastman commented on #1297
chembl_graph_conv.py is fixed (though I'm not sure if the results are correct).  Working on qm7b_DTNN.py.

[2018-06-21 19:50] peastman commented on #1297
qm7b_DTNN.py and chembl_tf_models.py are both fixed.  (I'll send a single PR with multiple fixes in a bit.)

[2018-06-21 19:56] peastman commented on #1297
sider_alternate_weave.py uses `AlternateSequentialWeaveGraph`, which has been moved into contrib.  I don't know how we want to handle that.  Possibly just remove the example?

[2018-06-21 20:24] peastman commented on #1297
There are a bunch of examples that use `SequentialGraph`, which has been moved to contrib.  None of those currently work.  That includes some that aren't on the list above: muv_graph_conv_one_fold.py, sider_graph_conv_one_fold.py, and tox_graph_conv_one_fold.py (as well as sampl_graph_conv.py, which is on the list).

[2018-06-21 23:36] peastman commented on #1297
bace_rf.py is really seriously out of date.  I started trying to fix it, but just kept running into one problem after another, including functionality that seems to work in significantly different ways today than when the example was written.  I think I'm going to ignore that one for the moment.

[2018-06-22 00:03] peastman commented on #1297
sweet.py is another seriously messed up example.  It even includes hardcoded paths to locations in someone's home directory, which means it could never have worked on any other computer.

[2018-06-25 14:11] lilleswing commented on #1294
we do -- it is a legacy thing we should get rid of

@akourm910e you can always make the dataset yourself.

[code]

[2018-06-25 18:17] rbharath commented on #1294
@lilleswing This looks like a really useful utility function. Should we add this somewhere to the main repo?

[2018-06-25 21:28] DorisMai opened #1299 "How to get hidden features of MultitaskFitTransformRegressor()?"
**Description:**

- DeepChem Version: 2.0.0
- Platform: linux

 Is it possible to retrieve hidden features of a model? I would like to get the features/input of the last layer of MultitaskFitTransformRegressor().

I was able to get the output tensor of the layer before the last layer by
[code]
However, none of the following attempts of using eval() to convert the out_tensor to nparray succeeded:
i

[2018-06-25 22:00] peastman commented on #1299
When you call `predict()` on the model (or any of the other prediction methods like `predict_on_generator()` or `predict_on_batch()`), you can use the `outputs` argument to compute something other than the model's default output.  You can't evaluate a single layer in isolation, because it generally won't have a single defined value.  The value of an output depends on what inputs you provide to the

[2018-06-25 22:14] DorisMai commented on #1299
Ah I never noticed that for predict(). So to get the last hidden feature, should I pass the second to last layer as the output?
Also, why doesn't a layer has a single defined value? After training, shouldn't the weights and biases be fixed?

[2018-06-25 22:48] peastman commented on #1299
That depends on the details of the model, and what you mean by "the last hidden feature".  Some layers correspond to the major building blocks you see in model diagrams, like Dense or Conv2D.  Others are more minor calculations, like Cast or ReduceMean.  You'll need to figure out which layer you want to query.

The output of a layer depends both on its parameters (like weights and biases) and also

[2018-06-25 23:14] DorisMai commented on #1299
I see. Thank you for your explanation!

[2018-06-25 23:14] #1299 closed

[2018-06-26 03:43] rbharath commented on #1297
Let's just remover sider_alternate_weave.py since we're not supporting that model anymore.

The one-shot models need to be ported to TensorGraph; a long standing TODO for me...

[2018-06-26 16:03] nitinprakash96 commented on #1179
@rbharath can you please help me out here? The following example should train a simple acnn model on the pdbbind dataset. But it throws the following error:

[code]

Example code:
[code]

[2018-06-26 17:30] VIGS25 commented on #682
@rbharath: Has anyone taken this problem up?
If not, I'd be interested in doing some ground work and then contributing to this.

Regards,
Vignesh (Computational Biology student at ETH Zürich)

[2018-06-26 17:41] rbharath commented on #682
@VIGS25 Go for it! I don't believe anyone is working on this at present. Feel free to ask for help if you run into any issues.

[2018-06-26 17:42] VIGS25 commented on #682
Perfect! I'll get started then.

[2018-06-26 23:59] rbharath commented on #1294
Agree we should swap to an in-memory model for base case. Few datasets are really big enough to justify the on-disk default

[2018-06-27 14:08] anusurendra commented on #1288
@rbharath , Thanks for letting me know. I am look forward to read the tutorial :).

[2018-06-27 22:17] rbharath commented on #1179
Not sure what's happening here. Will need to find some time to sit down and take a crack at this code. Hope to do so later this week.

[2018-06-28 10:23] VIGS25 commented on #599
@rbharath : Update on the same:

1. Installed DeepChem in the Windows Subsystem for Linux and the installation part went through smoothly
2. Ran all the tests and two of them failed. (Error Message below)

======================================================================
FAIL: test_weave_regression_model (deepchem.models.tensorgraph.models.test_graph_models.TestGraphModels)
------------------

[2018-06-28 16:52] peastman commented on #599
I think those are both just stochastic tests that occasionally fail.  They probably don't indicate any problem with the installation.

[2018-06-29 21:48] peastman opened #1301 "Atom2Vec"
We might want to consider adding some of the methods described in this paper.

http://www.pnas.org/content/early/2018/06/25/1801181115

Starting from a library of known molecules, it constructs a vector for each element that reflects the chemical environments where it tends to appear.  It spontaneously discovers many features of the periodic table.  They then use those vectors as a featurization f

[2018-06-30 02:49] luwry opened #1302 "delaney-processed program problem"
**when i use this model to predict molecular melting point,i met a question that i can not solve yet**
when i run this code:

the problem:
AttributeError: module 'deepchem.models' has no attribute 'TensorflowMultiTaskRegressor'

But when i read " Atomic Convolutional Networks for Predicting Protein-Ligand Binding Affinity"
This paper said:"ECFP Fingerprint Method:Fully-connected neural network mod

[2018-06-30 02:50] luwry commented on #1302
the code:
import numpy.random

params_dict = {"learning_rate": np.power(10., np.random.uniform(-5, -3, size=1)),
               "decay": np.power(10, np.random.uniform(-6, -4, size=1)),
               "nb_epoch": [20] }
n_features = train_dataset.get_data_shape()[0]
def model_builder(model_params, model_dir):
  model = dc.models.TensorflowMultiTaskRegressor(
    1, n_features, layer_sizes=[1000],

[2018-06-30 21:52] peastman commented on #1302
In the latest code on the master branch, that class has been renamed to `MultitaskRegressor`.  Note that the capitalization is slightly different too.

[2018-07-01 00:08] luwry commented on #1302
thanks!The problem has solved.@peastman

[2018-07-01 19:37] MortZx commented on #1062
Hi, I'm also new to deepchem and very sad to hear it's not available to windows users. Has there been any progress on making deepchem supported on Windows?
Thanks, Mortimer

[2018-07-02 02:36] luwry commented on #1302
@peastman **when i use MultiTaskRegressor model to predict Modeling Solubility,R^2 is negative number.**
the code:
dnn_test_evaluator = Evaluator(best_dnn, test_dataset, transformers)
dnn_test_r2score = dnn_test_evaluator.compute_model_performance([metric])
print("DNN Test set R^2 %f" % (dnn_test_r2score["r2_score"]))

the result:
computed_metrics: [-0.023342106517036942]
DNN Test set R^2 -0.02334

[2018-07-03 14:39] Running-z opened #1303 "Specify optimizer"
Excuse me, can I change the optimizer in the model? I am using the MultiTaskRegressor model. I see that Adam is used by default in the source code, but I want to use other optimizers. It seems that there is no such parameter in the model. How should I change it?

[2018-07-03 16:05] peastman commented on #1303
Call `set_optimizer()` on it.

[2018-07-03 17:18] VIGS25 opened #1304 "GraphRNNs for Generating Realistic Graphs"
https://arxiv.org/pdf/1802.08773.pdf

The paper linked above, talks about first converting graphs into sequences and then using RNNs on these sequences to generate graphs. They also have some new baselines, benchmarks and datasets defined and show that their method of generating graphs works much better and also improves the scalability in terms of size.

Do you reckon it would be nice to have thi

[2018-07-03 17:48] rbharath commented on #1304
Yes, absolutely would be interested in having this ported to DeepChem. Marking this contributions welcome.

[2018-07-03 17:54] VIGS25 commented on #1304
I'll do this during my Deep Learning course next semester, if no one takes it by then :)

[2018-07-03 23:05] rbharath commented on #1302
You probably want to use the Pearson R^2 which is non-negative. Also, a negative R^2 is a sign something is wrong. Try training a random forest to see if you're able to get better numbers.

[2018-07-03 23:06] rbharath commented on #1062
@MortZx I think deepchem is now known to work on windows subsystem for linux. That's probably going to be our recommended installation path on Windows moving forward.

[2018-07-05 14:45] ghutchis commented on #1122
I can't speak to the set linked in the code. The underlying XYZ files are a real pain - beyond the incorrect coordinates, there are "molecules" with 2 or more fragments because the molecule dissociated during geometry optimization.

As far as the # of bonds - since XYZ doesn't store bonds, you have to infer them. I have also noticed that the Open Babel version that I used has a habit of making =N=

[2018-07-05 17:09] peastman commented on #1304
That looks like a really nice method.  It should make a great addition to DeepChem.

Be sure to include support for node and edge features as described in appendix A.6.  That will be necessary for using graphs to represent molecules.

[2018-07-05 23:17] rbharath commented on #1297
Fixed `qm7_sklearn.py` in #1305

[2018-07-06 15:29] weiliu620 opened #1306 "OS X missing python library:"
I got an error of missing python package `mdtraj` when I run the conda install script on OS X.  Here is the log of running the script:

[code]

By the way, the script also seem to have changed my conda version in root environment. This is probably not what a user would expect, if everything is in a separate `deepchem` environment.

[2018-07-07 16:04] rbharath commented on #1306
Thanks for the report. For a fix, I'd recommend trying to install mdtraj directly from conda as recommended here https://anaconda.org/omnia/mdtraj

Downgrading the root conda isn't expected. I think we were trying to deal with some segfaults in our dependencies on Mac that happen in the latest conda. Will leave this issue open while we figure out what's happening.

[2018-07-07 16:19] #1303 closed

[2018-07-08 03:40] rbharath opened #1309 "Adding None split to Molnet"
It would be useful for `dc.molnet.load_X` functions to allow for `split="none"` as an option. In this option, the dataset wouldn't be split and would be returned directly. This is useful in cases where the user wants to do something nonstandard with the dataset.

[2018-07-08 18:28] rbharath commented on #1297
Verified that qm7_BPSymmetryFunction.py now runs on head so ticking it off as well.

[2018-07-11 19:17] peastman commented on #1279
I've been looking into this.  I can reproduce the problem, but it's not clear to me if this is a bug or just inherent in how Weave works.  When I run the example, several of the input arrays for the first batch are truly enormous.  Their first dimension is size 18414489.  The dataset is very small, but `WeaveModel.default_generator()` generates arrays for each molecule whose size is proportional t

[2018-07-11 20:33] peastman commented on #1245
I'm starting to work on this, so I've removed the labels.

[2018-07-12 14:41] 1particle commented on #1279
Whether we call this a bug or a feature, it's an issue that renders the weave model (as currently implemented) inapplicable to larger molecules. And this bothers me because the weave model (in my experience) performs better on small and rather noisy datasets of large molecules than the graph conv model.
A new implementation, with this issue in mind, is probably the only way to solve this, if someb

[2018-07-12 15:53] peastman commented on #1279
That's my question.  Is it possible for a new implementation to fix it?  Or is it just inherent in how weave works that its memory has to scale as O(n^2) in the number of atoms?

[2018-07-13 07:24] rbharath commented on #1297
Verified `chembl_tf_models.py` now runs on HEAD

[2018-07-14 11:08] rbharath commented on #1297
@lilleswing `run_benchmarks.py` isn't in examples. Did you mean `benchmark.py`?

[2018-07-14 11:15] rbharath commented on #1297
I think `binding_pocket_rf` does run, but requires that the user download the full PDBBind dataset to run properly. I'm currently with low internet, so can't verify that it works by downloading.

[2018-07-14 16:09] rbharath opened #1312 "Bump TensorFlow version on Conda install"
The TensorFlow instruction on the conda install line installs TensorFlow 1.5. We should bump this up
[code]
There are probably other package versions that we should bump as well. Might be fine to do this as part of 2.1 since I think we're about ready to make the cut.

[2018-07-16 20:11] peastman commented on #1245
I'm looking for datasets to test this on.  We don't currently have any genomic datasets, do we?  Any suggestions for things we should try?

I'm assuming we don't want to start adding genomic data to molnet.  That seems outside its scope, and there are already public repositories with huge amounts of data.

[2018-07-17 12:26] sandeepbii opened #1314 "module 'deepchem.models' has no attribute 'TensorflowMultiTaskRegressor'"
I have installed deepchem2.0.0 using conda install. I am tying to run the Solubility model from the deepchem tutorials. However I am getting the error

    'module 'deepchem.models' has no attribute 'TensorflowMultiTaskRegressor'

I looked into the models directory and could not see the TensorflowMultiTaskRegressor model. I am not sure what to do. As I said I am quite new. Any help will be great.

[2018-07-17 12:26] #1314 closed, assigned to nobody

[2018-07-17 12:27] sandeepbii opened #1315 "'module 'deepchem.models' has no attribute 'TensorflowMultiTaskRegressor'"
I have installed deepchem2.0.0 using conda install. I am tying to run the Solubility model from the deepchem tutorials. However I am getting the error
'module 'deepchem.models' has no attribute 'TensorflowMultiTaskRegressor'

I looked into the models directory and could not see the TensorflowMultiTaskRegressor model. I am not sure what to do. As I said I am quite new. Any help will be great.

Than

[2018-07-18 17:30] allchemist opened #1316 "Weights for tasks"
Hello,

is there a designed way to set weights for each task (not for each sample)?

[2018-07-18 17:33] peastman commented on #1316
The weights are an array of shape (n_samples, n_tasks).  If you set all the elements in each column to be the same, that's a weight per task.

[2018-07-18 17:34] allchemist commented on #1316
Hm, seems overkill, but very simple. Thanks!

[2018-07-19 01:55] rbharath commented on #1315
I think this example was broken previously. I'd recommend upgrading to HEAD. We've fixed all example recently so should run. (As a warning, HEAD may cause issues on Macs though)

[2018-07-19 02:00] rbharath commented on #1245
I don't think we have any Genomic dataset at present. Could we duplicate some of the results from the original paper?

I think it would make sense to add genomic data to molnet if there's not an easily accessible public repository for the data already. In case there's already a public repository, we could add a utility function that provides easy access to the data.

[2018-07-19 07:28] rbharath opened #1317 "Extract trained weights from TensorGraph Layer"
There doesn't appear to be a standard API for extracting trained weights from a `Layer` object at present. If the layer is in eager mode, then `layer.variables` stores the associated `Variable` objects. Otherwise, `layer.variables` isn't set.

What would a good standard API for extracting trained weights look like?

[2018-07-19 08:07] rbharath commented on #1317
Here's one way to get the variable associated with a layer:
[code]
To evaluate these variables, you can run
[code]
This could be wrapped up into a convenience function `layer.get_weights()`

[2018-07-19 08:23] sandeepbii commented on #1315
Thanks. I have installed deepchem from source as explained in the website. I still have the problem with TensorFlowMultiTaskRegressor.

What does upgrading to HEAD mean? I am not sure if I understand that.

[2018-07-19 10:07] rbharath opened #1318 "Location for genomic utility functions"
There are currently a number of genomic utility functions in `deepchem.utils.save` such as `seq_one_hot_encode`, `encode_fasta_sequence`, and `encode_bio_sequence`. These should be moved out to elsewhere in DeepChem, perhaps to a new submodule `deepchem.utils.genomics` or the like.

[2018-07-19 16:13] peastman commented on #1245
The most important one is probably the Gene Expression Omnibus (https://www.ncbi.nlm.nih.gov/geo/).  It has data from around 100,000 experiments, mostly gene expression but also genetic variation, TF binding, methylation, etc.  The data isn't in any consistent format though.  It's whatever files the experimenters uploaded for each one.

For sequence data there's a whole lot of public databases, bu

[2018-07-19 16:16] peastman commented on #1317
`TensorGraph.get_layer_variables()` is what you want.  It's a method of TensorGraph because it owns the Graph the variables are defined in.

[2018-07-19 16:39] peastman commented on #1315
There's no such class as TensorFlowMultiTaskRegressor anymore.  In the current version of the source, it's been renamed to MultitaskRegressor.

[2018-07-20 04:47] rbharath commented on #1317
@peastman Great, thanks for the pointer! How would you feel about adding in a `TensorGraph.get_layer_weights()` convenience method? Will make weight inspection examples and tutorials read nicer.

If this sounds good, will go ahead and open up a PR for this

[2018-07-20 04:58] rbharath commented on #1245
Better GEO and GenBank support would be great. Perhaps we could add download/processing functions that surface specific datasets from these repositories we need for applications.

[2018-07-20 07:22] Running-z opened #1321 "Loading a model with a pickle error"
When I trained a Graph_Conv model, saved it by model.save(), then loaded the trained model with load_from_dir for prediction, but I suddenly got this error:

[code]
Can you tell me what caused this?

[2018-07-20 07:31] sandeepbii commented on #1315
Thanks very much for your help.

[2018-07-20 07:31] #1315 closed

[2018-07-20 13:03] rbharath commented on #1318
We now have `deepchem.utils.genomics`. These utility functions should be moved over. This would be a good first PR for a new contributor.

[2018-07-20 13:03] rbharath commented on #1316
Closing since issue seems resolved.

[2018-07-20 13:03] #1316 closed

[2018-07-20 13:04] rbharath commented on #1297
Closing since I believe all examples have been fixed.

[2018-07-20 13:07] #1223 closed

[2018-07-20 13:08] rbharath commented on #1222
Closing due to inactivity. Feel free to reopen if still an issue

[2018-07-20 13:08] #1222 closed

[2018-07-20 13:09] rbharath commented on #1203
Closing since optimizer has been implemented for some time

[2018-07-20 13:09] #1203 closed

[2018-07-20 13:09] #1194 closed

[2018-07-20 13:11] rbharath commented on #1171
Closing since implemented by #1191

[2018-07-20 13:11] #1171 closed

[2018-07-20 13:15] rbharath commented on #1144
Closing since implemented by #1151

[2018-07-20 13:15] #1144 closed

[2018-07-20 13:16] rbharath commented on #1121
I think these issues have been resolved by subsequent refactoring. Please re-open if there are still issues here.

[2018-07-20 13:16] #1121 closed

[2018-07-20 13:17] rbharath commented on #1119
Closing since implemented in #1218

[2018-07-20 13:17] #1119 closed

[2018-07-20 13:18] rbharath commented on #1074
I think we're caught up. Leave a comment here if we've missed you

[2018-07-20 13:18] #1074 closed

[2018-07-20 13:18] rbharath commented on #1071
Implemented by @lilleswing

[2018-07-20 13:18] #1071 closed

[2018-07-20 13:18] rbharath commented on #1060
Implemented by @lilleswing

[2018-07-20 13:18] #1060 closed

[2018-07-20 13:19] rbharath commented on #1038
I'm closing this since it looks like we're sticking with `TensorGraph` for the time being.

[2018-07-20 13:19] #1038 closed

[2018-07-20 13:20] rbharath commented on #915
Closing since implemented in #1191

[2018-07-20 13:20] #915 closed

[2018-07-20 16:53] peastman commented on #1317
That makes sense.

[2018-07-21 03:47] rbharath commented on #1152
Added some first steps towards Image support here:

https://github.com/deepchem/deepchem/pull/1324

[2018-07-21 19:49] #1321 closed

[2018-07-21 20:09] Running-z opened #1326 "Generator source code error using Weave model"
I want to use the Weave model to train the tox21 data, then I extract the generator source code from the Weave model, and then build the model training, but in the generator I get the source error report:

[code]
Below is my generator code:
[WeaveModel.zip](https://github.com/deepchem/deepchem/files/2216455/WeaveModel.zip)

[2018-07-26 21:40] shirishr opened #1329 "Explaining_Tox21.ipynb requires update since fcnet is removed from tensorgraph"
**Description:**

- DeepChem Version: 2.1.1.dev17
- Platform: ubuntu 16.04

Running the notebook Explaining_Tox21.ipynb.
First cell has a line:

**model = dc.models.tensorgraph.fcnet.MultiTaskClassifier(
    len(tox21_tasks),
    train_dataset.get_data_shape()[0])**

This results in an error message:
AttributeError: module 'deepchem.models.tensorgraph.fcnet' has no attribute 'MultiTaskClassifier'

[2018-07-26 21:57] shirishr commented on #1329
Update

I think it is only a typo in the notebook

It should be MultitaskClassifier instead of MultiTaskClassifier

[2018-07-26 21:57] #1329 closed

[2018-07-27 18:12] lilleswing commented on #1312
yes we also need to bump rdkit.  I'll do a big bump after I create the conda and docker builds.

[2018-07-29 12:58] lilleswing commented on #1171
PS Newer versions of tensorflow remove this mechanism and don't document how to solve the issue anymore :p

[2018-07-29 13:09] lilleswing commented on #1171
It has been replaced with this
https://www.tensorflow.org/api_docs/python/tf/contrib/eager/run_test_in_graph_and_eager_modes

[2018-07-29 15:40] peastman commented on #1171
That annotation existed before.  It just didn't work.  See https://github.com/tensorflow/tensorflow/issues/18055.

[2018-07-29 15:54] lilleswing commented on #1171
Yes -- and it wasn't really the problem with the tests.

It seems like
[code]
is sufficient for the tests we have.  However when I start the block twice within a single test it does not "clear" the existing ops or counters.

Newer versions don't allow mixing eager mode with placing ops on a Graph object.  We were using this mechanism for saving and loading.  We would place all the ops on a graph e

[2018-07-30 14:58] c4asma opened #1333 "bug in RandomStratifiedSplitter"
Hi,

I am using deepchem version 2.0.0 (from March this year) and found some bugs in the RandomStratifiedSplitter in deepchem/split/splitters.py:
1. The function `split` returns the dataset as NumpyDatasets, which then leads to an error in the loading function when the dataset is stored using the DiskDataset function `move` (NumpyDataset has no function `move`). Since all other splitters seem to r

[2018-07-30 21:19] anusurendra opened #1336 "DeepChem 2.1.0: AttributeError: module 'deepchem.models' has no attribute 'MultiTaskRegressor'"
**Description:**

- DeepChem Version: 2.1.0
- Platform: Ubuntu 18.04

I have installed the new Deepchem Version 2.1.0 and am going through the "Predicting Ki of Ligands to a Protein". However, I am getting the following error:
`AttributeError: module 'deepchem.models' has no attribute 'MultiTaskRegressor'`

Below is the code that is being run:
[code]

[2018-08-04 08:20] Running-z opened #1345 "Cannot modify parameter values of the WeaveTensorGraph model"
When I modified the n_atom_feat parameter of the WeaveTensorGraph model, I got the following error：
[code]
this is my code:

[code]
Why is this? How can I modify this parameter?

[2018-08-04 16:47] rbharath commented on #1345
This parameter corresponds to the output of the weave featurizer. Since this featurizer outputs 75 atom features, a model with `n_atom_feat=80` won't work with the featurizer. You'd need to make your own custom featurizer with 80 atom features if you wanted to set `n_atom_feat=80`

[2018-08-05 02:57] Running-z commented on #1345
@rbharath
What you mean is that unless I rewrite a feature extractor myself, the Weavemodel feature extractor in deepchem must have n_atom_feat=75?

[2018-08-05 04:58] rbharath commented on #1345
Yes, that's correct.

[2018-08-06 00:44] rbharath opened #1349 "Modify DiskDataset.from_numpy so DiskDataset.from_numpy(X) works"
Currently, `DiskDataset.from_numpy` expects at least features `X` and labels `y` to be provided. This makes it inconvenient to store datasets that lack labels to disk. (Datasets without labels pop up in tasks such as autoencoding for example). We should make a modification to remove this limitation.

[2018-08-06 00:45] rbharath commented on #1345
Going to close since question answered. Feel free to re-open if you have further questions.

[2018-08-06 00:45] #1345 closed

[2018-08-06 00:46] rbharath commented on #1312
Closing this since implemented.

[2018-08-06 00:46] #1312 closed

[2018-08-06 03:19] hsiaoyi0504 opened #1350 "How to install without conda environment"
It will be good to have an option to truly install deepchem from source (rather than in a conda environment). Recently I found that there is an issue to install deepchem with r-base package from r channel at the same time. I have met so many conda environment problems to install deepchem with other packages like cario, different rdkit scikit-learn versions.

[2018-08-06 04:48] hsiaoyi0504 commented on #1350
It looks like I can just install `deepchem` through `pip install .`. However, it will not install any prerequisite, right ?

[2018-08-06 17:01] rbharath commented on #1350
I believe the `pip install` is broken since RDKit doesn't work with pip at present.

@lilleswing can probably say more

[2018-08-06 17:06] peastman commented on #1350
We should see whether we can reduce the number of dependencies for DeepChem, or at least make more of them optional.  A few times recently I've run into problems where I wanted to use another library with DeepChem, but they had mutually incompatible dependencies.  This leads to a lot of pain and suffering that could be reduced if there weren't so many hard dependencies.

[2018-08-06 17:15] rbharath commented on #1350
Definitely agree. I've run into the same issue. Often have to make an isolated conda environment to work with DeepChem which makes it tricky to use sometimes

[2018-08-06 18:26] hsiaoyi0504 commented on #1350
Another thing is that although rdkit can’t be installed by pip, it can be built from source with cmake.

[2018-08-06 19:09] peastman commented on #1350
Also, rdkit is right at the top of the list of libraries I'd like to see made into soft dependencies.  It causes a lot of problems, and lots of parts of DeepChem don't need it.

[2018-08-06 22:47] peastman commented on #1350
I see six libraries that currently are hard dependencies for DeepChem (you can't `import deepchem` without them): rdkit, joblib, six, scikit-learn, pandas, and dnasim.

We only use six in a couple of places, and not for anything very complicated, so it would be quite easy to eliminate that as a dependency.  dnasim is only used in two files, so it should be easy to turn it into soft a dependency.

[2018-08-06 22:48] peastman commented on #1350
And of course Tensorflow.  That clearly needs to remain a hard dependency.

[2018-08-07 01:08] rbharath commented on #1350
I like the idea of turning rdkit, six, and dnasim into soft-dependencies. Will make install easier and make a pip install version of DeepChem feasible! (sans rdkit...)

[2018-08-07 01:33] hsiaoyi0504 opened #1351 "tag version 2.0 have wrong version information in setup.cfg"
https://github.com/deepchem/deepchem/blob/2.0.0/setup.cfg#L8

This line should be 2.0.0

I get following error message when installed through `python setup.py install`:

[code]

[2018-08-07 02:34] hsiaoyi0504 commented on #1351
It seems that I install deepchem into wrong python version, but it would be good to update the setup.cfg as well.

[2018-08-07 13:09] Running-z opened #1352 "How to set a custom loss function"
I am using the deepchem model to predict the property values of molecules, but there are many missing values in my data. My data volume is very small. I don't want to discard these missing values, so I want to customize a loss function to make the missing data not. Calculate the loss value, but how should I pass in my custom loss function?

[2018-08-07 18:04] rbharath commented on #1352
You can set a custom loss by

`model.set_loss(custom_loss)`

For missing data, you might want to look at Data imputation. DeepChem doesn't have much support for imputation, but there are some standard techniques out there.

[2018-08-07 21:25] mu-wang opened #1354 "Unable to Reproducing Tox21 Results"
I have difficulty reproducing the Tox21 results shown on MoleculeNet.ai.

I ran the following code 3 times, The `roc_auc_score` of the validation scores are `[0.814, 0.807, 0.826]`, consistently lower than the benchmark.
[code]

Not sure if there are other parameter settings that I have not correctly capture for the training process? I am using deepchem 2.1.0.

[2018-08-07 23:10] rbharath commented on #1354
The MoleculeNet hyperparameters were set by Gaussian process search. I think you need to re-use those exact hyperparameters to reproduce results exactly.

@miaecle We have a copy of the best hyperparameters stored somewhere right?

[2018-08-08 01:44] Running-z commented on #1352
@rbharath
Ok, thank you for your guidance. In addition, do you say that DeepChem has some technical standards? What do you mean?

[2018-08-08 13:51] hsiaoyi0504 commented on #1351
It turns out that you may need to `export PBR_VERSION=2.0.0` during installation. @rbharath Can we have a new tagged version for 2.0.0 ? or like 2.0.1 with the fix of the version ?

Another thing is that I can open a pull request to include the information I mentioned above.

[2018-08-08 18:27] rbharath opened #1355 "Tutorial on PAINS Filtering"
This great blog post by Pat Walters, responding to the DeepChem ZINC15 tutorial, raises the issue that many of the screening hits found by the model look like assay false positives. In addition, Pat links to a RDKit script that filters for these types of false positives:

http://practicalcheminformatics.blogspot.com/2018/08/filtering-chemical-libraries.html

We should add on to the ZINC15 tutorial

[2018-08-09 03:31] miaecle commented on #1354
@mu-wang @rbharath Yes they are stored here:
http://deepchem.io.s3-website-us-west-1.amazonaws.com/trained_models/Hyperparameter_MoleculeNetv3.tar.gz
Actually the current graphconv model might not be the exact implementation used in the benchmark though. Other than that, random split is applied in the benchmark run, also I don't recall that we applied dropout in the models as well.

[2018-08-09 07:41] zhouhao-learning opened #1356 "Is it possible to implement sparse mean squared error loss in DeepChem?"
I am using deepchem's GraphConv model to train a drug target data. This is a regression problem, but there are many missing values in my data. I don't want to discard them, so I want to customize a MSE loss function, but I can't He successfully applied to the model
This is my code:

[code]
The purpose of my custom loss function is to mask out the missing values in the data. My idea comes from kera

[2018-08-09 16:30] peastman commented on #1356
Masking out missing values is a standard feature in DeepChem.  All the loss functions support it automatically.

[2018-08-09 19:53] rbharath commented on #1354
Ah good point. The current graph-conv has been refactored to increase training speed, which might potentially effect the choice of hyperparameters. For best results, I'd recommend running a new hyperparameter search to find best values.

[2018-08-10 01:26] zhouhao-learning commented on #1356
@lilleswing
What you said is that I need to set the missing value weight to 0? Is there a specific example for reference? In addition, your colleague @peastman  said that the loss loss function in DeepChem has the function of automatically masking missing values. Is this uniform?

[2018-08-10 01:28] zhouhao-learning commented on #1356
@peastman
In other words, I don't have to write a loss function to mask missing values. The loss I got after training is already the loss value after removing the missing value, so I don't have to think about it again.

[2018-08-10 09:48] s-fukushima-a42 opened #1357 "Loading Error during tutorial "Basic Protein-Ligand Affinity Models""
When I am testing according to the tutorial, I have the following error.

[code]

[code]
The default "featurizer" seems to be "grid", but trying 'ECFP' or 'GraphConv' did not give the above error.

- DeepChem Version: 2.0.0
- Platform: LinuxMint 18

Thank you.

[2018-08-10 12:51] Running-z opened #1358 "DAGTensorGraph does not have a corresponding extraction feature method"
I tried to train my data using DAGTensorGraph, but I don't know what the feature method is for this model. I tried 'ECFP', 'GraphConv', 'Weave', 'Raw', 'AdjacencyConv', but none of them. Can make my model work

What is the characteristic method corresponding to the DAGTensorGraph model?

[2018-08-10 15:02] mu-wang commented on #1354
OK. I will try a new Gaussian hyperparameter search. @rbharath @miaecle Thank you both for your help!

[2018-08-10 15:30] meowcat opened #1359 "Any way to get newer TensorFlow or alternatively a newer standalone Keras?"
I am using the DeepChem 2.1.0 Docker container deepchemio/deepchem.

It is very convenient as an image to train models on Paperspace Jobs because it contains both RDKit and TensorFlow and has GPU support. But the Keras 2.1.3 packaged with TensorFlow 1.6.0 is too old to support the CuDNNLSTM and CuDNNGRU layers.

[code]

Fails at importing CuDNNLSTM.

With TensorFlow 1.9.0 this works on my local ma

[2018-08-10 16:43] peastman commented on #1359
We're working on support for Tensorflow 1.9.  See https://github.com/deepchem/deepchem/pull/1331.  They made changes that broke some things, so it's taking a bit of time.

[2018-08-10 16:50] peastman commented on #1356
More specifically, the loss for every sample/task pair is multiplied by the corresponding entry in the dataset's weight matrix.  If you set an element of that matrix to 0, the corresponding sample/task will not contribute to the loss.  This is the standard way of marking missing data.  The weight matrix can also be used to correct for unbalanced data.

[2018-08-11 06:33] Running-z commented on #1356
@peastman
Are you talking about the BalancingTransformer function? This should apply to the classification task, I am facing regression data.Does the regression data have a corresponding method for dealing with missing values in DeepChem?

[2018-08-11 15:32] peastman commented on #1356
Every dataset has a weight matrix.  Every loss function, whether it's for regression or classification, multiplies the losses by that weight matrix.  When you create your dataset, mark missing values by setting their weights to 0.

[2018-08-11 19:52] #1358 closed

[2018-08-11 19:53] rbharath commented on #1352
Discussion is continued in #1356

[2018-08-11 19:53] #1352 closed

[2018-08-11 19:54] rbharath commented on #1288
Check https://github.com/deepchem/deepchem/pull/1360 which has an example of using `RdkitGridFeaturizer`.

[2018-08-11 19:57] rbharath opened #1361 "Speed up PDB complex featurization to use multiple cores"
The PDBBind featurization example introduced in https://github.com/deepchem/deepchem/pull/1360 does featurization of complexes on a single core. This takes roughly a minute per molecule, the majority of which time is used to load the protein PDB into RDKit.

This code should be modified to use multiple cores to speed up the featurization. Otherwise, featurizing the refined and full subsets of PDBB

[2018-08-11 20:01] rbharath opened #1362 "Add Atomic Convolution Featurization for PDB Complexes"
The PDBBind featurization introduced in #1360 currently only supports featurization with the `RdkitGridFeaturizer`. This should be modified to use the `atomic_conv_model` in `deepchem.models.tensorgraph.atomic_conv`.

[2018-08-11 21:49] rbharath opened #1363 "Build Times Increased"
Our Travis-CI build times seem to have increased a good bit, up to 45 minutes

https://travis-ci.org/deepchem/deepchem/builds/414945400

We should try to bring these back down

[2018-08-12 23:09] rbharath opened #1367 "AtomicConvModel Speed-ups"
#1366 introduces the `AtomicConvModel` class as a companion to `GraphConvModel` which deals with 3D complex data. However, in its current form, `AtomicConvModel` is still very painful to use due to its very slow startup/fit time. This should be improved to make the code more easy to use.

Potential methods of speeding up the core model might involve tweaking the underlying architecture to be more

[2018-08-12 23:15] rbharath opened #1368 "Large Scale Docking Notebook"
The large scale chemical screens [example](https://github.com/deepchem/deepchem/blob/master/examples/notebooks/Large_Scale_Chemical_Screens.ipynb) demonstrates how to do a large scale screen with a deep learning model on chemical datasets. As a complement to this tutorial, we should add a tutorial demonstrating how to do large scale docking on an AWS node. This would make the new `AtomicConvModel`

[2018-08-13 00:14] peastman commented on #1361
Actually, almost all of the time is spent adding hydrogens.  If you posted a version of the dataset that already had hydrogens it would be many times faster (although that would also double the size of the file).

If we don't want to do that, using multiple threads should be easy as long as RDKit releases the GIL while it's doing calculations.  Do you know if it does?

I also could see whether PDB

[2018-08-13 00:28] rbharath commented on #1361
Awesome, thanks for the analysis! The PDBBind dataset is already quite large (2 GB tarred, 15 GB untarred I believe), so a pre-processed version might be a little unwieldy. Might still be worth doing.

It would also be useful for us to figure out ways to speed up hydrogen calculation regardless though, since I suspect many serious users will use this code on private datasets which they'll need to

[2018-08-13 01:00] peastman commented on #1361
From the RDKit documentation:

So it doesn't release the GIL.  Using `multiprocessing` is a bit less convenient, but it should work.

[2018-08-13 16:43] peastman commented on #1363
We can mark those tests with `@attr("slow")`.  Travis won't run them, but we'll still verify they pass before each release.

[2018-08-13 16:49] pvskand commented on #1363
@peastman, Thanks for that suggestion (didn't know this :) ) Will update the 2 tests with `@attr`.

[2018-08-14 05:03] pvskand commented on #1363
Addressed in PR #1371. I guess for the time being this issue can be closed. Can be re-opened whenever necessary.

[2018-08-14 19:09] #1363 closed

[2018-08-14 21:05] rbharath opened #1373 "TensorFlow 2.0"
TensorFlow 2.0 is coming, with a major emphasis on Eager

https://groups.google.com/a/tensorflow.org/forum/?utm_medium=email&utm_source=footer#!msg/announce/qXfsxr2sF-0/jHQ77dr3DAAJ

They're going to hold a series of public design reviews to gather feedback on proposed APIs

https://github.com/tensorflow/community/blob/master/governance/TF-RFCs.md

We should plan to review the 2.0 spec and partici

[2018-08-14 22:56] peastman commented on #1367
Do you know how much of the time is spent computing the distance matrix, and how much computing the symmetry functions?  It looks like the latter is probably slow because it calculates every symmetry function separately, each using a large sequence of operations.  Could it be vectorized to compute all the symmetry functions at once in a single step?  But if the distance matrix is the bottleneck, t

[2018-08-15 07:14] pvskand opened #1374 "Unable to search in Docs"
Unable to search in the DeepChem. Any search like `conv2D`, `maxPool`, `data loader` returns NULL.
I suspect that the search returns NULL for all the keywords (but am not sure). This might be due to the version of Sphinx - we are currently using `1.3.5` and the latest version is `1.7.6`.
In any case this shouldn't be problem since search was working previously. I guess the root cause is something

[2018-08-15 18:30] peastman commented on #1367
It looks to me like more time is spent on the symmetry functions than the neighbor list.  You have it looping over 66 different symmetry functions and computing each one separately.  I think it should be possible to make it compute all of them at once, which would likely be much faster.

[2018-08-16 01:09] h-midlothian opened #1375 "Cannot create classification model for 'test_graph_conv_atom_features' in deepchem/models/tensorgraph/models/test_graph_models.py"
I applied the example of 'test_graph_conv_atom_features' to add atom properties for ```ConvMolFeaturizer```  and managed to add atom(or molecule) properties through my data. But if I change the mode of GraphConvModel from 'regression' to 'classification', there would be an Index Error, reading 'index XX is out of bounds for axis 1 with size 2', where XX is a random integer between 10 and 50. I als

[2018-08-16 15:07] supermanhuyu opened #1376 "how can i get the smiles of the esol dataset"
Description:

does esol mean [Solubility database of all E.coli proteins](http://www.tanpaku.org/tp-esol/index.php?lang=en) ?
but i can not to get smile from the dataset

[2018-08-16 17:33] amandajean119 opened #1377 "predict_uncertainty does not take transformers as an argument"
**Description:**
predict_uncertainty does not take transformers as an argument. Right now we are using undo_transforms() to generate predictions and scores in correct space, but this seems hacky.

- DeepChem Version: 2.1.0
- Platform: Mac

When predicting a regression problem we normally normalize the y vector. However, when using the predict_uncertainty function, we cannot pass the transformers d

[2018-08-16 17:50] amandajean119 opened #1378 "Poorer performance for GraphConv with uncertainty=True vs. False"
**Description:**
A GraphConv model trained using the modified loss function with uncertainty=True shows consistently poorer R^2 scores and higher RMS scores than one trained using the original loss function.
On example, on Delaney:
Deepchem 2.0’s Graph convolution model,  250 epochs, 0.0005 learning rate, default layers and dropouts
•	Test-pearson_r2_score: 0.865,
•	Train-pearson_r2_score: 0.993,

[2018-08-16 18:26] peastman commented on #1378
You're comparing a model trained with dropout to one trained without.  Those will of course be different.  Using dropout reduces the capacity of the model, and also may require longer training.  You're also using different versions of DeepChem, which may produce other differences.

Try making the two models identical in every way except specifying `uncertainty=True` for one and `False` for the oth

[2018-08-16 18:32] peastman commented on #1377
I don't know how to handle this in the general case.  The model is trained to estimate the uncertainty of its outputs.  But if you take the outputs and transform them, what happens to the uncertainty?  In your case it's just a linear transform, so you can just scale the uncertainties.  But for anything other than a linear transform, that wouldn't be valid.  That's why `predict_uncertainty()` doesn

[2018-08-16 18:50] amandajean119 commented on #1378
This was done as well:
'''
## with uncertainty
model = dc.models.MultitaskRegressor(len(tasks), 1024, uncertainty=True)
model.fit(train_dataset, nb_epoch=200)
y_pred, y_std = model.predict_uncertainty(test_dataset)
metric = dc.metrics.Metric(dc.metrics.pearson_r2_score, np.mean, mode="regression")
train_scores = model.evaluate(train_dataset, [metric], transformers)
valid_scores = model.evaluate(va

[2018-08-16 19:00] peastman commented on #1378
What if you keep training it longer?  Is it possible the performance just hasn't finished improving after 200 epochs?  You might also need to use a different learning rate.  It is a different model after all, so you might need to train it a bit differently.

[2018-08-19 18:54] BSharmi commented on #1378
I tried that option - training it longer unto 350 epochs. But increasing the number of epochs did not improve the performance with uncertainty = true. I tried a couple other options such as increasing number of hidden layers, using exponential decay. I did not see performance improvement with increasing the number of hidden layers. However, I noticed that with with uncertainty set to True and expo

[2018-08-20 21:12] saurabhclusterone opened #1379 "Deepchemm Using Estimator"
Hey Everyone,

We are trying to run Deepchem membrane_permeability example in distributed training mode using TensorFlow Estimator. I followed the example as given on the Deepchem repo (https://deepchem.io/docs/notebooks/Estimators.html) . The example is outdated because the dc.models.MultiTaskClassifier is outdated as of now since the MultiTaskClassifier is deprecated.

Now the error I am getting

[2018-08-20 23:59] janeyin600 opened #1380 "csv file for the refined set of PDBbind"
Is the csv file for the refined set of PDBbind available (unfeaturized molecules)? Right now I can only find the csv file for the core set. if not, could you provide the script of writing the PDB and mol2 information into csv? Thanks!

[2018-08-21 06:17] supermanhuyu commented on #1376
thanks!

[2018-08-21 06:17] #1376 closed

[2018-08-21 10:50] TshepoMK commented on #682
I am working on something like that but the pain of trying to install docker with a windows machine is too much

[2018-08-21 16:17] MortZx opened #1381 "GraphConv feature labels and loading features from smile string"
Hi,

I've been studying the code for a few weeks for a project of mine using the GraphConvTensorGraph model. I got 2 quick questions as I wasn't able to find an answer yet.

1) After loading the tox21 data, each atom for each molecule is attributed a feature vector of length 75. Where can I find a description of what each feature represents?
I vaguely know that the first 10-15(?) is a 1-hot vector

[2018-08-21 22:35] saurabhclusterone commented on #1379
Thank You for the reply @peastman !

I ran the following note
<img width="1253" alt="screen shot 2018-08-21 at 3 22 28 pm" src="https://user-images.githubusercontent.com/41808263/44432652-c7f10780-a557-11e8-9e18-5dbfd1aaf238.png">
book from your website: https://deepchem.io/docs/notebooks/Estimators.html
It gives me "'module' object has no attribute MultiTaskClassifer" error.
I have attached the s

[2018-08-21 22:44] peastman commented on #1379
In the current version of the code, the capitalization has changed to `MultitaskClassifier`.

MultitaskClassifier, MultitaskRegressor, RobustMultitaskClassifier, RobustMultitaskRegressor, Sequential.  Possibly some others too.  Anything that subclasses TensorGraph and doesn't override `default_generator()`.  Any models you create yourself by directly creating a TensorGraph and adding layers to it.

[2018-08-22 10:15] Running-z opened #1382 "Enter drugs and proteins"
I now want to use drugs and proteins together as input, and then predict the properties after the action. Is there such a model and feature method in deepchem?

Please give me some answers and guidance, thank you

[2018-08-23 07:05] #1357 closed

[2018-08-23 16:42] pvskand opened #1384 "Installing tensorflow or tensorflow-gpu but not both"
This problem arises when you try to install the GPU support. Current README instructions tend to install both.
`bash scripts/install_deepchem_conda.sh deepchem` install `tensorflow` (cpu) and `yes | pip install tensorflow-gpu==1.6.0 ` installs the gpu supported `tensorflow`.
Edits to the bash script and README have to be me made to install either one out of them (but not both). Planning to take gp

[2018-08-23 18:15] peastman opened #1386 "Saliency mapping"
It's possible to implement saliency mapping on top of DeepChem, but it would be nice to provide a proper API for it.  A very simple implementation might be to add a `compute_saliency()` method to TensorGraph.  It would take a single sample as input.  It would return a matrix containing the derivative of every element of the output with respect to every element of the input.

[2018-08-23 19:43] miaecle commented on #1381
@MortZx Thanks for your interest! For the first question, you can refer to https://github.com/deepchem/deepchem/blob/905e5509df21241fa12827d95fe3328f462ba604/deepchem/feat/graph_features.py#L112 This function used in the `ConvMolFeaturizer` will return the feature vector of your input atom, which includes atom type, degree, hybridization type, etc.
For the second question, I think you need to defi

[2018-08-23 20:28] amandajean119 opened #1387 "ScaffoldSplitter requires dataset.ids to be SMILES strings"
**Description:**

- DeepChem Version: 2.1
- Platform: Ubuntu

ScaffoldSplitter requires dataset.ids to be SMILES strings, but we want our internal compound IDs to be the ids saved with the dataset. We sometimes have duplicate SMILES strings in the dataset, and requiring the SMILES strings to act as IDs will cause issues with that.

As a fix, there could be an optional parameter that is an array or

[2018-08-23 21:26] rbharath commented on #1387
I think this sounds like a good solution. Modifying `ScaffoldSplitter` to accept an additional keyworkd argument for SMILES strings seems reasonable to me. Pull request would be welcome!

[2018-08-23 21:28] rbharath commented on #1386
This would be a really useful feature, especially as we work on improving our support for image handling.

Could we make a version of saliency that worked for graph convs?

[2018-08-23 21:35] peastman commented on #1386
It should work for any kind of model.  The only restriction is that it will compute the derivatives with respect to the model's inputs, not the values stored in the dataset.  If a model overrides `default_generator()` to do some complicated transformations, it won't know about that.  You'll get a map over the model's Feature layers.

[2018-08-23 22:50] rbharath commented on #1380
Take a look at the new `dc.molnet.load_pdbbind` function. This provides a way to load in the raw PDBBind data. We will continue iterating on this function to add in more features.

[2018-08-23 23:01] #1361 closed

[2018-08-23 23:01] rbharath opened #1388 "Hang in RdkitGridFeaturizer parallel Mode"
Continuing discussion and debugging from https://github.com/deepchem/deepchem/pull/1372

[2018-08-24 13:07] MortZx commented on #1381
Thank you very much for your reply.
This is exactly what I was looking for and the featurizer function now works as expected.

Here's the final code if anyone else encounters this problem:
    import deepchem as dc
    from rdkit import Chem
    smile = 'your_smile_here'
    molecules = []
    molecules.append(Chem.MolFromSmiles(smile))
    featurizer = dc.feat.graph_features.ConvMolFeaturizer()

[2018-08-24 13:07] #1381 closed

[2018-08-24 19:22] peastman opened #1389 "TensorGraph doesn"
**Description:**

- DeepChem Version:
- Platform:

[code]

[2018-08-24 19:22] #1389 closed, assigned to nobody

[2018-08-24 19:28] peastman opened #1390 "TensorGraph doesn't report progress during fitting"
TensorGraph used to print regular log messages to the console during fitting, so you could monitor the progress and the current loss.  At some point it stopped doing that.  I don't entirely understand why.

It's still trying to log them.  It does that with `logger.info()`.  But if I print out `logger.getEffectiveLevel()`, it returns 30 which corresponds to WARNING.  And sure enough if I change it

[2018-08-26 01:42] rvaidya commented on #1062
GPU support for WSL isn't currently implemented and there's no timeline for its delivery, so WSL is not a good solution right now.

https://wpdev.uservoice.com/forums/266908-command-prompt-console-bash-on-ubuntu-on-windo/suggestions/16108045-opencl-cuda-gpu-support

[2018-08-26 02:11] rvaidya commented on #1062
That being said, I was able to get the installation itself to work by following the steps in install_deepchem_conda.sh and installing mdtraj and xgboost from conda-forge.  setup.py finished without issues and a lot of the tests do pass - though not all.

[2018-08-26 03:01] rbharath opened #1392 "Atomic Convolution Eager Mode Support"
Follow-up from https://github.com/deepchem/deepchem/pull/1366

`AtomicConvModel` doesn't currently support eager mode execution. The model will need to be upgraded to do so.

[2018-08-26 16:19] peastman commented on #1062
Which tests fail (aside from ones that need xgboost)?  Hopefully we only need minor changes to get them working.

[2018-08-28 20:12] #1386 closed

[2018-08-29 02:13] s-fukushima-a42 opened #1394 "About "dc.molnet.load_pdbbind()" I got some errors."
**Description:**

- DeepChem Version: 2.1.1
- Platform: Linux Mint

I tried the dc.molnet.load_pdbbind(), according to the tutorial.
Then, some error came out. (Unable to add hydrogens math domain error?)
It looked like it was working fine along the way.

Is there anything I can do?

(I will try to featurize the original pdnbind data.)

Thank you.

[code]
DeepChem Versio

[2018-08-29 16:52] peastman commented on #1394
The immediate error is that it tried to compute the `acos()` function, and the argument wasn't in the range [-1,1].  In order for that to happen, the atom positions must be messed up in some way.  For example, if two atoms were at exactly the same location, that would cause the error you're seeing.  But I don't know why that would be the case.

[2018-08-29 19:09] rbharath commented on #1394
I've seen a few of these errors before. I think some of the PDBBind PDBs are corrupted in some fashion. This has been on my TODO list to fix (by dropping the messed up PDBs). Will stick a bug tag on this issue and use to track

[2018-08-29 23:40] s-fukushima-a42 commented on #1394
Additional Information:

- I tried featurize(rdkit_grid_fearutizer) the original PDB bind (core) dataset.
- The core dataset(ver.2017, CASF-2013-updated) was obtained from PDB bind webpage.
- The featurizing process stopped at some following proteins.
- PDB ID: **_3mss, 1hfs, 2jdy, 2jdu_**
- After I removed them and tried again, and I could get the results similar to the tutorial. The protein-liga

[2018-08-30 11:34] abv7777 opened #1395 "why MPNN model use weight vector to count meaningful samples when making predictions"
Hi Everyone,

If the test dataset only has smiles strings, MPNN model does not make predictions because the samples do not have weight vectors after featurization. If I have fresh smiles strings without any kind of labels, how to make predictions? Thanks.

[2018-09-01 02:58] s-fukushima-a42 commented on #1394
Additional Information - II (refined set version 2017)

_**5cep, 5cbs, 3tza, 2fqy, 4xit, 3si4, 3dyo, 3egt, 1ksn, 1px4,
4cwq, 2f2h, 4jia, 3f37, 4cwp, 3i3b, 3qx5, 2ccc, 1sl3, 4wiv
3t2q, 3vd4, 5igm, 1k9s, 3t09, 3t0d, 2whp, 4cwo, 3vw2, 3mv0,
3t0x, 4cwt, 1n5r, 3vd9, 4cwr, 3t0b, 4cwn, 3t08, 3muz, 3qto,
3f34, 4cws, 3qwc, 4bps, 1q84, 4cwf, 3vdb, 3f33, 3arp, 2e94
1z71, 4kcx, 3qtv, 1mue**_

[2018-09-01 05:39] aebk2015 opened #1396 "install deepchem on mac"
**I installed deepchem following the instruction on their website. I dint get any error during the installation but when I import deepchem from jupyternotebbok, the kernel will be dead:**
' ' '
The kernel appears to have died. It will restart automatically.
' ' '

If I import deepchem from terminal I get
[code]

Here is my setup:
MacOS, High Sierra , 10.13.6
Python 3.5, Anaconda

[2018-09-02 10:52] supermanhuyu opened #1398 "load_qm7_from_mat(featurizer='GraphConv') error"
**Description:**

conda install -c deepchem -c rdkit -c conda-forge -c omnia deepchem=2.0.0

when i run the example file qm7_tensorgraph_DTNN.py , i just add featurizer='GraphConv' to instead of  the default featurizer='CoulombMatrix'  and i get error .
[code]
and if i run it on the deepchem 2.1.0 ,i get another error
[code]

[2018-09-04 04:02] s-fukushima-a42 commented on #1394
I tried "grid" featurizer.
It seems that it works well.

[2018-09-04 04:09] s-fukushima-a42 commented on #1394
I tried this...
`PDBBIND_tasks, (train_dataset, valid_dataset, test_dataset), transformers = dc.molnet.load_pdbbind(featurizer="atomic", split="random", subset="core")`

However, I met the following errors.

[code]

(Does this have a cause in my environment?)

Thank you.

[2018-09-04 16:32] shosty1 commented on #1396
Did you install using conda? If so, before you start up your notebook have you activated your virtual environment (`source activate deepchem`)?

[2018-09-05 23:57] aebk2015 commented on #1396
Yes I activate my environment before starting jupyter notebook

[2018-09-06 03:56] mmagithub opened #1399 "Appending features to pandas df"
**Description:**

- DeepChem Version: 2.1
- Platform: Mac OS 10.12

Hi,
I am trying to featurize a ligand dataset through the RDKitDescriptors. The dataset was given to deepchem as a Pandas dataframe. I am asking how can I append the features (the molecular descriptors) to the Pandas dataframe again.
Here is the code I am using:

[code]

[2018-09-09 18:58] rbharath opened #1400 "Make MoleculeNet visible on Google Dataset Search"
Google's dataset search is setting a standard for publicly searchable datasets. We should make the MoleculeNet datasets visible on Google dataset search. This will require following the dataset schema that Google endorses

https://developers.google.com/search/docs/data-types/dataset

This scheme seems pretty sensible, so seems worthwhile.

[2018-09-11 15:24] jmichel80 opened #1401 "Runtime error running protein_ligand_complex_notebook.ipynb"
**Description:**
Hi,

I'm playing with deepchem and found a runtime error while running the 'vanilla' notebook
from
https://github.com/deepchem/deepchem/tree/master/examples/notebooks/protein_ligand_complex_notebook.ipynb

(...)
PDBBIND_tasks, (train_dataset, valid_dataset, test_dataset), transformers = dc.molnet.load_pdbbind_grid()

Loading dataset from disk.
TIMING: dataset construction took 0.0

[2018-09-11 15:56] jmichel80 commented on #1401
So I think this might an indentation error in def load_pdbbind_grid from ~/anaconda3/envs/deepchem/lib/python3.5/site-packages/deepchem/molnet/load_function/pdbbind_datasets.py

(..)
    if reload:
      deepchem.utils.save.save_dataset_to_disk(save_dir, train, valid, test,
                                               transformers)
    return tasks, (train, valid, test), transformers

The above

[2018-09-12 19:17] plotkiny opened #1402 "Inverted dictionary mapping"
**Description:**

In the deepchem/feat/mol_graphs.py file, line #139 defines the dictionary named "old_to_new" used for mapping the old_index to the new_index. It seems the actual mapping is from new --> old and not the reverse which is what the functionality seems to require. The "old_to_new" dictionary is defined within the ConvMol class in the file.

Python 2.7
Rdkit: 2017.09.1

- DeepChem Vers

[2018-09-13 18:45] hassanmohsin opened #1403 "Error in deepchem/examples/low_data/sider_graph_conv_one_fold.py"
**Description:**
Could you please update the code for  deepchem/examples/low_data/sider_graph_conv_one_fold.py
?
[code]

[2018-09-16 23:26] rbharath opened #1404 "Change dc.molnet.load_pdbbind to use binding pockets"
`dc.molnet.load_pdbbind` currently loads the full protein instead of just loading the binding pocket. This slows down the training of atomic convolutional models dramatically. This function should be modified accordingly.

[2018-09-19 18:37] peastman opened #1405 "Save dataset to disk"
I have a NumpyDataset, and I want to save it as a DiskDataset.  Am I missing something obvious, or is there no simple way of doing this?  Should I add a `save()` method to NumpyDataset?

DiskDataset does have a static method called `write_data_to_disk()`, but it doesn't create a complete dataset.  It looks like it was probably created for internal use only, and we should probably add a _ in front

[2018-09-19 18:52] rbharath commented on #1405
I think you can use `DiskDataset.from_numpy(np_dataset.X, np.dataset.y)` to do this

[2018-09-19 18:55] peastman commented on #1405
Oh right, that's what I was looking for.  Thanks!

[2018-09-19 18:55] #1405 closed

[2018-09-19 19:00] peastman commented on #1405
But I see `from_numpy()` is helpfully reshaping your arrays to force them to have a particular number of dimensions.  Sigh.  I thought I had fixed the places where we did that, but I missed this one.  I'll fix it.

[2018-09-22 22:33] rbharath opened #1409 "CellCounting Model"
A simple TensorGraph model that can count the number of cells in images would be a very useful feature. This should be relatively straightforward to implement.

If possible, there should be facilities to pre-load this model with ResNet/VGG pretrained weights for ease of training.

[2018-09-22 22:39] rbharath opened #1410 "CellSegmentation Model"
It would be very useful to have a cell-segmentation model that takes in cell images and predicts a segmentation model. Underneath the hood, this could probably make use of a UNet architecture for learning.

Ideally, it should be feasible to preload this model with pretrained weights to facilitate learning.

[2018-09-22 23:12] peastman commented on #1410
Possibly what we really want is just a generic, reasonably flexible UNet implementation.  The fact that you're using it to segment cell images is just a matter of what data you train it on.

[2018-09-22 23:50] rbharath opened #1412 "AtomicConv Speed Optimizations"
I ran the `AtomicConvModel` against test systems of different sizes to measure how long a single gradient descent step took.

- 50 ligand atoms, 50 protein atoms: 14 seconds
- 100 ligand atoms, 100 protein atoms: 19 seconds
- 200 ligand atoms, 200 protein atoms: 36 seconds
- 400 ligand atoms, 400 protein atoms: 109 seconds
- 800 ligand atoms, 800 protein atoms: 552 seconds
- 1000 ligand atoms, 120

[2018-09-23 01:50] rbharath commented on #1399
Going to go ahead and close this issue. Feel free to re-open if you have more questions.

[2018-09-23 01:50] #1399 closed

[2018-09-23 01:51] rbharath commented on #1394
Can you try again now with #1411 merged in?

[2018-09-23 02:04] rbharath commented on #1412
I'm working on running some of these numbers against a GPU machine, and one thing I notice is that GPU utilization is pretty low. At times spikes up to 50%, but mostly hovering between 0-10%. Perhaps preprocessing is the heavy cost?

[2018-09-23 06:46] mmahmedgithub commented on #1279
Hi Mostafa, just wondering if you can send me the script file for such big jobs you are running. I am having similar problems with compute canada on Graham. I am using the conda version of deepchem for my jobs. Thanks

[2018-09-23 18:56] rbharath commented on #1390
I'm seeing this same error.

Could we swap these `logger.info()` statements for plain print statements perhaps?

@lilleswing Would a swap to print statements break more sophisticated DeepChem pipelines?

[2018-09-23 20:06] peastman commented on #1412
I'll take a look and see if I can find anything.  Can you post or email the files to run your benchmark?

[2018-09-23 20:12] rbharath commented on #1412
Great, thanks! I used one of the atomic conv unit tests `test_atomic_conv_variable` and changed the variables `frag1_num_atoms` and `frag2_num_atoms` to alter the size of the atoms the test ran on.

[code]

[2018-09-23 20:13] rbharath commented on #1412
This uses code from the latest merged PR #1411

[2018-09-23 21:19] peastman commented on #1412
If you can get #1392 working (support eager mode), that would make it a lot easier to profile.

[2018-09-23 22:56] peastman commented on #1412
It looks like `distance_tensor()` is now a major bottleneck.  It's written in a very inefficient way with a bunch of stack and unstack operations.  It starts with the atom positions and neighbor list, each in a single tensor.  Then it splits them into one tensor per atom, then loops over each atom and computes the distances for each one, in the process doing lots more splits and merges, and then s

[2018-09-24 01:45] 1particle commented on #1279
It's posted above.

[2018-09-24 02:12] mmahmedgithub commented on #1279
this is the python file. I mean the batch script file, otherwise you are running the jobs interactively on the head node.

[2018-09-24 07:32] s-fukushima-a42 commented on #1394
After reflection, I tried it again.

The situation did not change, the same error occurred.
In both cases of "atomic" and "grid."

However, featurizing for the pdbbind dataset, which we downloaded from the original by ourselves, works fine (except for some files).

[2018-09-24 14:30] lilleswing commented on #1390
It should be fine.  All production models should always be pipe-ing sterr and stdout to log files and explicitly logging their artifacts :).

If they aren't and this breaks things well that is the production models fault.

- Karl eslwing

[2018-09-27 13:50] torlarse commented on #1241
I did a git pull, then inserted renamed datasets manually. Example

`os.system('wget http://deepchem.io.s3-website-us-west-1.amazonaws.com/datasets/lipo.csv')`

Also renamed `DATASET = "hppb.csv" `

When running the script the datasets are apparently loaded. Getting

`About to build model
Loading raw samples now.
shard_size: 8192
About to start loading CSV from hppb.csv
Loading shard 1 of size 819

[2018-09-27 17:34] VIGS25 commented on #630
Working on this and #425. Should raise a PR in a couple of days.
About the Cambridge Structural Database (#426), do I need some sort of license to be able to download the data?

[2018-09-29 05:17] #1398 closed

[2018-09-29 07:57] zealseeker commented on #951
I think this can be closed since the function of save is good enough.

[2018-09-29 07:57] #951 closed

[2018-09-29 19:09] rbharath commented on #630
Great to hear you're working on the issues. For the CSD, I'd recommend writing a MoleculeNet loader function, but if the license prohibits automatic download of data, have the loader expect the user to have downloaded the data manually, and print an error string with instructions on how to download the needed data for users if the data isn't already downloaded.

[2018-09-29 19:14] rbharath commented on #1241
Can you provide a minimal failing exmple? This looks like a pandas error and I'm not sure where this is happening.

[2018-09-29 20:35] naefl opened #1415 "AttributeError: module 'deepchem' has no attribute 'trans'"
**Description:**
When running `import deepchem`

I get
`AttributeError: module 'deepchem' has no attribute 'trans'`

Windows 10, installed via conda.

- DeepChem Version:
- Platform:

[code]

[2018-09-30 16:37] vsag96 commented on #1318
I'll do this, my idea is to have the functions in the deepchem.utils.save as well as deepchem.utils.genomics and if someone tries to run the function from save  I'll issue a warning, it'll work and you can decide when to completely remove it from deepchem.utils.save sounds good?

Also is there an example using  these functions so I can be sure to see that I didn't break anything. I'll open a PR wi

[2018-09-30 22:06] VIGS25 commented on #630
@rbharath: A few questions:

1. For the UV dataset, the paper mentions 190 tasks, but the dataset contains tasks from 210-400 (both
inclusive) and that makes it 191 tasks. There's also a log TIC, but I am not sure if that is a task.
For now, I have added them all.

2. Was about to write tests,  but  I couldn't find any for loading the datasets, just the one for test_molnet.

3. Also, I wasn't sure

[2018-10-01 07:46] VIGS25 commented on #835
@rbharath: If this is not taken up yet, I could do it. I work with the group that developed this, and we are trying to use this for a GAN to learn cellular subpopulation distributions.

Would be a nice exericse.

[2018-10-01 19:30] rbharath commented on #835
@VIGS25 Yes, please go for it! No one is working on this at present.

[2018-10-01 21:08] VIGS25 commented on #752
I was looking at the code for the k_fold_split for the SingletaskStratifiedSplitter and that for the general Splitter class and they are completely different.

The docs mention that, for the SingletaskStratifiedSplitter, the k_fold_split from the base class was overridden. Is there a reason for this?

The same issue is also present in the RandomStratifiedSplitter.

[2018-10-01 22:41] #1318 closed

[2018-10-02 08:15] ktaneishi opened #1422 "tensorflow installation with pip failed in scripts/install_deepchem_conda.sh"
**tensorflow installation with pip failed in scripts/install_deepchem_conda.sh:**

I tried to build singularity image from Dockerfile of 2.1.0.

I got error when it installed tensorflow-gpu with pip.

I changed the code to install tensorflow-gpu with conda, it worked.

[2018-10-02 17:05] VIGS25 commented on #1349
Working on this.
Should raise a PR soon.

DiskDataset.write_data_to_disk() has no problems with saving even when y = None.

[2018-10-02 20:09] lilleswing commented on #1422
Hello ktaneishi!

There were issues with the install yesterday because of jupyter breaking conda installs.  The latest master has those issues fixed.

[2018-10-02 20:09] lilleswing commented on #1422
The fix was removing jupyter from the default install.

[2018-10-02 20:47] VIGS25 commented on #835
@dannykwells: Sounds good, but it would take a while before I get it ported to DeepChem :)

[2018-10-02 21:48] shirishr commented on #1401
I think so too.
My results also do not match the notebook in the repository
At least I went past the error after making correction as suggested by @jmichel80
My results:
computed_metrics: [0.8782562750588034]
RF Train set R^2 0.878256
computed_metrics: [0.22591267516980196]
RF Valid set R^2 0.225913

Repository  results
computed_metrics: [0.88553937155927021]
RF Train set R^2 0.885539
computed_met

[2018-10-03 01:29] ktaneishi commented on #1422
Thanks. But dockerfile still checkout 2.1.0 which includes jupyter. Will you update 2.1.0 branch's install script or dockerfile itself? I'm replacing with sed in install script (like 2.1.0 install script).

[2018-10-04 15:19] VIGS25 commented on #1035
So the API for the `__init__ ` function for Featurizer would be something like:

`def __init__(self, mols, smiles=None, ....):
         # Convert smiles to mols and then process mols as before

`

[2018-10-04 15:31] VIGS25 commented on #1035
Would you expect the `featurize()` function to have an additional argument `smiles` (and both `smiles` and `mols` set to None) such that only one of `smiles` and `mols` could be None ?

The smiles are converted to mols and rest of the featurization follows as before.

[2018-10-04 19:04] #1403 closed

[2018-10-04 19:50] vsag96 commented on #1110
Is this still a requirement?

[2018-10-05 01:07] rbharath commented on #1110
Yes, I think this would be a nice addition! I'd recommend adding on directly to the existing `NumpyDataset` tutorial to make a good general `Dataset` tutorial https://deepchem.io/docs/notebooks/Deepchem_NumpyDataset_tutorial.html

[2018-10-05 01:28] rbharath commented on #1401
This notebook hasn't been updated in a while and should be cleaned up. Thanks for surfacing these issues! I'm going to mark this contribution-welcome if anyone wants to take a stab at cleaning up.

[2018-10-05 06:43] VIGS25 opened #1426 "Subcellular Protein Pattern Classification"
https://www.kaggle.com/c/human-protein-atlas-image-classification

The challenge deals with assigning imaged protein samples to different subcellular locations (28 of them).
The dataset looks nice as well, although haven't checked it properly yet.

Looks like a nice application for DeepChem to extend to

[2018-10-05 18:27] saurabhclusterone commented on #251
@rbharath

I was able to run Multi-GPU data parallelism Multitask model for Deepchem using Estimator class. The example works such that it achieves linear speed up with addition of new worker nodes.

I have a separate python file as a Standalone example of code for distributed Deepchem Multitask model using Deepchem.

Can I contribute that example to the Deepchem repo?

If yes, can you tell me the

[2018-10-05 18:38] peastman commented on #251
That's really neat!  It's a good reason we ought to get back to work on supporting Estimators with more models (#1142).

[2018-10-05 18:44] saurabhclusterone opened #1427 "Performance metrics for Deepchem Multitask model"
Hello Everyone,

I was able to run the Deepchem Multitask Estimator code in Multi GPU parallel distributed training mode. I had to make few changes but I have a stand alone example code that I am able to run in distributed mode. The distributed training is good to the extent that I get linear speed up with increase in number of worker nodes.

I will be contributing this code to the repo soon.

The

[2018-10-05 18:56] peastman commented on #1427
You're right, it doesn't provide a way to do this.  It might be reasonable to add optional arguments to `TensorGraph.make_estimator()` to let you specify more of the properties for EstimatorSpec.  Possibly even just let the user provide arbitrary keyword arguments, and we pass them on to EstimatorSpec, since there seem to be a lot of them and I wouldn't be surprised if they add more in the future.

[2018-10-05 19:50] rbharath commented on #1426
@VIGS25 This would be a great application! The new Diabetic Retinopathy code in `contrib/` that @miaecle contributed might be a good place to start from when developing a subcellular localization model.

[2018-10-06 07:08] VIGS25 commented on #835
Just realised, that CellCNN was written in Python 2.7.

The actual model would still be easy to get working in Python 3, but the loading of .fcs files is a major challenge for Python 3. Python 2.7 has a nice module `fcm` that handles the data loading, but Python 3 based Flow Cytometry modules took a lot of hacks before getting them to work with the CellGAN

[2018-10-06 15:18] VIGS25 commented on #425
I had a look at the downloaded zip file, but the zip file organization consists of a sequences of multiple directories, subdirectories and sub-sub directories with the final files contained in the .cif format. Some directories are empty as well.

I would think a better way to do it would be to just extract out all files and then add them together into another zip, and just write the loading functi

[2018-10-06 22:15] VIGS25 commented on #1401
I'll take a look at this, @rbharath

[2018-10-08 16:47] rbharath commented on #425
I'd be open to a simplified ZIP so long as the usage terms of the original dataset allow us to do so. We can host the simplified zip in the DeepChem S3 bucket.

Thanks for taking a lead on this!

[2018-10-08 21:43] rbharath commented on #752
I don't believe there's a fundamental reason. I think we found it easier to override when we first implemented, but I think we could well refactor and clean-up nicely for both `SingletaskStratifiedSplitter` and `RandomStratifiedSplitter`.

[2018-10-09 21:32] VIGS25 commented on #1317
I will work on this during the weekend.

[2018-10-11 09:10] VIGS25 commented on #425
I looked around the website, but couldn't find any usage terms that talk about reuse of the data.
For now, I think I can retrieve the files using their structure.

Also, I noticed rdkit has no method to read .cif files. I used pybel (would need to install this) to convert them to .sdf files to be used by the sdf loader in utils.save directly.

However, the space used for the files would be ~60 GB.

[2018-10-11 16:16] peastman commented on #425
You can load them with OpenMM, which is already a dependency for DeepChem.  http://docs.openmm.org/latest/api-python/generated/simtk.openmm.app.pdbxfile.PDBxFile.html

[2018-10-11 21:42] VIGS25 commented on #425
I tried opening the file with OpenMM but it threw an error: `simtk.openmm.app.internal.pdbx.reader.PdbxReader.SyntaxError: %ERROR - [at line: 15] Unexpected token in loop_ declaration`

Attached below is a minimal failing script, with the loading for a random file and one of the cod files.

**Bash Script**
[code]

**Python Script**
[code]

[2018-10-12 00:56] li-aolong commented on #1401
My results:
computed_metrics: [0.88362644148141112]
RF Train set R^2 0.883626
computed_metrics: [0.11158666899770164]
RF Valid set R^2 0.111587

The source code is as follow:
`if featurizer == 'grid':
    dataset, tasks = featurize_pdbbind(feat=featurizer, subset=subset)

    splitters = {
        'index': deepchem.splits.IndexSplitter(),
        'random': deepchem.splits.RandomSplitter(),

[2018-10-12 03:39] li-aolong commented on #1297
@rbharath I've downloaded the full PDBBind dataset, but there was a error when running `binding_pocket_rf`:
[code]

[2018-10-12 06:05] VIGS25 commented on #1401
@li-aolong: Yes, I added the return statement, but the repository results agree with mine, although it fluctuates between 0.17 to 0.32.
I haven't gottten to checking it yet, will do that and add the updated notebook.

[2018-10-12 19:37] saurabhclusterone opened #1430 "Dataset download issue for PDBbind Dataset"
Hello All,

I am working on the pdbbind_tf.py example. I want to make this example run in distributed mode.

But, everytime I run the code, the code fails with following error:

TypeError: 'NoneType' object is not iterable

The reason being I don't see the dataset file getting downloaded from the Amazon S3 bucket URL embedded in the code. I tried to copy paste the URL, it still would not work.

Ca

[2018-10-13 00:18] peastman commented on #425
The file is messed up.  The line it's complaining about is

[code]

That ought to be

[code]

Note the change of a `_` to a `.`.  `_publ_author` is the data category, and `name` is the data item within that category.  (See http://mmcif.wwpdb.org/dictionaries/mmcif_pdbx_v50.dic/Categories/publ_author.html.)  The file seems to have the same error in lots of other lines.

Be grateful OpenMM gave you

[2018-10-13 06:03] VIGS25 commented on #1430
It must be because of the indentation error in load_pdbbind_grid().
You could either copy line 134 and add it after line 76 or you could just move lie 134 up by one level of indentation.

[2018-10-13 06:39] VIGS25 commented on #425
Thanks for the explanation!

https://www.iucr.org/resources/cif/dictionaries/cif_mm

The above page states that they use the same names as the CoreCIF dictionary, but in a difference in formalism. The difference corresponds exactly to the use of `.` and `_`, which we encounter in all the files.

[2018-10-13 06:46] VIGS25 commented on #1430
This must be because of the indentation error in line 134 of `load_pdbbind_grid()`.
I would recommend copying the line 134 and adding it after line 76, to get it running for now.

Will raise a PR for this ASAP as well.

[2018-10-14 17:37] rbharath commented on #1297
Thanks for the report. It looks like this code is still a little buggy. Re-opening this issue to coordinate debugging.

[2018-10-15 02:30] li-aolong commented on #1430
@VIGS25 In line 70 of `load_pdbbind_grid()`, why `transformers = []`. Is this a bug?

[2018-10-15 03:44] li-aolong commented on #1401
@VIGS25 There's `transformers = []` in the code above. Is that correct or a bug?

[2018-10-15 16:52] saurabhclusterone commented on #1430
@VIGS25

The indentation was fixed by me already before running on locally. The error is also different and does not seem related to code indentation.

Can you please look into this again, can you run the code on your local please?

[2018-10-15 16:59] VIGS25 commented on #1430
@saurabhclusterone: When I first ran the code (my indentation was fixed), it ran normally without any errors. I removed the indentation fix and upon running it again, had the same error message you had.

I'm running it again now, will let you know.

[2018-10-15 19:01] saurabhclusterone commented on #1430
@VIGS25

Were you able to run successfully?

[2018-10-15 19:02] VIGS25 commented on #1430
Yes, have a look a the screenshot above.
The first one, is the one which runs normally and the second one is with the error you mention

[2018-10-15 19:12] saurabhclusterone commented on #1430
@VIGS25

Did you get to merge your changes with the actual example code in repo.

Because I ran the code again from the repo, and it still gives same error.

[2018-10-15 19:15] VIGS25 commented on #1430
Run `python setup.py install` and re-run your script and let me know?

[2018-10-16 04:36] saurabhclusterone commented on #1430
Hello @VIGS25 ,

I tried different ways, including your way of running setup.py in the local repo.

But the error still persist.

One important info: I am running in python 2.7 conda environment. I have run many other deepchem code in same environment before without any problem.

[2018-10-16 05:55] VIGS25 commented on #1430
@saurabhclusterone: I'm not sure what is happening then, as I am able to download the datasets even by copy pasting the URL in my browser.

I had suggested `python setup.py install` just to ensure you conda is synced with all changes you made in the local repo.

[2018-10-17 09:58] VIGS25 commented on #1142
I'd like to work on the TextCNN TensorGraph.
WIP Pull Request [here](https://github.com/deepchem/deepchem/pull/1434)

[2018-10-17 17:14] saurabhclusterone commented on #1430
@VIGS25

I had run the latest code available from the repo once again after cloning the latest repo. the code failed with same error. I also ran the same code by cloning it on two other separate systems and they failed with same error.

Can you confirm once again please that all code changes have been checked into the repo.

Because I still that there is an indentation on line 24-25 in pdbbind_tf.

[2018-10-17 17:28] VIGS25 commented on #1430
@saurabhclusterone:
A few points to be rechecked and confirmed:

1. The indentation issue is **NOT** in `pdbbind_tf.py` file but in `load_pdbbind_grid` function which can be found in `deepchem/molnet/load_function/pdbbind_datasets.py`. I hope we both agree to that.

2. I notice on your GitHub profile that your forked repository deepchem is 40 commits behind master. I hope you didn't use that repos

[2018-10-19 19:18] saurabhclusterone commented on #1430
@VIGS25

I understand what you have Witten. I just had one question:

If  have a conda environment and I install deepchem using following command as shown on Deepchem GitHub page:

conda install -c deepchem -c rdkit -c conda-forge -c omnia deepchem=2.1.0

Will it include the code changes that you had made or not?

[2018-10-19 19:19] VIGS25 commented on #1430
@saurabhclusterone:
Ah, I'm not sure about this
I would recommend you install from source instead.

[2018-10-19 19:49] saurabhclusterone commented on #1430
@VIGS25

Thank You for the reply!
But, I wanted to know, if can we update this part in stable version please?

Otherwise, it is difficult to run it on AWS instances, where I will have to put extra scripts to install deepchem from source. To save this hassle, can we include at least this small change in the stable version?

[2018-10-19 19:53] VIGS25 commented on #1430
I'm not well versed with the conda installation part, @rbharath would have a better answer on this!

[2018-10-23 03:06] zhouhao-learning opened #1435 "Is there a model training parameter quantity acquisition method?"
I now want to calculate how much memory the model has before training, but I should first get the training parameters of the model. Does deepchem have a way to get the model training parameters?

[2018-10-23 12:57] saurabhclusterone commented on #1430
@rbharath

Could you please tell if we can merge the changes related to indentation error in pdbbind_datasets.py to the stable version of deepchem so that I can use deepchem by importing the library and not having to run it from source every time.

@VIGS25 had tagged you previously with regards to same. Look forward to hear from you. Thanks!

[2018-10-23 17:18] rbharath commented on #1430
Yes, absolutely can merge into stable version. All bugfixes in head will be included in the next release, DeepChem 2.2. This should be coming out in the next couple months.

[2018-10-23 20:22] rbharath opened #1436 "MolDQN Implementation"
The new MolDQN paper by google is very interesting. Adding an implementation to DeepChem would bring a lot of value to the community.

[2018-10-24 21:35] VIGS25 commented on #1436
I'll give it a try, was anyway looking for an DeepRL based project for the Deep Learning course.
Does this go in `deepchem/contrib`?

[2018-10-25 16:50] rbharath commented on #1436
@VIGS25 Awesome, excited to see what you make of it. `deepchem/contrib` would be a good spot. We can migrate it into main library as the code matures

[2018-10-25 17:39] rbharath commented on #1435
#1433 (not yet merged) provides a way to get the weights associated with a layer. It might be nice to add a second helper method that gets all weights associated with a model. For now, this can be done by using a for-loop over the layers in the model and using the code in #1433 to get layer weights.

[2018-10-26 00:26] rbharath opened #1440 "Using fastprogress in DeepChem Notebooks"
The Fastai library fastprogress adds beautiful progress bars to Jupyter notebooks. We should instrument the DeepChem notebooks to display progress bars of this type. https://github.com/fastai/fastprogress

I'm marking this open for contribution.

[2018-10-27 09:05] VIGS25 commented on #1301
Working on this and MolDQN right now.

[2018-10-27 22:53] rbharath opened #1441 "Pretrained Weights API"
I've been experimenting with the `fastai` library (https://github.com/fastai/fastai). `fastai` has strong support for pretrained models since they focus on making an easy-to-use Deep Learning workflow for beginners. Here's an example of their pretrained model API:

[code]
Here `tfms` is analogous to DeepChem transformers and their data loader is analogous to our `Loader` classes. The main differen

[2018-10-27 23:11] rbharath opened #1442 "Data Augmentation Support"
Currently, `dc.trans` only supports simple transformations. There's support for various label transformations to stabilize learning and some limited support for molecular transformations.

![transformers](https://user-images.githubusercontent.com/1057676/47610148-bc600800-da02-11e8-8ff9-3b8334c383bd.png)

However, there's a lack of support for data augmentation transformations. For example for ima

[2018-10-27 23:59] S-Dutta1 opened #1443 "Error in Conv1D"
Hello,

 I am using DeepChem 2.1.0. On running the source code provided in [Solving the RNA design problem with reinforcement learning](https://journals.plos.org/ploscompbiol/article/file?id=10.1371/journal.pcbi.1006176&type=printable), the following error occurs. The authors mention that it was tested with DeepChem 1.3.1. Is there some fix to run it on the latest version ?

The following command

[2018-10-28 00:02] peastman commented on #1443
Those arguments have just gotten renamed.  Change `width` to `kernel_size` and `out_channels` to `filters` and it should work.

[2018-10-28 00:18] S-Dutta1 commented on #1443
Thank you for the response. That issue is resolved on making the changes, however, another error occurs

[code]

[2018-10-28 00:57] peastman commented on #1443
I'm not sure what's changed to cause that.  I'll have to debug it.  In the mean time, it might be easiest to use the version of DeepChem the script was originally written with.  All past versions are available at https://github.com/deepchem/deepchem/releases.  Or if you want to install with conda, you can just specify the version number you want, as in https://github.com/deepchem/deepchem#easy-ins

[2018-10-28 07:18] S-Dutta1 commented on #1443
I tried installing the previous version, downloaded the source code form [https://github.com/deepchem/deepchem/releases/tag/1.3.1](https://github.com/deepchem/deepchem/releases/tag/1.3.1) then ran ```bash scripts/install_deepchem_conda.sh deepchem``` and ```source activate deepchem```

However, ```python setup.py install``` fails with the following error message

[code]

As per installing with con

[2018-10-28 10:10] VIGS25 commented on #1443
@peastman: The current implementation of Conv1D doesn't seem to have `self._shape` at all. In fact, there's a TODO on the same.

[2018-10-29 12:48] zhouhao-learning opened #1444 "Using the CPU to train DAG_model to get an unexpected error"
I am training my data today using the `DAGTensorGraph` model. When I use GPU training on our cluster, the code is perfectly fine, but when I don't specify the GPU, I only get an unexpected error when I use the CPU. The error is as follows:
[code]
I really don't know what caused this. Why can't I do it on the CPU? I didn't find a similar problem on the Internet. Please give me some guidance. Thank

[2018-10-30 14:48] S-Dutta1 commented on #1443
Any other alternatives to install version 1.3.1 ?

[2018-10-30 20:45] rbharath commented on #1444
This is strange... Perhaps a TensorFlow bug?

[2018-10-31 01:20] zhouhao-learning commented on #1444
Ok, I am going to the tensorflow community to ask

[2018-11-01 22:40] souravsingh commented on #1440
I can look into this

[2018-11-01 22:41] souravsingh commented on #1219
I am interested in pursuing the issue. What kind of models are we looking for?

[2018-11-06 00:52] rbharath commented on #1219
Excited to hear you're interested! I think to start, something like a Bayesian fully connected neural network could be really useful to implement. I'd recommend adding to `contrib/`. We can migrate into the main repo as the code matures.

[2018-11-07 15:00] leasunhy opened #1446 "For binary classification, `to_one_hot` expects label vector of shape (batch_size,), while `pad_batches` expects (batch_size, 1)"
**Description:**

- DeepChem Version: 2.1.0
- NumPy Version: 1.15.3
- Platform: Python 2.7.15 :: Anaconda (Linux x86_64)

[code]

[code]

Obviously the return value of `to_one_hot` is wrong when argument `y` have two dimensions (but in the documentation `to_one_hot` should work with such arguments). This [line in `to_one_hot`](https://github.com/deepchem/deepchem/blob/master/deepchem/metrics/__ini

[2018-11-07 16:20] peastman commented on #1446
That line only gets executed if `y_b` has at least two dimensions.  It's in an `else` clause.  The lines immediately above it correctly handle the case where it only has one dimension.

[code]

[2018-11-08 06:21] leasunhy commented on #1446
Aha, sorry for bothering. That branch does not appear in the code of my 2.1.0 installation. Seems it has been fixed. Great work!

[2018-11-08 06:21] #1446 closed

[2018-11-12 03:06] UnixJunkie opened #1448 "problems with the tox21.csv dataset"
According to:
https://github.com/flatkinson/standardiser
The following 427 molecules are problematic:
[code]

[2018-11-12 03:12] UnixJunkie commented on #1448
I am curious about what people usually do with those molecules.

[2018-11-12 10:35] zhouhao-learning opened #1449 "MPNNTensorGraph training gets unexpected errors"
When I used the MPNNTensorGraph model to train HIV.csv data, I got an unexpected error in training on the cluster:
[code]

What is the problem? Is it OOM? But I used two GPU training to get the following mistakes:
[code]

@raphtown
Can you give me some good suggestions?

[2018-11-15 11:22] AustinApple opened #1451 "get empty list from coulomb_matrix()"
**Description:**

I want to transform the molecule to CoulombMatrix from smiles, but I just get the empty list.
I carefully check the code and I found that GetConformers() do not work out. That is, it generates nothing from the smile.

[code]

[2018-11-15 13:16] dww100 commented on #1143
@rbharath  @pvskand Has any progress been made on this? I'm really interested in the Molecular Complex Featurization part but I'm currently unfamiliar with deepchem. I'd be happy to work with anyone looking to develop documentation abut at this point I need some guidance myself.

[2018-11-15 17:46] rbharath commented on #1143
I don't think anyone is working on this at present (please correct me if I'm wrong @pvskand). We'd be open to a PR with a basic tutorial. Glad to offer feedback and comments to help.

[2018-11-15 17:46] rbharath commented on #1451
Hmm, going to mark this one as a bug. Will attempt to duplicate later on my machine.

[2018-11-15 17:48] pvskand commented on #1143
@dww100 Please go ahead. Waiting for the PR.

[2018-11-15 23:19] AustinApple commented on #1451
Thank you for your reply. I found that `mol.GetConformers()` in the `coulomb_matrix(self, mol)` function does not work properly. I ask the problem on the rdkit github [https://github.com/rdkit/rdkit/issues/2170](url). Therefore, I try to revise the function and it seem work normally. Please check it.
`def coulomb_matrix(self, mol):
    """
    Generate Coulomb matrices for each conformer of the gi

[2018-11-16 09:36] pvskand commented on #1143
Oh, sorry I overlooked your complete comment. I would be glad to help you on this @dww100. I can put up a initial PR in a day and would be ready to work on it. I would be starting with One Hot Featurization - https://deepchem.io/docs/deepchem.feat.html#module-deepchem.feat.one_hot.

[2018-11-16 09:37] pvskand commented on #1374
@rbharath @lilleswing any updates on this? I am still facing this issue.

[2018-11-16 09:42] dww100 commented on #1143
No worries - look forward to working with you :)

[2018-11-22 05:11] rbharath commented on #1350
Opened https://github.com/deepchem/deepchem/pull/1454 to shift `rdkit` into a soft dependency.

[2018-11-22 19:34] rbharath commented on #1350
Opened https://github.com/deepchem/deepchem/pull/1455 to shift `simdna` into a soft dependency

[2018-11-22 21:51] rbharath commented on #1350
Opened https://github.com/deepchem/deepchem/pull/1456 to shift `six` into a soft dependency

[2018-11-23 22:44] rbharath commented on #1440
Did some digging into this on my end. One unfortunate discover is that fastprogress depends critically on f-strings, which are a new feature available only in Python 3.6. Until we upgrade to Python 3.6, we can't use fastprogress in any of our notebooks.

[2018-11-24 15:38] varadgunjal commented on #1400
@rbharath I'm looking to get involved in contributing to this library. Can you please help me get started on this? I'm assuming all the datasets under the `datasets/`folder need to be adapted to this schema?

[2018-11-25 18:03] rbharath commented on #1400
@varadgunjal Great to see you're interested in getting involved. Most of our datasets aren't stored on Github itself. Many of the functions `dc.molnet.load_*` download datasets from our S3 bucket. Making this change might require creating the schema adaptation. If you get in touch with me offline (X@Y.io, X=bharath, Y=computable) and send the new schemas, I can help upload to the S3 bucket

[2018-11-27 00:39] skearnes commented on #1436
FYI this will be open sourced from Google very soon.

[2018-11-27 08:49] richardliaw commented on #1210
Is this still a needed feature? Is there some way I can contribute Ray Tune support?

[2018-11-27 18:35] rbharath commented on #1210
@richardliaw A tutorial on how to use ray tune with DeepChem would be great. Something in the style of https://github.com/deepchem/deepchem/tree/master/examples/tutorials

[2018-11-27 21:51] richardliaw commented on #1210
Sure; a tutorial would make sense. I have a couple questions:
1. What would be the a "challenging dataset" to tune on (or something that deepchem users would care about)? It would be nice to have something that is interesting to demonstrate, as it would probably be more valuable to deepchem.
2. Would it make sense to integrate Tune more deeply with DeepChem; i.e., something in the `dc.hyper.Hyperp

[2018-12-02 06:05] varadgunjal commented on #1400
@rbharath sorry for the late reply.

According to the information in the link you provided, to create the schema, I need information describing the dataset including the name under which it should be advertised, the creator, keywords associated with it etc. The full list of possible keys is here - https://schema.org/Dataset, but, to begin with, I think it would be enough to provide just the keys l

[2018-12-03 12:40] nbliangying opened #1459 "About "dc.molnet.load_pdbbind_grid()" I am getting the following some errors"
**Description:**
About "dc.molnet.load_pdbbind_grid()" I am getting the following some errors：
PDBBIND_tasks，（train_dataset，valid_dataset，test_dataset），transformers = dc.molnet.load_pdbbind_grid（）

TypeError Traceback (most recent call last)
in ()
----> 1 PDBBIND_tasks, (train_dataset, valid_dataset, test_dataset), transformers = dc.molnet.load_pdbbind_grid()

TypeError: 'NoneType' object is not i

[2018-12-03 16:56] hseara opened #1460 "Error in "Explaining_Tox21.ipynb" tutorial: 'MultitaskClassifier' object has no attribute 'predict_proba'"
**Description:**

- DeepChem Version: 2.1.0
- Platform: Linux
- Installation:
[code]
When running the following cell of the Explaining_Tox21.ipynb tutorial,
[code]
I get the following error:
[code]
As a result, exp is not populated. Lime version is:  lime: 0.1.1.32-py_1 conda-forge

[2018-12-04 15:24] vsag96 commented on #1460
I'll send a PR as soon as possible!

[2018-12-04 18:06] VIGS25 commented on #1459
Hi,
Did you run into the error while trying to run the `protein_ligand_complex` example notebook?

[2018-12-04 19:02] peastman opened #1461 "Allow TensorGraph to use Keras layers"
We keep coming back to the question of how to better interoperate with Keras.  This will become even more important in TensorFlow 2.0, since it will eliminate the `tf.contrib` and `tf.layers` modules and standardize on `tf.keras` as the primary API for building models.

In #1038 we considered completely replacing TensorGraph and just using `tf.keras.Model` for everything, but we concluded that was

[2018-12-05 01:16] rbharath commented on #1461
I like this proposal quite a bit! Our core value as a library is the large set of non-standard layers that we maintain. Making these layers available to all TensorFlow users would make us much more useful. Retaining TensorGraph as an optional feature will let us retain backwards compatibility and support complex custom models which need TensorGraph's flexibility.

I think we'll add some additional

[2018-12-05 04:56] skearnes commented on #1436
https://github.com/google-research/google-research/tree/master/mol_dqn

Note that the scripts are still "under construction", but the core MDP definition and related code should be a good starting point. Expect additional updates soon!

[2018-12-05 05:07] varadgunjal commented on #1400
@rbharath ping

[2018-12-05 18:17] rbharath commented on #1400
The information for most of our datasets should be available at moleculenet.ai or in the MoleculeNet paper linked there. If there are any in particular that are still missing, just leave a note on the issue and we can find it.

Once we have structured data available, we can update the sitemap. Probably deepchem.io. I can update the sitemap later

[2018-12-05 21:55] anusurendra opened #1463 "ValueError: Input contains NaN"
**Description:**

- DeepChem Version: 2.1.0
- Platform: Ubuntu 16.04

I am following the Predicting Ki of Ligands to a Protein tutorial (https://deepchem.io/docs/notebooks/BACE.html), on my data. However, I am getting a `ValueError: Input contains NaN, infinity or a value too large for dtype('float32').`. I believe that this occurs during normalization of the dataset. I am wondering if this is the

[2018-12-06 00:09] rbharath commented on #1210
Sorry for the slow response.

1. For a really challenging dataset, tuning across all the datasets on http://moleculenet.ai/datasets-1 in a multitask learning setting would be a very interesting demonstration. There's growing interest in transfer learning in the space, and there hasn't been a compelling demonstration thus far.
2. I think we'd be open to this. We'd have to make Tune a soft dependenc

[2018-12-06 13:44] nbliangying commented on #1459
Yes,I run into the error while trying to run the protein_ligand_complex example notebook

 I think this might an indentation error in def load_pdbbind_grid from ~/anaconda3/lib/site-packages/deepchem/molnet/load_function/pdbbind_datasets.py

(..)
if reload:
deepchem.utils.save.save_dataset_to_disk(save_dir, train, valid, test,
transformers)
return tasks, (train, valid, test), transformers

The abo

[2018-12-06 21:46] #1463 closed

[2018-12-06 23:00] rbharath commented on #1461
The new Keras model subclassing API might be relevant for this discussion: https://www.tensorflow.org/guide/keras#model_subclassing

[2018-12-07 12:48] VIGS25 commented on #1459
Did you install from source or use the conda version?
Because I have it installed from source, and had recently fixed some indentation errors there and didn't have any issues running the notebook, before pushing it

[2018-12-07 19:11] anusurendra opened #1464 "UserWarning: Error calculating metric roc_auc_score: Expected 2D array, got 1D array instead"
**Description:**
- DeepChem Version: 2.1.0
- Platform: Ubuntu 16.04

I am following the Predicting Ki of Ligands to a Protein tutorial (https://deepchem.io/docs/notebooks/BACE.html), on my data. However, I am getting following error: ` warnings.warn("Error calculating metric %s: %s" % (self.name, e))
/home/surendraa/software/anaconda3/envs/snowflakes040518/lib/python3.5/site-packages/deepchem/metr

[2018-12-07 21:21] anusurendra commented on #1464
It seems that after the transforming the data to normalize it to have zero-mean and unit-standard-deviation. When I iterate through the train_set, the x is an array of length 589 instead of an array with a length of 1. I am not sure why this would be the case?

[code]

[2018-12-08 01:42] nbliangying commented on #1459
I install from  the pip

在2018年12月07 20时48分, "Vignesh Ram Somnath"<notifications@github.com>写道:

Did you install from source or use the conda version?
Because I have it installed from source, and had recently fixed some indentation errors there and didn't have any issues running the notebook, before pushing it

—
You are receiving this because you authored the thread.
Reply to this email directly,

[2018-12-08 07:18] VIGS25 commented on #1459
That explains it.
You can either install from source, to get a working notebook, or else could wait for the new version of DeepChem to be released.

[2018-12-08 13:02] nbliangying commented on #1459
Ok.Thank you very much！

在2018年12月08 15时18分, "Vignesh Ram Somnath"<notifications@github.com>写道:

That explains it.
You can either install from source, to get a working notebook, or else could wait for the new version of DeepChem to be released.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-12-11 09:19] vsag96 commented on #1460
@hseara the fix has been merged you can close the issue. Thanks!

[2018-12-11 09:20] #1460 closed

[2018-12-12 17:16] BIGBALLON commented on #890
@peastman
Hello, peastman.

So, I could just ignore the whole issue, leave it as an arbitrary constant, and require the user to somehow come up with a value for it. That's not going to be very helpful, though. It's clear the magnitude of the constant should be proportional to the magnitude of rewards given by the environment, so I could try to automatically scale it in some way based on that. It w

[2018-12-18 05:30] bbrighttaer commented on #1394
I also got a similar error while trying to load the pdbbind database:

/home/bbrighttaer/anaconda3/envs/deepchem/lib/python3.5/site-packages/deepchem/feat/rdkit_grid_featurizer.py:1033: UserWarning: sanitize is set to False, pi_stack feature will be ignored
  feature_type)
/home/bbrighttaer/anaconda3/envs/deepchem/lib/python3.5/site-packages/deepchem/feat/rdkit_grid_featurizer.py:1033: UserWarning

[2018-12-19 07:44] So-hyeon opened #1466 "I can't import deepchem as dc"
**Description:**
I'm not sure that deepchem is installed correctly.
And install deepchem in conda following to https://github.com/deepchem/deepchem . So,
When I search conda list, I can found deepchem
deepchem                  2.1.1.dev243              <pip>

but

![2018-12-19 4 42 25](https://user-images.githubusercontent.com/45989427/50205867-1bac1a00-03ad-11e9-8ad5-60061bf2c0f2.png)

The other

[2018-12-19 07:49] So-hyeon opened #1467 "deepchem installing & running problem"
**Description:**
I'm not sure that deepchem is installed correctly.
And install deepchem in conda following to https://github.com/deepchem/deepchem . So,
When I search conda list, I can found deepchem
deepchem                  2.1.1.dev243              <pip>

but

![2018-12-19 4 42 25](https://user-images.githubusercontent.com/45989427/50205867-1bac1a00-03ad-11e9-8ad5-60061bf2c0f2.png)

The other

[2018-12-20 18:09] rbharath commented on #1467
I think you need to install from `deepchem` conda channel using the following command:

[code]

[2018-12-20 18:10] rbharath commented on #1466
Check answer in #1467. Closing this issue since we can continue discussion there.

[2018-12-20 18:10] #1466 closed

[2018-12-20 20:20] maclandrol opened #1468 "Isn't the adjacency matrix supposed to be symmetric?"
https://github.com/deepchem/deepchem/blob/797b1ccfd0e7c101816c808223bfdb51843e314c/deepchem/feat/adjacency_fingerprints.py#L108

Shouldn't Line 108 be :
[code]
Otherwise, you could just set line 108 outside of the neighbors loop.

[2018-12-21 10:10] So-hyeon opened #1469 "deepchem tutorials errors"
l did installed deepchem(reference https://github.com/deepchem/deepchem)
![2018-12-21 7 07 58](https://user-images.githubusercontent.com/45989427/50337245-da09a380-0553-11e9-905b-58ca6151e1e0.png)

And I try to example of deepchem's  tutorial via jupyter notebook.
But It is doesn't work.

![2018-12-21 6 13 20](https://user-images.githubusercontent.com/45989427/50336926-d1fd3400-0552-11e9-8682-732b

[2018-12-21 11:48] So-hyeon opened #1470 "error about NOT working deepchem"
**Description:**
This is my conda infomantion
![2018-12-21 8 26 48](https://user-images.githubusercontent.com/45989427/50341131-05df5600-0561-11e9-9c30-0c156753c34f.png)

To install deepchem,
I was following to this process ( "If I don't want GPU support")
![2018-12-21 8 33 06](https://user-images.githubusercontent.com/45989427/50340788-b4829700-055f-11e9-9ef6-2ad6549ae024.png)

As follows
![2018-

[2018-12-24 11:15] VIGS25 commented on #1464
Hi,
I would presume X is ordered as (`n_samples`, `n_features`) so each sample should have a shape of `n_features`. So the 589 is possible right?

[2018-12-24 11:16] VIGS25 commented on #1459
@rbharath: This is sorted now!

[2018-12-24 13:10] Dinxin opened #1472 "How can we download 'az_ppb.csv' contained in script 'mpnn.py'?"
**Description:**

- DeepChem Version:
- Platform:

[code]

[2018-12-30 15:03] jedison-github commented on #1415
i met the same error,but i  can actually find the 'trans' in my install dir '~/anaconda3/envs/rdkit-env/lib/python3.6/site-packages/deepchem/':
AttributeError                            Traceback (most recent call last)
<ipython-input-3-cb13ae64dca7> in <module>
      5 import numpy as np
      6 import tensorflow as tf
----> 7 import deepchem as dc
      8 from deepchem.models.tensorgraph.models.

[2019-01-01 01:01] rbharath commented on #1362
To clarify, this issue suggests that `load_pdbbind` should be modified to support featurization so that we could write code as follows

[code]

[2019-01-01 15:36] VIGS25 commented on #1142
Ping @peastman @rbharath.
Also a Happy New Year!

[2019-01-02 00:11] peastman commented on #1142
I don't have any good ideas about this, but maybe @rbharath can suggest something.  We would need to take the object and do all the same calculations as in `default_generator()`,  but entirely with TensorFlow operations.  I don't know if that's even possible.

[2019-01-02 00:18] VIGS25 commented on #1142
For the graph models, I tried out `tf.py_func` over the numpy calculations that a `default_generator()` does and it did the processing needed, but `Dataset.make_iterator()` fails because it expects `X` to have a `dtype`.

[2019-01-02 09:46] JeremyAlain opened #1481 "MAML implementation question"
@peastman
I saw that you implemented the MAML code, thus I thought I would ask you as you are most familiar with it.

I am not sure if I misunderstand something about your code, or if it is a mistake of this algorithm:
<img width="530" alt="bildschirmfoto 2018-12-29 um 16 37 48" src="https://user-images.githubusercontent.com/20299322/50586638-b7905800-0e7a-11e9-83ec-44d1bf9c2a73.png">

That's how

[2019-01-02 09:56] JeremyAlain commented on #1481
EDIT: What I mean is specifically written here in the paper
<img width="537" alt="bildschirmfoto 2019-01-02 um 10 55 30" src="https://user-images.githubusercontent.com/20299322/50587134-ff17e380-0e7c-11e9-8730-3ef38d544044.png">

[2019-01-02 10:32] JeremyAlain commented on #1481
I have once more gone through the paper and have a suspiction:
Did you implement the first order approximation of the MAML algorithm that they mention? Honestly I did not fully understand until now what that meant. But it seems to be what you implemented. Can you confirm that?

[2019-01-02 22:04] rbharath opened #1482 "Sunsetting Python 2 Support?"
A number of major data science projects are sunsetting Python 2 support: https://python3statement.org/

For the future DeepChem releases, we should consider sunsetting Python 2 support. This would let us do interesting things like add type annotations to our code. The downside is that this might affect some of our users.

Thoughts?

[2019-01-03 15:30] VIGS25 commented on #482
I looked at the datasets for this.
Unlike the Protein-Ligand collection where there were separate directories for each pdb, and ligand as well pdb files within that directory, the PP and PN collections only have the pdb files and no directories.

Not sure how to go about it

[2019-01-03 16:48] VIGS25 commented on #1404
Have added this as a toggle for now.
How do I choose the `max_num_atoms`, `frag1_num_atoms`, `frag2_num_atoms` etc for this?

[2019-01-04 20:25] rbharath commented on #1404
This turns out to be pretty tricky because there are some giant molecules in PDBBind. So to get everything, `max_num_atoms` would have to be set really large. I'd recommend trying a few combinations, seeing how much of PDBBind fits in, and picking something with at least 85% of the dataset covered.

[2019-01-06 03:17] jrthom18 commented on #1472
Also, are the `Delaney` and `Clearance` datasets available to download somewhere?

[2019-01-06 19:41] VIGS25 commented on #1142
Yes I agree to that.
But the error is of the form `object of type Mol has no attribute dtype`. `make_iterator` looks at a single `(X, y, w, id)` tuple and uses their dtypes and converts them to tensorflow equivalents, and uses the shapes and dtypes to make a `tf.data.Dataset object`. Unles there is a workaround in this part for non-numpy objects, `make_iterator` would be a problem for `Mol` object

[2019-01-06 23:07] VIGS25 commented on #1142
Here's the stack trace:
[code]

Here's the script to reproduce the error (Sorry a little long, but it contains the full definition of the Weave Model)

[code]

[2019-01-07 21:36] rbharath opened #1486 "DeepChem Windows Support"
At present DeepChem doesn't support Windows installs. As the book moves closer to publication though, it will become important for us to support Windows otherwise readers who use windows won't be able to do any of the examples. Windows support should be in place for the next DeepChem release.

[2019-01-07 21:55] rbharath commented on #1415
This is related to #1486. We're going to try to add formal windows support for the next release and will take a look into these issues.

[2019-01-08 19:08] peastman commented on #1481
It's been a very long time since I worked on this, but I believe it's implementing the full algorithm, not the linear approximation.  The important point is that it creates two different sets of variables, one for the original parameters and one for the parameters after meta-optimization.  (See https://github.com/deepchem/deepchem/blob/master/deepchem/metalearning/maml.py#L143-L146.)  It computes

[2019-01-08 19:56] VIGS25 commented on #1142
I gave it a try, but realised that `tf.py_func` actually only works with `ndarray` and I had made a mistake when previously testing it with `non-ndarray`.
There are no other Tensorflow wrapper functions, to the best of my knowledge that deal with objects that are not `ndarray`. So `make_estimator` won't work for the GraphModels except `DTNNModel`

[2019-01-08 20:05] peastman commented on #1142
That makes sense.  @rbharath any thoughts on how to deal with this?

[2019-01-08 20:15] VIGS25 commented on #1142
One idea I had was if we could pass another argument called `map_fn` to the `dataset.make_iterator` function, that could do the feature extraction we want and then make the iterator on the new set of features.

This `map_fn` can be used within the generator function for `dataset.make_iterator`. The generator operates over `dataset.iterbatches`.

This would circumvent the need to use a `tf.py_func`

[2019-01-10 18:18] amandajean119 opened #1489 "NumpyDataset and DiskDataset y vectors are not consistent"
**Description:**

- DeepChem Version: 2.1.0
- Platform: Ubuntu

For singletask datasets (1D label vector), NumpyDatasets and DiskDatasets return different views of the y vector. NumpyDataset returns a vector and DiskDataset returns a 2-D array.

[code]

[2019-01-10 18:24] amandajean119 opened #1490 "Cannot pass `cutoff` arg to ButinaSplitter when calling via superclass"
**Description:**

- DeepChem Version: 2.1.0
- Platform: Ubuntu

The base class Splitter's split functions do not take **kwargs, so you can't pass in the `cutoff` parameter to the Butina splitter when calling them. This means that there is no way to set the ButinaSplitter.split() cutoff parameter through the train_test_split, train_valid_test_split, or k_fold_split methods in Splitter. The first tw

[2019-01-10 18:31] amandajean119 opened #1491 "`restore` param of fit method does not work as expected"
**Description:**

- DeepChem Version: 2.1.0
- Platform: Ubuntu

The docs for the restore param for the fit method say:
restore (bool) – if True, restore the model from the most recent checkpoint and continue training from there. If False, retrain the model from scratch.

When restore is True, we do find that it attempts to restore the model from the most recent checkpoint. However, if you attempt

[2019-01-10 20:31] rbharath commented on #1490
@amandajean119 Thanks for the report! Have marked this as an enhancement with PRs welcome.

[2019-01-10 20:32] rbharath commented on #1489
Good find. Marked this one as a bug.

[2019-01-10 20:57] peastman commented on #1491
Really this is an error in the docs.  It used to work that way, back when it constructed a new Session for every call.  The behavior changed when we switched to using a persistent Session, but the method description missed getting updated.

[2019-01-10 21:00] peastman commented on #1489
Does this still happen in the current code?  I think it was fixed in #1406.

[2019-01-10 21:01] peastman commented on #1489
Sorry, hit the wrong button!

[2019-01-11 00:53] robbiebarrat opened #1493 "Using isomeric smiles with deepchem"
I'm trying to train a neural network to discern between active and inactive molecules from a pubchem assay. We have been using canonical smiles to train, but we've found that there are molecules with the same canonical smiles, but distinct isometric smiles and distinct activity levels.

Is there a way to use isometric smiles as an input with deepchem? Or at least a way to encode the information no

[2019-01-11 18:18] VIGS25 opened #1494 "Missing return statement in create_tensor for symmetry_function layers"
The layers defined in `dc.models.tensorgraph.symmetry_functions` have the `return out_tensor` statement missing in `create_tensor`.

It looks like an error since all the other layer implementations have the return statements

[2019-01-11 22:58] amandajean119 opened #1496 "fcnet.MultitaskRegressor.get_params() does not return the expected model parameters"
**Description:**

- DeepChem Version: 2.1.0
- Platform: Ubuntu

Deepchem has a fcnet.MultitaskRegressor.get_params() method returns a dictionary in this format:

{'activation_fns': None,
'bias_init_consts': None,
'dropouts': None,
'layer_sizes': None,
'n_features': 1024,
'n_tasks': 1,
'uncertainty': None,
'weight_decay_penalty': None,
'weight_decay_penalty_type': None,
'weight_init_stddevs': None}

[2019-01-11 23:10] peastman commented on #1496
It looks like `get_params()` is something we're inheriting from sklearn (since DeepChem's `Model` class extends `BaseEstimator`).  I'm not sure how it's intended to work, or where it gets its values from.  Anyone know?

[2019-01-12 00:35] #1494 closed

[2019-01-16 07:08] VIGS25 commented on #1472
@Dinxin: Not really sure, the usual place for datasets was also missing it. Maybe @rbharath or @peastman would know.

@jrthom18:
`delaney` dataset can be downloaded from [here]('http://deepchem.io.s3-website-us-west-1.amazonaws.com/datasets/delaney-processed.csv')
`clearance` dataset can be downloaded from [here]('http://deepchem.io.s3-website-us-west-1.amazonaws.com/datasets/clearance.csv')

[2019-01-16 07:11] VIGS25 commented on #1459
@nbliangying: It looks like the issue is resolved. Can you please close it?
Feel free to reopen if necessary

[2019-01-16 07:19] VIGS25 commented on #1442
`tf.contrib.image` has a lot of transforms that we can work with too.

[2019-01-16 13:06] nbliangying commented on #1459
OK!

Thank you very much!

在2019年01月16 15时11分, "Vignesh Ram Somnath"<notifications@github.com>写道:

@nbliangying: It looks like the issue is resolved. Can you please close it?
Feel free to reopen if necessary

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-01-16 13:07] #1459 closed

[2019-01-16 17:30] VIGS25 commented on #1392
How does one go about doing this?
I saw that `TensorGraph` had support for eager execution and assumed the capabilities should pass on to `AtomicConvModel` as well

[2019-01-16 19:22] peastman commented on #1392
That depends why it doesn't work in eager mode.  *If* all the layers it uses support eager mode, and *if* the model isn't doing anything strange, it should work.  Back when I was profiling atomic convolutions I tried to run it in eager mode and it threw an exception.  But I don't remember what it was.

The AtomicConvolution layer does support eager mode, so that shouldn't be the problem.  I see th

[2019-01-17 04:05] VIGS25 commented on #368
I would like to work on this, but unsure of where to get started from.

[2019-01-17 06:08] VIGS25 commented on #644
I compared the current implementation of `HAGCN`(Higher Order Adaptive GCN) with `GraphConvModel` and trained them on `delaney` and `tox21` datasets, for 100 and 20 epochs respectively

For the `HAGCN` model, I used the `l1_adp_gcn` and `l2_adp_gcn` mentioned in the paper, but with a maximum possible neighborhood of 4, instead of the 3 they specified. The `GraphConv` model was used as is from the

[2019-01-17 09:10] JeremyAlain commented on #1481
Thanks for your answer, I looked through it again and you are right!
kind regards
Jérémy

[2019-01-17 09:11] #1481 closed

[2019-01-17 20:12] rbharath commented on #368
I'd recommend taking a look at some docking best practices guides. For example, perhaps this one:
http://ablab.ucsd.edu/pdf/Rueda_Abagyan_Wiley_Chapter_123112.pdf

Making progress here basically requires us to implement these best practices guides in DeepChem.

[2019-01-20 18:10] Iron4dam commented on #1394
Same error here. @s-fukushima-a42 Does it work fine if we delete the set of data you mentioned above?

[2019-01-24 18:44] bkestelman opened #1501 "Conda Install Tensorflow 1.10.0 dependency"
**Description:**

Hello,

I need to use tensorflow=1.10.0, but 'conda install -c deepchem deepchem' comlains that it requires tensorflow=10.6.

Is tensorflow=1.10.0 actually incompatible with deepchem?

[2019-01-25 18:56] Iron4dam commented on #1394
For the core 2013 dataset, remove PDB ID: 2v7a, 2xbv.

[2019-01-26 00:18] Iron4dam opened #1502 "IndexError when running MoleculeNet"
**Description:**

- DeepChem Version: 2.1.1
- Platform: MacOS 10.14.2

I encountered an IndexError when running random forest regression in MoleculeNet on the PDBbind dataset. The error appears in deepchem/models/multitask.py line 71.  Here's my code:

[code]

Here's the error I got:

[code]

Seems the `w` and `y` at that place (multitask.py line 71) shouldn't be 2 dimensional arrays. Could someon

[2019-01-27 23:01] rbharath commented on #1501
It's definitely on our TODO lists to upgrade DeepChem to later versions of TF. We've got this slotted for the release after next when we're planning to do a wholesale upgrade to TF2. In the meanwhile, I think it should work with tf 1.10 (I don't think there have been any breaking changes). If the test suite runs with almost all passing (a couple flaky tests here and there), you're probably fine

[2019-02-04 10:21] mc-robinson commented on #1467
Having tried the above command, I would like to report a similar

[code]
Interestingly, my channels do include the following:

[code]

I have tried and found a similar error on my OSX machine.

[2019-02-04 15:57] brunocuevas opened #1504 "Symmetry functions featurization functions are not in "feats""
Hello

I just noticed that methods for featurization using Behler-Parrinello (2007) symmetry functions are not implemented in the corresponding "feat" class. On the contrary, those features are obtained using methods from deepchem.models.tensorgraph.symmetry_functions. It was a little hard for me to understand how to get those features until I read the commit of this class.

I would suggest that t

[2019-02-04 17:59] peastman commented on #1504
The BPSymmetryFunction class is totally misnamed, because it doesn't do anything like what it claims.  It just creates an array of the coordinates and atomic numbers.  We should fix that.

For a lot of the common uses of these models (molecular dynamics, energy minimization), it's important that the inputs be raw coordinates and that the symmetry functions get calculated as part of the model.  Tha

[2019-02-04 18:34] brunocuevas commented on #1504
Yes, I wanted to predict the parameters of a model of electron density I'm working on, and I liked symmetry functions because they can provide specific atom feats. When I saw that there was a BPSymmetry class I thought I would have it coded in 5 minutes, but then I realized that is way more complex, and I don't know yet if any of the implemented models can fulfill my specific requirements.

[2019-02-04 19:04] peastman commented on #1504
Can you explain what it is about your model that requires the inputs to be precomputed symmetry functions, rather than the atomic coordinates from which the symmetry functions are computed?

[2019-02-04 20:19] brunocuevas commented on #1504
Actually, I must confess that I'm a newbie of deep learning, so at the beginning, I thought I'd just obtain a bunch of vectors, I'd store them in a matrix and then just train some NN. Of course, it was a way less sophisticated idea than including the symmetry functions as layers of the NN because, but it was good for me because I don't need to backpropagate on coordinates. After all, I'm trying to

[2019-02-04 20:56] peastman commented on #1504
Yeah, sorry about that.  That class name and description are just wrong.  What it really means is that it builds the input matrices expected by the classes that *actually* compute the symmetry functions.  I've marked this as a bug to indicate we should fix them.

[2019-02-04 21:22] brunocuevas commented on #1504
Great help, thanks 👍

[2019-02-05 23:05] Iron4dam commented on #1449
Have you succeeded? I got a different error while training MPNN on the same dataset. Here's my error:
[code]

Here's my code:
[code]

[2019-02-05 23:36] Iron4dam opened #1505 "MPNN Value Error"
**Description:**

- DeepChem Version: 2.1.1
- Platform: MacOS 10.14.2

Encountered a dimensionality error when the model tried to reshape pair features. My sample code:
[code]

The error I got:
[code]

[2019-02-06 09:12] VIGS25 commented on #1505
The error is happening, because `WeaveFeaturizer` computes `pair_features` of shape `(51, 51, 14)`, but the `n_pair_feat` argument supplied is 8. The code below should run without errors:

[code]

[2019-02-06 10:01] Iron4dam commented on #1505
@VIGS25 Many thanks for your reply. The first time I added `n_pair_feat = 14` I got the following error:
[code]

Then I further added  `n_atom_feat = 75` and this error was gone. But I got another error at the start of training:
[code]
Should I fix `n_pair_feat = 14` and `n_atom_feat = 75` in the future? And is the graph featurized by Weave undirected so that it couldn't be sorted in topological o

[2019-02-08 12:43] mc-robinson opened #1506 "Unexpected randomness in graphconv prediction"
VERSION: 2.1.0

After training a GraphConvModel for a fair number of hours, I am getting some unexpected results when testing the performance of the model. In particular, the training, valid, and test errors are all different when I run the code below. This is surprising since I was careful to set the same seed during the train test split and have not changed the csv file containing the data betwe

[2019-02-08 17:57] peastman commented on #1506
Different from what?  From each other?  Or different between multiple runs of the script?  Or something else?

[2019-02-09 02:56] mc-robinson commented on #1506
Sorry. Different as in the test error changes between multiple runs of the script, despite the seed being set each time. This is also true of the training and validation set errors. This confuses me because I set the seed in order to try to maintain reproducibility.

They are also different from each other, as is expected.

[2019-02-09 08:49] VIGS25 commented on #1505
Hi,
Sorry for the delayed response.
I'll have to look into the mechanics of the `WeaveMol` object, and check this.

[2019-02-09 11:29] dimsterdi commented on #1241
@torlarse You need to either change the headers in the CSV files:

**id,target,smile** to **id,exp,smiles**

or edit run_benchmarks.py:

line 41: _tasks = ['exp']_ to _tasks = ['target']_
line 48: _smiles_field="smiles"_ to _smiles_field="smile"_

[2019-02-09 14:18] Iron4dam commented on #1505
@VIGS25 Many thanks for your help! I'm trying to reproduce molnet results and doing some multi class classifications. Is the mpnn model runnable on your system? I'll take a look into the featurizer source code as well.

[2019-02-09 22:56] rmurphy2718 commented on #650
How do you actually save the model to a specific file?  If I train two models A and B, how do I load B when desired?

[2019-02-10 04:44] peastman commented on #1506
Ok, let me look into it and see if I can tell what's going on.

[2019-02-10 08:22] VIGS25 commented on #1505
@Iron4dam: I wouldn't think so, but I'll try getting it running over the next couple of days. I also have to check if the `WeaveFeaturizer` and MPNN model are meant to be compatible.

[2019-02-10 12:21] Iron4dam commented on #1505
@VIGS25 There're four featurizers that molnet implemented for this dataset: `ECFP`, `GraphConv`, `Weave` and `Raw`. I tried the last three but both `GraphConv` and `Raw` featurizers raised a similar error that `ConvMol` or `Mol` has no attribute `get_pair_features`:
[code]
So I think the only possible one should be `Weave`.

[2019-02-10 12:36] VIGS25 commented on #1505
@Iron4dam, even though four featurizers are implemented with the HIV Dataset, they are not necessarily all compatible with the `MPNNModel`. So I agree, that Weave should only work.

Can you give me sometime to look into this?

[2019-02-10 12:41] Iron4dam commented on #1505
@VIGS25 no problem, thanks so much for your help!

[2019-02-11 16:46] mc-robinson commented on #1506
As an update, I tried splitting the train, validation, and test sets in a separate pandas script. I then loaded each dataset individually into deepchem in order to ensure the train/valid/test split was the same each time. Now the code outputs the same results each time and the results are much more what one would expect, indicating that I am not snooping on the test set anymore. Therefore, my inst

[2019-02-11 17:35] peastman commented on #1506
You're completely right.  `train_test_valid_split()` was ignoring the seed instead of passing it on to the splitter.  I just posted a pull request with the fix.  Thanks for spotting this!

[2019-02-11 17:42] mc-robinson commented on #1506
Glad you found the error! I really hope others had noticed this or were not using the seed for sake of reproducibility, because it would very easily lead one to have an overly optimistic opinion of their generalization performance...

[2019-02-11 22:48] #1506 closed

[2019-02-12 16:06] VIGS25 commented on #1505
[code]

[2019-02-12 23:40] Iron4dam commented on #1505
@VIGS25 Many thanks! It ran successfully on my computer as well except for a few error messages in the middle which are same as above that the graph couldn't be sorted in topological order. I guess these might occur because the `WeaveFeaturizer` output undirected graphs. I will have a double check the original message passing paper to see what featurizing method they're using. Also I could actuall

[2019-02-13 07:40] VIGS25 commented on #1505
I think it has more to do with TensorFlow's computation graph rather than the Weave Featurizer, as the message seems to be from Tf optimizers.

[2019-02-15 19:47] peastman commented on #1501
I'm starting work now on upgrading to the latest TensorFlow (1.12).  Hopefully not too much will have broken.

[2019-02-16 11:58] Iron4dam commented on #1505
@VIGS25 yeah I think you're right. I'm thinking the `Weave` featurizer might not be a good choice for MPNN, since the original dataset was about quantum chemistry and they used some other quantum featurizers. Have you tried using MPNN with non-quantum chemistry dataset before?

[2019-02-17 23:34] tblaschke commented on #1467
The message is a little bit awkward, but it's due to unresolved dependencies.

Try this command
`conda install -c deepchem -c rdkit -c conda-forge -c omnia deepchem=2.1.0`

[2019-02-18 11:22] RMeli opened #1510 "Tox21 tutorial not working with standard conda installation"
The tutorial [Graph Convolutions For Tox21](https://www.deepchem.io/docs/notebooks/graph_convolutional_networks_for_tox21.html) fails when loading the dataset with a fresh installation of DeepChem:
[code]

## Setup

### DeepChem Version
DeepChem: 2.1.0

### DeepChem Installation w/ MiniConda
Installed on Ubuntu 18 using [MiniConda](https://docs.conda.io/en/latest/miniconda.html):
[code]

### Other

[2019-02-18 22:14] kmclough opened #1511 "No way to set verbose=False when transforming datasets"
**Description:**

- DeepChem Version:
- Platform:

[code]

[2019-02-18 22:19] kmclough commented on #1511
Am trying to turn off all the log messages that are posted to stdout when DiskDatasets are created. Most functions that invoke DiskDataset.create_dataset() allow you to pass the verbose parameter and set it False, but DiskDataset.transform() does not. It would be simple enough to add a **kwargs parameter to allow one to do this.

[2019-02-19 06:41] VIGS25 commented on #1502
@Iron4dam, will have a look at this!

[2019-02-19 07:18] VIGS25 commented on #1510
@RMeli, could you post the whole traceback?

[2019-02-19 10:50] RMeli commented on #1510
Sure, I forgot to include it in the original post:
[code]

After further investigation I think the the following StackOverflow question is relevant to the issue: [ImportError: No module named 'pandas.indexes'](https://stackoverflow.com/questions/37371451/importerror-no-module-named-pandas-indexes).

[2019-02-19 12:36] VIGS25 commented on #1510
Yes, I was about to point you to the issue too. Did you try the suggested option of upgrading `pandas`?

[2019-02-19 12:53] RMeli commented on #1510
As mentioned in the original post I have pandas `0.22.0`, which seems to be the most up-to-date version on `conda`:
[code]

[2019-02-19 15:08] VIGS25 commented on #1502
I was unable to reproduce the error. Your script has two bugs which are fixed here:

[code]

[2019-02-19 22:56] VIGS25 commented on #1510
There's an ugly hack, suggested here: https://github.com/pandas-dev/pandas/issues/16474.

[2019-02-20 14:29] VIGS25 commented on #1496
So `get_params` works by first getting the init signature and then the parameter names from the signature. Next it iterates through the parameter names and does a `getattr(self, param_name, None)`.
I checked the attributes of `fcnet.MultitaskRegressor` and except `n_features` and `n_tasks` (which don't have any default values assigned), all others don't feature in the list.

[2019-02-20 14:59] Iron4dam commented on #1502
@VIGS25 Many thanks for your help!

[2019-02-20 14:59] #1502 closed

[2019-02-20 18:27] VIGS25 commented on #1496
It turns out that for `fcnet.MultitaskRegressor`, the parameters showing up as `None` do not have a corresponding`self.param = param` statement. The moment that is done, `get_params` works as intended.
The same issue is applicable to `fcnet.MultitaskClassifier`

[2019-02-21 11:02] RMeli commented on #1510
Yes, with the following workaround
[code]
I can run this tutorials from start to finish.

[2019-02-21 12:22] VIGS25 commented on #1510
Thats great! `joblib` however, needs to fix its pickling step.
Meanwhile, could you close the issue now? Feel free to reopen if necessary

[2019-02-21 12:24] #1510 closed

[2019-02-21 18:42] #1501 closed

[2019-02-24 11:45] VIGS25 commented on #1511
@kmclough, This has been fixed now.

[2019-02-24 11:45] VIGS25 commented on #1504
@brunocuevas: This has been fixed now

[2019-02-24 22:13] SeanXiaoyuSun opened #1517 "ConvGraph features"
Hi all,

I'm new to DeepChem. I'm trying to understand the corresponding physical property of each element in the X vector returned by ConvMolFeaturizer.

I used the following code to print out the X vectors of my data set
[code]
And I got vectors like this:
[code]
Does anybody know the meanings of these 75 entries in every X vector?

Best,

[2019-02-24 22:39] VIGS25 commented on #1517
These correspond to different atom features like the atomic symbol, degree of the atom, its implicit valence,  formal charges, hybridization and a few other properties like that. These are then converted to the appropriate one-hot encoded versions.

You can find more about this here:
https://github.com/deepchem/deepchem/blob/049779ec2f7ed3aed543aa993c2061e26a38f77a/deepchem/feat/graph_features.py#

[2019-02-24 23:03] SeanXiaoyuSun commented on #1517
Thanks for your quick response! I get it now.

[2019-02-25 07:11] VIGS25 commented on #1517
Could you close this issue?
Feel free to reopen if necessary!

[2019-02-25 11:10] marcabrus opened #1518 "GraphConv Model and LIME"
- DeepChem Version: 2.1.1
- Platform: anaconda

Hi everyone, I'm new to deepchem. t seems a very good package expecially the integration with LIME.

I'm trying to use Graph convolutional models to extract relevant features and i was wondering if there is a way to use after the training the LIME explanation.
Is there also any tutorial that explains it?

[2019-02-25 17:25] SeanXiaoyuSun commented on #1517
Issue solved

[2019-02-25 17:25] #1517 closed

[2019-02-28 07:53] sym823808458 opened #1519 "pandas error in replacing tox21"
**Description:**

- DeepChem Version:deepchem 2.10
- Platform:linux Ubuntu

I am trying to replace the tox21 dataset with my own dataset(Zr_dataset).I've changed the datasets quite similar .However when I tried to load mine,some error about pandas occured.
python
[code]
Your code sample here
[code]

[2019-02-28 08:19] VIGS25 commented on #1519
So from the error trace, I can see that the issue is within the set of commands I had asked you to run.
Did you run the commands on the file `~/tmp/Zr.csv.gz` or another copy of the file you have?

If you look at the code below, which you had posted on the DeepChem gitter, it looks like if the `Zr.csv.gz` file is missing, you end up downloading the `tox21` dataset and the `Zr.csv.gz` actually cont

[2019-02-28 09:32] sym823808458 commented on #1519
Thanks a lot,really inspired.I tried the command again and it went wrong similarlily with the error I gave beyond.
In the morning,I copied the Zr.csv from another pile to /tmp/.I tried.Neither of them could run without error.
I loaded a zip contained some part of my Zr.csv beyond.Below is the error occured just now.
[code]

[2019-02-28 09:36] VIGS25 commented on #1519
Does your file have a `smiles` column in it?
It looks like the most plausible error.

[2019-02-28 09:40] sym823808458 commented on #1519
Yes,I do.I printed df.Maybe the problems comes from here.
[code]
![gkk3tmhqq4b kh oys31p](https://user-images.githubusercontent.com/43782314/53556945-e592cf80-3b7f-11e9-8781-e317e02f96f1.png)

[2019-02-28 09:42] VIGS25 commented on #1519
Ah, I see the issue.
It looks like all your different columns are merged as a single one in the file.

Maybe you could try fixing that and re-run the method?

[2019-02-28 12:05] sym823808458 commented on #1519
Could you please give me some more specific advice?I tried several method but failed.
Thanks.

[2019-02-28 12:09] VIGS25 commented on #1519
Your columns should be name `Salt`, `Vaccum`, `SBU` and `smiles`. What it seems to be is `Salt Vaccum SBU Smiles`. (Notice the absence of commas).

If you fix your csv file to have the 4 different columns, then it should work.

[2019-02-28 12:15] sym823808458 commented on #1519
![psqcth t7m 4okrxxp r](https://user-images.githubusercontent.com/43782314/53565862-98215d00-3b95-11e9-84cd-9c607a742dfb.png)

[2019-02-28 12:17] VIGS25 commented on #1519
What does `df.columns.to_list()` give you?

[2019-02-28 12:34] sym823808458 commented on #1519
I am sorry but What do you mean?I am confused.The result is just an error like before.
[code]

[2019-02-28 12:37] VIGS25 commented on #1519
[code]

[2019-02-28 12:40] sym823808458 commented on #1519
Wooo!You really got the point!Thanks a lot.I will keep moving forward.
Thanks,Somnath.
![i7eh5pdrkslj6dv u1 vm9u](https://user-images.githubusercontent.com/43782314/53567068-0ddaf800-3b99-11e9-8537-ece5bd6d21a5.png)

[2019-02-28 12:42] VIGS25 commented on #1519
If you see, the column name is not actually `smiles`, but instead `smiles` followed by a lot of spaces. Thats why the error keeps coming. Please fix that and the method should run

[2019-03-04 10:51] maykillmore commented on #1491
Sir I'd like to take up this issue if it's still open.

[2019-03-04 11:07] abster12 commented on #1486
If you don't mind me asking could please tell me what exactly needs to be done to add windows support?

[2019-03-04 16:42] peastman commented on #1486
I'm not sure what, if anything, doesn't work on Windows at this point.  I would just try it out and see what breaks.

[2019-03-04 17:13] abster12 commented on #1486
Other than installing from source is there any other way to install deepchem? It seems i cannot run the same commands in the readme to install from source on windows

[2019-03-04 17:59] peastman commented on #1486
Current it needs to be installed from source.  Once everything is working correctly, the next step will be to build conda packages for Windows.

[2019-03-04 18:00] abster12 commented on #1486
Yeah I tried using the instructions given but I got these errors.
[code]

[2019-03-04 18:24] abster12 commented on #1486
The only way I got it to run was run ``` python setup.py install``` and after that i had to install a few other packages and I could get a tutorial running.

[2019-03-04 18:31] peastman commented on #1486
install_deepchem_conda.sh is a Unix shell script.  It won't work on Windows.  You'll need to install all the dependencies by hand.

That's a good start!  Next thing to try is running the full test suite:

[code]

[2019-03-04 23:58] fredrikszm opened #1523 "Unable to Load Disk Datasets (ValueError: No Metadata Found On Disk)"
- DeepChem Version: 2.1.0
- Platform: anaconda; python 3.5; mac OS

_I am trying to follow some of the tutorials and any time I try to load in a disk dataset, I get
 "ValueError: No Metadata Found On Disk"_

**[1]:**
PDBBIND_tasks, (train_dataset, valid_dataset, test_dataset), transformers = dc.molnet.load_pdbbind_grid()

_**gives the following output:**_

Loading dataset from disk.
--------------

[2019-03-05 08:24] VIGS25 commented on #1519
If this issue is solved, then can you close it?
Feel free to reopen if necessary.

[2019-03-05 13:44] #1519 closed

[2019-03-05 17:09] VIGS25 commented on #1523
Can you try these: `dc.molnet.load_tox21(reload=False)` and `dc.molnet.load_pdbbind_grid(reload=False)`

[2019-03-06 15:35] abster12 commented on #1486
How do I deal with the benchmarking on dataset errors?

[2019-03-06 15:37] abster12 commented on #1486
Also the tests for weave models and dag regressionn models fail.

[2019-03-06 16:54] peastman commented on #1486
What do you mean?

What are the error messages?

[2019-03-06 17:03] abster12 commented on #1486
Benchmarking errors like these :
[code]
======================================================================
FAIL: test_weave_regression_model (deepchem.models.tensorgraph.tests.test_graph_models.TestGraphModels)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "C:\Users\abhig\OneDrive\Desktop\deepchem\deepchem\models\tensorgraph\te

[2019-03-06 19:31] fredrikszm commented on #1523
This is the output of each:

**dc.molnet.load_tox21(reload=False)**
Loading raw samples now.
shard_size: 8192
About to start loading CSV from /var/folders/bh/37q8tg8s5lzdynsgpklkf_k00000gn/T/tox21.csv.gz
Loading shard 1 of size 8192.
Featurizing sample 0
Featurizing sample 1000
Featurizing sample 2000
Featurizing sample 3000
Featurizing sample 4000
Featurizing sample 5000
Featurizing sample 6000
F

[2019-03-06 19:41] VIGS25 commented on #1523
I can see that the `load_tox21()` is working properly now, but it is surprising that it failed to work properly previously.
For `load_pdbbind_grid()`, it looks as though the current source code (which works on my machine), is a little different from the one running on yours. I'll have to look at that one, to see what went wrong

[2019-03-06 19:46] fredrikszm commented on #1523
Just in case this information is pertinent:
I removed and reinstalled deepchem yesterday and it made no difference. Both times (original and reinstall) I used the following to install:
conda install -c deepchem -c rdkit -c conda-forge -c omnia deepchem=2.1.0

Thanks for looking into this for me, I really appreciate the help!

[2019-03-06 19:50] VIGS25 commented on #1523
Can you try installing from source instead?
There were some issues with `pdbbind_datasets.py` file which have now been fixed. However, those changes will be passed onto the conda version only in the next release.

If you cannot install from source, then I'd recommend not trying out the `pdbbind` loading.

[2019-03-06 20:45] fredrikszm commented on #1523
When I install from source I get the following:

Ran 576 tests in 921.017s
FAILED (errors=20, failures=1)

[2019-03-06 20:47] VIGS25 commented on #1523
Can you copy the error log in a file and post it here?

[2019-03-06 20:51] fredrikszm commented on #1523
[deepchemErrorLog.txt](https://github.com/deepchem/deepchem/files/2938237/deepchemErrorLog.txt)

[2019-03-06 20:57] VIGS25 commented on #1523
Did you run the tests inside the virtual environment?
I'm asking this because `mdtraj` should be present

[2019-03-06 20:59] fredrikszm commented on #1523
Yes I ran the tests in the virtual environment. But conda list shows that the virtual environment does not have mdtraj installed
Should I install it and try again?

[2019-03-06 21:17] fredrikszm commented on #1523
I installed mdtraj (1.9.2) then ran the script and it still shows the following error:

PackageNotFoundError: Packages missing in current channels:

  - mdtraj 1.9.1*

[2019-03-06 21:20] VIGS25 commented on #1523
`bash scripts/install_deepchem_conda.sh` should have installed `mdtraj` as well. The script has it explicitly

[2019-03-06 21:27] fredrikszm commented on #1523
I don't see it in the file:

![screen shot 2019-03-06 at 1 27 23 pm](https://user-images.githubusercontent.com/44656030/53914915-94695c80-4013-11e9-852f-8e5b0b1e0bab.png)

[2019-03-06 21:28] VIGS25 commented on #1523
Check line 46

[2019-03-06 21:29] fredrikszm commented on #1523
ah you are right. Do you have any idea why it is not installing it?

[2019-03-07 17:03] abster12 commented on #1486
Other errors that I encountered was the tests not detecting the 'Bio' module even though it works outside of the tests. Also the test if logging can be invoked fails.
[code]

[2019-03-07 17:37] peastman commented on #1486
The next step is to debug those failures to figure out what's going on.  That will involve adding debugging code to get more information.  For example, consider the error in `test_delaney_graphconvreg()`.  Here's the code where it's failing:

[code]

It just skims through the file to the last line and checks that it has the expected values in it.  That test is failing, perhaps indicating that the

[2019-03-07 17:39] abster12 commented on #1486
Okay , thanks for the help. I will get to it.

[2019-03-08 08:11] kyscg opened #1526 "Issues fixed but not closed"
There are quite some issues to which either the required fixes have been merged or it was agreed that the issue will not be worked upon, could we close those issues @rbharath ?

[2019-03-08 17:21] rbharath commented on #1526
Sure, want to leave a comment in those issues which should be closed? I'll do a cleanup pass after

[2019-03-09 00:20] fredrikszm commented on #1523
Any updates on why load_pdbbind_grid is not working?

[2019-03-10 00:30] kyscg commented on #1526
Yeah, and I'll try to list them out here too.

[2019-03-10 08:37] VIGS25 commented on #1526
I can list out the few which I fixed (and some which TensorFlow doesn not allow for now):

#1499: Cutoff Arg for Butina Splitter
#1504: Renaming the BPSymmetryFunction
#1404: Adding load_binding_pocket to `dc.load_pdbbind`
#1142: Make estimator support. For the models which iterate directly over molecules and compute features, TF doesn't support that yet, so they won't be able to have `make_estima

[2019-03-10 19:29] #1504 closed

[2019-03-10 19:30] #1404 closed

[2019-03-10 19:30] #1317 closed

[2019-03-10 19:31] #1401 closed

[2019-03-10 19:31] #412 closed

[2019-03-10 19:32] #1349 closed

[2019-03-10 19:32] #630 closed

[2019-03-10 19:33] #1362 closed

[2019-03-10 19:33] #1511 closed

[2019-03-10 19:34] rbharath commented on #1526
@VIGS25 Thanks for listing these out! I did a pass and closed most of these (except for a couple like the `make_estimator` support which I want to keep open in case we can address in TF 2.0 upgrades)

[2019-03-11 12:37] pckroon opened #1528 "RDKit is a hard dependency -- README is wrong"
Hello!
I tried to install DeepChem v2.1.0 from source (using pip) in a separate virtualenv. I know this is *not* the recommended way.
The README states that RDKit is a "soft" dependency, but it really isn't it seems.

[code]
Next, in python:
[code]
[code]

And unfortunately installing rdkit using pip is a *pain*.
The fastest fix for this issue would be to change the README to state that rdkit is a

[2019-03-11 15:54] peastman commented on #1528
It used to be a hard dependency.  Since 2.1 was released, we changed it to be a soft dependency.  If you use the latest code from github, it should work as you expect.  Also, we're getting ready to release 2.2 (hopefully this week).

[2019-03-12 09:06] pckroon commented on #1528
Thanks for the rapid response (and with the best possible answer!)
Unfortunately, it doesn't seem to work :(

[code]
[code]
[code]

[2019-03-12 09:15] Maguser opened #1529 "module 'deepchem' has no attribute 'molnet'"
**Description:**

- DeepChem Version:
- Platform:

[code]

[2019-03-13 17:55] danieldemarch opened #1530 "Get data model failed/succeeded on"
Hey all, trying to get the subset of the data a model did/did not classify correctly. Seems to be no easy way to do this. I realize I can use model.predict, but that's returning something odd... it's an array of float pairs between 0 and 1. I initially thought this was a regression val for the molecule but then why would there be two...

Anyway yeah, need to be able to separate my succeed/fail dat

[2019-03-13 23:17] peastman opened #1531 "Inconsistent array sizes in QM7"
`TestMolnet.test_qm7_multitask()` is currently failing in the master branch:

[code]

This is caused by the following code in qm7_datasets.py:

[code]

It's just downloading the data from AWS and loading `X` and `y`.  Unfortunately, they have inconsistent shapes.  `X` is (7165, 23, 23), and `y` is (1, 7165).  I'm assuming `y` really ought to be (7165, 1)?  I can work around this by adding a call t

[2019-03-14 03:18] sym823808458 opened #1532 "How to see which one contributes most for toxic in LIME"
**Description:**
I tried to learn something in this website:https://deepchem.io/docs/notebooks/Explaining_Tox21.html
I run the whole program without any bugs.
But I am confused whether I can see which fingerprint  contributes most for toxic in the training dataset.

- DeepChem Version:2.10
- Platform:jupyter notebook

[code]

[2019-03-14 06:13] UnixJunkie opened #1533 "How to smartly/early stop model.fit?"
Hello,

While playing with this tutorial:
https://deepchem.io/docs/notebooks/graph_convolutional_networks_for_tox21.html

Rather than using this:
[code]
Is it possible to say: "stop using more epochs as soon as the AUC on the validation set doesn't improve by more than 0.0001"?

I mean, nb_epoch should be a maximum limit.
If the model doesn't improve enough way before that limit, I think training

[2019-03-14 07:33] UnixJunkie commented on #1533
I'll play with the restore parameter.
Looks like it was made for this.

[2019-03-14 07:33] #1533 closed

[2019-03-15 19:27] peastman commented on #1533
Something like this should do what you want.

[code]

[2019-03-15 20:18] peastman opened #1534 "Missing file for tests"
Several of the tests in deepchem/models/tensorgraph/tests look for a file called `example_DTNN.mat`, but there's no such file in the repository.

[2019-03-15 20:27] peastman commented on #1534
I see the problem.  There actually are tests in two different directories that use that file: deepchem/models/tests and deepchem/models/tensorgraph/tests.  They all expect it to be in their own local directory, but the file is only in one of them.

[2019-03-17 01:06] chao1224 opened #1536 "Another QM7 Data Inconsistent Issue"
Hi there, I have one question about the size of dataset `qm7`.

The file `qm7.mat` (http://deepchem.io.s3-website-us-west-1.amazonaws.com/datasets/qm7.mat) has 7165 molecules. However, file `qm7.csv` (http://deepchem.io.s3-website-us-west-1.amazonaws.com/datasets/qm7.csv) has 6834 molecules.

This may take an effect when we are comparing `GCNN` and `DTNN`, since they are using [`qm7.csv`](https://

[2019-03-18 02:26] peastman commented on #1534
Fixed by #1535

[2019-03-18 02:26] #1534 closed

[2019-03-18 02:26] peastman commented on #1531
Fixed by #1535.

[2019-03-18 02:26] #1531 closed

[2019-03-18 05:43] UnixJunkie opened #1537 "model.save() and model.load() to user-specified filename [feature request]"
Hello,

It would be nice to be able to save a model to a file chosen by the user.
Same thing for load.

I.e. those functions should take an optional parameter.
If this filename is provided, model should be saved to it, instead of 'tmp_dirname/model.pickle'.

Thanks,
F.

[2019-03-18 09:15] JimSEOW commented on #1062
As a follow to [#599](https://github.com/deepchem/deepchem/issues/599)

Using the Windows 10 WSL ubuntu18.04, I am able to install the latest linux64 deepchem 2.1.0 through conda. The installed deepchem seems to work with many of the provided jupyter notebooks in WSL environment.

Feedback:
(a) I agree with @rvaidya, it is important to aim for non WSL Windows installation of Deepchem as we need te

[2019-03-18 09:19] JimSEOW commented on #599
As it is now possible to install Anaconda's Deepchem 2.1.0 in Windows 10's WSL, I close this issue.

Great effort to the Deepchem community and the latest push to bring DeepChem to Windows.

[2019-03-18 09:19] #599 closed

[2019-03-18 09:32] JimSEOW commented on #1486
@abster12 I recently succeeded in installing Anaconda Deepchem 2.1.0 to Windows 10 WSL (Ubuntu 18.04). Perhaps in your effort, could you also feedback on the remaining challenges of installing DeepChem 2.1.0 to Windows 10 without using WSL as it is essential to have tensorflow-GPU working through DeepChem.

I also just checked that latest [XGBoost ](https://github.com/dmlc/xgboost/issues/4272#issu

[2019-03-18 11:48] abster12 commented on #1486
You could try installing it directly to windows using anaconda but you would have to clone the repository and run ``` python setup.py install ``` and after that you would have to install the dependencies seperately. After that you should get it running directly on windows without WSL and if you are using it in your work please let me know if you encounter any major problems.

[2019-03-18 13:05] sym823808458 opened #1538 "How to add a new feature to smiles in ConvMolFeaturizer"
Hello everyone,
I am new here in deepchem.I found it a great tool to vectorise the molecules.By using it in my own situation,I found a serious problem that I can only set the column of smiles as the only one feature.For example, I wanna add the quality or mol as a new feature and put them into the deeplearning system.
I know I have to use the ConvMolFeaturizer class,but all I got was an object whi

[2019-03-18 16:20] peastman commented on #1538
12 is the number of tasks.  For each of the 6264 molecules, it records the result of 12 different assays.  `get_shape()` returns the shapes of the `X` (features), `y` (labels), `w` (weights), and `ids` arrays, in that order.

[2019-03-18 16:43] JimSEOW commented on #1486
@abster12  from the discussion you had above, it is clear that currently there is no solution for

![image](https://user-images.githubusercontent.com/8244633/54546010-1e65dd80-49a3-11e9-972f-addd98b7e4d3.png)

The whole point of having DeepChem available as Win64 in anaconda is that if anyone needs to promote DeepChem by organizing a workshop, it is a nice feature to have to allow participants to

[2019-03-18 16:54] peastman commented on #1486
Once we're confident everything is working correctly on Windows we can create a conda package for it.  @abster12 try using the latest version of the code.  I recognize at least one of the errors reported above as being one I fixed in #1535.

[2019-03-19 01:36] UnixJunkie opened #1539 "how to limit the number of cores used by deepchem? [feature request]"
Hello,

It would be nice to have a non programmatic way to limit the max number
of cores used at run-time.
For example:
[code]
Thanks,
F.

[2019-03-19 01:56] sym823808458 commented on #1538
Thanks a lot.It's really helpful.
Could you give me any advice for the first question?I wanna see more infomations about the 'mol_object' in my code.What should I do?Then how can I add new features into it?If it 's impossible or  if you could give me other ways to do the same thing,it will be really nice of you.
Thanks again.

[2019-03-19 16:59] peastman commented on #1539
In the current version of TensorFlow, the way you limit the number of cores is with the ConfigProto you pass to the Session's constructor.  See https://stackoverflow.com/questions/38187808/how-can-i-run-tensorflow-on-one-single-core for details.  TensorGraph has a `configproto` argument you can use to specify that.

This is going to change in TensorFlow 2, though, since Sessions won't exist anymor

[2019-03-19 17:51] abster12 commented on #1486
Yeah the weave model tests are not showing errors now and I think there are a couple of other errors which are similar, I will try to add fixes and you could see if they are correct.
Some other errors that I encountered were that the tests for logging keeps failing and even though I have Biopython installed it still shows an import error for Bio.

[2019-03-19 20:24] abster12 commented on #1486
Vina isn't available for windows so the tests related to that can't pass for now. I went through other errors and other than some flaky tests, molnet benchmarking tests are the only ones failing.

[2019-03-19 20:27] abster12 commented on #1486
[code]
All the molnet show similar kind of errors and when trying to test seperately it isn't working on my computer right now. I'll keep trying but could tell me what does the lastrow list contain.

[2019-03-19 20:36] peastman commented on #1486
Here is what `lastrow` is supposed to equal:

[code]

[2019-03-20 06:13] UnixJunkie commented on #1539
Having an environment variable being taken into account would be nice.
Like OMP_NUM_THREADS for OpenMP.

[2019-03-20 09:18] JimSEOW commented on #1486
@abster12  Here is the Visual Studio project solution to compile Vina for Win-64
https://github.com/Ashod/vina/tree/master/build/win

[2019-03-20 09:21] JimSEOW commented on #1486
This is better, Anaconda distributed Win-64 Vina: https://anaconda.org/acellera/vina

[2019-03-20 09:23] JimSEOW commented on #1486
XGBoost for Win64 [status ](https://github.com/dmlc/xgboost/issues/4272#issuecomment-474039278)

[2019-03-20 09:56] abster12 commented on #1486
Thanks I will try these and see if I can make some progress

[2019-03-20 23:33] fredrikszm opened #1541 "Loading Error: dc.molnet.load_pdbbind_grid"
Sorry to repeat an earlier issue but I am still having this problem and have run out of solutions that I can think of alone.
I am trying to load in the pdb disk dataset (dc.molnet.load_pdbbind_grid) but I keep receiving the same error (pasted below).
I installed DeepChem 2.1.0 using conda, and I'm running python 3.5. I tried installing from source code, but the tests gave back errors. I was able t

[2019-03-21 12:21] abster12 commented on #1486
The current test for Vina pose generation is actually supposed to work on linux only and changes need to be made to that.

[2019-03-23 08:08] VIGS25 commented on #1541
Can you try running `ls /tmp/pdbbind/core_grid' and post the output?
Just as a reference, I ran the above commands as you, and also the `ls` command and get:

![image](https://user-images.githubusercontent.com/32259379/54863619-3cd52b80-4d4b-11e9-8ab1-cf9edd6cc977.png)

[2019-03-23 08:12] VIGS25 commented on #1523
This issue can be closed, lets continue the discussion on the other one.

[2019-03-23 08:20] VIGS25 commented on #1538
You can add additional atom properties, by specifying a list of desired properties while initializing the `ConvMolFeaturizer`.

So this would be something like:
`featurizer = ConvMolFeaturizer(atom_properties=[prop_name])`

[2019-03-23 08:35] fredrikszm commented on #1541
This is the output:
ls: /tmp/pdbbind/core_grid: No such file or directory

[2019-03-23 08:37] VIGS25 commented on #1541
The data not getting downloaded is the problem here, unfortunately.
Could you add the file which you have for pddbind_datasets here?

[2019-03-23 08:50] fredrikszm commented on #1541
[pdbbind_datasets.py.zip](https://github.com/deepchem/deepchem/files/2999173/pdbbind_datasets.py.zip)

Github doesn't accept .py so I had to compress it in order to load it here.

[2019-03-23 09:02] VIGS25 commented on #1541
Well, I run the `load_function` in your file, and I still don't get any errors.

[2019-03-23 09:04] fredrikszm commented on #1541
Can you show me what you're running exactly so I can make sure it matches with what I'm doing?

[2019-03-23 09:07] VIGS25 commented on #1541
I add an additional line in the end to the file you just gave:
[code]

and then I run:
[code]

[2019-03-23 09:16] fredrikszm commented on #1541
When I run the same commands, I also do not get any errors.
But when I run the following in a jupyter notebook/ipython:
PDBBIND_tasks, (train_dataset, valid_dataset, test_dataset), transformers = dc.molnet.load_pdbbind_grid(reload=False)

I get the original error (ValueError: No Metadata Found On Disk)

[2019-03-23 09:18] VIGS25 commented on #1541
Is what you run from the examples section?

[2019-03-23 09:21] fredrikszm commented on #1541
Yes, with the addition of "reload=False" because you had mentioned to include that in a previous discussion on this issue. With or without "reload=False" it doesn't work

[2019-03-23 09:26] VIGS25 commented on #1541
So, with reload=False and reload=True, I'm able to run the example `protein_ligand_complex_notebook.ipynb` code.

[2019-03-23 09:38] fredrikszm commented on #1541
I am running the same code and am still getting the error :(

[2019-03-23 09:42] VIGS25 commented on #1541
What I would suggest is to add a print statement, just to see if the download and directory creation are happening as intended.

[2019-03-23 09:50] fredrikszm commented on #1541
Where would you suggest I add the print statement?

[2019-03-23 10:00] VIGS25 commented on #1541
For now, just focus on `featurize_pddbind`. Also make sure, you remove all the files in /tmp/ that are related to this task.

Add a print statement before and after the `dc.utils.download_url` statement to check for download.
Add one for the `mkdir` part, and finally one to see if the data is being moved.

[2019-03-23 18:40] SeanXiaoyuSun commented on #926
@rbharath Sorry for this novice question. If we want to conduct cross validation, why should we give every split a model object? Shouldn't we train a single model with these 5 train/val splits and test this model by using an additional test set?

[2019-03-23 19:00] ZuoyiLi opened #1543 "Message "mkl-random 1.0.1 requires cython, which is not installed." shows up in installation, and first test failed"
**Description:**
Hi, I am not very experienced with git yet, I ran the following commands to install deepchem:
    git clone https://github.com/deepchem/deepchem.git
    cd deepchem/
    gpu=0 bash scripts/install_deepchem_conda.sh deepchem
    source activate deepchem
    python setup.py install                                # Manual install
    nosetests -a '!slow' -v deepchem --nologcapture

[2019-03-23 19:50] ZuoyiLi commented on #1543
I reinstalled the environment with command "bash scripts/install_deepchem_conda.sh deepchem" instead of "gpu=0 bash scripts/install_deepchem_conda.sh deepchem" fixed this issue. The nosetest could finish although I met one error.

[2019-03-23 19:51] #1543 closed

[2019-03-23 19:56] ZuoyiLi opened #1544 "FAIL: Test a GAN with multiple generators and discriminators"
**Description:**

- DeepChem Version: 2.1.0 (Latest as of March 22nd, 2019)
- Platform: Linux 4.15.0-46-generic

I ran the nosetest and met this following error:
What would have caused this fail and how should I fix it? Thank you!

[code]

[2019-03-23 22:33] SeanXiaoyuSun opened #1545 "Implement cross-validation in DeepChem"
**Description:**

Dear all,

I'm trying to make an implementation of cross-validation based on post #736 and #926. A subtle difference here is that I split the training set and test set manually. So I loaded two data sets in my code. My implementation seems to be working. But I got some really really good results (using single train-valid-test splitter gave me an RMSE of 30 but this implementation

[2019-03-23 22:37] SeanXiaoyuSun commented on #1545
Also, I noticed that @rbharath said "Each split should have its own model object. The current design leaks information since weights are shared" in post #926. If we want to conduct cross validation, shouldn't we a single model object train these splits and test this model object by using a test data set? Sorry for the novice question.

[2019-03-24 00:49] peastman commented on #926
That's not what cross validation is.  In cross validation, you divide your dataset into N parts.  You then train N models, each time using N-1 of those parts as the training set and the final part as the test set.  So in this case, you would train the model on 4/5 of the data then test it on the remaining 1/5.  And you would do that 5 times, each time using a different 1/5 of the data as the test

[2019-03-24 03:57] zealseeker commented on #1545
Hi Sean,
In your code, the (single) model would be fitted five times by the five `train_set`, which are the five "4/5 of the whole dataset".
Let's imagine that in the second loop, the `train_set` becomes `[0, 2, 3, 4]` while the val_set is `[1]`. However, the model object has already trained in the first loop, in which the `train_set` was `[0, 1, 2, 3]`. Say, the model has been trained by all the

[2019-03-24 17:57] VIGS25 commented on #1544
This is just a stochastic test that would fail occasionally. Don't read too much into it.

[2019-03-24 21:40] madalsa commented on #1062
Hi Jim,
Have you tried replicating any procedures from their MolecularNet paper on the Deepchem on WSL? I'm currently working on replicating some of their stuff on a larger molecular dataset and I wanna know if WSL would work.

Thanks

[2019-03-24 22:29] SeanXiaoyuSun commented on #1545
Thank you for your explanation @zealseeker !
I'm confused about how to conduct cross-validation now. As you explained, when doing CV, we should give every split a model object, which means we don't have learned model left after conducting CV. Then which model object should we use to run the test data set? Should we train a model object by the training set again and run test set on this learned mod

[2019-03-25 02:06] zealseeker commented on #1545
@SeanXiaoyuSun You are right. Cross-validation is used to evaluate the rubostness of the "final model" trained by the whole training set. However, during cross-validation, the `n` models actually are not trained by the whole training set, but `n-1/n` for each fold.

[2019-03-25 06:03] fredrikszm commented on #1541
So I found that the dataset directory already exists and so the if statement in featurize_pdbbind does not get entered (and the download statements are not executed). This function returns by sending the directory to Disk Dataset.
From here, I have found that the error occurs in load_metadata. The tasks_filename and metadata_filename are created correctly from the call to _get_metadata_filename().

[2019-03-25 08:50] VIGS25 commented on #1541
Thats surprising, because the `.gz` file should have the tasks.json. You can actually download the file manually from the URL and check.

[2019-03-25 19:13] peastman commented on #1544
If you look at the source code for that test, you'll notice it has the annotation `@flaky` at the top.  That means it's expected to occasionally fail.  When running the test suite on travis, it automatically reruns any failing tests with that annotation, and only reports a problem if it fails twice.

[2019-03-25 19:13] #1544 closed

[2019-03-25 19:16] ZuoyiLi commented on #1544
@peastman  @VIGS25  Thank you so much. I have ran some code in the environment and all seems fine.

[2019-03-25 21:17] SeanXiaoyuSun commented on #1545
Thanks!
I'm gong to close this question now. Feel free to reopen!

[2019-03-25 21:17] #1545 closed

[2019-03-26 15:12] MatthewMasters commented on #1232
Is this issue supposed to be open still? The bug appears to have been fixed.

[2019-03-27 12:36] HadXu opened #1547 "conda install error need help"
![企业微信截图_15536796801158](https://user-images.githubusercontent.com/13307469/55076264-f592c600-50cf-11e9-90e5-8770471ae0d7.png)

thank you!

[2019-03-27 17:08] abster12 commented on #1547
What Platform are you on?

[2019-03-27 18:25] VIGS25 commented on #747
It looks like this issue is still open. Can I work on it if thats the case?

[2019-03-27 18:33] rbharath commented on #747
Yep, go for it!

[2019-03-27 19:54] rbharath commented on #1232
Good catch. Will close issue.

[2019-03-27 19:54] #1232 closed

[2019-03-27 19:58] #1523 closed

[2019-03-27 20:39] fredrikszm commented on #1541
Downloading it manually made it work! Thanks so much for your help with this! Just for my understanding - Do you have an idea of why the tasks.json file wasn't there in the first place?

[2019-03-27 21:50] VIGS25 commented on #747
Hi @rbharath! Shot you an email for the datasets, based on the information above, but it said the address not found.

[2019-03-28 01:22] HadXu commented on #1547
linux

[2019-03-28 03:18] dragonofac opened #1549 "Stuck in nosetests when install from source"
**Description:**

 commit bcbe3e12bd123cb5ddf2fc77627fddc7b529a8ee
- DeepChem Version:  2.2.1
- Platform: linux ubuntu

The test command (which from the sample):
"nosetests -a '!slow' -v deepchem --nologcapture"
stuck too long and looks like not going ahead.
here is the position it stucks
[code]

[2019-03-28 09:36] VIGS25 commented on #1549
The test is running but I forgot to add the slow attribute to the test.
Will raise a PR soon with the same.

For the time being, you could to add an additional import statement to file linked [here](https://github.com/deepchem/deepchem/blob/049779ec2f7ed3aed543aa993c2061e26a38f77a/deepchem/feat/tests/test_graph_features.py):

`from nose.plugins.attrib import attrb`

and then add  @attr("slow") bef

[2019-03-28 11:15] abster12 commented on #1547
``` conda install -c deepchem deepchem-gpu=2.1.0 python=3.6 ```
Did you try this command?

[2019-03-28 12:36] VIGS25 commented on #1541
I am not so sure, maybe there was some issue with the extraction. The `.gz` file being downloaded should have the `tasks.json` file inside.
Can you close this issue now? - Feel free to reopen if necessary.