[2021-07-21 22:21] rbharath opened #2611 "DeepChem Development Docker Image"
It's surprisingly tricky to get a new DeepChem development environment set up. @VIGNESHinZONE's lightweight install instructions (https://deepchem.readthedocs.io/en/latest/get_started/installation.html#from-source-lightweight-guide) are the fastest way to get a new DeepChem source environment set up, but still require multiple package installs.

Ideally, we should have a DeepChem development docke

[2021-07-21 23:12] rbharath opened #2612 "Metrics Refactoring Corner Case"
## 🐛 Bug

The recent metrics refactor has some corner cases where code that used to run before now breaks causing downstream user code errors.

## To Reproduce

To create a metric for precision recall, you could previously use

[code]

Under the new metrics handling code, we now need to specify

[code]

## Expected behavior

I'm not yet sure whether this is a bug or expected behavior. The new code

[2021-07-22 01:59] ravichas opened #2613 "DeepChem COLAB installation fails"
## 📚 Installation

## Environment

* OS: Ubuntu 18.04.5 LTS
* Package manager (PyPI or Conda):  Conda
* Python version: 3.7
* DeepChem version: As defined in `https://raw.githubusercontent.com/deepchem/deepchem/master/scripts/colab_install.py`
* TensorFlow version: NA
* PyTorch version (optional):
* CUDA/cuDNN version (optional):
* Any other relevant information: Google COLAB

## Checklist

- [ x

[2021-07-22 12:21] ncfrey commented on #2606
It looks like this is an old tutorial (using Tensorflow v1). I'd recommend checking out this new tutorial: https://github.com/deepchem/deepchem/blob/master/examples/tutorials/13_Modeling_Protein_Ligand_Interactions.ipynb
It uses more recent library versions and covers the same concepts.

[2021-07-22 12:41] VIGNESHinZONE commented on #2611
Similar to hugging face we could build multiple docker images depending on the use cases [huggingface multiple Dockerfile folder](https://github.com/huggingface/transformers/tree/master/docker)

1. Deepchem-Tensorflow-CPU
2. Deepchem-Tensorflow-GPU
3. Deepchem-Torch-CPU
4. Deepchem-Torch-GPU
5. Deepchem-Jax-CPU
6. Deepchem-Jax-GPU

All the requirements for each environment are given [here](https:/

[2021-07-22 13:17] sasmendonca commented on #2613
I have the same problem in colab too.
I try to install it with other commands (old deepchem commands), but I don't know if it is written.

[2021-07-22 14:26] rbharath commented on #2613
I've gotten a few failure reports for colab now so marking this as a high priority bug. We'll try to fix as soon as we can!

[2021-07-22 15:12] ravichas commented on #2613
Thank you @rbharath for your (& your team's) help.

[2021-07-22 15:32] VIGNESHinZONE commented on #2613
This is just a momentary fix on google ollab. Even I faced this issue a few days ago and found a workaround solution from StackOverflow (Im unable to find that link)

Check out this [collab notebook](https://colab.research.google.com/drive/1CfJ616ljb_aZgBuhrWeMN9_skQx1HKkx?usp=sharing)

The problem was with Rdkit installation

[2021-07-22 15:42] ravichas commented on #2613
@VIGNESHinZONE Thank you for sharing the notebook

[2021-07-22 16:56] rbharath commented on #2611
@VIGNESHinZONE This would be great! We should also make sure to add the requirements for developers (pytest/mypy/yapf/flake8/etc). Would you have bandwidth to take a crack at putting together these docker images?

[2021-07-22 18:44] peastman commented on #2612
The constructor for Metric sets defaults for standard metric functions, but it doesn't have anything for `precision_recall_curve`.  Should the defaults be "classification" and "direct"?

[2021-07-23 10:48] vsomnath opened #2615 "GaussianHyperParameter failing test"
## 🐛 Bug

The `TestGaussianHyperparamOpt.test_rf_example_min` test is constantly failing. Just raising this issue to have it tracked

## Expected behavior

The test should not fail. In the image below, the minimum value should be -0.029 but for some reason, this is missing from `all_results`.
![image](https://user-images.githubusercontent.com/32259379/126771448-eaebfbea-98ea-4dec-87d8-4ba6ce3d3938

[2021-07-23 15:27] mgarort opened #2617 "Pytorch models cannot be printed to screen"
## 🐛 Bug

At least some Pytorch models cannot be printed to screen, as would be normal to do through `__str__` or `__repr__`. For example, MPNN fails with the error

`AttributeError: 'MPNNModel' object has no attribute 'edge_hidden_feats'`

and AttentiveFPModel fails with

`AttributeError: 'AttentiveFPModel' object has no attribute 'dropout'`

## To Reproduce

Steps to reproduce the behavior for M

[2021-07-24 04:08] peastman commented on #2615
It's one of the ones documented in #2588.  I've been debugging it in #2619.

I partly understand what's going on.  You can see the problem from the output:

[code]

Notice that pyGPGO is calling `optimizing_function()` twice with exactly the same value of the hyperparameter (n_estimators=20).  I don't know why it would do that.  At best it seems wasteful.  But in our case, the function is not dete

[2021-07-24 19:58] peastman commented on #2615
I understand it a little better now.  Before pyGPGO starts the main optimization, it first evaluates the function for a few randomly chosen inputs.  Notice "init" at the start of the first three lines above.  It doesn't have any checks to make sure the random inputs are unique.  In this case, two of them just happen to be the same.  That isn't ideal, and it would probably work better if they added

[2021-07-25 02:04] #2615 closed

[2021-07-25 02:04] #2612 closed

[2021-07-25 06:11] arunppsg commented on #2499
You could set `DEEPCHEM_DATA_DIR` environment variable for saving the downloaded files in a directory which you could reuse later. For example, by setting `os.environ['DEEPCHEM_DATA_DIR'] = os.getcwd()`, the downloaded files get saved in the current working directory.

[2021-07-28 10:05] ph-mehdi opened #2627 "Convolution graph model for embedding molecular structure"
Hi
I want to design a convolution graph model that returns an embedded vector from the molecular structure. In deepchem tutorials, there is a convolution graph, but it is not possible to get output vectors.
I may also give the vector taken from the convolution graph to another model like lstm.
Can you guide me?

[2021-07-28 10:16] ph-mehdi commented on #2613
53 / 5000
Translation results
Try this

%% capture
! pip install rdkit-pypi

[2021-07-28 10:19] arunppsg commented on #2112
Can I take on fixes to README.md of tutorials? I would like to fix the links in the README.md file (some links are outdated or broken).

One more thing which I would like to suggest is organizing of tutorial links around functionalities of DeepChem in the README.md. We have close to 30 tutorials. Maybe we could organize them into categories like introductory tutorials of DeepChem, tutorials for mo

[2021-07-28 14:20] ravichas commented on #2613
@ph-mehdi
I like your suggestion, of using `rdkit-pypi`. I am using DeepChem with another software and  `mamba` causes more dependency (version) related issues. Thanks for your suggestion.

[2021-07-29 00:48] rbharath opened #2629 "Swap to rdkit-pypi"
The new rdkit-pypi package has rdkit on pypi! https://pypi.org/project/rdkit-pypi/

We should consider swapping the CI/tutorials to using rdkit-pypi. The really nice side effect would be we can finally get a one-line deepchem install that works out of the box without the awkward need to use conda just for rdkit

[2021-07-29 01:03] rbharath commented on #2112
@arunppsg These are all great suggestions! Both the fixing of links and organization of tutorials would add a lot of value. Please go for it :)

[2021-07-29 01:25] rbharath commented on #2627
You can use the `predict_embedding` method to get the output vectors: https://deepchem.readthedocs.io/en/latest/api_reference/models.html#deepchem.models.TorchModel.predict_embedding

Unfortunately there's not a good way to chain DeepChem models right now though. This is something we've wanted to do for a while but it's quite tricky on the engineering end to work out

[2021-07-29 01:26] rbharath commented on #2617
Thanks for the bug report! I've marked this as a bug and open to contribution. This should hopefully be a relatively easy fix

[2021-07-29 01:51] rbharath commented on #2575
You can just call `untransform`: https://deepchem.readthedocs.io/en/latest/api_reference/transformers.html#deepchem.trans.NormalizationTransformer.untransform to undo the transform.

I'd recommend messing around with it in an ipython notebook and visualizing the numbers until you get the flow right :)

[2021-07-29 04:53] peastman commented on #2112
I'd be careful about reordering the tutorials.  Especially in the earlier ones, each one assumes you've read the ones that come before.

[2021-07-29 13:37] nnnwyn commented on #1467
Hi, have you solved this problem?

[2021-07-29 14:08] arunppsg commented on #1467
Can you check once again by installing in a new conda environment? In case you are using M1, install tensorflow, test it and check whether it works. You might follow this [stackoverflow answer ](https://stackoverflow.com/questions/65383338/zsh-illegal-hardware-instruction-python-when-installing-tensorflow-on-macbook) for installation errors on tensorflow. Then, install deepchem as suggested [here]

[2021-07-30 16:58] ncfrey commented on #2112
@arunppsg @rbharath
Just saw this comment, I made a similar one here: https://github.com/deepchem/deepchem/pull/2626#pullrequestreview-719291957

+1 to having a "core functionality" tutorial series that preserves the sequential ordering (maybe 1 - 11?) and introduce all the core features of deepchem. Then splitting into applications as @arunppsg suggested

[2021-07-31 11:38] alat-rights opened #2631 ""python setup.py develop" in fresh conda environment failing at dependency stage"
## 🐛 Bug

In a fresh conda environment with DeepChem, running `python setup.py develop" yields "error: Could not find suitable distribution for Requirement.parse('scipy')`

## To Reproduce

Steps to reproduce the behavior:

1. Create a new conda environment and activate it
2. Clone deepchem from GitHub
2. `cd deepchem`
3. `python setup.py develop`

![image](https://user-images.githubusercontent.co

[2021-07-31 11:57] alat-rights commented on #2631
I'm suspecting that my system is broken, y'all

[2021-07-31 12:02] alat-rights commented on #2631
Resolved by running "conda install -n [environment] scipy"

[2021-07-31 12:02] #2631 closed

[2021-08-01 08:20] ph-mehdi commented on #2627
@rbharath
Thanks for taking the time to answer my question.
Have you considered the output of the GCN model layer (that is an embedded vector) to an LSTM model in this paper “low data drug discovery with one-shot learning”?
I want to do something like this for my thesis. I want to give the output of the GCN model to other models that you have done before. This code “support_model.join(dc.nn.AttnLS

[2021-08-02 20:17] Solin64 opened #2632 "Trying to use my own test set for a protein-ligand interaction but can't load the CSV file"
Hi

I just finished going through tutorial 13 dealing with protein-ligand interactions and decided to try and do it with my own CSV file containing pdb_id and smiles. When I tried to run the following on google colab I got an error saying that there was no metadata found on disk.  I am very new to all of this so I'm not entirely sure what I've done wrong.

Thank you for any help or suggestions.

-

[2021-08-02 21:37] rbharath opened #2633 "Clarification for installation issues"
I was working with a new source install for deepchem following the new lightweight guide and tried

[code]
And got the following error
[code]
I googled this and found https://stackoverflow.com/questions/30539798/zsh-no-matches-found-requestssecurity. The basic issue is we need to do something like
[code]
We should modify the install directions to clarify.

[2021-08-02 21:39] Solin64 commented on #2632
Managed to resolve this

[2021-08-02 21:39] #2632 closed

[2021-08-03 02:11] rbharath opened #2635 "README/docs for github actions workflows"
We currently lack a README for the github actions workflows in `.github/`. The github actions are complicated enough that they should have some documentation on how they work, in both a README and on the actual docs site.

[2021-08-03 04:38] davidRFB commented on #2602
Hi ! I was not available to reproduce exactly the error. However after add the line
`!pip install rdkit-pypi`
before the import modules cell everything works well ! Maybe that help u

[2021-08-03 06:10] behroozazarkhalili commented on #2558
Any update?

[2021-08-03 06:10] behroozazarkhalili commented on #2569
Any update?

[2021-08-03 15:11] arunppsg commented on #2558
Can you check your gensim version? It works with gensim version 3.6.0. Gensim version 4.0.1 produces failed to featurize datapoint exception message.

[2021-08-03 15:15] behroozazarkhalili commented on #2558
Thanks for your comment😊

However, I think that downgrading gensim doesn't seem a reasonable
solution. Does it?

Best Regards,
Behrooz Azarkhalili

On Tue, 3 Aug 2021, 19:41 Arun, ***@***.***> wrote:

[2021-08-03 15:32] arunppsg commented on #2569
I am not able to reproduce this error. Can you try upgrading your rdkit version? It works fine with mordred version 1.2.0 and rdkit version 2020.09.1.

[2021-08-03 15:34] behroozazarkhalili commented on #2569
I'll do it tomorrow and let you know tomorrow.
Thanks for your follow up.

Best Regards,
Behrooz Azarkhalili

On Tue, 3 Aug 2021, 20:02 Arun, ***@***.***> wrote:

[2021-08-03 16:13] #2611 closed

[2021-08-03 20:53] marcossantanaioc opened #2638 "ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type float)."
## ❓ Questions & Help

I'm getting a value error trying to train a GraphConv model. Here's what I did so far and DeepChem's version:

Deepchem version: 2.5.0
Tensorflow version: 2.4.0
Numpy version: 1.21.1

[code]

[2021-08-03 21:56] andresilvapimentel commented on #2602
Dear David, I had also done the same as you, but I was using a different
rdkit installation procedure that it was causing the issue.
Thanks for sharing your procedure.

Em ter, 3 de ago de 2021 01:39, davidRFB ***@***.***>
escreveu:

[2021-08-03 22:34] rbharath commented on #2638
I suspect that this is a numpy 1.20 issue. TF doesn't support numpy 1.20 so I'd recommend double checking to make sure you don't have numpy 1.20 in this environment

[2021-08-04 00:56] peastman commented on #2588
The error in `test_qm7_multitask()` is consistent, not a flaky test.  It just seems to do a bad job of fitting that dataset.  I tried changing the model to `tf_regression` and `rf_regression`, and it still did just as badly.  Those are two very different models, and they use a different featurization, so the problem doesn't seem to be specific to either the model or the featurizer.  I also tried s

[2021-08-04 10:56] ellagale opened #2639 "Where is the dummy featurizer????"
## 🐛 Bug 🐛 Bug 🐛 Bug

I can see you have something called DummyFeaturizer which imports the data without doing anything. It's also in the docs.

YET! I cannot use it? It doesn't seem to be in deepchem.feat or deepchem.feat.base
I found the UserDefined featurizer, which I can probably hack around with, but where is the dummy?

## To Reproduce
Steps to reproduce the behavior:

from deepchem.feat imp

[2021-08-04 16:46] rbharath commented on #2639
The DummyFeaturizer is in the DeepChem 2.6.0 prerelease which you can access by

[code]

As a note for us, we should change the readthedocs so it displays the stable version rather than the prerelease docs. `DummyFeaturizer` isn't in 2.5.0 which is likely why you aren't able to access it. Sorry for the trouble!

[2021-08-04 16:56] rbharath opened #2640 "Understanding the CI"
The CI system is really complex to understand right now. I'm typing up some notes here to help me and the other reviewers so we can better keep track of code state. This should also be useful to new developers so they can self-check PRs. We should merge these notes into the docs later.

The CI has several stages of checks:

1. Build: These are the absolute basic tests that check if DeepChem can be

[2021-08-04 17:00] ellagale commented on #2639
Ah, thanks!

[2021-08-04 17:00] #2639 closed

[2021-08-04 22:07] peastman commented on #2588
@ncfrey the error in AtomicConvFeaturizer was introduced by #2406.  It added a new required positional argument `n_tasks` to AtomicConvModel.  This broke AtomicConvFeaturizer, which constructs an AtomicConvModel.  Could you take a look and see what you think the appropriate fix is?  At the point where it creates the model, I don't think we know yet how many tasks there are going to be.  Perhaps we

[2021-08-05 02:37] arunppsg commented on #2558
Mol2vec fingerprint depends on the  external library [mol2vec](https://github.com/samoturk/mol2vec) which uses gensim 3.6.0. Once that library gets updated, the issue will be solved.

[2021-08-05 18:16] rbharath opened #2644 "Tutorial Request: In-depth Model Contribution Guide"
DeepChem now has first class support for TensorFlow/PyTorch/Jax models. We should now be able to support basically all the models developed by ML researchers. However, the process of contributing a new model to DeepChem is still not well documented. We should have an in-depth guide that a researcher who's interested in contributing a model to DeepChem can follow . This tutorial should have the fol

[2021-08-05 18:23] peastman commented on #2588
The failure in test_weave_models.py really was a flaky test.  I found that the learning rate was set too high.  Reducing it makes the test a lot less flaky.  The change is in #2645.

[2021-08-05 20:15] pgarz opened #2646 "Importing Deepchem gives circular import error"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Try to call the following line of code
`import deepchem as chem_deep
featurizer=chem_deep.feat.ConvMolFeaturizer(per_atom_fragmentation=False)
f = featurizer.featurize(mol1)
print(f)`

Notice that an error occurs at the import line
2. Here's the stack trace
`---------------------------------------------------------------------------

[2021-08-05 20:41] pgarz commented on #2646
Ah nevermind. I had to restart my Jupyter notebook and somehow that fixed everything, but I did manually change the instances of dc to deepchem in the fcnet.py file

[2021-08-05 20:41] #2646 closed

[2021-08-06 23:07] rbharath opened #2647 "Tutorial Request: Using Docker Images to Run Old DeepChem Versionns"
A common issue DeepChem users have is that they wrote code for an old version of DeepChem which no longer runs on new DeepChem. We've taken a lot of effort to start enforcing strong backwards compatibility in recent releases but some changes are out of our control (for example, TensorFlow 1 to TensorFlow 2 broke our checkpointing). It's also often very challenging to get old versions of python pac

[2021-08-12 04:30] milongoogle opened #2655 "Title"

[2021-08-12 04:36] #2655 closed

[2021-08-12 04:37] milongoogle commented on #2655
BITCOIN

[2021-08-12 04:37] milongoogle commented on #2655
8

[2021-08-14 10:21] VIGNESHinZONE opened #2657 "Should we consider organizing deepchem/models directory"
At present, deepchem's Model's directory is a little unorganized [deepchem/deepchem/models/](https://github.com/deepchem/deepchem/tree/master/deepchem/models) with Torch, Jax and Tests in a folder and with all tensorflow models outside. And the [deepchem/deepchem/models/tests](https://github.com/deepchem/deepchem/tree/master/deepchem/models/tests) is also very big.

Here is the suggested file stru

[2021-08-14 23:22] rbharath commented on #2657
I think this would be a great idea!

[2021-08-15 14:38] whitead opened #2659 "Tensorflow version on main page"
## 📚 Installation

The deep chem website (https://deepchem.io/) says to install `pip install tensorflow~=2.4`, but that resolves to latest major version (e.g., `2.6`). I think you probably want `pip install "tensorflow<2.5"`. Unless you intend for users to install latest version of TF2.

[2021-08-16 12:38] Flakotako opened #2660 "I love this app could i make two pages with my same imfo"
## ❓ Questions & I wouldn't recommend but it's you

[2021-08-16 12:42] Flakotako commented on #2660
No not rrcommended

[2021-08-17 09:48] #2660 closed

[2021-08-17 09:52] shubhamsawant88 commented on #2660
Can some one remove me from this thread. I have tried unsubscribing many
times still I consistently keep on getting this email.

On Tue, 17 Aug, 2021, 3:19 pm Vignesh Ram Somnath, ***@***.***>
wrote:

[2021-08-17 16:54] peastman commented on #2660
By "this thread" do you mean the deepchem repo?  You need to do that yourself.  Click the "unwatch" button at the top of this page.

[2021-08-17 18:33] Solin64 opened #2661 "Numpy dataset not recognising arrays?"
Hi there

I am using some of my own formatted data on a CSV file to try and execute some protein-ligand modelling. I have the pdb_id, smiles and labels for my small molecules and fixed them without a hitch. When i got to:

dataset = dc.data.NumpyDataset(X=features, y=labels, ids=pdbids)
train_dataset, test_dataset = dc.splits.RandomSplitter().train_test_split(dataset)

I get an IndexError - arrays

[2021-08-18 02:33] mohammad-saber opened #2662 "[Question] When should I pass "Transformers" to the method `model.predict_on_batch` or `model.predict`?"
## ❓ Questions & Help

Hi, Thank you for sharing your great code. I just started to use DeepChem.

I am following the [tutorial](https://github.com/deepchem/deepchem/blob/master/examples/tutorials/01_The_Basic_Tools_of_the_Deep_Life_Sciences.ipynb). I have a few questions about `model.predict_on_batch` and `transformers`:

Q1) According to the [documentation](https://deepchem.readthedocs.io/en/lat

[2021-08-18 04:49] mohammad-saber opened #2663 "AttributeError: module 'deepchem.models' has no attribute 'TorchModel'"
Hi, thank you for sharing your great work.

I would like to make a PyTorch model in deepchem. However, when I run the following code:

[code]

I get error:

`AttributeError: module 'deepchem.models' has no attribute 'TorchModel'
`

Environment:

- OS: macOS 11.5
- Python 3.7

I installed deepchem and PyTorch by in a conda virtual environment:

[code]

I can import deepchem & torch in this environm

[2021-08-18 08:21] arunppsg commented on #2663
Hey, can you share deepchem version which you are using? It seems to work for me. You can get it by using `import deepchem as dc; dc.__version__`

[2021-08-18 10:23] arunppsg opened #2665 "Printing a Model"
## 🐛 Bug
## To Reproduce

Suppose I want to find the summary of a deepchem model and I use `print(model)` it throws an `AttributeError`.

Steps to reproduce the behavior:
[code]

I would like `print(model)` to print the summary of the model. Any hints on how to fix it?
Thanks

[2021-08-18 10:32] mohammad-saber commented on #2663
Thanks for reply.

`pip install deepchem` installed deepchem version 2.5.0.

[2021-08-18 15:34] arunppsg commented on #2665
I think it is due to a problem with `sklearn` version. When I do the same in colab, I only get a future warning

`/usr/local/lib/python3.7/dist-packages/sklearn/base.py:197: FutureWarning: From version 0.24, get_params will raise an AttributeError if a parameter cannot be retrieved as an instance attribute. Previously it would return None.
  FutureWarning`

In my case, I was using sklearn version

[2021-08-18 15:36] arunppsg commented on #2663
I tried reproducing it but I was not able to. I am not sure what is causing this issue in your case.

[2021-08-18 16:46] davidRFB commented on #2629
Hi @rbharath  ! I could help with this issue ! but I have a question.
the main point is to change in tutorials this colab_install.py :
[code]

Just for
[code]
In cases where only deepchem is used. right ?
In tutorials that need openmm for the pdbfixer or other conda installation we should keep it ?

[2021-08-18 23:34] mohammad-saber commented on #2663
May I ask which version you are using?

[2021-08-19 00:03] mohammad-saber opened #2668 "How to save best fitted model when we use early stopping?"
## ❓ Questions & Help

Hi,
I am using "early stopping" for a GraphConvModel model.

[code]

Q1) After running the above code, what I get as `model`, is it the  best fitted model (model with the best value of metric for validation dataset)?

Q2) After fitting, folder `model_dir` contains several checkpoints like: `checkpoint, ckpt-2.index, ckpt-2.data-00000-of-00001`.
I was wondering which one is t

[2021-08-19 00:10] mohammad-saber opened #2669 "ValueError: mode must be either 'classification' or 'regression' in Hyper-parameter optimization"
Hi, thank you for sharing your great work.

I am trying hyper-parameter optimization:

[code]

However, I get the error:

`ValueError: mode must be either 'classification' or 'regression'
`

Environment:

- OS: macOS 11.5
- Python 3.7
- deepchem == 2.5.0
- TensorFlow == 2.6.0
- PyTorch == 1.7.0

Thank you for your help.

[2021-08-19 03:41] arunppsg commented on #2663
It happens when the `sklearn` version is after 0.24. It requires some fix. See #2665. Meanwhile, you can use sklearn version before 0.24 to use `print(model)`.

[2021-08-19 08:38] Storm35 opened #2670 "Uncorrect architecture GraphConvModel"
## Bug

I'm trying to reproduce my old deepchem GraphConvModels (from tensorgraph...) with the Keras models from the new version.
I used the same hyperparameters as the old models but metrics are far worst than the older ones.
I tried to look at the architecture and it looks like it's not well defined.

`model.model.summary() `  gives the following architecture:
[code]

I expected the convolution

[2021-08-19 16:24] peastman commented on #2669
Change

[code]

to

[code]

The values in the dict need to be lists.

[2021-08-20 00:10] mohammad-saber commented on #2669
Thank you. It works fine.

Could you guide how to save "best_model" after hyper-parameter optimization?

I tried:

`best_model.save('./result')
`

and I get the error:

`TypeError: save() takes 1 positional argument but 2 were given
`

And when I try:

`best_model.save()
`

I get the error:

`NotImplementedError
`

[2021-08-20 04:17] mohammad-saber commented on #2663
I uninstalled sklearn 0.24.2 and installed version 0.23.2. However I get the following error when running print(model).

`RecursionError: maximum recursion depth exceeded while calling a Python object
`

I can get model structure by `model.model.summary()` after model fitting for Keras models. But, `print(summary)` gives error for both Keras and PyTorch models.

[2021-08-20 12:45] Storm35 commented on #2670
This link explains why the summary is not good. But I still don't understand why the metrics are far worst.
https://github.com/tensorflow/tensorflow/issues/44591

[2021-08-20 12:45] #2670 closed

[2021-08-20 17:53] peastman commented on #2669
Just include the `logdir` argument in the call to `hyperparam_search()`.  It will automatically be saved there.

[2021-08-20 22:19] alat-rights opened #2672 "Our Windows CI is broken"
## 🐛 Bug

In test for DeepChem core (and other tests), the Windows CI fails with `Error: The process 'C:\Miniconda3\condabin\conda.bat' failed with exit code 1` in the dependency installation phase.

## To Reproduce

Steps to reproduce the behavior:

1. Push any change to a DeepChem PR to trigger a GH Actions run

https://github.com/deepchem/deepchem/pull/2642/checks?check_run_id=3385813345

## Ex

[2021-08-21 09:25] Caped-Crusader624 opened #2673 "Links in the tutorials "You Will Learn" section are broken."
Links in the tutorials "You Will Learn" section are broken and there are more tutorials than the links itself.
Also, the links can be ordered in a correct manner to help newcomers get along.
LInk: https://github.com/deepchem/deepchem/blob/master/examples/tutorials/README.md

[2021-08-21 12:23] alat-rights opened #2674 "QM7 multitask assertion error"
## 🐛 Bug

CI failure: `FAILED deepchem/molnet/tests/test_molnet.py::TestMolnet::test_qm7_multitask` in DeepChem Torch tests.

## To Reproduce

Steps to reproduce the behavior:

1. Trigger a GitHub Actions CI run with a pull request.

[code]

## Expected behavior

Unit test should pass.

## Environment

* GitHub Actions CI

[2021-08-21 17:11] peastman commented on #2674
We're tracking this (and other CI errors) in #2588.

[2021-08-21 17:20] alat-rights commented on #2674
Sounds good, thank you

[2021-08-21 17:20] #2674 closed

[2021-08-21 17:23] alat-rights commented on #2588
Is #2672 within the scope of this issue?

[2021-08-21 19:43] peastman commented on #2588
I don't see it listed above.  We should add it.

[2021-08-22 00:56] mohammad-saber commented on #2669
Thank you for your help. I would like to confirm how to reload the best model only for prediction (no need to fit model again).

After finding the best hyper-parameters, I define a model with  the best hyper-parameters. Next. I restore the model.
I get the best hyper-parameters as below:

`(1, 'regression', [64], 0.2)
`

Then, I define model and restore the best model:

[code]

I would like to con

[2021-08-22 01:43] mohammad-saber opened #2675 "How to get "ConvMol" features as numpy array of numeric values not "deepchem.feat.mol_graphs.ConvMol" objects"
## ❓ Questions & Help

Hi, thank you for reading my question.

I would like to get "ConvMol" features for a list of SMILES as below:

[code]

For every molecule, `features` contains a` deepchem.feat.mol_graphs.ConvMol` object.
Is it possible to get numeric values of features as numpy array or pandas DataFrame? I mean, every row is a molecule and columns are numeric values of features (similar to F

[2021-08-22 06:47] VIGNESHinZONE commented on #2588
1. `Deepchem core` is mainly an environment that includes all `common`, `tf`, `torch`, `jax` workflows. The main purpose of this workflow to maintain the `doctest`.
2. `Jax` does not provide a Windows build at the moment.

[2021-08-22 16:57] peastman commented on #2675
Here is the code in GraphConvModel that takes a batch of ConvMol objects and produces the numpy arrays that get passed as input to the model:

https://github.com/deepchem/deepchem/blob/22a8fbd7350540d6e0410223c0c75d744c241495/deepchem/models/graph_models.py#L1007-L1014

[2021-08-23 00:40] Suzukazole opened #2677 "Reshard fails for DiskDataset objects with no labels"
## 🐛 Bug

This bug arises when attempting to reshard a `DiskDataset` created using `CSVLoader`. I believe the reason this happens is because the `create_dataset()` method of  the `DataLoader` class  sets y to `None` in the `shard_generator()` method,  if the labels column is empty ([for reference](https://github.com/deepchem/deepchem/blob/master/deepchem/data/data_loader.py#L219)). As a result, wh

[2021-08-23 04:02] mohammad-saber commented on #2675
Thank you. I used the above code.
I can get graph features as numeric values. It is a List containing 13 numpy arrays.
However, the size of arrays is different for every molecule (because No. of atoms is different).
So, I cannot concatenate features of all molecules all-together and make a DataFrame. DataFrame requires the same No. of columns for every row (which is a molecule in this case).
I thi

[2021-08-23 06:01] mohammad-saber commented on #1248
The Tensorboard only shows the validation dataset metric. Is there any way we can show metrics of both train and validation datasets?

[2021-08-23 06:25] #2663 closed

[2021-08-23 13:57] biotech7 opened #2678 "pytorch model training error: module 'multiprocessing' has no attribute 'dummy'"
## ❓ Questions & Help

when running the examples in document, codes as follow:

- `import deepchem as dc
- dataset_config = {"reload": False, "featurizer": dc.feat.CGCNNFeaturizer(), "transformers": []}
- tasks, datasets, transformers = dc.molnet.load_perovskite(**dataset_config)
- train, valid, test = datasets
- model = dc.models.CGCNNModel(mode='regression', batch_size=32, learning_rate=0.001)
-

[2021-08-23 18:11] rbharath commented on #2678
I haven't seen this error before but I suspect a python environment mismatch. Can you try following the from source lightweight guide to see if that works? https://deepchem.readthedocs.io/en/latest/get_started/installation.html#from-source-lightweight-guide

[2021-08-23 18:12] rbharath commented on #1248
I'm not sure of a good way to do this, but I don't use Tensorboard much. Does anyone have suggestions?

[2021-08-23 18:13] rbharath commented on #2677
Thanks for the write-up! Marking this as a bug and open for contribution. This would be a good first bugfix PR for newcomers

[2021-08-23 18:23] rbharath commented on #2672
Thanks for the report! This looks serious. Does anyone have any ideas for why this could be happening?

[2021-08-23 18:48] peastman commented on #2675
That's what the call to `agglomerate_mols()` in the first line is for.  It combines all the ConvMol objects into a single MultiConvMol.

[2021-08-23 19:18] alat-rights commented on #2672
It seems like the cause was a pip failure

[code]

[2021-08-23 19:22] rbharath commented on #2672
Good find! Hmm, not sure what that's a dependency of. TF/Torch/Jax?

[2021-08-23 19:59] rbharath commented on #2673
We're working on fixes in #2637

[2021-08-23 20:01] rbharath commented on #2665
Oh hmm, I think this is happening because we inherit from Sklearn Estimator in `dc.models.Model`. This is an awkward downstream consequence!

[2021-08-23 20:10] #2633 closed

[2021-08-23 23:20] #2675 closed

[2021-08-23 23:48] mohammad-saber opened #2679 "CGCNNModel model error : KeyError: 'edge_attr"
Hi,
I am trying the `MolGraphConvFeaturizer `and PyTorch models like `dc.models.CGCNNModel`.

[code]

When I run `model.fit`, I get the error:

`KeyError: 'edge_attr'
`

In next trial, I set `use_edges=True`. Again, when I run `model.fit`, I get the error:

`RuntimeError: mat1 and mat2 shapes cannot be multiplied (1177x30 and 92x64)
`

Environment:

- OS: macOS 11.5
- Python 3.7
- deepchem == 2.5.

[2021-08-24 10:03] biotech7 commented on #2678
thanks. i tested it on Centos 8 under the same env. , it turned out working smoothly.  so this error is mostly likely related to python/conda itself on my win10.

[2021-08-24 18:06] #2665 closed

[2021-08-24 18:23] rbharath commented on #2679
@arunppsg I think you've been working with this model recently. Would you have any ideas?

[2021-08-24 18:32] rbharath commented on #2669
I think your method is roughly correct, but make sure to set `logdir` otherwise trained models will be stored in a temporary directory.

If `best_hyperparams` is a tuple and not a dictionary that might possibly be a bug where the behavior doesn't match the documentation. Could you give a short failing code sample? We can fix that if it's the case

[2021-08-24 22:58] mohammad-saber commented on #2669
Thank you very much for your help.

Sample code:

[code]

[2021-08-25 01:09] #2678 closed

[2021-08-25 11:55] #2673 closed

[2021-08-25 16:04] rbharath opened #2680 "DeepChem Model Wishlist"
There are a number of important molecular and scientific models that I would love to see implementations for in DeepChem. Implementations of any of these models would be a great contribution to DeepChem. As an incentive for contributors, contributing a model would earn authorship on one of our upcoming manuscripts! If you have bandwidth to contribute an implementation, please chime in below

- [ ]

[2021-08-27 20:19] alat-rights opened #2681 "Added two new datasets to S3"
Added two uniprot datasets (one uniprot dataset and one truncated uniprot dataset) to the S3 as I am working on adding them to moleculnet

The truncated dataset is necessary because we do not yet have the capability to load the full uniprot dataset due to sharding requirements.

https://github.com/deepchem/deepchem/pull/2666

s3://deepchemdata/datasets/uniprot_sprot.fasta
s3://deepchemdata/dataset

[2021-08-27 20:20] #2681 closed, assigned to nobody

[2021-08-29 21:31] nicola-decao commented on #2680
Maybe seen and implementation of MolGAN would be nice

[2021-08-29 21:36] rbharath commented on #2680
@nicola-decao We already have MolGAN in DeepChem! https://deepchem.readthedocs.io/en/latest/api_reference/models.html#basicmolganmodel. I hadn't realized you were the lead author :)

[2021-08-30 03:09] GaoDeng-NKU commented on #1699
same problem, have you solved it ?

[2021-08-30 04:02] xuzhang5788 commented on #2680
how about reinforcement learning, such as Reinvent.

[2021-08-30 08:57] nicola-decao commented on #2680
@rbharat Oh WOW I did not know that! 😱 I'll proudly share that with people then!

[2021-08-30 16:43] huvers commented on #2680
MegaMolBART would be interesting to compare against the other generative models: https://ngc.nvidia.com/catalog/models/nvidia:clara:megamolbart

[2021-08-31 16:36] RMeli opened #2683 "Installation from source fails (Jax)"
## 📚 Installation

Installation command:
[code]

Installation error:
[code]

## Environment

* OS: Ubuntu 18.04.5 LTS
* Package manager (PyPI or Conda): `conda`  +  `pip` (see #2414)
* Python version: Python 3.7.11
* DeepChem version: 7c42ebb7
* TensorFlow version: 2.4
* PyTorch version (optional): 1.8.1+cu111
* CUDA/cuDNN version (optional): 11.2

## Checklist

- [x] I followed the [installation

[2021-09-01 01:42] arunppsg commented on #2672
It is due to a jax dependency.
Installation command:
[code]
This is the error message from installation:
[code]

#2683 might also be linked to this.

[2021-09-01 11:39] insublee commented on #2470
in my case :
[code]
Failed to featurize datapoint 0, C1CCC1. Appending empty array
Exception message: File: /opt/anaconda1anaconda2anaconda3/share/RDKit/Data/BaseFeatures.fdef could not be opened.

so, this works for me.
[code]

[2021-09-01 18:25] rbharath commented on #2672
@VIGNESHinZONE Would you have any ideas what might be happening here with the Jax install?

[2021-09-01 18:48] VIGNESHinZONE commented on #2672
`Deepchem core` workflow can always be ignored as its main usage is to check if doctests are passing.

`Jax` does not currently support windows build, hence the results are expected.

There are currently 5 main GitHub workflows -

1. `deepchem common` - which checks only functionalities like `Dataset`, `Featurisers`, `Molnet`, etc which are independent of any Neural Network libraries.
2. `deepchem

[2021-09-01 19:02] VIGNESHinZONE commented on #2683
Thanks for raising the issue, i think there is misinformation in the documentation for the lightweight guide.
[code]
$1  = Python version , for Ex - `3.7`
$2  = hardware setting , for Ex - `cuda` or `cpu`
$3  = Neural Network backend , for Ex - `tensorflow`, `torch`, `jax`

[2021-09-01 19:24] VIGNESHinZONE commented on #2588
@peastman  Im seeing this error in `Python Common ` workflow only for python version-3.8, 3.9 and not in 3.7. Could the error be related to `OpenNM` install errors? Should I include this error in our checklist?

cc: @rbharath

[2021-09-01 19:56] peastman commented on #2588
If it's reproducibly failing on some of our builds then yes, we should include it.

[2021-09-01 20:35] RMeli commented on #2683
Hi @VIGNESHinZONE , thanks for the fast reply! However, I was trying to [install from source with conda](https://deepchem.readthedocs.io/en/latest/get_started/installation.html#from-source-with-conda) and not the [lightweight](https://deepchem.readthedocs.io/en/latest/get_started/installation.html#from-source-lightweight-guide) guide. As far as I can tell, the `source scripts/install_deepchem_cond

[2021-09-01 20:39] RMeli commented on #2672
I think this error might not be only related to Windows. I get the same error when trying to install DeepChem ([from source with conda](https://deepchem.readthedocs.io/en/latest/get_started/installation.html#from-source-with-conda)) on Linux (#2683).

[2021-09-01 23:27] VIGNESHinZONE commented on #2672
Yes my bad, even Im able to reproduce even with the lightweight install. Im unsure what's causing this error, maybe I will start an issue with the `Jax`.

[2021-09-02 00:03] rbharath commented on #1699
@GaoDeng-NKU You should just need to set the number of atom features to 78 for chirality to work I believe

[2021-09-02 21:37] rbharath opened #2684 "Hyperopt Based Hyperparameter Tuner"
We're currently using hyperopt in the MoleculeNet hyperparameter search code (https://github.com/deepchem/moleculenet/blob/master/examples/gnn.py#L136). This offers some nice capabilities that DeepChem's current hyperopt code doesn't support. We should add a Hyperopt based hyperparameter tuner to DeepChem

[2021-09-02 23:44] rbharath commented on #2680
We have some funding now to support people who want to implement models. Please apply following directions at https://forum.deepchem.io/t/deepchem-model-wishlist-internships/569 if you are interested!

[2021-09-03 12:02] kdavidlp123 opened #2685 "About GCN's convolution layer"
Hi, I'm a student from Taiwan and extremely interested in DeepChem.
When I studied at the GraphConv, I was very confused and got few questions.

1.  I'd like to ask about the convolutional layer. Since the input bits are the 75-bits of atom features per atom, how many are the the output bits per atom after the convolution and if the number of output bits are different from the input bits, then wha

[2021-09-06 06:11] rahul13ramesh commented on #2684
I'd be interested in implementing this!

[2021-09-06 23:42] rbharath commented on #2684
@rahul13ramesh Join on of the developer calls! https://forum.deepchem.io/t/joining-the-deepchem-developer-calls/354. We can brainstorm a design with you and help guide you to take a crack at it

[2021-09-07 07:09] biotech7 opened #2686 "FeaturizationTransformer error---required positional argument: 'datapoints'"
## ❓ Questions & Help
Hi, everybody !
      when transforming dataset by FeaturizationTransformer, error occurred. can someone help me?
the .csv data source are renal clearance indicates with X=smiles, y=clearance value(cl_renal), codes as follows:

[code]

so where and how to set the positional argument: 'datapoints'  ? many thanks for any help!

[2021-09-07 09:13] arunppsg opened #2687 "Converting NumpyDataset to Pytorch dataset"
## 🐛 Bug

I tried to create a torch dataset from `dc.data.NumpyDataset` and I tried the following example:

[code]

I expected a `torch.utils.data.IterableDataset` but got a `deepchem.data.pytorch_datasets._TorchNumpyDataset` object.

## Environment

* OS: Google Colab
* DeepChem version: 2.6.0.dev

[2021-09-07 17:41] rbharath commented on #2685
@kdavidlp123 In many ways the DeepChem GraphConv layer is a pretty standard graph convolutional layer. You may find it useful to a tutorial on graph convs for more context like https://cloud4scieng.org/2020/08/28/deep-learning-on-graphs-a-tutorial/.

Note that the 75 bits are not one hot! They are originally a collection of molecular properties computed using RDKit. After transformation by the Gra

[2021-09-07 17:50] rbharath commented on #2150
That paper is really cool! It might be good to incorporate more infrastructure to predict RNA structures into DeepChem

[2021-09-07 17:58] rbharath commented on #2629
Changing the tutorials would be a great start! Next steps would be to change the pip install itself so `pip install deepchem` comes with rdkit included :)

[2021-09-07 19:35] peastman commented on #2685
A couple of other notes:

- That's 75 *numbers*, not 75 *bits*.  That's a lot more information.
- As far as I can tell, the `number_atom_features` argument is never used.  I think it's just left over from an old architecture that couldn't figure out the number of features without being told.  The input data has however many features per atom it has.

[2021-09-08 00:01] biotech7 commented on #2686
issued solved, some codes ommited.

[2021-09-08 00:02] #2686 closed

[2021-09-08 16:00] rbharath opened #2688 "Better documentation for ScaffoldSplitter"
The scaffold splitter is widely used in the literature but there's not a great write-up of the algorithm. We should expand the documentation on the `ScaffoldSplitter` class to explain what the splitter is doing precisely. We should also add more usage examples.

[2021-09-08 16:26] rbharath commented on #2669
Looking at the source, I'm able to confirm it does indeed return a tuple and not a dictionary:

https://github.com/deepchem/deepchem/blob/master/deepchem/hyper/grid_search.py#L172

We should correct this. It's a little delicate since we don't want to break backwards compatibility in anyone's code that's been assuming tuples instead of dictionaries. I suggest for now we just update the documentatio

[2021-09-09 06:25] biotech7 opened #2689 "module load error：module 'deepchem.models' has no attribute 'GraphConvModel'"
## ❓ Questions & Help

Hi, team!
     i failed to load 'GraphConv' model when in an effort to load it. the simplified codes as follows:
[code]
i cannot resolve this issue whether it is mainly due to IPython or deepchem itself ?

[2021-09-09 06:30] biotech7 commented on #2689
if i set `model = dc.models.graph_models.GraphConvModel` it also return error `module 'deepchem.models' has no attribute 'graph_models'`

[2021-09-09 07:50] kdavidlp123 commented on #2685
@rbharath Thank you for your reply.
So in the deepchem/deepchem/models/layers.py, the GraphConv will use an atom feature list.
![image](https://user-images.githubusercontent.com/69571884/132640576-d5a6a167-d720-497f-bd3f-bfe13526d987.png)
However, when I checked the source code of the atom feature in the deepchem/deepchem/feat/graph_features.py. Isn't it a one-hot encoding like?

And I'd like to a

[2021-09-09 08:06] arunppsg commented on #2689
I tried reproducing it but I was not able to using `deepchem` version 2.6.0.dev. Can you share your version?

[2021-09-09 08:23] arunppsg commented on #2617
This is related to #2665.

[2021-09-09 10:16] biotech7 commented on #2689
Hi, @arunppsg , i followed the instructions to install deepchem v2.6.0 dev ,[install latest deepchem](https://github.com/deepchem/deepchem). In all, just run this command if you use pytorch as backend `pip install --pre deepchem[torch]`

[2021-09-09 10:23] biotech7 commented on #2689
i reproduced this error in Windows 10 as well as centos 7  with the same error.
deepchem version:  v2.6.0 dev

[2021-09-09 11:17] Timeless1 opened #2690 "load_from_dir：'MultitaskClassifier' has no attribute 'load_from_dir'"
## 🐛 Bug
Hello there! I get a bug when I use trained model to predict a new moleculer.
It means that there are no load_from_dir module in MultitaskClassifier, How can I fix it?
Thank!

'MultitaskClassifier' has no attribute 'load_from_dir'
## To Reproduce

Steps to reproduce the behavior:

1.
2.
3.

model_list=['./model1','./model2','./model3','./model4','./model5']
model1 = dc.models.MultitaskCla

[2021-09-10 01:44] biotech7 commented on #2689
as  for misunderstanding of pytorch-dependant module , this is an normal error because i use pytorch as backend while GraphConvModel is a tensorflow-dependant module. so calling GraphConvModel will  conflict with my backend env. resulting in raising exception.

[2021-09-10 01:45] #2689 closed

[2021-09-10 04:06] biotech7 opened #2692 "why "No molecule provided" when running ScaffoldSplitter() ?"
## ❓ Questions & Help
when running ScaffoldSplitter() it raised "No molecule provided" error. cannot figure out what's wrong?
the datasource has included SMILES.
deepchem version: 2.6.0 dev( pytorch backend)
OS: win10

[code]

[2021-09-10 23:00] rbharath commented on #2692
I think for some reason your dataset isn't featurizing properly. Trying printing out the `dataset` object in IPython and check that `dataset.X` doesn't contain Nones

[2021-09-10 23:01] rbharath commented on #2690
I believe that you're trying to reload a model from disk? You want to `restore()` method in that case:

[code]

[2021-09-11 12:01] biotech7 commented on #2692
after many trials, it's comfirmed parameter `id_field="id"`  in CSVLoader() caused this error. if excluding this para, it works well.
cheers!

[2021-09-11 12:02] #2692 closed

[2021-09-11 12:15] biotech7 opened #2693 "FeaturizationTransformer failed with RDKit mismatched C++ signature"
## ❓ Questions & Help
when transformering dataset with FeaturizationTransformer, it failed with mismatched C++ signature in RDKit while using
NormalizationTransformer can pass through transformering.
I tried on Win10 and Centos 7, all with the same result.

deepchem version: 2.6.0 dev
rdkit version:  2021.03.5
[code]

can someone help me figure out this issue? i have been trapped in this for a few

[2021-09-11 15:15] arunppsg commented on #2687
Two pointers on this:

- `deepchem.data.pytorch_datasets._TorchNumpyDataset` derives from `torch.utils.data.IterableDataset` class. We can add few lines of code in `_TorchNumpyDataset` class to return a `torch.utils.data.DataLoader` object. A sample:
[code]
- Or we can update the documentation [here](deepchem.data.pytorch_datasets._TorchNumpyDataset) that the return type is `deepchem.data.pytorch_

[2021-09-11 20:21] rbharath commented on #2687
Maybe to keep the fix simple, let's just update the documentation and add a usage example perhaps?

[2021-09-11 20:24] rbharath commented on #2693
The issue here is you're double featurizing I believe. Check out the usage example for `FeaturizationTransformer`: https://deepchem.readthedocs.io/en/latest/api_reference/transformers.html#featurizationtransformer

The input needs to be something the featurizer can process. You're featurizing with `MolGraphConvFeaturizer` then feeding that back into a `MolGraphConvFeaturizer` which doesn't quite m

[2021-09-12 01:27] biotech7 commented on #2693
@rbharath solved my doubts. It's quite helpful.

[2021-09-12 17:41] peastman commented on #2687
What is misleading about it?  The documentation says the return value is a torch.utils.data.IterableDataset.  It is.  The fact that it's a private subclass of IterableDataset is unimportant.  That's the whole point of subclassing: to separate the internal implementation (`_TorchNumpyDataset`) from the public API (`IterableDataset`).  The API refers only to public classes.

[2021-09-14 06:35] #2693 closed

[2021-09-15 03:09] arunppsg commented on #2687
Sorry, I didn't know about it earlier. Thanks for clarification.

[2021-09-15 03:09] #2687 closed

[2021-09-17 05:08] rbharath commented on #2685
@kdavidlp123 Can you make the DeepChem office hours? https://forum.deepchem.io/t/announcing-the-deepchem-office-hours/293. It might be easier to just discuss on a call

[2021-09-17 05:09] rbharath commented on #2668
Could you come by the DeepChem office hours one week? https://forum.deepchem.io/t/announcing-the-deepchem-office-hours/293. Might be easiest to just discuss directly on a call!

[2021-09-17 05:15] mohammad-saber commented on #2668
Thank you for the invitation. Because of the time zone difference, a little difficult for me to join. However, I try to join the meeting.

[2021-09-17 05:30] rbharath opened #2697 "Making DeepChem Layers Multibackend"
Here's a current list of DeepChem layers and the backends for which they are available

| Layer Name | TensorFlow | Torch | Jax |
|---|---|---|---|
|InteratomicL2Distances|X|-|-|
|GraphConv|X|-|-|
|GraphPool|X|-|-|
|GraphGather|X|-|-|
|MolGANConvolutionalLayer|X|-|-|
|MolGANAggregationLayer|X|-|-|
|MolGANMultiConvolutionLayer|X|-|-|
|MollGANEncoderLayer|X|-|-|
|LSTMStep|X|-|-|
|AttnLSTMEmbedding|X

[2021-09-17 15:39] peastman commented on #2697
This could ultimately play an important role:

https://data-apis.org/array-api/latest/

The developers of lots of Python libraries (NumPy, TensorFlow, PyTorch, JAX, Dask, etc.) are working together to create a common API so you can write code that works with all of them.  They're still working on the spec, so it won't be available in any of those packages for a while yet.  Eventually it should mak

[2021-09-17 16:58] rbharath commented on #2697
A good intermediate step for us might be to just improve the documentation, tests, and usage examples on our existing layers. A lot of the layers are written primarily for internal use and don't have well documented APIs really.

[2021-09-19 04:33] biotech7 opened #2699 "can AttentiveFPModel implement of features of chirality and partial_charge?"
## ❓ Questions & Help
Hi,
i want to train a model by setting "use_chirality=True, use_partial_charge=True" in
`featurizer = dc.feat.MolGraphConvFeaturizer(use_edges=True, use_chirality=True, use_partial_charge=True)`
in terms of `dc.models.torch_models.AttentiveFPModel()`
but it resulted in errors when starting training model.
Is it compatible implementation of chirality and partial_charge with At

[2021-09-19 21:39] ph-mehdi opened #2700 "graph convolutional part"
Hi,
I have read the paper but I have some problems to understand what happened in this paper. Would it be possible for you to help me?
In this directory "https://github.com/deepchem/deepchem/blob/master/examples/low_data/sider_graph_conv_one_fold.py",
is this source code
 related to the graph convolutional part of the  paper "low data drug discovery ..."?
If so, how can I add LSTM to it?

Another

[2021-09-20 09:54] DwaraknathT commented on #2680
Hi. I would love to take a crack at implementing SE(3) Transformer. Since it has a high quality implementation available already, it should give me a gentle intro to deepchem's repo!

[2021-09-21 05:11] biotech7 commented on #2699
**### codes to reproduce:**

[code]

[2021-09-21 16:39] rbharath commented on #2699
@mufeili Would you happen to know the answer? I think AttentiveFPModel is a dgl-lifesci model and I'm not as familiar with the implementation

[2021-09-22 05:56] mufeili commented on #2699
@biotech7 @rbharath Do you know if setting `use_chirality=True, use_partial_charge=True` gives you additional numerical values for the input node features? If so, I guess you just need to adjust the input node feature size.

[2021-09-22 08:15] hjzhang1018 opened #2701 "Command '['/root/miniconda/bin/conda', 'install', '--yes', 'python==3.7.12', 'pdbfixer', 'rdkit=2020.09.02', 'openmm']' returned non-zero exit status 1"
## 📚 Installation

Just as normal, I ran this installation commands. But an error occurred. I used the following code as the same in tutorials.
[code]

Error message:
---------------------------------------------------------------------------
CalledProcessError                        Traceback (most recent call last)
<ipython-input-6-402465323f4b> in <module>()
      1 get_ipython().system('curl -

[2021-09-22 12:00] biotech7 commented on #2699
@mufeili @rbharath  i'll get a try. hope to solve this issue.
Regards!

[2021-09-23 05:51] biotech7 opened #2702 "which one is the preferred API service for deepchem TorchModel?"
## ❓ Questions & Help
I want to deploy  deepchem TorchModels on a server which can be queried by users .
there are many choices for deployment of torch models. e.g.

- 1. apache+flask+wsgi+pytorch
- 2. springboot+pytorch
- 3. pytorch serve tools(https://github.com/pytorch/serve)
- 4. many third-party SDKs or libraries...

so what's the preferred strategy for serving a deepchem TorchModel ?

[2021-09-23 12:45] arunppsg commented on #2701
Try the following in colab:

[code]

Related issue #2613

[2021-09-23 13:12] #2699 closed

[2021-09-23 15:46] rbharath commented on #2702
I've done something very simple before which is just set up a flask server and answer queries directly but definitely not a sophisticated web setup. I'd be interested for us to set up a more documented pathway to set up a DeepChem API service.

@biotech7 Can you let us know what ends up working for you?

[2021-09-24 01:20] biotech7 commented on #2702
As to the point of language environment，JAVA may be  one of the best candidates for erection of AI service. so JAVA-based service such as “Springboot+pytorch” could satisfy many demands in various industries.
       to the point of deepchem, intergation of pytorch serve tools(https://github.com/pytorch/serve) into deepchem may be a good choice. but i cannot ,technically，figure out how to seamlessl

[2021-09-24 03:22] hjzhang1018 commented on #2701
Thank you @arunppsg very much. Solved.

[2021-09-24 03:22] #2701 closed

[2021-09-24 06:07] biotech7 opened #2703 "how to assess predicted value generated from classification model?"
## ❓ Questions & Help
Hi, team
     I trained a classificatin model by utilzation of Clintox dataset following the tutorial based on AttentiveFPModel. In an effort to assess/test the model，I inputed a single molecule to predict the result. but find it hard to parse the value, like
these：
[code]
in Clintox dataset，there are two tasks: `FDA_APPROVED`  and `CT_TOX`. As to output values, what does eac

[2021-09-24 12:29] arunppsg commented on #2629
Probably we can start with change in `setup.py` to include `rdkit` and then change installation in colab. By this, we can do a single line installation in tutorial notebooks.

Related issues to this: #2613, #2701

[2021-09-24 20:54] davidRFB commented on #2629
Hi !
Totally agree, there are some tutorials that use the conda installer for openMM I guess.
One question about modifying the setup.py:

There is a line that calls the install_requieres,
[code]

We should simply add rdkit-pypi.  ?

[code]
But I do not know if the setup function uses pip for installing ?

[2021-09-25 02:47] mgarort opened #2705 "Is it possible to do node-property prediction with DeepChem?"
## ❓ Questions & Help

Essentially the title. Is it possible to do node-property prediction (i.e. atom-property prediction if the graph is a molecule) in DeepChem?

If not, do you have any suggestions on the easiest way to modify the existing PyTorch models to achieve atom-property prediction?

Thanks a lot in advance (and thank you for developing DeepChem, it is very useful!).

[2021-09-25 09:10] arunppsg commented on #2629
Yes, we should simply add `rdkit-pypi` in `setup.py`. When you use `pip` to install deepchem, as in `pip  install deepchem`, `pip` will use `setup.py` to find the required modules for installation and then install it. Here is a nice question in [SO](https://stackoverflow.com/questions/1471994/what-is-setup-py) about `setup.py`.

Regarding OpenMM, I am not sure what tutorials require it but most of

[2021-09-25 20:58] rbharath commented on #2705
Oh hmm, good question. I don't actually think there's a good way to do this. The PyTorch GraphConvs are mostly backed by DGL-lifesci and are a little hard to modify. I'd recommend starting from the TensorFlow GraphConv and looking at the architecture and modifying layers directly. This will be a little work but hopefully not too bad

[2021-09-26 04:26] mgarort commented on #2705
Hi, thanks for the quick answer. I was actually looking at the DGL-LifeSci models and it may not be that difficult to modify them. As a general rule, the GNN layer in these models return node features, and the Readout and Predictor layers generate graph predictions from those node features. Therefore, I may just need to swap the DGL-LifeSci Predictor layer in DeepChem by a DGL-LifeSci GNN layer.

[2021-09-30 21:44] davidRFB commented on #2677
Hi @Suzukazole  @rbharath ! I have been working a little on this issue. But I found a solution involving the generator function inside the reshard function. However I have a question !
for the example case :
[code]

and the code:
[code]
should have an output of 10 ? the number of entries in the dataset is 4 therefore  the first shard would contain the whole elements ?

PD: The PR #2654 that we tal

[2021-09-30 22:10] peastman commented on #2677
`shard_size` is the size of each shard, not the number of shards.  Each one can have up to 10 samples, and the dataset only has 4 samples, so everything fits in a single shard.

[2021-10-02 18:06] Ferx2226 commented on #2701
Great, it worked perfect for me! :) Thank you so much

@arunppsg By any chance do you know how to import RDKit after applying those changes. When I use:
import rdkit as chem

I got the next error:

ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-10-ee6f2a90aa70> in <module>()
      1 import torch
----> 2 import rdkit
      3 import rdkit.Chem as Chem

[2021-10-03 02:07] arunppsg commented on #2662
Hey, sorry for a very late response. From the best of my understanding,

On 1)
Transformer has to be used on test dataset when the train dataset is transformed using a transformer for training. In such cases, `transformers` parameters can be used to specify the same transformation used on the training dataset to the test dataset. When a dataset loaded from `dc.molnet` submodule is used, `transform

[2021-10-03 09:13] arunppsg commented on #2701
Here is a nice introduction to [rdkit](https://www.rdkit.org/docs/)

On Sat, 2 Oct 2021, 23:36 Ferx2226, ***@***.***> wrote:

[2021-10-03 23:10] mohammad-saber commented on #2662
Thank you for your help.

I guess the meaning of `The output is passed through these transformers to undo the transformations` is :

We want to get model output in original scale (without transformation) for the purpose of plotting or comparing with `y_true` in original scale.

[2021-10-05 01:27] mohammad-saber opened #2710 "[Question] How to check value of model trainable parameters?"
## ❓ Questions & Help

Hi, thank you for reading my question.

When I initialize a graph model, I would like to check its trainable parameters (like model weights in MLP section). Is there any way to achieve that?

Also, how can I set the weight initializing method when making  a model?

[2021-10-07 17:38] rbharath commented on #2499
Going to go ahead and close. Feel free to comment if you need additional help

[2021-10-07 17:38] #2499 closed

[2021-10-10 15:15] arunppsg commented on #2640
Renaming core will be useful as the name causes confusion with build sometimes.

[2021-10-11 11:10] hjzhang1018 opened #2714 "Convert Pandas DataFrame to DiskDataset error: 'numpy.ndarray' object has no attribute 'atom_features'"
## ❓ Questions & Help
 I featurized my data using `ConvMol Featurize` in advance and saved them into csv files for later use. Then I read the csv file using pandas and tried to convert them to DiskDataset for GraphConv Model training. However an error occured. I used the following snippet:
[code]
The error message:

I wonder if the conversion is not successful but I'm confused about the reason. An

[2021-10-12 02:21] hjzhang1018 commented on #2714
Thank you @rbharath for your response. I used this approach to save featurized data as csv. Please let me know if there's anything incorrect. Thank you!
[code]

[2021-10-12 15:42] arunppsg opened #2716 "Upgrading to tensorflow 2.6/2.7"
A problem with tf 2.5 is that it supports only numpy 1.19 but the latest torch version supports newer version 1.21. Should we upgrade to tensorflow 2.6? (though 2.6 also uses numpy 1.19)

Edit: A broader question I have is that version of Numpy shall deepchem support.

[2021-10-12 16:37] arunppsg opened #2717 "Mypy error: "Dataset" has no attribute "get_shard_size""
When running Test for DeepChem core, the following error log is observed:
[code]

It is probably due to a bug in Numpy dataset which can't be merged.

[2021-10-14 02:18] mohammad-saber opened #2718 "[Question] What is the default optimizer for Keras & PyTorch models?"
Hi, thank you for sharing your great work.

I would like to ask the default optimizer for Keras & PyTorch models. The default value for `optimizer` is set to `None`, so I couldn't understand which algorithm is the default optimizer.

Thank you for your help.

[2021-10-14 02:59] rbharath commented on #2718
I believe it's Adam but I might be wrong. @peastman might know offhand

[2021-10-15 02:47] rbharath commented on #2478
Closing since implemented.

[2021-10-15 02:47] #2478 closed

[2021-10-15 02:47] #2393 closed

[2021-10-15 02:47] rbharath commented on #2392
Going to go ahead and close. Let me know if this is still an issue and reopen

[2021-10-15 02:47] #2392 closed

[2021-10-15 02:48] rbharath commented on #2389
Closing since implemented

[2021-10-15 02:48] #2389 closed

[2021-10-15 02:48] #2379 closed

[2021-10-15 02:50] rbharath commented on #2452
Going to go ahead and close. Let me know if this is still an issue and will reopen.

[2021-10-15 02:50] #2452 closed

[2021-10-15 20:32] #2717 closed, assigned to nobody

[2021-10-18 02:42] rbharath commented on #2710
Yes, I believe you can do this, but details will depend on Torch vs Keras. I don't think we have a good example offhand.

Some of the models allow for choice of weight initialization I think but details would be in the docs

[2021-10-19 06:27] bilalzafarpak opened #2723 "AttributeError: 'NoneType' object has no attribute 'run'"
## 🐛 Bug

When i am training the model graphconv, here is an error occurred

code
metric = dc.metrics.Metric(dc.metrics.pearson_r2_score, np.mean)
n_feat =75
batch_size =128
model = dc.models.GraphConvModel(
    len(delaney_tasks), batch_size = batch_size, mode = 'regression')
model.fit(train_dataset, nb_epoch=20)

print("Evaluating Model")
train_scores = model.evaluate(train_dataset, [metric], tr

[2021-10-19 12:25] whitead commented on #2659
Hi @arunppsg, my point is that if you run `pip install tensorflow~=2.4`, you will receive the latest 2.x version of Tensorflow (i.e., 2.6). You should revise the website to be `pip install tensorflow < 2.5` if you want version 2.4.x installed.

[2021-10-19 16:32] arunppsg commented on #2662
Yes, when the model is making predictions, the predictions will be transformed outputs. Hence, we are undoing the transformation applied on the predictions to get the original value.

A bit of example: The true y is of range 0-100, suppose we transform it to a scale of 0-1 during training, the model output will also be in the scale of 0-1. Hence, we undo the transformation in the output by passing

[2021-10-19 22:47] mohammad-saber commented on #2662
Thank you for your help.

[2021-10-19 22:48] #2662 closed

[2021-10-19 23:34] #2311 closed

[2021-10-19 23:34] #2273 closed

[2021-10-19 23:37] #2237 closed

[2021-10-19 23:37] #2231 closed

[2021-10-19 23:38] #2175 closed

[2021-10-22 20:02] SciGuy1839 opened #2727 "Error running colab tutorial notebook(s)"
## The_Basic_Tools_of_the_Deep_Life_Sciences Colab Notebook 🐛 Bug

Error when trying to run tutorial notebooks on google colab

## To Reproduce

Steps to reproduce the behavior:

1. Run first cell in notebook

!curl -Lo conda_installer.py https://raw.githubusercontent.com/deepchem/deepchem/master/scripts/colab_install.py
import conda_installer
conda_installer.install()
!/root/miniconda/bin/conda i

[2021-10-22 21:29] rbharath opened #2728 "Documentation on Chirality Handling"
Chirality handling in DeepChem is present for some featurizers. This adds additional atom/pair features to weave for example. This isn't well documented in the docs and should be. (For example there are 75 atom features w/o chirality and 78 w/ chirality)

[2021-10-23 13:41] arunppsg opened #2730 "Pip installation of deepchem failing in CI"
The installation of dependencies were working fine until yesterday. Today, I noticed that the CI fails at the installation when `pytorch-scatter` was getting collected. For example, checkout the two latest workflows in DeepChem Core - in this [test](https://github.com/arunppsg/deepchem/runs/3936855668?check_suite_focus=true#step:11:923), ubuntu-latest 3.7 passed but here [test](https://github.com/

[2021-10-25 19:19] deloragaskins opened #2731 "Text in ChemBERTa tutorial notebook"
## 🐛 Error in text

Transfer_Learning_With_ChemBERTa_Transformers.ipynb contains the following sentence which seems to reference a target which is not covered in that section.

" Let's get a list of the top 5 predictions (including the target, Remdesivir), and visualize them (with a highlighted focus on the beginning of the final benzene-like pattern)"

## Expected behavior

The top 5 predictions

[2021-10-26 18:26] #2730 closed, assigned to nobody

[2021-10-28 17:30] pjspol opened #2734 "Weave model valid collection error"
**I have this code:**
`model = dc.models.WeaveModel(n_tasks=1,
                               n_weave=2,
                               fully_connected_layer_sizes=[2000,100],
                               mode="regression",
                               batch_size=31,
                               dropouts=0.25,
                               n_hidden=50,
                               n_atom_

[2021-10-28 17:57] pjspol opened #2735 "GraphConv model attribute error"
## ❓ Questions & Help

**Here is my code:**

model = dc.models.GraphConvModel(n_tasks=1,
                                 mode='regression',
                                 batch_size=31,
                                 graph_conv_layers=[1024, 1024],
                                 dense_layer_size=1024,
                                 number_atom_features=78,

[2021-10-30 06:11] PARODBE opened #2736 "Generative models"
## ❓ Questions & Help

Hi, what is the difference between GAN.py and molgan.py??? By the way, are there any method to apply conditional VAE and GAN, controlling the Molecular weight, Log P...basically the features following the lipinski rules. Thanks!

[2021-10-30 06:43] #2735 closed

[2021-10-31 13:52] arunppsg opened #2737 "Error in intializing VinaPoseGenerator"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Install deepchem latest version in colab `pip install --pre deepchem`
2. Run the following code sample:
[code]

The above raises a`SSLCertVerificationError` but it is expected to initialize `vpg`.

There are two points regarding this:
- The download location of autodock vina executables was updated from the side of Vina team. Previous

[2021-10-31 13:57] arunppsg opened #2738 "Upgrading autodock vina to 1.2.2"
One of the pose generators used by DeepChem is Autodock Vina. Recently, the latest version of vina 1.2.2 was released. With this release, the invocation calls - the parameters and arguments changed. The Vina team have also released a python API for docking.

Should we migrate to the newer version?

An issue with the existing version is that the download link for v1.1.2 has changes and from our end

[2021-10-31 14:32] deloragaskins opened #2739 "typo leads to intepretion error in tutorial (ChemBERTa)"
## 🐛 Bug

There is a typo where the  {tokenizer.mask_token} is substituted at the wrong location in the string:
[code]
and this leads to the following interpretation

However, putting the mask token in the correct space leads to only 2/5 predictions being chemically valid.

## Environment
google colabs

## Additional context
Using string.replace() would solve the issue of the typo in a more robust

[2021-10-31 14:34] deloragaskins commented on #2739
@seyonechithrananda Would you mind taking a look at this please? The structures you show in the notebook are not the ones you predicted with the pipeline because of this typo.

[2021-11-01 14:44] arunppsg commented on #2700
Hey, a partial answer to your question - you can use DeepChem's `dc.models.KerasModel` and `dc.models.TorchModel` API for creating your own model and integrating it with DeepChem. [Here](https://github.com/deepchem/deepchem/blob/master/examples/tutorials/Creating_Models_with_TensorFlow_and_PyTorch.ipynb) is a tutorial on the same.

[2021-11-01 20:52] rbharath commented on #2737
Thank you for the excellent write-up! I think the right fix is to upgrade autodock vina to 1.2.2. We should also consider upgrading to using the pypi python bindings for autodock vina directly (then we can just pip install vina and avoid having to wrangle executables ourselves! https://autodock-vina.readthedocs.io/en/latest/installation.html)

[2021-11-02 15:50] #2613 closed

[2021-11-02 15:50] #2629 closed

[2021-11-05 02:53] rbharath commented on #2644
@son-ha-264 Sorry for the slow response! This would be an excellent first contribution to DeepChem. You'd be very welcome to contribute :).

[2021-11-05 02:55] rbharath commented on #2739
@seyonechithrananda I think @deloragaskins' interpretation/fix above is correct. Would you mind double checking when you get some time?

[2021-11-05 02:57] rbharath commented on #2736
The GAN is a generic GAN superclass while the molgan is an architecture for generating molecules. I don't know of a good way offhand to control molecular weight etc for MolGAN, but that would be an excellent contribution for someone to make!

[2021-11-05 17:51] #2737 closed

[2021-11-05 18:02] arunppsg commented on #2716
Maybe we can upgrade to Tensorflow 2.7.

[2021-11-05 19:22] ncfrey opened #2743 "configuring pre-commit"
## 🚀 Feature

Setting up [pre-commit](https://pre-commit.com/) for DeepChem developers.

## Motivation

New DeepChem devs often run into formatting issues (mypy, yapf, flake8, etc.). `pre-commit` (or something else like it) allows a one-time configuration of pre-commit hooks that devs can use to automatically make sure their code complies with DeepChem's formatting standards.

[2021-11-05 20:33] ConnorBarnhill opened #2744 "Error loading tutorials"
## 🐛 Bug

Error loading tutorial The_Basic_Tools_of_the_Deep_Life_Sciences.ipynb

## To Reproduce

Steps to reproduce the behavior:

1. Go here: https://colab.research.google.com/github/deepchem/deepchem/blob/master/examples/tutorials/The_Basic_Tools_of_the_Deep_Life_Sciences.ipynb

![image](https://user-images.githubusercontent.com/7959016/140574928-986093d7-2d4e-4393-91ab-6507026fe6af.png)

[2021-11-06 05:32] rbharath commented on #2743
This would be amazing! Automatic formatting would remove one of the biggest barriers new devs face

[2021-11-06 08:34] puaykaipoh commented on #1977
Sir,

This [line](https://github.com/deepchem/deepchem/blob/master/deepchem/data/datasets.py#L326) you have specified is pointing to a comment. Perhaps, the [link](https://github.com/deepchem/deepchem/blob/master/deepchem/data/datasets.py#L326) is outdated?

Instead, are you referring to [this](https://github.com/deepchem/deepchem/blob/master/deepchem/data/datasets.py#L2470) (with regards to the s

[2021-11-06 08:56] puaykaipoh commented on #1956
Sir,

It seems like this ticket is already done?

`[DiskDataset.transform](https://github.com/deepchem/deepchem/blob/master/deepchem/data/datasets.py#L1722)` has an option of parallel process or not parallel process.

In the parallel process, it seems like we are already writing data to disk:
`[DiskDataset._transform_shard](https://github.com/deepchem/deepchem/blob/master/deepchem/data/datasets.py

[2021-11-06 14:44] arunppsg commented on #2744
Hey, thanks for letting us know. Will fix this shortly!

[2021-11-08 13:56] arunppsg commented on #2373
Here is a simple step to reproduce the error:

[code]

From my understanding, the problem lies within tensorflow's way of saving models. As a quick fix, this works:
[code]

To fix this, we can modify `save` method to save the model weights. A related issue is that for a few other models, like `dc.models.CNN`, the `save` method is not defined.

[2021-11-08 14:11] #2738 closed

[2021-11-08 15:26] ellagale opened #2747 "QM8 dataset is incorrect: duplicate data!"
## 🐛 Bug

The QM8 dataset is incorrect. Four columns appear to be repeated in both the files on MoleculeNet and the dataset loaded via load_qm8. This makes all work done with the QM8 dataset entirely invalid. E1-PBE0 |E2-PBE0 | f1-PBE0 | f2-PBE0 columns of data are duplicated.

smiles | E1-CC2 | E2-CC2 | f1-CC2 | f2-CC2 | E1-PBE0 |E2-PBE0 | f1-PBE0 | f2-PBE0 | E1-PBE0 | E2-PBE0 | f1-PBE0| f2-PBE0

[2021-11-08 15:34] ellagale opened #2748 "Validation scripts and models to directly reproduce the results in the MoleculeNet paper"
## 🚀 Feature

The models and validation scripts to directly reproduce the results in the moleculenet are hard to find (and I have not been able to find them). A tab on the right hand side of the https://deepchem.readthedocs.io/en/latest/index.html page would be, in my opinion, the best place to put such features. Personally, I think we need both the final trained models with all the parameters whi

[2021-11-08 15:49] ellagale opened #2749 "Some molecules in the QM8 dataset cannot be featurized using the CoulombMatrixEigFeaturizer"
## 🐛 Bug

Not all the datapoints in QM8 can be featurized

## To Reproduce

Steps to reproduce the behavior:
featurizer_CM_eig = dc.feat.CoulombMatrixEig(max_atoms=23)
tasks, datasets, transformers_CM_eig = dc.molnet.load_qm8(
    shard_size=2000, featurizer=featurizer_CM_eig, splitter="stratified")

## Expected behavior

I expect all of them to be featurized

## Environment

* OS: windows
* Pytho

[2021-11-09 11:19] ellagale opened #2750 "Some molecules in the QM7 dataset cannot be featurized with rdkit featurizer"
## 🐛 Bug
Failed to featurize datapoint 5505, [H]. Appending empty array
Exception message: float division by zero
Failed to featurize datapoint 5506, [HH].[HH]. Appending empty array
Exception message: float division by zero
Failed to featurize datapoint 6215, [HH].[HH]. Appending empty array
Exception message: float division by zero
Failed to featurize datapoint 6216, [HH].[HH]. Appending empty a

[2021-11-09 16:27] rbharath commented on #2750
In general all MoleculeNet datasets have some compounds that are malformed. Usual practice in the field is to discard compounds that RDKit fails to featurize (usually there was a data entry/generation error if RDKit cannot generate the compound)

[2021-11-09 17:02] arunppsg commented on #2716
TF 2.7 supports numpy 1.21. We should bump it soon.

[2021-11-10 08:43] ARY2260 commented on #2743
Hello. Could you share more details on what formats are needed in the configuration if pre-commit is used?

[2021-11-10 15:11] ncfrey commented on #2743
The coding conventions for DeepChem that we'd want to include are here: https://github.com/deepchem/deepchem/blob/master/CONTRIBUTING.md#coding-conventions

[2021-11-11 22:06] #2734 closed

[2021-11-12 03:47] pjspol opened #2753 "DeepChem Adam optimizer has no **kwargs even though TensorFlow Adam does"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. optimizer=dc.models.optimizers.Adam(clipnorm=1.0)

## Expected behavior

## Additional context

[2021-11-12 04:00] arunppsg commented on #2373
DeepChem saves model automatically during training. To retrieve the saved model, we can use `model.restore()`.

Example:
[code]

Probably, we can remove `save` and `reload` method as they are ambiguous @rbharath .

https://github.com/deepchem/deepchem/blob/master/deepchem/models/atomic_conv.py#L303-L309

[2021-11-12 18:00] PARODBE opened #2754 "Molgan error"
Hi everybody,

I am getting an error when I use Molgan, my code is the same than the example:

# create featurizer
feat = dc.feat.MolGanFeaturizer()
# featurize molecules
features = feat.featurize(Smiles)
# Remove empty objects
features = list(filter(lambda x: x is not None, features))
# create model
gan = MolGAN(learning_rate=ExponentialDecay(0.001, 0.9, 5000))

dataset = dc.data.NumpyDataset([x.

[2021-11-12 18:54] rbharath commented on #2373
@arunppsg We should deprecate `save()` and `reload()` and modify `SklearnModel` and `XGBoostModel` to follow the same `fit()`/`restore()` flow as the deep models

[2021-11-14 00:28] mgarort opened #2755 "Is there a progress bar for DataLoader.create_dataset ?"
## ❓ Questions & Help

Sometimes we need to create a large dataset, and featurization takes a long time. Therefore, `DataLoader.create_dataset` seems to hang for a long while. Is there a way to view the progress of the featurization process with a progress bar?

Thanks in advance.

[2021-11-15 02:33] rbharath commented on #2755
@mgarort Great question! There isn't a progress bar right now, but you can turn on logging and watch the logging statements (it will say something like X/Y compounds featurized so far or something at set intervasl)

[2021-11-15 11:16] mgarort commented on #2755
That makes sense, thanks!

[2021-11-15 11:16] #2755 closed

[2021-11-15 12:41] cwoac commented on #2747
It looks like whatever was used to import / convert the original file couldn't cope with multiple columns having the same header name (probably using as a key into a dictionary) and just re-used existing columns.

[2021-11-15 16:16] rbharath commented on #2747
I have not been able to verify this error personally yet, but from reading these comments it looks like there may have been an error in the original dataset.

CC @miaecle It looks like there may have been a data processing error on the QM8 data import. Would you mind taking a second look as well?

[2021-11-16 21:03] rbharath commented on #2754
To clarify, the model trains correctly? Could you paste the full stack trace for the error?

[2021-11-17 04:03] pjspol opened #2758 "PagtnModel not found"
## 🐛 Bug

An AttributeError occurs when trying to import the PagtnModel both from dc.models and dc.models.torch_models.

## To Reproduce

Steps to reproduce the behavior:

After `!pip install rdkit-pypi` and `!pip install deepchem`

1. `!pip install dgl -f https://data.dgl.ai/wheels/repo.html`
2. `!pip install dgllife`
3. `import dgl`
4. `import dgllife`
5. `import deepchem as dc`
6. `model = dc.m

[2021-11-17 04:13] rbharath commented on #2758
@VIGNESHinZONE Would you have any ideas about what's going on here?

[2021-11-17 06:58] VIGNESHinZONE commented on #2758
@rbharath Im able to reproduce the error but I'm not exactly sure what's causing this error. The more surprising thing is, the tests for Pagtn model are also passing https://github.com/deepchem/deepchem/runs/4226253335?check_suite_focus=true#step:12:102

Also, I was unable to import `from deepchem.feat import PagtnMolGraphFeaturizer`

[2021-11-17 08:38] rdguerrerom commented on #2728
Hi @rbharath,

Can you mention more explicitly which features can deal properly with chirality in DeepChem, please?

[2021-11-17 16:52] rbharath commented on #2728
I believe `ConvMolFeaturizer` and `WeaveFeaturizer` deal with chirality. In general you can check to see if a featurizer has a `use_chirality` flag. We need better documentation for chirality support though!

[2021-11-17 19:17] VIGNESHinZONE commented on #2758
@pjspol could you check it now, Im able to import the models in google collab.

[code]

cc: @rbharath

[2021-11-17 21:14] pjspol commented on #2758
@VIGNESHinZONE Something very similar happens when trying to use AdamW. I can make a separate bug report for that if you'd like; just let me know. Thank you for your help!

[2021-11-17 21:46] rdguerrerom commented on #2728
Hands on writing that chunk of documentation, is that what you meant?

[2021-11-19 06:49] arunppsg opened #2761 "Duplicate functions/code in DeepChem repo"
There are few function which are repeated in the repository. In this issue, I would like to document them and remove the remove a couple of them:

- `remove_missing_entries` in `uv_datasets.py`, `kaggle_datasets.py`, `hppb_datasets.py`, `factors_datasets.py`, `kinase_datasets.py`

[2021-11-19 16:07] rbharath commented on #2761
This sounds like a great idea!

[2021-11-19 21:51] VIGNESHinZONE commented on #2758
@pjspol I'm sorry for the late reply.
yeah please do, it would be really nice if you make another issue.
 This issue can be closed.

[2021-11-20 19:24] Caped-Crusader624 commented on #2647
@rbharath I would like to work on this!!

[2021-11-22 15:55] ncfrey opened #2763 "PyTorch normalizing flows"
## 🚀 Feature

A PyTorch implementation of normalizing flows for deep generative modeling and distribution learning.

## Motivation

The current implementation for normalizing flows in DeepChem is written in TensorFlow Probability. Following the general tend of increasing PyTorch adoption in DeepChem, it would be useful to have the core classes of the normalizing flows API written in PyTorch.

## A

[2021-11-23 01:33] wfrosty9 opened #2764 "Delivery"
Peter Pointer

▶️ 🦆👍

[2021-11-23 12:48] arunppsg commented on #2369
I tried the following code from this [tutorial](https://github.com/deepchem/deepchem/blob/master/examples/tutorials/Modeling_Protein_Ligand_Interactions_With_Atomic_Convolutions.ipynb) and it seems to work:
[code]

A couple of points which may provide fix are:
- Try changing input parameters to the `AtomicConvModel`
- `AtomicConvFeaturizer` used during loading `pdbbind` dataset requires `pdbfixer`

[2021-11-23 17:18] #2363 closed

[2021-11-23 22:41] #2764 closed

[2021-11-25 10:37] arunppsg commented on #2553
PR #2769 is a breaking change.

[2021-11-25 13:22] arunppsg opened #2770 "TypeError in loading uv_dataset"
## 🐛 Bug

## To Reproduce

The error occurs when the following code is executed:
[code]

Error Traceback
[code]

## Expected behavior

Expected the dataset to be loaded successfully.

## Environment

The issue can be reproduced in Google Colab.

* DeepChem version: 2.6.0.dev

## Additional context

This is relatively an easy fix.

[2021-11-25 13:29] arunppsg commented on #1849
We can probably use `dataset.get_shape()`.

[code]

This gives output:
[code]

[2021-11-25 15:51] mgarort opened #2771 "Are task names really needed for data loaders?"
## ❓ Questions & Help

DeepChem dataloaders such as `dc.data.InMemoryLoader` have an argument `tasks` where users should provide a list of task names (a list of strings). Is it really necessary to provide these names? Where are they used and for what?

Currently, I have a loop that creates strings `task1`, `task2`, etc until all my targets Y have their own name, but I never actually use these name

[2021-11-25 17:11] arunppsg commented on #2771
You can simply pass an empty list in the name of task names.

A simple example:
[code]

It should pass most of the cases but I am not sure about corner cases, if any.

[2021-11-25 17:14] arunppsg opened #2772 "Bug in dataset.get_shape() when used after dataset.set_shard()"
## 🐛 Bug

## To Reproduce

## Expected behavior

[code]

Edit 1:

This prints correctly:
[code]
## Environment
* DeepChem version: 2.6.0.dev

## Additional context
The fix is probably a simple one.

[2021-11-25 17:17] arunppsg commented on #2772
Broadly, we also need tests for `deepchem.data.DiskDataset.set_shard`.

[2021-11-26 15:23] mgarort commented on #2771
Thank you for your quick response!

If an empty list does the trick, may I ask what is the purpose of this argument? It seems mostly ornamental to me, but I don't have much experience with DeepChem yet so I may be missing the point.

[2021-11-26 15:59] arunppsg commented on #2771
When a model has to learn multiple tasks, which is common in some deep learning applications, having tasks names will be useful to differentiate between the labels (`y`) for multiple tasks. So, it comes useful in case of multitask learning applications. Here is a [tutorial](https://github.com/deepchem/deepchem/blob/master/examples/tutorials/Putting_Multitask_Learning_to_Work.ipynb) about it.

Also

[2021-11-26 18:54] #1798 closed

[2021-11-26 19:14] arunppsg commented on #2553
PR #2724 - breaking change.

[2021-11-26 23:58] ddcas9 opened #2775 "Multiple featurizers not working with PDB bind dataset"
## 🐛 Bug

Standard featurizers like GraphConv and AtomicConvFeaturizer no longer featurize PDB Bind dataset loaded with `load_pdbbind()`

## To Reproduce

Steps to reproduce the behavior:

1. Open a tutorial notebook that utilizes PDBBind (such as the molecular binding with Atomic Conv Models tutorial).
2. Run all the cells.

## Expected behavior

Featurizers should featurize the dataset.

## Envi

[2021-11-28 05:53] SauravMaheshkar commented on #2743
@ncfrey can I work on this ?

[2021-11-28 09:57] arunppsg commented on #2775
PDBBind dataset supports AtomicConvFeaturizer. For example, see this [tutorial](https://github.com/deepchem/deepchem/blob/master/examples/tutorials/Modeling_Protein_Ligand_Interactions_With_Atomic_Convolutions.ipynb) which uses AtomicConvFeaturizer in PDBBind dataset.

[2021-11-28 15:59] arunppsg opened #2776 "Reproducing results for qm7 dataset"
## ❓ Questions & Help

I was trying to reproduce the tests for qm7 dataset as in [test_qm7_multitask](https://github.com/deepchem/deepchem/blob/master/deepchem/molnet/tests/test_molnet.py#L51), but I was not able to obtain R2-score > 0.75. The dataset is QM7 dataset, loaded with CoulombMatrix featurizer and stratified splitting. The task is a regression task.

I tried different models: MultitaskTr

[2021-11-28 16:19] ncfrey commented on #2743
Absolutely, a contribution here would be very helpful! Feel free to tag me on a Work-in-Progress PR as you get started.

[2021-11-29 12:26] davidRFB opened #2778 "Sparse_Matrix_OneHotFeaturizer"
## 🚀 Feature

This new class featurize custom strings into one hot vectors. However, the implementation of sparse matrix allows better memory management in case of large datasets.

## Motivation
Some protein datasets that contains more than 500000 datapoints can not be easily transformed used the OneHotFeaturizer. There are some memory problems loading the whole dataset. Therefore, this sparse mat

[2021-11-29 12:36] davidRFB opened #2779 "Difference between sklearn OneHotEnconder and DeepChem OneHotFeaturizer"
## ❓ Questions & Help

The use of some sklearn functionalities into deepchem will help solve problems like handling large dataset with memory expensive datasets and featurization process such as the sparse_matrix_one_hot_enconder https://github.com/deepchem/deepchem/issues/2778#issue-1065978426
However there is a difference in both tools in the handle of unknown characters. For example, in the dee

[2021-11-29 17:36] AndreyM0 commented on #2775
Modeling Protein-Ligand Interactions with Atomic Convolutions [https://github.com/deepchem/deepchem/blob/master/examples/tutorials/Modeling_Protein_Ligand_Interactions_With_Atomic_Convolutions.ipynb](url) don't work.

%%time
tasks, datasets, transformers = load_pdbbind(featurizer=acf,
                                             save_dir='.',
                                             data_dir='

[2021-12-01 18:15] FrankSchiro opened #2780 "Error in Example: Modeling_Protein_Ligand_Interactions_With_Atomic_Convolutions"
## 🐛 Bug
I opened this example in Google Colab and worked through it, but every data point got a "failed to featurize" error:
[code]
Cell 7 then has the wrong dimensions for the X variable.

Example link: [Modeling_Protein_Ligand_Interactions_With_Atomic_Convolutions](https://github.com/deepchem/deepchem/blob/master/examples/tutorials/Modeling_Protein_Ligand_Interactions_With_Atomic_Convolutions.i

[2021-12-01 18:27] FrankSchiro commented on #2780
There are multiple issues open with this same problem:

https://github.com/deepchem/deepchem/issues/2602
https://github.com/deepchem/deepchem/issues/2775

[2021-12-01 18:27] #2780 closed

[2021-12-02 18:00] rbharath commented on #2763
Thanks for writing this up! This might be a good project for GSoC next summer if we are selected to participate

[2021-12-03 11:58] arunppsg commented on #2593
Fixed in #2742

[2021-12-03 11:58] #2593 closed

[2021-12-03 19:17] tonydavis629 opened #2781 "Installing from source in Windows"
## 🐛 Bug

When installing from source using the Windows install script install_deepchem_conda.ps1, the script fails when pip installing tensorflow_addons==0.12.

## To Reproduce

Steps to reproduce the behavior:

1. In windows, git clone deepchem
2. cd deepchem
3. run . .\scripts\install_deepchem_conda.ps1 3.7 cpu

[code]

## Expected behavior

The script should finish and install deepchem and dep

[2021-12-04 17:48] arunppsg opened #2782 "Consolidating deepchem installation using .yml files"
Currently, there are multiple .yml files which are to be merged for DeepChem installation. They are also at two places - few in the [root](https://github.com/deepchem/deepchem/) directory and couple of others in [requirements](https://github.com/deepchem/deepchem/tree/master/requirements) directory. This is causing some confusion on which .yml files are used for setup and installation of dependenc

[2021-12-04 17:49] arunppsg commented on #2782
Also some questions which I have in this regard are:

- Do we really need seperate .yml files for different environment? - less files, low maintenance overhead.
- Maybe we should add installation procedure with respect to end use like material science/molecular ML etc rather than based on backend. This will be ideal in long term prospects.

[2021-12-06 13:01] arunppsg commented on #2727
Hey, colab notebooks have been updated with new installation procedures. Hence, closing this issue. Let us know if it is to be reopened. Thanks!

[2021-12-06 13:01] #2727 closed

[2021-12-06 17:04] arunppsg commented on #2781
On tensorboard problem:

- I think the installation procedure in `install_deepchem_conda.ps1` should be updated. Can you please try by
https://github.com/deepchem/deepchem/blob/master/scripts/install_deepchem_conda.ps1#L21
replacing this line with
`$common = Join-Path (pwd).PATH "requirements/tensorflow/env_tensorflow.yml"` and importing tensorflow and deepchem?
[code]

Probably the above will als

[2021-12-06 17:13] arunppsg commented on #2677
Hey, I tried this and it seems to work fine:
[code]
Closing this hence it is resolved.

[2021-12-06 17:13] #2677 closed

[2021-12-06 17:15] arunppsg commented on #2498
Hey, the [docs](https://deepchem.readthedocs.io/en/latest/api_reference/models.html#graphconvmodel) are fixes now.

[2021-12-06 17:15] #2498 closed

[2021-12-06 17:19] arunppsg commented on #2548
Hey, I tried this code and it seems to work:
[code]

I was not able to reproduce the error anymore and closing this. Feel free to reopen it if it is required. Thanks!

[2021-12-06 17:19] #2548 closed

[2021-12-06 17:23] arunppsg commented on #2635
Hey, this is fixed in #2713. Hence, closing this.

[2021-12-06 17:23] #2635 closed

[2021-12-07 06:21] rbharath commented on #2647
@Caped-Crusader624 Sorry for the late response! Yes, please go for it. I'd recommend starting with DeepChem 2.4 as a relatively easy starting point

[2021-12-07 10:46] #2744 closed

[2021-12-07 16:14] arunppsg commented on #2521
Hey, closing this since documentation on running tests have been added. See [here](https://deepchem.readthedocs.io/en/latest/development_guide/coding.html#unit-tests). Please feel free to reopen it if you think it the issue is not yet addressed. Thanks!

[2021-12-07 16:14] #2521 closed

[2021-12-07 23:25] rbharath commented on #2782
I'd be happy for us to simplify the set of .yml files we need! I think we should probably maintain the smallest number of yml files that is required to run our build/test processes

[2021-12-08 11:11] MariBerry opened #2785 "Tutorial Atomic_Contributions_for_Molecules not working on google colab"
## 🐛 Bug
When i run tutorial with colab, on 5th cell i get  an error (reproduced on different machines):
OSError                                   Traceback (most recent call last)
<ipython-input-3-d91cb43971de> in <module>()
     14 DATASET_FILE ='assets/atomic_contributions_tutorial_data/logBB.sdf'
     15 # Create RDKit mol objects, since we will need them later.
---> 16 mols = [m for m in Chem

[2021-12-10 04:17] sgbaird opened #2787 "Approximately what % of the codebase is molecule-based, vs. crystal structure or composition (i.e. chemical formula)"
## ❓ Questions & Help

From what I can tell, it seems mostly to be based on molecules. There is some mention of [facilities for crystal structure](https://github.com/deepchem/deepchem/issues/2005). What about composition (i.e. fractional prevalence of atoms or chemical formulas)?

I'm OK with very rough estimates.

[2021-12-10 19:04] peastman commented on #2787
I don't think you can really analyze the whole codebase in those terms.  A lot of it isn't specific to any application.  A GCN is a GCN whether you apply it to molecules, crystals, or social networks.  Most of the models aren't application specific.  Same with metrics, as well as a lot of the splitters and transformers.

One area of the code that is mostly application specific is the featurizers.

[2021-12-10 19:57] sgbaird commented on #2787
@peastman that's a good point about GCNs being non-application-specific. The list of featurizers you included helps a lot for me to see what's already built-in/compatible. Thank you!

[2021-12-11 08:45] SauravMaheshkar commented on #2743
@ncfrey Sorry for the late response (got caught up in NeurIPS 😅). I've added references to why certain choices for pytest and specific releases were made in the PR. LMK how it looks.

[2021-12-13 14:31] arunppsg commented on #2782
Let's say, we have one yml for common dependencies, one for test dependencies and then each one for ubuntu, macos, windows for cpu and gpu backends respectively, we will have 8 installation files. We will be removing installation by backend (the tensorflow, torch and jax ymls) and make it to installation by OS type. Will it be good?

[2021-12-14 15:01] arunppsg commented on #2775
Can you check whether you have installed `mdtraj` and `pdbfixer`? These two are required dependencies when using AtomicConvFeaturizer (ACF).

We have also updated DeepChem to give more meaning logs recently for ACF. You can setup logging by the following command:
[code]
You can install the newer version via `pip install --pre deepchem`. Make sure to uninstall the earlier version and try using ACF.

[2021-12-14 15:04] #2362 closed

[2021-12-14 16:56] rbharath commented on #2112
Tentatively I think we can close this issue for now since we've stabilized the core tutorial series. Will re-open if necessary

[2021-12-14 16:56] #2112 closed

[2021-12-14 16:57] rbharath commented on #2369
Going to go ahead and close. Feel free to re-open if there are any further issues!

[2021-12-14 16:57] #2369 closed

[2021-12-14 16:58] #2050 closed

[2021-12-14 17:18] rbharath opened #2791 "Remove simdna as a dependency"
Simdna looks to cause a number of CI failures regularly. I think we should consider removing it as a deepchem dependency. Let's use this issue to track needed changes or any other issues that come up

[2021-12-15 03:54] #2716 closed

[2021-12-15 07:53] kurapikult opened #2792 "I came across this problem with my dataset"
I am trying to transform my data, however, I came across this problem:

Is it a problem with my dataset, or am I not using the right transformer?
![Screenshot (75)](https://user-images.githubusercontent.com/92780129/146145462-89edf3d9-51ac-4f9a-b348-e08b5041864b.png)

Note: I am very new at using Python and machine learning, so I am quite unsure how to solve this. I have also attached my dataset f

[2021-12-15 08:13] MariBerry commented on #2792
You use a single transformer object, why do you iterate over it? Just run line 6 of your code without _for_ loop.

[2021-12-15 16:34] #2743 closed

[2021-12-15 16:36] #2617 closed

[2021-12-16 04:10] kurapikult commented on #2792
Hello, thank you for replying and I did as you suggested. But at the end, the same problem occurred again, the transformer somehow needs to iterate over the object (?).
![Screenshot (77)](https://user-images.githubusercontent.com/92780129/146306637-0e5882fa-18d9-4b08-9ea3-5106ea6a55b8.png)
![Screenshot (76)](https://user-images.githubusercontent.com/92780129/146306662-364afc17-5c39-47c1-b28b-d247e

[2021-12-16 09:28] MariBerry commented on #2792
Try to create a list of transformers. That's the data type which should be passed to` evaluate() `, if read the documentation.
`transformers = [dc.trans.NormalizationTransfomer(dataset=dataset, tranform_y=True)]`
Note, you use `tranformers = (dc.trans.NormalizationTransfomer(dataset=dataset, tranform_y=True))`, which doesnt create list, nor tuple.

[2021-12-16 21:58] rehanzfr opened #2794 "Could not produce Docking scores in the tutorial"
## ❓ Questions & Help

I am running tutorial given at the link https://github.com/deepchem/deepchem/blob/master/examples/tutorials/Modeling_Protein_Ligand_Interactions.ipynb. I have installed vina using !pip install vina. However, It is too much time to produce results and scores at the following line. Please provide help.

%%time
complexes, scores = vpg.generate_poses(molecular_complex=('3cyx.pdb

[2021-12-20 01:13] JoseAntonioSiguenza commented on #2785
Hi! The file error is because the 'assets/atomic_contributions_tutorial_data/logBB.sdf' directory is not on colab. The same error occured for the next .sdf files in the same tutorial ('logBB_test_.sdf', 'Tetrahymena_pyriformis_Work_set_OCHEM.sdf' and 'Tetrahymena_pyriformis_Test_set_OCHEM.sdf'). I've made some changes locally and executed the notebook tutorial succesfully. Should I open a pull req

[2021-12-24 03:44] SauravMaheshkar commented on #2782
Maybe this is also worth looking into as `pre-commit` hook.

[code]
---

[2021-12-24 20:53] PabloCGarcia opened #2797 "Fixing Modeling Protein-Ligand Interactions with Atomic Convolutions"
## 🐛 Bug

This sample has many bugs, if you just try to run it, I want to propose the following fixes:
## To Reproduce

Steps to reproduce the behavior:

1. just try to run it and many exceptions will be raised

rdk_utils.py, function apply_pdbfixer
 try:
    import simtk
  except ModuleNotFoundError:
    raise ImportError("This function requires openmm")

should be replaced by

 try:
    import s

[2021-12-24 20:55] PabloCGarcia commented on #2797
to reproduce it, just try tu run notebook https://github.com/deepchem/deepchem/blob/master/examples/tutorials/Modeling_Protein_Ligand_Interactions_With_Atomic_Convolutions.ipynb

[2021-12-29 00:57] rbharath commented on #2785
@JoseAntonioSiguenza That sounds like an excellent contribution! Please go for it

[2021-12-29 17:01] RaguramRamamoorthy opened #2800 "Eof error"
## ❓ Questions & Help

"EOFError("Compressed file ended before the "
EOFError: Compressed file ended before the end-of-stream marker was reached"

I get this error when i try to load from molnet - tox21_tasks, tox21_datasets, transformers = dc.molnet.load_tox21()

[2021-12-29 17:03] JoseAntonioSiguenza opened #2801 "Exploring_Quantum_Chemistry_with_GDB1k tutorial doesn't work on Google Colab"
## 🐛 Bug

When running the fifth code cell of the tutorial an error occurs with the file.

## To Reproduce

Steps to reproduce the behavior:

1. Open the ttutorial Exploring_Quantum_Chemistry_with_GDB1k.ipynb on google colab
2. Run each line until you reach the fifth code line, including it.

The following message appears:
---------------------------------------------------------------------------

[2021-12-30 09:26] DingQK commented on #2772
Hi @arunppsg ! May I work on this? And what are the requirements for this test on set_shard? Thank you so much!

[2021-12-31 05:15] arunppsg commented on #2772
Sure, the fix should return correct shape as shown in the Expected Behavior session.

[2022-01-02 06:04] neerajanand-coder commented on #1899
Hi @rbharath, May I work on this?

[2022-01-03 11:08] nanomolar opened #2803 "Difference in prediction results between just trained model and reloaded model"
## ❓ Questions & Help

Hi, I have trained a GCN model successfully, however, the prediction results between just trained model and reloaded model are different.

Could anyone tell me why?

Thanks in advance.

[code]

Output:
csv loader 1513
1210 151 152
Using backend: pytorch
Training set score: {'roc_auc_score': 0.853694557494654}
Test set score: {'roc_auc_score': 0.8189640035118524}
Test set sco

[2022-01-03 11:11] nanomolar commented on #2803
I have test the save() and reload(), both reported error

[2022-01-03 19:30] rbharath commented on #1899
Yes feel free to go for it!

[2022-01-05 22:36] sdeepaknarayanan opened #2804 "QM9 Dataset Hybridization for Node Features"
Hi, I downloaded the QM9 dataset using deepchem. However, I think the last few node feature dimensions are zero (the hybridizations). Can someone let me know if it's intended?

[2022-01-06 14:07] #2792 closed

[2022-01-06 16:44] #2782 closed

[2022-01-08 13:55] #2772 closed

[2022-01-09 09:46] hjzhang1018 opened #2808 "Import error: No module named 'numpy.typing'"
## 🐛 Bug

Import Error just happened today (yesterday works fine)

## To Reproduce

Steps to reproduce the behavior:

`!pip install --pre deepchem`

## Error:
---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-5-624644e87df7> in <module>()
----> 1 import deepchem

2 frames
/usr/local

[2022-01-09 09:50] #2808 closed

[2022-01-09 12:47] kurapikult opened #2809 "Error with installing deepchem on google colab"
## 📚 Installation

Hello, I have been using google colab to run deepchem all this while and never came across any problems beforehand. However, today I was trying to run my cells again, and this error came up.

![Screenshot (7)](https://user-images.githubusercontent.com/92780129/148682645-bb8dfbbe-b857-4076-a4a1-e9aacc13f122.png)

I have tried to uninstall and install NumPy to the latest version s

[2022-01-09 13:33] ellagale opened #2810 "Tutorials do not currently work when run in google colab - suspect package version issue"
## 🐛 Bug

It seems that the tutorials are broken when you run them in google colab. Suspect a versioning issue.
This is the error:
---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-7-42cd10cbd366> in <module>()
----> 1 import deepchem as dc
      2 dc.__version__

2 frames
/usr/loca

[2022-01-10 09:24] neerajanand-coder commented on #1899
sir,
there is already a doc named featurizers in api_reference. How this should be different?

[2022-01-10 18:23] rbharath commented on #2810
We just pushed an upgrade to the latest numpy 1.22. Perhaps that's not supported on google colab yet, hmm. We will try to figure out what's going on here. Thanks for the bug report!

[2022-01-11 07:28] saharctech opened #2811 "Increase atom neighbors in ConvMolFeaturizer"
## ❓ Questions & Help

Dear Deepchem team,

I would like to use ConvMolFeaturizer for the PDBBIND dataset and I want the featurizer to consider more atom neighbors (default is 10 nearest neighbor atoms). How can I do that?

Thanks so much for your help in advance.

[2022-01-12 11:48] ellagale opened #2813 "use of str() in temp filenames can break due to length."
## 🐛 Bug
`load_dataset` in `molnet_loader.py` attempts to create a temporary directory using `str(self.featurizer)`, which falls back to the `__str__` implementation in `base_classes.py`. This builds the representation from concatenating all the non-list, non-path values of the class. This can easily be long enough to generate a filename with is over the maximum the OS supports.

## To Reproduce
[

[2022-01-12 13:34] greenaway0824 commented on #2810
I also had the same problem.
After spending some time on the internet, I found an answer.
Please start with the code below.
It seems that the first line of the code changes the version of Numpy.

%pip install -U numpy
!pip install --pre deepchem
import deepchem as dc
dc.__version__

[2022-01-13 09:48] arunppsg commented on #2809
A quick fix for colab installation - replace `!pip install --pre deepchem` with

[code]

[2022-01-13 21:06] rgasper opened #2816 "Installing via conda gives different code than installing via pip for version 2.5.0"
## 📚 Installation

Installing version 2.5.0 of deepchem with conda gives different code than installing deepchem 2.5.0 with pip

## Environment

* OS: debian
* Package manager (PyPI or Conda): both/either
* Python version: 3.7.11
* DeepChem version: 2.5.0
* TensorFlow version: 2.4.4
* Any other relevant information: using base docker image debian:buster-slim

## Checklist

- [x] I followed the [in

[2022-01-14 10:22] arunppsg commented on #2810
Hey, can you check now and let us know whether it works in colab? You may be required to factory reset runtime and do `!pip install --pre deepchem`. We upgraded minimum numpy requirement version and we hope that it will fix the problem.

[2022-01-15 11:42] neerajanand-coder commented on #2770
#2817

[2022-01-16 07:56] shaipranesh2 commented on #2647
please review PR #2814

[2022-01-18 13:50] #2770 closed

[2022-01-18 14:34] arunppsg opened #2819 "README for requirements"
The folder `requirements` contains different `.yml` files containing backend libraries/package which are used in DeepChem. Adding a `README.md` will be useful to easily understand what purpose each `.yml` file serves. Broadly,

- `env_common.yml` contains libraries related to scientific applications
- `env_ubuntu.yml` and `env_mac.yml` are dependencies which are supported only on those specific OS

[2022-01-18 15:13] jajupmochi opened #2820 "Summary and visualization of the PyTorch models"
## ❓ Questions & Help

Hi, I am using GCNModel and GATModel. May I ask, is there a way to summarize and visualize the structures of these models such as `plot_model` in Keras, please?  Thanks a lot!

[2022-01-18 16:47] arunppsg opened #2822 "Update Dockerfile"
We need to update dockerfiles present in `docker` folder to reflect latest version and installation procedures.

[2022-01-19 06:01] kurapikult commented on #2810
Hello, I have tried the solution, and it's broken again. It works yesterday, but today the error comes up again

[2022-01-19 06:02] kurapikult commented on #2809
I tried installing deepchem with conda install and pip install; both are not working.

[2022-01-19 06:36] greenaway0824 commented on #2810
I just ran

I just ran Deepchem to check it out. An error message came up just like you said, but it works without any problem with 'RESTART RUNTIME.'
All you have to do is click the button 'RESTART RUNTIME' and re-run the code.

[2022-01-19 08:30] arunppsg commented on #2810
As @greenaway0824 said, restart run-time and it will work fine! Things will work smooth when numpy version is updated in colab by the colab team.

[2022-01-19 13:03] arunppsg opened #2824 "Updating deepchem.feat.graph_data.GraphData"
## 🚀 Feature

DeepChem currently uses `dc.feat.graph_data.GraphData` for handling graphs. I think it will be more apt for `GraphData` to be under the `dc.data`, thereby making them a fundamental data type supported by DeepChem.

### Motivation
- Graph based data types seems to be a very common kind of data type used in scientific applications.
- We can add more support for handling graphs and perf

[2022-01-20 06:17] arunppsg commented on #2824
Also, most graph models in DeepChem takes `DGLGraph` as input. Having `dc.data.GraphDataset` can allow for more customization as well as compatibility with other formats like `torch_geometric.data.Data` and `DGLGraph`.

[2022-01-20 12:30] neerajanand-coder commented on #2824
@arunppsg I would like to work on this issue.

[2022-01-21 04:01] arunppsg opened #2827 "Docs of JaxLayers not rendering"
## 🐛 Bug

In DeepChem docs for Jax layers, [PINNModel](https://deepchem.readthedocs.io/en/latest/api_reference/models.html#jax-models), for some reason, the docs of `PINNModel` is not getting rendered. This might relatively be a simple fix.

[2022-01-21 04:34] arunppsg commented on #2824
Yes, that will be great @neerajanand-coder .

After discussion from weekly dev-call, we can start by moving `dc.feat.GraphData` to `dc.data.GraphData`.

Regarding creation of `dc.data.GraphDataset`, we need to think of what special utility/purposes it serves. We can plan it as a later project. In many scenarios, `dc.data.NumpyDataset` can hold graph objects as numpy arrays. So `GraphDataset` requi

[2022-01-21 04:52] neerajanand-coder commented on #2824
Thanks, @arunppsg.

[2022-01-21 07:48] kurapikult commented on #2810
Hello again! I did ask you suggested and it still didn't work. Also, tried upgrading numpy, but whenever I import numpy, it shows an older version instead of the imported one.

![Screenshot (20)](https://user-images.githubusercontent.com/92780129/150487153-0ddeefe2-8195-4f32-9da1-d6f472a8720d.png)

Is there any way to solve this?

[2022-01-21 07:50] kurapikult commented on #2810
I restarted the runtime, still unable to import deepchem

[2022-01-21 08:35] arunppsg commented on #2810
Try `Factory reset runtime` under `runtime` tab in colab. After this, install `deepchem`.

[2022-01-21 09:04] kurapikult commented on #2810
I have tried this, and it works. Thanks so much!

[2022-01-21 14:09] namyh opened #2830 "installation error again with Numpy in colab"
pip install -q condacolab
import condacolab
condacolab.install()
!mamba install -c conda-forge rdkit
pip install tensorflow~=2.4
%pip install -U numpy
!pip install --pre deepchem

<img width="587" alt="스크린샷 2022-01-21 오후 11 01 50" src="https://user-images.githubusercontent.com/79974234/150540574-c356222c-f86c-468c-90a0-8faf2ca77e1f.png">

I had this _No module named 'numpy.typing'_ issue 2

[2022-01-21 14:30] namyh commented on #2830
I solved the issue!

!pip install --upgrade numpy

must have been preceded above all my codes and restart runtime

[2022-01-21 16:36] peastman commented on #2824
I don't understand what the GraphDataset class would do.  As you say, you can already store any kind of object in a dataset.  Dataset subclasses differ in where they store the data (in memory for NumpyDataset, in .npy files for DiskDataset, in image files for ImageDataset), but they all provide a common interface that presents the data as numpy arrays.

For the same reason, GraphData seems like it

[2022-01-22 08:55] shaipranesh2 commented on #2684
is this issue still there, if so I can take a crack in it!!

[2022-01-22 09:04] bilalzafarpak opened #2831 "Graph Convolution Network performance plotting"
## 🚀 Feature

Hello dear!
Can you plot the training and testing score of Graph Convolution Network for regression problems. It will help me
Thank you,

[2022-01-23 03:22] TKassis opened #2832 "New Numpy requirement is too strict"
## 🚀 Feature

The numpy requirement >=1.21 is too strict and causes a lot of dependency issues with other packages.

## Motivation

I realize that numpy.typing was introduced in 1.20 and for some reason DeepChem is using it, but this renders DeepChem unusable in any kind of complex environment with multiple packages that still have strict requirements for numpy to be <1.20.

[2022-01-23 03:23] TKassis commented on #2808
What did you end up doing?

[2022-01-23 20:06] rbharath commented on #2832
deepchem 2.6.0+ no longer type checks with older versions of numpy since mypy type checks fail due to new numpy types. If you have to work in a legacy environment with requirements for numpy < 1.20, I'd recommend using deepchem 2.5.0 until you are able to upgrade your environment.

[2022-01-23 20:39] #2832 closed

[2022-01-23 20:41] peastman commented on #2832
Also be aware that recent versions of PyTorch don't work with numpy < 1.20.

[2022-01-26 17:09] rbharath commented on #2816
This may be due to our recent bump to 2.6.1. Can you check whether it works now?

[2022-01-27 06:08] kurapikult opened #2835 "Error while predicting"
I ran the DAG model on Delaney, and it ran smoothly. But when I tried to predict the model, this error came up. Is there a solution to it?

InvalidArgumentError                      Traceback (most recent call last)
<ipython-input-14-f669e3005e62> in <module>()
----> 1 DAG_model.predict(DAG_dataset)

4 frames
/usr/local/lib/python3.7/dist-packages/tensorflow/python/eager/execute.py in quick_execut

[2022-01-27 12:39] arunppsg commented on #2827
Not sure why, the fix #2828 does not update the docs in web.

[2022-01-27 19:41] rbharath commented on #2684
@shaipranesh2 Yes, this issue is still open! I'd recommend proposing a design in an issue and getting feedback on a developer call before starting an implementation since this is a more complex project

[2022-01-28 01:38] iherath opened #2836 "New Tutorial Topic Ideas"
## 🚀 Feature
Molecular Reinforcement Learning Model Tutorial

Reinforcement Learning Model Consisting of a Generative Model and a Predictive Model that predicts a property of interest of generated molecules and calculates a reward which gets fed back into the generator (like ReLeaSE [Paper](https://www.science.org/doi/10.1126/sciadv.aap7885) [Repository](https://github.com/isayev/ReLeaSE) )

## Mo

[2022-01-28 16:40] arunppsg commented on #2824
Now it makes sense on why we are having it in `feat`. Thanks for the explanation!

I have two more feature requests regarding `GraphData`:

- When we print a `GraphData` object, we get an output like `<deepchem.feat.graph_data.GraphData at 0x7fdf678865d0>`. Example:
[code]
Can we add a small utility to so that it prints the graph more useful, something like `GraphData(node_features=[5, 10], edge_i

[2022-01-28 17:58] peastman commented on #2824
Good idea!

[2022-01-29 07:53] Yagna24 commented on #2470
I have been trying this  :

`tasks, datasets, transformers = dc.molnet.load_bandgap()`

Throws the same error :  Failed to featurize datapoint 1. Appending empty array

Installed Gensim 3.8 instead but doesn't work..

Has anyone resolved this yet?

[2022-01-30 14:42] arunppsg commented on #2824
@neerajanand-coder , will you be interested in working on this?

[2022-01-30 16:30] neerajanand-coder commented on #2824
@arunppsg yes for sure.

[2022-01-31 08:26] arunppsg opened #2839 "On testing model reloads"
In DeepChem's test for model [reloads](https://github.com/deepchem/deepchem/blob/master/deepchem/models/tests/test_reload.py), some tests have the following workflow:

1. Generate a dummy dataset
2. Create a model
3. Train the model
4. Eval model on train data and assert scores
5. Reload the model
6. Check whether predictions match or not
7. Evaluate the reloaded model and assert scores

I have so

[2022-01-31 09:54] neerajanand-coder commented on #2824
@arunppsg I have implemented the first feature and working on the second.

[2022-01-31 14:39] #2830 closed

[2022-01-31 14:40] #2810 closed

[2022-01-31 14:40] arunppsg commented on #2810
Closing this since resolved! Feel free to reopen if the issue persists. Thanks!

[2022-01-31 14:40] #2809 closed

[2022-01-31 19:21] rbharath opened #2841 "Creating a Model Contribution Guide for DeepChem"
Contributing a model to DeepChem requires a good bit of work. Adding a guide that walks new developers through the process of contributing a model starting from an open source implementation not in DeepChem would be very valuable. Here is what the guide should cover

0. Motivation: Why do you want to add this model to DeepChem? Usually, this is to build a robust standard implementation that will b

[2022-02-01 17:34] gusty1g opened #2842 "On argument types to deepchem layers"
DeepChem has pytorch, tensorflow and jax layers. Different layers use different array data types for computation (ex: pytorch - torch.Tensor, jax - jnp.ndarray).

A broad question here is what should be the input argument to `forward`/`call` methods of layers? We can either have it the input corresponding to layers backend (ex: torch.Tensor in case of pytorch) or we can have it more generally as `

[2022-02-01 19:17] peastman commented on #2842
The goal of the [Python array API standard](https://data-apis.org/array-api/latest/) is to let you write a single piece of code that works with any of these types.  Numpy 1.22 added preliminary support for it.  PyTorch is currently working on adding support.  I'm not sure what the status of Jax support is.

Clearly we can't rely on it quite yet.  But hopefully we can soon write all our layers to u

[2022-02-02 21:25] rbharath opened #2844 "Creating a TorchDrug Tutorial"
https://github.com/DeepGraphLearning/torchdrug is a new Torch framework for drug discovery. It might be interesting to make a tutorial for the tutorial series introducing TorchDrug and how it can be used in conjunction with DeepChem

[2022-02-02 21:28] rbharath opened #2845 "Create a TDC Tutorial"
TDC (Therapeutic Data Commons) is a new dataset collection that open sources a collection of therapeutically relevant datasets. It would be very nice to have a tutorial introducing how to use TDC with DeepChem

[2022-02-03 22:01] deeplearchem opened #2847 "Error to import simtk module from 13 tutorial"
Hi everyone, I try to replicate the code of tutorial 13 in my machine. But when I run the cell:
`from simtk.openmm.app import PDBFile`
`from pdbfixer import PDBFixer`
`from deepchem.utils.vina_utils import prepare_inputs`

I get the error `ModuleNotFoundError: No module named 'simtk.openmm'`
I already installed OpenMM.

[2022-02-03 22:06] peastman commented on #2847
If you execute

[code]
what is the output?

[2022-02-03 22:11] deeplearchem commented on #2847
Thank you for the early answer :)
It is the output:

# Name                    Version                   Build  Channel
_ipyw_jlab_nb_ext_conf    0.1.0                    py38_0    defaults
alabaster                 0.7.12                     py_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
anaconda-client           1.8.0              pyhd8ed1ab_0    https://mirrors.tuna.tsi

[2022-02-03 22:53] peastman commented on #2847
The problem is that you have a very old version of PDBFixer, installed from the omnia channel which is obsolete.  Install the current version with

[code]

[2022-02-03 23:50] deeplearchem commented on #2847
No it don't work, I have installed the current version of PDBFixer, but I get the same error

[2022-02-04 00:22] peastman commented on #2847
It should now list that you have PDBFixer 1.8.1.  Is that what it shows?

[2022-02-04 00:26] deeplearchem commented on #2847
Yes it show the version 1.8.1
![image](https://user-images.githubusercontent.com/98931107/152451711-b46a2338-a687-418b-bde5-55438bf415b1.png)

[2022-02-04 00:42] peastman commented on #2847
Can you post the full stack trace for the exception?

[2022-02-04 00:44] deeplearchem commented on #2847
Sure:
Name                    Version                   Build  Channel
_ipyw_jlab_nb_ext_conf    0.1.0                    py38_0    defaults
alabaster                 0.7.12                     py_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
anaconda-client           1.8.0              pyhd8ed1ab_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
anaconda-

[2022-02-04 01:00] peastman commented on #2847
That's the list of installed conda packages, not the stack trace for the exception.

[2022-02-04 01:06] deeplearchem commented on #2847
Oh sorry

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ModuleNotFoundError: No module named 'simtk.openmm'

[2022-02-04 01:11] peastman commented on #2847
Try changing it to just

[code]

OpenMM 7.6 dropped the `simtk` at the start of the package name.  However, it still includes stubs for the old packages, so they ought to work.  Here's what I get:

[code]

I don't know any reason it wouldn't work for you.

[2022-02-04 01:41] deeplearchem commented on #2847
Yes!!! it solves the error!!!!. Thank you so much, I really appreciate your help!!

[2022-02-04 01:41] #2847 closed

[2022-02-04 01:46] peastman commented on #2847
Very strange!  I don't understand why it isn't accepting the old name.

[2022-02-04 19:15] TheRealSalmon opened #2849 "Improve Documentation for ValidationCallback to Assist with Hyperparameter Tuning"
## 🚀 Feature

I took a closer look at ValidationCallback in deepchem/models/callbacks.py and I don't think any more code needs to be written. There is already an attribute named self._best_score and an argument named save_on_minimum which allows choosing minimize or maximize.

I have a few ideas: 1) Add a function to ValidationCallback called GetBestScore() or something. It may honestly not be nec

[2022-02-05 13:00] arunppsg commented on #2155
@rbharath I am not sure that the tutorial https://github.com/deepchem/deepchem/blob/master/examples/tutorials/Creating_Models_with_TensorFlow_and_PyTorch.ipynb is not much useful. We probably need a better tutorial on how to compose and use layers.

[2022-02-05 17:38] peastman commented on #2155
This tutorial illustrates building up a graphconv model from individual layers: https://github.com/deepchem/deepchem/blob/master/examples/tutorials/Introduction_to_Graph_Convolutions.ipynb

[2022-02-08 17:12] arunppsg opened #2852 "Error when using WeaveModel with gaussian_expand option"
Steps to reproduce:

[code]

The above code raises the following error:
[code]

This is probably due to the use of `gaussian_expand` and `compress_post_gaussian_expansion` options. It occurs only when they are (True, False).

[2022-02-09 06:01] ConnorBarnhill opened #2853 "RuntimeError when adding ValidationCallback to torch model (MPNNModel)"
## 🐛 Bug

Training an MPNNModel with a ValidationCallback throws a RuntimeError. Based on some [quick googling](https://discuss.pytorch.org/t/cudnn-rnn-backward-can-only-be-called-in-training-mode/37622), it looks like this happens in pytorch when 'model.eval()' is called and 'model.train()' is not called after.

## To Reproduce

Steps to reproduce the behavior:

1. Create MPNNModel, train & valid

[2022-02-09 13:18] arunppsg commented on #2853
I think callback works only on KerasModels. Since mpnn using pytorch backend, it would have caused the runtime error.

[2022-02-09 16:55] peastman commented on #2853
ValidationCallback ought to work with TorchModel.  There's nothing in it that's Keras specific.

[2022-02-10 05:44] shaipranesh2 commented on #2106
@rbharath this bug is still unresolved. And what do you mean by "cleanly handle" , should the labels be randomly assigned if there is no label or the label dimensions are wrong?

[2022-02-10 07:53] shaipranesh2 opened #2854 "molgan filters and warnings"
## 🚀 Feature

The current implementation of molgan's output parameters like molecular weight,etc cannot be controlled. So, a new featuring allowing users to specify mol.wt, log P, etc... for the generated molecules would be great.

Also, molgan is primarily used for generating molecules with less than 9 edges, so a user warning would be good if the user tries to generate bigger molecules.

[2022-02-10 13:49] arunppsg commented on #2824
@peastman I have a question on using `GraphData` with pytorch models. Since GraphData stores node_features and others as numpy arrays, to pass it to a pytorch model, should we convert the attributes to tensor every time during call of forward method or add support to store tensors in GraphData?

Another way we can do is convert it to pytorch geometric graph using `to_pyg_graph` method available in

[2022-02-15 19:17] peastman commented on #2824
I think that relates to a much more general question.  All datasets store their data as numpy arrays, and they need to be converted to tensors for each batch.  Do we want to create a mechanism where data can get preprocessed into a form that's more efficient for a particular model?  It's an interesting idea.  The first step would be to profile and figure out whether the conversions are currently a

[2022-02-16 10:41] arunppsg opened #2861 "Reorganising models section of DeepChem docs"
Currently, models section of DeepChem docs is organized as keras model, torch model, sklearn model etc. It will be more useful if it is organized as molecular models, materials models etc. A good first step will be improving the model cheatsheet and categorizing DeepChem models into different groups.

CC @rbharath @peastman

[2022-02-16 12:39] arunppsg commented on #2824
Yes, because for each epoch we are currently converting numpy array to tensor. Maybe in long run, having a mechanism can be more efficient.

I will try to profile and see about the costs. Once we have a clear picture, we can decide to take it forward or not.

[2022-02-16 16:53] peastman commented on #2824
Assuming the dataset is too large to fit in memory at once, creating new tensors on each epoch is unavoidable.  The question is whether there's a more efficient way of getting from data stored on disk to something ready to pass to pytorch.

[2022-02-16 20:29] aparente-nurix commented on #2822
Related - I was looking at the deepchem docker image on docker hub and pytorch isnt listed as a requirement. Can we run torch models with the existing docker container hosted on docker hub?

[2022-02-17 06:03] TheRealSalmon commented on #2803
It looks like save() is not implemented for GraphConvModel. I will give it a try, I'll update you if I succeed.

[2022-02-17 17:12] arunppsg commented on #2822
I think we are yet to update our docker images to include pytorch. Maybe @rbharath can clarify better here.

[2022-02-17 18:20] rbharath commented on #2803
In general models autosave when `fit()` is called (the `save()` method is a vestigial remnant of older implementations that we should clean up). Try `restore()` instead of `reload()` as well

[2022-02-17 19:50] rbharath opened #2863 "TensorFlow -> PyTorch Model Conversion List"
We've made a call to migrate our existing TensorFlow models in PyTorch for better longterm sustainability. Here is a list of TensorFlow models that have yet to be migrated

- [ ] `TensorflowMultitaskIRVClassifier`
- [ ] `RobustMultitaskClassifier`
- [ ] `RobustMultitaskRegressor`
- [ ] `ProgressiveMultitaskClassifier`
- [ ] `ProgressiveMultitaskRegressor`
- [ ] `WeaveModel`
- [ ] `DTNNModel`
- [ ]

[2022-02-18 00:20] rbharath commented on #2477
Tentatively, I think the warnings are harmless. I looked into them but they didn't seem to affect performance so we didn't follow up on a fix. Are you seeing any performance drops?

[2022-02-18 01:07] aparente commented on #2477
Actually, oddly, the opposite. Haven't done direct side by side comparison but the auPRC on a new dataset run with 2.6 seems almost _too_ good.

The warning always seems to occur with the second weave layer and batch norm, but not for every epoch. Will keep an eye on it and report back if I find anything.

[2022-02-19 01:02] andresilvapimentel opened #2867 "model.fit class question"
I was trying to perform a model fit using the train_dataset from TOX21 dataset. However, I needed to transform the train_dataset to pandas dataframe to remove a some lines from the TOX21 train_dataset. Then, I transformed the dataframe back to train_dataset in order to fit the model by using the code below:

n_tasks = len(tasks)
n_features = train_dataset.get_data_shape()[0]
model = dc.models.Mult

[2022-02-19 01:15] andresilvapimentel commented on #2867
I checked the train_dataset after removing the lines and compare it with the train_dataset from the Tutorial_Part_23_Introduction_to_Model_Interpretability.ipynb. It looks the same train_dataset except the number of lines.
So, I do not understand what is going on. Maybe, these transformations (train_dataset to pandas dataframe and to train_dataset again) is modifying something that I cannot unders

[2022-02-21 03:36] arunppsg commented on #2863
MPNNModel has been migrated to pytorch earlier([ref](https://github.com/deepchem/deepchem/blob/master/deepchem/models/torch_models/mpnn.py)).

[2022-02-21 05:45] ShawnKS opened #2868 "import error due to version updates"
Hi, I just installed and tried the tutorial notebooks. The error 'ImportError:  cannot import name 'jaccard_score' from 'sklearn.metrics'  occurs when import the package. I searched and found this solution
https://stackoverflow.com/questions/67301151/error-in-importing-jaccard-similarity-score

[2022-02-22 04:47] ShawnKS commented on #2868
I solve this problem by installing deepchem with the tutorial [here](https://deepchem.readthedocs.io/en/latest/get_started/installation.html)

[2022-02-22 04:47] #2868 closed

[2022-02-23 08:35] arunppsg opened #2869 "Upgrading yapf"
DeepChem is currently using a pinned version of yapf 0.22. Upgrading to the latest version of yapf will be useful for keeping the code healthy.

CC @peastman

[2022-02-23 19:20] peastman opened #2871 "Cannot install on ARM Macs"
I recently got an ARM based Mac.  In trying to install DeepChem from source, I discovered that the install_deepchem_conda.sh script fails.  The first problem is that DGL is only available for x86 Macs, not ARM ones.  (See the list of packages for [pip](https://pypi.org/project/dgl/) and [conda](https://anaconda.org/dglteam/dgl)).  That's a serious problem, since we use DGL for a lot of models.  We

[2022-02-24 11:40] arunppsg commented on #2867
Hey, I tried this sample code to reproduce the error but I was not able to reproduce it:
[code]

Can you share a code by which the error can be reproduced?

[2022-02-24 12:55] arunppsg commented on #2861
Similar to this, can we also split the suite of datasets into molecule, materials and others?

[2022-02-24 14:53] shivance commented on #2680
Neural Flows (https://proceedings.neurips.cc/paper/2021/file/b21f9f98829dea9a48fd8aaddc1f159d-Paper.pdf) proposes an
alternative by directly modeling the solution curves — the flow of an ODE — with a neural network. This immediately eliminates the need for expensive numerical solvers while still maintaining the modeling capability of neural ODEs.

[2022-02-25 19:12] elcaceres opened #2876 "ValidationCallback model save name"
## 🚀 Feature

From ValidationCallback:

[code]

Suggested solution:
[code]

This would require changing the following as well:

### Pytorch changes
[Pytorch changes](https://github.com/deepchem/deepchem/blob/b26a60148521b49286ce6d5e619f3d82cda77611/deepchem/models/torch_models/torch_model.py#L945)
[code]

[code]

### Keras/TF changes
[Keras/TF Changes](https://github.com/deepchem/deepchem/blob/b26

[2022-02-26 18:09] rbharath commented on #2861
Organizing the dataset suite into molecules/materials/etc would be a great idea!

[2022-02-27 16:07] arunppsg commented on #2827
Fixed via #2877.

[2022-02-27 16:07] #2827 closed

[2022-02-27 16:08] arunppsg commented on #2869
Fixed via #2873.

[2022-02-27 16:08] #2869 closed

[2022-02-28 06:37] shaipranesh2 opened #2878 "USPTO dataset loading error"
## 🐛 Bug

When trying to load the USPTO dataset, RobertaTokenizerFast is not defined and so the dataset cannot be used as of now.
## To Reproduce

Steps to reproduce the behavior:

1. tasks, datasets, transformers = dc.molnet.load_uspto(featurizer='RxnFeaturizer')

the following error shows up:
NameError Traceback (most recent call last)

<ipython-input-6-8ecdc2c1fc48> in <module>()
----> 1 tasks,

[2022-02-28 08:56] #2878 closed

[2022-02-28 08:56] shaipranesh2 commented on #2878
Worked after installing hugging face transformers

[2022-03-02 04:51] ShawnKS opened #2879 "problems in reproducing multitask results"
## ❓ Questions & Help
Hey guys, I just tried the multitask learning scripts in this repo. However, it found that the MTL results are far different from the results reported in this paper

For example, the Clintox's AUROC results is 0.59, 0.83 in our trial, compared to the 0.71\~0.72 and 0.77\~0.78 as illustrated in the paper's Figure 9.
Since the dataset split in a 'random' manner, it's also stran

[2022-03-02 05:04] ShawnKS commented on #2879
And the auprc results on muv is far different from the results in paper
![@7A478B9OUA)%AXBY$NHV00](https://user-images.githubusercontent.com/26742152/156298465-e55cb823-dd72-4187-83be-e9e355fc7ae8.png)
![image](https://user-images.githubusercontent.com/26742152/156298535-62383e05-f029-4f44-9bc7-a42666f00d82.png)
[code]

p.s.: The nan value occurs due to the 'random' split.

[2022-03-02 06:04] rbharath commented on #2879
The original numbers were run on a much older version of TensorFlow than is currently being used. I believe also that `MultitaskClassifier` has now been ported to PyTorch in more recent versions of DeepChem, meaning that the backend is now entirely different. In general, exactly matching numbers for benchmarks across different versions of numerical backends is very challenging and multiple teams h

[2022-03-06 05:22] shivance opened #2882 "Neural Differential Equation API"
## 🚀 Feature

**Neural Differential equation** are a new variety of layers for neural networks , securing place in Deepchem Model <a href="https://github.com/deepchem/deepchem/issues/2680" >wishlist </a>. I hereby propose following API for the same

torch_model (deepchem TorchModel API)

       |---------differential (api for neural differential equation ode, sde, cde)
                         |--

[2022-03-06 05:22] shivance commented on #2882
@rbharath I would request you to assign me this issue.

[2022-03-07 21:26] rbharath commented on #2882
Can you turn this into a more extended proposal and perhaps share on the forums or with me directly for feedback? I think adding improved support for Neural ODEs would be good but we will need to think carefully about the design. We can also discuss at the office hours

[2022-03-08 14:37] JoseAntonioSiguenza opened #2884 "Training_a_Normalizing_Flow_on_QM9 tutorial doesn't work on Google Colab"
## 🐛 Bug

When running the 11th code cell of the tutorial an error occurs with the file.

## To Reproduce

Steps to reproduce the behavior:

1. Click the "Open in Google Colab" button of the Training_a_Normalizing_Flow_on_QM9.ipynb on examples/tutorials.
2. Run each line until you reach the 11th code line, including it.

## The following message appears:
-------------------------------------------

[2022-03-11 04:18] TheRealSalmon commented on #2680
I'm currently working on adding a tutorial for scikit-learn's Gaussian Processes. However, I've been having trouble with getting calibrated uncertainty out of it. I plan to try again with a different implementation of Gaussian Processes like GPy.

[2022-03-15 07:42] rbharath commented on #2680
@TheRealSalmon I believe that @atreyamaj was working with a student on ChemProp but I'm not sure if that project is still proceeding. Perhaps it might be worth teaming up and discussing? I'd really like to see D-MPNN make it into ChemProp so I can help on the effort as well :)

[2022-03-18 16:44] #2849 closed

[2022-03-22 07:57] atreyamaj commented on #2680
Hi! I'm really sorry for the delay, got caught up with my thesis project for this semester. Now that the project is almost over, I will be working on DMPNN starting now.

[2022-03-23 15:39] Suzukazole opened #2891 "DiskDatasets with no labels pose IndexError while iterating over a TorchDiskDataset"
## 🐛 Bug

This bug arises while converting a DiskDataset with no labels and weights (columns y and w) to a TorchDiskDataset object.
When the "converted" TorchDiskDataset is attempted to be iterated over, an IndexError is thrown.
[code]
This is because the case when the values are None is not handled.

## To Reproduce

Steps to reproduce the behavior:
This is specific to the USPTO dataset, but othe

[2022-03-29 10:06] mgarort commented on #2534
Hi @peastman could you please indicate the line where weights are used in PyTorch models? I cannot find it and I would like to understand how they are used.

My situation is similar to @allchemist 's : a dataset with missing values which should be weighted out.

Thank you.

[2022-03-29 10:40] mgarort commented on #2534
I found it myself!

https://github.com/deepchem/deepchem/blob/ee97ea5934b4ef853aaee4edf8e2ae04ff9ebef4/deepchem/models/torch_models/torch_model.py#L1194

[2022-03-31 11:14] arunppsg opened #2893 "Random hyperparameter search in deepchem"
A tool - a function in Hyperparameter tuning to perform a random hyperparameter search can aid DeepChem's hyperparameter search better ([ref](https://www.jmlr.org/papers/volume13/bergstra12a/bergstra12a.pdf)).

[2022-04-04 11:49] davidRFB opened #2894 "Documentation SparseOneHotFeaturizer"
## 🐛 Bug
The documentation of the method utransform in the SparseOneHotFeaturizer have something strange in the scipy typing.

![image](https://user-images.githubusercontent.com/28023319/161537637-c71d4c1c-9494-4a4b-a8a5-236df1e37477.png)

[2022-04-05 01:53] rbharath opened #2895 "Make DeepChem Tutorials Citeable"
The DeepChem tutorial suite is emerging as a powerful resource for community members. We should make each DeepChem tutorial citeable by adding a bibtex with the author(s) of the tutorial that can be cited in academic papers.

[2022-04-05 01:53] rbharath commented on #2893
+1. This would be a nice improvement to our hyperparameter optimization suite

[2022-04-08 02:13] #2884 closed

[2022-04-17 13:42] BalajiAI commented on #2863
I would like to take this up.
Any feedback would be valuable to me.

[2022-04-18 01:49] Crispae commented on #2680
@atreyamaj  I would like to work on DPMNN project as well,

[2022-04-19 12:29] arunppsg opened #2899 "Support for COLL Dataset"
COLL Dataset is a dataset of molecular dynamic simulations of molecular collisions. The dataset contains energies and forces of a random snapshot of 140, 000 collision simulations of molecules. It was introduced in the [Klicpera et al, 2020](https://arxiv.org/abs/2011.14115) (see sec 3 on details about the dataset).

The authors state that unlike established molecular benchmark sets like QM9, whic

[2022-04-20 21:44] paupaiz opened #2900 "Making DeepChem more useful for bioinformatics"
## ❓ Questions & Help

As we continue building out DeepChem's support for bioinformatics through [DeepBio](https://github.com/deepchem/deepbio), it would be useful to get a sense of:

- What are some potential genomic tools/models/datasets we may want to add in?
- Has anyone tested [Kipoi](http://kipoi.org/) and if so what are your general thoughts on the repo?

[2022-04-30 08:34] juliusgeo commented on #2871
Hi,
Have you tried building DGL from source?
[code]
This works for me on my M1 2020 Macbook Pro.

[2022-05-04 08:21] Nozziel opened #2905 "module load error：module 'deepchem.models' has no attribute 'GraphConvModel'"
## 🚀 Feature

Better user feedback about the required backends when they want to use a specific model.

Example scenario:
First time user, installs the repo according to the developer install instructions.
Runs the very first tutorial notebook and then gets the error:
`module load error：module 'deepchem.models' has no attribute 'GraphConvModel'`

See also: #2689

## Motivation

To promote the usag

[2022-05-20 03:21] rbharath commented on #2905
Thanks for raising this suggestion! I think improved docs and logging would definitely be a good improvement to make here.

[2022-05-20 03:28] rbharath opened #2907 "DeepChem/DeepScience Tutorial Wishlist"
- [ ] A tutorial on deep microscopy, focusing on cell counting and cell segmentation
- [ ] A tutorial on single cell RNA sequencing methods (using scvtools)
- [ ] A tutorial on differentiable quantum chemistry (PauliNet/FermInet)
- [ ] A tutorial on density function theory (using pyscf)
- [ ] A tutorial on phase field methods
- [ ] A tutorial on whole cell simulation
- [ ] A tutorial on systems bi

[2022-05-20 07:40] Nozziel commented on #2905
Ok made some fixes. #2908

[2022-05-20 15:26] htian97 opened #2910 "Run offline/local?"
## ❓ Questions & Help

Can deepchem be imported and run locally without internet access, or through proxy?
I'm trying to deploy deepchem to my school's server that disallow direct access to internet but through web server proxies. Can such proxies be stated during importing deepchem?

[2022-05-20 15:48] #2910 closed

[2022-05-21 18:13] paupaiz commented on #2907
I will be working on this tutorial: single cell RNA sequencing methods (using scvtools) :raising_hand_woman:

[2022-05-23 06:24] shaipranesh2 commented on #2907
I will be working on the differentiable quantum chemistry tutorial.

[2022-05-23 17:07] cnh commented on #2907
i will be working on cell counting & segmentation

[2022-05-26 12:12] kirti141 opened #2913 "Getting error while running...model = dc.models.MultitaskClassifier(n_tasks=12, n_features=1024, layer_sizes=[1000])"
## ❓ Questions & Help

[2022-05-26 12:17] kirti141 commented on #2913
Getting error while running...

model = dc.models.MultitaskClassifier(n_tasks=12, n_features=1024, layer_sizes=[1000])

for Molecular Fingerprints  https://github.com/deepchem/deepchem/blob/master/examples/tutorials/Molecular_Fingerprints.ipynb

in jupyter-notebook

![error](https://user-images.githubusercontent.com/56719787/170485984-ebafc1ec-c442-4ace-824c-1d8de8b389f2.png)

[2022-05-26 12:27] rbharath commented on #2913
I think you probably don't have pytorch installed. Can you try installing pytorch and seeing if that fixes the error?

[2022-05-27 04:07] kirti141 commented on #2913
Thanks..it worked

On Thu, May 26, 2022 at 5:57 PM Bharath Ramsundar ***@***.***>
wrote:

[2022-05-27 17:45] arunppsg commented on #2907
I will be working on the equivariance tutorial.

[2022-05-27 23:09] cartercanedy commented on #1823
I think that I'm finding a similar issue when using the current conda-forge build. I'm getting this import error:
`ImportError: DLL load failed while importing _openmm: The specified module could not be found.`

This occurs both with importing from jupyter notebook and when using command in the conda environment where its installed:
`python -m openmm.TestInstallation`

I verified that the path to

[2022-05-30 11:31] Wissemmbarki commented on #2070
I've tried to use dc.nn.SequentialSupportGraph(n_feat) but I got an error saying "module 'deepchem' has no attribute 'nn'

[2022-05-31 00:44] Matthew-Hostetler opened #2915 "env_torch.gpu.yml requires conflicting versions (torch and torchvision 0.11)"
## 🐛 Bug

env_torch.gpu.yml requires both torch and torchvision 0.11, resulting in error when installing:

[code]

## To Reproduce

Run `conda env update --file env_torch.gpu.yml`

[code]

Expect the versions to be compatible.

## Environment

* OS: Windows 11 (WSL2 Ubuntu)
* Python version: 3.8

[2022-05-31 05:31] zhenyuhe00 opened #2917 "Has bace dataset of moleculenet been changed in the past year?"
I'm conducting experiments on bace dataset of moleculenet. I use the same code written one year ago but get much different results. So I wonder if it's because the bace dataset (the smiles of it) has been changed in the past year.

Thank you in advance!

[2022-05-31 22:30] rbharath commented on #2915
Thanks for bug-report and proposed PR! We will take a look and get back to you shortly

[2022-05-31 22:32] rbharath commented on #2070
@Wissemmbarki The code for the low-data models is not currently supported in DeepChem. I will try to see if we can find a student developer who wants to take the porting on as a project since there are repeated asks

[2022-05-31 22:35] rbharath commented on #2070
I've just added the porting to the model wishlist #2680

[2022-05-31 22:39] rbharath commented on #2842
Thinking about this, I propose for now we just standardize on all DeepChem layers using torch tensors. In the future torch tensors should eventually become compliant with the Python Array API standard so I think we should be reasonably future proof this way. (Jax tensors are another option, but I think Jax isn't stable on Windows yet and torch is more mature)

[2022-05-31 23:41] peastman commented on #2842
A corollary to that is that as far as possible, we should manipulate those tensors using the methods and arguments of the API standard.  PyTorch has been gradually tweaking its API to support the standard.  It isn't all the way there yet, but the closer we can get the code now, the less we'll have to change later.

[2022-06-02 04:20] hzy-hzy commented on #2917
Thank you for your quick reply! Do you mean the split of train/valid/test has been changed?

[2022-06-03 03:47] #2915 closed

[2022-06-03 06:35] croqquettes02 commented on #1603
how can i reload the model when I saved the model usin model.restore()

[2022-06-03 09:12] atreyamaj opened #2930 "Roadmap to port Keras layers to Torch"
## 🚀 Feature

As planned, Deepchem will be shifting to more torch-based dependencies. As such, the first step in doing so is to port over the layers from Keras to Torch. This issue serves as a checklist for the most important layers (in the same order) to be ported over.

- [ ] GraphConv + pool
- [x]  AtomicConvoluton
- [ ] SetGather
- [ ] GraphEmbedPoolLayer
- [ ] GraphCNN
- [ ] WeaveLayer
- [ ]

[2022-06-05 13:30] JoseAntonioSiguenza opened #2933 "Some checks when commit a PR are failing"
## ❓ Questions & Help

Hi folks! Since the last few days, many PRs have occurred at DeepChem's repo. Also, I've opened #2918 but some checks happened to fail. Looking in more detail, I've seen that the same failed checks are present at many PRs (e. g. test_handsight.py).

<img width="552" alt="Screen Shot 2022-06-05 at 08 26 05" src="https://user-images.githubusercontent.com/80292371/172052795-f2d

[2022-06-05 17:18] arunppsg commented on #2933
The `test_hindsight` is a flaky test - it passes sometimes, other time it fails. Some of the other flaky tests we have are `test_wgan_reload`, `test_atomic_conv_feat`, `test_fittransform_regression_overfit` +  a few more. But one thing I am noticing is that `test_hinsight` is failing more often these days. In the past, when merging a PR, we mostly ignored these flaky failures but we should fix thi

[2022-06-05 21:57] JoseAntonioSiguenza commented on #2933
Awesome! Thanks @arunppsg, definitely considering this on future commits 😄 .

[2022-06-08 03:33] ARY2260 opened #2936 "VisibleDeprecationWarning reported for doctest on graph_feature.py"
## 🐛 Bug

A VisibleDeprecationWarning is reported for running doctest on graph_feature.py file.

## To Reproduce

Steps to reproduce the behavior:

1. open terminal from deepchem/feat
2. run python -m doctest graph_features.py
3. Following error is reported:-

![doctest error](https://user-images.githubusercontent.com/75680850/172524590-2455d313-b66b-4fdc-9ea2-7105b66611eb.png)

## Expected behavi

[2022-06-08 18:36] Wissemmbarki commented on #2070
@rbharath I thank for your answer
but i have another question hope you can help me :
if i install deepchem version 1.3 can i work with model .nn to apply model IterRefLSTMEmbedding

[2022-06-10 05:01] ARY2260 commented on #2933
@arunppsg @rbharath
"AttributeError: module 'deepchem.molnet' has no attribute 'load_qm7b_from_mat' "
error is a recurring error in the latest CI tests.

[2022-06-10 05:09] ARY2260 commented on #2933
'load_qm7b_from_mat' function is not present in the suite of molnet loaders and is used by 2 files:
- `examples/qm7/qm7b_DTNN.py`
- `examples/qm7/qm7b_tf_model.py`
and referenced in `examples/tutorials/An_Introduction_To_MoleculeNet.ipynb` and in the doc file `docs/source/api_reference/moleculenet.rst`

[2022-06-10 17:33] arunppsg commented on #2933
This is a flaky failure. When the CI for docs was rerun, the CI passed.

[2022-06-14 06:20] kingafy opened #2943 "What are the two outputs scores generated in The Basic Tools of the Deep Life Sciences notebook."
the notebook is to predict log solubility of molecules. What are the two scores generated. Is it a range in which the solubility is getting predicted ?

[2022-06-14 23:19] nwoodweb commented on #2895
Hello I have been wanting to make contributions to scientific packages in the past given my academic background in Microbiology,  and I was curious if you have any specific Github "Good First Contribution" issues that you have a greater priority on.

 I originally was thinking that I could do this issue ( Issue #2895) as I am currently in the process of going through the tutorials, and I am famili

[2022-06-15 12:44] j-frie commented on #2861
I would like to start contributing to deepchem and improve the model cheatsheet as a first task.

Currently the table looks like this:
![image](https://user-images.githubusercontent.com/107413352/173820833-788837b7-cca3-4690-986a-e90b3ccc538c.png)

I would suggest to have separate tables for
- general models (CNN, GBDT, MultitaskClassifier, SeqToSeq, WGAN and others)
- molecule models (lots of mod

[2022-06-15 13:33] arunppsg commented on #2861
Hey, thanks for your interest. We can create a new `model_cheatsheet.rst` file in `docs/source/api_reference`. I like the idea of having separate tables for general models, molecule models and materials models. Regarding columns, to start with, we can just have the ModelName with the reference paper as a link (if available) next to the name, type, acceptable featurizers, backend. Regarding input t

[2022-06-16 11:54] gaojianl opened #2946 "nan value from weave on HIV dataset"
Hello~
I trained Weave on the Hiv dataset, but both the loss and predicted value is nan. When I change the dataset into Bace or change the Weave into GraphConv, the bug disappeared.
It seems that some molecule are not properly prepared in the HIV, just like 'CCC[N+](CCC)(CCC)CCC.O=S(O)(=[OH+])c1cc(N=Nc2cc(S(=O)(O)=[OH+])c3cccnc3c2O)ccc1C=Cc1ccc(N=Nc2cc(S(=O)(O)=[OH+])c3cccnc3c2O)cc1S(=O)(O)=[OH+]'

[2022-06-17 01:17] rbharath commented on #2895
@nwoodweb You are very welcome to contribute but I believe this particular issue is already mostly implemented by @paupaiz . I'd recommend checking out some of our other wishlists and beginner issues. Adding documentation or a tutorial is always a good place to start!

[2022-06-17 03:21] nwoodweb commented on #2907
Hi @rbharath I just noticed that in the pull request section.
I can do the systems biology then.

[2022-06-17 10:25] arunppsg commented on #2946
I think the molecules is not getting parsed properly. I made a small example to reproduce it:
[code]

The above code raises an error like `SMILES Parse Error: syntax error while parsing:`. Not sure what's happening.

cc @rbharath

[2022-06-17 16:04] #2861 closed

[2022-06-17 18:39] rbharath commented on #2946
I think the issue is that Weave is unstable for some hyperparameters and sometimes produces NaNs. I'd recommend playing with the learning rate to see if you can stabilize trainiing.

Typically on a large dataset you run into a few smiles parsing errors. I think that's now the root of the NaN though

[2022-06-18 07:51] #2905 closed

[2022-06-20 10:54] j-frie commented on #2317
I also ran into such an issue and would have appreciated a more informative error message :-)

The tutorial "Introduction to Graph Convolutions" contains a data generator, that yields an input array from ConvMol.

[code]

For objects like ConvMol which seem to have a standard way to be transformed into an array, it could be helpful to use this method when creating a tensorflow dataset.

[2022-06-20 14:27] rbharath commented on #2317
We are generally migrating away from TensorFlow to PyTorch. I anticipate that over the next few releases a lot of this old TF code will be migrated forward.

We are also encouraging new graphconv classes to use the `GraphData` class instead of custom objects like `ConvMol`.

Better error messages would definitely be useful! It might be good to focus effort on improving Torch/GraphData errors thoug

[2022-06-20 19:58] j-frie commented on #2317
That sounds reasonable to focus on parts that are not already on the agenda to be changed! In the tutorials, the TensorFlow models are still very present...

Will the `ConvMol` be converted to `GraphData`, when the model is ported to PyTorch as part of #2863?

[2022-06-20 20:28] rbharath commented on #2317
Yes that's the goal. Converting stable models is challenging but we have folks working towards it. @atreyamaj is working on some layer porting now for example

[2022-06-20 21:50] paulsonak opened #2956 "torch model.restore() error on CUDA mismatch"
## 🐛 Bug

If a model is trained with a GPU but it's trying to reload the model when GPU isn't available (for example on a different machine), torch.load() fails unless the device is explicitly specified as 'cpu'.

## To Reproduce

Steps to reproduce the behavior:

1. Train torch model on GPU
2. Transfer model to non-GPU computer
3. Try to load the model with torch_model.restore()

[torch_restore_s

[2022-06-20 23:13] rbharath commented on #2956
Thank you for the bug report! I'll mark this as a bug and open for contribution

[2022-06-21 11:53] j-frie opened #2957 "Logging training of TorchModels to WandB"
## ❓ Questions & Help

I am trying to log model training of a TorchModel to WandB and have some ideas for improvements:

1. The ValidationCallback is very useful to log metrics for both the validation and the training dataset. Right now the data is logged to wandb using
`data = {'eval/' + k: v for k, v in scores.items()}` and integers can be appended to the key if there are several datasets.
In my

[2022-06-22 09:21] j-frie commented on #2957
Thanks for the quick feedback :-)

What is the recommended way to check whether the model that calls the `ValidationCallback` is a `TorchModel` or a `KerasModel`?

The loss calculation is slightly different for the models, but I cannot simply check, if model is an instance of `TorchModel`, because if `torch`is not installed, one cannot import `TorchModel` (and similar for `KerasModel`, if tensorfl

[2022-06-23 12:05] j-frie commented on #2957
That's a good point!

It have now wrapped the loss function (`model._loss_fn`) within the `Model` class to make it usable as a metric function in `Metric`.
[code]

In `ValidationCallback` one can then use the existing way to evaluate metrics:
[code]

However, for classification problems, this is a bit tricky, and I need some help:

Some losses like `SoftmaxCrossEntropyLoss` take logits as inputs,

[2022-06-30 06:56] juliaLopanskaia opened #2966 "open in colab button does not work (Tutorial Part 13: Modeling Protein-Ligand Interactions)"
## 🐛 Bug
Notepad not found

when I try to go with a link (open in colab button) it says that the page is not found

[2022-06-30 09:48] ARY2260 opened #2969 "yapf version error in pull request template"
## PR template issue
There is a yapf version error in pull request template. There its mentioned as `Run yapf -i <modified file> and check no errors (yapf version must be 0.22.0)`, but based on the issue: https://github.com/deepchem/deepchem/issues/2869, the yapf version is changed to  version 0.32.0

[2022-06-30 09:49] ARY2260 commented on #2969
@arunppsg

[2022-06-30 09:53] arunppsg commented on #2969
Thanks for letting us know. Update pull request template in #2954

[2022-07-01 15:55] #2969 closed

[2022-07-03 08:22] shivance opened #2975 "Docs Not building ?"
## 🐛 Bug

Apparently deepchem docs are not building or some issue exists.

In Coding Conventions Docs > Testing section
[Docs](https://deepchem.readthedocs.io/en/latest/development_guide/coding.html#testing-machine-learning-models) Link
[Source](https://github.com/deepchem/deepchem/blob/master/docs/source/development_guide/coding.rst) Link

In the 4th line of commands to create test environment
so

[2022-07-04 18:42] mkgilson opened #2976 "Add BindingDB Data?"
How about creating a BindingDB dataset, or a BindingDB-minus-ChEMBL dataset?

The BindingDB protein-ligand dataset includes the relevant data from ChEMBL, but also hundreds of thousands of measured protein-ligand binding data curated by BindingDB and not present in ChEMBL (unless they have recently stepped up their ingestion of our data). About 750K come from US patents. Note that SureChEMBL has c

[2022-07-05 13:18] gaojianl commented on #2946
Thanks for your kind reply!
I've tried both with smaller lr and delete molecules with solvent before, but none of them worked. There probably is a problem in the Weave featurization of HIV dataset.

[2022-07-05 13:23] gaojianl commented on #2946
Thank you arunppsg.  I can parse this smile correctly with rdkit==2020.9.5. But I think the solvent might be harmful for the dataset.

[2022-07-05 17:26] rbharath commented on #2976
Yes that would be great! If you would like to take a crack at adding a BindingDB dataset please go ahead.

[2022-07-06 04:44] arunppsg commented on #2975
Yeah, the build in readthedocs is failing - [ref](https://readthedocs.org/projects/deepchem/builds/). I think the issue is not with DeepChem. From build logs in [readthedocs](https://readthedocs.org/projects/deepchem/builds/17365860/), it raises an exception during the build with the following message:
[code]
The exception raises in sphinx. Also the build is using python 3.7. Is there some way to

[2022-07-06 04:50] rbharath commented on #2975
I think we can definitely switch to python 3.8 for the build. Let's go ahead with that if it'll fix the build

[2022-07-06 08:09] ARY2260 opened #2978 "GraphData class not working for single atom mols"
## 🐛 Bug

`GraphData` class checks if the `edge_index` contains the invalid node number, using the condition `np.max(edge_index) >= len(node_features)`. In case of single atom mols, `edge_index` in an empty array of `shape = (2, 0)` and np.max() method raises error for empty array : `Error: zero-size array to reduction operation maximum which has no identity`.

## To Reproduce

Steps to reproduce

[2022-07-06 08:09] ARY2260 commented on #2978
This could be solved by adding `array.size != 0` condition before using `np.max(array)` method.

[2022-07-06 16:27] #2978 closed

[2022-07-07 07:02] J1NJ1NJ4R4 opened #2981 "AttributeError: module 'deepchem.models' has no attribute 'MultitaskClassifier' issue encountered."
## ❓ Questions & Help

AttributeError: module 'deepchem.models' has no attribute 'MultitaskClassifier' issue encountered.

I also installed deepchem and tensorflow, but the code does not work.

Please help me. 😭

deepchem version: 2.6.1
tensorflow version: 2.0.0

It's my code.

import numpy as np
import deepchem as dc

tox21_tasks, tox21_datasets, transformers = dc.molnet.load_tox21()
train_datase

[2022-07-07 07:12] arunppsg commented on #2981
Do you have tensorflow installed? MultitaskClassifier requires tensorflow backend.

[2022-07-07 07:19] J1NJ1NJ4R4 commented on #2981
TensorFlow is already installed.

[2022-07-07 11:14] ARY2260 opened #2982 "circular (or cyclic) import problem in doctest of rdkit_utils.py"
## 🐛 Bug

While running doctest on `deepchem/utils/rdkit_utils.py`, an error occurred which suggested that may be, the file: `deepchem/utils/typing.py` having the same name as the module it imports (`typing`), is causing the circular (or cyclic) import problem.

## To Reproduce

Steps to reproduce the behavior:

1. open terminal from deepchem/utils
2. python -m doctest rdkit_utils.py
3. Following

[2022-07-07 11:17] ARY2260 commented on #2982
@rbharath @arunppsg @peastman

[2022-07-07 13:15] arunppsg commented on #2982
Try running the doctest from deepchem folder.
[code]
The folder `utils` also has a module named `typing.py` which I guess is causing the circular import error.

[2022-07-07 14:50] J1NJ1NJ4R4 commented on #2981
Torch is also installed. 😭

[2022-07-07 15:35] ARY2260 commented on #2982
@arunppsg So, how does CI run the doctests? Hope it is the same way as you told me to do.

[2022-07-08 04:48] shivance opened #2986 "`load_qm7_from_mat()` not found"
## 🐛 Bug

In CI currently `Test for documents / linux (3.8)` is failing. It says
[code]

### Possible Solution

The test is failing in this file :
https://github.com/deepchem/deepchem/blob/master/docs/source/api_reference/moleculenet.rst#qm7-datasets

Removing
autofunction:: deepchem.molnet.load_qm7_from_mat
and
autofunction:: deepchem.molnet.load_qm7b_from_mat

might solve the issue.

[2022-07-08 16:03] arunppsg opened #2989 "Fixing warnings, errors in docs build"
DeepChem documentation build is having some errors and warnings ([ref](https://github.com/deepchem/deepchem/runs/7252621714?check_suite_focus=true#step:6:8)). It will be good to fix them and clean it up

[2022-07-10 10:20] arunppsg opened #2990 "DeepChem docs css not getting rendered in the website"
The docs for deepchem latest version is not getting rendered.
<img width="1073" alt="Screenshot 2022-07-10 at 3 33 53 PM" src="https://user-images.githubusercontent.com/26398753/178140384-53dafebf-f962-4e3f-aa38-99df459e48ad.png">

Recently, I made two changes to docs section for passing the docs build in readthedocs: #2985 and #2984 but those are just version changes to the documentation. I check

[2022-07-11 06:59] arunppsg commented on #2975
Closing this since doc is getting built (fixed in #2985).

[2022-07-11 06:59] #2975 closed

[2022-07-11 08:53] ccy5123 opened #2992 "ValueError: y has more than n_class unique elements."
## ❓ Questions & Help

[code]

[PA summary.csv](https://github.com/deepchem/deepchem/files/9081942/PA.summary.csv)

I tried to apply my own data with Introduction to DeepChem Tutorial 10th.
I think it seems to be a problem with 'width of a layer' or 'n_classes' argument of MultitaskClassifier, but how can I solve the problem?

[2022-07-13 17:52] #2990 closed

[2022-07-14 03:24] Suzukazole commented on #2992
Hey, from a first glance it looks like the dataset that you have provided is meant for regression. For using the MultitaskClassifier the labels(y of the dataset) have to be segregated into classes. For example, in the tutorial that you cite, on examining the labels of the dataset you can see that there are two classes (i.e) whether the molecule is active or not (1 or 0).
I trained a MultitaskRegre

[2022-07-17 15:17] osbm commented on #2907
Can you guys add a tutorial about generating molecules from SMILES string to the tutorial Wishlist

[2022-07-17 17:42] shivance commented on #2981
@rbharath Yes ! MultitaskClassifier has been ported to PyTorch,, see [here](https://github.com/deepchem/deepchem/blob/master/deepchem/models/fcnet.py#L24-L184). However, the import of the model seems to be missing in module __init__.py

[2022-07-17 17:47] shivance commented on #2981
@J1NJ1NJ4R4 Can you check back once again ? The import seems to work fine.

[2022-07-17 17:51] shivance commented on #2981
@rbharath, I think we should move [fcnet.py](https://github.com/deepchem/deepchem/blob/master/deepchem/models/fcnet.py#L24-L184) to `torch_models` folder, as it has been ported to torch.

[2022-07-17 20:46] osbm commented on #2981
Well, I had this same error when I was trying to import `BasicMolGANModel`. I noticed, for some reason, that I wasn't able to install the latest version of the deepchem on python version `3.10`.  I lowered my python version to `3.9.13` using pyenv. and installed the latest versions of TensorFlow and deepchem. Then it worked.

Still, your sample code still gives me the same error:
[code]
But I thou

[2022-07-18 03:36] nwoodweb commented on #2907
I have experience with using RDKit to visualize SMILES which fulfills @osbm request, and I could also investigate InCHI

However, I am currently having difficulty with my Systems Biology tutorial. I am using PySB. I originally wanted to create an example not already done by PySB themselves. However, there is a disparity in an enzymatic reaction I modeled, where given literature values, the end res

[2022-07-18 05:16] shivance commented on #2981
Hi, the import worked on downgrading because deepchem currently supports Python 3.7 through 3.9, See [this](https://github.com/deepchem/deepchem#requirements)

[2022-07-18 05:17] shivance commented on #2981
@J1NJ1NJ4R4 I think you should check your Python version as well.

[2022-07-18 05:32] #1892 closed

[2022-07-18 05:45] J1NJ1NJ4R4 commented on #2981
@shivance My Python version is 3.7.13.

[2022-07-18 06:55] #2574 closed

[2022-07-18 08:09] osbm commented on #2907
oh, I meant like de novo drug generation for example i have 1.7m smiles in a dataset (unlabeled). What is the best way to use a generative algorithm (such as BasicMolGANModel) to generate valid molecules and what mertics can be used to determine new molecules in a practical way? Could be a somewhat simple model to demonstrate. Performance does not matter.

Hope this makes sense. :)

[2022-07-19 19:10] rbharath commented on #2966
Which notebook is failing? It's probably that we forgot to update a link after renaming a notebook

[2022-07-20 12:51] airpods69 commented on #2930
What all models have been ported to torch here? (or is the list up to date)

[2022-07-20 16:47] ojeda-e opened #3002 "Dependency missing in installation from source and pytest segmentation fault"
## ❓ Questions & Help
Hi, since I am interested in contributing to DeepChem, I followed the steps provided in the documentation to install DeepChem [from source with Conda](https://deepchem.readthedocs.io/en/latest/get_started/installation.html#from-source-with-conda). Then, to verify my installation was successful, I proceeded to run the tests. This is the output
[code]

Checking at `deepchem/mod

[2022-07-21 01:53] CHANG-Shaole opened #3003 "How to build a GraphConvModel with a customized training process ??"
## ❓ How to visualize the training process ?

Hello, the developer teams of DeepChem. I'm an engineer using AI technology, recently I was using your excellent work--**_deepchem_** to develop some customized models.

I want to build a GCN model, to do a **regression** task. Firstly I used the `GraphConvModel` which you had created and used the `fit` function to do the training process. But by using

[2022-07-21 19:43] peastman commented on #3003
If you want to log information to Tensorboard, include the constructor arguments `tensorboard=True, log_frequency=N` when you create the model, where `N` is the frequency (in batches) at which it should log results.  See https://deepchem.readthedocs.io/en/latest/api_reference/models.html#torchmodel.  If you also want to report metrics for a validation set, use the `callbacks` argument to `fit()` t

[2022-07-25 11:40] arunppsg commented on #3002
Yes, pytorch lightning should be added to `env_torch.mac.cpu.yml`. Will you be interested in making a PR for the same?

Currently, we are testing only on linux and windows. We have to add ci tests on macos. Nevertheless, you can develop deepchem in macos. You can look at [good first issues](https://github.com/deepchem/deepchem/issues?q=is%3Aopen+is%3Aissue+label%3A%22Good+First+Contribution%22) fo

[2022-07-25 12:42] arunppsg opened #3006 "Converting large disk dataset to csv"
When there is a requirement to convert disk dataset to csv, currently we can only do it be converting it to a dataframe and then to a csv. But a drawback of this approach is that DiskDatasets which are large in size generate dataframes which don't fit in memory.  Having a method which can convert a large diskdataset to csv without consuming memory will be useful.

I would like to suggest an improv

[2022-07-25 15:40] ojeda-e commented on #3002
Hi @arunppsg, thanks for your answer.
Yes, I'm interested in opening the PR to add the missing dependency.

Thanks for clarifying, I'll give it a try on Linux today.

As for, `test_smiles_tokenizer.py`, I do have installed torch. I have:
[code]
I'll try to reproduce the same result (segmentation fault when running `test_smiles_tokenizer.py`) on Linux. I'll keep this thread updated.

[2022-07-26 08:24] shivance opened #3010 "Progressbar while training models?"
## ❓ Questions & Help

While we call `model.fit()` in deepchem models, it doesn't show any indicator which would tell us how many epochs (or %) training has been completed, unless until we are using tensorboard or wandb ?

[2022-07-26 08:26] shivance commented on #3010
The potential solution would be to wrap the looping of epoch in `tqdm` , in `default_generator` method of TorchModel and KerasModel

[2022-07-26 20:29] peastman commented on #3010
It used to print out regular progress messages, and the code is still there to do it.  It's just that we write them with `logger.info()`, and the default logging level ignores them.  We have an open issue to change that: #2023.

[2022-07-27 02:57] peastman commented on #3006
`itershards()` is a method of DiskDataset.  If we want to put the method in the parent Dataset class (which seems like the best place for it, so you can write out any dataset), we can use `itersamples()`.

[2022-07-27 05:38] shivance opened #3012 "Refactoring FCNet"
## 🚀 Feature

File : [deepchem/models/fcnet.py](https://github.com/deepchem/deepchem/blob/master/deepchem/models/fcnet.py)

## Motivation

`MultiTaskClassifier` and `MultiTaskRegressor` have a subclass `PyTorchImpl` which implements a torch.nn.Module
If we decouple this subclass from TorchModel wrapper as in #2963 , the class can be reused as PyTorch Linear Layer for other future use cases of deep

[2022-07-27 07:38] shivance commented on #2933
I fixed this in #2986

[2022-07-27 11:20] arunppsg commented on #3006
Will using `iterbatches()` be good? Because when I use `iterbatches()` or `itershards()`, I can read a batch of data and write to a csv file in chunk. But when I use `itersamples()`, I have to either perform a write operation for each sample, or I need to use a separate variable to create a buffer for storing data temporarily.

[2022-07-27 16:09] shivance commented on #3012
@peastman do you think refactoring is reasonable?
@rbharath gave a green flag in GSoC Office hours.

[2022-07-27 16:51] peastman commented on #3006
`iterbatches()` can work too.  In your PR I see you're using Pandas to construct DataFrames from blocks of samples and append them to the file.  I had assumed you would use the standard `csv` module, which writes rows one at a time.  But Pandas can work too.

[2022-07-27 19:30] peastman commented on #3012
The code looks pretty specific to these models.  Extracting it would make it more complicated (for example, it couldn't refer to variables in the surrounding scope anymore), and some parts of it (like uncertainty prediction) aren't relevant to other uses.

If you want to use one of these models as a building block for a larger model, I would use it directly.  Something like this.

[code]

[2022-07-28 10:20] arunppsg commented on #3006
It makes more sense to use standard `csv` module since it will use less memory. I have updated the PR to use that approach.

[2022-07-31 03:55] ojeda-e opened #3019 "Installation from source lightweight guide has inaccurate syntax"
## 🐛 Bug

Although it's minimal, the commands provided in the [installation from source lightweight guide](https://deepchem.readthedocs.io/en/latest/get_started/installation.html#from-source-lightweight-guide) for additional packages show inaccurate syntax in the pip commands.

## To Reproduce

Steps to reproduce the behavior:

1. Follow steps as indicated in the installation from source lightweig

[2022-07-31 14:41] subzjee commented on #2930
I ported `NeighborList` to PyTorch. The result of the test function for `NeighborList` for the Torch version is identical to the original result while it used TensorFlow.
I also commented some unused variables and lines because of `flake8`.
[Link to branch](https://github.com/subzjee/deepchem/tree/neighbor-list-torch).

I had to remove `flake8` temporarily from the pre-commit in order to push it b

[2022-08-01 00:37] ojeda-e commented on #3002
Sorry for the late reply, @arunppsg.

**TL;DR:** The dependency `libstdcxx-ng=12.1.0` is needed to run tests in deepchem env on Ubuntu. Three unit tests fail.

I tried installing from source on Linux [as shown in docs](https://deepchem.readthedocs.io/en/latest/get_started/installation.html#from-source-with-conda) in two different distributions:
- pop_OS! 20.04 LTS
- Ubuntu 22.04

Please note that

[2022-08-01 11:23] arunppsg commented on #3002
Sounds good! Of the test failures, the first and third are flaky failures. I am not able to reproduce the second failure. Can you run `pytest deepchem/models/tests/test_megnet.py` and check for the error?

[2022-08-02 12:57] ojeda-e commented on #3002
I found that the test fails when I am running the whole test suite only.

First, I ran `deepchem/models/tests/test_megnet.py` only and I obtained:
[code]
which is surprising because when I run `pytest -m "not slow" deepchem` I found the same test failing.
[code]
Here is the verbose message I obtain with `pytest -m "not slow" deepchem`:
[code]

[2022-08-03 00:07] Wissemmbarki commented on #2070
@rbharathJe vous remercie pour votre réponse
mais j'ai une autre question j'espère que vous pourrez m'aider :
si j'installe deepchem version 1.3 puis-je travailler avec le modèle .nn pour appliquer le modèle IterRefLSTMEmbedding

[2022-08-03 02:37] rbharath commented on #2070
DeepChem 1.3 is very old and depends on old TensorFlow and other software that may be hard to run. We also didn't start docker builds until later unfortunately. You are welcome to give it a try and see if you can get it running!

[2022-08-05 14:56] subzjee commented on #2930
I have been having a blast working on this. This caused me to get all excited and eager to continue working so I ported `SwitchedDropout`.
After finishing it, I realized that it only existed because of a limitation of Keras, which @peastman then also noted on the [PR](https://github.com/deepchem/deepchem/pull/3024).

While going through the list, I noticed that `GatedRecurrentUnit` is already [imp

[2022-08-07 04:45] #3006 closed

[2022-08-08 20:08] ojeda-e commented on #3002
Any update so far @arunppsg?

[2022-08-10 06:00] arunppsg commented on #3002
Sorry, I was bit busy. This error is quite peculiar - it raises only when run as a single test but the failure is not captures when run as a collective and also it is falky. I need to take a careful look sometime later.

[2022-08-10 10:29] SiddhantSadangi commented on #707
Still doesn't work. Tested on Windows 11

[2022-08-12 01:20] xuchunqiu opened #3031 "Why "USPTO_50k.csv" a little bit different from its original version"
- original version:
 https://pubs.acs.org/doi/suppl/10.1021/acs.jcim.6b00564/suppl_file/ci6b00564_si_002.zip (named `dataSetB.csv`)
- DeepChem version:
 https://github.com/deepchem/deepchem/blob/6b52a15956c679c2e49099dcf817a3b98120e81f/deepchem/molnet/load_function/uspto_datasets.py#L26

I found there are two differents in the files above, while the comments in `./molnet/load_function/uspto_datase

[2022-08-12 07:46] ThePauliPrinciple opened #3032 "How to interpret the result of the ChemBL example in the documentation"
## ❓ Questions & Help
Starting with https://deepchem.readthedocs.io/en/latest/get_started/examples.html#multitaskregressor I added the following cell:

[code]
And obtain the following plot:

![image](https://user-images.githubusercontent.com/35560762/184308680-9e194a5b-57a9-4c9d-bd00-b7f1daf5c151.png)

This is not my desired result, I expect to see some kind of correlation between the predictions

[2022-08-12 21:52] andresilvapimentel opened #3033 "Interactive model evaluation with Trident Chemwidgets notebook"
The Interactive model evaluation with Trident Chemwidgets tutorial notebook does not run in my google colab because it is installing the Trident Chemwidgets 0.1.0 version, and it needs the 0.2.0 version or greater.
How can I solve this issue?

[2022-08-14 01:52] Zymrael commented on #2680
Many of these models (Neural ODEs, Lagrangian / Hamiltonian) and various neural operators are available in [torchdyn](https://github.com/DiffEqML/torchdyn) and / or the [DiffeqML](https://torchdyn.org/) ecosystem. We'd be happy to help `deepchem`  adopt our API.

[2022-08-14 09:36] subzjee commented on #3031
Regarding the second question:
According to the docstring of `load_uspto()` in that file you linked, that dataset is the canonicalized dataset from [this paper](https://arxiv.org/pdf/2006.07038.pdf).
Details regarding reasoning can be found in appendix C.2 of that paper.

[2022-08-14 11:14] xuchunqiu commented on #3031
Oh, I'm so careless. Thank you for your reply.

[2022-08-14 11:14] #3031 closed

[2022-08-14 11:23] subzjee commented on #3031
No problem at all, good luck!

[2022-08-18 07:02] #1712 closed

[2022-08-26 06:21] seasoncloud opened #3043 "Inquiring about the size of embedding"
## ❓ Questions & Help
Thanks for creating such a useful package! I have a question about the embedding size. In the "test_graph_models.py" script, there is a line "assert (len(dataset), fp_size *** 2**) == neural_fingerprints.shape".
My understanding is that "fp_size" equals to the "dense_layer_size" (Please correct me if I was wrong!) Could you explain why the dimension of the embedding is twice

[2022-08-26 06:37] arunppsg opened #3044 "Shape of DiskDataset attributes is not getting displayed when task names are not specified"
Sample code to reproduce:
[code]
The above line prints `((10, 1), (), (), (10,))` but expected `((10, 1), (10, 1), (10,), (10,))`.  Similarly, `output_dataset.get_task_names()` prints `array([], dtype=float64)`.

Since `DiskDataset.create_dataset` assigns an empty list for task names as a default value and `get_shape` depends on `get_task_names` to compute y shape, it is throwing this error.

[2022-08-26 14:48] rbharath opened #3045 "JsonLoader is not rendered in the docs"
The list of DataLoaders at https://deepchem.readthedocs.io/en/latest/api_reference/data.html#data-loaders doesn't include `JsonLoader` https://github.com/deepchem/deepchem/blob/master/deepchem/data/data_loader.py#L515. This should be added to the docs file

[2022-08-26 14:58] girishsontakke commented on #3045
Hi @rbharath, I guess the `JsonLoader` documentation is included [here](https://deepchem.readthedocs.io/en/latest/api_reference/data.html#jsonloader).

[2022-08-26 15:03] rbharath commented on #3045
Good catch @girishsontakke!

[2022-08-26 15:03] #3045 closed

[2022-08-28 11:07] arunppsg commented on #3043
Hey, thanks for bringing this up. Your understanding that `fp_size` equals to `dense_layer_size` is correct.

I think its a bug in the `deepchem.layers.GraphGather` layer. In the `call` method in GraphGather layer,
https://github.com/deepchem/deepchem/blob/44f92ef8080f001ffe6e25cfb071ca0d24c1a2c1/deepchem/models/layers.py#L361-L365
we perform a concat operation, which doubles the size of the dense

[2022-09-01 23:57] rbharath commented on #2680
@Zymrael I believe @shivance and @VIGNESHinZONE are both working on different ODE/PDE/NODE models and might be interested in discussing with you

[2022-09-02 00:17] venustheplanet opened #3048 "DMPNNFeaturizer not available"
## 🐛 Bug

Cannot import `DMPNNFeaturizer`

## To Reproduce

Steps to reproduce the behavior:

`!pip install --pre deepchem`
`import deepchem as dc`
`from deepchem.feat import DMPNNFeaturizer`

Error:
`ImportError: cannot import name 'DMPNNFeaturizer' from 'deepchem.feat'  (/usr/local/lib/python3.7/dist-packages/deepchem/feat/__init__.py)`

## Environment
Colab
Deepchem 2.6.1

[2022-09-02 01:35] Chopin2 opened #3049 "Integrating graph features with other descriptors"
## ❓ Questions & Help

This may sound strange since I am not familiar with graph features, is it possible to integrate a graph feature with other features such as RD kit descriptors for training on DeepChem? I thought that graph features could be combined with other features to achieve higher accuracy.

[2022-09-02 02:02] rbharath commented on #3048
@ARY2260 Would you be able to take a look?

[2022-09-02 05:16] ARY2260 commented on #3048
Yes, I will look into it.

[2022-09-02 13:01] ARY2260 commented on #3048
![image](https://user-images.githubusercontent.com/75680850/188149273-572f7dc5-8adc-4ed9-8098-c9dbdb324db4.png)
I am confused about the fact that even though the `circular_fingerprint.py` is updated, it is not registered by the interpreter.

[2022-09-02 13:24] ARY2260 commented on #3048
![image](https://user-images.githubusercontent.com/75680850/188155321-1c60efe2-c090-48bd-bf22-263e5cdb9f76.png)

`!pip install --pre deepchem` is installing an older version of deepchem which does not have dmpnn featurizer

[2022-09-02 13:28] ARY2260 commented on #3048
Same is the case for `!pip install deepchem`

[2022-09-02 13:30] ARY2260 commented on #3048
![image](https://user-images.githubusercontent.com/75680850/188149273-572f7dc5-8adc-4ed9-8098-c9dbdb324db4.png)
I tried git clone the master branch of the main deepchem repo, and I am confused about the fact that even though the `circular_fingerprint.py` is updated, it is not registered by the interpreter.

[2022-09-02 14:03] ARY2260 commented on #3048
![image](https://user-images.githubusercontent.com/75680850/188166113-6a0764d9-3f25-4b1c-8786-be415fe892bd.png)
This is working fine.

[2022-09-02 17:55] arunppsg opened #3054 "[RFC] Long CI runs"
DeepChem CI runs take a long time and it slows down developement time. One of the factors for long CI runs is running unit tests on multiple python versions - for example, unit test on torch CI runs on python 3.7, 3.8, 3.9.

Since unit tests runs same test on different environments, as long as it works in one version, it should also work in another version. I suggest we can run unit test on only o

[2022-09-02 18:06] peastman commented on #3054
Running tests on multiple versions is important, because changes to Python do sometimes break things.  But it's generally ok to test just two versions: the oldest and newest ones you want to support.  If it works on those, you can be pretty confident it will also work on versions between them.

[2022-09-02 19:13] ARY2260 commented on #3049
Yes, it's possible to do the same. For example, in the [DMPNN encoder layer](https://github.com/deepchem/deepchem/blob/2b53dc69a93a655d97067ad31c6357129b957d45/deepchem/models/torch_models/layers.py#L1609-L1618) implementation, we concatenate graph features (after encoding) with global features (such as RD kit descriptors).

[2022-09-06 00:02] Chopin2 commented on #3049
Thanks for your quick answer!  I will try it later.

[2022-09-06 00:02] #3049 closed

[2022-09-06 07:42] ARY2260 opened #3057 "error in mapping for smiles like '[I-].[K+]' (disconnected compounds)"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. use dmpnn featurizer to featurize the smile: '[I-].[K+]'
2. use _MapperDMPNN() to generate mappings for featurized graph of '[I-].[K+]'
3. the size 0th dimension of atom_features and atom_to_incoming_bonds do not match! This will lead to shape mismatch during a concatenation step in dmpnn encoder layer.

## Expected behavior

size 0th

[2022-09-06 08:33] shivance commented on #2680
@Zymrael Can we hop on a call sometime to discuss on the same?

[2022-09-06 10:16] andresilvapimentel opened #3059 "Convert the features (in bits vectors) into a different representation"
I am using RDkit and DeepChem to understand the features importances of some datasets.

I splitted the dataset and featurized it using ECFP (in DeepChem) so that the features are stored in train_dataset.X object, which has the shape (1631, 1024). So, it has 1024 features as bits vectors.

Then, I created a model using Random Forest and generate the features importances.  Finally, I plotted the fea

[2022-09-06 16:39] #3057 closed

[2022-09-07 12:31] ismorphism commented on #3048
They should upload the last version into pypi or conda channels then.

[2022-09-08 13:06] bibs2091 opened #3060 "To_csv method is not working"
## 🐛 Bug

I was trying to save my dataset to a CSV file but deepchem is telling me that the the method to_csv doesn't exist for numpydataset or diskdataset.

## To Reproduce
If you run the example in the official docs:
[code]
You will have an error `"AttributeError: 'DiskDataset' object has no attribute 'to_csv'"`

## Expected behavior

## Environment

* OS: Macos
* Python version: 3.9
* DeepChem

[2022-09-08 13:55] arunppsg commented on #3060
`dataset` has to be NumpyDataset.
[code]

If you want to use `to_csv` in DiskDataset, you should have deepchem nightly version installed - DiskDataset.to_csv was added recently.

[2022-09-08 15:21] odifentse opened #3061 "Zero valid molecules found"
Hello,

I ran the code using Google Colab but after training the model, I tried to print out the number of valid molecules and the result was that there were zero valid molecules found.

How can I fix this?

[2022-09-08 17:05] peastman commented on #3061
What code did you run?  Are you asking about a particular example?  Which one?  It isn't clear what you're asking about.

[2022-09-09 19:54] zanussbaum opened #3062 "Mismatch in the number of sequences for ZINC Dataset"
## ❓ Questions & Help

Thanks for the great package! I was looking to use the [ZINC15](https://deepchem.readthedocs.io/en/latest/api_reference/moleculenet.html#deepchem.molnet.load_zinc15) dataset but found in [this paper](https://arxiv.org/abs/2106.09553) a mismatch in the number of sequences. In `deepchem`, it seems that there are ~250M sequences, whereas if I go to [download](https://zinc.docki

[2022-09-11 17:09] #3054 closed

[2022-09-12 07:59] #3044 closed

[2022-09-13 08:36] odifentse commented on #3061
Hello

The code in question is the "Generating_molecules_with_MolGAN.ipynb" tutorial In [18].

The code states the following:
# currently training is unstable so 0 is a common outcome
print ("{} valid molecules".format(len(nmols)))

The outcome was indeed zero valid molecules found. Has a solution for this been discovered to ensure the results discover more than zero valid molecules?

[2022-09-13 16:14] rbharath commented on #3048
Discussing with @ARY2260 offline, the bug is that we forgot to bump the dev version in https://github.com/deepchem/deepchem/blob/master/deepchem/__init__.py#L6. @ARY2260 said he will make a bugfix

[2022-09-14 07:50] #3048 closed

[2022-09-14 16:09] nagam11 opened #3064 "Results.txt for grid_search returns train_score instead of validation_score"
## 🐛 Bug
In line https://github.com/deepchem/deepchem/blob/66e3e74025f1e261a829db484c1ef42fb69cbcf1/deepchem/hyper/grid_search.py#L233 the logfile returns the train_score instead of the validation score.

## To Reproduce

Steps to reproduce the behavior:

1. Use grid_search to find the best hyperparameters.

## Expected behavior

I think it should show:
` f.write("Best validation score %s" % str(v

[2022-09-15 09:36] arunppsg commented on #3064
That's a nice catch! Will put up a PR shortly for fixing it.

[2022-09-15 11:55] ismorphism opened #3066 "ValueError: y has more than n_class unique elements in Hyperopt Jupyter notebook and accordingly in models.py"
## 🐛 Bug

When you run the code in the `Advanced_model_training_using_hyperopt.ipynb  `

[code]
you getting error every time you have more than 2 classes for classification task:

`ValueError: y has more than n_class unique elements.`

Even if you clarify exactly how many classes you have in a row of model building:

  `  model = dc.models.GCNModel(mode='classification', n_tasks=1, n_classes=3)`

[2022-09-16 01:13] JdoesScience commented on #2989
@arunppsg Hi there, I am starting to learn coding and my background is chemistry, someone recommended I try contributing to some open-source chem projects. This issue had a label for "Good First Contribution" but I am unsure of what to do. Do you have any resources I can check out or can you provide a more in-depth explanation of how I can help with this issue?  Thanks, and again, sorry for such a

[2022-09-16 07:00] arunppsg commented on #2989
Hi @JdoesScience , thanks for reaching out. I hope you have gone through DeepChem tutorials. The tutorials gives an introduction to DeepChem. To fix errors in docs build, here are the steps:
1. Install deepchem for development via the steps [here](https://github.com/deepchem/deepchem/blob/master/CONTRIBUTING.md)
2. Try building the docs - the steps on how to build the docs are [here](https://githu

[2022-09-19 04:41] rbharath commented on #3066
Offhand, you may need to change the metric to handle nonbinary classification datasets. Many binary metrics don't make sense for multiclass data

[2022-09-19 13:20] ismorphism commented on #3066
Unfortunately it's not a case. The metric was chosen and tuned right

[code]

[2022-09-20 13:01] TKassis opened #3067 "RDKitDescriptors is_normalized=True unexpected keyword argument"
## 🐛 Bug

When using deepchem.feat.RDKitDescriptors() with argument is_normalized=True it returns a TypeError:

`TypeError: __init__() got an unexpected keyword argument 'is_normalized'`

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

Should accept the argument as per [documentation](https://deepchem.readthedocs.io/en/latest/api_reference/featurizers.html#rdkitdes

[2022-09-20 14:10] TKassis commented on #3067
It seems this is available starting with DeepChem 2.6.2. I'm closing this for now as the nightly build seems to be working as expected.

[2022-09-20 14:10] #3067 closed

[2022-09-20 17:21] soodabehghaffari opened #3068 "issue with importing deepchem on compute nodes on clusters without Internet access"
Hello,
I just started working with deepchem and I have an issue with installation. I am working on a cluster and I created my conda environment and installed deepchem through conda (also tried pip). However, when I import deepchem, I received an error message. Please see the screenshots.
Do I need to install any packages? Please note that the compute nodes on our cluster do not have access to the

[2022-09-22 01:14] mcloughlin2 commented on #3068
This issue came up previously and is addressed in a pending PR (#2954), but I'm not happy with the proposed fix. The problem is that the atom_init.json file used by the CGCNNFeaturizer gets downloaded at import time whenever you import deepchem or any of its subpackages, *regardless* of whether your code uses this featurizer. Some better code design is called for here, so that the download only ha

[2022-09-22 03:43] YoochanMyung opened #3069 "Training GraphConvModel with Validation Dataset?"
## ❓ Questions & Help

Hi, here.
I might be wrong, but I felt that there is no example of using validation set in terms of training GraphConv. So, "EarlyStopping" in this case makes no sense, right?
I already checked `Introduction to Graph Convolutions` (ipynb) and other documentations, but I could not find a way to implement "Validation Data".
Does anyone know of some examples of using validation

[2022-09-23 02:31] YoochanMyung commented on #3069
Thank you for your quick reply.

You are right, but the the tutorial never uses `valid_dataset` after all.

So, I have been trying to implement EarlyStopping via `callbacks` since `model.fit_generator` can accept EarlyStopping only through `callbacks`. I found that `dc.models.ValidationCallback` can be used for callback pipeline, but using `ValidationCallback` in my case does not look straightforw

[2022-09-23 05:56] sunwoongc opened #3070 "`smiles_from_seq` in `smiles_to_seq` has problem when `pad_len=0`."
## 🐛 Bug

In the [code](https://github.com/deepchem/deepchem/blob/10bf8db8f46b9870999bcc2d55deeff77574182c/deepchem/feat/molecule_featurizers/smiles_to_seq.py#L99) for `remove_pad` in `SmilesToSeq` class, first it extract the characters by removing additional padding process. So after that process it only has characters with the size of `max_len`. But when the case of `pad_len=0` it removes all th

[2022-09-23 21:03] peastman commented on #3069
Validation needs to be done with an actual dataset, not a generator, since it will run repeatedly.  Why do you need a generator?  Keep in mind that ValidationCallback takes the *validation* dataset, which is different from the data you train on.  If you call `fit_generator()` you provide it a generator that produces *training* data, not validation data.

[2022-09-24 01:41] YoochanMyung commented on #3069
The reason is because my model returns an error if I provide the **validation dataset** to `fit_generator()`.
Please find the following two approaches I tested.

In the `introduction to graph convolutions` tutorial, there are two ways of running GCNs.

First approach is using `GraphConvModel` which I can easily add **ValidationCallback** with the validation dataset as below. It worked well.

[code

[2022-09-24 23:33] hhaootian opened #3071 "Same input format for roc_auc_score and prc_auc_score"
## 🚀 Feature request

roc_auc_score requires labels (1d array) but [prc_auc_score](https://github.com/deepchem/deepchem/blob/master/deepchem/metrics/score_function.py#L103) requires probabilities (2d array).
How about converting prc_auc_score to keep the same style?

[2022-09-27 12:47] vinay-hebb commented on #2930
Is it a good idea to compare outputs of PyTorch and Tensorflow as part of testing? Currently, we have tests separated for PyTorch and Tensorflow (not sure if this is intentional). Few tests are checking for output shape only. Comparing PyTorch and Tensorflow outputs can produce bug-free code.

[2022-09-27 23:08] rbharath commented on #2930
Yes that would be a great idea. The way we've done this before is ensuring the existing TF tests pass out of box for the PyTorch reimplementation

[2022-09-27 23:08] rbharath commented on #2930
Also #2863 is related to this list. Converting the remaining TF models to PyTorch may necessitate adding some new layers in as well

[2022-09-28 10:19] vinay-hebb commented on #2930
Sure. I am planning to port LSTMStep as first step and then add tests which can compare Tensorflow and PyTorch

[2022-09-30 07:38] arunppsg commented on #3068
The issue should not occur in the lightly version. Can you please try using the nightly version, `pip install --pre deepchem` and check import?

@mcloughlin2 atom_init.json will be downloaded only when the CGCNNFeaturizer is imported and if it is not able to download it, it fails silently with a warning in the logger. When deepchem is imported, we import molnet loader functions and there is `load_

[2022-10-01 10:09] osbm commented on #3060
In that case using `NumpyDataset.to_dataframe().to_csv` would help:
[code]

[2022-10-02 10:16] BalajiAI commented on #2863
Hey @rbharath, GAN, WGAN models are aldready ported to PyTorch.
See here: https://github.com/deepchem/deepchem/pull/3013
But the problem is the PR is in draft.

[2022-10-04 06:28] #3064 closed

[2022-10-05 09:04] mbackenkoehler opened #3077 "'DMPNNFeaturizer' object is not iterable"
## Minimal code
[code]
This results in the following error.
[code]

## Expected behavior
According to the documentation `DMPNNFeaturizer` should be accepted as `featurizer`, as it is a subclass of `deepchem.feat.base_classes.Featurizer` via `MolecularFeaturizer`.

## Environment

* OS: Linux
* Python version: 3.9
* DeepChem version: 2.6.2.dev

[2022-10-05 10:51] mbackenkoehler commented on #3077
Nevermind. I forgot the `()`...

[2022-10-05 10:51] #3077 closed

[2022-10-05 14:30] bananenpampe commented on #3066
broken for me aswell

[2022-10-11 07:52] soodabehghaffari commented on #3068
Hello,
Sorry for the late reply and thank you for the email.
I also tried the nightly version on the offline cluster, but I received the
error message below which I think is similar to the previous error with the
stable version.
Please see the screenshot below for the error messages.

Best Regards
Soodabeh

On Fri, Sep 30, 2022 at 3:38 AM Arun ***@***.***> wrote:

[2022-10-11 17:19] arunppsg commented on #3068
Well, that's mysterious. Ideally, it should proceed fine because the download part is in the try except block,
https://github.com/deepchem/deepchem/blob/f06d2d6b1add4ad9573b0b3779a22d3833e86614/deepchem/feat/material_featurizers/cgcnn_featurizer.py#L78-L82

I will take a look at it later this week!

[2022-10-13 07:57] rbharath opened #3078 "Trimming Unnecessary Optional Dependencies"
DeepChem has a large list of optional dependencies (https://deepchem.readthedocs.io/en/latest/get_started/requirements.html#soft-requirements). We should trim some of these dependencies that aren't central to the package to improve stability. Here are a few suggested dependencies to trim:

- [ ] Mol2Vec (https://github.com/samoturk/mol2vec)
- [ ] PubChemPy (https://pubchempy.readthedocs.io/en/late

[2022-10-16 05:05] arunppsg commented on #3078
mol2vec completed in #3052

[2022-10-16 07:11] #2894 closed

[2022-10-16 09:19] #3070 closed

[2022-10-16 16:51] Firestorm-U23 opened #3081 "error: ValueError: y has more than n_class unique elements."
I keep getting this error: ValueError: y has more than n_class unique elements. when running this code:
!pip install --pre deepchem
import deepchem as dc
dc.__version__
import pandas as pd
import torch
import tensorflow as tf

featurizers = dc.feat.CoulombMatrix(max_atoms=23)
splitter = "stratified"
tasks, datasets, transformers = dc.molnet.load_qm7(featurizer = featurizers, split = splitter)
trai