[2018-01-29 22:18] peastman commented on #1058
The prebuilt binaries are compiled against CUDA 9.  You can still compile from source if you need to use it with earlier versions.  CUDA 9 has now been out for over four months, so it's not that new anymore.

[2018-01-29 22:32] peastman commented on #1038
And yet another issue.  `fit_generator()` requires each batch to be either a two element tuple `(x, y)` or a three element tuple `(x, y, weights)`.  But `Dataset.iterbatches()` represents them as four element tuples `(x, y, weights, ids)`.

Maybe we need to rethink this approach.  For example, we could have a `fit_dataset()` method that handles this for you.

[2018-01-29 23:30] simonfqy commented on #1052
@miaecle Thank you. I have asked our system administrator to upgrade the deepChem library. I will try it once it is done. BTW, when is the next public release?

[2018-01-29 23:52] miaecle commented on #1052
@rbharath

[2018-01-30 00:31] lilleswing commented on #1058
Yeah we can upgrade to CUDA 9 and tf 1.5.

[2018-01-30 00:49] rbharath commented on #1038
I think a `fit_dataset()` isn't a bad idea. We could also just generalize `fit()` itself to handle this correctly.

A backwards compatibility breaking chance would be to have `Dataset.iterbatches()` return tuples `(x, y, weights)`. I'm not sure if `ids` adds much value and it would be good to have seamless interop.

[2018-01-30 00:50] peastman commented on #1038
Another significant difference is how metrics are handled.  In DeepChem, a metric is an instance of dc.metrics.Metric.  You specify them when you call `evaluate()`.  It has a `compute_metric()` method that receives a pair of numpy arrays and computes the metric.

In Keras, a metric is any function of the form `f(y_true, y_pred)`.  You specify them when you create the model (or rather when you comp

[2018-01-30 00:52] rbharath commented on #1058
+1 for the upgrade.

[2018-01-30 00:54] rbharath commented on #1052
I believe that we should have the next version out within a month or so. Sorry for the inconvenience here!

[2018-01-30 01:07] rbharath commented on #1038
I think Keras is using its metrics to define the model itself while our metrics are purely for evaluation and not for training. I think our set of loss functions matches what Keras calls metrics. Converting our loss functions to match Keras seems like a good direction.

`sklearn` also follows the `f(y_true, y_pred)` model, but with arguments Numpy arrays. I think it makes sense to convert `dc.metr

[2018-01-30 01:17] peastman commented on #1038
I think we need to reconsider our approach, now that we have a better idea of the implications.  To summarize the situation:

- DeepChem and Keras each have a class called Model.  They have a lot of methods with the same names, but those methods take different arguments and behave in different ways.

- DeepChem has a Dataset class.  It presents data in a way that isn't compatible with how Keras ex

[2018-01-30 01:22] peastman commented on #1038
Not really.  Keras has distinct loss functions (for training) and metrics (for evaluation).  DeepChem offers a library of metrics, but it doesn't really have "loss functions" as such.  Each model is responsible for computing its loss itself.  TensorGraph has some layers that are useful when computing certain common types of loss functions, but that's not quite the same thing.

[2018-01-30 01:33] rbharath commented on #1038
Interesting, didn't realize Keras computed metrics as part of the network itself...

The second option is radical, but might be our path to achieving greatest long-term impact. If we achieve direct inter-op with tf.keras, we could potentially evolve into the de-facto chem/bio/science layer for TensorFlow. This would let us reach potentially an order-of-magnitude more users and impact.

The first o

[2018-01-30 01:35] rbharath commented on #1015
@vsag We're currently not planning to extend DeepChem support for pytorch, but would welcome any TensorFlow tutorials. Feel free to take a crack at it and open a PR! We can help review and provide feedback.

[2018-01-30 16:01] lilleswing commented on #1055
The MIME type of "text/css" is being lost on _static/bootstrap_sphinx.css accross the proxy we have.  This is causing bootstrap_sphinx.css to be read as a text file and not loading in the @import on its first line.

[2018-01-30 19:56] lilleswing opened #1060 "SCScore: Synthetic Complexity"
http://pubs.acs.org/doi/abs/10.1021/acs.jcim.7b00622

It is a fairly easy model to implement, and can be used to ensure de-novo designs are synthetically tractable.

@patrickhop

[2018-01-30 19:57] lilleswing commented on #1060
We could even ship a pre-trained model for this one.

[2018-01-30 20:20] lilleswing commented on #1060
https://github.com/connorcoley/scscore

[2018-01-30 22:44] peastman commented on #1038
Here's the latest problem I've run into.  I'm trying to convert MultiTaskRegressor.  It expects the weights to be an array of shape (n_samples, n_tasks).  The loss gets computed over `(y_true-y_pred)*weights`.  But as far as I can tell, Keras simply doesn't support losses like that.  It requires the weights to be a 1D array of per-sample weights.  You can't even do it by defining a custom loss fun

[2018-01-30 23:07] rbharath commented on #1060
+1. This seems like a great addition.

[2018-01-30 23:20] rbharath commented on #1038
This one sounds like a genuine limitation of Keras. Perhaps a good target for a pull request into Keras itself?

For getting off the ground, introducing a KerasModel class as an intermediary to handle ugliness may be the right answer after all.

[2018-01-30 23:32] peastman commented on #1038
I'll try asking on the Keras discussion group.

[2018-01-30 23:55] lilleswing commented on #1038
@peastman I believe keras would expect you to have a list of outputs (1 per task).  Then you can use a list of lists as your sample weights.

[2018-01-31 00:05] peastman commented on #1038
That's how the multitask models used to work, before I converted them to TensorGraph.  They were really really slow.  Combining all the outputs into a single array made training a lot faster.

[2018-01-31 01:11] patrickhop commented on #1060
Good find @lilleswing. This would be an awesome addition.

[2018-02-01 17:08] redBirdTx opened #1062 "Question on windows support"
Hi, I'm new to deepChem. Just wonder if there is a deepchem package for windows? I tried using conda install, however I am getting a packageNotFoundError.
Anyway getting around with this? I'd appreciate any comment on this.Thanks

[2018-02-02 01:32] rbharath commented on #1062
Unfortunately, no Windows support currently. I'd be very interested in seeing this happen though if someone wants to take on the challenge.

[2018-02-02 21:37] #1052 closed

[2018-02-03 23:33] pkvreddy commented on #1019
Installation failing. Any tips?
![image](https://user-images.githubusercontent.com/16655273/35772618-86d71c14-08f7-11e8-8998-62468c877b67.png)

[2018-02-04 10:56] selcukorkmaz opened #1064 "PCBA dataset, outcome variable?"
I have downloaded "pcba.csv" dataset to run some deep learning examples on it. However, I could not find the outcome variable to perform the classification. I wonder which variable is the outcome variable.

[2018-02-04 15:31] selcukorkmaz opened #1065 "ModuleNotFoundError: No module named 'rdkit'"
I could not import rdkit package.

I followed the instruction from [http://www.rdkit.org/docs/Install.html](url)
[code]
I also tried to install it through `brew`, using the instructions from [https://github.com/rdkit/homebrew-rdkit](url).

`brew install rdkit`

This actually installed the rdkit. However, I keep getting the following error in python 3.6

`>>> from deepchem.molnet import load_pcba`

[2018-02-05 01:12] miaecle commented on #1064
@selcukorkmaz Welcome! For PCBA, this is a comprehensive dataset including 128 assays for over 400k molecules. In the file `pcba.csv`, there should be 130 columns, in which the first 128 columns represent the outcomes for these essays. In other word, each column contains labels for an individual task(essay). The last 2 columns are identifiers for molecules, we typically use smiles to represent and

[2018-02-05 16:04] lilleswing opened #1066 "How To Cite DeepChem"
How does one cite DeepChem?  We never published a paper specifically on DeepChem, just papers doing work using DeepChem.  Which one to we point people to for citing implementations that we do that aren't really in any publications.

[2018-02-05 16:08] lilleswing commented on #1065
@selcukorkmaz your first statement
[code]
This installs rdkit in an environment called "my-rdkit-env".  Your code example is using no the default conda environment, not any environment that you have installed packages into.

This will create a new conda environment "deepchem" and install deepchem with rdkit in it.

[code]

[2018-02-05 17:20] rbharath commented on #1066
I think it's time for us to put together an Arxiv paper describing DeepChem. Would be a good to start gathering citations for the project and would also be a good spot for us to discuss design considerations.

I'll start putting together a skeleton this week.

[2018-02-05 19:44] rbharath opened #1069 "Versioned versions of docs"
Many serious projects maintain stable versions of docs for each major version release. I think we should do this for DeepChem, especially since 2.0 and subsequent releases will have major API changes and many of our users may not upgrade quickly.

[2018-02-05 19:50] rbharath commented on #1069
Note that this would also ensure we avoid issues like #1067 in the future, since the stable versions of the docs won't be broken by new builds.

[2018-02-05 21:41] lilleswing commented on #1066
I guess that means short answer for now is don't cite us?

[2018-02-05 21:49] #1058 closed

[2018-02-05 21:52] rbharath commented on #1066
Probably short answer is to cite MoleculeNet paper while we work on the actual DeepChem paper.

[2018-02-05 22:07] miaecle commented on #1066
In MoleculeNet paper I just cited the github page, does that work?

[2018-02-05 22:38] lilleswing commented on #1069
yeah we can start with the 2.0 cut next week.

[2018-02-05 23:55] rbharath commented on #1066
@miaecle Yeah, I think that should be fine.

[2018-02-06 00:10] pkvreddy opened #1070 "Installation: git clone- error: No module named 'simdna'"
Followed installation steps to git clone the repository and got the below error. Any pointers?
![image](https://user-images.githubusercontent.com/16655273/35835284-abb82968-0a8e-11e8-9e08-272d7bc6b6ab.png)

[2018-02-06 14:22] lilleswing commented on #1070
Well the quickest way to solve this would be
[code]

But can you tell me your O.S. and githash so I can see why it happened? simdna should of been installed with the [install script](https://github.com/deepchem/deepchem/blob/master/scripts/install_deepchem_conda.sh#L46).

[code]

[2018-02-06 18:24] pkvreddy commented on #1070
Suggestions please
![image](https://user-images.githubusercontent.com/16655273/35873750-864c290e-0b1f-11e8-822a-27b16bb3e6f7.png)
![image](https://user-images.githubusercontent.com/16655273/35873795-a25c8e40-0b1f-11e8-8d7f-59263c521bfe.png)

[2018-02-06 18:26] pkvreddy commented on #1070
Suggestions please
![image](https://user-images.githubusercontent.com/16655273/35876796-3dd890fa-0b28-11e8-9ede-ce6213e919d0.png)

[2018-02-06 18:35] lilleswing commented on #1070
It seems your machine is behind a firewall which does not allow you to connect to continuum.  Lots of our dependencies are hosted there.
That file does exist and is accessible on the internet.
[code]

We do not support offline installs at this time.

[2018-02-06 18:38] lilleswing opened #1071 "LIME for model explanation"
https://arxiv.org/pdf/1602.04938.pdf

Can we apply this to our Graph Based algorithms without solving the Graph Isomorphism?

Can we hook this up to our fingerprint and text based models?

https://github.com/marcotcr/lime/issues

[2018-02-06 18:41] pkvreddy commented on #1070
ok thank you!

[2018-02-06 18:41] #1070 closed

[2018-02-06 19:03] dmoccia opened #1073 "Featurizer fails silently when SMILES string is empty"
Not really a bug on your side but I encountered an issue while loading a dataset paired with featurization and thought you may want to address this at some point.

I ran the following code in jupyter notebook environment

[code]

which in general works quite well (and it is very fast!!).  However when SMILES is empty in your dataset the Kernel dies silently and there does not appear to be any erro

[2018-02-06 21:57] rbharath opened #1074 "Adding past contributors to DeepChem org"
As suggested in #1072, we will need to start adding past contributors as members of the DeepChem github organization.

[2018-02-06 22:12] rbharath opened #1075 "Minimizing use of dc.data.Dataset"
One of the biggest hurdles for newcomers to the project is dealing with `dc.data.Dataset`. This object adds an extra layer of abstraction to working with datasets that isn't found in other popular python open source projects. I think this extra step puts off beginners who're looking for a quick entrypoint into the library since they have to learn an unfamiliar API to use our models.

I propose tha

[2018-02-06 22:18] rbharath opened #1076 "DeepChem extensibility issues"
I've heard from multiple teams that while they've found DeepChem very useful, they've often had to significantly modify the library in order to make use of it. This process usually takes them far enough from DeepChem's core structure that it's not even clear how they could merge their changes back into the main library without breaking large amounts of code.

It's worth asking why multiple users h

[2018-02-06 22:34] peastman commented on #1076
Can you provide some concrete examples of things people couldn't do without modifying it?

[2018-02-06 22:44] rbharath commented on #1076
Have contacted one of the teams to ask them to comment here if willing.

@evanfeinberg Would love your thoughts on this thread as well.

[2018-02-06 22:58] ankitvgupta commented on #1076
@rbharath Thanks so much for the great library - we are huge fans!

We are building some production systems that involve using tf.Estimator, along with a few tf.Keras-based models for one-off cases here and there. As a result, incorporating TensorGraph layers seemed like reinventing the wheel a little bit. I think that your proposal for having more interoperability between TensorGraph and Keras, o

[2018-02-07 15:53] lilleswing commented on #1073
Looks like you found a bug in rdkit!
[code]
throws a segfault on 0 atom molecules.

We have to add a 0 atom molecule check here.
https://github.com/deepchem/deepchem/blob/master/deepchem/data/data_loader.py#L72
and probably log something to warn the user.

Pull Requests Welcome!  If you have any other issues with the PR just ping this ticket and I can help out.

[2018-02-07 16:00] lilleswing commented on #1073
I brought up the issue with the rdkit team.
https://github.com/rdkit/rdkit/issues/1735

[2018-02-07 17:27] dmoccia commented on #1073
Thanks @lilleswing, I will get setup so I can initiate PR.  You guys have done a lot of nice work!

[2018-02-07 18:03] dmoccia commented on #1075
@rbharath I can concur as a very new user I was scratching my head a little bit trying to get up and running with **Dataset**, in particular where the "w" input and its relation to the Transformers.  I think I spent time digging through the Gitter lobby looking for some explanation of how this was being initiated and eventually tracked down the use of the BalancingTransformer.  I think adding a ge

[2018-02-07 19:49] rbharath commented on #1076
@ankitvgupta Thanks for the detailed feedback! I'd love to hear your thoughts on tf.Estimator vs. tf.Keras. Are tf.Keras models interoperable with tf.Estimator? Do you think there would be gain from making DeepChem interoperate well with tf.Estimator?

[2018-02-07 19:53] rbharath commented on #1075
@dmoccia Thanks for the feedback! Yes, I agree that some additional docs would be useful.

The vision we're moving towards with all the redesign work is to make it so that experienced Python programmers should be able to use DeepChem almost instinctively since everything just "works." Some good introductory walkthroughs would really help here.

[2018-02-07 20:16] ankitvgupta commented on #1076
@rbharath Currently, the story around the intersection of tf.Keras and tf.Estimator is a little muddled. Estimator is essentially a wrapper around the vanilla Tensorflow which allows for convenient experimentation, as well as distributed multi-node training. It also integrates very closely with the tf.data.Dataset API, which has given us various performance benefits.

tf.Keras supposedly works pre

[2018-02-08 05:18] xiongzhp opened #1078 "The chirality of atom is not encoded into ConvMolFeaturizer"
I see from the paper that chiral type has been encoded in atom features, but I just cannot find any code like 'GetChiralTag' related to chirality in ConvMolFeaturizer or WeaveFeaturizer, even not in the whole deepchem repo.
https://github.com/deepchem/deepchem/blob/d023484497feb0964ad319352d136c0e605b87b8/deepchem/feat/graph_features.py#L114

[2018-02-08 07:32] yanyuna opened #1079 "MultiTaskClassifier"
Hi all,
When I follow the tutorials, I got two erros:

1. First Error:

_**home/yanyuna/anaconda2/lib/python2.7/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that

[2018-02-08 20:03] simonfqy commented on #681
Hi all, have you made any progress in the GPU parallel processing? I am using WeaveTensorGraph and I could use 2 to 4 GPUs in our lab, but it seems only 1 GPU is actively working (with memory fully occupied at the same time) while all other GPUs have their memory fully occupied but not doing any work. I checked the issues on GitHub and it seems that this problem persists.

[2018-02-09 18:03] peastman commented on #1075
Making it even easier to use straight numpy arrays is a good goal, but it's only practical for small datasets.  For larger ones Dataset is an important tool.  The solution is to add *more* examples and tutorials showing how to use it, not to remove all mention of it.

[2018-02-09 22:28] rbharath commented on #681
Unfortunately, this looks to be a major undertaking. We are working on better interoperability between TensorGraph and raw TensorFlow, so you should be eventually able to use TensorFlow's distributed training support with DeepChem layers. Might take us a few months though since there are a lot of complicated inter-op questions to work out.

[2018-02-09 22:44] rbharath commented on #1079
The `DeprecationWarning` is harmless and can be ignored for now. We should transition over to the new API soon though.

Which version of DeepChem do you have installed? https://github.com/deepchem/deepchem/blob/master/deepchem/models/__init__.py#L14 has the relevant import statement.

[2018-02-10 20:30] simonfqy commented on #681
@rbharath Thanks for your reply. While your team is still working on the issue, I hope that you keep as much backward compatibility as possible. Currently I am using the deepchem library and inheriting lots of classes from it to create customized classes and member functions. If you go through some major upgrades and discard too much existing code, I am sure my code will break and it will take me

[2018-02-10 20:50] rbharath commented on #681
@simonfqy Yes, agreed that backwards compatibility is important. We're moving carefully to make sure that we avoid breaking existing code to the extent possible.

[2018-02-13 22:22] rbharath opened #1087 "Removing test submodules from generated docs"
Looking at https://deepchem.io/docs/deepchem.html, many of the generated docs pages are for tests (for example, https://deepchem.io/docs/deepchem.feat.tests.html#module-deepchem.feat.tests.test_atomic_coordinates). These tests aren't really part of the public API for deepchem and shouldn't be placed prominently on the docs page. Is there a a good way we can remove these submodules from generated d

[2018-02-14 14:53] dmoccia commented on #1087
I do not have a ton of experience with Sphinx but looking around I think given that the Tests are not in one directory and are distributed throughout the framework (for instance models->tests, metrics->tests) you could annotate the exclude_patterns flag in the config.py file to explicitly ignore source directories.  Am I correct that tests are always kept in a "tests" directory?  If someone could

[2018-02-14 14:56] lilleswing commented on #1087
https://github.com/deepchem/deepchem/blob/master/docs/source/conf.py

[2018-02-14 14:58] lilleswing commented on #1087
for getting started I would look at the script in https://github.com/deepchem/deepchem/blob/master/devtools/jenkins/build_and_upload_docs.sh

This is the script we use to build the docs and the website.  You can test if your work is successful by looking at the website generated in your local tree.

[code]

[2018-02-14 14:59] #1016 closed

[2018-02-14 15:00] lilleswing commented on #1017
As we have been accepted and have a wiki post about it I am closing this issue.  I'm going through our issue backlog now and marking good candidates for first time contributions for the applicants.

[2018-02-14 15:01] #960 closed

[2018-02-14 15:02] lilleswing commented on #944
The new TensorflowMultiTaskIRVClassifier now accepts the configproto keyword.

[2018-02-14 15:02] dmoccia commented on #1087
Great! Thank you!

[2018-02-14 15:02] #944 closed

[2018-02-14 15:02] #906 closed

[2018-02-14 15:03] #877 closed

[2018-02-14 15:03] lilleswing commented on #867
ping @zealseeker @patrickhop

[2018-02-14 15:04] lilleswing commented on #867
p.s. I just collected some data for hERG by cleaning up Chembl.  I'm going to attempt to get approval to open source it.

~ 4500 points

[2018-02-14 15:05] #846 closed

[2018-02-14 15:06] #841 closed

[2018-02-14 15:06] #808 closed

[2018-02-14 15:09] #733 closed

[2018-02-14 15:11] #605 closed

[2018-02-14 15:12] #604 closed

[2018-02-14 18:24] patrickhop commented on #617
would love to see this added

[2018-02-14 18:58] 1particle commented on #902
Looking into the examples and documentation today, I noticed that classes such as nn.GraphConv are absent from the documentation, but  tensorgraph.layers.GraphConv is documented. My first impression was that the nn module is stale and TensorGraph is new, but then seeing this thread gave me the opposite impression. Can someone please elaborate?

[2018-02-14 19:27] #1017 closed

[2018-02-14 20:18] lilleswing opened #1089 "Replace Print Statements With Log Statements"
Use the python provided logging facilities instead of print statements.

It is pretty rude we just spam stdout.

[2018-02-14 22:15] rbharath commented on #1078
@xiongzhp Going to close since we just merged your PR #1080. Thanks for the contribution!

[2018-02-14 22:15] #1078 closed

[2018-02-14 22:36] rbharath commented on #902
@1particle Good catch. I've opened https://github.com/deepchem/deepchem/pull/1090 to move `deepchem.nn` over to contrib. As you suspect, there's only stale code in there now.

I'm also less enthusiastic about moving `deepchem.models.tensorgraph.layers` to `deechem.nn.layers`. I think this is a relatively low yield change that will cause a lot of code breakage. I'm inclined to not bother at this po

[2018-02-14 23:55] peastman commented on #1039
tf.data is very flexible but also awkward to use.  There's nothing nearly as simple as just passing a Dataset object to a model.  Instead, every time you use a dataset you have to write an "input function" that's responsible for gathering up the data and packaging it in whatever way is required.

I think this feature request involves two pieces:

1. Allow a DeepChem Dataset to be used with models

[2018-02-16 23:17] peastman commented on #1076
@ankitvgupta One possibility I'm looking into right now is adding a `TensorGraph.make_estimator()` method that would create an Estimator from any model, similar to how the Keras `model_to_estimator()` function works.  Does that sound like a good approach to you, or do you think something else would be better?  That would address the use case of integrating with tools designed to work with estimato

[2018-02-17 02:56] simonfqy opened #1092 "Do the batch normalization functions implemented differentiate between training and evaluation?"
**Note that some questions in this post are not correctly raised. I deleted those from my post below.**
In the script `deepchem/models/tensorgraph/layers.py`, there are two classes for batch normalization, `BatchNorm` and `BatchNormalization`, which you can see from here.
 https://github.com/deepchem/deepchem/blob/6f86377d9bff4541ff50ec014743d840a3e230f4/deepchem/models/tensorgraph/layers.py#L2870

[2018-02-17 03:28] simonfqy opened #1093 "Why training by default starts from scratch, while evaluation/prediction does not?"
This could be more of a TensorFlow question. Please don't laugh at me if it is too simple.

In the `deepchem/models/tensorgraph/tensor_graph.py` script, in the documentation of the `fit_generator()` function, it says this for the `restore` parameter of the function:

      if True, restore the model from the most recent checkpoint and continue training
      from there.  If False, retrain the mode

[2018-02-17 04:09] simonfqy opened #1094 "Why my restoring does not work as expected?"
To implement early stopping, I have expanded the `fit()` function in `deepchem/models/tensorgraph/tensor_graph.py` in my customized implementation. The original code can be found here: https://github.com/deepchem/deepchem/blob/6f86377d9bff4541ff50ec014743d840a3e230f4/deepchem/models/tensorgraph/tensor_graph.py#L112

Here is a very simplified version of what I wrote inside the body of the function

[2018-02-17 17:12] rbharath commented on #902
I'm going to close this PR since I think it's not a priority development goal for now. May re-open at a future date as needed.

[2018-02-17 17:12] #902 closed

[2018-02-17 17:13] rbharath commented on #498
This discussion is pretty old at this point so closing the issue.

[2018-02-17 17:13] #498 closed

[2018-02-17 17:33] rbharath opened #1095 "Change existing TensorGraph layers to match Keras2 API"
We've had a number of technical discussions about ways we can improve `TensorGraph` integration with mainstream TensorFlow. (https://github.com/deepchem/deepchem/issues/1038, https://github.com/deepchem/deepchem/issues/1076, https://github.com/deepchem/deepchem/issues/988). These proposals inevitably run into some serious technical barriers. The main issue is that `TensorGraph` supports a lot of c

[2018-02-17 18:08] miaecle opened #1096 "Unable to save model with submodels"
Following #1086 , we are not able to call `save` function for tensorgraph models with submodels, which will affect all GANs, progressive network, etc. Still actively looking for solutions.

[2018-02-17 22:56] rbharath opened #1097 "TensorGraph implementation of Junction Tree Variational Autoencoders"
There's been a lot of progress in generating graph structures from deep networks. The latest paper, "Junction Tree Variational Autoencoders" devises a clever approach which treats a molecular graph as a junction tree of subgraphs. This paper appears to be a major qualitative advance which always generates valid subgraphs.

I'd love to see an implementation in DeepChem. In addition to being useful,

[2018-02-17 22:59] rbharath commented on #251
@dmoccia Great to hear you're thinking of taking a crack at it! Here are some of my thoughts.

1. I think focusing on data parallelism is probably best. There have a been a few attempts at model parallelism, but I'm not aware of any really interesting results.
2. I'd suggest first optimizing for the case of multiple GPUs on the same server. This is the simplest distributed setup and many teams are

[2018-02-17 23:34] peastman commented on #1095
I'm not convinced this is a good idea.  If we want to use Keras, there's already a full implementation in tf.keras.  Creating another complete implementation of the API would be a huge task, and wouldn't really benefit anyone.  And any faithful implementation of the Keras API would have exactly the same problems we ran into in #1038.  So instead we would end up with a halfhearted imitation of Kera

[2018-02-18 00:07] rbharath commented on #1095
These are good points. We don't want to take on unnecessary development effort given that our development team is much smaller than the development teams for Keras/TensorFlow.

At the same time, I think we should at least implement part 1 (*Changing TensorGraph layers to match Keras2 specification*). We already have problems with duplicate layers (https://github.com/deepchem/deepchem/issues/1092#i

[2018-02-18 10:44] ankitvgupta commented on #1076
@peastman That seems like a reasonable starting point. The fundamental question that I think is more important is whether building that functionality is more useful in the long-term than building the Keras integration that @rbharath has discussed elsewhere. Intuitively speaking, I am generally a bit concerned about maintaining TensorGraph over the long term when packages like Keras exist and can d

[2018-02-19 07:07] pvskand opened #1100 "Link in README.md broken"
The link of `Direct from Source` in the installation section is broken.
Can't simply running `python setup.py install` work?

[2018-02-19 14:20] lilleswing commented on #1097
I'm not sure if this is a good first contribution as the paper is very complex IMO.

I started a different repo a week ago-ish for dev on the project.
https://github.com/lilleswing/jt-vae

So far I haven't even been able to do the junction tree decomposition to get the right number of fragments.  There are questions about how the author handles valences and attachment points to get the 780 number.

[2018-02-19 14:22] lilleswing commented on #1097
Also I think the Junction Tree might have qsar reprocussions as a featurizer.  The paper shows how the latent space can contain more chemical information than previous latent spaces for molecules.

[2018-02-19 14:35] lilleswing commented on #1100
It requires a bunch of dependencies (all of the ones in scripts/install_deepchem_conda.sh)

We should remove the link altogether from the readme (as using a conda environment is actually installing from source)

[2018-02-19 14:50] lilleswing commented on #1093
This is a documentation error.  When restore=False we simply do not restore the model.

TensorgGraph is a two step process
1) Construct the Graph
2) Build the Graph

Constructing the graph is done via TensorGraph.add_output(), TensorGraph.set_loss().

Before fitting we have to "build" the graph via TensorGraph.build().  This puts all of the ops in the Graph into a Tensorflow Session.  build() also

[2018-02-19 16:33] lilleswing commented on #1097
http://karlleswing.com/misc/dev_tree_decomp.html

[2018-02-19 20:19] miaecle commented on #1097
@lilleswing  Very interesting! My feeling is that the decomposition is not really chemistry based, but rather PGM based. A general tool used to decompose bayesian network and build junction tree might be helpful. Also this might be much more doable using pytorch, the tree decoder seems real complicated.

[2018-02-19 20:23] miaecle commented on #1092
@simonfqy Good catch! I think you could add `self._training_placeholder` to the  `in_layers` parameter, then port it into the tf batch normalization function.

[2018-02-19 20:45] lilleswing commented on #1097
It basically decomposes into 4 parts.
1. Junction Tree Encoder
* This uses the algorithm in the synopses to decompose a molecule into a tree.  Then it uses a modified GRU and MPNN to an latent space of 28.  I can't figure out valences to get a language of 780.  When you take into account valences you get ~2k.  When you replace all aromatic bonds with single bonds you get ~ 260.
2. Graph Encoder
*

[2018-02-19 20:47] lilleswing commented on #1097
@miaecle +1 to pytorch -- I think part of the magic of differentiability is solved through teacher forcing and computing things in cpu rdkit land.  This is heavily helped by pytorch's dynamic graph.

[2018-02-19 21:04] rbharath commented on #1097
@lilleswing Good point about this not being beginner friendly :). Agree that this paper is fascinating though. I think it would be big value add for us to get something like this integrated into DeepChem.

@miaecle @lilleswing Great points about PyTorch. This gets to the root of our longstanding TensorFlow-PyTorch debates. Although we stick with TensorFlow for software engineering needs, PyTorch j

[2018-02-19 21:05] rbharath commented on #1097
PS: I think this paper would be a great topic for the next steering committee meeting

[2018-02-19 21:11] lilleswing commented on #1097
[single_bond_only.csv.txt](https://github.com/deepchem/deepchem/files/1738171/single_bond_only.csv.txt)

Although I do find it interesting/cool using their decomposition and then removing aromaticity that there are only ~260 building blocks for 250k molecules.

[2018-02-19 21:21] rbharath opened #1103 "Move dc.dock out of core library"
Compared with the other core submodules of `deepchem`, `dc.dock` is a little anomalous. Most of the other submodules (`dc.feat`, `dc.models`, `dc.hyper` etc.) have to do with providing core machine learning functionality. Since this is DeepChem, the functionality in these modules is geared towards scientific applications, but everything is written in a general manner that would allow for use in ar

[2018-02-19 22:32] simonfqy commented on #1092
@miaecle Thanks for your reply.
Currently the `self._training_placeholder` is used as input to `layer.create_tensor()` in the `build()` function of `TensorGraph` class, as in this link:
https://github.com/deepchem/deepchem/blob/6f86377d9bff4541ff50ec014743d840a3e230f4/deepchem/models/tensorgraph/tensor_graph.py#L473

Are you suggesting that I can simply change that line to
[code]
and also change t

[2018-02-20 02:57] simonfqy commented on #1092
@miaecle Thanks for your suggestions. This would make the code dirtier, but for now it seems to be the best solution. I will do it right away. Do you know why the new line of code I introduced in my first post, i.e., `self.training = tf.equal(tf.constant(1.0, dtype=tf.float32), kwargs['training'])` does not work?

[2018-02-20 03:16] pvskand commented on #1100
Merged via [PR-#12](https://github.com/deepchem/deepchem/pull/1101), hence closing this issue,

[2018-02-20 03:16] #1100 closed

[2018-02-20 13:17] pvskand commented on #1079
@rbharath, even I am getting this error when I install `deepchem` using easy install via conda `conda install -c deepchem -c rdkit -c conda-forge -c omnia deepchem=1.3.1 python=2.7`. I have checked the deepchem package in conda and there is no `fcnet.py` file in `deepchem/models/tensorgraph`. What could be the reason?

[2018-02-20 17:25] lilleswing commented on #1079
fcnet was moved after 1.3.1 from models.tensorflow_models.fcnet after 1.3.1.
It also used to be called TensorGraphMultiTaskClassifier.

Hopefully these issues will get better when we post docs from the stable cut version as well as master with the next cut (2.0.0).

[2018-02-20 17:43] pvskand commented on #1079
Okay so installing via the `scripts/install_deepchem_conda.sh` would install the latest one right?

[2018-02-20 17:44] lilleswing commented on #1079
yes

[2018-02-20 18:14] peastman commented on #1092
The placeholder is already passed to `create_tensor()` under the name `training`.  You don't need to alter the layer's inputs.  Take a look at the Dropout class for an example of how to use it: https://github.com/deepchem/deepchem/blob/master/deepchem/models/tensorgraph/layers.py#L3422-L3429

[2018-02-20 18:40] peastman commented on #1093
We changed some of this behavior a while back, and it looks like that docstring didn't get updated at the time.  Here's how it actually works.

1. When you first create a model, all its variables get initialized based on whatever initializers the layers specify.  (Actually this gets done in `build()`, which happens the first time you call any method that requires the graph.)

2. By default, `fit()

[2018-02-20 19:04] peastman commented on #1076
I would love to be able to switch over to Keras.  Unfortunately, my investigations have run into some serious roadblocks (see https://github.com/deepchem/deepchem/issues/1038).  For example, Keras has built in limitations that make it incapable of handling multitask networks without hacks that would lead to a really ugly API.  It also is incompatible with the metrics in DeepChem (most of which are

[2018-02-20 23:04] peastman commented on #1095
Wouldn't it be better to change the TensorGraph layers to match the tf.layers specification?  If that's what we're standardizing on.

[2018-02-20 23:07] rbharath commented on #1095
I think the Keras2 API spec has a lot broader adoption than `tf.layer`. Matching Keras2 will let us move models back and forth between Keras and DeepChem easily.

[2018-02-21 00:12] miaecle commented on #1092
@peastman Thanks for the clarification!

[2018-02-21 22:51] simonfqy commented on #1094
@lilleswing @rbharath Anyone of you can help me figure it out? I have further simplified the code above. Thanks!

[2018-02-21 22:52] simonfqy commented on #1093
@peastman Thanks for your reply. It seems that it is related to #1094. Can you give a look at it? Thanks.

[2018-02-22 01:39] peastman commented on #1076
I've posted a preliminary implementation of this API at #1106.

[2018-02-22 16:25] lilleswing commented on #610
Closing as we have not seen the warning recently and we can no longer find the cross_validation import.

[2018-02-22 16:25] #610 closed

[2018-02-22 16:36] pvskand commented on #1079
@lilleswing, forgot to update : installing via `scripts/install_deepchem_conda.sh` worked. So basically easy install via conda installs the latest stable version and installing from the bash script installs from the source, shouldn't we mention it in the `README.md` regarding this?

[2018-02-22 16:49] lilleswing commented on #1079
Yes it seems like it is not clear enough in the README.md currently.  A PR for this would be lovely.

[2018-02-22 18:04] pvskand commented on #990
I guess this issue can be closed as in the recent PR #1104 by @abster12 has covered `splitters` is a very good way.

[2018-02-22 22:06] simonfqy commented on #1092
I have tried fixing the problem in #1108. From my very limited experiments, the modified `BatchNorm()` works okay, but not as stable as `BatchNormalization()`. I also tried fixing the division-by-zero problem associated with it. Not quite sure whether my way of handling it is correct or not. Please take a look, thanks!

[2018-02-22 23:52] rbharath commented on #990
Good point. Will close.

[2018-02-22 23:52] #990 closed

[2018-02-22 23:55] rbharath commented on #1094
@simonfqy I believe you're trying to implement early stopping, but are running into issues loading the correct checkpoint?

Could you put together a minimal failing example? In general, it's hard to read a large mass of code and debug the issue.

[2018-02-23 00:02] simonfqy commented on #1094
@rbharath I have just further simplified it. Perhaps this is the best I can do, further simplifications may result in losing some important information.

[2018-02-23 18:37] nitinprakash96 commented on #1089
Hi @lilleswing,
could you give a little info on where to change these statements as the print statements could be coming from multiple files.

[2018-02-23 19:08] pvskand commented on #875
@lilleswing Is there an example for loading data via `deepchem.data.DiskDataset`?

[2018-02-23 19:32] lilleswing opened #1109 "Remove examples which use dc.nn"
e.x.
https://github.com/deepchem/deepchem/blob/4050c5273172dbbc9c914d5351e4a4efff6c96bc/examples/adme/run_benchmarks.py

[2018-02-23 19:37] lilleswing commented on #1109
It is already updated on master :( sorry for opening.

[2018-02-23 19:37] #1109 closed

[2018-02-23 19:59] lilleswing commented on #1089
yes print statements come from all through the deepchem source code.

We should not have ANY print() statements inside deepchem source code.

We should replace all of them with logger.info statements.

[2018-02-23 20:00] lilleswing commented on #1089
e.x.
https://fangpenlin.com/posts/2012/08/26/good-logging-practice-in-python/

[2018-02-23 20:01] lilleswing commented on #1089
Note that a P.R. for this doesn't have to solve every issue, we can work on it gradually if the first PR sets standards that everyone can follow.

[2018-02-23 20:39] rbharath opened #1110 "DeepChem Dataset Tutorial"
There have been a lot of questions recently about DeepChem datasets. This highlights the fact that we don't have a good introductory reference tutorial for datasets. I think it would be a great idea to put together a tutorial for `dc.data.Dataset`. This tutorial could cover:

- How to wrap `X, y, z` arrays as `NumpyDataset` objects
- How to extract `X, y, z` arrays from `Dataset` objects
- How to

[2018-02-23 20:41] rbharath commented on #875
@pvskand I don't think there's a good tutorial yet, but you should be able to spot some examples of loading via `DiskDataset` in `dc.molnet`. I've also opened https://github.com/deepchem/deepchem/issues/1110 requesting the construction of a full Dataset tutorial.

[2018-02-24 00:44] leeyjjoel commented on #1089
Hi, @nitinprakash96  and @lilleswing

Just thought I should let you know. I've submitted a PR which replaces the print statements for deepchem/data and deepchem/dock folders. I'm currently waiting for feedback from the team to ascertain I'm making acceptable changes. @nitinprakash96 perhaps we could work together on this issue?Doing so would certainly speed up the process.

[2018-02-24 03:05] rbharath commented on #1075
We discussed this at a steering committee meeting a couple weeks back (http://deepchem.blogspot.com/2018/02/steering-committee-notes.html). We've decided to just add more documentation and tutorials for `Dataset` (#1110) since there's some critical functionality that's not easy to replace with other tools.

[2018-02-24 03:05] #1075 closed

[2018-02-24 08:09] nitinprakash96 commented on #1089
@leeyjjoel
Please make sure that you let the contributor know before opening a PR or else the effort and time gets in vain.

[2018-02-24 09:06] leeyjjoel commented on #1110
Hi @rbharath, can I take this issue?

[2018-02-24 09:09] leeyjjoel commented on #1089
Hi,

@nitinprakash96 my apologies. Wasn’t aware that you had started working on this issue. Was under the impression that you were clarifying about the nature of the task

[2018-02-24 10:51] leeyjjoel commented on #1062
Hi @rbharath, I think I'd be able to provide windows support for deepchem. Could I have this issue too?

Joel

[2018-02-24 17:52] pvskand commented on #1110
@rbharath 1) I think having 2 tutorials : one for `NumpyDataset` and another for `DiskDataset` is a better option since there is a lot to explain in detail in DiskDataset expecially. We can club other Dataset Methods in the NumpyDataset tutorial.
2) A query about the data to be used in NumpyDataset. I initially thought to load a random numpy matrix (say of 10x10) for the tutorial but later thought

[2018-02-24 19:02] rbharath commented on #1089
@leeyjjoel @nitinprakash96 I'm excited that you're both working hard to contribute to DeepChem. We're a team, tied together by our mutual interest in advancing the state of deep learning in science. As a result, we give collegiality and teamwork high importance. Make sure to give benefit of doubt to other team members.

We'll discuss good protocols for making sure effort isn't wasted if two contri

[2018-02-24 20:12] rbharath commented on #1062
@leeyjjoel I'm excited to hear you're interested in taking on this challenge. Could you propose a potential implementation path in this thread? If that sounds technically feasible, we'd welcome a contributed PR

[2018-02-24 20:20] rbharath commented on #1110
@pvskand I think two tutorials, one for `DiskDataset` and another for `NumpyDataset` sounds like a good idea. I think using a random matrix for the `NumpyDataset` tutorial is probably fine. The goal is mainly to show off the API. But, if you think using MNIST would really make the tutorial work better, that would be good as well.

@leeyjjoel @pvskand We'll figure out good protocols for splitting u

[2018-02-24 20:25] pvskand commented on #1110
@rbharath, yes even i was thinking of that to split up the issue and collaborate. I am happy to take up NumpyDataset. Will send a PR soon for it.
And yes, I personally believe that using the MNIST example along with generating  random matrix would be a better tutorial. Although both would be similar but would make it clear enough for a newbie.

[2018-02-24 20:27] rbharath commented on #1110
@pvskand Great, that sounds like a good plan. Looking forward to your PR!

[2018-02-24 20:52] rbharath opened #1114 "Tensor Field Networks Implementation"
https://arxiv.org/pdf/1802.08219.pdf

This paper provides some foundational infrastructure for learning on 3D point-cloud data. The team applies it to a number of foundational learning tasks, such as learning gravitational accelerations and inertia. They also apply to molecular structures to predict missing atoms. It would be great to have an implementation in DeepChem

The implementation does loo

[2018-02-25 00:30] ankitvgupta opened #1115 "Feature Request: Having a split=None option for load_function"
Is it possible to add the ability to pass split=None to the load_function datasets? It would be nice to just call, for example, `load_delaney(featurizer="ECFP", split=None)`, and have the function return the entire dataset as opposed to the train/valid/test split one.

[2018-02-25 04:58] rbharath commented on #1115
Yes, this is a great idea! We should have thought about this earlier. I've marked this as a good first contribution for newcomers.

[2018-02-25 04:59] rbharath commented on #1097
Turns out the team that wrote this paper has already open-sourced a PyTorch implementation! https://github.com/wengong-jin/icml18-jtnn

[2018-02-25 05:00] rbharath commented on #1114
CC @skearnes: Would love your thoughts (or any of the team's thoughts) on what it would take to get a good implementation built. We'd love to make sure your work reaches the widest audience possible :)

[2018-02-25 05:08] skearnes commented on #1114
There's a basic implementation at https://github.com/tensorfieldnetworks/tensorfieldnetworks; probably the best place to start. It would be great if the broader deepchem audience wanted to work with this. I'd reach out to Nate and/or Tess for more on that release.

[2018-02-25 05:13] rbharath commented on #1114
@skearnes Wow, thanks for the quick response and the pointer! Are Nate or Tess on github? If not, will reach out over email to coordinate.

[2018-02-25 05:58] rbharath commented on #1095
I've changed the title of issue to match the discussion. If there are no objections, I think we can open this issue out to contributions.

[2018-02-25 05:59] rbharath commented on #1064
Closing this issue since I think the question was addressed.

[2018-02-25 05:59] #1064 closed

[2018-02-25 06:01] rbharath commented on #963
I'm closing this issue since I think we're about ready to cut 2.0 and have finished the set of needed changes.

[2018-02-25 06:01] #963 closed

[2018-02-25 06:03] rbharath commented on #915
Turns out that eager execution will be included in TensorFlow 1.6. We should start experimenting once it's out. I think will really help us with more sophisticated models such as the Junction Tree Variational Autoencoders (#1097)

[2018-02-25 06:03] rbharath commented on #915
Marking contributions welcome. We'd happily welcome PRs to contrib if you have any tf.eager code you've played with! This should be easy to do for beginners (although you will need to install the 1.6 release candidate of TensorFlow)

[2018-02-25 06:04] rbharath commented on #897
Going to close this issue since I think issues have been addressed. Feel free to re-open if necessary.

[2018-02-25 06:04] #897 closed

[2018-02-25 06:05] rbharath commented on #891
I think we're just about ready to make the 2.0 cut. Going to go ahead and close this issue since anything not already in head isn't going to make it in :)

[2018-02-25 06:05] #891 closed

[2018-02-25 06:05] rbharath commented on #882
Closing in favor of #1039. Let's take discussions there.

[2018-02-25 06:05] #882 closed

[2018-02-25 06:06] rbharath commented on #872
Marking contributions welcome! If you're a materials scientist, we'd welcome your experimental code in contrib or new tutorials!

[2018-02-25 06:07] rbharath commented on #789
I'm going to close this since I think `tf.data` is the new blessed way to do high-performance TensorFlow models. Let's discuss over at #1039.

[2018-02-25 06:07] #789 closed

[2018-02-25 06:08] rbharath commented on #780
I believe the factory methods have been implemented and stabilized already. Might be good to make a tutorial for this...

Going to close this issue for now.

[2018-02-25 06:08] #780 closed

[2018-02-25 06:08] rbharath commented on #756
Going to close this issue since we've completed this transition.

[2018-02-25 06:08] #756 closed

[2018-02-25 06:09] rbharath commented on #754
Going to close this issue since we've completed the transition (with the exception of the in-progress #1084).

[2018-02-25 06:09] #754 closed

[2018-02-25 06:10] rbharath commented on #657
Going to close this issue since I think we're sticking with `yapf` for the time being, despite its issues. Feel free to re-open if there's good alternatives we can use.

[2018-02-25 06:10] #657 closed

[2018-02-25 06:11] rbharath commented on #614
Going to go ahead and close this issue.

[2018-02-25 06:11] #614 closed

[2018-02-25 06:13] rbharath commented on #1071
Marking this contributions welcome. Code experimenting with Lime would be a great addition to contrib/. This might require some sophistication to do correctly though.

[2018-02-25 06:16] rbharath commented on #472
I think this has been handled by the TensorGraph transition (note one-shot models still being worked on in #1084)

[2018-02-25 06:16] #472 closed

[2018-02-25 06:16] rbharath commented on #445
Going to close this issue since I think we refactored and cleaned up this code. Please re-open if still an issue.

[2018-02-25 06:16] #445 closed

[2018-02-25 06:17] rbharath commented on #475
I think @peastman has optimized the multitask code in later work. Going to close this issue.

[2018-02-25 06:17] #475 closed

[2018-02-25 06:17] rbharath commented on #468
I think most of these optimizations have been finished, so closing issue. Feel free to re-open if more improvements can be made.

[2018-02-25 06:17] #468 closed

[2018-02-25 06:47] skearnes commented on #1114
Email is probably best.

[2018-02-25 12:48] leeyjjoel commented on #1110
@rbharath  Sounds good to me. Will work on the tutorial for DiskDataset usage.

@pvskand  looking forward to working with you

[2018-02-25 12:50] leeyjjoel commented on #1089
@rbharath  Alright noted. I'll close my current PR on this issue so @nitinprakash96 can try his hand at it.

@nitinprakash96  Let me know if there's anything I can help you with.

[2018-02-25 18:06] rbharath commented on #1089
@leeyjjoel Thank you for the very gracious gesture! I'm looking forward to working together to improve DeepChem and deep learning for science broadly

[2018-02-25 18:15] abster12 commented on #1060
I would like to work on this one

[2018-02-25 18:17] rbharath commented on #1060
@abster12 Great to hear about your interest! Could you open a WIP pull request tracking your implementation progress? We can provide feedback and guidance on that thread

[2018-02-25 19:45] dmoccia commented on #1087
Got this ready for submission, was pretty easy once I understood how sphinx operates.  For future reference in case anyone needs to exclude additional folders/files...

In the build script
https://github.com/deepchem/deepchem/blob/master/devtools/jenkins/build_and_upload_docs.sh

When you run sphinx-apidoc you generate a series of RST files for example:

deepchem.data.rst
deepchem.data.tests.rst

[2018-02-25 19:51] dmoccia commented on #1087
I did not mean to submit that as a branch, let me know if you want me to delete that.

[2018-02-26 02:05] JZuegg opened #1119 "Feature request: Add uncertainty calculation using dropout during prediction"
As mentioned in the Lobby, I will start to implement a uncertainty calculation based on dropouts during prediction and collecting the variation of the prediction (see https://towardsdatascience.com/adding-uncertainty-to-deep-learning-ecc2401f2013).  Will post it here, but any comments, suggestions, help are welcome.

[2018-02-26 03:29] rbharath commented on #1087
@dmoccia Thanks for the summary and PR! Going to go ahead and close the issue since it looks to be fixed.

[2018-02-26 03:29] #1087 closed

[2018-02-26 14:23] rbharath commented on #1079
Going to close this issue since it looks resolved. Feel free to re-open if necessary.

[2018-02-26 14:23] #1079 closed

[2018-02-26 14:24] #1047 closed

[2018-02-26 14:24] #1048 closed

[2018-02-26 14:25] rbharath commented on #1037
I think this improvement has been made already so closing the issue.

[2018-02-26 14:25] #1037 closed

[2018-02-26 14:27] rbharath commented on #993
I think we've no rerun the TensorGraph graph conv against MoleculeNet and things look stable. Going to close. Feel free to re-open if there are still issues.

[2018-02-26 14:27] #993 closed

[2018-02-26 14:28] rbharath commented on #889
Closing since PR has been merged.

[2018-02-26 14:28] #889 closed

[2018-02-26 14:29] rbharath commented on #864
Closing this issue since we've added basic support for DragoNNs.

[2018-02-26 14:29] #864 closed

[2018-02-26 14:30] rbharath commented on #837
I believe we've implemented this feature already. Going to go ahead and close.

[2018-02-26 14:30] #837 closed

[2018-02-26 14:32] rbharath commented on #749
I think this one is outside DeepChem's scope :)

[2018-02-26 14:32] #749 closed

[2018-02-26 14:32] rbharath commented on #736
Closing this issue. Feel free to re-open if necessary.

[2018-02-26 14:32] #736 closed

[2018-02-26 14:34] rbharath commented on #598
I think we now have GP optimization support. Going to go ahead and close this issue

[2018-02-26 14:34] #598 closed

[2018-02-26 14:34] rbharath commented on #586
Going to close since I think we've solved this issue.

[2018-02-26 14:34] #586 closed

[2018-02-26 14:35] rbharath commented on #565
Closing since this issue has been superseded by later discussions.

[2018-02-26 14:35] #565 closed

[2018-02-26 14:35] rbharath commented on #559
Closing for now. Feel free to re-open if there's interest.

[2018-02-26 14:35] #559 closed

[2018-02-26 14:36] rbharath commented on #538
I believe IRV has been posted to TensorGraph so closing this issue. Feel free to re-open if necessary.

[2018-02-26 14:36] #538 closed

[2018-02-26 14:37] rbharath commented on #431
Closing this issue since I think we've resolved these discrepancies.

[2018-02-26 14:37] #431 closed

[2018-02-26 14:38] rbharath commented on #420
I believe the new Tensor Fields paper provides an elegant solution to this problem. Let's shift discussion to the associated issue. Going to close this issue in favor of moving there.

[2018-02-26 14:52] proteneer commented on #420
This is a totally different problem from what the TensorField paper addresses. GraphConv operates in graph space features, where as TensorField deals with 3D point cloud information. I don't think TensorField can help address the issues with GraphConv.

[2018-02-26 14:52] proteneer commented on #420
(FWIW the ANI-1 paper already addresses the problem in 3D space)

[2018-02-26 15:09] lilleswing commented on #1115
Do we like better
[code]
In this case we would return (dc.data.Dataset, None, None) for the middle object of the return tuple.
or

[code]

[2018-02-26 18:13] patrickhop commented on #1119
repost from gitter: http://mlg.eng.cam.ac.uk/yarin/blog_3d801aa532c1ce.html

[2018-02-26 18:17] peastman commented on #586
I don't think we really solved it, but I believe the next version of Tensorflow will move to including those features by default, so that will hopefully solve it.  Also, my attempt at using faster Tensorflow (#863) was unsuccessful.  I'll close that.

[2018-02-26 18:56] pvskand commented on #1066
[code]
@rbharath, Is this correct? If yes then I feel that we should put it in the README.md since citation of someone's work is very important and I feel deepchem's contributors must get a share of what they have done to make it awesome :)

[2018-02-26 19:12] peastman commented on #1119
Here's a recent paper you might find useful: https://arxiv.org/abs/1703.04977.  Basically there are two types of uncertainty that need to be handled in different ways: aleatoric uncertainty and epistemic uncertainty.  Fortunately, there are easy ways to get estimates of both.  Dropout is a way of measuring epistemic uncertainty.  To measure aleatoric uncertainty, you add a term to the loss functio

[2018-02-26 20:48] ankitvgupta commented on #1115
I like the former since it would mean less code changes for existing users. But can make either work!

[2018-02-26 23:54] JZuegg commented on #1119
Quick request for technical coding feedback:
Calculating the prediction using dropout can be set via the training parameter in tf. In your code this sits in TensorGraph._create_feed_dicts which is called by TensorGraph.predict_on_generator (fixed to training: False).
[Q] What's better to extend the current  TensorGraph.predict_on_generator with a asTraining=False parameter (and corresponding  pred

[2018-02-27 00:41] JZuegg commented on #1119
Without being a coding expert, I was planning in the order of:

TensorGraph
def predicit_on_generator(self, generator, transformers=[], outputs=None, **training=False**):
	...
      for feed_dict in self._create_feed_dicts(generator, **training**):
        if self.queue_installed:
	...

def predict_proba(self, dataset, transformers=[], outputs=None, **training=False**):
    generator = self.defaul

[2018-02-27 01:03] peastman commented on #1119
Let's give some thought to how we can design this in a way so that it's clear to the user what's happening, and that won't encourage them to do things they shouldn't.  Here are some of the important points.

1. There are multiple kinds of uncertainty.  Using dropout only measures epistemic uncertainty.  We either need to make that very clear to the user, or else consider ways of designing the feat

[2018-02-27 02:01] JZuegg commented on #1119
Ok. Was hoping that the toolkit is used for more experience user, but you're right.

Naming the result carefully is important, hence, naming it a variance of prediction rather than uncertainty was my initial take. Also by using dropout layers, the variance will be a relative one, only valid within that model, and training and test set. My planned test case for the feature was to use the variance o

[2018-02-28 01:37] ankitvgupta opened #1120 "GPL license"
https://github.com/deepchem/deepchem/blob/e8a77b2d645683eff13f31272515ba602fd48f51/deepchem/feat/fingerprints.py#L10

Is this supposed to be a GPL license?

[2018-02-28 01:43] peastman commented on #1120
It's supposed to be MIT.

[2018-02-28 01:51] ankitvgupta commented on #1120
Ok cool looks like ~5 files are labeled at GPL. Can those all be changed? Happy to make a PR sometime that does that.

[2018-02-28 02:25] rbharath commented on #1120
Yes, agreed, let's see if we can change these over.

@skearnes, @joegomes It looks like you folks are listed as authors on these files. Would you be OK with us switching them to MIT license to match the rest of DeepChem?

[2018-02-28 02:36] joegomes commented on #1120
I agree, thanks!

On Tue, Feb 27, 2018 at 6:25 PM Bharath Ramsundar <notifications@github.com>
wrote:

[2018-02-28 02:38] rbharath commented on #1074
Btw, since we have a lot of new contributors, if we've missed adding you as a member, please drop a comment on this thread and we will add you.

[2018-02-28 18:01] peastman opened #1121 "Make features, outputs, and labels more consistent"
I'm opening this to discuss issues I ran into while implementing `make_estimator()` in #1106.  We have a total of 19 model classes that extend TensorGraph, and 16 of them override `default_generator()`.  That's a big problem, because anything that overrides it will require extra work before it can be converted to an estimator.  I want to see if we can reduce that number.  Overriding `default_gener

[2018-02-28 22:49] rbharath commented on #1121
I like the idea of decreasing the number of times we override default_generator(). Creating a new generator is one of the trickier parts of making a new TensorGraph, and reducing the need is good for us overall.

Both of these sound like reasonable guidelines to follow. Are there any places where following them might make the API less friendly than it is right now?

[2018-02-28 23:17] peastman commented on #1121
I can only comment on the ones I'm familiar with, such as the ones I discussed above.  I don't know how most of the models work.  The authors of them will need to comment themselves.

It's now going to become a lot harder, because you'll also need to add the support for creating an estimator.  That will require doing all the same transformations you're already doing in `default_generator()`, excep

[2018-03-01 20:18] rbharath commented on #1120
Thanks @skearnes and @joegomes for quick responses!

@ankitvgupta PRs now wlecome!

[2018-03-02 01:53] ghutchis opened #1122 "QM9 validation, including PM7 energies?"
I was checking the QM9 dataset, which appears to be a bit better organized than the original set on Figshare. I have a few questions:

- Did you just use Open Babel to convert the XYZ to SDF?
  - If so, did you fix the weird coordinates in the QM9 files?
- Do you have the PM7 energies used in some of the QM9 manuscripts?

[2018-03-02 07:19] miaecle commented on #1122
@ghutchis Thanks for your interest! For the second question, we have only incorporated 12 properties, which don't include PM7 energies I believe(could you give an example article which utilized this task?). For the first question, @joegomes might be more familiar.

[2018-03-02 18:50] peastman commented on #1121
Tensorflow is such a swamp of inconsistency and bad design, this whole thing is driving me crazy.  The output from MultiTaskClassifier is logits, not probabilities.  Of course it is.  We use `softmax_cross_entropy_with_logits()` to compute the loss.  They don't even offer a version that takes probabilities, so obviously we have to output logits.  Oh, but guess what?  `tf.metrics.accuracy()` expect

[2018-03-02 20:37] rbharath commented on #1066
@lilleswing @peastman @miaecle Have thoughts?

We haven't had time to put together a formal DeepChem paper yet, (although we have a stub floating around), so it might make sense to direct people to cite the repo directly. I'm a little worried Google scholar won't pick up on it which might lead us to lose the citations...

[2018-03-02 20:38] rbharath commented on #1121
@peastman It might make sense to write up a blog-post on the DeepChem blog discussing these inconsistencies. We could communicate some of these issues to the TensorFlow team that way and they might be able to work on some upstream improvements

[2018-03-02 20:41] peastman commented on #1066
It's also possible to get a DOI for a particular release.

[2018-03-02 22:46] joegomes commented on #1122
@ghutchis We used the Open Babel command line utility to batch convert the XYZs to SDFs, then concatenated.  The coordinates were left untouched.  What exactly do you mean by weird coordinates?

[2018-03-03 02:47] ankitvgupta commented on #1120
PR is here: https://github.com/deepchem/deepchem/pull/1123

[2018-03-03 20:15] #1120 closed

[2018-03-04 00:16] rbharath commented on #1095
I'm opening this issue out to contributors. If you'd like to work on this issue, pick a layer that `TensorGraph` implements that's also a standard Keras2 layer. For example, a convolution layer or an LSTM layer or the like. Check against the Keras2 API spec, and modify the TensorGraph layer to accept the same arguments and in the same order. Use grep or a similar tool to verify that all uses of th

[2018-03-04 00:20] rbharath opened #1126 "TensorFlow 1.6.0 Version Bump"
https://github.com/tensorflow/tensorflow/releases/tag/v1.6.0

TensorFlow 1.6 has just been released. We should upgrade the DeepChem HEAD dependency.

[2018-03-04 00:34] rbharath opened #1127 "Tutorial Demonstrating using TensorGraph layers with TensorFlow Eager"
[TensorFlow eager](https://research.googleblog.com/2017/10/eager-execution-imperative-define-by.html) has been out as `tf.contrib.eager` since TensorFlow 1.5. It would be great to add a tutorial that demonstrates how TensorGraph layers can be used with TensorFlow eager. This would be a great first contribution for a newcomer to the library and would add a lot of value to the community.

Here are t

[2018-03-04 00:38] kastnerkyle opened #1129 "Questions about Hindsight Experience Replay defaults"
Following up on https://twitter.com/rbhar90/status/970075142586974208 - am I reading the documentation right, in that k=2 for the default in HER? Is there a particular reason for this (the paper prescribes 4, but it is a very different task)? An experiment where k=2 worked much better?

I am looking at using HER in a very different scenario than the paper (music generation in my case) so I was int

[2018-03-04 00:40] rbharath commented on #234
I think these issues have been resolved. Going to close. Please leave a comment here if you're running into this issue and will re-open.

[2018-03-04 00:40] #234 closed

[2018-03-04 00:41] rbharath commented on #346
I believe this issue was fixed by #347 so closing. Please re-open if necessary.

[2018-03-04 00:41] #346 closed

[2018-03-04 00:42] rbharath commented on #350
@proteneer I think #1080 added in some of these features. Can we close this issue or are there additional features we could add?

[2018-03-04 00:44] rbharath commented on #412
The original feature request called for adding in the BEDROC metric. Although we ended up adding in PRC into DeepChem, it would still be a good contribution to add in BEDROC to `dc.metrics`.

This implementation should be relatively brief (< 50 lines at first guess) so would be a good first contribution. If you'd like to take it on, please leave a comment here and raise a PR marked [WIP] tracking

[2018-03-04 00:44] peastman commented on #1095
This won't always be mechanical, and we need to be very careful to avoid breaking things.  To give a simple example, compare the Keras and TensorGraph Dense layers.  Keras has a bunch of options that TensorGraph doesn't include (all the regularizers, for example), so we'll need to add those.  But TensorGraph also supports the `time_series` option that Keras doesn't, so what do we do with that?  Th

[2018-03-04 00:45] rbharath commented on #420
I've marked this issue as a Research Question. If you're a deep learning researcher, this might be a good topic to investigate.

[2018-03-04 00:49] rbharath commented on #425
If you're interested in solving this issue, you will need to create a pull request that does the following:

- Download and package the C.O.D dataset into a suitable .tar.gz or .zip file
- Add a new function to `dc.molnet` that adds a function `load_cod`. This function should match the other moleculenet loader functions and return a tuple `(train_dataset, valid_dataset, test_dataset)`. Each datase

[2018-03-04 00:50] rbharath commented on #527
I'm going to close this issue. It doesn't look like there's been much request for this feature. Might re-open if necessary later.

[2018-03-04 00:50] #527 closed

[2018-03-04 00:50] rbharath commented on #529
Closing since I think there are now cleaned up files on AWS. Please re-open if necessary.

[2018-03-04 00:50] #529 closed

[2018-03-04 00:51] rbharath commented on #687
Fixed by #802 so closing.

[2018-03-04 00:51] #687 closed

[2018-03-04 00:53] rbharath commented on #682
I've marked this issue a Research Question. Devising an algorithm that can predict a suitable biological target (protein, RNA, DNA, etc.) for a given ligand molecule (potential therapeutic molecule) would be a very useful algorithm. I don't know of a good deep learning architecture for this problem, and devising one would likely constitute publishable work. If you're interested in taking on this r

[2018-03-04 00:53] rbharath commented on #672
I'm going to close this issue since it looks like a very involved port, especially since we've decided to go all-in on TensorFlow instead of PyTorch for the time being.

[2018-03-04 00:53] #672 closed

[2018-03-04 00:54] rbharath commented on #671
I've labeled this issue a Research Question. Devising a deep learning algorithm that allows for systematic exploration of chemical space would likely constitute a publishable advance. If you're interested in working on this problem, please leave a comment here, and members of the steering committee might be interested in mentoring you.

[2018-03-04 00:55] rbharath commented on #651
Going to close this issue since I think it's been resolved. Please re-open if necessary.

[2018-03-04 00:55] #651 closed

[2018-03-04 00:57] rbharath commented on #599
I've marked this as a good first contribution. If you'd like to take on this issue, please do the following:

- Attempt to install DeepChem in Windows Subsystem for Linux
- If installation works, please submit a PR that updates our documentation and notes that the installation is possible.
- If installation does not work, debug the issue and create PR that makes the necessary changes and updates o

[2018-03-04 00:58] rbharath commented on #571
Going to close this PR since creating stable RL algorithms is a broad area of research that doesn't neatly fit within DeepChem's mandate. There's also been a lot of external efforts on this question (see https://arxiv.org/abs/1709.06560 for a good recent paper).

[2018-03-04 00:58] #571 closed

[2018-03-04 00:59] rbharath commented on #553
I'm going to close this issue for the time being since I'm no-longer working on this feature. If you're interested in taking up the challenge, leave a note here and will re-open the issue.

[2018-03-04 00:59] #553 closed

[2018-03-04 01:00] rbharath commented on #545
I'm going to close this issue since it doesn't seem to have come up again. Please re-open if necessary.

[2018-03-04 01:00] #545 closed

[2018-03-04 01:02] rbharath commented on #658
I'm labeling this as a research question since it looks like creating this implementation will require significant effort and isn't just a matter of porting in an existing deep learning architecture. I suspect that the implementation alone will not be publishable, but when combined with some deep learning work, may well be.

If you're interested in taking on this challenge, please leave a comment,

[2018-03-04 01:03] rbharath commented on #1095
These are good points. I'm removing the contribution welcome label for the time being. Let's discuss this at the next steering committee meeting to see if there's a reasonable implementation path.

[2018-03-04 01:04] rbharath commented on #1129
CC @peastman

[2018-03-04 04:13] peastman commented on #1129
Sorry, I'm not sure what you're referring to.  What is k?

[2018-03-04 04:17] peastman commented on #1127
Does this actually work?  If so, that's really cool.  Though I suspect "write a tutorial" will turn into "discover lots of edge cases that don't work correctly, which we can then figure out ways to fix."  But it definitely sounds like something we want to support.

[2018-03-04 04:21] nitinprakash96 commented on #1127
Hi @rbharath , can I take up this one. Will help me in getting more insight into TensorGraphs :)

[2018-03-04 04:36] kastnerkyle commented on #1129
In the paper, k is the number of "false state/goals" that are introduced during HER, relative to the "true" goals. They talk about the importance of the choice for k in section 4.5 of the paper https://arxiv.org/abs/1707.01495 , and specifically prescribe k=4. I've been looking around at various implementations, and yours is the first I saw for something that wasn't the same experiments as the pap

[2018-03-04 05:31] rbharath commented on #1127
@nitinprakash96 Yep, go for it! Could you open a [WIP] pull request so we can help you with it?

@peastman It should work in principle :). In practice, as you suggest, I think we'll discover lots of bugs. But I think layers + tf eager is the API that's actually going to stick in the long run, so we definitely want to put in this time

[2018-03-04 05:36] peastman commented on #1129
You're reading it correctly.  That setting doesn't really apply to A3C.  All of the methods they consider involve a replay buffer, so they're free to take whatever set of states and goals they want from the buffer.  But A3C doesn't have a replay buffer.  It just generates a rollout, processes it exactly once, and then throws it away.  When using HER, we process it a second time using the alternate

[2018-03-04 05:38] peastman commented on #1127
Agreed.  We may also want to add methods to TensorGraph to apply the entire graph all at once.

[2018-03-04 05:40] kastnerkyle commented on #1129
I see, this sounds like something I will probably try on my task. Thanks for the clarification, and for the great work on deepchem!

[2018-03-04 05:40] #1129 closed

[2018-03-04 13:44] snagpal93 commented on #1126
Hi @rbharath!

What exactly is needed for this bugfix? I am assuming building against TF 1.6 and successfully running all tests and then updating the docs?

Thanks!

[2018-03-04 18:52] peastman commented on #545
This behavior was changed by #791, so it's now more consistent.

[2018-03-05 14:51] lilleswing commented on #1126
Yep -- bumping to tensorflow 1.6.0 in scripts/install_deepchem_conda, then updating the readme.

[2018-03-06 06:23] zealseeker opened #1133 "Memory leak in GraphConvTensorGraph"
Deepchem == 1.2.0
Python == 3.5.4

Repository to reproduce: https://github.com/zealseeker/deepchem-sandbox/tree/toxcast-loo

[code]

I wanted to use "leave-one-out" to evaluate the performance of `GraphConvTensorGraph`. However, the memory used was continuing increasing so that I had to stop running.

In the first loop, the memory used was about 4GB. Then about 5GB, 6GB.. My computer has only 8GB

[2018-03-06 15:15] lilleswing commented on #1133
So the way I am reading your code you are storing y_pred and y_true over and over in a loop
Toxcast has 8598 molecules over 618 tasks.  It is a categorical task so each task is one hot encoded to 2 integers.  An integer is 24 bytes in pure python.

[code]
So each loop you are loading ~ 500mb into RAM.
Flush y_pred and y_true to disk on each run.

[2018-03-06 16:28] zealseeker commented on #1133
Hi @lilleswing .  It is not caused by y_trues and y_preds I think. Each loop I just save the predictions. The final `y_preds` and `y_trues` should only occupy `1000 * 617 * 24 * 2` bytes, where 1000 is the number of compounds in "validation set".
Even if I tried removing the "y_true" and "y_pred" sentences, the issue still existed.

I'll try to use multiprocessing module to run each loop. (I still

[2018-03-06 17:37] pvskand commented on #683
@rbharath, I have read the paper and there are 2 loss functions (weighted and uniform). Weighted one is basically a class balancing technique in the cases of less data or biased data and the uniform weights give equal weights to all the 6 classes of prediction.
It was observed that the overall accuracy for the uniform weights was performing well, so I guess first we should start with the `uniform

[2018-03-06 20:52] ghutchis commented on #1122
For example:

[code]

If you look at the first file `dsgdb9nsd_061269.xyz` in Avogadro with normal Open Babel reading:
<img width="455" alt="screen shot 2018-03-06 at 3 49 11 pm" src="https://user-images.githubusercontent.com/41128/37057693-3316a6b8-2156-11e8-9e6c-d7a6f0041e1c.png">

If I change that atom's z coordinate to 0.0 (i.e., -8.4813e-6) then I get:

<img width="326" alt="screen shot 2018-

[2018-03-06 20:53] ghutchis commented on #1122
I'm not going to change Open Babel XYZ parsing to change "*^" into "e". The best thing is to edit and re-parse the QM9 files.

[2018-03-06 20:56] ghutchis commented on #1122
As far as a paper, seee:
_J. Chem. Theory Comput_. **2015** 11, 5, 2087-2096:
https://pubs.acs.org/doi/abs/10.1021/acs.jctc.5b00099

[2018-03-06 23:29] rbharath opened #1137 "Organizing DeepChem Tutorials into a Cogent Sequence"
Thanks to great effort from our contributors, we have a good number of deepchem tutorials (https://deepchem.io/docs/notebooks/index.html) with more coming on the way. These tutorials provide a great resource for newcomers to DeepChem and to the field of molecular machine learning broadly. However, they're a bit dis-organized right now. It's not entirely clear where newcomers should start.

How can

[2018-03-07 01:13] rbharath opened #1138 "Remove "TensorGraph" from model names"
It might be good to rename our `dc.model.GraphConvTensorGraph` to `dc.models.GraphConv` since all our deep models now use TensorGraph.

[2018-03-07 01:35] pvskand commented on #1066
https://guides.github.com/activities/citable-code/ gives a way to create a DOI. Do have a look at it.

[2018-03-07 14:34] lilleswing commented on #1137
The current HTML lives here.

https://github.com/deepchem/deepchem.io/blob/master/website/docs/notebooks/index.html

A PR to the deepchem.io website would be great!

[2018-03-07 19:27] lilleswing commented on #1138
We should make both names work until the next major cut.  Lots of code depends on that name.

[2018-03-07 19:34] rbharath commented on #1138
Yes, we should definitely have a deprecation cycle on the old name.

[2018-03-07 20:00] pvskand commented on #1137
@rbharath, @lilleswing,  this is a great idea indeed. Infact when I first saw the list of notebooks it was quite confusing for me.
Some thoughts on the current organization:
- In `Application Tutorials`, the first two tutorials i.e Graph Convs and Multitask Nets are good ones to start to know deepchem.
- Since we have few more Dataset tutorials (the splitters and the NumpyDataset) and few more com

[2018-03-07 20:21] lilleswing commented on #1137
@pvskand what tutorials do you declare "Vision" tutorials?

[2018-03-07 20:25] pvskand commented on #1137
@lilleswing, `MNIST with deepchem` and `MNIST GAN` would fall under this category. Well I would say we can modify this to Vision & AI Tutorials and include A3C in this category as well.

[2018-03-07 20:37] peastman commented on #1137
The MNIST GAN tutorial isn't really about computer vision.  It's a tutorial on how to create GANs, and just happens to use MNIST as an example.

[2018-03-07 20:42] pvskand commented on #1137
Aah.. I see. So even the `MNIST with deepchem` is basically a classification tutorial (that uses MNIST). In that case I would suggest to have a section as `Machine Learning Tutorials` and subsections would cover `GANS` [with MNIST GAN and Conditional GAN in it] and Classification Tutorial consisting of MNIST with deepchem tutorial.

[2018-03-07 21:49] peastman opened #1142 "Support make_estimator() for all models"
Most subclasses of TensorGraph will need changes before `make_estimator()` will work with them.  Anything that overrides `default_generator()` definitely will.  I already made the necessary changes to `MultiTaskRegressor` and `MultiTaskClassifier`.  I also looked at `MultiTaskFitTransformRegressor`, but concluded it probably can't be supported without significant changes to how transformers work.

[2018-03-07 22:38] rbharath commented on #1138
In addition, we should rename WeaveTensorGraph, DTNNTensorGraph, DAGTensorGraph, PetroskiSuchTensorGraph, MPNNTensorGraph as well.

[2018-03-07 22:57] rbharath commented on #683
@pvskand Yes, that sounds like a good implementation strategy!

[2018-03-07 23:00] rbharath commented on #368
PRs that improve the state of our protein-ligand docking would be welcome! I've marked this PR a "Good Intermediate Contribution." That is, you should already be comfortable contributing to DeepChem, since this PR might require some in-depth code changes. I've also marked this PR, "Scientific Knowledge Required" since you should have an understanding (or be willing to learn about) the science of p

[2018-03-07 23:02] rbharath commented on #350
Ok, looking over the list again, I think that not all of these variants have been added in. I'm opening this issue out for contributions. Marked "Good Intermediate Contribution" since the code changes needed may not be immediately obvious. Marked "Scientific Knowledge Required" since contributors will need to understand or learn about stereochemistry, hydrogenation, and aromatic structures.

[2018-03-07 23:04] rbharath commented on #503
Opening out for contributions! Marking a "Good Intermediate Contribution" since implementing the models will require some amount of coding and marking "Scientific Knowledge Required" since contributors will need to learn a bit about metabolism science to make sure their models make sense.

[2018-03-07 23:05] rbharath commented on #702
Marking a "Good Intermediate Contribution" since the implementation might be somewhat involved. Good potential issue for those with prior machine learning experience!

[2018-03-07 23:09] rbharath commented on #664
Opening this issue out for contributions. Adding this implementation would be a good intermediate level contribution, especially for those with prior deep learning expertise.

[2018-03-07 23:10] rbharath commented on #644
Opening this issue out for contribution. This would be a good intermediate level contribution, especially for those with prior deep learning experience.

[2018-03-07 23:10] rbharath commented on #620
This would be a good intermediate level contribution, especially for those with prior deep learning experience.

[2018-03-07 23:14] rbharath commented on #617
@lilleswing Swapping this over to an intermediate level contribution since I think some work will be involved.

This would be a good project for those with interest in learning about proper statistical techniques for scientific applications.

[2018-03-07 23:17] rbharath commented on #631
Opening this out to contribution. To target this issue, pick a subfolder in examples (https://github.com/deepchem/deepchem/tree/master/examples). Add a `README.md` file to this folder (if it doesn't have one already) that explains:

- The source of the dataset
- Explains what the model built in the example does to the level where a novel bioinformatician can understand.

If you'd like to implement

[2018-03-07 23:20] rbharath commented on #658
Ok, did some more digging. I don't think this is a research question, but it a solid intermediate level contribution for a contributor with some background in chemistry. Contributions welcome!

[2018-03-07 23:21] rbharath commented on #681
Closing this issue. Please re-open if necessary.

[2018-03-07 23:22] rbharath commented on #725
@LRParser Thanks for the PRs you've submitted as part of this project! I think they've added a lot of value to the project and will be a good reference for people building on your work.

Going to go ahead and close this issue. Please re-open if there are additional issues to discuss on the topic.

[2018-03-07 23:22] #725 closed

[2018-03-07 23:23] rbharath commented on #747
@patrickhop Wanted to give you a quick ping on this issue. If your schedule is looking tight, glad to mark this issue as open for contribution

[2018-03-07 23:25] rbharath commented on #752
Marking this issue as open for contribution. To implement this feature, please modify `SingletaskStratifiedSplitter` to return a list of `(train,valid)` tuples in the style of other splitters and add a unit test that verifies that the splitter returns data in the correct format.

[2018-03-07 23:26] rbharath commented on #770
Closing this issue since it refers to the old implementation (non TensorGraph). The TensorGraph implementation is being worked on https://github.com/deepchem/deepchem/pull/1084. Let's shift discussion of implementation issues there.

[2018-03-07 23:26] #770 closed

[2018-03-07 23:26] rbharath commented on #757
Closing this issue since it refers to the old implementation (non TensorGraph). The TensorGraph implementation is being worked on https://github.com/deepchem/deepchem/pull/1084. Let's shift discussion of implementation issues there.

[2018-03-07 23:26] #757 closed

[2018-03-07 23:36] rbharath commented on #844
Closing this issue since #850 implemented

[2018-03-07 23:36] #844 closed

[2018-03-07 23:56] rbharath commented on #986
I've marked this project a good intermediate level contribution for those with prior deep learning experience. I suspect the implementation might be easier in TensorFlow eager than in raw TensorFlow.

@souravsingh If you're working on this issue, could you create a pull request marked "[WIP]" to track your implementation progress?

[2018-03-07 23:56] rbharath commented on #1039
I think we can close this since addressed by #1091 and the new tutorials on using Dataset and tf.data together.

[2018-03-07 23:56] #1039 closed

[2018-03-08 00:12] rbharath commented on #1142
I'm marking this a good intermediate level contribution. If you're interested in taking on part of the needed implementation work, please leave a comment here indicating the class(es) you're converting. Please follow @peastman's implementation guide above, and open a pull request marked "[WIP]" tracking your on-going implementation efforts.

[2018-03-08 00:33] rbharath opened #1143 "DeepChem Featurizer Tutorials"
DeepChem has a number of featurization methods implemented in `dc.feat`. However, there does not exist yet a good tutorial that explains these various featurization methods. There are a lot of featurizers in DeepChem, we actually suggest adding 3 different tutorials.

To create a tutorial, make a new IPython notebook in https://github.com/deepchem/deepchem/tree/master/examples/notebooks.

- Basic

[2018-03-08 01:01] miaecle commented on #616
Yeah, I am pretty interested, will try to implement a prototype.

[2018-03-08 04:01] dkoes commented on #908
Perhaps a good Google Summer of Code project..

[2018-03-08 18:29] skeinan opened #1144 "ProgressiveMultitaskClassifier intox21_tf_progressive.py"
Hi guys,
In "tox21_tf_progressive.py":
There is no ProgressiveMultitaskClassifier, maybe you meant "ProgressiveMultitaskRegressor"?
Thanks,
Shahar

[2018-03-08 18:49] lilleswing commented on #1069
This is done now
https://deepchem.io/docs/index.html

[2018-03-08 18:49] #1069 closed

[2018-03-09 18:26] patrickhop commented on #747
I'm dropping in three datasets that I think are valuable.

Thermodynamic solubility (1743 examples) is interesting from a research perspective because it's quite hard to score high on this one, even though the assay is relatively low-noise. Scoring high on this dataset likely requires capturing something that we are not right now.

pKa-A1 and pKa-B1 are fundamental properties that if well predicte

[2018-03-09 18:30] patrickhop commented on #1137
I'd love to see the tutorials more organized, and with a more thoughtful progression. Maybe something like an easy / medium / hard progression?

[2018-03-09 18:52] pvskand commented on #1137
@patrickhop, that's a good idea. We can have tags for each of the tutorials explaining the difficulty level of the tutorial. But having the tutorials organized only on the basis of easy/medium/hard would not be an effective organization. What do you say?

[2018-03-09 19:05] patrickhop commented on #1137
@pvskand I agree that we shouldn't explicitly bucket on the basis of difficulty, but it's important that we have tutorials that target each level. I think we're on the same page here.

[2018-03-10 01:56] peastman commented on #1142
I've checked off `GAN` and `SeqToSeq` as not practical to adapt.  They both add their own fit and predict methods that do a lot of extra work.  Creating an Estimator from them would require defining an Estimator subclass that similarly adds a lot of logic to fitting and prediction.

[2018-03-11 19:53] rbharath commented on #747
Thanks @patrickhop!

I'm marking this issue as open for contribution. If you'd like to take on this PR, please get in touch with me (rbharath@x.y) where x=deepchem, y=io and I'll email you the datasets. Please start a pull request marked "[WIP]" adding functions to `dc.molnet` that load these datasets.

[2018-03-11 20:31] rbharath commented on #1144
@skeinan Good catch! The Tox21 is a classification task, so we need to use a classifier.

@miaecle Would it be hard to add a `ProgressiveMultitaskClassifier`? If so, we might want to consider just removing the example.

[2018-03-11 23:49] peastman commented on #1142
I'm working on RobustMultiTaskRegressor, RobustMultiTaskClassifier, and Sequential.

[2018-03-12 15:26] pvskand commented on #683
@rbharath, should we also ship a pretrained model for this?

[2018-03-12 16:02] pvskand commented on #1143
@rbharath, I would love to submit a PR on `Basic Featurization Tutorial`. Would open up a PR with WIP soon.

[2018-03-12 17:24] peastman commented on #1142
Sequential is complicated because the model isn't fully defined until you call `fit()` on it.  The main reason that was done is so that you don't have to define the sizes of the inputs in advance.  That isn't a problem here, since they'll be defined by the arguments to `create_estimator()`.  But it also has the strange feature that the loss is defined by an argument to `fit()`.  Is there a reason

[2018-03-13 18:41] rbharath commented on #1142
@peastman I was attempting to keep the Sequential API as close to the Keras API as I could manage. That said, I think it's reasonable to fix up the API so that it behaves cogently.

How about making the loss something that's added explicitly via an `add_loss()` call? Adding in the constructor seems awkward since the loss would be added before all the layers.

Agree that the behavior of `fit()` is

[2018-03-13 18:49] rbharath commented on #683
@pvskand Might be useful, but I think it's a secondary design goal likely

[2018-03-13 18:54] KenBorrelli opened #1146 "Enable Atom-Based Properties Stored in SDF Files to be used in the ConvMol Featurizer"
Expand out the ConvMol Featurizer to accept atom-level features to be used as part of the vector of features assigned to each atom.   This also requires a changes to the GraphConvTensorGraph class to be able to set the number of atom features that will be passed for each atom.

[2018-03-13 19:17] miaecle commented on #1144
@rbharath I think it will be pretty straightforward, I could help with it(though we haven't applied the model on any classification tasks before)

[2018-03-13 19:27] peastman commented on #1142
For Sequential, the loss is a string with only two allowed values: `mse` or `binary_crossentropy`.  So `add_loss()` doesn't seem like quite the right API.  You're not adding anything, just selecting between two options.

[2018-03-13 20:05] #1092 closed

[2018-03-13 20:08] #1093 closed

[2018-03-13 20:33] simonfqy opened #1148 "Is there any limit to the size of the molecule in WeaveTensorGraph?"
In the paper (Kearnes et al., 2016) which proposes the Molecular Graph Convolution with Weave modules, there is a sentence saying:

However, I examined `deepchem/feat/graph_features.py` and class `WeaveTensorGraph` in `deepchem/models/tensorgraph/models/graph_models.py`, I couldn't find any such restrictions from the source code. So in the Weave featurizer in your implementation, is there any limi

[2018-03-13 21:04] lilleswing commented on #1148
No there are no hard-coded limitations of our current Weave Featurizer.

This is because we featurize using an edge list and membership tensor vs a 3 dimensional tensor with masking.

[2018-03-13 21:05] lilleswing commented on #1148
(that is my guess for why the initial paper had a limit for max number of heavy atoms)

[2018-03-13 21:07] lilleswing commented on #616
Excited this is coming back -- while thinking about it all we have to do is edit the graph topology for skip connections instead of one away connections in ConvMolFeaturizer.

[2018-03-13 23:31] paconius opened #1150 "Required memory to run Tox 21 notebook example?"
I just setup deepchem on ubuntu using the recommended python env (python 3.5, tensorflow-gpu v1.5.0, CUDA 9.0, cuDNN 7.0). I am trying to run the "graph_convolutional_networks_for_tox21" notebook and immediately run into an issue that appears to be an out-of-memory situation on imput line 3. The  console show two error types (see below) that google searching have shown to be associated with full G

[2018-03-13 23:33] evanfeinberg commented on #1150
Thanks for your interest. From a diagnostic perspective I would open a terminal and run "watch nvidia-smi" to monitor GPU memory usage; if it indeed appears to be the case that GPU memory is oversubscribed, try decreasing the batch size to see if that helps.

[2018-03-13 23:37] paconius commented on #1150
Hi. I was watching the GPU memory usage with nvidia-smi. I note that the memory immediately jumps to full consumption upon start of the calculation. It does not move after that point.

[2018-03-13 23:39] evanfeinberg commented on #1150
Can you try reducing the batch size to see if it runs?

On Tue, Mar 13, 2018 at 4:37 PM, paconius <notifications@github.com> wrote:

[2018-03-13 23:43] paconius commented on #1150
I reduced batch size from 50 to 10 and then to 2 and observe the same behavior.

[2018-03-13 23:48] evanfeinberg commented on #1150
Thanks for trying. That is indeed quite strange. I would recommend seeing
if you can replicate this issue with a simpler notebook, e.g.
https://github.com/deepchem/deepchem/blob/master/examples/notebooks/solubility.ipynb

On Tue, Mar 13, 2018 at 4:43 PM, paconius <notifications@github.com> wrote:

[2018-03-14 00:02] paconius commented on #1150
Thank you for your input. I tried running the solubility notebook and get a different error which suggests my problems go deeper.

AttributeError: module 'deepchem.models' has no attribute 'TensorflowMultiTaskRegressor'

An older posting here suggested that this is due to an out-of date install of deepchem. However, I just installed it today using conda. Running: conda install -c deepchem deepchem

[2018-03-14 00:08] evanfeinberg commented on #1150
Glad the debugging process revealed what I suspected, which is a deeper issue at play. I would open a jupyter notebook, run ```import deepchem''' and then ```deepchem.__version__''' or ```deepchem.__file__''' and make sure it's loading the correct deepchem version. I suspect you have a conflicting older version lying around that you should get rid of somehow.

[2018-03-14 02:28] evanfeinberg commented on #1150
*fixed formatting

[2018-03-14 02:29] paconius commented on #1150
I don't believe I have an old version. My install is on a fresh ubuntu machine. I uninstalled confirmed no other copies were on the drive. I even emptied the pkg cache in anaconda. I reinstalled using conda install -c deepchem deepchem-gpu=2.0.0 and still have the same problems.

[2018-03-14 02:39] paconius commented on #1150
Here is an interesting tidbit: With regard to this error:

AttributeError: module 'deepchem.models' has no attribute 'TensorflowMultiTaskRegressor'

If I peek inside the deepchem.models module I see the correct attribute, but the capitalization is different. The 't' in task is lower case.

print(dir(deepchem.models))
['ANIRegression', 'BPSymmetryFunctionRegression', 'DAGTensorGraph', 'DTNNTensorGr

[2018-03-14 02:49] paconius commented on #1150
Okay. I changed the notebook to use  'MultiTaskRegressor' instead of  'TensorflowMultiTaskRegressor' because I concluded that the notebook is no longer up-to-date and does not function as published. Making this change allows the code to run, however,  I immediately observe the same errors and memory issues that I observed with the Tox21 example.

[2018-03-14 18:33] rbharath opened #1152 "Designing an API for Imaging based Assays"
There's been a lot of development in the imaging for drug discovery space. In particular, imaging assays are looking to become mainstream. This recent [paper](http://www.cell.com/cell-chemical-biology/fulltext/S2451-9456(18)30037-0) has been making a lot of waves. For example, check out Derek Lowe's [blog post](http://blogs.sciencemag.org/pipeline/archives/2018/03/12/images-of-machine-learning) di

[2018-03-14 18:34] rbharath commented on #1148
Going to close since I believe the question has been addressed.

[2018-03-14 18:34] #1148 closed

[2018-03-14 18:36] rbharath commented on #1150
Could this be related to #1133? I haven't observed these memory leaks personally, and our Jenkins runs seem to be working fine, so perhaps there are some combinations of hardware/software where it becomes an issue?

[2018-03-14 19:40] joergkurtwegner commented on #1152
Just in-case you need test cases, check https://idr.openmicroscopy.org

[2018-03-14 21:04] pvskand opened #1154 "Designing API for pretrained/application models in DeepChem"
Since there are many networks/architectures coming up whose pretrained models are expected to be shipped to DeepChem soon, I was thinking of having a `dc.pretrained` or `dc.applications` like that of `keras.applications` - https://keras.io/applications/ in which we would dispatch a model whose pretrained model is intended to be use for the drug and in turn the DeepChem community. This was a high-l

[2018-03-14 23:13] mlgill commented on #1138
I am working on renaming `dc.model.GraphConvTensorGraph` to `dc.models.GraphConv` right now.

Here is the [branch](https://github.com/mlgill/deepchem/tree/issue1138_mg_GraphConvTensorGraph_to_GraphConv).

[2018-03-15 00:07] mlgill commented on #1138
@rbharath @lilleswing I've just noticed that there is also a layer called [GraphConv](https://github.com/deepchem/deepchem/blob/master/deepchem/models/tensorgraph/layers.py#L2311). Having a model and layer with the same name seems like a bad idea to me. What do you think?

Maybe the renamed model should be called `dc.model.GraphConvModel`? Of course this raises the question of what to call the oth

[2018-03-15 05:22] paconius commented on #1150
Thanks for you help with this. I found that I was able to make the code work correctly if I run as root. This is awkward, but it works. There must be some permissions issue with CUDA.

[2018-03-15 05:31] paconius commented on #1150
Now able to run as a normal user without sudo. The answer was found [here.](https://devtalk.nvidia.com/default/topic/1007071/cuda-setup-and-installation/cuda-error-when-running-matrixmulcublas-sample-ubuntu-16-04/2) he solution is to run:
sudo rm -rf ~/.nv/

What does it do and why? I have no idea.

[2018-03-15 06:04] evanfeinberg commented on #1150
So glad you got it working! Happy deepchem’ing.

Bharath and I are HTH
On Wed, Mar 14, 2018 at 10:31 PM paconius <notifications@github.com> wrote:

[2018-03-15 08:24] evanfeinberg commented on #616
In case it's useful, reiterating what I mentioned in a subgroup meeting
last year: one can take matrix powers of the NxN adjacency matrix "A" to do
atrous graph convolution. So for those graph convolutional models that use
the basic update (or some variation): h = W * A * x, one can instead just
do h = W * (A^p) * x, where x is the input feature matrix, p is an integer
representing just how atrous

[2018-03-15 13:49] lilleswing commented on #1138
I like the idea that our models have one of three post-fixes
(Model, Regressor, Classifier)

Classes with the Model prefix must take a "mode" arg which specifies if the model is classification or regression.

[2018-03-15 14:07] mlgill commented on #1138
@lilleswing I think that makes sense. In this case, the proposed GraphConvModel already takes a mode for regression/classification, as well. I will plan to do that unless @rbharath has other ideas. Should get some time over the weekend to work on this.

[2018-03-15 14:49] lilleswing opened #1157 "Remove GraphGather pin to CPU on upgrade to TF 1.6"
The bug requiring us to pin to CPU is fixed in tf 1.8

https://github.com/tensorflow/tensorflow/issues/16872#issuecomment-368016454

https://github.com/deepchem/deepchem/pull/1081

[2018-03-15 16:46] peastman commented on #1150
It sounds like that directory is some sort of a cache.  Presumably its contents must have gotten messed up in some way?

[2018-03-15 18:22] lilleswing commented on #1154
So all of our prebuilt models are the equivalent of things in keras.applications.

The way they handling loading in pretrained weights is in the constructor of the model
[code]
This seems as good as any way to handle it.

The question I have is what do people expect to do with these pretrained weights besides run the models as is?  My thoughts

1) Freeze layers for transfer learning
2) Add Additio

[2018-03-15 18:31] pvskand commented on #1154
Regarding why pretrained weights are used you are right @lilleswing. They either use it as feature extractor or use it for finetuning the last layers (by keeping initial layers freezed) or might use the complete network as the initialized weights instead of random initialized weights for faster convergence.

Btw, do we have any pretrained model as of now in DeepChem?

[2018-03-15 19:27] peastman commented on #1152
What do you have in mind?  The models in that paper look pretty generic, not specific to anything about images.  Are you talking about adding routines for loading image files?  Or models specifically designed for use with images?  Or pretrained models for particular applications?

[2018-03-15 20:52] lilleswing commented on #1152
The one use case I have found here is combining multiple tensors as a sample.

So each of the images has the image (obviously) but they also seem to have important metadata that is a feature.  One is a 2d matrix, ond is a 1d vector and they are of different sizes.

There are two ways of handling this right now, both are documented poorly.
1) Creating a class which holds both of them and then pickl

[2018-03-15 20:53] lilleswing commented on #1154
We no longer have any pretrained models in DeepChem.  For a while we were shipping the Asperu-Guzik autoencoder but stopped.

[2018-03-15 21:00] peastman commented on #1152
That would be a good thing to see if we can improve.  There's a bit of inconsistency between our models and datasets.  TensorGraph lets a model have an arbitrary number of inputs, outputs, labels, and weights.  But Dataset pretty much assumes a model only has one of each.  Can we find a clean way to let a Dataset provide multiple inputs, labels, and weights, then be able to pass that Dataset direc

[2018-03-15 21:06] lilleswing opened #1159 "Document Data Requirements for out Models"
Weave needs/uses 3D conformations
MPNN can use 3D coordinants but doesn't have to
GraphConvs/MultitaskRegressor/MultitaskClassifier/IRV Do not

Documenting the most popular models and their data requirements can help onboard people into what models they can use for their data.

[2018-03-15 21:06] lilleswing commented on #1159
Maybe a meet the models section on the website

[2018-03-15 21:07] lilleswing commented on #1159
TexCNNRegressor/Classifier work over SMILES strings

[2018-03-15 21:08] lilleswing commented on #1159
ANI1 requires 3D coordinants but doesn't require bond information.

[2018-03-15 21:22] simonfqy opened #1160 "Is it possible to add the neural fingerprint implementation?"
I was reading the `GraphConvTensorGraph` and related `classes`, and found that it is not from the paper named "Convolutional Networks on Graphs for Learning Molecular Fingerprints" as I originally expected. I found the design was proposed in "Low Data Drug Discovery with One-Shot Learning", but there were no comparisons as to whether this design is superior to the neural fingerprint. As it was not

[2018-03-16 02:57] streetster17 commented on #1152
I'm new so I apoligize if I'm missing the direction of this thread but hopefully I can be of some assistance.

The HDF5 file format allows for hierarchical data storage and may help provide a clean way to tie multiple labels, weights, inouts and outputs to a single model. At first glance it seems pretty widely supported which may make it worthy of further invesitgation.

support.hdfgroup.org<http:

[2018-03-16 18:09] shntnu commented on #1152
Our research focus is on assessing the impact of compounds and genetic perturbations on cells’ morphology, as imaged by microscopy, so I thought we'd chime in with some thoughts.

We recently wrote a best practices [paper](https://www.ncbi.nlm.nih.gov/pubmed/28858338) together with nearly 20 other labs on the computational/statistical workflow for this kind of experiment. Most of that is focussed

[2018-03-16 19:16] rbharath commented on #1160
@simonfqy I believe that the fingerprints are very conceptually close. It's effectively the same implementation in practice with minor efficiency tweaks I think. Are there any particular differences that you think might make a difference here? If so, we'd welcome your help on duplicating.

[2018-03-16 19:18] rbharath commented on #1159
+100. We could make a website on the page. We could even add a tutorial walking rapid-fire through all the various model usages.

[2018-03-16 19:30] rbharath commented on #1154
Building off the discussion in #1152, I think we probably want to ship pretrained image models, perhaps the same set that Keras does. Shipping the pretrained Aspuru-Guzik autoencoder would add value as well I think. We could eventually add on a Junction tree variational autoencoder model (or more advanced molecular autoencoders).

[2018-03-16 19:30] rbharath commented on #1154
@lilleswing The `include_top` option sounds good to me. We probably want to just write a nice tutorial about how to use it.

[2018-03-16 20:23] lilleswing opened #1161 "Make Dataset Accept List of X, y, w, ids"
How can we do this gradually without breaking current datasets?

This would enable us to get rid of the ConvMol class and get closer to @peastman 's idea that datasets hold tensors only.

It would also help with new features needed with Image Models.

[2018-03-16 20:24] peastman commented on #915
Individual TensorGraph layers already work nicely with eager execution, as shown in #1158.  We should also consider adding eager execution support for TensorGraph as a whole.  I'm thinking of another version of `predict()` that takes a list of input tensors and returns a list of output tensors.  Possibly all we need to do is make `predict_on_batch()` accept either a tensor or a numpy array for `X`

[2018-03-16 20:35] simonfqy commented on #1160
@rbharath I didn't completely understand the implementation details. However, from what I understand, it seems that the neural fingerprint takes into account the higher-order neighbors of the atom under investigation within a graph distance specified by "radius", while `GraphConv` does not take into account of the higher-order neighbors when calculating the feature vector for each atom. This seems

[2018-03-16 20:37] rbharath commented on #1160
@lilleswing Would love your thoughts here. Does this match your recollection?

[2018-03-16 20:39] rbharath commented on #1143
I'd recommend simple toy datasets. The goal is to just work through the mechanics of the API on the simplest possible example.

[2018-03-16 20:40] rbharath commented on #1150
Closing the issue since it looks to have been resolved.

[2018-03-16 20:40] #1150 closed

[2018-03-16 20:40] pvskand commented on #1143
Okay.

[2018-03-16 21:54] rbharath commented on #1161
Also, this would let us unify the `DataBag` concept into the standard `Dataset` object so we don't need to do special training for our standard uses.

[2018-03-16 21:57] rbharath commented on #915
@peastman We might consider making a `TensorGraph` callable. That is, `TensorGraph.__call__(tensor)` is syntactic sugar for `TensorGraph.predict(tensor)`. This would behave similarly to how `Layers` are callable now and could enable nice tutorial demonstrations of how to make predictions with models in Eager mode.

[2018-03-16 22:09] rbharath opened #1162 "Standardizing on spelling "Multitask" rather than "MultiTask""
We have some inconsistent spelling with some models being named "Multitask" and others "MultiTask." Let's standardize on "Multitask" so APIs are consistent.

[2018-03-16 22:14] rbharath commented on #1138
We talked it over and decided that @lilleswing's proposal of adopting (Model, Regressor, Classifier) postfixes make sense. We're going to adopt it for naming broadly.

@mlgill Please feel free to go for it. Thanks for taking on the PR!

[2018-03-16 22:16] rbharath commented on #1157
I think this will be fixed in tf 1.6 according to the comment in this issue: https://github.com/tensorflow/tensorflow/issues/17106

[2018-03-16 23:06] rbharath commented on #1162
I'm marking this a "Good First Contribution". If you'd like to implement this feature, please leave a comment here and raise a pull request marked "[WIP]" tracking your progress.

You will need to go through the repository and change all the spellings of "MultiTask" to "Multitask." Since this is a breaking change, you will need to make sure that the old name still works and issues a deprecation wa

[2018-03-16 23:37] rbharath commented on #1154
Copying over notes from our steering committee meeting (will be posted on blog soon):

[2018-03-18 07:14] lannguyencs18 opened #1166 "AttributeError: 'module' object has no attribute 'nn' in MNIST GAN tutorial"
Hi! While I was trying to run the MNIST GAN tutorial on my jupyter notebook, I found this error:

in create_discriminator(),
        conv = layers.Conv2D(num_outputs=32, kernel_size=5, stride=2,
                    activation_fn=dc.nn.model_ops.lrelu(0.2), normalizer_fn=tf.layers.batch_normalization,
                    in_layers=data_inputs)
        AttributeError: 'module' object has no attribut

[2018-03-18 15:53] pvskand commented on #1154
@rbharath , why our own weights? Any specific reason. I guess the weights here can be stored in the keras format. (to maintain consistency)

[2018-03-18 16:36] souravsingh commented on #1162
@rbharath I am interested in working on this.

[2018-03-18 18:46] souravsingh commented on #986
@rbharath I have made an implementation of the paper in Tensorflow. I will need some time to write it in deepchem.

[2018-03-18 22:21] mlgill commented on #1138
@rbharath @lilleswing OK, I have updated just the `GraphConvModel` class. The CI build is still running, but everything has been committed [here](https://github.com/deepchem/deepchem/pull/1167). Feedback welcome.

I'm happy to take on additional renaming tasks in this issue (perhaps one at a time) if you're interested. I'll update with a pull request once I've started a task in case others want to

[2018-03-18 23:36] peastman commented on #1166
The results are random, so it'll be different every time you run it.  Sometimes it converges to a generator that only produces 1s.  Other times you get 7s and 9s.  I've occasionally seen it produce a mix of 3, 5, and 8.  Try running it a few times.

[2018-03-19 12:10] mehmettan opened #1168 "SeqToSeq Tutorial"
Hi everyone,

I am a new user of deepChem and trying to reproduce the results on seq2seq tutorial under examples/notebooks. However no matter what I do, I can not reproduce the results given here. I am executing the whole notebook as it is, don't get any errors, but the results are not even close. I get much larger autoencoder errors and so none of the compounds can be exactly decoded. Is there so

[2018-03-19 13:41] mehmettan commented on #1168
Below is the output. With this, only 80 out of 500 validation compounds can be exactly reproduced. In tutorial it is like 363.

2018-03-19 15:25:47.440144: I tensorflow/core/platform/cpu_feature_guard.cc:140] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2 FMA
2018-03-19 15:25:47.548620: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:898] successful

[2018-03-19 14:21] lilleswing commented on #1157
yep apparently CUB is not versioned the same as tensorflow.  Title updated.

[2018-03-19 14:54] lilleswing commented on #1168
So I reran it this morning on latest master and got 378 of 500 reproduced.

![selection_106](https://user-images.githubusercontent.com/1225605/37602902-c27dc2ac-2b63-11e8-911f-85819eb4da37.png)

Have you run it multiple times?  Are you always getting these types of results?

[2018-03-19 17:04] lilleswing commented on #1138
This PR can serve as an example for how to rename future models.
https://github.com/deepchem/deepchem/pull/1167

[2018-03-19 17:49] lilleswing commented on #1160
Our implementation and "neural fingerprints" are incredibly similar.  From their paper.

![selection_107](https://user-images.githubusercontent.com/1225605/37612438-a0e5d0ae-2b7b-11e8-9d92-b33024a39968.png)

The differences are...
line 9: We use a relu by default vs their "smooth" function.  I'm not sure what function they actually mean here
line 10: We do a batch-norm instead of a softmax.  Both

[2018-03-19 17:57] lilleswing commented on #1154
I believe @rbharath was mearly stating that we would want to store the weights in our own infrastructure for safe-keeping and testing, not a hard statement of the formats of the weights.  We don't want to pin our code working to moving target github repos or things that might disappear as much as possible.

[2018-03-19 18:33] peastman opened #1170 "Transformers should support tensors"
Transformers are currently implemented to operate on numpy arrays.  We should consider extending them so they can also operate on tensors.  This would allow them to be used in Tensorflow's eager mode.  In #915 we discussed letting `predict_on_batch()` accept tensors, but right now the `transformers` argument wouldn't work.  This also would let MultiTaskFitTransformRegressor support `make_estimator

[2018-03-19 18:40] lilleswing commented on #1170
+1 ANI1 Transformer is a good example. (Although our latest benchmarks will probably move them back over to cpu-land for more performance)

[2018-03-19 19:04] simonfqy commented on #1160
@lilleswing Thank you very much for your reply. Will find the time to implement it. Do you mean that the length of the list `graph_conv_layers` in `GraphConvTensorGraph` corresponds to the `radius` in neural fingerprint?

[2018-03-19 20:00] lilleswing commented on #1160
@simonfqy exactly correct.

[2018-03-19 21:27] souravsingh commented on #1071
I can try this for autoencoders, unless there is some better model.

[2018-03-19 21:29] souravsingh commented on #1015
I am interested in working on this.

[2018-03-19 22:08] pvskand commented on #1154
Aah. I See. I got it.

[2018-03-19 22:57] simonfqy commented on #1094
I think I have found out the source of the problem. The code below would behave as I desired:
[code]
The reason my previous code does not work is that I have initialized the `saver` before the `fit_generator()`, at which point the graph only has 1 global variable, which is `v1`, and the `saver` is actually saving nothing else but the value of `v1` each time `saver.save()` is called.

[2018-03-20 01:46] ghutchis commented on #1122
Here are the SDF files with corrected coordinates. Catenate as you wish.
https://www.dropbox.com/s/hu1xjkauk5dmfec/QM9-sdf.tar.bz2?dl=0

Here's a CSV with the PM7 heats of formation (3rd column - first 2 are filename and DFT atomization)
https://www.dropbox.com/s/16h0bk5l1z5b368/qm9-pm7-hof.csv?dl=0

Here's a CSV with the PM7 atomization energy (3rd column - first 2 are filename and DFT atomizatio

[2018-03-20 05:27] miaecle commented on #1122
Thanks for sharing these files! We do notice the worse performance and tried to push it with hyperparameter search.(though doesn’t help a lot) The coordinate issues might exactly be the source. I could take care of the updating, thanks!

[2018-03-20 08:03] mehmettan commented on #1168
Yes, I ran multiple times, similar results.

[2018-03-20 17:31] #1126 closed

[2018-03-20 19:15] rbharath commented on #1170
+1. This sounds like a useful addition.

[2018-03-20 19:17] rbharath opened #1171 "Training DeepChem Models in Eager Mode"
Following discussion in #1158, it's looking like it will take a good bit more effort to train DeepChem models in Eager mode. Let's use this issue to coordinate discussion of the steps we need to take.

https://github.com/tensorflow/models/blob/master/official/mnist/mnist_eager.py provides an example of training an MNIST eager model. The model itself is defined in https://github.com/tensorflow/mode

[2018-03-20 19:28] rbharath commented on #1015
@souravsingh Great! Could you start a pull request marked "[WIP]" that tracks your on-going implementation efforts? We can help debug issues there.

[2018-03-20 19:34] rbharath commented on #1162
@souravsingh Could you open a pull request marked "WIP" that tracks your on-going implementation progress? You should be able to use #1167 as a template for how to make the renaming change.

[2018-03-20 19:37] rbharath commented on #1166
@lannguyencs18 Good find on the naming issue!

Fixing the GAN tutorial in the way indicated above would be a good first contribution. Is someone is interested in taking on the fix, please leave a note here.

[2018-03-20 19:40] rbharath commented on #1157
Now that #1165 is merged in, I'm marking this issue open for contribution. This issue should be a good first contribution for beginners. You will need to remove the CPU pin (https://github.com/deepchem/deepchem/blob/master/deepchem/models/tensorgraph/layers.py#L2492) from the `GraphGather` layer and submit a pull request. Please leave a note here if you're interested in taking this issue on.

[2018-03-20 19:46] peastman commented on #1171
Take a look at https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/layers/base.py and search for occurrences of "eager".  You'll find first that the Tensorflow layer classes have a lot of code specifically to deal with eager mode, and second that a lot of that code is to throw exceptions when people try to use features that aren't currently supported!

Anyway, Tensorflow layers

[2018-03-20 19:46] rbharath commented on #1071
@souravsingh I susepct we might want to try with the plain graph convolutions first since I believe LIME is intended for supervised learning work.

[2018-03-20 19:49] rbharath commented on #1171
Good analysis!

I think it would be worth it for us to split the TensorGraph method apart so we can do variable construction and tensor creation separately. Probably better to bring our codebase to more closely match emerging tensorflow standards.

[2018-03-20 20:25] peastman commented on #1171
Let's think about how that can work.  It somewhat interacts with two features we already have, and might replace them.

`create_tensor()` has a `set_tensors` argument.  Usually that's `True`, which means to operate in the normal way.  That's how it's called by `TensorGraph.build()`.  It constructs all variables and tensors and sets the layer's `out_tensor` field.  If it's `False`, it basically doe

[2018-03-21 02:08] #1094 closed

[2018-03-21 02:15] simonfqy commented on #1160
@rbharath @lilleswing Can you please add a `Contribution Welcome` label to this issue? So that we could discuss the progress of the new feature if there are people other than me thinking about doing it themselves. Thanks!

[2018-03-21 02:18] simonfqy opened #1172 "What is the point in having GeneratorEvaluator?"
Hi, I was examining the code for `GraphConvTensorGraph` and found that it uses `GeneratorEvaluator`. It seems that `Evaluator` could do the job for `GraphConvTensorGraph`. What is the point of having a separate `evaluator` class which evaluates according to `generators`? Is it only for faster implementation (I assume) or are there other significances with the decision? Thanks.

[2018-03-21 02:24] rbharath commented on #1160
@simonfqy Done! I've marked this intermediate level since it will take some understanding of how to implement the neural fingerprint model precisely.

[2018-03-21 02:33] simonfqy commented on #1172
It calls `TensorGraph.evaluate_generator()`, which in turn calls `GeneratorEvaluator`. You can see it here.
https://github.com/deepchem/deepchem/blob/2fbd119c44ffbb38234cc6bfbc6a96001d481c7d/deepchem/models/tensorgraph/models/graph_models.py#L862

And yes, I am asking the general usage. I don't know what is the necessity for having it in addition to `Evaluator` class.

[2018-03-21 02:41] rbharath commented on #1171
I think the `out_tensor=False` case was originally added with Eager in mind :). I think we'd be fine to change that behavior. I think `Layer.shared()` does see some usage though, so we might want to preserve it's present behavior.

I'm still trying to gauge how much code we'll have to change. As you point out, the TensorFlow team looks like they had to change a lot of their layers to make Eager wo

[2018-03-21 14:06] NichitaDiaconu commented on #1166
Hello, I reran the whole the notebook with activation_fn=dc.models.tensorgraph.model_ops.lrelu(0.2) . Removed all the irrelevant .ipynb generated things as @peastman suggested. I also made a pull request #1174

[2018-03-21 14:47] tanlab commented on #1168
I also tried to install from source using conda. However, after the installation, I get the following error when trying to execute _dc.molnet.load_muv() :_

ImportError : No module named 'pandas.indexes'

[2018-03-21 15:05] mehmettan commented on #1168
To try the latest version, I installed from the source with conda. However, this time I get the following error when executing _dc.molnet.load_mv()_:

ImportError : No module named 'pandas.indexes'

Should I install another version of pandas?

[2018-03-21 18:46] peastman commented on #1171
Here's a more detailed proposal.  If this sounds reasonable, I can get started on implementing it.

`create_tensor()` can be called in three modes:

1. `set_tensors=True`.  This is how it gets called by `TensorGraph.build()`.  Eager execution must not be enabled.  Specifying `set_tensors=True` in eager mode is an error and should produce an exception.  `in_layers` must *not* be specified.  `create

[2018-03-21 22:06] jananikrish92 commented on #856
Do you have examples for ACNN or tutorial?

[2018-03-22 02:40] peastman commented on #1171
Creating unit tests for this is going to be a problem.  `enable_eager_execution()` has to be called at the very start of the program, before doing anything at all with Tensorflow.  Once you've done anything else, even creating a single tensor, that Python session is committed to graph mode, and `enable_eager_execution()` will throw an exception.  Likewise, if you do call it at the very start, that

[2018-03-22 04:34] peastman commented on #1171
Ok, digging through the Tensorflow source code I discovered they have a completely undocumented(!) mechanism to handle this.

[code]

And yes, you can actually have alternating blocks of `with context.eager_mode()` and `with context.graph_mode()`, and thus switch back and forth between the two modes.  I guess they don't want people actually doing that, since it could easily lead to bugs.  But how

[2018-03-22 07:40] mehmettan commented on #1168
I managed to solve the problem with the latest version. The last problem I wrote above is due to the existance of the old muv files. When I upgrade to the latest version of deepchem, such errors occured. I removed the old files, the problem is gone. Thanks,

[2018-03-22 07:40] #1168 closed

[2018-03-22 16:52] davidwhealey opened #1175 "label masking for missing data in multitask models"
I'm working with the ToxCast data set packaged in deepchem, of which the majority of the labels are NaNs, presumably because of sparse coverage of the assays.  When examining the resulting deepchem dataset, it seems like the NaNs have been filled with zeros.  Replacing NaNs with zeros without masking during training and evaluation may drastically overestimate the predictiveness of the model. Is th

[2018-03-22 16:55] peastman commented on #1175
This is done with the weights matrix.  Any element corresponding to a missing measurement should have a weight of 0.

[2018-03-22 17:08] #1175 closed

[2018-03-23 16:55] mlgill commented on #1138
I am now working on renaming `WeaveTensorGraph` to `WeaveTensorModel`. WIP pull request [here](https://github.com/deepchem/deepchem/pull/1177).

If you'd prefer that I do multiple renames all at once (to minimize email/traffic) let me know.

[2018-03-23 16:56] peastman commented on #1138
I think that should just be "WeaveModel".

[2018-03-23 18:02] rbharath commented on #1138
@mlgill Awesome, thanks for taking this on! I also like `WeaveModel` for simplicity.

[2018-03-23 18:06] rbharath commented on #1142
The discussion in https://github.com/deepchem/deepchem/pull/1151 suggests that it's not currently feasible to add estimator support for TensorGraph models with submodels. As a result, `ProgressiveMultitaskClassifier` and `ProgressiveMultitaskRegressor` currently lack estimator support.

[2018-03-23 23:34] mlgill commented on #1138
OK, I've used WeaveModel. This should be ready and I've yapfed the files. There is a trivial merge conflict. I haven't resolved because I don't know if I'm supposed to be doing that.

[2018-03-24 14:26] souravsingh commented on #1157
Interested in working on this.

[2018-03-24 17:12] rbharath opened #1179 "Tutorial for Running Atomic Convolutions (ACNNs)"
We currently lack a tutorial for running atomic convolutions. Here's some of the material it would be good to cover in such a tutorial:

- Introduce the basic structure of the Atomic Conv model. The code for this model is here: https://github.com/deepchem/deepchem/blob/master/deepchem/models/tensorgraph/models/atomic_conv.py.
- Create an IPython notebook in https://github.com/deepchem/deepchem/tre

[2018-03-24 17:13] rbharath commented on #856
@jananikrish92 Not currently. I've opened out an issue (https://github.com/deepchem/deepchem/issues/1179) to coordinate the construction of such a tutorial.

[2018-03-24 17:19] nitinprakash96 commented on #1179
Can I work on this?

[2018-03-24 17:20] rbharath commented on #1159
I'm opening this issue for contributors. For now, to fulfill this issue, create an IPython notebook in https://github.com/deepchem/deepchem/tree/master/examples/notebooks that walks through all available DeepChem models and their required input datatypes. You should be able to use the notes @lilleswing has made above to get started.

If you're interested in taking on this issue, please leave a not

[2018-03-24 17:25] rbharath commented on #1179
@nitinprakash96 Yes please go for it! Could you open a "WIP" pull request to track your on-going progress?

[2018-03-24 19:54] nitinprakash96 commented on #1179
#1180

[2018-03-25 17:39] souravsingh commented on #1015
Sure

[2018-03-25 23:18] mlgill commented on #1138
I am fixing the remaining TensorGraph model names [here](https://github.com/deepchem/deepchem/pull/1181):

[code]

[2018-03-26 01:50] rbharath commented on #1138
@mlgill Awesome, thanks for taking this on!

[2018-03-26 13:06] latticetower commented on #781
Hi, I would like to work on this issue

[2018-03-26 13:50] #1157 closed

[2018-03-26 18:21] #1166 closed

[2018-03-26 18:22] lilleswing commented on #1115
There are still bugs in the implementation of this.

None can not be automatically be coerced into a string.  We have to go through all the load functions and cast None to a string when creating the save_dir variable.

[2018-03-26 18:30] nitinprakash96 commented on #1115
@lilleswing I'll open up a PR for this.

[2018-03-26 21:06] lilleswing opened #1185 "SDF loader should load tasks from SDF File"
Right now we need a side car file *.sdf.csv that is aligned with the sdf file

If the file does not exist we should look for the "tasks" as properties in the SDF file itself.  If the property does not exist we should return None.

[2018-03-26 21:06] lilleswing commented on #1185
This is something that frequently confuses beginners.

[2018-03-27 00:56] nggih commented on #779
I would like to work on this issue.

[2018-03-27 01:31] rbharath opened #1186 "Adding tests for graph layers"
The layers in `dc.models.tensorgraph.layers` have a useful collection of unit tests in https://github.com/deepchem/deepchem/blob/master/deepchem/models/tensorgraph/tests/test_layers.py. These tests typically assert that the output of each layer has the correct shape.

However, the layers in `dc.models.tensorgraph.graph_layers` lack equivalent tests. This issue coordinates the construction of these

[2018-03-27 01:52] peastman commented on #1186
Just checking the shape of the output is a long way from being a sufficient test.  It's unfortunate that many of our existing tests don't do anything more than that.  We should try to improve them with time.  For new tests, though, we really should try to do better.  A test should verify that the output is correct, not just that it has the right shape.

[2018-03-27 02:19] rbharath commented on #779
@nggih Great! Could you create a WIP pull request to track your implementation progress?

[2018-03-27 02:48] rbharath commented on #781
@latticetower Great! Could you open up a WIP pull request to track your on-going implementation progress?

[2018-03-27 02:51] nggih commented on #779
very sorry I am very new with git, did the WIP pull request created?

[2018-03-27 02:53] rbharath commented on #779
Yep, looks good https://github.com/deepchem/deepchem/pull/1187

[2018-03-27 03:15] simonfqy commented on #1172
@rbharath @lilleswing I hope that you answer this question. Besides, I found that in the following line, https://github.com/deepchem/deepchem/blob/0e21722f930af0380aa7392dcf22770ce22cb740/deepchem/models/tensorgraph/models/graph_models.py#L827 there is a comment saying:

I am not quite sure the validity of this sentence for `GraphConvModel`. Maybe the last batch of the epoch has a smaller size? I

[2018-03-27 06:26] WesleyyC opened #1188 "MPNN Edge Network Implementation"
For the Edge Network in MPNN, the paper is doing A x h, but the implementation is doing elementwise product with broadcasting and has to do a reduce sum to get the right size:

https://github.com/deepchem/deepchem/blob/281a1e050ac5ef7ce4c8d481a96c44e8816e88c6/deepchem/models/tensorgraph/graph_layers.py#L928

I think a batch mode matmul makes more sense. Therefore, to replace this line:

[code]

I

[2018-03-27 06:40] miaecle commented on #1188
@WesleyyC Hi, thanks for raising the issue! Since `tf.matmul` supports this kind of operation, I totally agree with this change. Please feel free the initialize a PR!

[2018-03-27 09:02] nggih commented on #779
After reading the deepchem [Features](https://deepchem.io/docs/deepchem.models.tensorgraph.html#deepchem.models.tensorgraph.layers.Feature) documentation, I think I understand how the create_tensor works.
I got some questions, I believe I need to use `Feature(shape=(None, n))` as input layer? then we put the `x+2` layer, right?
For the `x+2` layer, should it be written as in this TensorGraph [exam

[2018-03-27 14:42] souravsingh commented on #1186
@rbharath I am willing to take a stab at the issue.

[2018-03-27 21:11] WesleyyC commented on #1188
@miaecle please see the PR. Thanks!

[2018-03-28 00:38] WesleyyC opened #1192 "Where to find the chosen hyperparameter?"
I am trying to reproduce some of the benchmarks on Molnet. Do you know where I can find the optimal hyperparameters used to generate the benchmark? I have tried the follow the code in example but still not able to get to the listed result.

Thanks!

[2018-03-28 05:38] miaecle commented on #1192
@WesleyyC Hi, the download link for hyperparameters is in the docstring of `benchmark.py`
http://deepchem.io.s3-website-us-west-1.amazonaws.com/trained_models/Hyperparameter_MoleculeNetv3.tar.gz

[2018-03-28 05:50] mottodora opened #1193 "How to support MoleculeNet from another library"
Hi! I am a developer of ChainerChemistry which implements some graph convolutional neural networks based on Chainer framework.
MoleculeNet is very awesome. I totally agree with its philosophy and concept. So we, ChainerChemistry team, would like to support MoleculeNet dataset and provide some algorithms to learn them.
Can we download MoleculeNet dataset from your S3 freely?  What lisence is used f

[2018-03-28 06:07] WesleyyC commented on #1192
Awesome, this is super helpful. Thanks! @miaecle

[2018-03-28 06:07] #1192 closed

[2018-03-28 18:48] rbharath commented on #1186
@peastman Good point. What are some good additional tests we could add to check functionality?

@souravsingh Want to pick one layer to start? This is going to be a big set of changes. Thanks!

[2018-03-28 18:50] rbharath commented on #1172
It's possible that this could be refactored for simplicity but not sure. I'm unfortunately on mobile for the next couple days mainly so hard to do an in-depth read.

CC @peastman who might be able to help

[2018-03-28 21:51] jananikrish92 opened #1194 "Graph Convolution on drugs"
We have only smiles data from BindingDB, we want to create graph convolution. In the example on Tox21 the dataloader takes in tasks which we do not have. Could anyone give a way to execute the graph convolution for other datasets?

[2018-03-28 22:25] peastman commented on #1172
I've never understood why `Evaluator` exists at all. :)  `fit()` and `predict()` are just implemented directly within the model.  I don't know why `evaluate()` is different, though I assume there's a reason.

[2018-03-28 22:49] peastman commented on #1186
The ideal situation is if you can create a very simple case where you know exactly what the correct output should be.  Then you can check for the exact output you were expecting.

[2018-03-29 01:19] rbharath commented on #1194
You should be able to do this. Try checking out our graph convolutional tutorials for examples of building graph convs from smiles.

[2018-03-29 02:55] mlgill commented on #1138
Have moved the deprecation warning to the constructor method, per [this](https://github.com/deepchem/deepchem/pull/1181#issuecomment-376938610) issue, in the pull request [here](https://github.com/deepchem/deepchem/pull/1196).

[2018-03-29 13:16] lilleswing commented on #1172
Yes I agree that the current state of affairs for evaluation is pretty bad.  It is legacy code when we were going for more of a compositional approach vs an OO approach towards building models.

It was compounded by the fact that at the time of writing that code we were worried about storing all the response variable in RAM and wanted to stream them.  We have since given up on this worry and frequ

[2018-03-29 16:12] DJDrennan opened #1197 "AttributeError: 'module' object has no attribute 'utils'"
I'm in ipython, working through my first tutorial -Graph Convolutions For Tox21. When I get to the line to import deepchem as dc, it expands and does a lot of things, and gives me what looks like an error on importing numpy as np. However, if I type import numpy as np, it works fine. if I backup to the previous line, import deepchem.utils.rdkit_util as rdkit_util, and try that by itself, I get the

[2018-03-29 17:54] lilleswing opened #1198 "Learning to Plan Chemical Syntheses"
https://arxiv.org/pdf/1708.04202.pdf

Monte Carlo Tree Search to discovery Synthetic Routes.  Was published in Nature today.

We already have a start with MCTS class.  This is a very interesting paper.

[2018-03-29 18:31] rbharath commented on #1198
I'd be very interested in seeing (even a partial) reproduction of this paper in DeepChem. It sounds like they've made a number of big qualitative leaps forward.

The big challenge will be that Reaxys isn't an open dataset and we'd be limited to the open source patent dataset.

[2018-03-29 20:34] allchemist opened #1199 "List of methods"
Hello,

Is there a list of ready-to-use deepchem methods (possibly with links to correct examples)?

[2018-03-29 20:35] WesleyyC commented on #1188
Fix is merged

[2018-03-29 20:35] #1188 closed

[2018-03-30 01:08] jananikrish92 commented on #1194
We have another model for that is written in tensorflow, we want to combine the output of graph conv and the other model to further train the entire system. How can we get the result of the graph conv using tensorflow (not using fit_generator)?

[2018-03-30 12:37] zhouhao-learning opened #1200 "After the installation is successful, the test is wrong"
When I installed the successful deepchem with CONDA in the installation tutorial, the last step was to run the test, but when I tested it, there was a problem, as follows
`ERROR: test_combined (deepchem.feat.tests.test_rdkit_grid_features.TestRdkitGridFeaturizer)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/project/git/deepchem/

[2018-03-30 13:21] lilleswing commented on #1200
We run the tests on every merge to master, and this test can not failed for months.  The setup for our continuous integration is Ubuntu 14.04 in both python 2.7 and 3.5.

The error you are getting is rdkit sanitizing a molecule.  One hypothesis is something went wrong and you have an older version of RDKIT which can't sanitize the pdb file.  Can I look at your conda environment to help debug this?

[2018-03-30 13:25] lilleswing commented on #1199
We don't have anything better than the tutorials at this point --
https://deepchem.io/docs/notebooks/index.html

There are two open issues to make this better though for new users.
https://github.com/deepchem/deepchem/issues/1159
https://github.com/deepchem/deepchem/issues/1137

[2018-03-30 13:29] lilleswing commented on #1197
My theory is that you somehow got two different versions of DeepChem installed in your conda environment.

What method did you use to install DeepChem?

[2018-03-30 13:42] DJDrennan commented on #1197
I didn’t.  I inherited the installation from someone who is no longer with the company and have been trying to learn it.  How do I check this ?

From: Karl Leswing [mailto:notifications@github.com]
Sent: Friday, March 30, 2018 9:30 AM
To: deepchem/deepchem
Cc: Diana Drennan; Author
Subject: Re: [deepchem/deepchem] AttributeError: 'module' object has no attribute 'utils' (#1197)

My theory is that

[2018-03-30 14:08] lilleswing commented on #1197
Without knowing how it was installed it is very difficult for me to speculate how to uninstall it, or to check if there are conflicting versions in the install.  It is however very easy to install a fresh copy of deepchem (and then you know you are on the latest version).

Latest Stable --
[code]

Or Master --
[code]

[2018-03-30 17:52] pvskand commented on #1200
As far as I remember this problem had earlier come up in the gitter channel. My advice would be to install this in separate conda environment instead of directly installing it. It avoids all the conflicts of versions. If even this doesn't solve the problem, post your conda environment here and we someone would be able to help you.

[2018-03-31 09:08] zhouhao-learning commented on #1200
@lilleswing
My system is　ubuntu16.04
The following is the CONDA environment after I installed deepchem

`(deepchem) zh@zh:~$ conda list
# packages in environment at /home/zh/anaconda3/envs/deepchem:
#
absl-py                   0.1.13                    <pip>
asn1crypto                0.24.0                   py35_0    conda-forge
astor                     0.6.2                     <pip>
blas

[2018-04-01 16:21] mlgill commented on #1138
If there are any remaining models to be renamed let me know. Otherwise I will assume everything is complete here.

[2018-04-02 01:26] zhouhao-learning commented on #1200
@lilleswing
Do I have a problem with my environment?How should I pass my test? Because I encountered errors when I was running your official examples.

[2018-04-02 04:31] patrickhop opened #1203 "PowerSign Optimizer"
Google recently discovered some new optimizers using AutoML-style approaches. Would be fun to see how their PowerSign optimizer compares to Adam in our domain.

https://arxiv.org/pdf/1709.07417.pdf
https://www.tensorflow.org/versions/master/api_docs/python/tf/contrib/opt/PowerSignOptimizer

[2018-04-02 15:57] peastman commented on #1198
That's a really nice paper.  Here are a few thoughts about it.

Although they're using MCTS, this isn't reinforcement learning.  They train solely on a database of reactions developed by humans.  This is similar to the original version of Alpha Go, but without the additional training through self play.

This paper reinforces the what I found about MCTS when implementing it here: speed is absolutel

[2018-04-02 16:56] sachanganesh opened #1204 "Dataset metadata for those used in examples?"
As a newcomer to computational chemistry, I'm finding it difficult to find the source for certain datasets that are hosted in deepchem's AWS server. I've been specifically looking for papers or dataset websites.

For example, with the KINASE dataset I was confused by what the features were supposed to describe. Is there a paper relevant to it that has this information?

[2018-04-02 20:07] rbharath commented on #1204
We should improve our documentation here, but as a first pointer, most of our datasets are listed in http://moleculenet.ai.

The KINASE dataset is from [this paper](https://pubs.acs.org/doi/abs/10.1021/acs.jcim.7b00146)

[2018-04-02 22:47] miaecle opened #1205 "Learning rate decay"
In the `TensorGraph` class, learning rate could be set to either a constant float or a `LearningRateSchedule`. I assume that the `LearningRateSchedule` should be used if we would like to do learning rate decay, is there any example on this?

[2018-04-02 23:02] rbharath commented on #1138
@mlgill I think that's everything. Thanks for the contributions!

Going to go ahead and close this issue.

[2018-04-02 23:02] #1138 closed

[2018-04-02 23:17] peastman commented on #1205
A few of the examples do this.  Here's one: https://github.com/deepchem/deepchem/blob/f51c17e6fe72ca24f2ffdba519acb757ffe15fc2/examples/pcba/pcba_tf.py

[2018-04-02 23:24] rbharath commented on #1194
Hmm, as I understand it, you want to get the output layer from the graph-conv so you can combine it with your custom TF model to jointly train.

@peastman Does the new callable support for `TensorGraph` enable these types of use cases?

[2018-04-02 23:30] miaecle commented on #1205
@peastman Very helpful! Thanks for the guide!

[2018-04-02 23:30] #1205 closed

[2018-04-02 23:33] peastman commented on #1194
It does indeed.  When working in eager mode, you can pass inputs to the model and get the corresponding outputs represented as tensors.  Then you can do more calculations based on those, and gradients should be tracked correctly through the whole process.  The code was just merged today so we don't have a tutorial on it yet, but hopefully we will soon: see #1158 and particularly https://github.com

[2018-04-03 04:11] rbharath commented on #1198
@peastman Would it be feasible for us to build a fast MCTS framework using cython or numba? It's starting to feel like MCTS rollouts are a fundamental primitive that's going to keep popping up

[2018-04-03 09:01] mottodora commented on #1193
Thank you very much for information!

[2018-04-03 09:01] #1193 closed

[2018-04-03 16:18] peastman commented on #1198
That seems possible.  The environment would also need to be implemented in a fast way though.  In this case, that means the routine that takes a set of molecules and a candidate reaction, and computes the new set of molecules and a score.

[2018-04-03 19:28] jananikrish92 opened #1206 "import deepchem error"
ImportError: numpy.core.multiarray failed to import error on ubuntu.
Is there a fix?

[2018-04-03 19:29] abster12 commented on #1206
make a seperate environment for deepchem.This error is due to version mismatch of packages.

[2018-04-03 19:38] jananikrish92 commented on #1206
I have installed in conda environment and yet i get the same error

[2018-04-03 19:40] abster12 commented on #1206
Did you clone the repository and follow the instructions as given in the readme?

[2018-04-04 10:37] abster12 commented on #1206
I am sorry but that seems to be a problem with your conda, Try recreating the environment and if that still gives a conda environment error you can try reinstalling anaconda or miniconda

[2018-04-04 19:32] sachanganesh commented on #1204
Thank you!

[2018-04-04 19:32] #1204 closed

[2018-04-05 16:47] lilleswing commented on #1203
More fun would be to reproduce the study over our graph based models and MoleculeNet datasets to see what a good optimizer is for Graph Based Molecular models.

Also it is interesting how this relates to population based training which essentially uses a genetic algorithm to determine optimal learning hyper-parameters.

[2018-04-05 17:58] anusurendra commented on #1206
@jananikrish92 @abster12 , I am having a similar problem. I installed deepchem using conda and have created a conda environment `conda create --name deepchemtest040518` and activated by `source activate deepchemtest040518`. However, when I run python and import deepchem `import deepchem as dc`. I get a module not found error. If I run pip list it seems that `deepchem (2.0.1.dev3186)` is present. A

[2018-04-05 18:01] peastman commented on #1206
@anusurendra could you quote the full error message?  Is it not finding `deepchem`, or some other module that is indirectly used by it?

[2018-04-05 18:04] anusurendra commented on #1206
@peastman thanks for that. I have updated my question with the full error message.

[2018-04-05 18:09] peastman commented on #1206
Are you sure they're both referring to the same Python environment?  Try `which python` and `which pip`.

[2018-04-05 18:26] anusurendra commented on #1206
@peastman the output for `which python` is `/home/surendraa/anaconda3/envs/snowflakes040518/bin/python` and the `which pip` is `pip 9.0.3 from /home/surendraa/anaconda3/lib/python3.5/site-packages (python 3.5)`

[2018-04-05 19:12] lilleswing commented on #1203
Drop in replacement and hyper-parameter scanning is a first pass scientific task though.

[2018-04-05 21:25] jananikrish92 commented on #1206
can deepchem be installed in windows?

[2018-04-05 22:07] patrickhop commented on #1203
Agreed. Do we have the statistical power to identify an increase in performance of like 1%? I assume that's what we're talking about here.

[2018-04-06 02:29] simonfqy opened #1208 "A question about variable scoping in gaussian_process.py"
Hi, in my customized implementation of `deepchem/hyper/gaussian_process.py`, I wanted to specify the model directory using a variable named `model_dir`, so that I can launch `TensorBoard` using that directory as `logdir`.
However, after including `model_dir = "./model_dir"` in the parameter list of function `hyperparam_search()`, and when I wanted to use `model_dir` in its subfunction `f()` as a p

[2018-04-06 05:44] miaecle commented on #1208
@simonfqy Are you using `model_dir` also as a parameter for the search function `f`?  We utilized pyGPGO for this search, which might not support anything other than int or float (which is also written in the doc). If your `model_dir` doesn't change across the search, I will suggest you just define it out of `f` like `metric` and all datasets. Or you might want to try rebuilding the string accordi

[2018-04-06 15:59] allchemist opened #1209 "How to toggle CPU/GPU, and use specific GPU card?"
Hello,

what is the proper way to set device? I wrap model building into "with device", and set os.environ["CUDA_VISIBLE_DEVICES"], but seems that nothing changes, and it tries to run default device.

What can i possibly do in such case?

[2018-04-06 20:04] simonfqy commented on #1208
@miaecle I didn't pass it as a parameter for the function `f`. I have solved the problem, but just curious as to why.

[2018-04-06 20:24] rbharath opened #1210 "Improved Hyper Parameter Tuning Support"
There's been a lot of requests for better hyperparameter tuning. Let's kick off this issue to discuss how we can have better support. Some early ideas:

- Better TensorFlow Experiment support using the tf.Estimator bridge?
- Cluster integration with tools like KubeFlow? (https://github.com/kubeflow/kubeflow)
- An in-depth tutorial on hyperparameter tuning on a challenging dataset?

CC @peastman @l

[2018-04-06 20:24] rbharath opened #1211 "Uncertainty Handling for TensorGraph"
There have been a lot of requests for better uncertainty information from DeepChem models. Providing better support for uncertainty estimation would a lot of value to users. Let's use this thread to kick off a discussion for better support. Ideas:

- Ensembling models to estimate uncertainty (bootstrap style)?
- Dropout Uncertainty estimation support (https://arxiv.org/abs/1506.02142)?

CC @peastm

[2018-04-06 20:47] Agent007 commented on #1210
How about using Berkeley's [Ray Tune](http://ray.readthedocs.io/en/latest/tune.html)? I've not tried it myself yet, but it apparently has TensorFlow support.

[2018-04-06 21:41] peastman commented on #1211
We already discussed this some under #1119.  Shall we keep discussing it there, rather than splitting the conversation between two issues?

[2018-04-06 22:27] peastman commented on #1211
The discussion there already moved on to the need for multiple methods.

[2018-04-06 22:28] rbharath commented on #1211
Closing in favor  of #1119.

[2018-04-06 22:28] #1211 closed

[2018-04-06 22:29] rbharath commented on #1119
Carrying over discussion from #1211: The uncertainty estimation is probably our most requested feature addition. Let's pick this thread up and see if we can make a gameplan for a reasonable implementation

[2018-04-06 22:49] peastman commented on #1119
Shall we perhaps make a list of different ways of computing uncertainty, then consider which ones we want to implement?  Here are the ones I know of.

1. Train and predict with dropout, as discussed above.
2. Train a collection of models and get a prediction from each one.
3. Add an output that contains an estimate of uncertainty and a corresponding loss term.

1 and 2 are comparable in the sense

[2018-04-06 23:03] rbharath commented on #1119
My guess is that 1/2 are what most people are looking for since they prove a form of confidence interval. 3 is pretty different and I think we'd be fine leaving it off from an initial implementation.

[2018-04-07 00:15] peastman commented on #1119
In a lot of cases, 3 is the more important factor.  Leaving it out could lead to really misleading results.

An easy way to understand the difference is to think of a linear model.  If your data is highly nonlinear, it will do a terrible job of fitting the data.  On the other hand, linear regression is deterministic.  If you run the fitting procedure several times, you'll get exactly the same resu

[2018-04-07 21:58] peastman commented on #1119
Certainly they're different from each other.  They're both based on the same idea though: create an ensemble of models, either by varying the dropout mask while holding the parameters fixed, or by varying the parameters while holding the dropout mask fixed.  Then you take the variation in their predictions as a measure of uncertainty.  Method 2 is more robust, but also very expensive.  Assuming yo

[2018-04-09 05:46] JZuegg commented on #1119
@peastman fine with me. I am currently offline for another week.

[2018-04-09 06:19] allchemist opened #1212 "Random seed"
Hello,

What is the correct way to set random seed for the whole training procedure? tf.set_random_seed seems not working

[2018-04-09 12:47] mlgill commented on #1210
I was going to suggest Ray as well -- I'm just getting ready to incorporate it with some work that I'm doing, so I'll probably have more thoughts next week.

[2018-04-09 12:59] mlgill commented on #1185
I just developed code to read the secondary properties from an SDF file for a project at work. So I can take this on this week or over the coming weekend.

To make sure I'm clear -- is it desirable to only read from the SDF file or should the ability to read a CSV as an alternative be preserved (albeit with tighter integration in the function call and docstrings)?

Finally, I'd love to get opinion

[2018-04-09 18:13] peastman commented on #1206
I think we're discussing two different issues here.  The original one was an error importing numpy.  That's caused by having an out of date version of numpy installed.  Try `conda update numpy` and see if that fixes it.  If not, you may have something else installed that's pinning to the old version.  Try installing DeepChem in a clean environment.

The second issue is an error importing deepchem

[2018-04-09 18:39] rbharath commented on #1185
@mlgill Awesome, glad to hear you're taking this on.

I think we will want to preserve the CSV reading as an alternative for backwards compatibility.

Good point that extra properties may not all be tasks. If it's not too painful, supporting features and tasks would be useful I suspect.

[2018-04-09 20:40] peastman opened #1214 "What is predict_proba() for?"
For each of the `predict*()` methods in TensorGraph, we have a second completely identical method where `predict` is changed to `predict_proba` in the name.  What are these for?  Are they just there for historical reasons?  Should we remove them?

[2018-04-09 22:11] rbharath commented on #1214
I believe that `predict_proba` was used by the classifier models at some point. This no longer appears to be the case (https://github.com/deepchem/deepchem/blob/master/deepchem/models/tensorgraph/fcnet.py#L171 calls the superclass method). I think we should be fine getting rid of it.

[2018-04-09 22:15] miaecle commented on #1214
Is it also related to the compatibility of sklearn models? For random forest and logistic regression these two methods should be different.

[2018-04-09 22:28] peastman commented on #1214
Actually, MultitaskClassifier does implement them differently.  `predict_proba()` just calls the superclass method, but `predict()` overrides it to return the argmax.  This is the sort of inconsistency I've been fighting against, where the outputs returned by `predict()` don't correspond to the actual outputs of the model.  Just to make things worse, it only overrides `predict()`, not `predict_on_

[2018-04-09 22:29] miaecle commented on #1212
@allchemist Thanks for raising the issue. As far as I know, setting `np.random.seed` and `tf.set_random_seed` are all you can do, but there still exist numerical errors that may accumulate through training, causing different performances. The range of variation will depend on dataset and training length.

[2018-04-10 02:56] rsangikagit commented on #1204
How can I read the output file model_weights.h5?

[2018-04-10 17:09] peastman commented on #1214
And to make it even worse: until I changed it last month in #1106, the output of MultitaskClassifier was logits, not probabilities.  So `predict_proba()` didn't actually return probabilities!

[2018-04-10 19:14] peastman opened #1216 "Why does NumpyDataset reshape arrays?"
I just spent a couple of hours debugging some really strange behavior, and eventually tracked it down to the following lines in the `NumpyDataset` constructor:

[code]

Why is it reshaping the arrays?  It's enforcing a hardcoded restriction that the labels can never have multiple dimensions per sample, which basically rules out using it with any model that produces multidimensional output.  Why?

[2018-04-10 21:54] rbharath commented on #1216
My guess is this was added in at some point to standardize the shape of `y` to make tests pass.

This seems like a bug. We shouldn't be enforcing this restriction since we're definitely going to have models with multidimensional outputs.

[2018-04-11 03:39] herbert0525 opened #1217 "How can I obtain each of the training, valid, test datasets with the format of csv files in the tutorial "Graph Convolutions For Tox21"?"
Hi, I was about to extract training_dataset, valid_dataset and test_dataset from the code of this tutorial, at first I tried pandas.DataFrame and to_csv to get respective CSV files, but there was a traceback "ValueError: DataFrame constructor not properly called!"  So I thought perhaps these were already split into 3 CSV files, and I used the pandas.read_csv function and tried to print them. Howev

[2018-04-11 11:30] dmoccia commented on #1217
@herbert0525 if you go [here](https://github.com/deepchem/deepchem/tree/master/datasets) you can download the full tox21 dataset as a csv.gz file.  When you run the code example (for instance one of [these](https://github.com/deepchem/deepchem/tree/master/examples/tox21)) deepchem either is accessing this file to build what is called a DiskDataset which is a specially formatted featurized version

[2018-04-11 18:11] rbharath opened #1219 "TensorFlow Probability"
https://medium.com/tensorflow/introducing-tensorflow-probability-dca4c304e245

TensorFlow just announced support for better uncertainy modeling with a new `tfp` package. Might be worth looking into as we improve our uncertainty support.

CC @peastman

[2018-04-11 19:28] peastman commented on #1214
I suggest we clean all of this up, standardizing on the following principles.

1. Models should almost never override any of the predict methods.  Whatever the outputs of the graph are, that's what `predict()` should return.  Some very atypical models may add their own prediction methods (e.g. `SeqToSeq`), but even then they should be new methods, not overriding the existing ones.

2. For classifi

[2018-04-11 19:30] rbharath commented on #1214
I'm on-board with all these suggested predictions. Will make behavior more intuitive for users.

[2018-04-11 22:33] miaecle commented on #1217
@herbert0525 Yes, it might be a bit tricky to write a DiskDataset to a csv file. For the case of tox21, smiles for all samples in the dataset could be accessed through `dataset.ids`, labels and weights can be accessed through `dataset.y` and `dataset.w`(note that a weight of 0 indicates an empty entry in the corresponding label, though the label will appear to be 0). You should be able to write th

[2018-04-12 08:10] miaecle commented on #1217
@herbert0525 Weight is used mostly in multitask classification datasets. In the original csv file, for each individual task, the labels of all samples could be positive(y=1), negative(y=0) or unavailable(no entry, or y=nan). Weight is first used to indicate the availability of each data point, with 0 meaning the label here is unavailable and it will hence not be counted in loss or evaluation. It i

[2018-04-12 09:13] herbert0525 commented on #1217
OK, I think I have got what I need. Thank both of you.

[2018-04-12 09:13] #1217 closed

[2018-04-12 17:46] dewshr opened #1220 "cannot install deepchem on python 3.5"
I can install without including python version 2.7 but when I specify python version in **"conda install -c deepchem -c rdkit -c conda-forge -c omnia deepchem=2.0.0 python=3.5"**, i am getting following error:
UnsatisfiableError: The following specifications were found to be in conflict:

deepchem=2.0.0 -> libgfortran==3.0.0=0
deepchem=2.0.0 -> python[version='>=2.7,<2.8.0a0']
python=3.5

[2018-04-12 18:11] lilleswing commented on #1220
This is happening on OSX -- I verified this bug is indeed happening, but I don't know how to fix it as of now.

I would recommend following the instructions to install from source until then.  Sorry for the inconvenience.

[code]

[2018-04-13 12:56] xiaohongniua opened #1222 "cannot joblib.load 'shard-0-w.joblib'"
I write out  train dataset to disk and get 4 files 'shard-0-w.joblib' 'shard-0-y.joblib' 'shard-0-ids.joblib' 'shard-0-X.joblib'
I can joblib.load 'shard-0-ids.joblib' file , however, the other 3 files got an KeyError, what is wrong?

array(['1_1_13', '1_1_24', '1_1_39', ..., '10_63_70', '10_63_84',
       '10_63_90'], dtype=object)

<class 'numpy.ndarray'>

Traceback (most recent call last):
  Fi

[2018-04-14 11:34] allchemist opened #1223 "Text CNN issues"
Hello, pls get some feedback about textcnn model:
* your chars dictionary is not full and misses some symbols, like '@'
* model.predict throws error if in test dataset there is a smiles char which was not presented in train set

[2018-04-14 11:37] allchemist opened #1224 "How deepchem deals with missed values?"
Hi,

when i looked into what values "dataset.y" stores, i found just zeros in places for missed values. So do you just substitute missed values with zeros, or there is some hidden mechanism about it?

[2018-04-14 11:46] allchemist commented on #1212
I'm sorry to say, but this cannot happen because of floating point errors - the results are completely different at start after first epoch. Also afaik fp errors are deterministic.

[2018-04-14 17:56] rbharath commented on #1224
`dataset.w` assigns a weight of 0 to missing values which means that these values are not used during training.

[2018-04-14 18:01] allchemist commented on #1224
Probably the best solution. Thanks!

[2018-04-14 22:28] miaecle commented on #1223
@allchemist Good catch! We only include the common characters in the default dict, to include other characters you need to call `build_char_dict`. For the second question, I think this makes some sense since if you meet with a totally unseen character in your testing even human will not be able to tell its meaning. The practical solution would be to combine `char_dict` separately built on train, v

[2018-04-16 21:11] abster12 commented on #1203
Do I need to add the PowerSignOptimizer to the optimizer.py in deepchem to use it?

[2018-04-17 06:37] pvskand commented on #1220
@lilleswing @dewshr, as discussed on Gitter with @XinyuuLi, this is a problem caused due to the new conda version as mentioned here : https://github.com/rdkit/rdkit/issues/1617. One solution to this could be to downgrade the conda version until there are some updates on the above mentioned thread.

[2018-04-19 20:52] amandajean119 opened #1231 "method hyperparam_search in class GaussianProcessHyperparamOpt throws error with Python 3"
In the method hyperparam_search in the class GaussianProcessHyperparamOpt, the following lines generate an **AttributeError: 'dict_keys' object has no attribute 'remove'**

[code]
In Python 3, dict.keys() produces a view object, rather than a list, as Python 2 does: https://docs.python.org/3/library/stdtypes.html#dict-views
This view object has no method remove. An easy fix is just casting this as

[2018-04-20 05:58] jaechanglim opened #1232 "bug in mpnn"
I think that the indentation of line 104 in deepchem/contrib/mpnn/mpnn.py is wrong..

it's indentation level should be one below

isn't it?

[2018-04-20 07:48] miaecle commented on #1231
@amandajean119 Good catch! This method is developed under python2 environment and I missed the compatibility issue here. Please feel free to initiate a PR to fix this!

[2018-04-20 16:40] vid33 opened #1234 "MPNN does not work on classification tasks"
It seems that getting an MPNN model to converge on a classification tasks, e.g. on tox21, is extremely tricky.

I've experimented with a number of things, like trying different activation functions, using the Weave gather layer instead of the more complicated set-to-set model used in MPNN.

Convergence issues seem to be largely independent of the choice of learning rate, and even the number of rec

[2018-04-20 18:02] rbharath commented on #1234
@miaecle has some experience getting MPNN to converge on MoleculeNet and might be able to help.

In general, I'd recommend checking out the MoleculeNet parameters for MPNN and seeing if those work for you.

[2018-04-20 18:16] miaecle commented on #1234
@vid33 Thanks for trying this! MPNN is first designed for QM9 tasks and hence does not support classification in our implementation. I am also pretty curious on how the model perform on our standard classification sets. Just to clarify, by convergence, do you mean that the model performance(loss) will fluctuate?

[2018-04-20 18:27] vid33 commented on #1234
Thanks for your thoughts. Yes, the optimisation algorithm is pretty much doing nothing - the output is close to random, auc \approx 0.5 for all tasks, and the loss might decrease a little for an epoch or two, but then keeps oscillating. Either it's a silly mistake in my implementation, or there's a deeper reason related to the use of recurrent layers.

[2018-04-20 18:29] miaecle commented on #1234
@vid33 I see, that's weird. I will also try to take a look here. Similar thing has happened to weave before, which is solved by just reducing learning rate. Hyperparameter tuning here might be pretty tricky.

[2018-04-20 18:40] vid33 commented on #1234
Yes, I agree about about the hyperparameter tuning - fwiw I've tried reducing the learning rate to a very small value 1e-5 and below to no avail.  As the output of the message passing+update layer has the same format as the output of weave layers, I also tried using weave_gather instead of the set-to-set layer. As this doesn't seem to make any difference, assuming no silly errors, the issue presum

[2018-04-20 18:41] miaecle commented on #1234
@vid33 No problem, thanks for sharing! This is pretty helpful, I will try reproduce the model on tox21.

[2018-04-20 19:40] rbharath commented on #1231
@amandajean119 Thanks for the fix! Closing since #1235 has been merged in.

[2018-04-20 19:40] #1231 closed

[2018-04-23 17:08] ShivangiM commented on #1114
Hi! I would like to work on it.

[2018-04-23 18:58] lilleswing commented on #1232
@jaechanglim I think you are correct.  The code in contrib is held to a lower standard than the code in the rest of the repo.  A PR to fix this issue would be much appreciated!

[2018-04-24 05:55] zhouhao-learning opened #1236 "How do I save my training model and load the model files that I saved to predict? I didn't see the corresponding tutorials and steps. Can you give me a point?"

[2018-04-24 13:53] lilleswing commented on #1236
https://github.com/deepchem/deepchem/blob/master/deepchem/models/tensorgraph/models/test_graph_models.py#L45

We test a lot of our key functionality.  Looking through our model test code is usually helpful when trying to figure out how to do something.

[2018-04-24 17:53] peastman commented on #1203
I finally got around to reading the paper.  Very cool work.  I love this whole metalearning approach.  If deep learning works so well, then let's use it to figure out how to do deep learning better!

We should also add the linear cosine decay function they found.  That's already in Tensorflow (tf.train.linear_cosine_decay), so we can just wrap it in a new LearningRateSchedule subclass.

[2018-04-24 17:56] abster12 commented on #1203
Should I add it in the existing PR.

[2018-04-24 18:03] peastman commented on #1203
Sure, if you want.

[2018-04-25 01:16] zhouhao-learning commented on #1236
@lilleswing
Thank you for your advice. I found the way inside.

[2018-04-25 02:56] xiaohongniua opened #1237 "bug while using MultiTaskRegressor with tensorboard"
Hello, I am using MultiTaskRegressor with tensorboard, error as follows,but there is no error when I turn off tensorboard
ValueError                                Traceback (most recent call last)
<ipython-input-54-23701dd8deee> in <module>()
      9     log("hyperparameters: %s" % str(model_params), verbose=True)
     10     model = model_builder(model_params, model_dir)
---> 11     x=model.fit(

[2018-04-25 15:39] peastman commented on #1237
It's saying that your labels have the wrong shape.  Can you show the code you're using to call it?

[2018-04-25 21:19] patrickhop commented on #1203
before we close this, can someone run it on lipo or tox21? quite curious how this does.

[2018-04-25 23:21] rbharath opened #1238 "DeepChem 2.1 Release"
There's been a lot of DeepChem development since the 2.0 release. Notably, the addition of TensorFlow eager support and uncertainty estimation have added high value features. I think we're almost ready for a DeepChem 2.1 cut. Are there any other things we would need to get in before we can proceed?

[2018-04-26 02:53] zhouhao-learning opened #1239 "Won't the trained model be saved? I want to create a model of GraphConv, then save it and load it for training, but I can't save the non - trained model?"
This is the code I created the model
`model = GraphConvTensorGraph(len(tox21_tasks), batch_size=50, mode='classification',dropout=0.2,model_instance='keras',model_dir="/home/zh/0426")
model.save()`

But I got this mistake:
`Traceback (most recent call last):
  model.save()
session = self.session
AttributeError: 'GraphConvTensorGraph' object has no attribute 'session`

[2018-04-26 08:33] xiaohongniua commented on #1237
this is the code
import deepchem as dc
tasks = ['lable']
featurizer = dc.feat.CircularFingerprint(size=2048)
loader = dc.data.CSVLoader(tasks=tasks, smiles_field="smiles",id_field='id',featurizer=featurizer,log_every_n=10000)
dataset = loader.featurize('test.csv',shard_size=57330)

transformers = [dc.trans.NormalizationTransformer(transform_y=True, dataset=dataset)]
for transformer in transformers

[2018-04-26 16:53] lilleswing commented on #1239
When you instantiate a TensorGraph class you are building a graph under the hood whenever you add layers to it.

The layers are only added to a tensorflow session when  you call TensorGraph.build() (fit and predict call build under the hood if it is not already "built").

Also since you have not fit anything here there is nothing to save!  All the weights are still in their initial state.  If you

[2018-04-28 06:53] zhouhao-learning commented on #1239
@lilleswing
Hello, I didn't quite understand what you said last time. You said, I have to build on the model then it would be able to save. what do you say about it? Can it be specific?

[2018-04-28 07:11] zhouhao-learning opened #1240 "In the course of actual training, we need to display the corresponding ACC, loss, val_acc, and val_loss curves to observe the effect of the model training, but I didn't find this method in deepchem."
In the process of actual training, we need to display the corresponding ACC, loss, val_acc, val_loss curve, in order to observe the effect of the model training, but in deepchem, I have not found this method of.Is there a callback function that can. Ard only display loss curves, and does the validation set do, validation?

[2018-04-28 13:03] jieeshen-lilly opened #1241 "deepchem/examples/adme datasets are not accessible"
Seems those csv files are not available anymore?

def retrieve_datasets():
  os.system(
      'wget -c %s' %
      'https://s3-us-west-1.amazonaws.com/deep-crystal-california/az_logd.csv')
  os.system(
      'wget -c %s' %
      'https://s3-us-west-1.amazonaws.com/deep-crystal-california/az_hppb.csv')
  os.system(
      'wget -c %s' %
      'https://s3-us-west-1.amazonaws.com/deep-crystal-californ

[2018-04-28 23:52] jchodera commented on #1241
I can confirm that I can't access them either:
[code]

[2018-04-30 16:43] rbharath commented on #1241
I think the deep-crystal S3 bucket no longer exists.

@patrickhop Would it be possible to add these datasets to the DeepChem main S3 bucket?

[2018-05-02 07:57] zhouhao-learning opened #1243 "I think there should be a API document to use, like a deep learning framework such as tensorflow and keras, otherwise the function and usage of deepchem are not very clear, and this is not very friendly."

[2018-05-02 12:00] xiaohongniua commented on #1243
+1

[2018-05-02 14:01] lilleswing commented on #1243
I'm sorry you are having issue using DeepChem, we try our best but understand how it can be unfriendly to newcomers.

Our API Documentation exists on our website
https://deepchem.io/
https://deepchem.io/docs/deepchem.html

As well as tutorials which show how to use it for specific use cases
https://deepchem.io/docs/notebooks/index.html

[2018-05-02 14:04] lilleswing commented on #1240
Calculating these statistics is currently on the user.
If you turn on logging we do display the training loss periodically.

Calculating validation performance and validation loss require an additional validation dataset and take time that would otherwise be spent training the model, so it is currently on the user to train for the number of epochs they wish before doing validation..

Writing tools

[2018-05-02 14:08] zhouhao-learning opened #1244 "Unable to use generator prediction"
I train a model and save it under the folder, then load the model to predict, but I get the error.
this is code

       class Graphconv_Net(BaseNet):
	    def __init__(self, is_training, action_param, net_param,process, id,
		n_tasks,data,thread_safe_counter,name="graphconv",**kwargs):
		super(Graphconv_Net, self).__init__(name=name)
		self.is_training = is_training
		self.action_param = action_pa

[2018-05-02 14:09] lilleswing commented on #1243
If there is anything in particular that you think would be helpful we also accept PR's on our website!

https://github.com/deepchem/deepchem.io

Any html written on the website automatically gets pushed to production on a merged pull request.

[2018-05-02 14:12] lilleswing commented on #1244
Without the definition of tg() I can't tell what is happening here

[2018-05-02 14:16] zhouhao-learning commented on #1244
@lilleswing
Please look at me.

[2018-05-02 14:18] lilleswing commented on #1239
So TensorGraph has a two stage model building process.

1) When you call
[code]
TensoGraph goes through all the layers attached to the loss and output and registers them internally in TensorGraph.layers

This means that TensorGraph has a Graph Definition for the computation you wish to perform.

2) When you actually want to do things with the Graph
this calls TensorGraph.build() under the hood.  T

[2018-05-02 14:19] lilleswing commented on #1239
This two step process is different when working in eager mode.

[2018-05-02 14:32] zhouhao-learning commented on #1244
@lilleswing
This is all my code. Please help me look at it. I didn't quite understand what you just said. How should I correct it?

[2018-05-02 15:32] zhouhao-learning commented on #1244
@lilleswing
Thank you very much. Thank you very much. I will try your method tomorrow. Thank you!

[2018-05-02 17:38] #1236 closed

[2018-05-03 02:26] zhouhao-learning commented on #1243
@lilleswing
OK, thank you. I'll take it seriously.

[2018-05-03 17:55] rbharath opened #1245 "Cellular Modeling Support"
There's been a lot of interesting progress recently in cellular modeling. In particular, I'm thinking of this paper that creates a deep learned cell simulator:

https://www.nature.com/articles/nmeth.4627

The code for the simulator is open sources as well:

https://github.com/idekerlab/DCell

I wonder if there's a way to support this form of modeling work through DeepChem. I suspect this would be

[2018-05-04 06:14] Running-z opened #1246 "Prediction of TensorGraph model"
I use the TensorGraph to build a classification model, use the tox21 data you provide to train and save the model, then I load the saved model, use the'smiles'of tox21 data to predict, but I got the error, I see that you are given the evaluation of the official network, there is no real example of a prediction, I do not know. What should the data of the road forecast be like
This is part of the co

[2018-05-04 08:01] zhouhao-learning commented on #1246
+1+1

[2018-05-04 15:39] zhouhao-learning opened #1247 "Using TensorGraph's predict_on_generator () function, the number of predicted results is not correct."
When I use predict_on_generator to predict data, I have only 3 data, my batch_size=2, epochs=1, but finally I get 4 results, and I don't understand how this is calculated.
When batch_size=1, I predict that I will get 6 results again. How do I calculate this? I have only 3 data.

[2018-05-04 22:50] Chasearmer opened #1248 "Tensorboard tutorial not working"
Today I cloned the deepchem repository and tried running the code found in this tensorboard tutorial: https://deepchem.io/docs/notebooks/Using_Tensorboard.html

When I tried to view the tensorboard link after typing:
`tensorboard --logdir=model.model_dir`
the tensorboard page stated there was no data to view.

Please let me know what additional details to provide.

[2018-05-04 23:04] peastman commented on #1245
That's a really cool paper!  In some ways it's similar to a CNN.  They basically take a fully connected network, then remove all the connections except the ones they expect to be important based on domain knowledge.

This should be simple to implement with TensorGraph.  For each leaf node in the hierarchy, use a Gather layer to collect the inputs for the genes it includes.  Other than that, it's j

[2018-05-07 05:35] rbharath commented on #1245
@peastman Would it be feasible to build a framework for these types of simulations? I imagine people would want to use different cell types or other tweaks

[2018-05-07 09:00] Running-z opened #1250 "I don't want to use tensorboard., and I want to let deepchem save the current epoch, loss, and ACC as a CSV file every time you train a epoch. Do you have this function?"
@Agent007 @munky69rock

[2018-05-07 15:45] peastman commented on #1245
Sure.  We just need to decide how the structure should be specified.  Here are the things that need to be specified:

- The full list of genes.
- The set of genes in each leaf node.
- The child nodes of each higher level node.
- The number of outputs for each node.

We could possibly automate some of that, but not all.  For example, we can build in the GO hierarchy, but the list of nodes needs to

[2018-05-08 02:48] patrickhop commented on #1241
@rbharath this is my mistake. I deleted the DeepCrystal bucket recently.

I'll email you the affected datasets.

[2018-05-08 03:25] rbharath commented on #1245
This sounds like a good first list. I think a similar API doesn't really exist, so starting with a reasonable design without much automation and adjusting as we get community feedback on ontology specification should work well

[2018-05-09 03:47] emakryo commented on #1220
I have the same issue on macos. It seems the dependencies for python3.5 are too strict. For example, pyqt and pip are included in the dependency list of deepchem. These dependencies can be shown by `conda search -c deepchem deepchem --info`.

[2018-05-09 20:59] #1162 closed

[2018-05-10 01:01] Running-z opened #1253 "During training, you calculated loss, but there was no acc. If I need to calculate ACC, then how should ACC calculate?"

[2018-05-10 01:20] rbharath commented on #1253
Closing because question answered on Gitter.

[2018-05-10 01:20] #1253 closed

[2018-05-10 17:52] Chasearmer commented on #1248
It appears the issue was in the
`model = GraphConvModel(len(tox21_tasks),
                                            mode='classification',
                                             tensorboard=True)` line,
In order to use tensorboard I had to set the `model_dir` keyword argument.
Therefore, my code was
`model = GraphConvModel(len(tox21_tasks),
                       mode='classification',

[2018-05-10 18:02] rbharath commented on #1248
Good find! We'd welcome a PR that adds this needed information to the tutorial for TensorBoard beginners.

[2018-05-10 18:04] lilleswing commented on #1248
@Chasearmer your update is correct -- you have to launch tensorboard telling the system where the tensorboard files are (in the model directory).

[2018-05-11 19:50] pchanda opened #1255 "Protein ligand binding"
How is the data used in the examples located at "deepchem/examples/pdbbind/" featurized ? It will be helpful if the code is shared as there is minimal documentation for deepchem. Also any example on how to use deepchem Graph Convolutions to predict protein-ligand binding is most welcome.

[2018-05-11 20:58] chao1224 opened #1256 "Optimizer Hyperparameter for MoleculeNet"
Hi, I want to rerun some models reported from MoleculeNet.
I know the models are stored at [http://deepchem.io.s3-website-us-west-1.amazonaws.com/trained_models/Hyperparameter_MoleculeNetv3.tar.gz](http://deepchem.io.s3-website-us-west-1.amazonaws.com/trained_models/Hyperparameter_MoleculeNetv3.tar.gz), but can we also find other optimizer hyperparameters like learning rate, epoch number, batch si

[2018-05-11 21:02] peastman commented on #1256
I believe the hyperparameters used are the ones in https://github.com/deepchem/deepchem/blob/master/deepchem/molnet/preset_hyper_parameters.py.  Is that correct?

[2018-05-11 21:04] chao1224 commented on #1256
@peastman Thanks.
If so, this implies all models are using same hyperparameter when switching among different tasks right?

[2018-05-11 21:12] lilleswing commented on #1256
The final hyperparameters are here
Hyperparameters and all benchmark scripts for MoleculeNet are available at:
http://deepchem.io.s3-website-us-west-1.amazonaws.com/trained_models/Hyperparameter_MoleculeNetv3.tar.gz

They are stored as python 2.7 pickle files.

[2018-05-11 21:16] lilleswing commented on #1255
They are featurized using the RdkitGridFeaturizer
https://github.com/deepchem/deepchem/blob/master/deepchem/feat/rdkit_grid_featurizer.py

[2018-05-11 22:15] pchanda commented on #1255
Hi Karl,
Thanks for the info, I understand that. However, if there any code I can
refer to that shows how  RdkitGridFeaturizer is being used ? As deepchem
does not have any documentations (other than api's which do not provide any
more info than the code itself), it will be helpful to see any code that
does the featurization using  RdkitGridFeaturizer.
Thanks,
Pritam

On Fri, May 11, 2018 at 5:16

[2018-05-11 23:13] miaecle commented on #1256
@chao1224 Sorry for the confusion. @lilleswing is correct, we provided pickle files which stored dict of hyper parameters, which should include learning rate and batch size in most of them. `model_validation` folder provided codes and saved models that are used to compare our implementations with the original articles that proposed these models, details please refer to the appendix(SI) of Molecule

[2018-05-11 23:28] peastman commented on #1255
We also have a pretty big collection of tutorials: https://deepchem.io/docs/notebooks/index.html

[2018-05-11 23:31] pchanda commented on #1255
I am aware of the tutorials and looked into "Predicting Ki of Ligands to a
Protein". Can you point me to one example that uses  RdkitGridFeaturizer ?

On Fri, May 11, 2018 at 7:28 PM, peastman <notifications@github.com> wrote:

[2018-05-12 01:34] chao1224 commented on #1256
I see. So the files correspond to the hyperparameters, not model weights.
Thanks. @lilleswing @miaecle

[2018-05-12 01:34] #1256 closed

[2018-05-13 14:10] JJ1991Z opened #1257 "Package deepchem.nn not found"
Hi,

I am trying to re-run one the low-data python model examples. But received this following error msg:
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-17-3eb97c9e2a93> in <module>()
     52
     53 # Train support model on train
---> 54 support_model = dc.nn.SequentialSupportGr

[2018-05-14 17:45] abster12 commented on #1186
are there any usage examples that are present for these layers?

[2018-05-14 18:10] chao1224 opened #1258 "Failed to Reproduce Results for Weave"
Hi, I am looking for the regenerating weave module results as reported in [https://arxiv.org/pdf/1603.00856.pdf](https://arxiv.org/pdf/1603.00856.pdf).

I loaded the hyperparameter as reported from MoleculeNet [http://deepchem.io.s3-website-us-west-1.amazonaws.com/trained_models/Hyperparameter_MoleculeNetv3.tar.gz,](http://deepchem.io.s3-website-us-west-1.amazonaws.com/trained_models/Hyperparamete

[2018-05-14 22:13] peastman commented on #1186
These layers get used by the models in graph_models.py (https://github.com/deepchem/deepchem/blob/master/deepchem/models/tensorgraph/models/graph_models.py).

[2018-05-15 00:36] rbharath commented on #1248
@Chasearmer Great! Looking forward to seeing your PR. I think the TensorBoard tutorial you're referencing lives here: https://github.com/deepchem/deepchem/blob/master/examples/notebooks/Using_Tensorboard.ipynb

[2018-05-15 00:57] rbharath commented on #1257
@JJ1991Z Yes, good find. The one-shot models have not yet been converted into our new TensorGraph framework. I unfortunately haven't had the time to finish the port (https://github.com/deepchem/deepchem/pull/1084). If someone is interested in taking on the task, I'd love to see this happen though.

[2018-05-15 10:41] Running-z commented on #1247
@rbharath
This is my forecast generator code
`        for epoch in range(1):
            for ind, (X_b, y_b, w_b, ids_b) in enumerate(datasets.iterbatches(
                    50, pad_batches=False, deterministic=True)):
                d = {}
                for index, label in enumerate(labels):
                    if self.mode == 'classification':
                        d[label] = to_one_hot(y

[2018-05-15 13:43] chao1224 commented on #1258
@miaecle Sure.
Sorry I'm doing index splitting on delaney, and r2 is 0.872 instead of 0.756.
r2 reported from [https://github.com/deepchem/deepchem/blob/1a7642604c09fb04c8bdbbc07abc574c812ec2db/devtools/jenkins/results.table](https://github.com/deepchem/deepchem/blob/1a7642604c09fb04c8bdbbc07abc574c812ec2db/devtools/jenkins/results.table)

| Eval | Re-run | Reported |
| :--- | --- | --- |
| r2 | 0

[2018-05-16 18:01] #1216 closed

[2018-05-16 18:15] rbharath commented on #1247
@zhouhao-learning This is better, but we need an encapsulated small script to debug. We don't know what your dataset here is for example.

Can you construct a minimal failing example for us that we can run directly on our machines? We can't debug until we can easily repro your error.

[2018-05-16 22:17] Chasearmer commented on #1248
#1261

[2018-05-17 01:29] zhengmin317 opened #1262 "Error in saving a ProgressiveMultitaskClassifier model"
when deepchem/examples/tox21/tox21_tf_progressive.py is added with model.save(), it throws the following error:

  File "tox21_tf_progressive.py", line 39, in <module>
    model.save()
  File "/anaconda3/envs/py3.5/lib/python3.5/site-packages/deepchem/models/tensorgraph/tensor_graph.py", line 904, in save
    raise e
  File "/anaconda3/envs/py3.5/lib/python3.5/site-packages/deepchem/models/tensorg

[2018-05-17 02:31] Running-z commented on #1247
@rbharath
This is the data I used to predict.
[test.zip](https://github.com/deepchem/deepchem/files/2011430/test.zip)

[2018-05-17 17:00] rbharath commented on #1262
CC @miaecle, @lilleswing

I believe this is due to the use of submodel. Is there a good way we could add save features for submodel?

[2018-05-17 17:13] peastman commented on #1262
This should be pretty easy to fix.  We just need to clear fields in the Submodel object before saving.

[2018-05-18 02:12] zhouhao-learning opened #1263 "Operation error in Measuring Model Uncertainty Application Tutorial"
Your official website has an application tutorial called "Measuring Model Uncertainty", which uses the "MultiTaskRegressor" and "model.predict_uncertainty" functions, but when I run, I get a mistake without the "predict_uncertainty" function, why?

This is the running code
[code]

This is a mistake
`AttributeError: 'MultiTaskRegressor' object has no attribute 'predict_uncertainty'`

[2018-05-18 02:33] abster12 commented on #1263
Yeah the MultiTaskRegressor has been renamed to MultitaskRegressor that is why you are getting that error.

[2018-05-18 03:03] zhouhao-learning commented on #1263
@abster12
But your official web application is not updated. No one knows you have changed the function name.

[2018-05-18 03:04] abster12 commented on #1263
We must have missed it somehow , it will be updated .

[2018-05-18 03:07] zhouhao-learning commented on #1263
@abster12
Your "MultiTaskRegressor" has been renamed "MultitaskRegressor", but I can not get the "MultitaskRegressor" function now.

这是个错误
`y_pred, y_std = model.predict_uncertainty(test_dataset)`

[2018-05-18 14:37] #1214 closed

[2018-05-18 17:25] peastman commented on #1263
Both these changes (predicting uncertainty and renaming "MultiTask" to "Multitask") were made since 2.0 was released.  You can either use the development code, or wait for the next release.

There's a bit of a dilemma with the tutorials on the website.  Should they match the latest release, or the current development code?  Either way, they'll sometimes be incorrect for some users (either ahead of

[2018-05-18 17:48] rbharath commented on #1263
We may want to have a stable version of the tutorials and also a HEAD version for developers.

[2018-05-18 18:38] abster12 commented on #1186
will the parent class inherit from ```unittest.TestCase``` or I will have to use some other class for the tests?

[2018-05-18 18:55] peastman commented on #1186
It's best to subclass `tensorflow.python.framework.test_util.TensorFlowTestCase`.  It simplifies using TensorFlow in tests.  Look at test_layers.py (https://github.com/deepchem/deepchem/blob/master/deepchem/models/tensorgraph/tests/test_layers.py) for an example.

[2018-05-18 19:37] #1262 closed

[2018-05-18 19:39] peastman commented on #1096
Fixed in #1264.

[2018-05-18 19:39] #1096 closed

[2018-05-19 13:49] nitinprakash96 commented on #1179
Hi @rbharath sorry I've been caught up with exams and semester project reports. So took a little late to implement this. But its over now and I can start writing this tutorial.
Just to get my doubt cleared, I wrote the structure of ACNN as described by the paper(I thought it explained the best). And as for the featurization, how exactly do we need to present the tutorial? I mean the featurization

[2018-05-21 23:49] rbharath commented on #1179
Great to hear you can work on this again!

For the featurization part, I think it can be presented as a method of processing 3D structures to extract the neighbor information.

[2018-05-22 11:34] XinyuuLi opened #1266 "Negative dimension size in TextCNN"
Hi,

I met a problem with TextCNN.
The file contains the SMILES of small molecule fragments and their corresponding energies has been attached.
[test.zip](https://github.com/deepchem/deepchem/files/2026345/test.zip)
When I used the following script to do TextCNN training,
[code]

It returned with error as
[code]
This error looks like come from the length of SMILES of samples are not longer enough.

[2018-05-23 19:36] TBomberman opened #1268 "Need an amino acid fasta encoder as well as nucleotide."
https://github.com/deepchem/deepchem/blob/2817b1372c3fb787d2e2934c0bcc34b5f7e2a764/deepchem/utils/save.py#L134

[2018-05-23 20:55] rbharath commented on #1268
This would be a nice feature. I'm going to label it contribution welcome.

[2018-05-24 10:13] zhouhao-learning opened #1270 "The same model predicts the same data prediction, but the result is different."
Why do I use the same trained model to predict the same number of data, the results of the first and second predictions are completely different, or even different? The same model predicts the same data, and should not be exactly the same?
In my previous deep learning image recognition process, I used a trained model to predict the same data. No matter how many times I predict, the final results a

[2018-05-24 13:50] lilleswing commented on #1270
Hi @zhouhao-learning can you give me a complete working test case which shows this?  This should not be happening but I can't help without a working example.

[2018-05-24 13:57] herbert0525 opened #1271 "The tuning of parameters when added new classifiers"
From our point of understanding, the graph convolution model in your scripts is mainly used for the extraction of features,  thus the features are used for classification or regression. Therefore we are about to add some new classifiers, e.g. RF, SVM, DNN. So I wonder when it comes to the tuning of parameters, what should we count on more,  the parameters of the graph convolution model or those of

[2018-05-24 14:28] lilleswing commented on #1266
They hyper params by default in TextCNN are taken from ORGAN
[code]

As you can see the largest kernel_size is 20.  In your example the length of your sequences is 13.  You cannot apply a kernel which is longer than the sequence input.  The way to fix this would be....

[code]

[2018-05-24 14:35] lilleswing commented on #1266
Here is a PR so that in the future we will do this automatically for the user.

https://github.com/deepchem/deepchem/pull/1274

[2018-05-24 14:39] lilleswing commented on #1271
@herbert0525 I'm not sure what you are asking.

You can use our graph models to generate a "nerual fingerprint" and then use other models over it.  Currently the "neural fingerprint" is a learned representation which is optimal for having a linear relationship with this response variable.

We already support RF, SVM etc through our SklearnModel.
https://github.com/deepchem/deepchem/blob/master/dee

[2018-05-24 15:05] zhouhao-learning commented on #1270
@lilleswing
Hello, I prepared my data processing, training, prediction code, and test data. Can you help me to test it? In addition, my training function is extracted from deepchem alone, so I quoted your class.
[test.zip](https://github.com/deepchem/deepchem/files/2035896/test.zip)

[2018-05-24 15:21] lilleswing commented on #1270
@zhouhao-learning can you please make it a working reproduction of your issue.  While trying to run this code I am seeing bugs unrelated to your issue.

[code]

[2018-05-24 16:10] zhouhao-learning commented on #1270
@lilleswing
Sorry, maybe I just ignored a detail problem when I just picked up the code. I'm now in the early hours of the morning, the computer isn't around, and I'll give you a code instance that I've got to you tomorrow morning! Sorry

[2018-05-24 20:40] Chasearmer opened #1275 "Don't fully understand what GraphConv Layer does"
**Description:**
I've read the source code for the GraphConv layer a few times now and unfortunately I still don't quite understand it. I also read the paper suggested to me by Karl that the GraphConv is based on, but I still don't feel I fully understand what the deepchem layer is doing, which makes it difficult for me to know how to improve the layer and use it effectively. Could we discuss what

[2018-05-25 01:14] zhouhao-learning commented on #1270
@lilleswing
Hello, I gave you the test code that I would run normally and did not return any error. The deepchem version I used is a formal version of 2.0.0, where my "GraphConv_fit" class is a "GraphConvTensorGraph" class inherited from deepchem.
"My_task_weights" object is defined when building a model, isn't it?
![05050505050505](https://user-images.githubusercontent.com/24581773/40521021-fd98b

[2018-05-25 12:43] herbert0525 commented on #1271
@lilleswing Well, you mean the process of generating a fingerprint in your graph models can hardly be optimized, that's my understanding. Thus for a given dataset, the optimization will only be performed in the models used over the fingerprint, is that correct...

[2018-05-25 20:16] rbharath commented on #1266
Closing since #1274 has been merged.

[2018-05-25 20:16] #1266 closed

[2018-05-25 21:26] rbharath commented on #1275
@Chasearmer Could you explain the parts you feel like you get and the parts that you feel aren't clear? We can fill in the details from there.

[2018-05-25 21:59] Chasearmer commented on #1275
Yeah of course. I understand that the object passed to the GraphConv layer is a ConvMol, and I understand that the atoms are grouped by degree for the operations. What I do not understand is what sum_neigh does, what rel_atoms are vs. self_atoms, why both rel_atoms and self_atoms have a mat_mul operations and area then summed, and how at the end of this a fixed length vector is created.

[2018-05-26 02:22] ha01994 opened #1277 "AttributeError: 'numpy.ndarray' object has no attribute 'get_num_atoms'"
Hello,
I have Deepchem 2.0.0 and Numpy 1.13.3 and Tensorflow-gpu 1.5.0.
I am trying to run graph convolution model with my own dataset, and I keep coming across this error:

Traceback (most recent call last):
  File "run_benchmark_edit.py", line 305, in <module>
    benchmark_model("graphconv", all_dataset, transformers, metric='roc_auc_score', test=False)
  File "run_benchmark_edit.py", line 291,

[2018-05-26 16:36] tshauck commented on #1268
Biopython has an [`Alphabet`](http://biopython.org/DIST/docs/api/Bio.Alphabet-module.html) object which would probably work well here. It might it easier to support a wider variety of biological sequences.

Thoughts on adding it as a dependency vs a deepchem specific solution? Let me know what you have in mind scope-wise, and I can take a stab at this.

[2018-05-26 18:42] rbharath commented on #1268
@tshauck Yes, we'd be quite receptive to adding a `biopython` dependency. We've chatted about it a few times in the past already. Contribution would be welcome!

I think to start, maybe a simpler scope for the first PR for reviewing and debugging ease. As we figure out how to support the `biopython` dependency well, I think we'd be glad to see support for a wide variety of biological sequences.

[2018-05-26 18:53] rbharath commented on #1277
@ha01994 Could you attach a minimal failing code sample? If you could simplify it so we can run it locally without any additional information needed that would be very useful.

[2018-05-26 23:43] sophia-wright-blue commented on #1220
Is it possible to install from source without creating a new environment? I have a separate environment already for a ML project and would like to install deepchem in the existing environment. I'm using Python 3.6.5 on OSX. Thank you.

[2018-05-26 23:48] rbharath commented on #1220
@sophia-wright-blue You should be able to install in your existing environment, but there's a possibility that the requirements could conflict with your existing setup.

[2018-05-26 23:52] sophia-wright-blue commented on #1220
@rbharath Thank you for replying. I'm getting the same error as in the first post in this thread when using the conda install option, and the install from source instructions say that a new environment gets created, so I was wondering what the steps would be to install from source in the existing environment. I'm using Python 3.6.5 on OSX. Thank you.

[2018-05-27 00:50] peastman commented on #1220
You don't need to create a new environment.  Just make sure you have all the dependencies installed (see https://github.com/deepchem/deepchem/blob/master/scripts/install_deepchem_conda.sh), then execute either `python setup.py install` or `python setup.py develop`.

[2018-05-27 02:27] sophia-wright-blue commented on #1220
got it, i had to install a few modules manually and now i'm able to import deepchem, thank you!

[2018-05-27 05:09] zhouhao-learning commented on #1270
@lilleswing
Excuse me, can you run the test code properly? What is the reason for this problem?