[2017-03-16 21:39] miaecle commented on #469
Looks interesting, I am willing to take the job!

[2017-03-16 21:51] rbharath opened #472 "Adding save() and restore() to graph-conv/one-shot models"
The graph-conv and one-shot models have now been converted into pure Tensorflow. It should be relatively straightforward to add `save`  and `restore` methods that work for them using `tf.train.Saver`.

Contributed PRs welcome!

[2017-03-17 00:09] lilleswing commented on #471
RFC pull request here
https://github.com/deepchem/deepchem/pull/473

[2017-03-17 04:59] jchodera commented on #463
That's odd. For some reason, `deepchem` isn't showing up in the list of organizations in my linked GitHub account:
![image](https://cloud.githubusercontent.com/assets/3656088/24029506/fb0cb020-0aac-11e7-9ac2-0d8595abc23e.png)
Maybe it has something to do with the new GitHub teams vs organizations vs members?

[2017-03-17 05:12] evanfeinberg opened #475 "Several ops (esp. for multitask) not available in GPU"
@rbharath and I were experimenting with some tensorflow multitask models and noticed relatively low GPU utilization when running ```nvidia-smi```. When adding a ``` with tf.device('/gpu:0'):``` line, the TensorFlow graph failed to build due to an error stating that ```tf.split()``` did not have a GPU kernel. Potentially, these ops are actually being computed on the CPU. This could help explain the

[2017-03-17 17:08] lilleswing opened #476 "Travis Is Timing Out"
https://travis-ci.org/deepchem/deepchem/jobs/211983666

Did we add a lot of tests?
Which tests are taking the longest?
For longer running tests we might want to switch over to jenkins.

[2017-03-17 18:42] rbharath commented on #476
IIRC, the major time sink in the test suite is the autodock-vina runs in `dc.dock.tests`. I'll aim to swap these out with the GPU-vina (it will be half-baked at first, but should be fast :-))

[2017-03-18 23:57] rbharath opened #479 "MoleculeNet PyTorch Port"
PyTorch makes it much easier than Tensorflow to define dynamic models. Some cheminformatics deep models (notably http://pubs.acs.org/doi/abs/10.1021/ci400187y) are very dynamic and may be easier to implement in PyTorch than in DeepChem.

I'd like us to start building up a suite of PyTorch models. The install for PyTorch looks very simple (`conda install pytorch torchvision cuda80 -c soumith` for t

[2017-03-19 00:23] rbharath opened #480 "Better Support For Reaction ML in DeepChem"
Based off conversations (on Gitter and offline), it's becoming clear that DeepChem doesn't have great support for reaction chemistry. This would include support for file formats such as SMARTS and REACTION-SMILES, and would include MoleculeNet integration for public reaction datasets. In particular, I'd love to port the following paper (http://pubs.acs.org/doi/abs/10.1021/ci5006614) to DeepChem.

[2017-03-19 00:25] rbharath commented on #480
Also, props to @bowenliu16 for the great conversation that made me realize that DeepChem needed lots of reaction-handling improvements.

[2017-03-19 00:44] soumith commented on #479
hey guys, it's cool that you're thinking of a pytorch port. what kind of help could i offer?

[2017-03-19 00:51] rbharath commented on #479
@soumith Thanks for chiming in here! We really appreciate your efforts with PyTorch. For now, we're just starting work, so we don't have many concrete questions yet, but as we start porting models in https://arxiv.org/abs/1703.00564 over, we might have some feature requests to make.

Also, if you're ever in the Bay area, come by and say hi! Most of us are based at Stanford.

[2017-03-19 03:48] miaecle commented on #479
@soumith Hi, thanks for participating! PyTorch is a real wonderful package, it has been a pleasure to play around with it. We are currently still on the very first step of utilizing the model(and planning to use it to build up some more fancy models), will let you know if there is any concerns or requests!

[2017-03-19 11:28] mrwns commented on #480
Currently, I won't be able to write a lot of code myself (thesis ongoing...), but I can certainly join the discussion and have a look at PRs... after all, most of what we did for http://onlinelibrary.wiley.com/doi/10.1002/chem.201605499/full is in rdkit

[2017-03-19 23:20] rbharath opened #482 "Add PDBBind Protein-Protein and Protein-Nucleic-Acid sets"
The current version of MoleculeNet has the PDBBind Protein-ligand collection benchmarked. It would be nice to add the Protein-Protein PDBBind collection and the Protein-Nucleic Acid collections (also part of PDBBind) to the MoleculeNet benchmarks.

CC @miaecle

[2017-03-19 23:56] miaecle commented on #476
I believe tests for molnet also take quite some time, planning to swap to tests on smaller datasets.

[2017-03-20 06:17] rbharath commented on #480
I'm temporarily shelving this issue since it looks like we won't have enough manpower to take it on. Might reopen at some future point as things change.

[2017-03-20 06:17] #480 closed

[2017-03-21 23:35] peastman commented on #429
I've done some experiments on Tox21, and it looks like there's definitely some performance to be gained.  It's not huge, but not negligible either.  So I'd like to move forward to implementing this.  I'll start by adding queue support to `TensorflowGraphModel`, then move on to other classes once all the details are ironed out on that.

This will require some small API changes.  It won't affect the

[2017-03-22 17:02] joegomes commented on #429
@peastman LGTM, thanks for taking this on!

[2017-03-23 18:44] rbharath opened #486 "Remove OpenBabel references from README.md"
The `README.md` has a section on segfaults due to openbabel. Can likely get rid of this section.

[2017-03-24 23:21] rbharath opened #489 "Contrib Folder"
@lilleswing suggested offline that having a `Contrib` folder at the top level (next to `examples/`) might be a useful resource. DeepChem right now contains a mix of maturing models (suitable for users) and pretty bleeding-edge research code. For very research-y code, it's often more important to get the math right than to clean up the code into DeepChem style. The `Contrib` folder can serve as a n

[2017-03-25 21:29] rbharath opened #490 "NVIDIA-DOCKER support"
We currently have a docker image. Unfortunately, this docker image is CPU only. It would be great to get a NVIDIA-DOCKER image so that users can run DeepChem models on the GPU more easily.

[2017-03-27 00:29] codemarsyu opened #491 "How to uninstall it ?"
Some could help me about how to uninstall the package. I create conda environment to install the dependency and deepchem. Now how to remove the deepchem ? I rewrite part of the code and want to recompile it and replace it with the old package which is already sitting in env/chenenv/lib/python2.7/site-package/ .

Any help is welcome!

[2017-03-27 00:50] rbharath commented on #491
If you're developing, you can install with `python setup.py develop` so you don't have to remove old DeepChem after making changes. If you want to uninstall, an easy way is to just delete the `deepchem` package from within `site-package/`

[2017-03-27 03:30] cxhernandez commented on #491
Or `pip uninstall deepchem`

[2017-03-27 21:18] codemarsyu commented on #491
@rbharath Thanks for your reply! It is a good way to install the package by develop mod. In past few days, I install and remove those package again and again. So stupid! Thank you !

[2017-03-27 21:20] codemarsyu opened #494 "Can we cache the features from dataset ?"
Each time I rerun the benchmark, it will load and featurize the data samples. The process is very time-consuming and it may take minutes each run. Can we cache them somewhere ?

[2017-03-27 22:42] rbharath commented on #494
@miaecle This might be a nice upgrade for `dc.molnet` after the current large refactor. Probably best to have a flag added to the `load_X` constructors to determine whether or not caching should happen.

[2017-03-27 22:49] #491 closed

[2017-03-28 06:29] miaecle commented on #494
@codemarsyu @rbharath This is definitely a good idea, will try to make the change.

[2017-03-28 18:26] peastman commented on #471
Is this intended to replace `SequentialGraph`, or do we plan to maintain two different Keras-like modular APIs?

[2017-03-28 21:49] rbharath commented on #471
We discussed offline, but to document, the idea is to that `TensorGraph` be the parent superclass for all other DeepChem classes. So `SequentialGraph` would inherit from `TensorGraph` once refactored.

[2017-03-29 18:31] rbharath commented on #469
Now merged in. Thanks for quick turnaround @miaecle and for the suggestion @evanfeinberg!

[2017-03-29 18:31] #469 closed

[2017-03-29 18:32] rbharath commented on #427
Now merged in. Thanks @joegomes and @miaecle!

[2017-03-29 18:32] #427 closed

[2017-03-29 18:35] rbharath commented on #471
Now that #493 has been merged in, the major TODO is converting the models in DeepChem over to `TensorGraph`. Here is the current accounting for who's doing what:

- @lilleswing: Graph Convolutions
- @peastman: Fully Connected Multitask Networks
- @miaecle: DTNNs and DAGs

As a soft guideline, let's try to use `TensorGraph` for all new models (this will be bent of course, because research is often

[2017-03-29 21:46] #429 closed

[2017-03-30 20:05] XericZephyr commented on #494
Simple suggestion, maybe we can use `joblib` to do so.

For example,
[code]
which directly benefits from my new prototype design #485  as I mentioned in my note.

If you guys do not mind, I can take this issue and quickly adapt it to the outside benchmark dataset loading procedure.

[2017-03-30 20:14] XericZephyr commented on #489
I do think we can even completely split out the entire model section, **to another repo**, for both mature and bleeding-edge research code. This actually eliminates most heavy dependencies, e.g., tensorflow, making it extremely useful in many complex environments, e.g., CentOS-based clusters.

But the con side is this step is engineering expensive. We might need a plan and some additional efforts

[2017-03-30 22:25] rbharath commented on #494
@XericZephyr Definitely appreciate the offer, but I think this one would be better for us to do in-house since it will affect the architecture of a number of our internal models. We should have a prototype in a couple weeks, and would love to hear your feedback then

[2017-03-30 22:28] rbharath commented on #489
@XericZephyr We'd prefer to keep the models in this repo. While we're happy to share DeepChem with the community, we don't have the bandwidth to maintain multiple deepchem repos. We very much encourage community forks though that explore alternative design choices

[2017-04-01 01:48] peastman opened #498 "Simplify TensorGraph API"
I'm finding the TensorGraph API kind of cumbersome to work with.  This is mainly because you have to call `add_layer()` for every layer, which forces you to create a variable for every layer.  For example, suppose `a` and `b` are two layers.  As your loss function, you want to multiply them together and take the mean of all elements.  (This is a real example I came across.  `a` contains the cost f

[2017-04-01 02:22] rbharath commented on #498
Hmm, this is an interesting suggestion. The current structure of `TensorGraph` uses `add_layer()` to add nodes to the underlying graph structure for the model. While it is admittedly a little cumbersome, it gives us the power to construct arbitrary graph structures (arbitrary DAG to be precise). Once the graph structure is constructed, it's linearized, and the layers are called in bottom-up order

[2017-04-01 02:26] XericZephyr opened #499 "[BUG] HopV dataset wrong featurizer variable name."
In https://github.com/deepchem/deepchem/blob/master/deepchem/molnet/load_function/hopv_datasets.py

L35 should be:
[code]
This will allow customized featurizer input.

Will send a PR to fix it.

[2017-04-01 02:48] peastman commented on #498
I don't see the connection.  I'm not suggesting any change to how it would do computations.  You could still construct arbitrary DAGs, and you wouldn't need to directly interact with the underlying Tensorflow objects.  This is just a simplification to the API.

The main point is that we don't actually gain anything by calling `add_layer()`.  The graph can already discover every layer in the graph

[2017-04-01 04:42] miaecle commented on #499
@XericZephyr Did not notice the fault here, thanks for the quick fix!

[2017-04-01 19:02] #499 closed

[2017-04-01 19:12] rbharath commented on #498
This is a good point. I think I understand what you're getting at now.

Let me summarize what I understand of the proposal. I believe the key change required would be that the constructors for layers would take on the responsibility for getting the parents for that given layer. `add_layer` does this right now and stores all parent information in the `TensorGraph`, but the modification would store

[2017-04-01 22:54] peastman commented on #498
That's exactly what I had in mind.

[2017-04-03 17:05] rbharath opened #501 "Add images of architectures to README"
There are a number of very nice diagrams on the DeepChem associated papers. It would be nice to add copies of these pictures to the README as a guide to new DeepChem users about things the library can do.

[2017-04-03 17:15] lilleswing commented on #498
These changes sound good to me.

One thing that I would want to take into account when we change the API is handling of sharing weights.  The current architecture does not support it, and we know we have multiple architectures with sharing weights coming up.

I would prefer to make this change only if we can also see how it can handle "sharing" a layer between multiple inputs/outputs.

Keras solve

[2017-04-03 17:31] peastman commented on #498
If I understand that example, the Keras API treats layers as function objects?  And instead of passing the parents to the constructor, you invoke the object and pass the parents then?  So instead of `Multiply(a, b)`, you would write `Multiply()(a, b)`?

That's one way of doing it, though I find it a little obtuse.  It creates a confusing distinction between the layer itself and the result of invok

[2017-04-03 18:05] lilleswing commented on #498
I like
[code]

Then its each layers responsibility to allow sharing (the technical details will not come for free for any given layer.

[2017-04-03 18:11] peastman commented on #498
Now that I've read that Keras example, I think I understand some aspects of TensorGraph better that were confusing me before.  Like why you create the Tensorflow objects in `__call__()` instead of a private method like `_create_tensor()`.  I see now you were copying that from Keras.

We should decide what kind of API this is supposed to be.  Is it an API for creating Tensorflow objects, and those

[2017-04-03 18:16] lilleswing opened #502 "Lazy Load Some Imports With Warning"
XGboost doesn't exist on OSX via bioconda.
https://bioconda.github.io/recipes/xgboost/README.html

Should we lazy load these dependencies and file warnings for them?

[2017-04-03 18:23] lilleswing commented on #490
We are using the nvidia-docker image as the base.

That being said we don't know why we aren't getting GPU acceleration out of it.

[2017-04-03 18:24] rbharath commented on #498
Keras layers are very complicated under the hood. Part of this is due to Keras's support for both Theano and Tensorflow back-ends. This dual support necessitates multiple abstractions that make back-end Keras code pretty difficult to work with. The current minimal `Layer` objects in `TensorGraph` are much nicer to build on.

I like the idea of making Tensorflow objects that are explicitly exposed

[2017-04-03 18:27] lilleswing commented on #498
@rbharath it does not -- but it is a necessity to get the current work from Atomic Convs in.
https://arxiv.org/abs/1703.10603

I just thought to be less disruptive we should include a change which adds the power of sharing weights at the same time.

[2017-04-03 18:29] lilleswing commented on #498
@peastman the way I see it is an API which lets the user create Tensorflow objects which are Graph Scoped.

The API should also take care of issues for the user like
1. Saving/Restoring
2. Feeding in Data
3. Evaluation

[2017-04-03 18:30] peastman commented on #498
Ok, that's reasonable.  We still might want to consider creating them with a named method like `create_tensor()`, though.  The idea that a layer is a function doesn't seem very intuitive to me, and it's not at all obvious that calling it will return a Tensorflow object.

[2017-04-03 18:32] rbharath commented on #502
Sounds good to me. PR welcome :)

[2017-04-03 18:35] lilleswing commented on #498
@peastman yeah that was my thought when I was making it as well :) (Explicitly making it a create_tensor() instead of __call__ and then making the user create a lambda).  I think the reason we decided it was fine is because its already a design pattern in other libraries.

We should document it more because it is unintuitive though.

[2017-04-03 18:46] rbharath commented on #498
Thinking about this, here are a couple points to figure out:

1. In both the current/proposed setup, the parents of layers are other layers. How can a DeepChem layer be invoked in pure Tensorflow code where the parents will just be Tensors?
2. Should we remove `__call__()`? In the new design, the parents are passed into the constructor and invoking a layer via function-call like Keras is less mean

[2017-04-03 19:00] peastman commented on #498
How about a `Tensor` layer class that wraps an arbitrary tensor and allows it to be passed as a parent?  That would let you use a layer in Tensorflow code, but it would not work correctly going in the other direction (using an arbitrary tensor in a TensorGraph), so the graph should throw an exception if it sees you've tried to use one.

[2017-04-03 19:33] rbharath commented on #498
Ok, here's an summary of design changes for a `TensorGraph` API Change:

1. Remove `TensorGraph.add_layer()`. Move responsibility for getting parents to the contructors of `Layer` objects.
2. Retain functions like `TensorGraph.set_loss(layer)` or `TensorGraph.add_output(layer)` to tell `TensorGraph` what the outputs from the model are (make sure to support GANs, which have 2 different losses).
3.

[2017-04-03 20:39] peastman commented on #498
Maybe replace `set_loss()` with `add_loss()`?  Then when you call `fit()`, you specify which loss to use.  If there's only one loss you can omit that argument.  But if there are multiple losses, I suggest the argument should be required.  Arbitrarily picking one of them if the argument is omitted would create opportunities for bugs.

Then again, implementing GANs might take something a little more

[2017-04-03 20:40] lilleswing commented on #498
@rbharath , @peastman I'm not sure if (4) is possible.

 under the hood tensorflow instantiation of a Tensor is a mutative effect on the global graph.  It would not work unless you are already scoped in the graph of the Model.

It would have to be a lambda which gets executed while inside the appropriate Graph Scope.

[2017-04-03 20:43] lilleswing commented on #498
@peastman , were you thinking of setting the following objects on the model
1. outputs
2. inputs
3. loss
4. weights

Then after all were set and _build was called internally doing a flood fill algorithm from outputs and loss, and verifying that the graph included all inputs and weights?

[2017-04-03 21:09] peastman commented on #498
Is it necessary to add inputs and weights?  Or can those also be determined automatically?  For example, is there a case where the set of `Input` layers contained in the graph is different from the set passed to `add_input()`?  If the two could be different, we need to distinguish them in some way.  But if they'll always be the same, it's not necessary.

[2017-04-03 21:12] lilleswing commented on #498
@peastman would you suggest differentiating between Inputs and Weights via Layer Class?

[2017-04-03 21:57] rbharath commented on #498
@peastman I like the idea of `add_loss()` and having `fit()` accept a loss as an argument (if there's only one loss available, no need to specify). I think this should be enough for GAN training.

@lilleswing We can punt on this on (4) for this PR. Advanced users can always copy-paste code from the repo

[2017-04-03 22:00] rbharath commented on #498
@peastman @lilleswing I think weights can just be a type of `Input`. The weights are placeholders just like labels in the current multitask tensorflow code.

[2017-04-04 08:05] rbharath commented on #498
Here's an example of what a 2-hidden layer fully connected network would look like under the new API.

[code]

Looks pretty slick. Having `add_input()`, `add_output()`, and `add_loss()` methods in `TensorGraph` should let us control the 3 types of inputs needed by `TensorGraph`

[2017-04-04 15:48] lilleswing commented on #498
@rbharath labels now just a type of input?  Then a user will have to sometimes override _construct_feed_dict which takes (X_b, y_b, w_b) and put it in the correct tensors based on the lists of inputs.

[2017-04-04 16:38] peastman commented on #498
How will dropout fit into this?  Will it be built into each layer, or will there be a separate layer to do it?

[2017-04-04 16:44] lilleswing commented on #498
@peastman I think dropout works best as a layer, and then maybe also as an arg to common layers (i.e. dense)

[2017-04-04 17:40] rbharath commented on #498
@lilleswing I see what you mean. I think it would be nice to support the generic `add_input()`, but that might require more work. Let's just keep `add_features()`, `add_labels()`, `add_weights()` for now so making feed dictionaries doesn't become hard.

[2017-04-04 17:42] rbharath commented on #498
Updated version of example:

[code]

Still pretty slick :-)

[2017-04-04 20:32] lilleswing commented on #498
Yeah this looks good I can make the changes.

[2017-04-04 21:43] rbharath opened #503 "Site of Metabolism Predictor Implementation"
DeepChem currently has only limited tools for dealing with compound metabolism. There has been some cool research on using machine learning to predict sites of metabolism. It would be cool to duplicate these results in DeepChem:

http://onlinelibrary.wiley.com/doi/10.1002/cmdc.201700097/full

[2017-04-04 21:48] rbharath commented on #503
Hat tip to @dr-nate for pointing this paper out.

[2017-04-04 23:19] peastman commented on #498
After thinking about this a bit more, it seems to me it would be better to have three different classes for features, labels, and weights.  In the design above, you use the `Input` class for all three.  But the graph needs to know which are which to build the feed dict, so that requires having the `add_feature()`, `add_label()`, and `add_weight()` methods.  Instead, I suggest having separate `Feat

[2017-04-04 23:25] rbharath commented on #498
@peastman I like the proposal. Then only `add_output()` and `add_loss()` are required since `TensorGraph` can unambiguously figure out the labels/weights from the source nodes.

[2017-04-04 23:25] rbharath commented on #498
Updated Design:

[code]

[2017-04-05 22:28] lilleswing commented on #502
https://github.com/deepchem/deepchem/pull/506

[2017-04-06 00:43] #457 closed

[2017-04-06 00:44] lilleswing commented on #457
Resolved -- have to send from karl.leswing@schrodinger.com (A member of the group -- not no-reply@deepchem.io)

[2017-04-06 01:51] rbharath commented on #498
#505 shows a weakness in the current design: We can't properly handle graphs with multiple input placeholders. Most of the more complicated models (DTNNs, DAGs, Weaves, ACNNs) require multiple input placeholders. Writing custom `construct_feed_dict()` methods for each is going to get painful.

To deal with the issue in general, I have a proposed API change for `fit()`. Here are two API calls which

[2017-04-06 02:31] rbharath commented on #498
For fun, tried converting @lilleswing's `TensorGraph` graph-convs to proposed API:
[code]

Looks pretty slick! The new graph-convs are almost as concise as the original, but don't hide all the placeholders under the hood like the original implementation did.

We might want to add something like a `MultiTaskOutputs()` layer which adds the output heads. This will likely be a shared primitive for man

[2017-04-06 15:04] rbharath opened #507 "Message Passing Neural Networks"
Cool new paper from Google Brain that beats all previous benchmarks on QM9. It would be great to see how it does on MoleculeNet.

https://arxiv.org/abs/1704.01212

CC @miaecle

[2017-04-06 17:42] rbharath commented on #498
@peastman @lilleswing Would love your thoughts on whether the design makes sense!

@miaecle Would this proposed design be enough to implement the newer models like DTNN, DAGs, and other?

[2017-04-06 18:53] lilleswing commented on #507
No source code or network topology :( and you know they did it in tensorflow.

[2017-04-06 19:09] rbharath commented on #498
@lilleswing pointed out on #505 that this wouldn't quite be enough for graph-convs since we dynamically generate per-batch information. Here's a proposed extra API function:

[code]

Here `dict_generator` is a python generator which generates dictionaries of the form `{features_1: dataset_1, features_2: dataset_2, labels: dataset_labels}` (or whatever), one for each batch. This is essentially a pu

[2017-04-06 19:12] lilleswing commented on #498
Yeah it should suffice -- I'll still try to make it easier for the default case of 1 feature, 1 label, 1 weight.

[2017-04-06 19:13] patrickhop commented on #503
this would be very useful for our friends in industry.

[2017-04-06 19:41] miaecle commented on #498
@rbharath Thanks for all your hard work. New codes look extremely simple and nice. I believe all graph-based models(DTNN, DAG, weave) should have basically the same requirements as graphconv. Will try to get them on Tensorgraph

[2017-04-06 21:48] rbharath commented on #507
The paper is a little sparse on details. The say they started from gated graph neural networks:

https://arxiv.org/abs/1511.05493

[2017-04-06 23:40] #502 closed

[2017-04-06 23:56] patrickhop commented on #507
perhaps a starting point would be to implement graph convolutions (weave style) in this new message passing framework?

[2017-04-09 20:03] rbharath commented on #507
Very open to community contributions if anyone is interested in taking this on :)

[2017-04-10 19:29] patrickhop commented on #507
I took a quick shot at implementing a message-passing GG-NN yesterday.

Convergence at the message passing stage doesn't seem to be an issue. Experimentally i'm getting: ||h(v)^(t) - h(v)^(t+1)|| < 1e-3 for t > 10.

I'm not getting noteworthy results on delaney though (yet). The only interesting takeaway I have so far is that pushing each vertex feature vector through a NN before the sum in the re

[2017-04-10 19:45] rbharath commented on #507
@patrickhop You should contribute your implementation to DeepChem once it looks good :-)

[2017-04-10 22:57] lilleswing commented on #475
https://www.tensorflow.org/api_docs/python/tf/dynamic_partition

is also CPU only

[2017-04-11 02:38] patrickhop commented on #507
I've got some early results for a variation of GG-NN, which beats graph-convs by a small margin on the one test i've tried. I'll need to do more tests to confirm everything, but I think this will turn out to be an exciting direction that's worth exploring further.

Best Result:
Delaney (Index Split) r2=.812

Featurization Structure:
Message Fn: h_w
Veretx-Update Fn: nn.linear(concat(m_v^(t+1), h_v

[2017-04-11 02:53] miaecle commented on #507
@patrickhop Thanks for testing on the model, very excited to see the results. I have implemented weave(Steven Kearnes's graph convolution, also mentioned in the paper) and another DAG model based on a directed graph version of molecules, both showing similar results(slightly higher than graphconv) on delaney, while still cannot beat graphconv on most classification tasks(though pretty close). I pe

[2017-04-11 03:56] rbharath commented on #507
@patrickhop Sounds awesome! Seconding @miaecle's comments that this would be a good fit for the `Contrib/` folder.

[2017-04-11 03:57] rbharath opened #510 "Turn off yapf for Contrib/ folder"
The `Contrib/` folder is our new home for user-contributed code. If users have a new model which looks cool, they can contribute it to this folder. DeepChem devs will take on responsibility for porting code into `DeepChem` itself if there's wide user interest.

Since this folder is meant for new users (and not part of the DeepChem package itself), we should turn off `yapf` checks for it.

[2017-04-11 21:38] patrickhop commented on #507
Thanks for the kind words guys. @miaecle i've noticed that you've been quite busy lately! I've been meaning to try how those models perform on the ADME tasks. Wrt to reproducibility, I think it's pretty good. I'm setting the random seeds and using OrderedDicts for the graph-structure.

I agree that all graph models seem to be pretty similar. After casting all of them as message passing algorithms,

[2017-04-12 10:44] mrwns commented on #507
for quantum-chemical problems, explicit hydrogens should be used, as the input to a DFT calculation will also contain all atoms, and of course more information is retained.

for medchem problem one can get away with implicit Hs :)

[2017-04-12 23:54] rbharath opened #515 "TopologyNet Replication"
Interesting paper that uses topological features plus conv-nets for protein-ligand binding. It would be cool to replicate in DeepChem and compare against atomic-convs and grid-featurized RFs on the PDBBind collection.

https://arxiv.org/pdf/1704.00063.pdf

[2017-04-14 04:51] rbharath commented on #494
Added by #496.

[2017-04-14 04:51] #494 closed

[2017-04-14 05:02] rbharath commented on #498
With the new `TensorGraph` API implemented by @lilleswing in #517, I think the API looks much smoother. Here are some of the next TODOs on continuing API work:

- Implement `Layer.shared()` in order to facilitate models with weight sharing, like atomic convs.
  - @lilleswing Interested in taking this one on?
- Add utility functions (or new layers) that take make adding multi-task heads a one-line

[2017-04-14 06:48] miaecle commented on #498
@rbharath Definitely, I can take it.

[2017-04-14 15:24] peastman commented on #498
Sure.

[2017-04-14 17:42] lilleswing commented on #498
yeah I'm doing it as part of putting atomic convs in mainline.

https://github.com/lilleswing/deepchem/pull/13

[2017-04-18 16:14] peastman opened #525 "Consistent dimensions in tensorgraph"
Implementing the fully connected models in tensorgraph, I ran into a lot of inconsistencies between the dimensions of different tensors that make the process a lot more difficult.  Let's consider how to improve the situation.

In an offline discussion with @rbharath and @lilleswing last week, we reached one tentative conclusion: all models in deepchem (not just tensorgraph ones) should have output

[2017-04-18 18:03] rbharath opened #526 "ScrubChem"
http://scrubchem.org/

Could be a good resource for new datasets. Would welcome PR's processing and adding to `dc.molnet`.

Hat-tip to @skearnes for the pointer

[2017-04-18 18:07] rbharath commented on #525
I like the idea of making `L2LossLayer`, `SoftMaxCrossEntropy`, and `WeightedLoss` more intelligent. Ideally, I'd like to make the issue of weights something beginners don't have to deal with, and pushing more intelligence into layers we can implement seems a nice plan.

[2017-04-19 04:42] rbharath opened #527 "Computing gradients w.r.t input in TensorGraph"
In order to implement pose-generation algorithms for docking, we need to be able to take the derivative of the deep score function with respect to the atomic coordinates of the molecule. If the score function is implemented as a `TensorGraph` model, we will consequently need a way to take a derivative of the loss w.r.t a `Features` node. I can see a couple ways to make this happen:

- Define a gen

[2017-04-19 16:27] rbharath commented on #338
We no longer depend on openbabel so going to go ahead and close this issue.

[2017-04-19 16:27] #338 closed

[2017-04-19 16:27] rbharath commented on #331
We no longer depend on openbabel, so going to close this issue.

[2017-04-19 16:27] #331 closed

[2017-04-19 16:28] rbharath commented on #329
We no longer depend on openbabel, so going to close this issue.

[2017-04-19 16:28] #329 closed

[2017-04-19 21:00] patrickhop commented on #527
We're getting a gradient-based docking method? Very nice!

Any literature on this, or is it new?

[2017-04-20 20:21] proteneer opened #529 "weird PDB dataset issues"
I'm debugging the pdb files in the pre-processed core pdbbind_core_5_df.pkl file, and there's really weird assignments of formal charges, amongst other things.

For example, in the first row of the pickle'd dataframe, the C1 in many arginine residues have a formal charge of +1. (Which literally can't happen because it has no hydrogens to donate, and it's bonded to three nitrogens, one which of whi

[2017-04-21 00:27] rbharath commented on #529
I think these might be really old files. We haven't used `df.pkl` is a number of months. My guess is that openbabel was used to handle the loading and processing since RDKit couldn't handle proteins nicely then.

[2017-04-21 00:29] rbharath commented on #527
This is part of the Autodock Vina port. Turns out that Autodock Vina takes exactly this gradient as part of its local ligand pose optimization. (It also uses a random perturbation step to change ligand poses to escape local optima).

[2017-04-21 23:28] peastman opened #532 "Initialization of Dense layers"
TensorGraph's Dense layer now lets you specify initializers for weights and biases, but it does it in a way that makes it not very useful.  Instead of specifying an initializer object, you just specify the class.  It then constructs an instance of that class by calling the constructor with no arguments.  That means you can't use any initializer that requires constructor arguments (`constant_initia

[2017-04-23 03:57] rbharath commented on #532
Keras has `Initializer` objects which let users specify initializations that require constructor arguments. Perhaps we could to the same, and make sure the initializer objects are implemented in a pickle-able fashion?

[2017-04-26 01:20] cxhernandez commented on #515
Working on making a usable implementation of topological features (here)[https://github.com/outlace/OpenTDA].

[2017-04-26 02:03] rbharath opened #534 "Factor TensorGraph into separate repo?"
Had a good conversation with @cxhernandez today who suggested some interesting ideas.

`TensorGraph` is a general purpose framework for building deep-learning models on top of Tensorflow. It might make sense to factor it out into its own repo rather than having it be a part of DeepChem, since `TensorGraph` could be used to build other types of deep-networks and not just ones for molecular machine

[2017-04-26 02:05] rbharath opened #535 "Adding GAN support to TensorGraph"
I think our current model with `TensorGraph` can't nicely support GANs. In order to train GANs, you need to train both a discriminator `D` and a generator `G`. The training of these two models is threaded together, with each updated for a few minibatches at a time. While updating the generator, the discriminator weights should be frozen. While updating the discriminator, the generator weights need

[2017-04-26 16:07] peastman commented on #534
In principle it's a generic API.  In practice, though, it's entwined with a lot of the deepchem code.  At the top of tensor_graph.py I see the following imports:

[code]

Some of those are just utility function that could be separated out.  But some of them are pretty fundamental to how it works.  Like the fact that `TensorGraph` extends `Model`, and that `fit()` takes a `Dataset` object.

Of cour

[2017-04-26 18:26] rbharath commented on #534
This is a good analysis. I think it's not worth making changes this drastic
to the library, especially when the code is under rapid development.

Perhaps there's a simple answer here. DeepChem is already a general purpose
machine learning library, but just one with better utilities and support
for chemistry than other existing packages. We just need to add more
non-chemistry examples and documenta

[2017-04-26 18:31] peastman commented on #532
We discussed passing in a lambda to get around this problem, but it turns out that doesn't work either: lambdas also can't be pickled.  Apparently there are a couple of libraries that implement pickling of lambdas: http://stackoverflow.com/questions/16626429/python-cpickle-pickling-lambda-functions.  Possibly we could use one of those, or maybe we want to rethink the whole approach here.

[2017-04-26 18:34] cxhernandez commented on #534
For me personally? Zero.

I suggested separating the two codebases because your reason for developing Tensorgraph in the first place doesn't seem unique to DeepChem. I can imagine a large number of people working on NNs would want to take advantage of the workflows available here but are either thrown off or intimidated by the chemistry-oriented nature of this library. Separating the two might eng

[2017-04-26 19:11] rbharath commented on #534
I definitely like the idea of broader community outreach. We could write
some blog posts to get the message out that DeepChem isn't only for
chemistry :-)

On Apr 26, 2017 11:34 AM, "Carlos Hernández" <notifications@github.com>
wrote:

[2017-04-26 19:23] peastman commented on #532
For the moment, I've created the following class to work around the problem:

[code]

[2017-04-26 21:37] rbharath opened #536 "Remove side effects from create_tensor"
As noted in #523, calling `layer.create_tensor(in_layers)` still causes side effects (`self.out_tensor` is overwritten). Need to change API so this doesn't happen.

[2017-04-28 04:32] Malnammi opened #538 "TF IRV Multiple fit() calls and reloading from custom checkpoint"
I spent some time going over the code under models/tensorflow_models. I see that it uses TF checkpointing under 'logdir/model.ckpt-#'. Using the models/tensorflow_models/IRV model, I want to do the following:

1. Setup model
2. fit() for 5 epochs.
3. Copy last checkpoint (auto saved after ending training) with name 'custom.ckpt'
4. Call predict_proba(), but I notice here that code reloads the last

[2017-04-28 05:00] rbharath commented on #538
I think this summary is accurate. The old `self._restored_model` guard was in pace to handle ops like Dropout that behave differently for train and test. (Not the best solution for handling dropout, but it sufficed for our workflows).

We're currently working on a new Tensorflow backend `TensorGraph`.

@lilleswing, @peastman  I think the workflow @Malnammi proposed above should work with `TensorGr

[2017-04-28 18:19] rbharath opened #540 "Image Data Resource"
http://idr.openmicroscopy.org/about/

This looks like a very cool collection of microscopy data. Would be very cool to create some basic `TensorGraph` image convolution examples and show how to analyze some of these datasets.

CC @lilleswing @cxhernandez

[2017-04-28 18:23] rbharath commented on #540
Related preprint:

[Automating Morphological Profiling with Generic Deep Convolutional Networks](http://biorxiv.org/content/early/2016/11/02/085118)

[2017-04-28 19:55] lilleswing commented on #540
Reading through it I think the easiest starter set would be
https://data.broadinstitute.org/bbbc/BBBC021/

labels
103 Ground Truth Points of
(compound_name, concentration, method of action)

Input
For each ground truth point we have [1,12] images at 1280px × 1024px images.
They have 13k images total so around 12k unlabeled images.

[Automating Morphological Profiling with Generic Deep Convolutiona

[2017-04-29 02:37] Malnammi commented on #538
Thanks for the reply. I went over the code under models/tensorgraph. It looks like there is support for loading from disk with `load_from_dir(model_dir)`.

I might be able to port the IRV code over the weekend which I believe should be in the same spirit as tensorgraph/models/robust_multitask.py. So just use a MultiTaskTensorGraph and build the IRV network for each task, seems about right?

[2017-04-29 13:44] rbharath commented on #538
Great! I think MultiTaskTensorGraph might be obsolete. You should be able to just use TensorGraph directly.

[2017-05-03 20:18] cxhernandez commented on #498
Hopefully this request fits in with this discussion: Would it be possible to have `TensorGraph` models inherit from sklearn's [`BaseEstimator`](http://scikit-learn.org/stable/modules/generated/sklearn.base.BaseEstimator.html)? This would allow for more interoperability with tools like [Osprey](https://github.com/msmbuilder/osprey/issues/219).

@rbharath mentioned in Slack that:

This does present

[2017-05-04 02:09] rbharath opened #545 "Definition of save() and reload() inconsistent between TensorGraph and other models"
Copying over @peastman's comment from #522 to kick off the discussion

I agree that we should figure out a consistent semantics for all models otherwise we'll have some confused users

[2017-05-04 03:19] rbharath commented on #498
I think I'm generally open to these changes. We have `dc.hyper` for hyperparameter selection, but that's pretty much deprecated at this point. Integrating with Osprey would provide a consistent API for doing model hyperparameter searching, which we lack right now. I think this will take a bit of work to get right, but would be very valuable.

[2017-05-04 04:00] rbharath commented on #540
PRs would be very welcome for anything in this space!

[2017-05-04 04:00] #534 closed

[2017-05-04 04:02] cxhernandez commented on #540
Will probably get around to this at some point while @msultan and I work on our CS231N project

[2017-05-04 05:39] #536 closed

[2017-05-04 12:48] proteneer commented on #540
There's also the kaggle bowl for CT scans of cancer images, but I don't
know if we can import it into deepchem

On Thu, May 4, 2017 at 12:02 AM Carlos Hernández <notifications@github.com>
wrote:

--
Yutong Zhao

[2017-05-04 14:56] lilleswing commented on #498
Can functionality be added to Osprey for
https://www.tensorflow.org/api_docs/python/tf/contrib/learn/Evaluable

and

https://www.tensorflow.org/api_docs/python/tf/contrib/learn/Trainable

as these API are in tensorflow contrib they are likely going to become more widespread.  They also allow for taking in iterators to deal with larger datasets.

[2017-05-04 15:59] lilleswing commented on #545
I might be biased -- but I do like the internal weights of a model being part of its internal state and as hidden from the user as possible.

That is how TensorGraph currently does it --
#save() saves the whole object, including weights
#fit() and #predict() use the most up to date weights at all times.

[2017-05-04 17:54] cxhernandez commented on #498
Yeah, if TF already has a nice API to follow, then I think we should probably go with that.

Ideally, we'd have something that's sklearn-compatible so that models/transformer can be chained together across deepchem, sklearn, and msmbuilder with [`Pipeline`](http://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html) objects.

From my tinkering, I think the biggest thing missin

[2017-05-04 18:48] rbharath commented on #540
I'm quite open to extending support for medical images in particular (MRIs, pathology pictures, CT scans) and so on.

[2017-05-04 20:23] rbharath commented on #498
I like the idea of following TF's lead where possible.

Support for different metrics is pretty key for MoleculeNet. We should ideally let users optimize with respect to an arbitrary `Metric` that they define.

[2017-05-04 20:25] rbharath commented on #545
I agree that the new `TensorGraph` API is nice since users don't need to explicitly call `reload()`.

@lilleswing Would it be hard to convert `SklearnModel` and `XGBoostModel` over to this style? (We don't need to convert the old `TensorflowModel`s since those are getting deprecated).

[2017-05-06 19:57] rbharath opened #553 "Towards TensorGraph Docking"
I've been working for a while on getting GPU powered docking enabled with a TensorGraph implementation. There are still a number of TODOs on this:

- Add a `Gradient` layer to TensorGraph that enables taking the derivative of molecular positions with respect to an energy function. (Pose generation requires the ability to locally use gradient descent to optimize molecular positions).
- Change `pred

[2017-05-08 23:14] patrickhop commented on #553
very exciting!

[2017-05-09 03:10] patrickhop opened #555 "model saving broken"
I think the latest code broke tensorgraph model saving.

here's there error i'm getting
https://files.gitter.im/patrickhop/Y0Wv/Screen-Shot-2017-05-08-at-11.15.25-AM.png

[2017-05-09 16:49] rbharath commented on #555
@patrickhop Would you mind putting together a minimal failing example? Will make it easier to debug.

[2017-05-09 19:17] lilleswing commented on #555
+1 to a minimal failing example.  You are either attempting to pickle a feed dict generator which references tensors or objects outside of its closure.

[2017-05-09 20:51] lilleswing opened #558 "Update Pickles Created With Pandas 0.19.2"
https://travis-ci.org/deepchem/deepchem/jobs/230497536

All tests that load in data built with an older pandas will fail.  I'm going to pin pandas for now, but we should update the artifacts.

Creating the artifacts via jenkins would be a great idea.

[2017-05-11 16:43] lilleswing opened #559 "Create a Kaggle Organization?"
Beat the benchmarks in moleculenet.

https://www.kaggle.com/organizations/new

[2017-05-11 17:34] rbharath commented on #559
I'd be interested with the idea of making a Kaggle organization, but with a few caveats:

- @miaecle is working on a significantly upgraded version of MoleculeNet. We should wait for this version of the paper to come out.
- The challenge should be something like "design a single architecture that beats all the benchmarks in moleculenet". If we let people make different architectures per datasets,

[2017-05-11 23:00] patrickhop commented on #555
Here's a failing example. It's basically the tox21 example with save+load at the end. Please let me know if anything else would be helpful.

`"""
Script that trains graph-conv models on Tox21 dataset.
"""
from __future__ import print_function
from __future__ import division
from __future__ import unicode_literals

import numpy as np
import six

from deepchem.models.tensorgraph import TensorGraph
f

[2017-05-15 17:49] thomasklau opened #562 "PDBBind Dataset Load Error"
Hi,

I'm importing the script from examples/pdbbind/pdbbind_datasets.py and when I run:

dataset, tasks = pdbbind_datasets.featurize_pdbbind(feat="grid", subset="full")

I am getting the following error, multiple times (all on HIS residues). Is there a change I can make such that I don't keep getting this error?

--- Logging error ---
Traceback (most recent call last):
  File "/home/thomas/minicon

[2017-05-15 18:18] thomasklau commented on #562
I tried to change to code to use rdkit's addHs, but to no success:
http://www.rdkit.org/docs/GettingStartedInPython.html

****
Pre-condition Violation
getNumImplicitHs() called without preceding call to calcImplicitValence()
Violation occurred on line 176 in file /scratch/RDKit_git/Code/GraphMol/Atom.cpp
Failed Expression: d_implicitValence>-1
****

[2017-05-15 18:34] peastman commented on #562
This probably means the input file has nonstandard atom names.  It expects a HIS residue to have atoms named ND1 and NE2.  If it doesn't find those, it throws an exception.

[2017-05-15 20:01] thomasklau commented on #562
Thanks! Would it be egregious to do:

nd1 = [atom for atom in residue.atoms() if atom.name == 'ND1']
ne2 = [atom for atom in residue.atoms() if atom.name == 'NE2']
if len(nd1) != 1 or len(ne2) != 1:
  continue #<-Added this
  raise ValueError('HIS residue (%d) has the wrong set of atoms' % residue.index)

so that I get more training data? PDBBind is curated, so I'm assuming that the PDB structures

[2017-05-15 20:09] peastman commented on #562
That wouldn't work.  It's not looking up those atoms to be arbitrary.  It needs to know which atoms the hydrogens should be added to.  It identifies them by name.  If there are no atoms with those names, it has no idea which are the correct atoms.

[2017-05-17 17:59] peastman opened #565 "Does TensorGraph need to be pickled?"
I know it's supposed to be a major feature of TensorGraph that you can pickle it, but why?  I haven't yet come across any situations where I actually wanted to pickle one, and I can't think of any use cases where it's a big advantage.  And supporting this feature comes at a cost.  First, of course, it makes the code more complicated.  All the shuffling around of tensors before and after pickling i

[2017-05-17 18:02] proteneer commented on #565
I think the main reason was that we want to be able to restore the weights for a trained model without having to re-train it.

[2017-05-17 18:04] peastman commented on #565
That doesn't require pickling the TensorGraph itself, just using a Saver to record the variables (same as we do with all other models).

[2017-05-17 18:24] proteneer commented on #565
How do you recommend the topology itself being serialized out then?

[2017-05-17 18:28] peastman commented on #565
That's the question: what are the use cases where it's important to be able to serialize the graph topology?  Instead of just having Python code that builds the model (again, as you would with any other model class)?

[2017-05-17 18:34] proteneer commented on #565
Having topologies being constructed by code means that graph topology is now versioned by code (i.e. git) as opposed to GraphDef/protobuf.

Suppose someone trained a bunch of models on an older version of deepchem and for various reasons, wanted to re-use/re-deploy the model on a newer version of deepchem (which may change the code for the construction of the graph of interest), then having an ort

[2017-05-17 19:17] peastman commented on #565
Pickling is a very brittle format.  Unless you put in a lot of work to define how all your classes should be serialized, It's at least as likely to get broken by code changes as is source code, maybe more likely.

[2017-05-17 19:23] proteneer commented on #565
True -  but I was advocating for using GraphDefs and protobuf for
serializing the topolgy, if we decide to support it.

On Wed, May 17, 2017 at 3:17 PM peastman <notifications@github.com> wrote:

--
Yutong Zhao

[2017-05-19 01:18] peastman commented on #565
For reference, this is the sort of thing I had in mind by using lambdas to define layers:

[code]

That way you could define new layers for arbitrary calculations really easily.

[2017-05-19 13:25] lilleswing commented on #565
Pickling is nice for Schrodinger.  We are currently building an "auto-model" product which tries various graph topologies with multiple hyper-parameters and then picks the best/ensembles them.

This means we have to save each of them, which is both the hyper-params of the layers, and the topology itself.  If we require the code itself we would have to store the model definition in a side car (kind

[2017-05-19 13:33] lilleswing commented on #565
Although I will note that @peastman 's Custom layer looks really nice for exploratory work.

[2017-05-19 21:00] patrickhop commented on #565
Retaining pickling capabilities would be nice. I think it makes saving / loading much easier, which is a big deal for deployment. That said, if there were really good examples of the competing method for saving / loading, I wouldn't complain much.

At a high level, making saving / loading harder will raise the bar for sophistication of people using DeepChem. That may or may not be a good trade-off

[2017-05-21 03:42] rbharath commented on #565
@lilleswing Would it be possible to contribute some hyperparameter optimization code back to DeepChem? `dc.hyper` is pretty primitive, so any improvements (or Tensorgraph based upgrade) would be very helpful.

It tentatively sounds like it's worth keeping pickling for now then since it makes hyperparam optimization and deployment easier.

[2017-05-22 17:22] lilleswing commented on #565
@rbharath yeah I'm going to try to push as much back as I can, I wouldn't expect anything until August at least though for hyper param optimization.

[2017-05-22 21:15] #398 closed

[2017-05-22 21:15] #371 closed

[2017-05-24 00:32] peastman opened #570 "Outputs from GRU layer"
I'm trying to use the GRU layer to create a recurrent policy network for RL.  I'm confused by certain aspects of it.

The layer has separate `n_hidden` and `out_channels` properties, which confused me since a GRU doesn't have separate outputs that are distinct from its internal state.  But looking at the implementation, it adds a linear layer (which is hardcoded to use a sigmoid activation functio

[2017-05-24 13:30] lilleswing commented on #570
@peastman we should split the layer up.  No one is using it (except maybe @DorisMai ).  I made if for a pure tf port of https://github.com/maxhodak/keras-molecules when I didn't really know what I was doing.

the tf.map_fn() is to do a dimensionality reduction on a per character basis to the number of characters in the input language.

@DorisMai are you using this layer?  or are you still on the p

[2017-05-24 18:52] peastman commented on #570
Ok, I'll remove the extra layer.  If someone wants it, they can just add a Dense layer following it.

[2017-05-24 20:51] patrickhop commented on #570
If you guys are moving into RL stuff, I have an implementation of [https://arxiv.org/abs/1511.05952] that I'd be happy to share.

[2017-05-24 20:52] patrickhop commented on #555
bump

[2017-05-25 00:16] rbharath opened #571 "Benchmarking RL Algorithms"
Moving conversation over from #568.

I suggested

@lilleswing responded

In general, I think we should follow OpenAI's lead. For some environments like cartpole, they set "solve" conditions on its environments and counts the number of episodes trained until solved. For other environments, (air-raid) they use best 100-episode performance. This sounds like a reasonable lead. For tic-tac-toe, using 1

[2017-05-25 00:18] rbharath opened #572 "Porting RL algorithms from OpenAI baselines"
OpenAI has just released tuned implementations of 3 DQN variants. We should port these into DeepChem so we can use them.

https://github.com/openai/baselines

[2017-05-25 00:21] rbharath commented on #571
As another note, following recommendations from OpenAI (https://blog.openai.com/openai-baselines-dqn/amp/), we should add a random baseline to each environment we benchmark.

[2017-05-25 00:24] rbharath commented on #555
@patrickhop Could you simplify the failing example further? A 10-20 line script that exhibits the failure would be very useful.

[2017-05-25 01:44] rbharath opened #573 "Sluice Network Implementation"
Sluice Networks look like an interesting concept for improving multitask learning. Could be a nice method to improve the performance of multitask learning, especially on larger datasets.

https://arxiv.org/abs/1705.08142

It would be very cool to get a sluice network implementation in DeepChem. PRs for this purpose welcome.

[2017-05-25 13:56] jeiros commented on #490
@lilleswing is it possible that it is because in your [`install_deepchem_conda.sh`](https://github.com/deepchem/deepchem/blob/master/scripts/install_deepchem_conda.sh) script that is being run in your [`Dockerfile`](https://github.com/deepchem/deepchem/blob/master/Dockerfile), the [fifth line](https://github.com/deepchem/deepchem/blob/master/scripts/install_deepchem_conda.sh#L5) is commented out,

[2017-05-25 14:17] lilleswing commented on #490
blerg you are right.... this line should fix it.
[code]
Its on this branch now, I'll try it out and re-upload the images if it works.

[2017-05-25 14:20] jeiros commented on #490
So after this is fixed, the new image should be run with `nvidia-docker` command instead of `docker` for GPU support, right?

[2017-05-25 14:45] lilleswing commented on #490
@jeiros yeah we will.  I'll update the documentation on the Readme as well.

[2017-05-25 15:00] lilleswing commented on #490
After the changes and using nvidia_docker we now have gpu support
I'll upload the images now
[code]

[2017-05-25 15:01] jeiros commented on #490
Sweet! Many thanks 😄

[2017-05-25 15:10] lilleswing commented on #490
PR: https://github.com/deepchem/deepchem/pull/574
but I already updated the images in place here https://hub.docker.com/r/deepchemio/deepchem/tags/

[2017-05-25 18:55] lilleswing opened #576 "Add Lambda for advantage as a hyperparameter to A3C implementation"
See discussion here
https://github.com/deepchem/deepchem/pull/568

[2017-05-25 20:21] peastman commented on #573
I'm skeptical about it.  A lot of what they're doing looks very suspicious.

They start by multiplying the size of their network by the number of tasks.  So they have a huge network, way bigger than it needs to be with way more capacity than it needs.  Then they try to compensate for that by arbitrarily chopping it into pieces, and adding variables that let it turn off large blocks of connections

[2017-05-26 14:39] lilleswing commented on #570
@patrickhop yeah just throw up a CR to put it in contrib/rl for the experience replay.

[2017-05-26 14:43] lilleswing commented on #555
Sorry for the delay I'm looking into this today.

[2017-05-26 20:27] patrickhop commented on #555
All good! Let me find a more simple example than the above..

[2017-05-29 03:58] rbharath commented on #565
New complications with pickling raised by #577. @lilleswing would love your thoughts here

[2017-05-31 00:01] patrickhop opened #579 "[TensorGraph] predict_on_generator issues"
I'm having issues getting predictions out of tensorgraph models using the predict_on_generator. The outputs seem to be somewhat random, and don't match the R2 results of evaluate_generator.

Am I using it wrong, or is there something with the internals here?

[code]

[2017-05-31 02:45] rbharath commented on #579
What's the precise error you're seeing? From first glance, usage looks right to me.

Also, would help if you could post a minimal failing example (the smaller the better)

[2017-05-31 03:23] patrickhop commented on #579
https://www.dropbox.com/s/3gllsh9m9vbiumx/Screen%20Shot%202017-05-30%20at%208.19.03%20PM.png?dl=0

It seems that the predicted has little to do with the labels. Sklearn is giving me an R2 of -0.236 for this one, whereas evaluate_generator gives me like .45

Are there any tensorgraph regression examples I can use to construct a minimum failing example? I'm happy to put the effort in, I just don't r

[2017-05-31 03:37] rbharath commented on #579
The key to making a minimal failing example is to reduce the moving parts. For example, we can't repro the failure since it's using a private dataset. Does a simple synthetic dataset cause the same failure? Also, why use a for loop for epochs when fit_generator already has num epochs as an argument. Removing unneeded bits of code will help us understand if there really is an error, and if so, how

[2017-06-05 05:32] jnhwkim opened #581 "Comment on test_graph_features"
Is it a correct comment in https://github.com/deepchem/deepchem/blob/master/deepchem/feat/tests/test_graph_features.py#L29 ?

It said:
[code]
however,

Ref: [Smiles visualizer 1](http://molview.org/?q=C[N+](C)(C)C)
[Smiles visualizer 2](http://hulab.lifemodules.org/smi2img/C%5BN%2B%5D%28C%29%28C%29C/)

[2017-06-05 14:33] lilleswing commented on #581
@jnhwkim you are correct about the molecule.

![selection_005](https://cloud.githubusercontent.com/assets/1225605/26787971/bc421ce2-49d9-11e7-95e7-10e932bdaabb.png)

However the test is still correct despite the bad comments.
Internally ConvMol reorders the atoms by adjacency degree in the featurizer.
This means ["degree slice"](https://github.com/deepchem/deepchem/blob/master/examples/tox21/tox21

[2017-06-05 19:52] levipierce commented on #562
Running prepwizard on the structures that are missing side chain atoms before processing using the option -fillsidechains resolves the issue.  Maybe there is some code in openmm that will do this as well...

$SCHRODINGER/utilities/prepwizard -fillsidechains 2aac_protein.pdb 2aac_protein_prep.pdb

[2017-06-05 19:57] cxhernandez commented on #562
[PDBFixer](https://github.com/pandegroup/pdbfixer) might be of interest

[2017-06-05 19:59] thomasklau commented on #562
I believe that it is PDBFixer is already being called - correct me if I'm wrong though.

[2017-06-05 20:13] cxhernandez commented on #562
True, the first part of that traceback seems to be an error with PDBFixer:

[code]

Are you sure that the HIS residue is complete (as @levipierce hinted)? Could you try using [`fixer.findMissingAtoms` and  `fixer.addMissingAtoms`](https://github.com/pandegroup/pdbfixer/blob/ea4bb1c86c054c18ad2e4b41f3d5384c1c5ff535/pdbfixer/pdbfixer.py#L796-L960)?

[2017-06-05 20:14] levipierce commented on #562
Yeah I will give it a shot, this is the problematic residue...
ATOM   1553  N   HIS A 105      17.121  24.927  51.965  1.00 11.68           N
ATOM   1554  H   HIS A 105      16.611  24.022  52.011  1.00  0.00           H
ATOM   1555  CA  HIS A 105      16.810  25.966  52.962  1.00 14.71           C
ATOM   1556  HA  HIS A 105      16.278  26.722  52.384  1.00  0.00           H
ATOM   1557  C   HIS

[2017-06-05 20:17] thomasklau commented on #562
I just ended up running prepwizard on all of the structures in PDBBind first before running the script.

[2017-06-05 20:18] thomasklau commented on #562
The issue with PSBFixer was affecting about 1000 structures in the dataset for me. I'm running it on the newer 2016 full version.

[2017-06-05 20:51] levipierce commented on #562
Had to add three lines to rdkit_util.py

    fixer.findMissingResidues()
    fixer.findMissingAtoms()
    fixer.addMissingAtoms()

problem solved...all with open source code...beautiful.

[2017-06-05 21:06] cxhernandez commented on #562
Great to hear!

[2017-06-06 00:23] rbharath commented on #581
@jnhwkim, @lilleswing: Thanks for the catch and quick fix.

Going to go ahead and close the issue.

[2017-06-06 00:23] #581 closed

[2017-06-06 00:24] rbharath commented on #562
@levipierce The fix sounds like it would be a great PR :-)

[2017-06-06 03:30] haozhenWu opened #583 "Molnet train/valid/test logic"
Currently,  the performance report of DeepChem only has train/valid results. Is it true that molnet creates train/valid/test splits based on 0.8/0.1/0.1 ratio but only evaluate model performances on validation set?
That being said test data is always created but did not use ? Thanks.

[2017-06-06 08:15] thomasklau commented on #562
Since you're running the PDB grid featurizer code, I think it would be helpful to say that I found a bug that occurs when hashing ECFP pairs. The string needed to be converted to unicode first. I fixed it to be:

def hash_ecfp_pair(ecfp_pair, power):
  """
  Returns an int of size 2^power representing that
  ECFP pair. Input must be a tuple of strings.
  """
  ecfp = "%s,%s" % (ecfp_pair[0], ecfp_

[2017-06-06 09:43] mwojcikowski commented on #562
Wouldn't it be better if we use much simpler hashing function, which should also be ~1-2 orders of magnitude faster:
[code]
I successfully use thish hashing in the ECFP implementation in [ODDT](https://github.com/oddt/oddt/blob/master/oddt/fingerprints.py#L202)

[2017-06-06 15:39] lilleswing commented on #573
@peastman I just did a deep dive into the paper and agree that it is an explosion in network size.
When discussing complexity in the paper they compare it to M single task networks.  Compared to M single task networks it takes

[code]
more training variables.

Their case study was on NLP which has way more training data then we are dealing with generally

![selection_006](https://user-images.githu

[2017-06-06 16:17] lilleswing commented on #583
@haozhenWu  are you discussing the code?  Or the moleculenet [paper](https://arxiv.org/pdf/1703.00564.pdf)?  The currently posted version of the paper on arxiv has test scores.

![selection_007](https://user-images.githubusercontent.com/1225605/26839695-cde1dab8-4ab1-11e7-866f-60df83ffa744.png)

If you want the code to print out test scores as well you simply have to pass the "test" flag to run_be

[2017-06-06 19:09] miaecle commented on #583
@haozhenWu Thanks for raising the issue, splitting is always 0.8/0.1/0.1 but we only evaluate test performances when needed. There is a flag in `dc.molnet.run_benchmark`: `test=False`, setting this to True allows you the retrieve the test set performance. Also the newer version of benchmark running script `benchmark2.py` in the example folder provides option `-t` to set the flag.

[2017-06-06 19:15] rbharath commented on #562
@thomasklau Good find! Would you mind putting together a PR with the fix?

@mwojcikowski Is the hashing the rate limiting step in the grid featurization? If so, a simpler hash would be a good improvement.

[2017-06-06 20:02] rbharath opened #585 "DeepSite binding pocket prediction"
There's been some good work [recently](https://academic.oup.com/bioinformatics/article-abstract/doi/10.1093/bioinformatics/btx350/3859178/DeepSite-Protein-binding-site-predictor-using-3D?redirectedFrom=fulltext) on deep learning for binding site prediction. DeepChem has some rudimentary binding pocket prediction methods already, but it would be great to get an implementation of DeepSite into DeepC

[2017-06-06 20:03] rbharath commented on #573
Good points here. Going to go ahead and close this issue for now.

[2017-06-06 20:03] #573 closed

[2017-06-06 20:57] peastman opened #586 "Use faster Tensorflow on Travis"
The travis build log reports

[code]

The build of Tensorflow installed by pip is designed for maximum compatibility.  That means it doesn't use modern CPU features like AVX and FMA, which makes it a lot slower.  There's a collection of alternate builds maintained by the community at https://github.com/yaroslavvb/tensorflow-community-wheels/issues, or we could create our own if none of those works

[2017-06-06 21:27] lilleswing commented on #555
@patrickhop please try again -- I believe this CR fixed the issue which was storing Layer.variables on layer objects which cannot be pickled.

https://github.com/deepchem/deepchem/pull/577

[2017-06-06 21:34] lilleswing commented on #586
I compiled TF from source with the appropriate CPU flags when attempting to boost GPU utilization (i5-6500, GTX 1080).  I anecdotally only received marginal speedups (< 5%) over common bench marking  tasks (MoleculeNet Tensorflow Models).

This is not to say that it would not improve Travis times because Travis is CPU only, and travis is running the nosetests not MoleculeNet.

[2017-06-06 21:36] peastman commented on #586
I wouldn't expect it to have much effect when using a GPU.  But I've seen anecdotal reports of people getting as much as a 3x speedup when running calculations on CPUs.

[2017-06-06 23:00] haozhenWu commented on #583
@lilleswing Thanks for pointing me to the paper!
@miaecle Just to double check, the validation set is supposed to select the hyper-parameter and tune the model right? But in the benchmark run,  https://github.com/deepchem/deepchem/blob/master/deepchem/molnet/run_benchmark_models.py#L369
it only pass train_dataset to build the model and evaluate on valid set. The validation set seems to be the same

[2017-06-07 04:21] miaecle commented on #583
@haozhenWu Yes exactly, validation set and test set are regarded as the same in the benchmark run script. Basically we do all hyper-parameter search separately, hence it is not integrated into the script. Optimized hyper-parameters could be transported into the benchmark run by setting `hyper_parameters`  when calling the benchmark run function, or a default setting will be used.

[2017-06-07 13:19] haozhenWu commented on #583
@miaecle That make sense. Thank you.

[2017-06-07 13:19] #583 closed

[2017-06-09 02:34] odek53r opened #590 "got error when running atomicconv"
I ran the tensor_graph_hyper_param_eval program which is located at /deepchem/contrib/atomicconv/acnn/refined/ and got NotImplementedError.

`root@2d7339f2dcad:~/a60008/deepchem/contrib/atomicconv/acnn/refined# python tensor_graph_hyper_param_eval.py
/opt/conda/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the

[2017-06-10 19:45] rbharath commented on #590
The files in contrib are not actively maintained. It's more a staging area for code to facilitate new developer contributions. Try using the atomicconv version merged into the main branch of deepchem or in examples.

[2017-06-11 02:00] rbharath opened #591 "Version bump to 1.2.0"
There have been a couple of major bugfixes (#574, #577, #584). It might be time to consider doing a version bump soon. Are there any other changes people would like to see before we make the bump?

[2017-06-12 15:12] levipierce opened #593 "Hashing function does not produce a usable vector"
The hashing function is not working properly producing an empty result.  Identified here https://github.com/deepchem/deepchem/issues/562

A simple fix exists more elaborate hashing schemes can be added...

[2017-06-12 15:12] levipierce commented on #562
I am going to file a separate bug about the hashing and a PR for it as well...

https://github.com/deepchem/deepchem/issues/593

[2017-06-12 18:39] levipierce commented on #371
What was the conclusion here?  There is still no partial charges being computed in the grid_featurizer...

[2017-06-13 01:52] rbharath commented on #593
Thanks for the fix!

[2017-06-13 01:52] #593 closed

[2017-06-13 01:52] #590 closed

[2017-06-13 01:57] rbharath commented on #371
I think we just punted on the entire issue (#368 is probably the place to continue the discussion). We'd be open to any PRs for fixes :)

[2017-06-13 14:21] lilleswing commented on #591
We found some issues with padding in Datasets which we are fixing here --
https://github.com/schrodinger/schrodingerdeepchem/pull/1

those changes should be up for PR by end of week though.

[2017-06-13 14:21] lilleswing commented on #591
Also GPU docker we fixed in place -- so a version bump is not necessary to get the docker image.

[2017-06-13 14:29] levipierce commented on #585
Yeah I like this idea.  I did quite a bit of hacking on fpocket recently might be useful.  I will check out the paper...

[2017-06-13 14:53] mwojcikowski opened #596 "Internal Vina and NNScore (Binana)"
Hello DeepChem team and conributors,

I'm planning to port/include the Numpy based implementation of Vina scoring function and Binana featurizer to DeepChem, as briefly discussed with @rbharath. It's based on my implementation which is currently included in [ODDT](https://github.com/oddt/oddt). In short, the Vina SF is operating purely with Numpy/Scipy which does not require additional IO nor the

[2017-06-13 15:49] lilleswing commented on #596
@mwojcikowski can you comment on the PoseScorer API you want to propose?  I'm a  bit lost in how you would encapsulate the new atom typing with Rdkit molecules.

[2017-06-13 21:23] rbharath commented on #596
@mwojcikowski Excited to see this moving forward! I think there's a lot of need for improved protein-ligand open source tooling.

In general, I'd be OK with adding on an ODDT dependency. There's no need to add on extra code into DeepChem if there's a good open-source implementation (with usable license) elsewhere. The one question I have is that it looks like ODDT has an openbabel (GPL code) backe

[2017-06-13 21:23] rbharath commented on #585
PRs welcome! :-)

[2017-06-14 15:36] mwojcikowski commented on #596
@rbharath ODDT does not include any GPL code. We have `from pybel import *` and we extend base classes from openbabel to our needs. Both toolkits RDKit and OpenBabel are optional and are not required to function properly. Most of the functionality is toolkit independent. Main disadvantage of RDKit is limited format readers/writers, but for Vina and NNScore we're fine.

@lilleswing The atom typing

[2017-06-14 15:51] lilleswing commented on #596
@mwojcikowski openbabel is GPL :(.  I will begin chats with a legal team on whether incorporating it as an optional module in DeepChem breaks the MIT license (i.e. importing it from util.dependencies and failing if it does not exist and not having it in the ez install script).

How much of the base class logic do you use?  Do you use methods or just the interfaces?  Interfaces are not copy writabl

[2017-06-14 16:12] lilleswing commented on #596
[pybel](https://pypi.python.org/pypi/PyBEL) is Apache 2.0 so we are probably fine.

[2017-06-14 18:54] rbharath commented on #596
Great, I think we should be good license wise for now.

@mwojcikowski the ODDT docs look very nice! We would greatly appreciate any help with the DeepChem docs. They're all in github, but have been languishing for want to attention :-)

[2017-06-14 21:11] lilleswing opened #598 "Expansion of dc.hyper"
Industry often wants a push button find me a good model.  Expanding dc.hyper to have state of the art hyper parameter searching would greatly help with industry pickup.  What is done should support GPU clusters in some way.

[2017-06-14 23:57] JimSEOW opened #599 "Installing DeepChem in WS for Linux?"
Has anyone here ever attempted to install DeepChem in [Windows Subsystems for Linux](https://blogs.msdn.microsoft.com/commandline/2017/05/11/new-distros-coming-to-bashwsl-via-windows-store/) (Ubuntu, Suse and Fedora) in Windows 10 ?
![workbook](https://msdnshared.blob.core.windows.net/media/2017/05/Multi-distro-1280x838.png)

[2017-06-15 06:34] rbharath commented on #599
I'd be very happy to see this happen. Lots of pharma still on Windows...

[2017-06-15 06:43] rbharath commented on #598
Yes, would be glad to see this pushed further. The current version of dc.hyper could use a lot of work.

[2017-06-15 09:28] JimSEOW commented on #599
Using Win10 x64 [ NOT Windows Subsystems for Linux]
Visual Studio 2015 x64 Environment console.
Miniconda3 [python3.5]

I get:

Ran 329 tests in 1138.065s
FAILED (**errors=17, failures=1**)

Perhaps it is possible to systematically work through the 17 Errors and failures 1 to make deepchem works in Windows 10.

Not yet test on WSL yet.

[2017-06-15 10:14] mwojcikowski commented on #596
@lilleswing It's not the Pybel you were looking for ;) The actual pybel (`pip install openbabel`) is [GPL](https://pypi.python.org/pypi/openbabel). I will underline once again: ODDT does not contain GPL code.

The ODDT backend for openbabel in question is [here](https://github.com/oddt/oddt/blob/master/oddt/toolkits/ob.py). Feel free to compare its content with the [Pybel module](https://github.co

[2017-06-15 13:36] lilleswing commented on #599
Is  WSL more available to people than installing Docker on Windows?
https://docs.docker.com/docker-for-windows/

[2017-06-15 15:09] lilleswing opened #600 "Implement "Set2Set" as a Graph Gather Layer"
The google paper [Neural Message Passing for Quantum Chemistry ](https://arxiv.org/pdf/1704.01212.pdf) discusses in results that using [set2set](https://arxiv.org/pdf/1511.06391.pdf) gave a very large performance boost on Graph Convolution Neural Networks.

Implementing this as a Graph Gather Layer would mean we could use it for all of our Graph Convolution Variant Models.

[2017-06-15 15:14] lilleswing commented on #600
![selection_009](https://user-images.githubusercontent.com/1225605/27188318-c4a5e24e-51bb-11e7-9acc-b9969fadab86.png)

[2017-06-15 15:17] rbharath commented on #600
+1. Glad to see this happen!

[2017-06-15 16:13] JimSEOW commented on #599
If the motivation of DeepChem includes **[Democratizing Drug Discovery](https://www.google.de/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0ahUKEwjkpJnMmsDUAhWBAMAKHZadCAYQtwIILTAA&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DsntikyFI8s8&usg=AFQjCNH1jOc5j8iVvR9_Tps3Xj_RyYXjLQ)** through some of the [500 active Windows 10 users](https://www.engadget.com/2017/05/10/windows-10-500-m

[2017-06-15 16:19] rbharath commented on #599
I'd be glad to see this happen, but it all depends on someone willing to do the legwork.

PRs welcome :)

[2017-06-15 16:35] JimSEOW commented on #599
This would take a critical mass of a users to test the Windows installation and start sharing the errors and report back to others. For RDKit, although there is windows installation, it is always behind the linux.

[2017-06-15 17:46] peastman commented on #599
What currently prevents it from working?  DeepChem itself is pure Python, so it should work without change in any of those environments.  The catch is that the libraries it depends on also need to work.  Which of them don't?

[2017-06-15 18:23] JimSEOW commented on #599
I encourage others to try. As I did a quick and dirty installation just to see how bad is the compatibility. Lessons learn from RDkit is that it is always tricky to support Window.  Perhaps we will move forwards faster if we recruit those Python Windows experts from RDkit

I follow the steps in[ install_deepchem_conda.sh](https://github.com/deepchem/deepchem/blob/master/scripts/install_deepchem_co

[2017-06-16 04:06] rbharath opened #601 "SELU Activations"
https://arxiv.org/abs/1706.02515

A number of early users have claimed significant boost in RL applications using the new SELU. Might be good for us to add in an implementation (think it's only a few lines of code).

[2017-06-16 05:01] cxhernandez commented on #601
👍

improved training time for the molecular autoencoder

[2017-06-16 05:30] rbharath commented on #600
Btw, the one-shot models use essentially a variant of set2set. It might be possible to adapt that code over for these purposes.

[2017-06-16 05:34] rbharath opened #602 "Tensorflow 1.2 Version Released"
It looks like there aren't too many issues that will be relevant for us. The one interesting note is the release of the TF Dataset API:

https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/data

Might be worth us looking into how it relates to our Dataset objects.

[2017-06-19 18:20] rbharath opened #604 "Add Release Developer Notes"
As we start having more releases, we should standardize the release process. Something like

https://github.com/msmbuilder/msmbuilder/tree/master/devtools#developer-notes--tools

H/T to @cxhernandez!

[2017-06-19 18:25] rbharath commented on #601
Props to @vipulraheja for the implementation in #603! Keeping this thread open for future contributions adding Alpha-dropout and some unit tests.

[2017-06-19 18:33] vipulraheja commented on #601
Thanks @rbharath for the help and quick review! I had actually started working on both the following tasks, but ran into a bunch of tensorflow setup issues (seg faults). Hopefully should be able to put up a PR in the coming week(s).

[2017-06-21 10:08] relutropy opened #605 "Is cuDNN not installed on the current Dockerfile?"
I think that cuDNN is not installed in the current Dockerfile/Docker image.
It is necessary to modify Dockerfile as follows.

In dockerfile
Now
`FROM nvidia/cuda`
New
`FROM nvidia/cuda:8.0-cudnn5-devel-ubuntu16.04`
or
`FROM nvidia/cuda:8.0-cudnn6-devel-ubuntu16.04`

https://hub.docker.com/r/nvidia/cuda/

[2017-06-21 15:16] rbharath commented on #605
@relutropy Thanks for reporting this.

@lilleswing Is there perhaps a way we could add in a cudnn reference without specializing to Ubuntu 16.04?

[2017-06-21 16:52] peastman commented on #605
If you install Tensorflow with conda instead of pip, it automatically brings in cuDNN.

[2017-06-21 21:13] lilleswing commented on #605
Yeah I'm ok with installing tensorflow from conda.  When I created the script tensorflow-gpu didn't exist in conda.

https://github.com/deepchem/deepchem/pull/607

Is there some test you want us to do on the docker container to check if cuDNN is installed @relutropy?  We can add it to the dev release notes to test for it.

[2017-06-21 21:37] lilleswing commented on #605
Also side-note with DeepChem's current utilization it doesn't matter too much whether cuDNN is installed or not.

[2017-06-22 01:31] relutropy commented on #605
In order to use Tensorflow-gpu, it seems that CUDA and cuDNN v 5.1 need to be installed. Even in Docker 's container, even in a pure computer.

It seems appropriate that CUDA and cuDNN are prepared in containers beforehand.
Even if you use a pure computer, not only in the container, it seems necessary to have an environment where CUDA and cuDNN are installed first.

Therefore, it seems that you wi

[2017-06-22 01:46] proteneer commented on #605
I've tested tensorflow-gpu without cudnn before and it works fine. Some of the ops won't be as fast, but they happen to be not too important for many of our models.

[2017-06-22 01:58] relutropy commented on #605
If cuDNN is already in the current Docker image, about that point ごめんね🙏

[2017-06-22 02:38] relutropy commented on #605
Try the Docker build test with the Dockerfile that changed only the first line.
The effect by installing cuDNN seems to have been better than ever.

[2017-06-24 22:46] cfperez opened #610 "Deprecation warnings from sklearn"
Using Docker image, on running benchmark I get:
[code]

[2017-06-25 16:43] alphaCTzo7G opened #612 "TensorGraph Example (test_mnist.py) may have minor bug"
I was working through the test_mnist.py, and noticed that its trying to import the Conv2d class on line 12, with the d in Conv2d in small caps.

`from deepchem.models.tensorgraph.layers import Reshape, Flatten, Feature, Conv2d, MaxPool, `Label

But layers.py has this in line 736

`class Conv2D*`

with 2D in big caps

Perhaps the test_mnist.py (https://github.com/deepchem/deepchem/blame/master/exam

[2017-06-25 18:58] LRParser opened #613 "Install Fails on Ubuntu 16.04 Server due to libxrender missing"
The installation of deepchem fails with the following error on Ubuntu 16.04 server with Anaconda 3.6 installed:

[code]

This appears to be fixed via running:

[code]

[2017-06-25 19:42] alphaCTzo7G opened #614 "Is it supposed be _add_layer or add_layer in TensorGraph?"
The function _add_layer is defined in https://github.com/deepchem/deepchem/blob/4a96d6d121e85cb747a1a1ff10bdbae5571d4c0a/deepchem/models/tensorgraph/tensor_graph.py.

However most of the function calls are based on add_layer (without a preceding underscore)

1. https://github.com/deepchem/deepchem/blob/6959cf0f405628edb04247a9109483fa54b63d49/deepchem/models/tensorgraph/models/robust_multitask.py

[2017-06-25 19:45] rbharath commented on #614
In this case, I believe it's not a typo. This is a helper method present
only in the super class TensorGraph. Note the differing content of this
method versus the downstream add_layer

@lilleswing: Is my analysis correct?

On Jun 25, 2017 12:42 PM, "dibyadeeppaul" <notifications@github.com> wrote:

[2017-06-25 23:05] dibyadeeppaul commented on #612
Have only been looking at this example file today.. so maybe I dont understand everything.

Couple of other things I noticed.. maybe why the tutorial/example is not running

The code in the ipynb and the py file is quite different.. Is this intentional?

In the ipynb file
1. there is a call to a add_feature function, as well as in a lot of places (https://github.com/deepchem/deepchem/search?utf8=%

[2017-06-25 23:24] rbharath commented on #612
@dibyadeeppaul Thanks for the bug report. Should probably be `Conv2D`.

I believe the ipynb's are out of date and possibly broken. PRs fixing them welcome!

[2017-06-26 00:00] rbharath opened #616 "Atrous Convolutions for Graph Convs"
Team Paranoid Android at sv.ai/hackathon reports that atrous convolutions give large boosts to accuracy of graph convolution in DeepChem! I hope the members of this team see the message and contribute their implementions as a PR :-)

To other folks out there, check out atrous convolutions for your graph convs!

Possibly Relevant:
https://arxiv.org/abs/1606.00915

[2017-06-26 02:36] dibyadeeppaul commented on #612
Will work on it!

[2017-06-26 13:38] lilleswing commented on #614
@dibyadeeppaul TensoGraph#_add_layer is indeed supposed to be a private method to TensorGraph.

You construct a graph of layers and tell TensorGraph about the graph via TensorGraph#add_ouput.  We than construct the DAG and call _add_layer to each layer in topological sort order.

[2017-06-26 13:40] JimSEOW commented on #599
FAILED (errors=16, failures=1)
Once I replaced deepchem\dock\autodock_vina_1_1_2_linux_x86\bin with Win32 vina.exe and vian_split.exe there is no more failure

[2017-06-26 14:03] lilleswing commented on #616
Is the idea to add filters from only n={2,3} distance from every atom?

[2017-06-26 18:10] proteneer opened #617 "Implement bias reduction method"
https://arxiv.org/pdf/1706.06619.pdf

In particular the AVE minimization algorithm uses a genetic algorithm to minimize the bias (comprised of both active and inactive measures)

[2017-06-26 18:24] lilleswing commented on #617
![selection_035](https://user-images.githubusercontent.com/1225605/27554030-1ea18e66-5a7b-11e7-85b5-7e1c18caa40d.png)

[2017-06-26 20:01] Agent007 commented on #571
Oh wow. How is RL applied to drug discovery? I can see the reward being something like the affinity score in protein-ligand docking, but I don't see where the Markov process is.

[2017-06-26 23:01] jadeshi opened #619 "a3c value update question"
Just a quick question about the current value update scheme. I noticed that right now the value function is adjusted using just the difference between the reward and the estimated current state value, R - V(s). Why isn't it using the difference between the reward plus the discounted value of the next state, i.e. R + gamma * V(s') - V(s), per the Bellman equation?

[2017-06-26 23:35] peastman commented on #619
In theory it could be implemented that way, but that isn't how it's done in any of the existing implementations I've seen (for example https://github.com/openai/universe-starter-agent/blob/master/a3c.py).  I don't know how well it would work in practice.

Remember that `R` is the *total* discounted reward from that step to the end of the rollout, not just the next single step reward, so the equati

[2017-06-27 00:17] rbharath commented on #613
I believe this was fixed by @LRParser's recent PR

[2017-06-27 00:17] #613 closed

[2017-06-27 00:19] rbharath commented on #617
The authors said they might possibly contribute an implementation to DeepChem. Would be cool to see how our benchmark suite behaves with AVE

[2017-06-27 00:20] rbharath commented on #599
@JimSEOW encourage you to contribute a PR with your fixes!

[2017-06-27 00:27] jadeshi commented on #619
Okay I think I see. So would it be correct to interpret this as: excluding the last step of the rollout, when you actually observe a direct reward by winning or losing the game, the discounted reward at any step before that is basically the estimate for the value of the next state s', with the step reward being 0?

[2017-06-27 00:31] rbharath commented on #571
The RL work is more following a hunch rather than a solid application. We suspect it will eventually be useful.

[2017-06-27 00:44] peastman commented on #619
Rewards don't just come at the end of the game.  Depending on the task, there could be rewards at every step, or less often than that.  The discounted reward at any step is the sum of all rewards received from that step until the end, reduced by a discount factor.  That applies to one particular rollout.  The value function is the expectation value of the discounted reward.  So if you generate man

[2017-06-27 00:46] JimSEOW commented on #599
@rbharath please give me some time, I am still sorting out much of deepChem.

I am very excited of the immense potential of using deepChem to integrate deep learning to disrupt existing docking algorithms

The test I did today, both for Win10 X64 with GPU tensorflow and also OpenSuse [one click installable from Window Store and not shown here], looks very promising. I encourage more people to join

[2017-06-27 00:50] rbharath commented on #599
Of course, please take the time you need :)

On Jun 26, 2017 5:46 PM, "JimSw2016" <notifications@github.com> wrote:

[2017-06-27 00:59] JimSEOW commented on #599
@rbharath what kind of [Autogrow ](http://autogrow.ucsd.edu/) algorithms are available in DeepChem?

There is also windows x64 [igrow](https://github.com/HongjianLi/igrow), inspired by AutoGrow

[2017-06-27 01:29] jadeshi commented on #619
Right, I think we may be talking about the same thing. I was specifically referring to the reward scheme for a game like pong where the rewards aren't explicitly known until you win or lose, and in this case the discounted reward at each state per rollout would just be exactly the value estimate for that state.

[2017-06-27 01:52] peastman commented on #619
Not quite.  In that situation, the discounted reward at that state would be different for every rollout, but the value estimate would be the same for every one.  The latter is the expectation value of the former.

[2017-06-27 02:12] jadeshi commented on #619
Ah, I think I said that unclearly. To clarify, I meant that during every rollout, the discounted reward serves as an isolated per-rollout estimate of the value of the state, and then the value function is updated to move a little bit towards this estimate, and the difference between the per-rollout value estimate and the value function, the advantage, is also used to update the policy. As I unders

[2017-06-27 04:42] peastman commented on #619
Correct.

[2017-06-27 04:52] rbharath commented on #599
We don't currently have any Autogrow algorithms, but I would be happy to see contributions of Autogrow methods :)

[2017-06-27 04:55] rbharath commented on #616
Yeah, I think that's the rough idea. Instead of having graph convolutional neighborhoods be just the direct bonded neighbors, you could make an atrous neighborhood of an atom which is all atoms two bonds out. This would enable the receptive fields of the molecules to communicate over much larger distances and could enable big performance improvements for large molecules. I'm pretty excited about t

[2017-06-27 05:06] peastman commented on #616
I saw a talk recently on Message Passing Neural Networks (a generalization of graph convolutions) where they added an extra "pseudo-atom" to the molecule graph that was connected to every atom in the molecule.  They found that improved the results, since it created a shortcut for information to propagate quickly over long distances.  A somewhat similar idea?

[2017-06-27 05:12] peastman commented on #616
They're sort of orthogonal ideas.  You can select which type of MPNN you want (graph convolutions are a special case of them).  And you can also decide what set of "extra connections" you want to include.  You can mix and match those however you want.

[2017-06-27 05:13] rbharath commented on #616
We should build both and benchmark all the combinations :)

On Jun 26, 2017 10:12 PM, "peastman" <notifications@github.com> wrote:

[2017-06-27 14:47] rbharath opened #620 "Drug Response VAE"
https://arxiv.org/abs/1706.08203

Looks interesting. We should add an implementation to DeepChem

[2017-06-27 19:56] LRParser commented on #620
Agreed, it doesn't look like any of their code is open source though. Would a Keras implementation be the desired way to go? Ref: https://github.com/fchollet/keras/blob/master/examples/variational_autoencoder.py

[2017-06-27 20:38] rbharath commented on #620
We dropped Keras support a while ago due the rapidly changing API which broke the build a few times. Has the Keras API stabilized now?

It might also be straightforward to do this in TensorGraph (cc @lilleswing)

[2017-06-27 22:27] patrickhop opened #622 "Model Saving [TensorGraph]"
[code]

[code]

[2017-06-27 23:18] patrickhop opened #623 "Inference [Tensorgraph]"
There doesn't seem to be any relationship between labels and predictions. To the best of my understanding, the underlying implementation does reverse the normalization on the labels, so that cause is out.

[code]

[code]

[2017-06-27 23:29] patrickhop opened #624 "Init GraphConv [Tensorgraph]"
I'm can't quite figure out how to get the tensorgraph graph convolutions working correctly. Is the procedure different than the other approaches?

[code]

[code]

[2017-06-27 23:33] lilleswing commented on #620
The main network topology is described in this paper -- https://papers.nips.cc/paper/6581-improved-variational-inference-with-inverse-autoregressive-flow.pdf

![selection_039](https://user-images.githubusercontent.com/1225605/27614111-90947978-5b6d-11e7-9e91-0ed223b09061.png)

I had trouble following their semi-supervised learning scheme so I don't know if I can comment on how easy it would be to

[2017-06-27 23:37] lilleswing commented on #620
Their semi-supervised learning scheme works because they can train both x_1 and x_2 over the encoder without training the gene expression changes as shown here.

![selection_040](https://user-images.githubusercontent.com/1225605/27614450-d4bf7fa6-5b6f-11e7-8cec-c2becdf0cedf.png)

This should be doable to port to Tensorgraph.  Getting our hands on the datasets to prove that it worked might be the t

[2017-06-27 23:40] lilleswing commented on #616
@peastman we over here had the same thoughts about the "fake" atom connected to everything.  Expect a PR coming up -- we wanted to combine it with the set2set but expect it in the next week.

[2017-06-27 23:41] patrickhop opened #625 "Multi-Task Regression [Tensorgraph]"
Tensorgraph multi-task regression does not seem to work for the regression case:

[code]

[code]

[2017-06-28 00:08] patrickhop commented on #623
the last figure in the printout is the r2 value

[2017-06-28 00:24] rbharath commented on #620
I'd love to get some gene expression data in DeepChem. There are some very impressive results here, notably:

http://stm.sciencemag.org/content/3/96/96ra77

If we could get that implemented in DeepChem, would be amazing!

[2017-06-28 03:10] Agent007 commented on #207
I was looking at this, but I notice this issue had already been fixed in https://github.com/deepchem/deepchem/commit/ecfdcc5d420fbbd94053522e78f211fca3387b61

[2017-06-28 08:52] hfxfroi commented on #610
you can try this :
first, pip uninstall scikit-learn
then, pip install scikit-learn==0.17.1

[2017-06-28 09:05] hfxfroi opened #626 "opt_random.py：ValueError: could not broadcast input array from shape (140,3) into shape (70,3)"
## deemchem/contrib/atomicconv/acnn/core/opt_random.py

[code]

# result：

[code]

# please help , how to solve this problem?   I used Dcoker run, but this problem still exist.

[2017-06-28 13:54] rbharath commented on #207
@Agent007 Thanks for pointing this out! Going to go ahead and close issue

[2017-06-28 13:54] #207 closed

[2017-06-28 14:05] rbharath commented on #610
Let's fix this issue so we can use the standard scikit-learn.

@lilleswing: Do you have a sense of how tricky this one is?

[2017-06-28 14:06] rbharath commented on #626
@hxfroi Is this example from contrib? We don't active maintain the code in there.

@lilleswing: Is there a good acnn example elsewhere?

[2017-06-28 14:28] mwojcikowski commented on #610
The `sklearn.cross_validation` is deprecated. We should use `sklearn.model_selection` instead. AFAIK `GridSearchCV` and `train_test_split` API is the same, so switching the import source should do the trick.

[2017-06-28 14:45] lilleswing commented on #624
The code backing dc.models.GraphConvTensorGraph is wrong and old.  I'm deleting it and pattern matching over the other models now.

[2017-06-28 14:57] rbharath commented on #624
@lilleswing Awesome! Thanks for taking on the cleanup!

[2017-06-28 14:58] rbharath commented on #610
@mwojcikowski Thanks for the pointer! This sounds like a quick fix then.

PRs welcome for this one! Sounds like a good quick fix for new contributors

[2017-06-28 15:18] lilleswing commented on #626
@hfxfroi @rbharath yeah let me look around in the code base.

[2017-06-28 15:24] rbharath commented on #626
@lilleswing Awesome thanks!

[2017-06-28 17:06] lilleswing commented on #626
@hfxfroi Some fixes needed to be made to contrib -- see here
https://github.com/deepchem/deepchem/pull/628

With that brnach https://github.com/deepchem/deepchem/blob/master/contrib/atomicconv/acnn/core/tensor_graph_hyper_param_search.py would be a working example of how atomic convs from https://arxiv.org/abs/1703.10603 works.

[2017-06-28 19:02] LRParser opened #630 "Add MoleculeNet wrappers for Factors/Kinase/UV datasets"
I recently ran python benchmark.py from examples/ using 1 K80 on a Amazon EC2 p2.xlarge instance. The benchmark failed after 18.5 hours with the following error:

[code]

The time elapsed was:
real    1125m29.127s
user    1723m4.204s
sys     170m16.504s

This issue is to ensure that the /home/ubuntu/deepchem/examples/kaggle/KAGGLE_training_disguised_combined_full.csv.gz file is either made present

[2017-06-28 19:04] LRParser opened #631 "Add a README.md to each of the examples subfolders describing meaning of the data and models built"
This issue is to see if authors agree with the approach of adding a README.md to each main folder under ~/deepchem/examples, e.g.:

~/deepchem/examples/pdbbind/README.md
~/deepchem/examples/nci/README.md

etc

They would then describe what the script run does in enough detail for a novice bioinformatician to understand the usefulness of the built model.

[2017-06-28 20:18] patrickhop commented on #631
If @rbharath green lights it, i'm happy to make some of these contributions.

[2017-06-28 20:19] patrickhop commented on #624
Thank you @lilleswing

[2017-06-28 20:23] LRParser opened #632 "download_data.sh fails with find: -exec: no terminating ";" or "+""
Get the following error (or similar as 'missing arugment') on ubuntu 16 and mac OS X

localhost:deepchem-fork myuser$ ./scripts/download_data.sh
find: -exec: no terminating ";" or "+"

[2017-06-28 20:24] patrickhop commented on #601
(FYI) From my experiments, removing batch normalization in favor of SELU on graph convolutions improves the convergence rate but doesn't really move the needle performance wise.

[2017-06-28 20:29] patrickhop commented on #598
I've had a lot of luck with this:

https://github.com/hawk31/pyGPGO

[2017-06-28 20:51] rbharath commented on #631
Yes please! PRs welcome :)

On Jun 28, 2017 1:18 PM, "Patrick Hop" <notifications@github.com> wrote:

[2017-06-28 21:01] JimSEOW commented on #631
@LRParser In addition, it is important for me to know WHAT [in silico drug discovery] GAPs have yet to be addressed.

e.g. click2drug.org provide classification of tools according to the roles played in drug discovery.
We need this overview, along the preclinical and clinical value chain of drug discovery for a new user to deepchem to see what have been done, what have yet to be done, for those wi

[2017-06-29 06:35] rbharath commented on #630
@LRParser Good catch! I think removing KAGGLE from the benchmark run is the right way to handle this for now.

PRs welcome for fix!

[2017-06-29 08:47] LRParser commented on #620
Ok, this one is over my head for the moment, but I'll do my best to follow along and learn Tensorgraph.

[2017-06-29 09:09] LRParser commented on #630
Submitted a basic PR. The README.md format is nice since when you're browsing on Github, you start to learn what the datasets are. Can definitely use some help on this one as I'm still a novice - I'm mostly working on learning the project by mapping in my mind from the academic papers to code comments and creating docs as I go

[2017-06-29 09:10] LRParser commented on #631
Submitted a basic PR above. The README.md format is nice since when you're browsing on Github, you start to learn what the datasets are. Can definitely use some help on this one as I'm still a novice - I'm mostly working on learning the project by reading the academic papers and trying to map to the source / creating docs as I go

[2017-06-29 18:09] #632 closed

[2017-06-29 18:10] rbharath commented on #626
Closing this out since #628 has been merged in.

@hfxfroi Feel free to raise a new issue if there are more bugs!

[2017-06-29 18:10] #626 closed

[2017-06-30 00:38] patrickhop commented on #585
this would be awesome

[2017-06-30 09:54] JimSEOW commented on #585
@rbharath there are many pocket prediction tools. As we proceed towards polypharmacology, we need to explore the wobbly upper part of the 3D pocket.

Also, how good is deepChem is classifying pocket at invariant 3D shape level?

[2017-06-30 13:37] lilleswing commented on #630
@rbharath are there legal concerns with the kaggle dataset?  You already seem to be storing them in s3.  Why not lazily load them into the data directory?
https://github.com/deepchem/deepchem/blob/master/examples/kaggle/get_kaggle.sh
https://github.com/deepchem/deepchem/blob/master/examples/kaggle/kaggle_datasets.py

[2017-06-30 14:35] rbharath commented on #630
@lilleswing There are no legal issues, and a lazy load would be a reasonable technical solution as well.

[2017-06-30 14:37] rbharath commented on #585
Not clear. The binding pocket prediction in DeepChem is very untested right now. Invite comments on performance of various pocket prediction methods on this thread :)

[2017-06-30 14:38] lilleswing commented on #622
The weave layers were previously not pickle-able

https://github.com/deepchem/deepchem/pull/636

[2017-06-30 19:24] patrickhop commented on #623
this is resolved. i might push the fix later

[2017-06-30 20:46] lilleswing commented on #625
Weave was concatonating on axis=1 over [[?], [?],[?]] -- fixed in
https://github.com/deepchem/deepchem/pull/636

[2017-06-30 21:34] peastman opened #639 "GRU layer with RL"
I want to use a TensorGraph GRU layer as part of a model for reinforcement learning.  It's not clear how to make that work.  I'm pretty sure it's going to need some modifications, but I'm not certain of the best way to do it.

The GRU layer doesn't expose its internal state in any way.  Every time you call `session.run()`, it reinitializes the state to all zeros, runs that batch through it, and th

[2017-07-01 02:42] hfxfroi commented on #626
Thanks@rbharath

[2017-07-02 20:25] peastman commented on #639
I've been studying how Tensorflow implements RNNs, and I think I see how this could work.  It will take some architectural changes to TensorGraph.

As I understand it, for each tensor defining the internal state of a recurrent unit (GRU has one, LSTM has two), we need three different tensors:

- A placeholder used to specify the initial state in the feed dict.  We need to create this and pass it t

[2017-07-03 18:54] lilleswing commented on #639
@peastman none_tensors() was built for arbitrary lists of tensors -- you can see it in action already in InputFifoQueue, GraphConv and my CR for making the weave layers pickle-able.

Do we want to be explicit about the tensors we want to use?  Or would we rather store a list of tensors and then we know what they are for rnn type problems?

[2017-07-03 20:39] peastman commented on #639
Ok, that's fine.  If the return value from `none_tensors()` can be an arbitrary list, that will work.

[2017-07-05 02:30] rbharath commented on #622
Closing now that #636 has been merged in.

[2017-07-05 02:30] #622 closed

[2017-07-05 02:45] rbharath commented on #625
@patrickhop Can you check out HEAD and see if bug is fixed?

[2017-07-05 02:45] rbharath commented on #624
@patrickhop Is the issue resolved in HEAD now?

[2017-07-05 02:46] rbharath commented on #623
@patrickhop Was the fix a bug in deepchem itself or a downstream bug?

[2017-07-05 02:47] rbharath commented on #619
Going to close this issue since I think the original question has been answered. Feel free to re-open if not.

[2017-07-05 02:47] #619 closed

[2017-07-05 14:23] lilleswing commented on #624
Nah I'm having trouble with the port -- haven't fixed it yet.

[2017-07-05 17:45] lilleswing commented on #614
@dibyadeeppaul do you have any other questions about the API or can we close this issue?

[2017-07-05 18:00] lilleswing commented on #610
@mwojcikowski is this fixed now?

[2017-07-05 18:06] lilleswing commented on #624
https://github.com/deepchem/deepchem/pull/642

[2017-07-05 18:12] lilleswing commented on #555
I think it is save to close this now -- especially after adding additional testing for pickling TG layers.

[2017-07-05 18:17] lilleswing commented on #510
https://github.com/deepchem/deepchem/pull/643

[2017-07-05 18:18] lilleswing commented on #490
We can close this issue.

[2017-07-05 18:18] lilleswing commented on #489
We can close this issue.

[2017-07-05 18:18] lilleswing commented on #486
We can close this issue.

[2017-07-05 18:19] lilleswing commented on #476
After adding @slow annotations on slow tests we can now close this issue.

[2017-07-05 18:21] lilleswing commented on #467
A membrane permeability dataset has been added to MoleculeNet
https://github.com/deepchem/deepchem/tree/master/examples/membrane_permeability

We can close this now.

[2017-07-05 18:21] lilleswing commented on #441
We now have a CLA and are under the MIT license.  I believe we can close this issue.

[2017-07-05 18:22] lilleswing commented on #463
We have a working gpu-enabled docker image with documentation on creating and uploading it in the release docs.  We can close this issue now.

[2017-07-05 18:24] lilleswing commented on #439
We are currently using protobuf 3.1.0 with tf 1.0.1.  Latter versions of tf require protobuf 3.2.x.  We will upgrade the protobuf when we upgrade tensorflow (probably to 1.2.x).  This issue can be closed and further conversation can be had https://github.com/deepchem/deepchem/issues/602

[2017-07-05 18:26] lilleswing commented on #376
I think we can close this as we already have a 1.0.0 and a 1.1.0 release.

[2017-07-05 18:27] lilleswing commented on #349
I think we can close this in favor of save/load on the new TensorGraph models.

[2017-07-05 18:28] lilleswing commented on #333
No more segfault without openbabel!  We can close this.

[2017-07-05 18:28] evanfeinberg commented on #333
Awesome, thank you Karl for all of your efforts on this!

On Wed, Jul 5, 2017 at 11:28 AM, Karl Leswing <notifications@github.com>
wrote:

[2017-07-05 18:29] lilleswing commented on #215
Can we declare this complete with the [MoleculeNet](https://arxiv.org/abs/1703.00564) release?

[2017-07-05 21:41] patrickhop commented on #625
@rbharath Rerun results:
[code]

[code]

[2017-07-05 22:19] lilleswing commented on #625
The other half of the fixes are in here -- we needed to get more explicit about what shapes we need out of the labels in predictor_generator.
https://github.com/deepchem/deepchem/pull/642

[2017-07-05 22:34] rbharath commented on #215
Hah, yes, this has been hit by MoleculeNet. We are still revising MoleculeNet, but we can discuss in other threads if necessary.

[2017-07-05 22:34] #215 closed

[2017-07-05 22:35] #333 closed

[2017-07-05 22:35] rbharath commented on #349
Agreed. We still need good tutorial material for new graph conv models, but that's for a separate issue.

[2017-07-05 22:35] #349 closed

[2017-07-05 22:36] rbharath commented on #376
Agreed!

[2017-07-05 22:36] #376 closed

[2017-07-05 22:37] #439 closed

[2017-07-05 22:37] #463 closed

[2017-07-05 22:37] #441 closed

[2017-07-05 22:38] #467 closed

[2017-07-05 22:38] #476 closed

[2017-07-05 22:39] #489 closed

[2017-07-05 22:40] #490 closed

[2017-07-05 22:42] #555 closed

[2017-07-05 22:45] rbharath opened #644 "New GraphConv Variant"
https://arxiv.org/pdf/1706.09916.pdf

H/T @patrickhop

Would be interesting to see how this performs on MoleculeNet. PRs with implementations welcome!

[2017-07-05 23:18] patrickhop commented on #623
Downstream. Predict_on_batch should be used here - not predict.

Closing issue.

[2017-07-05 23:18] #623 closed

[2017-07-05 23:35] DorisMai opened #645 "Splitter(splitter.py) "local variable 'directories' referenced before assignment""
I encountered `UnboundLocalError: local variable 'directories' referenced before assignment
` as I tried to do a k-fold split:
[code]

I don't understand what is directories and where should I pass value for this variable. I would really appreciate some help and explanation on it. The k_fold_split() function in the SingletaskStratifiedSplitter class does not take directories as a parameter:

[code

[2017-07-06 00:15] patrickhop commented on #644
wish he went into more depth about the graph deconvolutions

[2017-07-06 13:09] lilleswing commented on #645
The implementation of SingletaskStratifiedSplitter is not fullfilling the k_fold_split interface of Splitter

[code]

We should make SingletaskStratifiedSplitter adhere to the interface and add a **kwargs to the interface.

[2017-07-06 13:45] lilleswing commented on #645
https://github.com/deepchem/deepchem/pull/647

[2017-07-06 22:00] rbharath commented on #645
@DorisMai Thanks for the bugcatch!

@lilleswing Thanks for the rapid fix!

Going to close this issue since I think the issue has been resolved. @DorisMai you should be good once you pull from head. Feel free to raise a new issue if there are further problems

[2017-07-06 22:00] #645 closed

[2017-07-06 23:02] rbharath commented on #625
@patrickhop Give it one more try now #642 is merged in? :-)

[2017-07-06 23:08] rbharath commented on #624
@patrickhop Could you give this one a try with HEAD and see if the issue is fixed?

[2017-07-07 08:24] patrickhop commented on #624
i'm having trouble duplicating the old ADME results with this version. looking into it.

[2017-07-07 15:47] lilleswing opened #648 "Change Coveralls Coverage Decrease Failure Threshold"
We are failing a lot of builds with very small changes in coverage.  Lets change the difference in coverage required to be within 1% of existing coverage.

![selection_042](https://user-images.githubusercontent.com/1225605/27965399-ab748d34-6309-11e7-8565-53d3c723c0ea.png)
1) Go to coveralls [website](http://coveralls.io)
1.5) Click on Deepchem Repo

![selection_043](https://user-images.githubuser

[2017-07-07 16:43] peastman commented on #648
Also, I don't think the numbers it reports have much to do with reality.  I've seen cases where it reports that a PR decreased the coverage, then when it gets merged it reports that same PR increased the coverage.  I'm not sure what exactly it's reporting, but I don't think it's what we intend it to be reporting.

[2017-07-07 19:09] rbharath commented on #624
My guess is that there's a tuning issue. The current class uses a fixed
architecture that may not be best suited for your problem.

PRs to generalize the class to allow kwarg specification of other
architectures welcome!

On Jul 7, 2017 1:24 AM, "Patrick Hop" <notifications@github.com> wrote:

[2017-07-07 20:43] DorisMai opened #649 "TensorGraphMultiTaskRegressor(fcnet.py) Import error and Attribute error"
When I run this line:
`from deepchem.models.tensorflow_models.fcnet import TensorGraphMultiTaskRegressor`, I encountered
[code]

When I try to build a model:
`model = dc.models.TensorGraphMultiTaskRegressor(1,1024)`, I encountered
[code]

Is it possible that there are circular imports for TensorGraphMultiTaskRegressor?

[2017-07-07 22:04] patrickhop commented on #601
FYI: selu requires 1.0 / sqrt(fan_in) initialization. I think we're using 2 / sqrt(fan_in + fan_out).

[2017-07-07 22:10] mkputul opened #650 "Saving the model to use for prediction"
Dear All,

How do we save a model to use for predictions? For example, I ran delaney_tf_models.py in example folder. I see that there is a model.save() command but it does not produce anything.
I apologize if my question is simple as I am a newbie in using deepchem and tensorflow.

Thanks

[2017-07-07 22:12] peastman opened #651 "Batch normalization in convolution"
I just spent a few days tracking down a problem that ultimately turned out to be caused by the fact that the Conv2D layer applies batch normalization.  This can cause really subtle, hard to identify incorrect behaviors.  In my case, I had an RL model that contained both a Conv2D and a GRU.  When it was executing a rollout, it would take one step at a time (batch size of 1).  Then it would evaluate

[2017-07-08 15:42] rbharath commented on #648
Agreed that it's worth making the coverage failure more robust. Increased threshold to 1%.

[2017-07-08 15:42] #648 closed

[2017-07-08 15:51] rbharath commented on #649
@DorisMai The same import and construction seems to work on my system:

[code]

Perhaps a bug in your install?

[2017-07-09 17:57] rbharath commented on #651
I'm inclined to turn off batch norm as default too. As you point out there are many subtle batch norm bugs, and having opt-in seems better.

[2017-07-09 17:58] rbharath commented on #650
This is a good question. The short answer is that you will need to use the TensorGraph graph convolutions. There are multiple backends for graph convs. The earlier ones unfortunately can't be saved. We're gradually moving towards making TensorGraph the default, but are still debugging and adding conveniences.

[2017-07-09 18:00] rbharath commented on #601
Bugfix PRs welcome :)

[2017-07-09 19:27] peastman commented on #601
Are you saying that SELU is implemented incorrectly, or just that particular models aren't being initialized in the correct way to work with it?  If the latter, which ones?

[2017-07-09 22:58] mkputul commented on #650
Thank you for your response. While I was trying, I could save the transformers and datasets to a folder using save_dataset_to_disk command from utils.save. So I wanted to load the model using model.predict(datasets, transformers). Is this the right way to do it, because I got the following error:

model.predict(datasets, transformers)
  File "/home/mk/anaconda2/envs/deepchem/lib/python3.5/site-pac

[2017-07-09 23:01] rbharath commented on #650
Could you put together a short script that exhibits this failure (ideally < 30 lines) and post it on this issue?

[2017-07-09 23:29] mkputul commented on #650
**As I am not a professional programmer, I was not sure how to put this together to make it short (since the data was trained and and saved on local disk, and then loaded via another script) . But here is what I did. I first trained model using following code (It is deleany code with small edit- You will need the delaney_dataset.py as well.)**
------------------------------------------------------

[2017-07-10 17:42] DorisMai commented on #649
I don't quite understand. I can successfully import TensorflowMultiTaskRegressor which is from the same file fcnet.py as TensorGraphMultiTaskRegressor.  Do you have any suggestion on what bug it might be and what I should do?

[2017-07-10 20:31] lilleswing commented on #651
I'm inclined to turn off batch norm as default as well.

[2017-07-11 00:12] patrickhop commented on #650
This code works, and should work across the tensorgraph family.

As for the older models, I assume it's hit or miss?

[code]

[2017-07-11 00:15] patrickhop commented on #600
would love to see this happen

[2017-07-11 00:15] patrickhop commented on #625
This is resolved now in a new PR. Closing.

[2017-07-11 00:15] #625 closed

[2017-07-11 00:16] patrickhop commented on #624
New PR duplicates old performance results. Closing.

[2017-07-11 00:16] #624 closed

[2017-07-11 00:17] patrickhop commented on #579
Resolved. Closing.

[2017-07-11 00:17] #579 closed

[2017-07-11 03:45] #639 closed

[2017-07-11 03:54] patrickhop commented on #601
It looks like SELU is implemented correctly, but if you want to throw it on top of something, there are a lot of mathematical assumptions conditioned on what's underneath it for the activations to indeed converge to zero mean and unit variance. The alpha and scale constants in the deepchem codebase are derived for fully connected networks initialized with 1.0 / sqrt(fan_in) (gaussian init).

Right

[2017-07-11 04:01] rbharath commented on #649
Could you post the full script you're trying to run and the full error message here?

[2017-07-11 05:35] DorisMai commented on #649
Here's the full script and output messages.

Command:
[code]
Output message:

Command:
`model = dc.models.TensorflowMultiTaskRegressor(1, 1024)`
`from deepchem.models.tensorflow_models.fcnet import TensorGraphMultiTaskRegressor`
Output message:

Command:
[code]
Output message:

[2017-07-11 16:52] peastman commented on #651
#655 addresses this as far as Conv2D is concerned.  I haven't changed AtomicConvolution because I'm less clear on how that works.  Perhaps someone who knows the atomic convolution code can fix that?  Until it's fixed, any RL model that includes both an AtomicConvolution and a GRU won't work correctly.

[2017-07-11 17:42] peastman opened #657 "Get rid of yapf"
Can we switch to some other formatter instead of yapf?  I really really dislike it.  To begin with, it produces horrible looking code.  Here's an example from a file I just checked in.  I wrote a simple, readable line of code:

[code]

But here is how yapf decided to reformat that:

[code]

Seriously???  That looks like something someone would write as a joke.

I could live with that if it weren't

[2017-07-11 20:01] mkputul commented on #650
Thank you Patrick. It works for me as well.
Bests,

[2017-07-11 20:07] mkputul opened #658 "Mixture descriptors"
Dear All,

The molecular featurization is done using ECFP or GraphConv or etc. This converts the single molecule to appropriate format for machine learning. Does deepchem have the capability to do featurization for mixture of molecules based on their molar percentages? An example of this implication can be found in following manuscript:

Gaudin, Theophile, Patricia Rotureau, and Guillaume Fayet. "

[2017-07-11 21:24] lilleswing commented on #651
@peastman I can add batch norm as a flag to atomic conv.

The batch norm helps performance but it isn't integral to the atomic conv architecture.

[2017-07-11 21:53] lilleswing commented on #657
We are two version behind on yapf

https://github.com/google/yapf/releases
https://pypi.python.org/pypi/yapf/0.16.2

Maybe they fixed some bugs in between the versions?

[2017-07-11 22:20] rbharath commented on #657
Switching to later versions of yapf sounds like a good first step.

Are there any other good python formatters?

[2017-07-11 22:22] mpharrigan commented on #657
The pycharm built-in formatter is excellent, but I don't think you can run it standalone

[2017-07-11 22:23] #650 closed

[2017-07-11 22:25] rbharath commented on #658
This isn't currently supported, but it sounds like an interesting feature. I'd be open to a PR adding it as a new featurizer

[2017-07-12 04:01] miaecle opened #659 "Worse performance of tensorGraph implementation of Weave"
`dc.models.WeaveTensorGraph` is a TensorGraph based implementation of the original Weave model(`deepchem.nn.AlternateSequentialWeaveGraph`), using exactly the same layer structure. But the performance on delaney(ESOL) does not match: valid r2 0.82(WeaveTensorGraph, 100 epochs) vs 0.89(SequentialWeaveGraph, 50 epochs), 50-epoch performance is even worse for WeaveTensorGraph, all other hyper paramet

[2017-07-12 09:41] pincher-chen opened #660 "error running pdbbind_rf.py"
I get pdbbind_v2015.tar.gz by get_pdbbind.sh, when i run pdbbind_rf.py error occured:

[code]
I found no 1d2v in v2015  folder. I tried to delete 1d2v in  v2015/INDEX_general_PL_data.2015, the computing can continue, but another error occured:
[code]
How can run this examples successfully?

[2017-07-12 13:28] mkputul commented on #658
Thank you rbharath.

[2017-07-12 14:44] lilleswing commented on #660
https://github.com/deepchem/deepchem/pull/661

[2017-07-12 14:52] lilleswing commented on #659
@miaecle I'll look through it today.  My initial guess is that despite using the same "layers" we are using different initialization constants.

[2017-07-12 16:00] #576 closed

[2017-07-12 16:26] miaecle commented on #659
@lilleswing That will be super helpful, thanks a lot!

[2017-07-12 17:13] rbharath commented on #649
I'm pretty stymied on this one. Does anyone else have thoughts?

CC @evanfeinberg

[2017-07-12 18:18] peastman commented on #649
Are you sure you have the current version of the code installed?  That looks like you're just using an old version from before that class was created.

[2017-07-12 20:14] DorisMai commented on #649
I used git pull origin master to update my files and I've checked that fcnet.py indeed has the new classes. But I still have this problem.

[2017-07-12 20:33] peastman commented on #649
How did you install it?  Are you sure Python isn't picking up an old version somewhere?

Try this:

[code]

That will tell you for sure what file it's using.

[2017-07-12 21:53] patrickhop commented on #659
Have you looked into the learning rate decay schedule? I can't speak to Weaves, but that was one of the differences on the GraphConv side.

[2017-07-12 22:04] DorisMai commented on #649
You are right. It is indeed picking up an old version: /home/huanghao/anaconda3/envs/py35/lib/python3.5/site-packages/deepchem/models/tensorflow_models/fcnet.py

The new file is actually in ~/deepchem/deepchem/models/tensorflow_models/fcnet.py

How can I make python use the new file? Do you have any suggestion on what to do with the old files after I git pull in the future?

[2017-07-12 22:37] peastman commented on #649
You probably installed the old version by typing

[code]

If you type that again, it will install the new version in its place.  Alternatively, you can type

[code]

That will tell it to use the versions of the files in your source tree, so whenever you pull new changes from github it will see them automatically.

[2017-07-12 22:45] evanfeinberg commented on #649
Thank you, @peastman and @rbharath! and +1 to installing in ```develop```
mode!

On Wed, Jul 12, 2017 at 3:37 PM, peastman <notifications@github.com> wrote:

[2017-07-12 22:53] DorisMai commented on #649
Thank you @peastman, @rbharath, and @evanfeinberg! I used `python setup.py develop` and now all problems are fixed.

[2017-07-12 22:53] #649 closed

[2017-07-13 00:02] rbharath commented on #649
Awesome, glad to hear this was worked out!

[2017-07-13 02:27] pincher-chen commented on #660
I have found pdbbind_datasets.py file that has been modified. I test but error still happened.
[code]

[2017-07-13 03:04] pincher-chen commented on #660
I try to change "subset = "core"" in pdbbind_rf.py,  and  data processing can be done successfully, but error happened:
[code]

[2017-07-13 14:05] agitter commented on #630
Are the other three Merck datasets (Factors, Kinase, UV) from your [new paper](http://pubs.acs.org/doi/abs/10.1021/acs.jcim.7b00146) also available in S3?  I saw `KINASE_datasets.py` loads three csv files but didn't know where to find those data files.

[2017-07-13 14:14] rbharath commented on #630
Not yet. Will upload them soon.

[2017-07-13 15:28] mkputul opened #663 "Custom features"
Dear All,

Is there a way to train a model using multiple features where one of the features be the GraphConv or ECFP and others be other properties such as molecular weight or  heavy atom count or etc. ?
I can see that the user defined features are used as an example in "bace" (although it does not work in my PC), but I would like to have one of the features as ECFP or GraphConv in addition to ot

[2017-07-13 16:01] sacombs commented on #663
For the graph convolution method, I added a virtual atom with properties on
it. I have tinkered around with making a custom graph method that encodes a
separate convolution for molecule descriptors, but I haven't made much
progress on this yet.

Steven combs

On Jul 13, 2017 11:28 AM, "mkputul" <notifications@github.com> wrote:

[2017-07-13 16:46] rbharath opened #664 "Meta Learning with Temporal Convolutions"
https://arxiv.org/abs/1707.03141

Would love to see an implementation contributed to DeepChem. Wonder how it would compare to IterRef LSTMs

[2017-07-13 17:57] mkputul commented on #663
Thanks Steven. Could you please elaborate on how you made the virtual atom?

[2017-07-13 22:30] lilleswing commented on #660
@pincher-chen repull from master -- the featurizer for rf_pdbbind is "grid".

You can get the pre-featurized cocrystalized complexes for python 2.7 via
[code]
If you want to featurize it yourself (be carefull it takes ~ 15 seconds per complex per cpu core) you will need this PR which updates the error handling
https://github.com/deepchem/deepchem/pull/665

[2017-07-14 04:50] rbharath commented on #663
For the ECFP version, you should be able to use a `Concat` layer with `TensorGraph` to combine multiple feature types.

[2017-07-15 01:41] patrickhop commented on #664
Would love to see this as well. Did the authors release code?

[2017-07-15 03:15] rbharath commented on #664
I don't believe so. It doesn't look like it would be terribly complicated to implement with TensorGraph or PyTorch though.

PRs welcome from anyone interested!

[2017-07-15 04:22] rbharath opened #668 "Cutting 1.2 Release"
It's probably time to cut a 1.2 release of DeepChem. Are there any last PRs people want merged into 1.2? Will wait a couple days to give people time to respond before cutting.

[2017-07-15 04:29] rbharath opened #669 "Planning for deepchem 1.3"
Now that deepchem 1.2 is almost ready to push out (#668), it's a good time to start planning for things to put into deepchem 1.3. Here are a few features I'd like to see in deepchem 1.3

- PyTorch support in main DeepChem. There are now two interesting PyTorch models in contrib (graph-convs and MPNNs). Moving these into DeepChem proper would be useful.
- Convert one-shot models into TensorGraph. I

[2017-07-15 04:42] rbharath commented on #669
Thought of another 1.3 target:

- Adding PDDBind Protein-protein and Protein-nucleic acid collections to `dc.molnet`. This should be a relatively easy task for a new DeepChem developer.

Once these issues have had a little time to mature, I'll open individual issues for each desired new feature.

[2017-07-15 05:29] rbharath commented on #669
More thoughts:

- Uncertainty estimates on DeepChem models are the most common practitioner feature request I run into. Adding uncertainty estimate support onto DeepChem models would let users estimate domains of applicability for our models. Here are a few potential technical leads
  * Dropout based uncertainty (https://arxiv.org/pdf/1506.02142.pdf). Probably a good first method, but has a number

[2017-07-16 01:07] patrickhop commented on #669
I have dropout based uncertainty working, but I still need to write some tests.

I agree with pretty much all your ideas. Some suggestions I have are more robust tests and refactoring the examples. Those are both pretty low lying fruit.

[2017-07-16 04:13] rbharath commented on #669
@patrickhop Great! Looking forward to your PR

I'd definitely like to see more robust tests and refactored examples. Could we come up with concrete TODOs that a developer can perform?

[2017-07-16 17:18] mkputul commented on #663
Thank you Bharath . So I added another feature to ECFP by converting my temperature to a binary. Therefore, the size of fingerprint increased from 4096 to 4106 (10 bit representation of temperature). However, the issue is that when I want to assign the new fingerprint (with size 4106) to `dataset.X`, it raises an attribute error: `AttributeError: can't set attribute`.  Here is small part of code I

[2017-07-16 20:31] rbharath commented on #663
You want to make a new dataset object. Try `new_dataset = NumpyDataset(Y, dataset.y, dataset.w, dataset.ids)`

[2017-07-17 13:39] lilleswing commented on #668
Cut away!

[2017-07-17 14:18] mkputul commented on #663
Thanks Bharath. The issue is solved.

Bests,

[2017-07-17 16:16] #663 closed

[2017-07-17 16:44] patrickhop commented on #669
@rbharath Perhaps some tests centered around core functionality? Training, saving, inference, etc.

[2017-07-17 17:15] patrickhop opened #671 "Chemical Space Exploration"
I wanted to open this one up to discussion.

DeepChem has built up a variety of high-quality models, some of which can actually get quite far with the limited public data out there. Today, we can take in an arbitrary molecule and estimate its properties reasonably well. What's missing imo is a good way of going from molecule to molecule, which is holding back our ability to do drug optimization he

[2017-07-17 22:27] rbharath commented on #671
I agree that a way of systematically exploring chemical space would be of high value (perhaps a deepchem 1.3 target? #669).

I like the idea of starting with matched molecular pairs. Simple chemoinformatics techniques are often the best baseline before trying more complicated ideas.

PRs welcome!

[2017-07-17 22:28] rbharath commented on #669
Don't our current tests cover that already? If not, we should absolutely cover it. Feel free to open an issue on this with more details on tests we're missing

[2017-07-17 22:52] patrickhop commented on #669
I think we have coverage wrt to whether or not the code runs without crashing, but I don't think we look at the predictions coming out. Personally, I would like to go as far as having calibration molecules to test trained models against, but I would understand if there was resistance against that.

[2017-07-18 02:35] rbharath commented on #669
I'd be up to test trained models with calibration molecules. We probably can't run on Travis, but we can run on the Jenkins build.

I think in general, we should begin to start offering pretrained models (BBBP, Solubility, etc.) This would be a great 1.4 target perhaps.

[2017-07-18 04:31] rbharath opened #672 "Submanifold Sparse Convolutional Networks"
https://arxiv.org/abs/1706.01307
https://github.com/facebookresearch/SparseConvNet

New paper from Facebook for dealing with sparse, volumetric data. Comes with some nice PyTorch code too! This could be a very useful paper for analyzing binding pockets featurized volumetrically (`grid_featurizer` does this already).

PRs adding submanifold sparse models to `contrib/` welcome!

[2017-07-18 04:37] rbharath opened #673 "Resuscitate deepchem.io site?"
The documentation site is broken currently (the javascript isn't working, and everything is out of date).

Are there any volunteers who want to help resuscitate the website?

If I can't find volunteers, I'm considering closing down the site for the time being. Better to have people come to the github rather than a broken docs site.

[2017-07-18 05:49] rbharath commented on #668
Released! https://github.com/deepchem/deepchem/releases

@lilleswing Could you upgrade the docker image?

[2017-07-18 14:03] lilleswing commented on #673
I think the github + gitter is better with our current velocity.

[2017-07-18 14:07] lilleswing commented on #669
I think longer running correctness tests on Jenkins are important.  With moleculenet in a more stable state now running it weekly on Jenkins is actually a possibility.

Also I think we should start thinking about how to ship pre-trained models for people in industry.  A plug-in-play toxicity model would help a lot for getting our foot in the door and DeepChem installed.  To do that though we have

[2017-07-18 14:11] lilleswing commented on #669
In combination with the pre-trained models notes/guidlines for best practices for online training of the models in the face of new data.

[2017-07-18 14:56] evanfeinberg commented on #672
Been waiting for this for a while, ever since the author's first papers on
this (e.g., https://arxiv.org/abs/1505.02890).

On Tue, Jul 18, 2017 at 12:31 AM, Bharath Ramsundar <
notifications@github.com> wrote:

[2017-07-18 17:59] rbharath opened #676 "Model Agnostic Meta Learning"
New ICML paper for low data learning. Most interestingly, has results for regression. We might be able to adapt it to low data molecular regression problems (we only support classification right now). They have a TF implementation.

https://arxiv.org/abs/1703.03400
https://github.com/cbfinn/mam

PRs adapting this code into DeepChem welcome!

[2017-07-18 18:53] rbharath commented on #669
I'm strongly in favor of shipping pretrained models. How about a new module `dc.pretrained`? I'd like us to have pretrained models for

- Blood brain barrier penetration
- Cell Membrane permeability
- hERG
-  And more...

Please suggest more pretrained models we can put together.

[2017-07-18 19:32] LRParser commented on #669
@rbarath is there any single pretrained model that you think might be easiest to ship? Maybe something based on tox21? I would be happy to help with one

[2017-07-18 20:36] patrickhop commented on #669
@rbharath @lilleswing Wrt to pretrained models, I think we'll have to be selective about what gets put out there. Sadly, if someone in industry uses a solubility model that was trained on delaney that fails (and it probably will), they are not going to blame the delaney dataset, rather they will blame deep learning and deepchem.

Another concern is the source of truth. It depends on the assay, but

[2017-07-18 23:51] rbharath commented on #669
I think I'm fine with people complaining about us. Loud complaints are the fastest way to see where we're terrible and need to improve :)

Facetiousness aside, I agree we should do our best here. As @patrickhop points out, we will be judged for what we put out, so we should make a best faith effort.

One way to temper expectations might be for us to estimate domain of validity; if Tanimoto score o

[2017-07-19 03:18] rbharath commented on #668
Made a PR to update the conda version of DeepChem

https://github.com/omnia-md/conda-recipes/pull/802

Once that PR is merged in, we should be good to close this issue

[2017-07-19 16:03] lilleswing opened #677 "Splitter#k_fold_split interface"
What this does currently is returns the cross validation set for each of the folds -- but it doesn't return the indices it used or the training sets.

This is useless, if you were to use it you would want BOTH the training and validation datasets.

Can we change this to return a list of (train_dataset, test_dataset) tuples?

[code]

[2017-07-19 17:48] rbharath commented on #677
I like the proposed change. PRs welcome

[2017-07-19 19:53] rbharath opened #678 "Move TensorFlow to lazy imports?"
I get lots of requests from people to use DeepChem without TensorFlow as a strict requirement. How hard would it be for us to make TensorFlow a lazy imports like xgboost?

[2017-07-19 22:09] peastman opened #679 "Learning rate decay"
I've read that one should usually use learning rate decay during training, and that's it's really important for getting good results.  But I haven't seen any DeepChem models using it, and given how optimization is implemented in TensorGraph, I don't see any straightforward way to do it.  How can we make this possible?

[2017-07-20 00:58] evanfeinberg commented on #669
Overall, how much are we interested in incorporating PyTorch-based models
into DC 1.3? This applies generally and to the various ideas expressed
above.

On Tue, Jul 18, 2017 at 7:51 PM, Bharath Ramsundar <notifications@github.com

[2017-07-20 01:04] peastman commented on #669
My personal take on it: we really should be using TensorGraph whenever it's reasonable to do so.  There's a lot of benefit to having a unified architecture that everything's based on.  That way it will be much easier to combine different types of models with each other, and when we make improvements to that base architecture, all the different models benefit.

[2017-07-20 01:11] lilleswing commented on #678
I can do this -- it is literally just a find/replace

[2017-07-20 01:12] lilleswing commented on #678
I also think pytorch should be lazy

[2017-07-20 01:19] lilleswing commented on #669
My personal take on it: we should make more and more things come for "free" with TensorGraph, and add utilities to add the same value that pytorch adds.

Say we want to have a RL model with atomic convolutions -- we would then need a pytorch version of atomic convolutions, and a pytorch implementation of A3C.  Both of which while non-trivial in theory have lots of small details that need to be ham

[2017-07-20 01:36] lilleswing commented on #679
@peastman were the learning rate decay papers using Adam ( the default optimizer in TG)?
Adam already does a decay followed by a raise as described here
https://www.tensorflow.org/api_docs/python/tf/train/AdamOptimizer
https://arxiv.org/pdf/1412.6980v8.pdf
And most of what I have read is that Adam handles decay on its own.

Having said that we have https://github.com/deepchem/deepchem/blob/master/

[2017-07-20 01:38] lilleswing commented on #678
After I do this there are no guarantees on what works though.... the real work is defining a minimum set of what we want to work without TF and then having someone write tests for it (probably on jenkins).  I would recommend before we ship it as "not needing tensorflow"

[2017-07-20 01:53] peastman commented on #679
I don't think that's actually learning rate decay.  See the discussion at https://stats.stackexchange.com/questions/200063/tensorflow-adam-optimizer-with-exponential-decay.  Including the second answer which said the same thing you did, and then someone else commented on it to explain why it's incorrect.

Given the current API, I don't see how that's possible.  At least not in a way that doesn't b

[2017-07-20 05:19] rbharath commented on #669
This is good feedback. I do like the idea of centering our engineering efforts on TensorGraph. I think our goal is to build a system that is capable as serving as the computational foundations of pharmaceutical and biotech companies, and that will take lots of engineering. We're not such a big development team that we can afford to split our powers.

At the same time, PyTorch is really winning hea

[2017-07-20 05:22] rbharath commented on #669
As a more general note, the discussion on here has been great. Let's keep tossing around ideas on this thread.

In the meanwhile though, please feel free to pick any of the non-pytorch items on this thread and get cracking with implementation!

[2017-07-20 05:29] rbharath commented on #679
One intermediate option might be to support fixed decay schedules (linear, exponential, etc). We could store these as strings, which would provide no issues with saving.

A general decay schedule would have to be a stored function. Can we pickle functions?

[2017-07-20 05:31] rbharath commented on #678
Let's leave this one rest for a while. It sounds like there would be some nontrivial engineering work required to do this in a stable fashion. I'm going to close this issue for now, but might re-open at a later date if it becomes more important.

[2017-07-20 05:31] #678 closed

[2017-07-20 07:05] patrickhop commented on #679
I think Adam decays the beta terms for the exponential moving averages, not the learning rate alpha.

[2017-07-20 10:04] jbesnard commented on #599
I run deepchem directly with win 10 and python 3.6, and tf is using my GPU.
Benchmark.py is working fine.
Running nosetests -v deepchem --nologcapture gives:
Ran 312 tests in 689.807s
FAILED (errors=25)

Some are from import flacky failing, as mentioned by JimSEOW, vina.

I did not try docker because I'm sure if it can use the GPU.
I can look at some and reports some error. Documentation on how to

[2017-07-20 13:45] lilleswing commented on #679
https://github.com/deepchem/deepchem/pull/680
Is a stab I took at getting learning rate decay into TG.  It works but I still haven't fully tested whether it is pickle-able and how to save the Optimizer itself (this is less important for my use case of using models for inference).

[code]

[code]

[code]

[code]

    [<matplotlib.lines.Line2D at 0x7ff7854a7c50>]

![output_3_1](https://user-images.g

[2017-07-20 14:21] lilleswing commented on #678
I wouldn't declare it engineering work -- more "product" work.  What is the user experience we expect for people without Tensorflow.  Being able to run sci-kit learn based models, being able to create datasets.  I think we are actually quite close if not having solved these issues.

We can also lazy load and provide "as is", but I don't think that is a good solution as why even bother installing D

[2017-07-20 14:22] lilleswing commented on #677
ok I'll do it -- but this is a BREAKING change for people using this interface.

[2017-07-20 14:26] lilleswing opened #681 "Tag Device In TensorGraph"
We are starting to deploy DeepChem in server environments with multiple GPU's per node.  We wouldn't have to do this if our server environment implement proper cgroups or containerization -- but alas I think this will be standard across the industry.

I want to add a constructor arg for TensorGraph for the device so it won't try to take up a GPU that is supposed to be doing something else (say a D

[2017-07-20 15:32] rbharath commented on #681
Multiple GPUs per node seems likely to be an industry standard. I like the idea of being able to set a device in constructor.

I don't think we have immediate needs for multi GPU training. We should keep an eye on it, but for now seems like it's not yet worth the effort?

[2017-07-20 15:37] rbharath opened #682 "Predicting Targets for Ligands?"
A common feature request is to ask which targets a given ligand can bind to. This might be convenient if a given group has a molecule on hand and wants to see what they could do with it.

This would be a useful pretrained model for users.

[2017-07-20 15:58] rbharath opened #683 "EnzyNet"
https://arxiv.org/abs/1707.06017
https://github.com/shervinea/enzynet

Predicts enzyme function using 3D conv net. Has a Keras implementation. Would be useful to duplicate in TensorGraph.

[2017-07-20 16:02] peastman commented on #681
Let's not do anything that precludes using multiple GPUs at once.  Nvidia just gave us a pair of GPUs and nvlink connector specifically so we could work on that.

[2017-07-20 16:05] rbharath commented on #678
Great, to hear DeepChem will be part of Schrodinger's suite. Any chance we can get a press release with a shout out to DeepChem? :-)

[2017-07-20 16:09] lilleswing commented on #681
Well yeah kinda the point of this post -- how/are we planning on multi-gpu per model?  What would the API look like?  Can we make that API also satisfy tagginga whole TG model to a single gpu?  Do we have to do it on a per layer basis?

[2017-07-20 16:11] rbharath commented on #683
H/T @drnate

[2017-07-20 16:12] rbharath commented on #683
Ack, meant H/T @dr-nate

[2017-07-20 16:19] rbharath opened #684 "Proximal Policy Optimization"
https://blog.openai.com/openai-baselines-ppo/

OpenAI says PPO has become their default RL algorithm. Should we get a PPO implementation going in TensorGraph?

CC @peastman

[2017-07-20 17:16] rbharath opened #685 "Proximal Policy Optimization"
https://blog.openai.com/openai-baselines-ppo/

OpenAI says PPO has become their default RL algorithm. Should we get a PPO implementation going in TensorGraph?

CC @peastman

[2017-07-21 03:48] rbharath commented on #599
Great, thanks for the report! I'd very much welcome any PRs fixing these broken tests on windows. If the Windows build starts working, we can set up an Appveyor build to make sure that we maintain windows capabilities.

[2017-07-21 03:57] rbharath commented on #685
Opened this from my phone twice by accident. Duplicate of #684

[2017-07-21 03:57] #685 closed

[2017-07-21 07:53] JimSEOW commented on #599
@jbesnard, how did u install deepchem and its components in W10? Manual or script? Python3.6 from anaconda3? VIna just down and replaced. The other errors are the issues which need more time to investigate.

[2017-07-21 08:47] jbesnard commented on #599
I have anaconda for python installation.
I followed the instruction from the readme for deepchem; other libraries, if failing pip or conda were installed by following instructions from their website (tensorflow-GPU for example).

I pip install flaky, but as a results, the test would get stuck at

Not sure why.

I removed it, and now trying with vina.exe in correct location. Vina is running as I'm

[2017-07-21 13:19] JimSEOW commented on #599
@jbesnard

We definitely need this: _Is there a command to nosetest to output the errors in one text file?_

[2017-07-21 13:37] jbesnard commented on #599
I found one to export xml, but it exports everything, not just errors! Need to add those 2 flags: --with-xunit --xunit-file=output.xml
It helps a bit to debug though. Some problem on windows are linked to the test, and not the program itself. The test downloads files from s3 as tar.gz, and there is a tar command. But there is no "tar" under windows. Can be solved by doing it on the side (random_fu

[2017-07-21 13:46] JimSEOW commented on #599
@jbesnard   any gnu tool you need. download this into a folder and add that folder to Path
http://gnuwin32.sourceforge.net/packages.html

[2017-07-21 13:54] jbesnard commented on #599
@JimSEOW , tar -zxvf is not implemented.

[2017-07-21 19:11] lilleswing opened #687 "Replace shell drop wget with requests commands"
Use the [requests](https://github.com/requests/requests) library instead of shell dropping to wget.  wget doesn't exist on all systems (it doesn't even come default on osx).  This will help us get to be more cross platform.

examples
https://github.com/deepchem/deepchem/blob/ea879e410d27a833f7dd635164157889153c9a79/deepchem/molnet/load_function/chembl_datasets.py
https://github.com/deepchem/deepch

[2017-07-21 19:24] mpharrigan commented on #687
gah never use os.system. use subprocess if you have to! If you (or a malicious 3rd party) sets an environment variable `DEEPCHEM_DATA_DIR` to something like `; rm -rf /` you could do damage!

[2017-07-21 23:09] peastman commented on #684
I think I kind of understand how it works.  I'll see what I can do with it.  If it's more robust than A3C that would certainly be nice.  It's likely to have lower parallel efficiency, though.  The way they parallelize it, each worker thread generates a single rollout, then synchronizes with all the others, then waits while a single thread does the optimization.  That's not going to be especially e

[2017-07-24 17:19] lilleswing opened #691 "Using Labels on Github for Issues"
A pain point I see for new developers of DeepChem is not knowing where to start.  I think we can use Labels to help with problem.  I want to add and use the following label.

\[paper-port\]

@rbharath is great at looking through current research in ML and computational chemistry and proposing ideas.  Some of these papers already have very clear interfaces and pieces built into DeepChem.  Other of

[2017-07-24 17:27] lilleswing commented on #669
@rbharath where are the one-shot models in the code-base?

[2017-07-24 18:20] rbharath commented on #691
I'd be down for labels. There are a number of issues that [paper-port] would fit well. All the ones listed above (except #616, which I'd consider more involved) would be good.

Feel free to start adding [paper-port] labels where it makes sense!

[2017-07-24 18:26] rbharath commented on #669
https://github.com/deepchem/deepchem/blob/master/deepchem/models/tf_new_models/graph_models.py has `SequentialSupportGraph` which is the parent class for the one-shot models.

The one-shot layers are in https://github.com/deepchem/deepchem/blob/master/deepchem/nn/layers.py. `ResiLSTMEmbedding` and friends.

The low-data examples live in https://github.com/deepchem/deepchem/tree/master/examples/low

[2017-07-24 23:19] evanfeinberg commented on #669
I echo Bharath in noting the insightful discussion here. This is one of
those situations where there are strong advantages to different directions
(a good problem to have).

 A key point to consider is, the more we hitch our wagons to TensorFlow,
the harder it will get over time to ever switch to PyTorch as an underlying
engine. As Bharath noted, a significant portion of the research community
has

[2017-07-24 23:27] RK900 opened #692 "RDkit needs NumPy downgrade"
RDkit is a package requirement for deepchem. However, when using `conda install -c rdkit rdkit`, the following prompt shows up:

[code]
It seems that numpy needs to be downgraded in order for rdkit to be installed.

[2017-07-24 23:29] peastman commented on #669
Do you have any usage stats on that?  I hear about people playing around with it, but whenever I look up someone's code for actually doing something, it's almost always based on TensorFlow.

Remember, there will *always* be a hot new toy that everyone is excited about.  Right now that's PyTorch.  A year from now it could easily be something else.  But if you're trying to build a robust code and ma

[2017-07-24 23:34] cxhernandez commented on #669
My personal opinion is that PyTorch is *the* best framework out there to-date. This is mostly due to its outstanding readability, which also makes it the easiest framework with which to prototype models. If one of the goals of this project is to encourage (especially novice-level) users to contribute code, I think this is something that should be very much considered, as using PyTorch would lower

[2017-07-25 00:03] rbharath commented on #669
I certainly agree PyTorch is more beginner friendly. The main question though is whether enough engineering has happened to make it production ready. I believe Facebook itself uses PyTorch for experimentation and Caffe2 for deployment.

A good way to derisk this might be to build more Pytorch functionality in contrib/. For example, before adopting PyTorch into mainline, I'd like to see:

- A savin

[2017-07-25 00:05] rbharath commented on #669
Plus, it would help if PyTorch hit 1.0 or a stable release. We had many DeepChem breakages due to TF upstream changes and I'd prefer to avoid similar issues from PyTorch.

[2017-07-25 00:19] lilleswing commented on #669
I see part of what DeepChem is attempting to do having a lot in common with OpenAI's RL baselines.
https://blog.openai.com/openai-baselines-dqn/

Do we know people on their team that we can chat with as to why they made that decision?  Also with OpenAI baselines in Tensorflow we kinda get all of their RL baselines with an easier port.

[2017-07-25 01:39] cxhernandez commented on #669
Yeah, I wouldn't jump to fully support it just yet (see https://github.com/pytorch/pytorch/issues/2155 or https://github.com/pytorch/pytorch/issues/786). But I think there is value in exploring how to make the TensorGraph API framework-agnostic so that algorithms can be written in either TF or PyTorch.

[2017-07-25 04:24] rbharath commented on #669
I'm against framework agnostic code. With my experience of Keras backend, it leads to spaghetti code. If we're doing this, we should make PyTorch support entirely separate of TensorGraph.

[2017-07-26 06:44] sinhasam commented on #672
I can take a look at this one! I have read the paper, and followed the work and it sounds really interesting. @rbharath

[2017-07-26 18:37] vmorozov opened #695 "training and prediction with generic (numerical array) inputs?"
Hi,

Would be possible to use DeepChem methods (MuliTaskRegressor ones particularly)  for training and prediction with generic (numerical array) inputs. As far I can see from examples  the models require chemical compound datasets. Examples with generic input would be appreciated
Vlad

[2017-07-26 22:05] rbharath commented on #695
Yes, all the DeepChem methods such as `fit()` and `predict()` accept dataset objects. `dataset.X` and `dataset.y` can be arbitrary numerical arrays.

I'd be glad to accept PRs adding numerical examples.

[2017-07-26 22:23] rbharath commented on #672
Sounds good! PRs adding submanifold sparse networks to contrib/ would be very welcome.

[2017-07-27 20:05] chf42 opened #699 "How to load the datasets based on example codes?"
Hi all,

I am brand new to DeepChem. So I am playing around with some example codes. I found I was not able to load some datasets. For example, in the example code "tox21_logreg.py"

When I run it, I got error from this line
"from tox21_datasets import load_tox21"
ImportError: No module named tox21_datasets

I am wondering how to get access to this datasets. I noticed there is a database folder in

[2017-07-27 21:16] rbharath commented on #699
Hi Cheng.

You need to run `tox21_logreg.py` from within the same directory it's located in (`tox21_datasets.py` is in the same directory).

[2017-07-27 22:08] peastman opened #700 "TensorGraph optimizers"
I've been looking into using learning rate decay for RL, and I realized the method in #680 won't work for it.  That method relies on first creating the TensorGraph so you can get a reference to its global step variable, then using that when creating the optimizer.  But A3C requires creating the optimizer first and passing it to the constructor.  I could probably restructure it to allow that API to

[2017-07-27 22:18] #699 closed

[2017-07-27 22:36] #684 closed

[2017-07-27 22:44] rbharath opened #702 "Parameter Noise for RL Exploration"
https://blog.openai.com/better-exploration-with-parameter-noise/
https://arxiv.org/pdf/1706.01905.pdf

A type of regularization technique for Deep RL networks (adding noise to parameters of network). The work appears to be inspired by their recent work on evolutionary algorithms in an attempt to make a hybrid technique that combines strengths of both.

CC @peastman

[2017-07-28 00:11] rbharath commented on #700
This sounds like a great feature. I'd recommend having an abstract `Optimizer` superclass that defines the API so it will be easy for users to add on new optimizers as desired.

[2017-07-28 17:05] rbharath commented on #668
The conda PR for the 1.3 conda package has run into weird bugs that I'm not sure how to fix.

Would someone else might taking a look?

CC @peastman @lilleswing

[2017-07-28 17:49] peastman commented on #668
It looks like a glibc compatibility issue:

[code]

As Levi said, travis recently moved from Ubuntu 12.04 to 14.04, so that's probably what caused the problem.  But I don't know why.  Issues like this usually work the other way: it works on newer OS versions, but not older ones.  In fact, searching for the error message turned up https://github.com/tensorflow/tensorflow/issues/53, which basically

[2017-07-28 20:10] sinhasam commented on #672
I will be developing the models in Tensorflow, right?

[2017-07-28 20:58] rbharath commented on #672
I'd recommend using the PyTorch implementation (no need to reinvent the wheel)

[2017-07-28 21:03] sinhasam commented on #672
So the requirement is to develop the Sparse nets in PyTorch and then write a DeepChem wrapper?

[2017-07-28 23:01] rbharath commented on #672
I'd recommend wrapping or adapting facebook's PyTorch code into DeepChem

[2017-07-29 06:53] #700 closed

[2017-07-29 06:56] rbharath commented on #695
Going to go ahead and close this issue. Feel free to reopen if there are further questions.

[2017-07-29 06:56] #695 closed

[2017-07-29 21:37] Dgelemi opened #707 "NamedTemporaryFile function under windows"
Hi,
I tried to run the MUV inotebook and got some errors with

when trying to read or write from temp file.

I found the error online with the solution
[http://zachmoshe.com/2017/04/03/pickling-keras-models.html](url)
And adding delete=False to the 4 instances of NamedTemporaryFile in the file deepchem\hyper\__init__.py from
`tempfile.NamedTemporaryFile()` to
`tempfile.NamedTemporaryFile(delete=Fa

[2017-07-30 00:00] rbharath commented on #707
@Dgelemi This is a good bug report! We should try to find a way to fix this.

Perhaps turning off delete would be fine? Another option might be to check if it's windows and only then turn off delete.

[2017-07-30 18:50] Dgelemi commented on #707
Thanks
There is also a solution described here: https://stackoverflow.com/questions/23212435/permission-denied-to-write-to-my-temporary-file
But it was not straightforward to me on how to implement it, while delete=false was easy.
I can try to have a look at that one as well, this way the linux behaviour may be maintained. Error on windows is replicable, so testing it not too complicated

[2017-07-30 21:41] mostafachatillon opened #708 "What is _get_tf doing?"
I have a question for @lilleswing, it's not an issue.

I want to remove the line:
   ` with cnn._get_tf("Graph").as_default():`

in my code, because I want to use the default graph.

I replace train_op with:
    `global_step_var = tf.Variable(0, trainable=False)`
    `train_op =tf.train.AdamOptimizer().minimize(cnn.loss.out_tensor, global_step= global_step_var)`

But then I receive the error:

`>

[2017-07-31 03:12] rbharath commented on #707
Sounds good. PRs fixing windows issues are welcome.

[2017-07-31 11:43] #708 closed

[2017-08-01 14:14] vid33 commented on #659
Hi all. I'm new here and have been looking the DeepChem code - appreciating all the amazing work that's gone into the project -  and have just come across this issue. Have you been able to figure out what the reason is?

In order to understand better what's going on, I've also tried to unsucessfully figure out a simple way to read out the outputs of intermediate layers. Does the TensorGraph class

[2017-08-01 16:00] lilleswing commented on #659
Hi @vid33, TensorGraph does not currently have an easy way of viewing the intermediate layers.  What I would recommend though is setting TensorGraph.outputs to a singleton list of the layer you are interested in viewing.

When you do this TensorGraph.predict_proba will return the evaluation for the layer you are interested in.  Here is a working example of it in action.

[code]

Eventually we want

[2017-08-01 16:17] vid33 commented on #659
Thanks, that probably saved me hours! I'll let you know if I manage to understand where the above discrepancy is coming from.

[2017-08-01 17:19] peastman opened #714 "Add Layer.shape"
When working with TensorGraph, I'm always getting confused about the shapes of different layers and trying to figure out how to reshape everything to get successive layers to match up.  It would be really helpful if each layer had a `shape` attribute I could query for its output shape.  Right now the best I can do is check the shape of its output tensor, but you can't do that until after the whole

[2017-08-01 18:26] lilleswing commented on #668
https://github.com/omnia-md/conda-recipes/pull/802

[2017-08-01 18:54] lilleswing commented on #692
yeah that sounds about right.  Conda is good about traversing the graph of dependencies and finding versions which fit everything.

We don't currently require any specific version of numpy but maybe we should pin it.

[2017-08-01 23:26] miaecle commented on #659
Found a typo in `WeaveTensorGraph` which turns off the `gaussian_expand` function, that cause the worse performance. Thanks @patrickhop and @lilleswing for providing the help!
@vid33 Welcome! I basically agree with @lilleswing , this seems to be the easy way to look at intermediate output.
I will go ahead and close this issue.

[2017-08-01 23:26] #659 closed

[2017-08-01 23:52] rbharath commented on #714
I'd be in favor of this addition. I do the same trick of checking shapes of layers as I'm building models and this could be quite useful in debugging.

[2017-08-01 23:55] rbharath commented on #692
Would there be any disadvantages to pinning to a Numpy version?

[2017-08-02 00:27] lilleswing commented on #692
Nah we can pin it in scripts/install_deepchem_conda.sh

[2017-08-02 12:48] hkmztrk opened #715 "PDBBind Dataset"
I failed to find the exact data set that's used in in this study (https://arxiv.org/pdf/1703.10603.pdf)
Could you please help me with that?

Thanks!

[2017-08-02 13:53] lilleswing commented on #715
@hkmztrk are you looking for the featurized datasets with the atomicconv featurizer? These scripts will get you the featurized core and refined sets.
https://github.com/deepchem/deepchem/blob/master/contrib/atomicconv/acnn/core/get_acnn_core.sh
https://github.com/deepchem/deepchem/blob/master/contrib/atomicconv/acnn/refined/get_acnn_refined.sh

If you are looking for the raw dataset (protein/ligan

[2017-08-02 14:04] lilleswing commented on #714
@peastman do you propose each layer goes up the operation graph lazily when requesting the shape value, or eagerly in the Layer constructor?  I personally prefer lazy, and don't like doing work in Constructors -- but that could just be my Java background bias.

In order to Roll it out gradually we can have it throw a ValueError with the class name that needs to be implemented -- then if Developers

[2017-08-02 15:51] LRParser opened #716 "PCBA Benchmark - Metric Not Documented"
I'm trying to reproduce the results of the PCBA Multitask DNN as reported in the MoleculeNet [paper](https://arxiv.org/pdf/1703.00564.pdf). When I run the benchmark.py -d pcba command I see output like:

[code]
And then finally it looks like training finishes, and I get this output:

[code]

How do these reported metrics map to the metrics reported in the MoleculeNet paper? I'm hoping to be able t

[2017-08-02 16:22] hkmztrk commented on #715
@lilleswing I was looking for the raw data set, thank you! It contains binding affinities of the pairs, right?

[2017-08-02 16:34] peastman commented on #714
Good questions.  I was originally figuring it would compute it lazily, since usually it would never be requested.  But if TensorGraph is going to check it, then it will *always* be requested, so we might as well compute it in the constructor.

I agree this should be an optional feature.  It can throw a `NotImplementedError` if a particular layer doesn't implement it.

[2017-08-02 18:03] rbharath commented on #716
The Multitask paper has multiple collections which are broken into the PCBA/MUV datasets in MoleculeNet. The DUD-E benchmarks have some serious issues as ligand-only benchmarks, so we don't include them in MoleculeNet.

CC @miaecle for the questions about `benchmark.py`

[2017-08-02 18:16] miaecle commented on #716
@LRParser Outputs here are task-wise, you should be able to find a file `results.csv` under the path you run this script(typically `deepchem/examples`), which records all the mean values of evaluations. Also, we suggest you to use `benchmark2.py` instead(`benchmark.py` is basically deprecated), which use the new `dc.molnet` module, and it supports more models and datasets.

[2017-08-02 18:44] peastman commented on #714
I can do an initial implementation of this.  I'll only do the layers where I'm sure I know what the output shape is supposed to be, though.

[2017-08-02 18:50] #677 closed

[2017-08-02 21:32] peastman commented on #714
In the process of implementing this, I've been struck once again by an inconsistency in the API: we have two different mechanisms for indicating a dimension of unknown size.  When creating an input, you specify it as `None`.  When creating a `Reshape` layer, you specify it as -1.  This isn't really our fault, since TensorFlow has the same inconsistency.  But still it's ugly, and it wouldn't be har

[2017-08-02 22:15] lilleswing commented on #714
@peastman numpy uses -1 and DOES NOT allow None.

[code]
Since Numpy is more strict I think we should default to Numpy and default to -1, instead of None.  I have been doing this recently.

[2017-08-02 22:25] peastman commented on #714
I'm sure that's why TensorFlow used -1 for `tf.reshape()`, since they wanted to be consistent with NumPy, even though they used `None` everywhere else.  But I think that was a mistake, because it doesn't really mean the same thing.  In NumPy, you're always working with arrays of known size.  Specifying an axis as -1 is just a shortcut.  You could easily compute the dimensions yourself, but you're

[2017-08-02 22:26] lilleswing commented on #714
Ok None sounds good to me then.

On Wed, Aug 2, 2017 at 18:25 peastman <notifications@github.com> wrote:

[2017-08-02 22:57] rbharath commented on #714
I like the idea of standardizing around `None` as well.

[2017-08-03 01:12] rbharath opened #720 "Gaussian Process Hyperparameter Search"
`dc.hyper` now supports only a simple grid based hyperparameter search. Nonetheless, it still proves pretty useful for users getting new models off the ground and is featured prominently in our newly refurbished notebooks.

It would be great to put together a Gaussian process hyperparameter optimizer as a new feature for `dc.hyper`.

CC @miaecle

[2017-08-03 03:44] patrickhop commented on #720
I've had a lot of luck with this codebase: https://github.com/hawk31/pyGPGO

Might be a good starting point for us.

[2017-08-03 05:59] miaecle commented on #720
@rbharath I do have a simple GPGO optimization script for `run_benchmark` using the package pyGPGO(thanks to @patrickhop ), how should we merge in the package(lazy import maybe)?

[2017-08-03 13:32] chf42 opened #722 "How can I check the generated features for molecules?"
Hi all,

I am quite interested in the deep.chem.feat module, and I want to compare different feature generation methods. I am wondering how could I run feature generation methods and print out the results? i.e. the input would be a molecule smiles, and the output wound be a vector or a matrix of features. I tried the following codes, but it can't display my generated features.

def load_dataset(da

[2017-08-04 01:06] rbharath commented on #722
`dataset.X` contains the matrix of features.

[2017-08-04 01:07] rbharath commented on #720
Merging in with lazy import would be a great idea.

[2017-08-04 13:20] LRParser opened #725 "Working on Expanding PCBA Dataset"
Just noting that I'm working on DeepChem for a Udacity Machine Learning Engineer Nanodegree Capstone Project. My plan is to try to expand the PCBA to include more assays from 2016 and 2017 in the training set, as well as in a separate step to perform hyperparameter optimizations around learning rate and network layers, to see if the performance of the base index-split multitask DNN can be improved

[2017-08-04 13:45] matudor opened #726 "metric learning"
I'm trying to figure out how to do metric learning with deepchem.  I'd need two (or more) input feature sets and a label that is dependent on each pair of input molecules.  Looking through discussions I saw a [proposal ](https://github.com/deepchem/deepchem/issues/498) for new tensorgraph fit API that would permit dictionary of inputs, but as far as I can tell that hasn't been implemented yet.  An

[2017-08-04 14:54] lilleswing commented on #725
For your hyperparameter optimization piece it seems like @patrickhop and @miaecle have has luck with using https://github.com/hawk31/pyGPGO. See here https://github.com/deepchem/deepchem/issues/720.

When adding the new Assays to PCBA can you add a flag in (pcba_datasets.py)[https://github.com/deepchem/deepchem/blob/master/deepchem/molnet/load_function/pcba_datasets.py] which allows for using the

[2017-08-04 17:09] matudor commented on #726
never mind, found DataBag.

[2017-08-04 17:09] #726 closed

[2017-08-04 19:39] peastman commented on #679
I'll go ahead and close this, since #700 created a simple API for it.

[2017-08-04 19:39] #679 closed

[2017-08-04 21:00] #714 closed

[2017-08-04 21:24] rbharath commented on #725
@LRParser Glad to hear about this project! I'm looking forward to seeing what you build.

Seconding @lilleswing's comment about the flag.

[2017-08-04 21:37] #722 closed

[2017-08-04 21:38] rbharath opened #728 "TensorGraph IPython Notebook"
TensorGraph has a variety of cool features, which aren't well documented and explored. These include things like `DataBag`, TensorBoard tie-in, Queues, and more.

It would be great to start putting together tutorial IPython notebooks that walk through all the capabilities of TensorGraph.

[2017-08-07 03:37] rbharath opened #733 "TicTacToe Not Learning to Win?"
I've been playing with the TicTacToe example. The example trains rapidly on my CPU (great A3C implementation @peastman!), but the rewards indicate that the learned model isn't doing great. In the TicTacToe environment, +10 is a win, +5 a draw, .1 for unfinished games, -3 for losses and illegal moves. The average rewards I'm seeing (evaluated on 5K games, at intervals of 50K rollouts) are 3-5, indi

[2017-08-07 03:42] rbharath opened #734 "TicTacToe Index Error"
On the TicTacToe example, I sporadically see the following `IndexError` from some of the workers. It appears harmless (training continues), but might be nice to fix if we can:

[code]

[2017-08-07 10:55] LRParser commented on #725
Thanks for feedback - will do!

[2017-08-07 10:55] LRParser commented on #716
@miacele - understood - thanks

[2017-08-07 10:55] #716 closed

[2017-08-07 13:23] lilleswing commented on #733
It was very finnicky when I was trying to train the system.

I had more luck when I used advantage_lambda=0 ![advantage_lambda=0](http://karlleswing.com/assets/tictactoe/lambda0_vs_lambda1.png)

The A3C model default is set to 0.98.

[2017-08-07 13:24] lilleswing commented on #734
What code are you using to get this?  Is it my tictactoe.py in contrib/rl?

What frequency are you hitting this?  I can't seem to get it.

[2017-08-07 13:33] lilleswing commented on #733
yeah when I change value_weight=0.2 and advantage_lambda=0 I get
[{100000: 6.8871000000000002}, {200000: 4.5880999999999998}, {300000: 6.9244000000000003}]

[2017-08-07 13:39] lilleswing commented on #681
UPDATE:
We solved this via setting CUDA_VISIBLE_DEVICES environment variable for the python process rather than solving it in application logic.

So we no longer have a short term need to do this -- instead we should use this issue for tracking multi-gpu usage in the future.

[2017-08-07 18:18] chf42 opened #736 "How to implement cross-validation for training set in deepchem?"
Dear all,

I am wondering if there is a simple way to implement cross-validation for training set in deepchem.

In Ski-kit learn, I can use
"clf.fit(X,y)
 score = cross_val_score(clf, X, y, cv=20,scoring=kappa_scorer)" to calculate cross-validation score.

Could anyone show me how to do cross-validation in deepchem? A simple example would be great.

BTW, a quick question about obtaining predicted

[2017-08-07 19:06] rbharath commented on #734
This is `contrib/rl/tictactoe.py`. I don't see it that often, once every few runs (perhaps once every few million steps). Appears to be hit if there are no empty squares?

[2017-08-07 19:11] rbharath commented on #733
This might be worth digging into more, since more complicated use cases of the RL might run into more complicated stability issues in this vein.

I'll keep tweaking it on my end too to see what helps improve the score.

[2017-08-07 19:14] rbharath commented on #681
I've been looking into multi-GPU training a bit recently, using https://github.com/tensorflow/models/blob/master/tutorials/image/cifar10/cifar10_multi_gpu_train.py

It makes a nice difference to be able to use a 2 GPU box effectively. I think we should start charting out what multi-GPU TensorGraph support might look like. Naively, I think this should be quite feasible. We would have to create a se

[2017-08-07 19:32] rbharath commented on #736
For cross validation, you might want to look at the `Splitter.k_fold_split` function which splits a dataset k ways for cross validation. We don't however have a convenient version of `cross_val_score` but that might be a good utility to add. PRs welcome!

For `y_pred_valid`, you can use `model.predict(valid_dataset)`. I believe this is demonstrated in the IPython notebooks.

[2017-08-07 20:00] chf42 commented on #736
Thank you much Bharath, I will take a look at Splitter.k_fold_split, and try cross-validation based on that.

[2017-08-07 20:02] lilleswing commented on #733
might be a good time to try to get https://github.com/deepchem/deepchem/issues/720 to work (at least in contrib)

[2017-08-07 20:08] peastman commented on #733
I think the main problem is just that your network is much bigger and more complicate than it needs to be.  I simplified it down to this:

[code]

I also reduced `value_weight` back to 1.0 (the default value).  With those changes, I get much better results:

[code]

[2017-08-09 03:32] dkoes opened #741 "pdbbind scaffold test set appears to be truncated"
deepchem/contrib/atomicconv/acnn/refined/get_acnn_refined.sh
[code]

This test set only has 708 entries (others have ~740), and they stop exactly at 8pK (there are no high affinity compounds).

It seems unlikely that high affinity compounds (at precisely the 8.00 cutoff) are missing because of scaffold clustering (as opposed to the list getting truncated somewhere).   It's pretty suboptimal for mo

[2017-08-09 03:34] rbharath commented on #741
This is indeed pretty strange and we should dig into what's happening here.

CC @lilleswing @joegomes

[2017-08-09 13:04] chf42 opened #742 "Can't load tensorgraph.models.graph_models"
Hi all,

I tried some codes in deepchem example folder. I tried
"deepchem-master/examples/tox21/tox21_tensorgraph_graph_conv.py".

However, I came across the error :
from deepchem.models.tensorgraph.models.graph_models import GraphConvTensorGraph
ImportError: cannot import name GraphConvTensorGraph

Does anyone have the same problem as mine? Thank you

Cheng

[2017-08-09 13:20] lilleswing commented on #742
@chf42 I would try rebuilding your environment.

[code]

Note the difference between "install" and "develop" with setup.py
[code]

[2017-08-09 14:15] lilleswing commented on #741
Looking through the code for the scaffold splitter we will always under fill the training set and over fill the test set based on granularity of the scaffold clusters.

[code]
The scaffold split does not look at the Y values at all when doing the split.  This is definitely an argument to improve the scaffold splitter to some sort of stratified scaffold splitter.

I agree that it is suboptimal for

[2017-08-09 19:16] sharma409 opened #743 "TensorGraph Memory issues"
It seems that tensorgraph has an automatic saver which saves the model via pickling, and as a result I am exceeding the memory limit on machines and my jobs are crashing. This usually happens while restoring parameters from model (as indicated by "Restoring parameters from /tmp/net/model-(######)" message)

How can i turn off this functionality for tensorgraph models? I have attempted to set the c

[2017-08-09 19:57] chf42 opened #744 "The parameters in "dc.models.TensorflowMultiTaskClassifier""
Dear all,

I am implementing fully-connected DNN using dc.models.TensorflowMultiTaskClassifier for classification problem. **General question**:  I am confused **how many hyperparameters in total that can be adjusted in this model** & **what are the exact meanings** for these parameters. I looked through deepchem.io documents, but couldn't find any description for this model.

Some other **specifi

[2017-08-09 19:59] chf42 commented on #742
Thank you, lilleswing! I will give a try soon, and to see whether I can fix it or not.

Cheng

[2017-08-09 21:07] rbharath commented on #744
`n_features` is indeed the number of descriptors for each compound. If you use 100 self defined descriptors, you should set `n_features=100`.

I believe that adding drop-out to the input layer isn't feasible in `TensorflowMultiTaskClassifier`. You may want to use `TensorGraph` to build a custom model instead for this case.

[2017-08-09 21:19] rbharath commented on #743
When you instantiate the `TensorGraph` object, try setting `checkpoint_interval=100000` and `max_checkpoints_to_keep=1`

[2017-08-09 21:34] chf42 commented on #744
@rbharath Thank you for quick response. A general question is that in TensorflowMultiTaskClassifier, how many hyperparameters are available? is there any document for that model? For example, can I change activation functions for each layer in TensorflowMultiTaskClassifier?

[2017-08-09 21:58] peastman commented on #744
No, it hardcodes RELU as the activation function.  For more flexibility, TensorGraph is definitely the way to go.

Actually, TensorflowMultiTaskClassifier is basically deprecated and will probably get removed.  There's a replacement class called TensorGraphMultiTaskClassifier with a nearly identical API, but implemented in a much simpler way with TensorGraph.  You can see it here:

https://github.

[2017-08-09 22:31] rbharath commented on #744
+1 to the idea of adding activation as an option to `TensorGraphMultiTaskClassifier`.

This just merged notebook also gives a tutorial introduction to `TensorGraph` and might be useful:

https://github.com/deepchem/deepchem/blob/master/examples/notebooks/graph_convolutional_networks_for_tox21.ipynb

[2017-08-10 02:07] chf42 commented on #744
@peastman Thank you for your helpful comments. I will try TensorGraphMultiTaskClassifier and TensorGraph if more flexibility is required.

[2017-08-10 02:10] chf42 commented on #744
@rbharath Thank you Bharath. That is a good example I am looking for. I will go through that and implement it soon.

[2017-08-10 05:12] patrickhop opened #747 "Thermodynamic Solubility"
From what I understand, this is a thermodynamic solubility assay - should be much more interesting than Delaney.

https://www.ebi.ac.uk/chembl/assay/inspect/CHEMBL3301364

If there's interest, i'm happy to add this in.

[2017-08-10 08:37] Moooooooon commented on #743
It works very well.
I had the same problem when I tried 1000 times to find the parameters of the model.

Despite your option(`max_checkpoints_to_keep=1`), many models are created because deepchem tries to store every model which is declared.
In other words, the save file is created as many times as the model is created.
The core of the problem is a lot of check_point_directories, Not check_points_

[2017-08-10 18:52] rbharath commented on #743
Good analysis @Moooooooon. @sharma409 I believe you're constructing many models. Since each model is placed in a new directory, even if only one checkpoint is saved, if 100 models are constructed, that's 100 checkpoints which will cause issues. Setting everything to share an explict `model_dir` should avoid this overhead.

[2017-08-10 20:19] sharma409 commented on #743
Yep, this fix seems to have worked. Thanks!

[2017-08-10 20:19] #743 closed

[2017-08-11 00:00] rbharath commented on #747
Yes, absolutely! PR welcome

[2017-08-11 14:23] chf42 commented on #744
@peastman I tried TensorGraphMultiTaskClassifier as follows:
model = dc.models.TensorGraphMultiTaskClassifier(
	len(tasks),
	n_features,
	layer_sizes=[1000,1000,1000],
	weight_init_stddevs=[.02,.02,.02],
	bias_init_consts = [1.,1.,1.],
	weight_decay_penalty = 0.0,
	weight_decay_penalty_type="l2",
	dropouts=[.25,.25,.25],
	n_classes=2,
	learning_rate=0.001,
	batch_size=50,
	seed=5758)

However, I c

[2017-08-11 18:44] rbharath opened #748 "deeplearn.js integration"
https://research.googleblog.com/2017/08/harness-power-of-machine-learning-in.html

This would be a very cool feature to have. deeplearn.js is supported by Google and has TensorFlow integration. It would let us export DeepChem models into deepchem-gui or other web environments seamlessly.

CC @cxhernandez

[2017-08-11 20:53] rbharath opened #749 "StarCraft Integration"
DeepMind has recently released a powerful set of StarCraft integration tools and python API that makes it possible to train RL agents on starcraft.

https://deepmind.com/blog/deepmind-and-blizzard-open-starcraft-ii-ai-research-environment/
https://github.com/deepmind/pysc2
https://deepmind.com/documents/110/sc2le.pdf

So far, reported results are only successful on mini-games, and global performan

[2017-08-11 21:08] evanfeinberg commented on #749
This is one of those moments, along with the release of the impossible
burger and self-driving cars, where one cannot help but think to oneself,
"we now live in the future.'

On Fri, Aug 11, 2017 at 1:53 PM, Bharath Ramsundar <notifications@github.com

[2017-08-11 21:14] chf42 commented on #736
@rbharath I tried splitter.k_fold_split, but I met some errors:

 **k_datasets = splitter.k_fold_split(train_set,10,directories=None)
TypeError: k_fold_split() got an unexpected keyword argument 'directories'**

As such, I removed 'directories' from keywords, it still has errors:
    **k_datasets = splitter.k_fold_split(train_set,10)
  File "deepchem_2.7/lib/python2.7/deepchem/splits/splitters.py"

[2017-08-11 21:31] rbharath commented on #736
The same commands are working for me:

[code]
Could you give these same commands a try?

[2017-08-11 23:21] peastman commented on #744
Looks like that's an inconsistency between Python 2 and 3.  I'll fix that...

[2017-08-11 23:27] peastman commented on #744
Actually, I think you must have an old version of the code.  Here's what line 65 is in the current code:

[code]

Update to the latest code and it should work.

[2017-08-11 23:29] peastman commented on #744
You can find the relevant documentation at https://github.com/deepchem/deepchem/blob/master/deepchem/models/tensorgraph/tensor_graph.py.

[2017-08-12 00:45] peastman commented on #744
I just posted a PR that adds the option for activation function: #751.

[2017-08-12 18:24] chf42 commented on #736
@rbharath Thank you! I tried the **splitter = dc.splits.RandomSplitter()**, followed by splitter.k_fold_split. It works well.
But, in my case, I used another **splitter = dc.splits.SingletaskStratifiedSplitter**(task_number=0, verbose=False); splitter.k_fold_split. Then, the error came out.

    k_splitter = splitter.k_fold_split(train,4)
  File "deepchem_2.7/lib/python2.7/deepchem/splits/splitter

[2017-08-12 18:53] chf42 commented on #744
@peastman Thank you so much. I will update my source code with Deepchem and give one more try.
I will check TensorGraph documents to find something useful.

[2017-08-12 19:14] rbharath commented on #736
The commands are working for me with `SingletaskStratifiedSplitter`:

[code]

It looks like `SingletaskStratifiedSplitter` doesn't satisfy the new API, so I will create a new issue for this. This API mismatch might be causing your issues with `fit()`

[2017-08-12 19:16] rbharath opened #752 "SingletaskStratifiedSplitter Doesn't satisfy k-fold API"
Copying over from #736:

[code]

`splitter.k_fold_split()` should return a list of tuples `(train, valid)` instead of returning raw datasets.

[2017-08-12 19:28] peastman commented on #749
Closely related news: OpenAI created a bot that can beat the top professional players at Dota 2.  https://blog.openai.com/dota-2/.  They don't give a lot of information about how it works, aside from the following: "The bot learned the game from scratch by self-play, and does not use imitation learning or tree search."  Presumably they'll be publishing more information soon.

Dude, where's my flyi

[2017-08-12 19:31] chf42 commented on #752
@rbharath Thank you for opening a new issue for that topic.

The following question is after I did splitter.k_fold_split, how could I get access to each subset?

According to documents, it returns "list of length k tuples of (train, valid)". For example, k_splitter = splitter.k_fold_split(train,4). k_splitter[0] should give me (train1,valid1). k_splitter[0][0] should give me 'train1'. However, whe

[2017-08-12 21:04] rbharath commented on #752
I recommend using a different splitter for the time being. Your proposed code should work for the new API.

[2017-08-12 21:14] rbharath opened #754 "Converting Models to TensorGraph"
#753 deprecates all non-`TensorGraph` TF models. A number of these models should be converted over to `TensorGraph` in time for the DeepChem 1.3 release.

- Molecular Autoencoder (Old classes `TensorflowMoleculeEncoder`, `TensorflowMoleculeDecoder`)
- Influence Relevance Voting (Old classes `TensorflowMultiTaskIRVClassifier`)
- Progressive Models (Old classes `ProgressiveMultitaskRegressor`).
- By

[2017-08-12 21:42] peastman commented on #754
What do you think about also removing "TensorGraph" from the names of the newer models?  So `TensorGraphMultiTaskClassifier` can become just `MultiTaskClassifier` etc.

[2017-08-12 22:56] rbharath commented on #754
I'm a big fan! Less verbose class names are great.

[2017-08-14 05:42] rbharath opened #756 "TensorGraphMultiTaskClassifier Issue"
I'm looking into converting examples that use `TensorflowMultiTaskClassClassifier` to use `TensorGraphMultiTaskClassifier`. I'm getting some strange errors though. Here is a Tox21 example I've converted to use `TensorGraphMultiTaskClassifier`:

[code]
Running this code results in the following error from `predict_proba`:
[code]
Is there an API mismatch here causing issues?

CC @peastman

[2017-08-14 15:16] chf42 opened #757 "How to implement one-shot learning with DeepChem?"
Dear all,

I am wondering how to implement one-shot learning in DeepChem? since I have low amount of data at hand.

In the "Low Data Drug Discovery with One-Shot Learning" paper, if I am correct, you were using LSTM (AttLSTM & IterRefLSTM)  or some others I wasn't aware of to achieve one-shot learning. Would you mind me some example to show how to use one-shot learning with DeepChem?

Thanks,
Chen

[2017-08-14 15:46] peastman commented on #756
Looks like a question for @lilleswing.  It's calling `TensorGraph.predict_proba()` which is implemented as follows:

[code]

Notice that it specifies `pad_batches=False`.  I don't know why.  It then calls `predict_proba_on_generator()`, which loops over the batches and tries to concatenate the results together.  But because the batches are different size, the results are too and it throws that exc

[2017-08-14 16:56] lilleswing commented on #756
@peastman if we don't pad_batches then we have to truncate the results to remove the padded amount.  I can see this failing because of queues as well.

[2017-08-14 17:25] peastman commented on #756
So why is it specifying `pad_batches=False`?  That's your code.

[2017-08-14 19:46] rbharath commented on #757
https://github.com/deepchem/deepchem/blob/master/deepchem/models/tf_new_models/graph_models.py has SequentialSupportGraph which is the parent class for the one-shot models.

The one-shot layers are in https://github.com/deepchem/deepchem/blob/master/deepchem/nn/layers.py. ResiLSTMEmbedding and friends.

The low-data examples live in https://github.com/deepchem/deepchem/tree/master/examples/low_dat

[2017-08-14 21:08] chf42 commented on #757
@rbharath Thank you, Bharath. I will take a look at those.

[2017-08-15 21:16] rbharath opened #761 "New TensorGraph predict/run API"
As https://github.com/deepchem/deepchem/pull/760 notes, the current `TensorGraph.predict()` and `TensorGraph.predict_proba()` methods have issues. It's not well defined what happens when there's more than one element of `self.outputs` and there are some confusing transpose operations.

Here's a proposed API update to `TensorGraph` to resolve these issues:

- Make `predict/predict_proba` work with

[2017-08-15 22:20] lilleswing commented on #761
@rbharath I do like this API better -- but it does not preserve backwards compatibility.
All of our multi-task evalutators rely on the current API.

**I am willing to make a breaking API change though.**

The current state of affairs is confusing to reason about and can't support things like multi-tasking a regression and a classification problem.  Or multitasking a classification problem where ea

[2017-08-16 00:00] peastman commented on #761
I wouldn't worry too much about incompatible changes, given some of the other things we're planning on changing (like eliminating a bunch of classes).

What exactly is the different between `predict()` and `run()`?  Is it just that `run()` can compute multiple outputs, while `predict()` computes only one?  That seems like a rather minor distinction to require two different methods.  Besides, there

[2017-08-16 01:07] rbharath commented on #761
I'm a fan of @peastman's proposed simplification. Let's have multiple options to `predict_*()` as outlined above.

I'll take a crack at this, starting from my closed PR #760.

[2017-08-16 02:08] hfxfroi opened #762 "How to get featurized pdbbind datasets with ECFP (and GraphConv)?"

[2017-08-16 03:59] rbharath commented on #762
Try `dc.molnet.load_pdbbind_grid(featurizer="ECFP")` or `dc.molnet.load_pdbbind_grid(featurizer="GraphConv")`.

We should rename `load_pdbbind_grid` to `load_pdbbind` though.

[2017-08-16 11:10] hfxfroi commented on #762
@rbharath  Thank you, I will try.
and when I run pdbbind_datasets.py error occured：
There are three proteins that can not be grid featured. For example, the core datasets set has 195, but I only get 192.

  dtype=np.int8)

WARNING:root:Unable to add hydrogens math domain error
WARNING:root:Unable to compute features for (1, '3i3b', u'/home/hfx/my_work/v2015', <deepchem.feat.rdkit_grid_featurizer.R

[2017-08-16 11:10] mostafachatillon opened #764 "Is there a model zoo?"
Are there ready-made models available?

In the 'examples' section, I found scripts to build models, but not models already trained.

[2017-08-16 13:22] lilleswing commented on #764
We do not currently ship any pretrained models (With the exception of the molecule variational autoencoder).  We want to start shipping pre-trained models with DeepChem 1.3

See the conversation about pretrained models [here](https://github.com/deepchem/deepchem/issues/669#issuecomment-315941086).

[2017-08-16 13:26] lilleswing commented on #762
Yeah rdkit + pdbfixer were unable to load and featurize those proteins.
PRs welcome for the fix!

[2017-08-16 13:27] #764 closed

[2017-08-16 13:33] chf42 commented on #757
@rbharath I went through your published "one shot learning in drug discovery" paper, as well as the codes in "low-data" example.  Here I have some specific questions. You might help me figure them out.

1) I was not able to find IterRefLSTM (Iterative Refinement LSTM in your paper) model in your GitHub codes? I noticed you have added "dc.nn.ResiLSTMEmbedding" layer in "tox_res_one_fold.py" file. I

[2017-08-16 18:39] chf42 opened #767 "The role of "graph_model.add(dc.nn.BatchNormalization())" in GraphCov model"
Hi all,

I am trying to implement dc.models.MultitaskGraphClassifier model to classify one-task case for my own data.

![image](https://user-images.githubusercontent.com/7895104/29379273-ef57f87e-828f-11e7-82db-84109b3ffc1d.png)

I found that when I didn't use "dc.nn.BatchNormalization()" layer, the prediction (cohen kappa score) for my CNN model is almost 0.0 (i.e. random prediction).  After I ad

[2017-08-16 18:43] rbharath commented on #767
Try using the `TensorGraph` graph convolution (as in our IPython notebook on graph convolutions). The `dc.nn.SequentialGraph` code is now deprecated.

I don't believe I've seen the same dependence on batch normalization with the neww code.

[2017-08-16 18:50] rbharath commented on #757
Good catch. Yes `dc.nn.ResiLSTMEmbedding` is the Iterative Refinement LSTM. We will rename when we convert this layer over to a `TensorGraph` layer.

`n_feat` is the number of per-atom descriptors used by the Conv-mol. You shouldn't change this if you're using `dc.feat.ConvMolFeaturizer()`.

I'd recommend using default settings, as in `dc.models.GraphConvTensorGraph` for hyperparameters on graph c

[2017-08-16 20:56] peastman opened #768 "Save/restore for TensorGraph"
In the past, our models have generally had a persistent Session object containing all the variables for the model.  They automatically wrote out checkpoints during training, and provided a `restore()` method to load the variables from the most recent checkpoint into memory.

TensorGraph works differently.  It creates a new Session every time you call `fit()` or `predict()`, loads the variables fro

[2017-08-16 23:37] rbharath commented on #768
I'd be in favor of changing the behavior. Do you have thoughts on what the new save/restore API should behave?

[2017-08-16 23:43] peastman commented on #768
I'd suggest something roughly identical to what's currently in A3C.  When you first create the object, it creates a persistent Session.  There's a `restore()` method to load the most recent checkpoint from disk.  I also included a `restore` argument to `fit()` that you can use to have it automatically load the latest checkpoint and continue training from where it left off.

[2017-08-16 23:46] rbharath commented on #768
This sounds solid to me.

@lilleswing Do you see any potential issues with the proposed design?

[2017-08-17 00:17] lilleswing commented on #768
SGTM should provide significant speedup.  We should make a statement about explicitly closing the session once one is done with a TensorGraph if we have a long running session.

[2017-08-17 00:19] rbharath commented on #768
SGTM to me as well.

It would also be useful to have an option that explicitly turns off checkpointing. This is useful when hyperparameter searching.

[2017-08-17 00:57] peastman commented on #768
Ok, sounds good.  I can implement this, but I'm going to wait until #763 is done, since they'll involve changes to a lot of the same code.

[2017-08-17 13:45] momeara opened #769 "Unable to reproduce benchmark results for (dtnn, qm9, random)"
Here is my system information

[code]

Using a clean checkout from Aug 16th, 614d8a3cc43a6f139a1a8cbff1c9eb581d92b46d, running

[code]
results.csv gives
[code]

The deepchem [front page](https://github.com/deepchem/deepchem/blob/master/README.md) has

Dataset         |Model               |Splitting   |Train score/R2|Valid score/R2|
|----------------|--------------------|------------|--------------

[2017-08-17 18:40] Dgelemi commented on #769
This is the result I got, using benchmark2.py:

Not like main page, but not as far as you.
I saw that I used benchmark2 after few epochs, and as it takes ages to run, I didn't stop it to get results today

I'm on windows 10, python 3.6, GPU = GeForce GTX 960M 2GB (which explains the slow calculation). CUDA 8.0, TF v1.2.1

[2017-08-17 18:54] momeara commented on #769
Hi @Dgelemi, can you please give the revision you're using and the command line?

In particular, the `benchmark2.py` script was renamed earlier this month with this commit caa85a5bf44a3fedf9fb991afb8609bdd394b7f0 by @miaecle. This makes me think you're not using the post-refactoring code.

[2017-08-17 19:01] Dgelemi commented on #769
Good question. The benchmark files are the latest. I pull and run from the directory. However deepchem may not be, I had to modify files to run on windows, and didn't go around all of it yet. I have deepchem-1.2.1.dev43, not sure which revision that one is. I can try to dig out and update to latest and rerun. So agree with you, that my work may not be what is happening now

[2017-08-17 19:12] miaecle commented on #769
@momeara Figures on the front page are a bit outdated but I think we do have a typo here on the valid scores(performance around 0.848 is reasonable). I will do a double check on the new `benchmark.py` codes and try reproduce your results, performance lower than 0.6 is not at all reasonable.

Just FYI, results I get on dtnn of qm9 a month ago is:
Index, train 0.911±0.039, valid 0.867±0.017, test 0.

[2017-08-17 19:36] momeara commented on #769
Thanks @maiecle,

I ran the benchmark on a checkout from July 16th and got these results:
[code]

So these differences probably aren't entirely due to the refactoring.  Since I'm trying it with a clean checkout, it probably is some interaction with dependencies or my cluster. Can you please give information about your setup, I'll see if I can match it more closely.

fwiw, here is the initial part

[2017-08-17 20:09] miaecle commented on #769
@momeara I just did a quick pass on qm9 with dtnn(10 epochs instead of 50) using the same command `python benchmark.py -s random -d qm9 -m dtnn -t` and same version `614d8a3,`. Results are:
[code]
Train score is a bit low due to less epochs, valid and test scores seem reasonable to me. Here is the log for the run, I only see the difference in featurization, which should come from rdkit.
[code]

[2017-08-17 20:20] Dgelemi commented on #769
@momeara , which rdkit version do you have? I don't think the warnings you have are that important but myself and @miaecle don't have them

[2017-08-17 20:32] momeara commented on #769
[code]

[2017-08-17 20:36] Dgelemi commented on #769
I have 2017.03.2, but still, yours is recent.
I just clean my local folder, cloned, and benchmark.py doesn't work anymore, no output at all, and no error. Will check later, but that could be windows related. Hope you can solve your problem

[2017-08-17 20:42] momeara commented on #769
check that the max_atom parameter is `29` in `molnet/load_function/qm9_datasets.py`. I think there was a copy-paste-o from the `qm8` set ;)
[code]

[2017-08-17 20:58] chf42 opened #770 "Very slow training when implementing low-data siamese models"
Hi all,

I am trying to implement the siamese model in low-data folder, i.e. "tox_siamese_one_fold.py". The example code works fine, but when I switched to my own single-task data (2000+ samples), it went very slow in the process of "sampling support". It took long time (perhaps one-hour) to get another iteration. I am thinking there must be something wrong, but I can't figure it out.  **Would you

[2017-08-17 21:00] rbharath opened #771 "ANI-1 Benchmark Set"
https://arxiv.org/abs/1708.04987

The ANI-1 benchmark w/ 20 million conformers has been released. We should integrate this into MoleculeNet.

CC @miaecle

[2017-08-17 21:04] peastman commented on #771
That looks like it could be really useful.

[2017-08-17 21:04] miaecle commented on #769
@momeara Good catch, this is a bug may cause errors in featurizations, will do a quick fix. How's the result after fixing this?

[2017-08-17 21:14] rbharath commented on #770
Which part is slow? (which line)

[2017-08-17 21:26] chf42 commented on #770
@rbharath
I think it corresponds to the support layer:
**support_model.add_support(
dc.nn.GraphGather(support_batch_size, activation='tanh'))

model = dc.models.SupportGraphClassifier(
	support_model,
	test_batch_size=test_batch_size,
	support_batch_size=support_batch_size,
	learning_rate=learning_rate)
model.fit(
	train,
	nb_epochs=nb_epochs,
	n_episodes_per_epoch=n_train_trials,
	n_pos=n_pos,
	n

[2017-08-17 22:20] miaecle commented on #771
@rbharath Thanks for sharing, this looks super helpful. Will definitely process it into a deepchem dataset

[2017-08-17 23:01] momeara commented on #769
It doesn't run without it

[2017-08-18 01:00] rbharath commented on #770
I'm not sure why it's slow. I'm also hesitant to put too much time into debugging it, since the code is deprecated.

I'll work on getting a TensorGraph version of the one shot models functional so we have a clean slate

[2017-08-18 01:49] hfxfroi commented on #762
When I updated  Deepchem to 1.2.1, error occured：

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/hfx/anaconda2/lib/python2.7/site-packages/deepchem/__init__.py", line 12, in <module>
    import deepchem.models
  File "/home/hfx/anaconda2/lib/python2.7/site-packages/deepchem/models/__init__.py", line 10, in <module>
    from deepchem.models.xgboost_models im

[2017-08-18 11:54] momeara commented on #769
Good news, I upgraded rdkit to version `2017.03.3` and I am now getting significantly better results:

[code]

I will submit a pull request to update the minimum rdkit requirements.

[2017-08-18 11:54] #769 closed

[2017-08-18 12:07] Dgelemi commented on #769
This is what I got - with featurizer = deepchem.feat.CoulombMatrix(26)

[2017-08-18 14:06] lilleswing commented on #771
@miaecle heads up  -- radical changes will have to be made to deal with data at this scale.

e.g.
Right now the AniTransformer reads the whole dataset into memory.

@proteneer what other issues have you seen?